<!-- Designer Generator v 6.3.3 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_DETAILSAOH_471635" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_DETAILSAOH_471635.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_DETAILSAOO_444--> 
  <div id="VC_DETAILSAOH_471635" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_DETAILSHAH_790444" ng-show="vc.viewState.G_DETAILSHAH_790444.visible" ng-class="vc.viewState.G_DETAILSHAH_790444.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_DETAILSHAH_790444" k-options="validatorOptions" id="G_DETAILSHAH_790444_VAL"> 
     <div class="form-horizontal"> 
      <div class="row"> 
       <div class="col-xs-8" ng-show="vc.viewState.VA_CUENTAGRUPALESW_299444.visible"> 
        <div class="form-group cb-required" id="VA_CUENTAGRUPALESW_299444_DIV"> 
         <label for="VA_CUENTAGRUPALESW_299444" title="{{vc.viewState.VA_CUENTAGRUPALESW_299444.label|translate:vc.viewState.VA_CUENTAGRUPALESW_299444.labelArgs}}" ng-show="vc.viewState.VA_CUENTAGRUPALESW_299444.visible" class="col-sm-4 control-label">{{vc.viewState.VA_CUENTAGRUPALESW_299444.label|translate:vc.viewState.VA_CUENTAGRUPALESW_299444.labelArgs}}</label> 
         <div class="col-sm-8"> 
          <div class="cb-control"> 
           <input id="VA_CUENTAGRUPALESW_299444" name="CuentaGrupal_cuentaGrupal" maxlength="15" type="text" class="form-control" ng-model="vc.model.CuentaGrupal.cuentaGrupal" ng-disabled="vc.viewState.VA_CUENTAGRUPALESW_299444.disabled || vc.viewState.VA_CUENTAGRUPALESW_299444.disabledingroup" ng-show="vc.viewState.VA_CUENTAGRUPALESW_299444.visible" ng-readonly="vc.viewState.VA_CUENTAGRUPALESW_299444.readonly" ng-class="vc.viewState.VA_CUENTAGRUPALESW_299444.style" data-cobis-group="Group,G_DETAILSHAH_790444,0" ng-model-onblur designer-restrict-input="numbers" required data-validation-code="{{vc.viewState.VA_CUENTAGRUPALESW_299444.validationCode}}" data-required-msg="{{'ASSTS.LBL_ASSTS_CUENTAGAR_72912'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_DETAILSHHA_119444" ng-show="vc.viewState.G_DETAILSHHA_119444.visible" ng-class="vc.viewState.G_DETAILSHHA_119444.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_DETAILSHHA_119444" k-options="validatorOptions" id="G_DETAILSHHA_119444_VAL"> 
     <div id="QV_3162_24937" kendo-ext-grid="grids.QV_3162_24937" k-data-source="vc.model.DetailsAho" k-column-menu="false" k-pdf="vc.grids.QV_3162_24937.events.pdf" k-sortable="false" k-editable="vc.grids.QV_3162_24937.editable" k-toolbar="vc.grids.QV_3162_24937.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_3162_24937.events.dataBound" k-columns="vc.grids.QV_3162_24937.columns" k-cancel="vc.grids.QV_3162_24937.events.cancel" k-edit="vc.grids.QV_3162_24937.events.edit" ng-class="vc.viewState.QV_3162_24937.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_DETAILSAOO_444--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc || !vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_TDETAILS_51_" ng-click="vc.executeCommand('CM_TDETAILS_51_','Command1', validator, false, false, 'VC_DETAILSAOH_471635', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_TDETAILS_51_.disabled || vc.viewState.CM_TDETAILS_51_.disabledingroup" ng-show="vc.viewState.CM_TDETAILS_51_.visible" ng-class="vc.viewState.CM_TDETAILS_51_.style"> {{vc.viewState.CM_TDETAILS_51_.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_DETAILSAHOANJ_635_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_DETAILSAOH_471635')" ng-disabled="vc.viewState.T_DETAILSAHOANJ_635_ACCEPT.disabled || vc.viewState.T_DETAILSAHOANJ_635_ACCEPT.disabledingroup" ng-show="vc.viewState.T_DETAILSAHOANJ_635_ACCEPT.visible" ng-class="vc.viewState.T_DETAILSAHOANJ_635_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_DETAILSAHOANJ_635_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_DETAILSAHOANJ_635_CANCEL.disabled || vc.viewState.T_DETAILSAHOANJ_635_CANCEL.disabledingroup" ng-show="vc.viewState.T_DETAILSAHOANJ_635_CANCEL.visible" ng-class="vc.viewState.T_DETAILSAHOANJ_635_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>