<!-- Designer Generator v 6.4.0.5 - SPR 2019-03 15/02/2019 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_CALLCENTRP_967966" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_CALLCENTRP_967966.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_CALLCENTIU_912--> 
  <div id="VC_CALLCENTRP_967966" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_CALLCENOQT_891912" ng-show="vc.viewState.G_CALLCENOQT_891912.visible" ng-class="vc.viewState.G_CALLCENOQT_891912.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_CALLCENOQT_891912" k-options="validatorOptions" id="G_CALLCENOQT_891912_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_7904MAZZXVKTTBR_383912.visible"> 
        <div class="form-group" id="VA_7904MAZZXVKTTBR_383912_DIV"> 
         <label for="VA_7904MAZZXVKTTBR_383912" title="{{vc.viewState.VA_7904MAZZXVKTTBR_383912.label|translate:vc.viewState.VA_7904MAZZXVKTTBR_383912.labelArgs}}" ng-show="vc.viewState.VA_7904MAZZXVKTTBR_383912.visible" class="control-label">{{vc.viewState.VA_7904MAZZXVKTTBR_383912.label|translate:vc.viewState.VA_7904MAZZXVKTTBR_383912.labelArgs}}</label> 
         <div class="cb-control"> 
          <div class="input-group"> 
           <input id="VA_7904MAZZXVKTTBR_383912" name="LoginCallCenter_idCliente" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_7904MAZZXVKTTBR_383912.decimals" k-format="vc.viewState.VA_7904MAZZXVKTTBR_383912.format" k-ng-model="vc.model.LoginCallCenter.idCliente" ng-model="vc.tmpModel.LoginCallCenter.idCliente" ng-disabled="vc.viewState.VA_7904MAZZXVKTTBR_383912.disabled || vc.viewState.VA_7904MAZZXVKTTBR_383912.disabledingroup" ng-show="vc.viewState.VA_7904MAZZXVKTTBR_383912.visible" ng-readonly="vc.viewState.VA_7904MAZZXVKTTBR_383912.readonly" ng-class="vc.viewState.VA_7904MAZZXVKTTBR_383912.style" data-cobis-group="Group,G_CALLCENOQT_891912,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_7904MAZZXVKTTBR_383912.validationCode}}" /> 
           <div class="input-group-btn"> 
            <button class="btn btn-default btn-block" ng-click="vc.clickTextInputButton('VA_7904MAZZXVKTTBR_383912')" ng-disabled="vc.viewState.VA_7904MAZZXVKTTBR_383912.disabled || vc.viewState.VA_7904MAZZXVKTTBR_383912.disabledingroup" ng-show="vc.viewState.VA_7904MAZZXVKTTBR_383912.visible" ng-class="vc.viewState.VA_7904MAZZXVKTTBR_383912.style"> <span class="glyphicon glyphicon-align-justify"></span> </button> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONMLAQDME_803912.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONMLAQDME_803912" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONMLAQDME_803912','VA_VABUTTONMLAQDME_803912',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONMLAQDME_803912.disabled || vc.viewState.VA_VABUTTONMLAQDME_803912.disabledingroup" ng-show="vc.viewState.VA_VABUTTONMLAQDME_803912.visible" ng-class="vc.viewState.VA_VABUTTONMLAQDME_803912.style"> {{vc.viewState.VA_VABUTTONMLAQDME_803912.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_CALLCENNOS_634912" ng-show="vc.viewState.G_CALLCENNOS_634912.visible" ng-class="vc.viewState.G_CALLCENNOS_634912.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_CALLCENNOS_634912" k-options="validatorOptions" id="G_CALLCENNOS_634912_VAL"> 
     <div id="QV_7316_54056" kendo-ext-grid="grids.QV_7316_54056" k-data-source="vc.model.CallCenterQuestion" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_7316_54056.editable" k-toolbar="vc.grids.QV_7316_54056.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_7316_54056.events.dataBound" k-columns="vc.grids.QV_7316_54056.columns" k-cancel="vc.grids.QV_7316_54056.events.cancel" k-edit="vc.grids.QV_7316_54056.events.edit" k-data-binding="vc.grids.QV_7316_54056.events.dataBinding" ng-class="vc.viewState.QV_7316_54056.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </div> 
   <div id="G_CALLCENPPE_455912" ng-show="vc.viewState.G_CALLCENPPE_455912.visible" ng-class="vc.viewState.G_CALLCENPPE_455912.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_CALLCENPPE_455912" k-options="validatorOptions" id="G_CALLCENPPE_455912_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_CORRETVALIDAIII_240912.visible"> 
        <div class="form-group" id="VA_CORRETVALIDAIII_240912_DIV"> 
         <label for="VA_CORRETVALIDAIII_240912" title="{{vc.viewState.VA_CORRETVALIDAIII_240912.label|translate:vc.viewState.VA_CORRETVALIDAIII_240912.labelArgs}}" ng-show="vc.viewState.VA_CORRETVALIDAIII_240912.visible" class="control-label">{{vc.viewState.VA_CORRETVALIDAIII_240912.label|translate:vc.viewState.VA_CORRETVALIDAIII_240912.labelArgs}}</label> 
         <div class="cb-control"> 
          <div id="VA_CORRETVALIDAIII_240912" name="QuestionValidation_corretValidation" class="form-control cb-no-border" ng-show="vc.viewState.VA_CORRETVALIDAIII_240912.visible" ng-class="vc.viewState.VA_CORRETVALIDAIII_240912.style">
            {{kendo.toString(vc.model.QuestionValidation.corretValidation, '')}} 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_MSMVALIDATIONNN_838912.visible"> 
        <div class="form-group" id="VA_MSMVALIDATIONNN_838912_DIV"> 
         <label for="VA_MSMVALIDATIONNN_838912" title="{{vc.viewState.VA_MSMVALIDATIONNN_838912.label|translate:vc.viewState.VA_MSMVALIDATIONNN_838912.labelArgs}}" ng-show="vc.viewState.VA_MSMVALIDATIONNN_838912.visible" class="control-label">{{vc.viewState.VA_MSMVALIDATIONNN_838912.label|translate:vc.viewState.VA_MSMVALIDATIONNN_838912.labelArgs}}</label> 
         <div class="cb-control"> 
          <div id="VA_MSMVALIDATIONNN_838912" name="QuestionValidation_msmValidation" class="form-control cb-no-border" ng-show="vc.viewState.VA_MSMVALIDATIONNN_838912.visible" ng-class="vc.viewState.VA_MSMVALIDATIONNN_838912.style">
            {{kendo.toString(vc.model.QuestionValidation.msmValidation, '')}} 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_CALLCENSSP_320912" ng-show="vc.viewState.G_CALLCENSSP_320912.visible" ng-class="vc.viewState.G_CALLCENSSP_320912.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_CALLCENSSP_320912" k-options="validatorOptions" id="G_CALLCENSSP_320912_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONPDDCALJ_814912.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONPDDCALJ_814912" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONPDDCALJ_814912','VA_VABUTTONPDDCALJ_814912',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONPDDCALJ_814912.disabled || vc.viewState.VA_VABUTTONPDDCALJ_814912.disabledingroup" ng-show="vc.viewState.VA_VABUTTONPDDCALJ_814912.visible" ng-class="vc.viewState.VA_VABUTTONPDDCALJ_814912.style"> {{vc.viewState.VA_VABUTTONPDDCALJ_814912.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_CALLCENTIU_912--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_ASSCRDVFRQXGU_966_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_CALLCENTRP_967966')" ng-disabled="vc.viewState.T_ASSCRDVFRQXGU_966_ACCEPT.disabled || vc.viewState.T_ASSCRDVFRQXGU_966_ACCEPT.disabledingroup" ng-show="vc.viewState.T_ASSCRDVFRQXGU_966_ACCEPT.visible" ng-class="vc.viewState.T_ASSCRDVFRQXGU_966_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_ASSCRDVFRQXGU_966_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_ASSCRDVFRQXGU_966_CANCEL.disabled || vc.viewState.T_ASSCRDVFRQXGU_966_CANCEL.disabledingroup" ng-show="vc.viewState.T_ASSCRDVFRQXGU_966_CANCEL.visible" ng-class="vc.viewState.T_ASSCRDVFRQXGU_966_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>