<!-- Designer Generator v 6.4.0.2 - SPR 2018-13 26/06/2018 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_ADDALERTSS_984829" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_ADDALERTSS_984829.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_ADDALERTSS_527--> 
  <div id="VC_ADDALERTSS_984829" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_ADDALERSST_162527" ng-show="vc.viewState.G_ADDALERSST_162527.visible" ng-class="vc.viewState.G_ADDALERSST_162527.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_ADDALERSST_162527" k-options="validatorOptions" id="G_ADDALERSST_162527_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-6" ng-show="vc.viewState.VA_TEXTINPUTBOXDSP_311527.visible"> 
        <div class="form-group cb-required" id="VA_TEXTINPUTBOXDSP_311527_DIV"> 
         <label for="VA_TEXTINPUTBOXDSP_311527" title="{{vc.viewState.VA_TEXTINPUTBOXDSP_311527.label|translate:vc.viewState.VA_TEXTINPUTBOXDSP_311527.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXDSP_311527.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXDSP_311527.label|translate:vc.viewState.VA_TEXTINPUTBOXDSP_311527.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXDSP_311527" name="UnusualOperations_typeOperation" kendo-ext-combo-box="comboBox.VA_TEXTINPUTBOXDSP_311527" ng-model="vc.model.UnusualOperations.typeOperation" ng-disabled="vc.viewState.VA_TEXTINPUTBOXDSP_311527.disabled || vc.viewState.VA_TEXTINPUTBOXDSP_311527.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXDSP_311527.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXDSP_311527.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXDSP_311527.style" placeholder="vc.getPlaceHolder()" k-data-source="vc.catalogs.VA_TEXTINPUTBOXDSP_311527" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_TEXTINPUTBOXDSP_311527.template" data-cobis-group="Group,G_ADDALERSST_162527,0" required data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXDSP_311527.validationCode}}" data-required-msg="{{'CSTMR.LBL_CSTMR_TIPOOPERR_94414'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-3" ng-show="vc.viewState.Spacer2841.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-3" ng-show="vc.viewState.Spacer1492.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-6" ng-show="vc.viewState.VA_DATEFIELDVBENWI_336527.visible"> 
        <div class="form-group cb-required" id="VA_DATEFIELDVBENWI_336527_DIV"> 
         <label for="VA_DATEFIELDVBENWI_336527" title="{{vc.viewState.VA_DATEFIELDVBENWI_336527.label|translate:vc.viewState.VA_DATEFIELDVBENWI_336527.labelArgs}}" ng-show="vc.viewState.VA_DATEFIELDVBENWI_336527.visible" class="control-label">{{vc.viewState.VA_DATEFIELDVBENWI_336527.label|translate:vc.viewState.VA_DATEFIELDVBENWI_336527.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_DATEFIELDVBENWI_336527" name="UnusualOperations_highDate" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.UnusualOperations.highDate" ng-model="vc.tmpModel.UnusualOperations.highDate" ng-disabled="vc.viewState.VA_DATEFIELDVBENWI_336527.disabled || vc.viewState.VA_DATEFIELDVBENWI_336527.disabledingroup" ng-show="vc.viewState.VA_DATEFIELDVBENWI_336527.visible" ng-readonly="vc.viewState.VA_DATEFIELDVBENWI_336527.readonly" ng-class="vc.viewState.VA_DATEFIELDVBENWI_336527.style" data-cobis-group="Group,G_ADDALERSST_162527,0" required data-validation-code="{{vc.viewState.VA_DATEFIELDVBENWI_336527.validationCode}}" data-required-msg="{{'CSTMR.LBL_CSTMR_FECHAALAA_51277'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-6" ng-show="vc.viewState.VA_DATEFIELDKKWVTW_833527.visible"> 
        <div class="form-group cb-required" id="VA_DATEFIELDKKWVTW_833527_DIV"> 
         <label for="VA_DATEFIELDKKWVTW_833527" title="{{vc.viewState.VA_DATEFIELDKKWVTW_833527.label|translate:vc.viewState.VA_DATEFIELDKKWVTW_833527.labelArgs}}" ng-show="vc.viewState.VA_DATEFIELDKKWVTW_833527.visible" class="control-label">{{vc.viewState.VA_DATEFIELDKKWVTW_833527.label|translate:vc.viewState.VA_DATEFIELDKKWVTW_833527.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_DATEFIELDKKWVTW_833527" name="UnusualOperations_reportDate" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.UnusualOperations.reportDate" ng-model="vc.tmpModel.UnusualOperations.reportDate" ng-disabled="vc.viewState.VA_DATEFIELDKKWVTW_833527.disabled || vc.viewState.VA_DATEFIELDKKWVTW_833527.disabledingroup" ng-show="vc.viewState.VA_DATEFIELDKKWVTW_833527.visible" ng-readonly="vc.viewState.VA_DATEFIELDKKWVTW_833527.readonly" ng-class="vc.viewState.VA_DATEFIELDKKWVTW_833527.style" data-cobis-group="Group,G_ADDALERSST_162527,0" compare-to="VA_DATEFIELDVBENWI_336527" compare-valoperator="5" required data-validation-code="{{vc.viewState.VA_DATEFIELDKKWVTW_833527.validationCode}}" data-compareto-msg="{{'CSTMR.MSG_CSTMR_LAFECHAPA_74552'|translate}}" data-required-msg="{{'CSTMR.LBL_CSTMR_FECHAREPP_53187'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-3" ng-show="vc.viewState.VA_TEXTINPUTBOXTVB_163527.visible"> 
        <div class="form-group cb-required" id="VA_TEXTINPUTBOXTVB_163527_DIV"> 
         <label for="VA_TEXTINPUTBOXTVB_163527" title="{{vc.viewState.VA_TEXTINPUTBOXTVB_163527.label|translate:vc.viewState.VA_TEXTINPUTBOXTVB_163527.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXTVB_163527.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXTVB_163527.label|translate:vc.viewState.VA_TEXTINPUTBOXTVB_163527.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXTVB_163527" name="UnusualOperations_customerName" type="text" class="form-control text-uppercase" ng-model="vc.model.UnusualOperations.customerName" ng-disabled="vc.viewState.VA_TEXTINPUTBOXTVB_163527.disabled || vc.viewState.VA_TEXTINPUTBOXTVB_163527.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXTVB_163527.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXTVB_163527.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXTVB_163527.style" data-cobis-group="Group,G_ADDALERSST_162527,0" ng-model-onblur designer-restrict-input required data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXTVB_163527.validationCode}}" data-required-msg="{{'CSTMR.LBL_CSTMR_PRIMERNRB_92048'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-3" ng-show="vc.viewState.VA_CUSTOMERSECOMEE_535527.visible"> 
        <div class="form-group" id="VA_CUSTOMERSECOMEE_535527_DIV"> 
         <label for="VA_CUSTOMERSECOMEE_535527" title="{{vc.viewState.VA_CUSTOMERSECOMEE_535527.label|translate:vc.viewState.VA_CUSTOMERSECOMEE_535527.labelArgs}}" ng-show="vc.viewState.VA_CUSTOMERSECOMEE_535527.visible" class="control-label">{{vc.viewState.VA_CUSTOMERSECOMEE_535527.label|translate:vc.viewState.VA_CUSTOMERSECOMEE_535527.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_CUSTOMERSECOMEE_535527" name="UnusualOperations_customerSecondName" type="text" class="form-control text-uppercase" ng-model="vc.model.UnusualOperations.customerSecondName" ng-disabled="vc.viewState.VA_CUSTOMERSECOMEE_535527.disabled || vc.viewState.VA_CUSTOMERSECOMEE_535527.disabledingroup" ng-show="vc.viewState.VA_CUSTOMERSECOMEE_535527.visible" ng-readonly="vc.viewState.VA_CUSTOMERSECOMEE_535527.readonly" ng-class="vc.viewState.VA_CUSTOMERSECOMEE_535527.style" data-cobis-group="Group,G_ADDALERSST_162527,0" ng-model-onblur designer-restrict-input data-validation-code="{{vc.viewState.VA_CUSTOMERSECOMEE_535527.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-3" ng-show="vc.viewState.VA_CUSTOMERSURNMEA_528527.visible"> 
        <div class="form-group cb-required" id="VA_CUSTOMERSURNMEA_528527_DIV"> 
         <label for="VA_CUSTOMERSURNMEA_528527" title="{{vc.viewState.VA_CUSTOMERSURNMEA_528527.label|translate:vc.viewState.VA_CUSTOMERSURNMEA_528527.labelArgs}}" ng-show="vc.viewState.VA_CUSTOMERSURNMEA_528527.visible" class="control-label">{{vc.viewState.VA_CUSTOMERSURNMEA_528527.label|translate:vc.viewState.VA_CUSTOMERSURNMEA_528527.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_CUSTOMERSURNMEA_528527" name="UnusualOperations_customerSurname" type="text" class="form-control text-uppercase" ng-model="vc.model.UnusualOperations.customerSurname" ng-disabled="vc.viewState.VA_CUSTOMERSURNMEA_528527.disabled || vc.viewState.VA_CUSTOMERSURNMEA_528527.disabledingroup" ng-show="vc.viewState.VA_CUSTOMERSURNMEA_528527.visible" ng-readonly="vc.viewState.VA_CUSTOMERSURNMEA_528527.readonly" ng-class="vc.viewState.VA_CUSTOMERSURNMEA_528527.style" data-cobis-group="Group,G_ADDALERSST_162527,0" ng-model-onblur designer-restrict-input required data-validation-code="{{vc.viewState.VA_CUSTOMERSURNMEA_528527.validationCode}}" data-required-msg="{{'CSTMR.LBL_CSTMR_APELLIDPT_76332'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-3" ng-show="vc.viewState.VA_CUSTOMERSECONNN_410527.visible"> 
        <div class="form-group" id="VA_CUSTOMERSECONNN_410527_DIV"> 
         <label for="VA_CUSTOMERSECONNN_410527" title="{{vc.viewState.VA_CUSTOMERSECONNN_410527.label|translate:vc.viewState.VA_CUSTOMERSECONNN_410527.labelArgs}}" ng-show="vc.viewState.VA_CUSTOMERSECONNN_410527.visible" class="control-label">{{vc.viewState.VA_CUSTOMERSECONNN_410527.label|translate:vc.viewState.VA_CUSTOMERSECONNN_410527.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_CUSTOMERSECONNN_410527" name="UnusualOperations_customerSecondSurname" type="text" class="form-control text-uppercase" ng-model="vc.model.UnusualOperations.customerSecondSurname" ng-disabled="vc.viewState.VA_CUSTOMERSECONNN_410527.disabled || vc.viewState.VA_CUSTOMERSECONNN_410527.disabledingroup" ng-show="vc.viewState.VA_CUSTOMERSECONNN_410527.visible" ng-readonly="vc.viewState.VA_CUSTOMERSECONNN_410527.readonly" ng-class="vc.viewState.VA_CUSTOMERSECONNN_410527.style" data-cobis-group="Group,G_ADDALERSST_162527,0" ng-model-onblur designer-restrict-input data-validation-code="{{vc.viewState.VA_CUSTOMERSECONNN_410527.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-12" ng-show="vc.viewState.VA_COMMENTARYSEHXR_641527.visible"> 
        <div class="form-group cb-required" id="VA_COMMENTARYSEHXR_641527_DIV"> 
         <label for="VA_COMMENTARYSEHXR_641527" title="{{vc.viewState.VA_COMMENTARYSEHXR_641527.label|translate:vc.viewState.VA_COMMENTARYSEHXR_641527.labelArgs}}" ng-show="vc.viewState.VA_COMMENTARYSEHXR_641527.visible" class="control-label">{{vc.viewState.VA_COMMENTARYSEHXR_641527.label|translate:vc.viewState.VA_COMMENTARYSEHXR_641527.labelArgs}}</label> 
         <div class="cb-control"> 
          <textarea id="VA_COMMENTARYSEHXR_641527" style="resize: none; width:100%" rows="5" name="UnusualOperations_commentary" maxlength="500" type="text" class="form-control" ng-model="vc.model.UnusualOperations.commentary" ng-disabled="vc.viewState.VA_COMMENTARYSEHXR_641527.disabled || vc.viewState.VA_COMMENTARYSEHXR_641527.disabledingroup" ng-show="vc.viewState.VA_COMMENTARYSEHXR_641527.visible" ng-readonly="vc.viewState.VA_COMMENTARYSEHXR_641527.readonly" ng-class="vc.viewState.VA_COMMENTARYSEHXR_641527.style" data-cobis-group="Group,G_ADDALERSST_162527,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_COMMENTARYSEHXR_641527.validationCode}}" data-required-msg="{{'CSTMR.LBL_CSTMR_COMENTASO_77518'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}"></textarea> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-3" ng-show="vc.viewState.Spacer2521.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-3" ng-show="vc.viewState.Spacer2811.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-3" ng-show="vc.viewState.Spacer2440.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-3 col-sm-3 col-sm-offset-0 col-md-3 col-md-offset-0 col-lg-3 col-lg-offset-0" ng-show="vc.viewState.VA_VABUTTONOGPGXMU_783527.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONOGPGXMU_783527" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONOGPGXMU_783527','VA_VABUTTONOGPGXMU_783527',validator,true, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONOGPGXMU_783527.disabled || vc.viewState.VA_VABUTTONOGPGXMU_783527.disabledingroup" ng-show="vc.viewState.VA_VABUTTONOGPGXMU_783527.visible" ng-class="vc.viewState.VA_VABUTTONOGPGXMU_783527.style"> {{vc.viewState.VA_VABUTTONOGPGXMU_783527.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_ADDALERSTS_846527" ng-class="vc.viewState.G_ADDALERSTS_846527.style" class="cb-group cb-group-layout"> 
    <div id="G_ADDALERSTS_846527_VAL" kendo-validator="G_ADDALERSTS_846527" k-options="validatorOptions"> 
     <div id="G_ADDALERSTT_863527" class="cb-group cb-group-simple" ng-show="vc.viewState.G_ADDALERSTT_863527.visible" ng-class="vc.viewState.G_ADDALERSTT_863527.style"> 
      <div id="G_ADDALERSTT_863527_VAL" kendo-validator="G_ADDALERSTT_863527" k-options="validatorOptions"> 
       <div id="QV_1129_31576" kendo-ext-grid="grids.QV_1129_31576" k-data-source="vc.model.UnusualOperationsView" k-column-menu="false" k-sortable="false" k-pageable="{refresh: false, pageSizes: false, buttonCount: 5}" k-editable="vc.grids.QV_1129_31576.editable" k-toolbar="vc.grids.QV_1129_31576.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="true" k-scrollable="true" k-selectable="false" k-data-bound="vc.grids.QV_1129_31576.events.dataBound" k-columns="vc.grids.QV_1129_31576.columns" k-cancel="vc.grids.QV_1129_31576.events.cancel" k-edit="vc.grids.QV_1129_31576.events.edit" k-data-binding="vc.grids.QV_1129_31576.events.dataBinding" ng-class="vc.viewState.QV_1129_31576.style" k-ng-delay="vc.afterInitData"></div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_ADDALERTSS_527--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_CSTMRZIMDHJYH_829_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_ADDALERTSS_984829')" ng-disabled="vc.viewState.T_CSTMRZIMDHJYH_829_ACCEPT.disabled || vc.viewState.T_CSTMRZIMDHJYH_829_ACCEPT.disabledingroup" ng-show="vc.viewState.T_CSTMRZIMDHJYH_829_ACCEPT.visible" ng-class="vc.viewState.T_CSTMRZIMDHJYH_829_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_CSTMRZIMDHJYH_829_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_CSTMRZIMDHJYH_829_CANCEL.disabled || vc.viewState.T_CSTMRZIMDHJYH_829_CANCEL.disabledingroup" ng-show="vc.viewState.T_CSTMRZIMDHJYH_829_CANCEL.visible" ng-class="vc.viewState.T_CSTMRZIMDHJYH_829_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>