<!-- Designer Generator v 6.0.0 - release SPR 2016-13 08/07/2016 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_ANTTS25_AREPV_622" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_ANTTS25_AREPV_622.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_PAMERPRTIE35--> 
  <div id="VC_ANTTS25_AREPV_622" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="GR_PAMERPRTIE35_03" ng-class="vc.viewState.GR_PAMERPRTIE35_03.style" class="cb-group cb-group-layout"> 
    <div id="GR_PAMERPRTIE35_03_VAL" kendo-validator="GR_PAMERPRTIE35_03" k-options="validatorOptions"> 
     <div id="GR_PAMERPRTIE35_04" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_PAMERPRTIE35_04.visible" ng-class="vc.viewState.GR_PAMERPRTIE35_04.style"> 
      <div id="GR_PAMERPRTIE35_04_VAL" kendo-validator="GR_PAMERPRTIE35_04" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-12" ng-show="vc.viewState.VA_PAMERPRTIE3504_ANGE136.visible"> 
          <div class="form-group" id="VA_PAMERPRTIE3504_ANGE136_DIV"> 
           <label for="VA_PAMERPRTIE3504_ANGE136" title="{{vc.viewState.VA_PAMERPRTIE3504_ANGE136.label|translate:vc.viewState.VA_PAMERPRTIE3504_ANGE136.labelArgs}}" ng-show="vc.viewState.VA_PAMERPRTIE3504_ANGE136.visible" class="control-label">{{vc.viewState.VA_PAMERPRTIE3504_ANGE136.label|translate:vc.viewState.VA_PAMERPRTIE3504_ANGE136.labelArgs}}</label> 
           <div title="{{vc.viewState.VA_PAMERPRTIE3504_ANGE136.tooltip|translate}}" class="cb-control"> 
            <input id="VA_PAMERPRTIE3504_ANGE136" name="ParameterPrint_nameManager" maxlength="250" type="text" class="form-control" ng-model="vc.model.ParameterPrint.nameManager" ng-disabled="vc.viewState.VA_PAMERPRTIE3504_ANGE136.disabled || vc.viewState.VA_PAMERPRTIE3504_ANGE136.disabledingroup" ng-show="vc.viewState.VA_PAMERPRTIE3504_ANGE136.visible" ng-readonly="vc.viewState.VA_PAMERPRTIE3504_ANGE136.readonly" ng-class="vc.viewState.VA_PAMERPRTIE3504_ANGE136.style" data-cobis-group="Group,GR_PAMERPRTIE35_03,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_PAMERPRTIE3504_ANGE136.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-12" ng-show="vc.viewState.VA_PAMERPRTIE3504_CITY131.visible"> 
          <div class="form-group" id="VA_PAMERPRTIE3504_CITY131_DIV"> 
           <label for="VA_PAMERPRTIE3504_CITY131" title="{{vc.viewState.VA_PAMERPRTIE3504_CITY131.label|translate:vc.viewState.VA_PAMERPRTIE3504_CITY131.labelArgs}}" ng-show="vc.viewState.VA_PAMERPRTIE3504_CITY131.visible" class="control-label">{{vc.viewState.VA_PAMERPRTIE3504_CITY131.label|translate:vc.viewState.VA_PAMERPRTIE3504_CITY131.labelArgs}}</label> 
           <div title="{{vc.viewState.VA_PAMERPRTIE3504_CITY131.tooltip|translate}}" class="cb-control"> 
            <input id="VA_PAMERPRTIE3504_CITY131" name="ParameterPrint_city" maxlength="100" type="text" class="form-control" ng-model="vc.model.ParameterPrint.city" ng-disabled="vc.viewState.VA_PAMERPRTIE3504_CITY131.disabled || vc.viewState.VA_PAMERPRTIE3504_CITY131.disabledingroup" ng-show="vc.viewState.VA_PAMERPRTIE3504_CITY131.visible" ng-readonly="vc.viewState.VA_PAMERPRTIE3504_CITY131.readonly" ng-class="vc.viewState.VA_PAMERPRTIE3504_CITY131.style" data-cobis-group="Group,GR_PAMERPRTIE35_03,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_PAMERPRTIE3504_CITY131.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_PAMERPRTIE35--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_ANTTS25CTU91" ng-click="vc.executeCommand('CM_ANTTS25CTU91','Continue', validator, true, false, 'VC_ANTTS25_AREPV_622', false)" class="btn btn-primary navbar-btn" title="{{vc.viewState.CM_ANTTS25CTU91.tooltip|translate}}" ng-disabled="vc.viewState.CM_ANTTS25CTU91.disabled || vc.viewState.CM_ANTTS25CTU91.disabledingroup" ng-show="vc.viewState.CM_ANTTS25CTU91.visible" ng-class="vc.viewState.CM_ANTTS25CTU91.style"> {{vc.viewState.CM_ANTTS25CTU91.label|translate}} </button> 
    <button id="CM_ANTTS25CAC75" ng-click="vc.executeCommand('CM_ANTTS25CAC75','Cancel', validator, true, false, 'VC_ANTTS25_AREPV_622', false)" class="btn btn-default navbar-btn" title="{{vc.viewState.CM_ANTTS25CAC75.tooltip|translate}}" ng-disabled="vc.viewState.CM_ANTTS25CAC75.disabled || vc.viewState.CM_ANTTS25CAC75.disabledingroup" ng-show="vc.viewState.CM_ANTTS25CAC75.visible" ng-class="vc.viewState.CM_ANTTS25CAC75.style"> {{vc.viewState.CM_ANTTS25CAC75.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_FLCRE_96_ANTTS25_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_ANTTS25_AREPV_622')" ng-disabled="vc.viewState.T_FLCRE_96_ANTTS25_ACCEPT.disabled || vc.viewState.T_FLCRE_96_ANTTS25_ACCEPT.disabledingroup" ng-show="vc.viewState.T_FLCRE_96_ANTTS25_ACCEPT.visible" ng-class="vc.viewState.T_FLCRE_96_ANTTS25_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_FLCRE_96_ANTTS25_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_FLCRE_96_ANTTS25_CANCEL.disabled || vc.viewState.T_FLCRE_96_ANTTS25_CANCEL.disabledingroup" ng-show="vc.viewState.T_FLCRE_96_ANTTS25_CANCEL.visible" ng-class="vc.viewState.T_FLCRE_96_ANTTS25_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>