<!-- Designer Generator v 5.0.0.1626 - release SPR 2016-26 08/01/2016 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_AATIN09_UTINO_445" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_AATIN09_UTINO_445.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_AATIN09_UTINO_445" ng-keydown="vc.viewState.keyDown($event)" class="cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <fieldset id="VC_AATIN09_ADOEN_949" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_AATIN09_ADOEN_949', vc.viewState.VC_AATIN09_ADOEN_949.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_AATIN09_ADOEN_949.visible"> 
    <legend> <span ng-bind="vc.viewState.VC_AATIN09_ADOEN_949.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.VC_AATIN09_ADOEN_949.statusStyle.success, 'cb-validation-fail': vc.viewState.VC_AATIN09_ADOEN_949.statusStyle.fail, 'cb-validation-none': vc.viewState.VC_AATIN09_ADOEN_949.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.VC_AATIN09_ADOEN_949.label|translate}}</span> </legend> 
    <div id="VC_AATIN09_ADOEN_949_VAL" kendo-validator="VC_AATIN09_ADOEN_949" k-options="validatorOptions"> 
     <div id="GR_COSIONUTIW10_04" ng-class="vc.viewState.GR_COSIONUTIW10_04.style" class="cb-group cb-group-layout"> 
      <div id="GR_COSIONUTIW10_04_VAL" kendo-validator="GR_COSIONUTIW10_04" k-options="validatorOptions"> 
       <div id="GR_COSIONUTIW10_06" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_COSIONUTIW10_06.visible" ng-class="vc.viewState.GR_COSIONUTIW10_06.style"> 
        <div id="GR_COSIONUTIW10_06_VAL" kendo-validator="GR_COSIONUTIW10_06" k-options="validatorOptions"> 
         <div class="form-vertical"> 
          <div class="row"> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div id="GR_COSIONUTIW10_05" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_COSIONUTIW10_05.visible" ng-class="vc.viewState.GR_COSIONUTIW10_05.style"> 
        <div id="GR_COSIONUTIW10_05_VAL" kendo-validator="GR_COSIONUTIW10_05" k-options="validatorOptions"> 
         <div id="QV_QUEYC0398_15" kendo-ext-grid="grids.QV_QUEYC0398_15" k-data-source="vc.model.ConsultationAccounts" k-column-menu="false" k-sortable="true" k-pageable="{refresh: false, pageSizes: false, buttonCount: 5}" k-editable="vc.viewState.GR_COSIONUTIW10_05.disabled?false:'inline'" k-toolbar="vc.grids.QV_QUEYC0398_15.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="true" k-change="vc.grids.QV_QUEYC0398_15.events.change" k-data-bound="vc.grids.QV_QUEYC0398_15.events.dataBound" k-columns="vc.grids.QV_QUEYC0398_15.columns" k-cancel="vc.grids.QV_QUEYC0398_15.events.cancel" k-edit="vc.grids.QV_QUEYC0398_15.events.edit" ng-class="vc.viewState.QV_QUEYC0398_15.style" k-ng-delay="vc.afterInitData"></div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </fieldset> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_AATIN09SBN39" ng-click="vc.executeCommand('CM_AATIN09SBN39','ChooseButton', validator, true, false, 'VC_AATIN09_UTINO_445', false)" class="btn btn-primary navbar-btn" title="{{vc.viewState.CM_AATIN09SBN39.tooltip|translate}}" ng-disabled="vc.viewState.CM_AATIN09SBN39.disabled || vc.viewState.CM_AATIN09SBN39.disabledingroup" ng-show="vc.viewState.CM_AATIN09SBN39.visible" ng-class="vc.viewState.CM_AATIN09SBN39.style"> {{vc.viewState.CM_AATIN09SBN39.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_FLCRE_11_AATIN09_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_AATIN09_UTINO_445')" ng-disabled="vc.viewState.T_FLCRE_11_AATIN09_ACCEPT.disabled || vc.viewState.T_FLCRE_11_AATIN09_ACCEPT.disabledingroup" ng-show="vc.viewState.T_FLCRE_11_AATIN09_ACCEPT.visible" ng-class="vc.viewState.T_FLCRE_11_AATIN09_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_FLCRE_11_AATIN09_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_FLCRE_11_AATIN09_CANCEL.disabled || vc.viewState.T_FLCRE_11_AATIN09_CANCEL.disabledingroup" ng-show="vc.viewState.T_FLCRE_11_AATIN09_CANCEL.visible" ng-class="vc.viewState.T_FLCRE_11_AATIN09_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>