<!-- Designer Generator v 6.4.0.1 - SPR 2018-10 18/05/2018 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_VALUEDATEN_586689" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_VALUEDATEN_586689.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_VALUEDATEN_586689" ng-keydown="vc.viewState.keyDown($event)" class="cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="VC_DNIIMAEAVR_174689" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_DNIIMAEAVR_174689', vc.viewState.VC_DNIIMAEAVR_174689.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_DNIIMAEAVR_174689.visible"> 
    <div id="VC_LENMSHCIMP_164316" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_LENMSHCIMP_164316', vc.viewState.VC_LENMSHCIMP_164316.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_LENMSHCIMP_164316.visible"> 
     <div id="VC_LENMSHCIMP_164316_VAL" kendo-validator="VC_LENMSHCIMP_164316" k-options="validatorOptions"> 
      <!-- Inicio item VW_LOANHEADRN_612--> 
      <div id="G_LOANHEADOD_564612" ng-show="vc.viewState.G_LOANHEADOD_564612.visible" ng-class="vc.viewState.G_LOANHEADOD_564612.style" class="cb-group cb-group-simple"> 
       <div kendo-validator="G_LOANHEADOD_564612" k-options="validatorOptions" id="G_LOANHEADOD_564612_VAL"> 
        <div class="form-vertical"> 
         <div class="row"> 
          <div class="col-xs-12" ng-show="vc.viewState.VA_VASIMPLELABELLL_143612.visible"> 
           <div class="form-group"> 
            <label class="control-label">&nbsp;</label> 
            <div class="cb-control"> 
             <label id="VA_VASIMPLELABELLL_143612" ng-show="vc.viewState.VA_VASIMPLELABELLL_143612.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_143612.style"> {{vc.viewState.VA_VASIMPLELABELLL_143612.label|translate}} </label>
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <div id="G_LOANHEADRO_349612" ng-show="vc.viewState.G_LOANHEADRO_349612.visible" ng-class="vc.viewState.G_LOANHEADRO_349612.style" class="cb-group cb-group-simple"> 
       <div kendo-validator="G_LOANHEADRO_349612" k-options="validatorOptions" id="G_LOANHEADRO_349612_VAL"> 
        <div class="form-vertical"> 
         <div class="row"> 
          <div class="col-xs-7" ng-show="vc.viewState.VA_VASIMPLELABELLL_867612.visible"> 
           <div class="form-group" id="VA_VASIMPLELABELLL_867612_DIV"> 
            <label for="VA_VASIMPLELABELLL_867612" title="{{vc.viewState.VA_VASIMPLELABELLL_867612.label|translate:vc.viewState.VA_VASIMPLELABELLL_867612.labelArgs}}" ng-show="vc.viewState.VA_VASIMPLELABELLL_867612.visible" class="control-label">{{vc.viewState.VA_VASIMPLELABELLL_867612.label|translate:vc.viewState.VA_VASIMPLELABELLL_867612.labelArgs}} <span ng-class="vc.viewState.VA_VASIMPLELABELLL_867612.labelImageId"></span></label> 
            <div class="cb-control"> 
             <div> 
              <a id="VA_VASIMPLELABELLL_867612" href ng-click="vc.viewState.VA_VASIMPLELABELLL_867612.disabled || vc.executeCommand('VA_VASIMPLELABELLL_867612','loanBankID',validator,false, false,'', false)" class="form-control textlink" ng-disabled="vc.viewState.VA_VASIMPLELABELLL_867612.disabled || vc.viewState.VA_VASIMPLELABELLL_867612.disabledingroup" ng-show="vc.viewState.VA_VASIMPLELABELLL_867612.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_867612.style" ng-bind="vc.model.Loan.loanBankID"> </a> 
             </div> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-3" ng-show="vc.viewState.VA_VABUTTONWVITZRQ_108612.visible"> 
           <div class="form-group"> 
            <label class="control-label">&nbsp;</label> 
            <div class="cb-control"> 
             <button id="VA_VABUTTONWVITZRQ_108612" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONWVITZRQ_108612','VA_VABUTTONWVITZRQ_108612',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONWVITZRQ_108612.disabled || vc.viewState.VA_VABUTTONWVITZRQ_108612.disabledingroup" ng-show="vc.viewState.VA_VABUTTONWVITZRQ_108612.visible" ng-class="vc.viewState.VA_VABUTTONWVITZRQ_108612.style"> <span ng-class="vc.viewState.VA_VABUTTONWVITZRQ_108612.imageId"></span> {{vc.viewState.VA_VABUTTONWVITZRQ_108612.label|translate}} </button> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-2" ng-show="vc.viewState.VA_VABUTTONORYJAMS_468612.visible"> 
           <div class="form-group"> 
            <label class="control-label">&nbsp;</label> 
            <div class="cb-control"> 
             <button id="VA_VABUTTONORYJAMS_468612" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONORYJAMS_468612','VA_VABUTTONORYJAMS_468612',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONORYJAMS_468612.disabled || vc.viewState.VA_VABUTTONORYJAMS_468612.disabledingroup" ng-show="vc.viewState.VA_VABUTTONORYJAMS_468612.visible" ng-class="vc.viewState.VA_VABUTTONORYJAMS_468612.style"> <span ng-class="vc.viewState.VA_VABUTTONORYJAMS_468612.imageId"></span> {{vc.viewState.VA_VABUTTONORYJAMS_468612.label|translate}} </button> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <div id="G_LOANHEAINF_340612" ng-show="vc.viewState.G_LOANHEAINF_340612.visible" ng-class="vc.viewState.G_LOANHEAINF_340612.style" class="cb-group cb-group-simple"> 
       <div kendo-validator="G_LOANHEAINF_340612" k-options="validatorOptions" id="G_LOANHEAINF_340612_VAL"> 
        <div class="form-vertical"> 
         <div class="row"> 
          <div class="col-xs-1" ng-show="vc.viewState.VA_5034UOFCASVGKTK_993612.visible"> 
           <div class="form-group" id="VA_5034UOFCASVGKTK_993612_DIV"> 
            <label for="VA_5034UOFCASVGKTK_993612" title="{{vc.viewState.VA_5034UOFCASVGKTK_993612.label|translate:vc.viewState.VA_5034UOFCASVGKTK_993612.labelArgs}}" ng-show="vc.viewState.VA_5034UOFCASVGKTK_993612.visible" class="control-label">{{vc.viewState.VA_5034UOFCASVGKTK_993612.label|translate:vc.viewState.VA_5034UOFCASVGKTK_993612.labelArgs}}</label> 
            <div class="cb-control"> 
             <div id="VA_5034UOFCASVGKTK_993612" name="Loan_amount" class="form-control cb-no-border" ng-show="vc.viewState.VA_5034UOFCASVGKTK_993612.visible" ng-class="vc.viewState.VA_5034UOFCASVGKTK_993612.style">
               {{kendo.toString(vc.model.Loan.amount, 'c')}} 
             </div> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-1" ng-show="vc.viewState.VA_2463BHBNLZPKLMU_865612.visible"> 
           <div class="form-group" id="VA_2463BHBNLZPKLMU_865612_DIV"> 
            <label for="VA_2463BHBNLZPKLMU_865612" title="{{vc.viewState.VA_2463BHBNLZPKLMU_865612.label|translate:vc.viewState.VA_2463BHBNLZPKLMU_865612.labelArgs}}" ng-show="vc.viewState.VA_2463BHBNLZPKLMU_865612.visible" class="control-label">{{vc.viewState.VA_2463BHBNLZPKLMU_865612.label|translate:vc.viewState.VA_2463BHBNLZPKLMU_865612.labelArgs}}</label> 
            <div class="cb-control"> 
             <div id="VA_2463BHBNLZPKLMU_865612" name="Loan_balanceDue" class="form-control cb-no-border" ng-show="vc.viewState.VA_2463BHBNLZPKLMU_865612.visible" ng-class="vc.viewState.VA_2463BHBNLZPKLMU_865612.style">
               {{kendo.toString(vc.model.Loan.balanceDue, 'c')}} 
             </div> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-1" ng-show="vc.viewState.VA_3853RRTWBIRUGHQ_533612.visible"> 
           <div class="form-group" id="VA_3853RRTWBIRUGHQ_533612_DIV"> 
            <label for="VA_3853RRTWBIRUGHQ_533612" title="{{vc.viewState.VA_3853RRTWBIRUGHQ_533612.label|translate:vc.viewState.VA_3853RRTWBIRUGHQ_533612.labelArgs}}" ng-show="vc.viewState.VA_3853RRTWBIRUGHQ_533612.visible" class="control-label">{{vc.viewState.VA_3853RRTWBIRUGHQ_533612.label|translate:vc.viewState.VA_3853RRTWBIRUGHQ_533612.labelArgs}}</label> 
            <div class="cb-control"> 
             <div id="VA_3853RRTWBIRUGHQ_533612" name="Loan_status" class="form-control cb-no-border" ng-show="vc.viewState.VA_3853RRTWBIRUGHQ_533612.visible" ng-class="vc.viewState.VA_3853RRTWBIRUGHQ_533612.style">
               {{vc.model.Loan.status}} 
             </div> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-1" ng-show="vc.viewState.VA_7292SEAHPRAXOKC_868612.visible"> 
           <div class="form-group" id="VA_7292SEAHPRAXOKC_868612_DIV"> 
            <label for="VA_7292SEAHPRAXOKC_868612" title="{{vc.viewState.VA_7292SEAHPRAXOKC_868612.label|translate:vc.viewState.VA_7292SEAHPRAXOKC_868612.labelArgs}}" ng-show="vc.viewState.VA_7292SEAHPRAXOKC_868612.visible" class="control-label">{{vc.viewState.VA_7292SEAHPRAXOKC_868612.label|translate:vc.viewState.VA_7292SEAHPRAXOKC_868612.labelArgs}}</label> 
            <div class="cb-control"> 
             <div id="VA_7292SEAHPRAXOKC_868612" name="Loan_office" class="form-control cb-no-border" ng-show="vc.viewState.VA_7292SEAHPRAXOKC_868612.visible" ng-class="vc.viewState.VA_7292SEAHPRAXOKC_868612.style">
               {{vc.model.Loan.office}} 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <!-- Fin item VW_LOANHEADRN_612--> 
     </div> 
    </div> 
   </div> 
   <div id="VC_XPTLQIEYIF_403689" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_XPTLQIEYIF_403689', vc.viewState.VC_XPTLQIEYIF_403689.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_XPTLQIEYIF_403689.visible"> 
    <div id="VC_XOLYZFDNSA_971861" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_XOLYZFDNSA_971861', vc.viewState.VC_XOLYZFDNSA_971861.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_XOLYZFDNSA_971861.visible"> 
     <div id="VC_XOLYZFDNSA_971861_VAL" kendo-validator="VC_XOLYZFDNSA_971861" k-options="validatorOptions"> 
      <!-- Inicio item VW_VALUEDATEE_866--> 
      <div id="G_VALUEDAETT_568866" ng-class="vc.viewState.G_VALUEDAETT_568866.style" class="cb-group cb-group-layout"> 
       <div id="G_VALUEDAETT_568866_VAL" kendo-validator="G_VALUEDAETT_568866" k-options="validatorOptions"> 
        <div class="row"> 
         <div class="col-xs-4"> 
          <div id="G_VALUEDAETT_751866" class="cb-group cb-group-simple" ng-show="vc.viewState.G_VALUEDAETT_751866.visible" ng-class="vc.viewState.G_VALUEDAETT_751866.style"> 
           <div id="G_VALUEDAETT_751866_VAL" kendo-validator="G_VALUEDAETT_751866" k-options="validatorOptions"> 
            <div class="form-vertical"> 
             <div class="row"> 
              <div class="col-xs-12" ng-show="vc.viewState.VA_LASTPROCESSDEET_724866.visible"> 
               <div class="form-group" id="VA_LASTPROCESSDEET_724866_DIV"> 
                <label for="VA_LASTPROCESSDEET_724866" title="{{vc.viewState.VA_LASTPROCESSDEET_724866.label|translate:vc.viewState.VA_LASTPROCESSDEET_724866.labelArgs}}" ng-show="vc.viewState.VA_LASTPROCESSDEET_724866.visible" class="control-label">{{vc.viewState.VA_LASTPROCESSDEET_724866.label|translate:vc.viewState.VA_LASTPROCESSDEET_724866.labelArgs}}</label> 
                <div class="cb-control"> 
                 <input id="VA_LASTPROCESSDEET_724866" name="Loan_lastProcessDate" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.Loan.lastProcessDate" ng-model="vc.tmpModel.Loan.lastProcessDate" ng-disabled="vc.viewState.VA_LASTPROCESSDEET_724866.disabled || vc.viewState.VA_LASTPROCESSDEET_724866.disabledingroup" ng-show="vc.viewState.VA_LASTPROCESSDEET_724866.visible" ng-readonly="vc.viewState.VA_LASTPROCESSDEET_724866.readonly" ng-class="vc.viewState.VA_LASTPROCESSDEET_724866.style" data-cobis-group="GroupLayout,G_VALUEDAETT_568866,0" data-validation-code="{{vc.viewState.VA_LASTPROCESSDEET_724866.validationCode}}" /> 
                </div> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4"> 
          <div id="G_VALUEDATET_698866" class="cb-group cb-group-simple" ng-show="vc.viewState.G_VALUEDATET_698866.visible" ng-class="vc.viewState.G_VALUEDATET_698866.style"> 
           <div id="G_VALUEDATET_698866_VAL" kendo-validator="G_VALUEDATET_698866" k-options="validatorOptions"> 
            <div class="form-vertical"> 
             <div class="row"> 
              <div class="col-xs-12" ng-show="vc.viewState.VA_3610ZOUUEMDZQED_313866.visible"> 
               <div class="form-group cb-required" id="VA_3610ZOUUEMDZQED_313866_DIV"> 
                <label for="VA_3610ZOUUEMDZQED_313866" title="{{vc.viewState.VA_3610ZOUUEMDZQED_313866.label|translate:vc.viewState.VA_3610ZOUUEMDZQED_313866.labelArgs}}" ng-show="vc.viewState.VA_3610ZOUUEMDZQED_313866.visible" class="control-label">{{vc.viewState.VA_3610ZOUUEMDZQED_313866.label|translate:vc.viewState.VA_3610ZOUUEMDZQED_313866.labelArgs}}</label> 
                <div class="cb-control"> 
                 <input id="VA_3610ZOUUEMDZQED_313866" name="ValueDateFilter_valueDate" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.ValueDateFilter.valueDate" ng-model="vc.tmpModel.ValueDateFilter.valueDate" ng-disabled="vc.viewState.VA_3610ZOUUEMDZQED_313866.disabled || vc.viewState.VA_3610ZOUUEMDZQED_313866.disabledingroup" ng-show="vc.viewState.VA_3610ZOUUEMDZQED_313866.visible" ng-readonly="vc.viewState.VA_3610ZOUUEMDZQED_313866.readonly" ng-class="vc.viewState.VA_3610ZOUUEMDZQED_313866.style" data-cobis-group="GroupLayout,G_VALUEDAETT_568866,1" required data-validation-code="{{vc.viewState.VA_3610ZOUUEMDZQED_313866.validationCode}}" data-required-msg="{{'ASSTS.LBL_ASSTS_FECHAVAOO_18147'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
                </div> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-12"> 
          <div id="G_VALUEDAETT_261866" class="cb-group cb-group-simple" ng-show="vc.viewState.G_VALUEDAETT_261866.visible" ng-class="vc.viewState.G_VALUEDAETT_261866.style"> 
           <div id="G_VALUEDAETT_261866_VAL" kendo-validator="G_VALUEDAETT_261866" k-options="validatorOptions"> 
            <div id="QV_1244_89323" kendo-ext-grid="grids.QV_1244_89323" k-data-source="vc.model.TransactionLoan" k-column-menu="false" k-sortable="false" k-pageable="{refresh: false, pageSizes: false, buttonCount: 5}" k-editable="vc.grids.QV_1244_89323.editable" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="true" k-change="vc.grids.QV_1244_89323.events.change" k-data-bound="vc.grids.QV_1244_89323.events.dataBound" k-columns="vc.grids.QV_1244_89323.columns" k-cancel="vc.grids.QV_1244_89323.events.cancel" k-edit="vc.grids.QV_1244_89323.events.edit" ng-class="vc.viewState.QV_1244_89323.style" k-ng-delay="vc.afterInitData"></div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-12"> 
          <div id="G_VALUEDAEEE_507866" class="cb-group cb-group-simple" ng-show="vc.viewState.G_VALUEDAEEE_507866.visible" ng-class="vc.viewState.G_VALUEDAEEE_507866.style"> 
           <div id="G_VALUEDAEEE_507866_VAL" kendo-validator="G_VALUEDAEEE_507866" k-options="validatorOptions"> 
            <div class="form-vertical"> 
             <div class="row"> 
              <div class="col-xs-12" ng-show="vc.viewState.VA_OBSERVATIONDKBP_175866.visible"> 
               <div class="form-group cb-required" id="VA_OBSERVATIONDKBP_175866_DIV"> 
                <label for="VA_OBSERVATIONDKBP_175866" title="{{vc.viewState.VA_OBSERVATIONDKBP_175866.label|translate:vc.viewState.VA_OBSERVATIONDKBP_175866.labelArgs}}" ng-show="vc.viewState.VA_OBSERVATIONDKBP_175866.visible" class="control-label">{{vc.viewState.VA_OBSERVATIONDKBP_175866.label|translate:vc.viewState.VA_OBSERVATIONDKBP_175866.labelArgs}}</label> 
                <div class="cb-control"> 
                 <input id="VA_OBSERVATIONDKBP_175866" name="ValueDateFilter_observation" type="text" class="form-control" ng-model="vc.model.ValueDateFilter.observation" ng-disabled="vc.viewState.VA_OBSERVATIONDKBP_175866.disabled || vc.viewState.VA_OBSERVATIONDKBP_175866.disabledingroup" ng-show="vc.viewState.VA_OBSERVATIONDKBP_175866.visible" ng-readonly="vc.viewState.VA_OBSERVATIONDKBP_175866.readonly" ng-class="vc.viewState.VA_OBSERVATIONDKBP_175866.style" data-cobis-group="GroupLayout,G_VALUEDAETT_568866,3" ng-model-onblur required data-validation-code="{{vc.viewState.VA_OBSERVATIONDKBP_175866.validationCode}}" data-required-msg="{{'ASSTS.MSG_ASSTS_LAOBSERIA_20926'|translate}}" /> 
                </div> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <!-- Fin item VW_VALUEDATEE_866--> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc || !vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_VALUEDAT_NNN" ng-click="vc.executeCommand('CM_VALUEDAT_NNN','Command1', validator, true, false, 'VC_VALUEDATEN_586689', false)" class="btn btn-primary navbar-btn" title="{{vc.viewState.CM_VALUEDAT_NNN.tooltip|translate}}" ng-disabled="vc.viewState.CM_VALUEDAT_NNN.disabled || vc.viewState.CM_VALUEDAT_NNN.disabledingroup" ng-show="vc.viewState.CM_VALUEDAT_NNN.visible" ng-class="vc.viewState.CM_VALUEDAT_NNN.style"> {{vc.viewState.CM_VALUEDAT_NNN.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_VALUEDATEMINN_689_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_VALUEDATEN_586689')" ng-disabled="vc.viewState.T_VALUEDATEMINN_689_ACCEPT.disabled || vc.viewState.T_VALUEDATEMINN_689_ACCEPT.disabledingroup" ng-show="vc.viewState.T_VALUEDATEMINN_689_ACCEPT.visible" ng-class="vc.viewState.T_VALUEDATEMINN_689_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_VALUEDATEMINN_689_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_VALUEDATEMINN_689_CANCEL.disabled || vc.viewState.T_VALUEDATEMINN_689_CANCEL.disabledingroup" ng-show="vc.viewState.T_VALUEDATEMINN_689_CANCEL.visible" ng-class="vc.viewState.T_VALUEDATEMINN_689_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>