<!-- Designer Generator v 6.4.0.5 - SPR 2019-03 15/02/2019 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_DOCUMENTSS_852411" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_DOCUMENTSS_852411.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_DOCUMENTSS_273--> 
  <div id="VC_DOCUMENTSS_852411" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_DOCUMENSSS_356273" ng-show="vc.viewState.G_DOCUMENSSS_356273.visible" ng-class="vc.viewState.G_DOCUMENSSS_356273.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_DOCUMENSSS_356273" k-options="validatorOptions" id="G_DOCUMENSSS_356273_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-2" ng-show="vc.viewState.o1819.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-2" ng-show="vc.viewState.Spacer2706.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_CLIENTNAMEKVNFS_105273.visible"> 
        <div class="form-group" id="VA_CLIENTNAMEKVNFS_105273_DIV"> 
         <label for="VA_CLIENTNAMEKVNFS_105273" title="{{vc.viewState.VA_CLIENTNAMEKVNFS_105273.label|translate:vc.viewState.VA_CLIENTNAMEKVNFS_105273.labelArgs}}" ng-show="vc.viewState.VA_CLIENTNAMEKVNFS_105273.visible" class="control-label">{{vc.viewState.VA_CLIENTNAMEKVNFS_105273.label|translate:vc.viewState.VA_CLIENTNAMEKVNFS_105273.labelArgs}}</label> 
         <div class="cb-control"> 
          <div class="input-group"> 
           <input id="VA_CLIENTNAMEKVNFS_105273" name="HeaderQueryDocuments_clientName" type="text" class="form-control" ng-model="vc.model.HeaderQueryDocuments.clientName" ng-disabled="vc.viewState.VA_CLIENTNAMEKVNFS_105273.disabled || vc.viewState.VA_CLIENTNAMEKVNFS_105273.disabledingroup" ng-show="vc.viewState.VA_CLIENTNAMEKVNFS_105273.visible" ng-readonly="vc.viewState.VA_CLIENTNAMEKVNFS_105273.readonly" ng-class="vc.viewState.VA_CLIENTNAMEKVNFS_105273.style" data-cobis-group="Group,G_DOCUMENSSS_356273,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_CLIENTNAMEKVNFS_105273.validationCode}}" /> 
           <div class="input-group-btn"> 
            <button class="btn btn-default btn-block" ng-click="vc.clickTextInputButton('VA_CLIENTNAMEKVNFS_105273')" ng-disabled="vc.viewState.VA_CLIENTNAMEKVNFS_105273.disabled || vc.viewState.VA_CLIENTNAMEKVNFS_105273.disabledingroup" ng-show="vc.viewState.VA_CLIENTNAMEKVNFS_105273.visible" ng-class="vc.viewState.VA_CLIENTNAMEKVNFS_105273.style"> <span class="glyphicon glyphicon-align-justify"></span> </button> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_GROUPNAMESGBTSG_671273.visible"> 
        <div class="form-group" id="VA_GROUPNAMESGBTSG_671273_DIV"> 
         <label for="VA_GROUPNAMESGBTSG_671273" title="{{vc.viewState.VA_GROUPNAMESGBTSG_671273.label|translate:vc.viewState.VA_GROUPNAMESGBTSG_671273.labelArgs}}" ng-show="vc.viewState.VA_GROUPNAMESGBTSG_671273.visible" class="control-label">{{vc.viewState.VA_GROUPNAMESGBTSG_671273.label|translate:vc.viewState.VA_GROUPNAMESGBTSG_671273.labelArgs}}</label> 
         <div class="cb-control"> 
          <div class="input-group"> 
           <input id="VA_GROUPNAMESGBTSG_671273" name="HeaderQueryDocuments_groupName" type="text" class="form-control" ng-model="vc.model.HeaderQueryDocuments.groupName" ng-disabled="vc.viewState.VA_GROUPNAMESGBTSG_671273.disabled || vc.viewState.VA_GROUPNAMESGBTSG_671273.disabledingroup" ng-show="vc.viewState.VA_GROUPNAMESGBTSG_671273.visible" ng-readonly="vc.viewState.VA_GROUPNAMESGBTSG_671273.readonly" ng-class="vc.viewState.VA_GROUPNAMESGBTSG_671273.style" data-cobis-group="Group,G_DOCUMENSSS_356273,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_GROUPNAMESGBTSG_671273.validationCode}}" /> 
           <div class="input-group-btn"> 
            <button class="btn btn-default btn-block" ng-click="vc.clickTextInputButton('VA_GROUPNAMESGBTSG_671273')" ng-disabled="vc.viewState.VA_GROUPNAMESGBTSG_671273.disabled || vc.viewState.VA_GROUPNAMESGBTSG_671273.disabledingroup" ng-show="vc.viewState.VA_GROUPNAMESGBTSG_671273.visible" ng-class="vc.viewState.VA_GROUPNAMESGBTSG_671273.style"> <span class="glyphicon glyphicon-align-justify"></span> </button> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-2" ng-show="vc.viewState.VA_LOANJCWSDUZDVBY_433273.visible"> 
        <div class="form-group" id="VA_LOANJCWSDUZDVBY_433273_DIV"> 
         <label for="VA_LOANJCWSDUZDVBY_433273" title="{{vc.viewState.VA_LOANJCWSDUZDVBY_433273.label|translate:vc.viewState.VA_LOANJCWSDUZDVBY_433273.labelArgs}}" ng-show="vc.viewState.VA_LOANJCWSDUZDVBY_433273.visible" class="control-label">{{vc.viewState.VA_LOANJCWSDUZDVBY_433273.label|translate:vc.viewState.VA_LOANJCWSDUZDVBY_433273.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_LOANJCWSDUZDVBY_433273" name="HeaderQueryDocuments_loan" type="text" class="form-control" ng-model="vc.model.HeaderQueryDocuments.loan" ng-disabled="vc.viewState.VA_LOANJCWSDUZDVBY_433273.disabled || vc.viewState.VA_LOANJCWSDUZDVBY_433273.disabledingroup" ng-show="vc.viewState.VA_LOANJCWSDUZDVBY_433273.visible" ng-readonly="vc.viewState.VA_LOANJCWSDUZDVBY_433273.readonly" ng-class="vc.viewState.VA_LOANJCWSDUZDVBY_433273.style" data-cobis-group="Group,G_DOCUMENSSS_356273,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_LOANJCWSDUZDVBY_433273.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-2" ng-show="vc.viewState.VA_TRAMITEEYNPZOKI_520273.visible"> 
        <div class="form-group" id="VA_TRAMITEEYNPZOKI_520273_DIV"> 
         <label for="VA_TRAMITEEYNPZOKI_520273" title="{{vc.viewState.VA_TRAMITEEYNPZOKI_520273.label|translate:vc.viewState.VA_TRAMITEEYNPZOKI_520273.labelArgs}}" ng-show="vc.viewState.VA_TRAMITEEYNPZOKI_520273.visible" class="control-label">{{vc.viewState.VA_TRAMITEEYNPZOKI_520273.label|translate:vc.viewState.VA_TRAMITEEYNPZOKI_520273.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_TRAMITEEYNPZOKI_520273" name="HeaderQueryDocuments_procedure" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_TRAMITEEYNPZOKI_520273.decimals" k-format="vc.viewState.VA_TRAMITEEYNPZOKI_520273.format" k-ng-model="vc.model.HeaderQueryDocuments.procedure" ng-model="vc.tmpModel.HeaderQueryDocuments.procedure" ng-disabled="vc.viewState.VA_TRAMITEEYNPZOKI_520273.disabled || vc.viewState.VA_TRAMITEEYNPZOKI_520273.disabledingroup" ng-show="vc.viewState.VA_TRAMITEEYNPZOKI_520273.visible" ng-readonly="vc.viewState.VA_TRAMITEEYNPZOKI_520273.readonly" ng-class="vc.viewState.VA_TRAMITEEYNPZOKI_520273.style" data-cobis-group="Group,G_DOCUMENSSS_356273,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_TRAMITEEYNPZOKI_520273.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONRLGUJMS_186273.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONRLGUJMS_186273" class="btn btn-default btn-block" ng-click="vc.executeQueryControl(vc.getRequestQuery_Q_DOCUMETD_9888(),'',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONRLGUJMS_186273.disabled || vc.viewState.VA_VABUTTONRLGUJMS_186273.disabledingroup" ng-show="vc.viewState.VA_VABUTTONRLGUJMS_186273.visible" ng-class="vc.viewState.VA_VABUTTONRLGUJMS_186273.style"> {{vc.viewState.VA_VABUTTONRLGUJMS_186273.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_DOCUMENTSS_890273" ng-show="vc.viewState.G_DOCUMENTSS_890273.visible" ng-class="vc.viewState.G_DOCUMENTSS_890273.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_DOCUMENTSS_890273" k-options="validatorOptions" id="G_DOCUMENTSS_890273_VAL"> 
     <div id="QV_5385_46042" kendo-ext-grid="grids.QV_5385_46042" k-data-source="vc.model.QueryDocumentCredit" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_5385_46042.editable" k-toolbar="vc.grids.QV_5385_46042.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_5385_46042.events.dataBound" k-columns="vc.grids.QV_5385_46042.columns" k-cancel="vc.grids.QV_5385_46042.events.cancel" k-edit="vc.grids.QV_5385_46042.events.edit" k-data-binding="vc.grids.QV_5385_46042.events.dataBinding" ng-class="vc.viewState.QV_5385_46042.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </div> 
   <div id="G_DOCUMENSSS_770273" ng-show="vc.viewState.G_DOCUMENSSS_770273.visible" ng-class="vc.viewState.G_DOCUMENSSS_770273.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_DOCUMENSSS_770273" k-options="validatorOptions" id="G_DOCUMENSSS_770273_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-12" ng-show="vc.viewState.VA_VASEPARATORVGIV_932273.visible"> 
        <hr class="d-hr" ng-disabled="vc.viewState.VA_VASEPARATORVGIV_932273.disabled || vc.viewState.VA_VASEPARATORVGIV_932273.disabledingroup" ng-show="vc.viewState.VA_VASEPARATORVGIV_932273.visible" ng-readonly="vc.viewState.VA_VASEPARATORVGIV_932273.readonly" ng-class="vc.viewState.VA_VASEPARATORVGIV_932273.style" /> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_DOCUMENTTS_255273" ng-show="vc.viewState.G_DOCUMENTTS_255273.visible" ng-class="vc.viewState.G_DOCUMENTTS_255273.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_DOCUMENTTS_255273" k-options="validatorOptions" id="G_DOCUMENTTS_255273_VAL"> 
     <div id="QV_9888_36569" kendo-ext-grid="grids.QV_9888_36569" k-data-source="vc.model.QueryDocumentsGrid" k-column-menu="false" k-sortable="false" k-pageable="{refresh: false, pageSizes: false, buttonCount: 5}" k-editable="vc.grids.QV_9888_36569.editable" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_9888_36569.events.dataBound" k-columns="vc.grids.QV_9888_36569.columns" k-cancel="vc.grids.QV_9888_36569.events.cancel" k-edit="vc.grids.QV_9888_36569.events.edit" k-data-binding="vc.grids.QV_9888_36569.events.dataBinding" k-detail-template="vc.grids.QV_9888_36569.detailTemplate" k-detail-expand="vc.grids.QV_9888_36569.events.detailExpand" ng-class="vc.viewState.QV_9888_36569.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_DOCUMENTSS_273--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_ASSTSNTIMXUPV_411_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_DOCUMENTSS_852411')" ng-disabled="vc.viewState.T_ASSTSNTIMXUPV_411_ACCEPT.disabled || vc.viewState.T_ASSTSNTIMXUPV_411_ACCEPT.disabledingroup" ng-show="vc.viewState.T_ASSTSNTIMXUPV_411_ACCEPT.visible" ng-class="vc.viewState.T_ASSTSNTIMXUPV_411_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_ASSTSNTIMXUPV_411_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_ASSTSNTIMXUPV_411_CANCEL.disabled || vc.viewState.T_ASSTSNTIMXUPV_411_CANCEL.disabledingroup" ng-show="vc.viewState.T_ASSTSNTIMXUPV_411_CANCEL.visible" ng-class="vc.viewState.T_ASSTSNTIMXUPV_411_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>