<!-- Designer Generator v 5.0.0.1626 - release SPR 2016-26 08/01/2016 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_MNNIN29_RZNTE_283" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_MNNIN29_RZNTE_283.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_MNNIN29_RZNTE_283" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="GR_IEWMAIZFNE81_03" ng-show="vc.viewState.GR_IEWMAIZFNE81_03.visible" ng-class="vc.viewState.GR_IEWMAIZFNE81_03.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="GR_IEWMAIZFNE81_03" k-options="validatorOptions" id="GR_IEWMAIZFNE81_03_VAL"> 
     <div class="form-horizontal"> 
      <div class="row"> 
       <div class="col-xs-6" ng-show="vc.viewState.VA_IEWMAIZFNE8103_NSOR646.visible"> 
        <div class="form-group cb-required" id="VA_IEWMAIZFNE8103_NSOR646_DIV"> 
         <label for="VA_IEWMAIZFNE8103_NSOR646" title="{{vc.viewState.VA_IEWMAIZFNE8103_NSOR646.label|translate:vc.viewState.VA_IEWMAIZFNE8103_NSOR646.labelArgs}}" ng-show="vc.viewState.VA_IEWMAIZFNE8103_NSOR646.visible" class="col-sm-4 control-label">{{vc.viewState.VA_IEWMAIZFNE8103_NSOR646.label|translate:vc.viewState.VA_IEWMAIZFNE8103_NSOR646.labelArgs}}</label> 
         <div class="col-sm-8"> 
          <div class="cb-control"> 
           <input id="VA_IEWMAIZFNE8103_NSOR646" name="SourceFunding_FundingSource" kendo-ext-combo-box="comboBox.VA_IEWMAIZFNE8103_NSOR646" ng-model="vc.model.SourceFunding.FundingSource" ng-disabled="vc.viewState.VA_IEWMAIZFNE8103_NSOR646.disabled || vc.viewState.VA_IEWMAIZFNE8103_NSOR646.disabledingroup" ng-show="vc.viewState.VA_IEWMAIZFNE8103_NSOR646.visible" ng-readonly="vc.viewState.VA_IEWMAIZFNE8103_NSOR646.readonly" ng-class="vc.viewState.VA_IEWMAIZFNE8103_NSOR646.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_IEWMAIZFNE8103_NSOR646" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_IEWMAIZFNE8103_NSOR646.template" data-cobis-group="Group,GR_IEWMAIZFNE81_03,0" required data-validation-code="{{vc.viewState.VA_IEWMAIZFNE8103_NSOR646.validationCode}}" data-required-msg="{{'BUSIN.DLB_BUSIN_ETDEFAAMI_27181'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-6" ng-show="vc.viewState.VA_IEWMAIZFNE8103_EORY360.visible"> 
        <div class="form-group cb-required" id="VA_IEWMAIZFNE8103_EORY360_DIV"> 
         <label for="VA_IEWMAIZFNE8103_EORY360" title="{{vc.viewState.VA_IEWMAIZFNE8103_EORY360.label|translate:vc.viewState.VA_IEWMAIZFNE8103_EORY360.labelArgs}}" ng-show="vc.viewState.VA_IEWMAIZFNE8103_EORY360.visible" class="col-sm-4 control-label">{{vc.viewState.VA_IEWMAIZFNE8103_EORY360.label|translate:vc.viewState.VA_IEWMAIZFNE8103_EORY360.labelArgs}}</label> 
         <div class="col-sm-8"> 
          <div class="cb-control"> 
           <input id="VA_IEWMAIZFNE8103_EORY360" name="SourceFunding_SectorActivity" kendo-ext-combo-box="comboBox.VA_IEWMAIZFNE8103_EORY360" ng-model="vc.model.SourceFunding.SectorActivity" ng-disabled="vc.viewState.VA_IEWMAIZFNE8103_EORY360.disabled || vc.viewState.VA_IEWMAIZFNE8103_EORY360.disabledingroup" ng-show="vc.viewState.VA_IEWMAIZFNE8103_EORY360.visible" ng-readonly="vc.viewState.VA_IEWMAIZFNE8103_EORY360.readonly" ng-class="vc.viewState.VA_IEWMAIZFNE8103_EORY360.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_IEWMAIZFNE8103_EORY360" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_IEWMAIZFNE8103_EORY360.template" data-cobis-group="Group,GR_IEWMAIZFNE81_03,0" required data-validation-code="{{vc.viewState.VA_IEWMAIZFNE8103_EORY360.validationCode}}" data-required-msg="{{'BUSIN.DLB_BUSIN_CTDEACIDD_46781'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-6" ng-show="vc.viewState.VA_IEWMAIZFNE8103_OJEC503.visible"> 
        <div class="form-group cb-required" id="VA_IEWMAIZFNE8103_OJEC503_DIV"> 
         <label for="VA_IEWMAIZFNE8103_OJEC503" title="{{vc.viewState.VA_IEWMAIZFNE8103_OJEC503.label|translate:vc.viewState.VA_IEWMAIZFNE8103_OJEC503.labelArgs}}" ng-show="vc.viewState.VA_IEWMAIZFNE8103_OJEC503.visible" class="col-sm-4 control-label">{{vc.viewState.VA_IEWMAIZFNE8103_OJEC503.label|translate:vc.viewState.VA_IEWMAIZFNE8103_OJEC503.labelArgs}}</label> 
         <div class="col-sm-8"> 
          <div class="cb-control"> 
           <input id="VA_IEWMAIZFNE8103_OJEC503" name="SourceFunding_ObjectCredit" kendo-ext-combo-box="comboBox.VA_IEWMAIZFNE8103_OJEC503" ng-model="vc.model.SourceFunding.ObjectCredit" ng-disabled="vc.viewState.VA_IEWMAIZFNE8103_OJEC503.disabled || vc.viewState.VA_IEWMAIZFNE8103_OJEC503.disabledingroup" ng-show="vc.viewState.VA_IEWMAIZFNE8103_OJEC503.visible" ng-readonly="vc.viewState.VA_IEWMAIZFNE8103_OJEC503.readonly" ng-class="vc.viewState.VA_IEWMAIZFNE8103_OJEC503.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_IEWMAIZFNE8103_OJEC503" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_IEWMAIZFNE8103_OJEC503.template" data-cobis-group="Group,GR_IEWMAIZFNE81_03,0" required data-validation-code="{{vc.viewState.VA_IEWMAIZFNE8103_OJEC503.validationCode}}" data-required-msg="{{'BUSIN.DLB_BUSIN_ETCREDITO_65642'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-6" ng-show="vc.viewState.VA_IEWMAIZFNE8103_CRNC295.visible"> 
        <div class="form-group cb-required" id="VA_IEWMAIZFNE8103_CRNC295_DIV"> 
         <label for="VA_IEWMAIZFNE8103_CRNC295" title="{{vc.viewState.VA_IEWMAIZFNE8103_CRNC295.label|translate:vc.viewState.VA_IEWMAIZFNE8103_CRNC295.labelArgs}}" ng-show="vc.viewState.VA_IEWMAIZFNE8103_CRNC295.visible" class="col-sm-4 control-label">{{vc.viewState.VA_IEWMAIZFNE8103_CRNC295.label|translate:vc.viewState.VA_IEWMAIZFNE8103_CRNC295.labelArgs}}</label> 
         <div class="col-sm-8"> 
          <div class="cb-control"> 
           <input id="VA_IEWMAIZFNE8103_CRNC295" name="SourceFunding_Currency" kendo-ext-combo-box="comboBox.VA_IEWMAIZFNE8103_CRNC295" ng-model="vc.model.SourceFunding.Currency" ng-disabled="vc.viewState.VA_IEWMAIZFNE8103_CRNC295.disabled || vc.viewState.VA_IEWMAIZFNE8103_CRNC295.disabledingroup" ng-show="vc.viewState.VA_IEWMAIZFNE8103_CRNC295.visible" ng-readonly="vc.viewState.VA_IEWMAIZFNE8103_CRNC295.readonly" ng-class="vc.viewState.VA_IEWMAIZFNE8103_CRNC295.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_IEWMAIZFNE8103_CRNC295" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_IEWMAIZFNE8103_CRNC295.template" data-cobis-group="Group,GR_IEWMAIZFNE81_03,0" required data-validation-code="{{vc.viewState.VA_IEWMAIZFNE8103_CRNC295.validationCode}}" data-required-msg="{{'BUSIN.DLB_BUSIN_MONEDAQAQ_04700'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-6" ng-show="vc.viewState.VA_IEWMAIZFNE8103_NUNM104.visible"> 
        <div class="form-group" id="VA_IEWMAIZFNE8103_NUNM104_DIV"> 
         <label for="VA_IEWMAIZFNE8103_NUNM104" title="{{vc.viewState.VA_IEWMAIZFNE8103_NUNM104.label|translate:vc.viewState.VA_IEWMAIZFNE8103_NUNM104.labelArgs}}" ng-show="vc.viewState.VA_IEWMAIZFNE8103_NUNM104.visible" class="col-sm-4 control-label">{{vc.viewState.VA_IEWMAIZFNE8103_NUNM104.label|translate:vc.viewState.VA_IEWMAIZFNE8103_NUNM104.labelArgs}}</label> 
         <div class="col-sm-8"> 
          <div class="cb-control"> 
           <input id="VA_IEWMAIZFNE8103_NUNM104" name="SourceFunding_MinimunAmout" maxlength="53" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_IEWMAIZFNE8103_NUNM104.format" k-decimals="vc.viewState.VA_IEWMAIZFNE8103_NUNM104.decimals" k-ng-model="vc.model.SourceFunding.MinimunAmout" ng-model="vc.tmpModel.SourceFunding.MinimunAmout" ng-disabled="vc.viewState.VA_IEWMAIZFNE8103_NUNM104.disabled || vc.viewState.VA_IEWMAIZFNE8103_NUNM104.disabledingroup" ng-show="vc.viewState.VA_IEWMAIZFNE8103_NUNM104.visible" ng-readonly="vc.viewState.VA_IEWMAIZFNE8103_NUNM104.readonly" ng-class="vc.viewState.VA_IEWMAIZFNE8103_NUNM104.style" data-cobis-group="Group,GR_IEWMAIZFNE81_03,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_IEWMAIZFNE8103_NUNM104.validationCode}}" /> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-6" ng-show="vc.viewState.VA_IEWMAIZFNE8103_MNAT655.visible"> 
        <div class="form-group" id="VA_IEWMAIZFNE8103_MNAT655_DIV"> 
         <label for="VA_IEWMAIZFNE8103_MNAT655" title="{{vc.viewState.VA_IEWMAIZFNE8103_MNAT655.label|translate:vc.viewState.VA_IEWMAIZFNE8103_MNAT655.labelArgs}}" ng-show="vc.viewState.VA_IEWMAIZFNE8103_MNAT655.visible" class="col-sm-4 control-label">{{vc.viewState.VA_IEWMAIZFNE8103_MNAT655.label|translate:vc.viewState.VA_IEWMAIZFNE8103_MNAT655.labelArgs}}</label> 
         <div class="col-sm-8"> 
          <div class="cb-control"> 
           <input id="VA_IEWMAIZFNE8103_MNAT655" name="SourceFunding_MaximunAmount" maxlength="53" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_IEWMAIZFNE8103_MNAT655.format" k-decimals="vc.viewState.VA_IEWMAIZFNE8103_MNAT655.decimals" k-ng-model="vc.model.SourceFunding.MaximunAmount" ng-model="vc.tmpModel.SourceFunding.MaximunAmount" ng-disabled="vc.viewState.VA_IEWMAIZFNE8103_MNAT655.disabled || vc.viewState.VA_IEWMAIZFNE8103_MNAT655.disabledingroup" ng-show="vc.viewState.VA_IEWMAIZFNE8103_MNAT655.visible" ng-readonly="vc.viewState.VA_IEWMAIZFNE8103_MNAT655.readonly" ng-class="vc.viewState.VA_IEWMAIZFNE8103_MNAT655.style" data-cobis-group="Group,GR_IEWMAIZFNE81_03,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_IEWMAIZFNE8103_MNAT655.validationCode}}" /> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-6" ng-show="vc.viewState.VA_IEWMAIZFNE8103_ATNC275.visible"> 
        <div class="form-group" id="VA_IEWMAIZFNE8103_ATNC275_DIV"> 
         <label for="VA_IEWMAIZFNE8103_ATNC275" title="{{vc.viewState.VA_IEWMAIZFNE8103_ATNC275.label|translate:vc.viewState.VA_IEWMAIZFNE8103_ATNC275.labelArgs}}" ng-show="vc.viewState.VA_IEWMAIZFNE8103_ATNC275.visible" class="col-sm-4 control-label">{{vc.viewState.VA_IEWMAIZFNE8103_ATNC275.label|translate:vc.viewState.VA_IEWMAIZFNE8103_ATNC275.labelArgs}}</label> 
         <div class="col-sm-8"> 
          <div class="cb-control"> 
           <input id="VA_IEWMAIZFNE8103_ATNC275" name="SourceFunding_PaymentFrecuency" kendo-ext-combo-box="comboBox.VA_IEWMAIZFNE8103_ATNC275" ng-model="vc.model.SourceFunding.PaymentFrecuency" ng-disabled="vc.viewState.VA_IEWMAIZFNE8103_ATNC275.disabled || vc.viewState.VA_IEWMAIZFNE8103_ATNC275.disabledingroup" ng-show="vc.viewState.VA_IEWMAIZFNE8103_ATNC275.visible" ng-readonly="vc.viewState.VA_IEWMAIZFNE8103_ATNC275.readonly" ng-class="vc.viewState.VA_IEWMAIZFNE8103_ATNC275.style" k-data-source="vc.catalogs.VA_IEWMAIZFNE8103_ATNC275" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_IEWMAIZFNE8103_ATNC275.template" data-cobis-group="Group,GR_IEWMAIZFNE81_03,0" data-validation-code="{{vc.viewState.VA_IEWMAIZFNE8103_ATNC275.validationCode}}" /> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-6" ng-show="vc.viewState.VA_IEWMAIZFNE8103_IIRM301.visible"> 
        <div class="form-group" id="VA_IEWMAIZFNE8103_IIRM301_DIV"> 
         <label for="VA_IEWMAIZFNE8103_IIRM301" title="{{vc.viewState.VA_IEWMAIZFNE8103_IIRM301.label|translate:vc.viewState.VA_IEWMAIZFNE8103_IIRM301.labelArgs}}" ng-show="vc.viewState.VA_IEWMAIZFNE8103_IIRM301.visible" class="col-sm-4 control-label">{{vc.viewState.VA_IEWMAIZFNE8103_IIRM301.label|translate:vc.viewState.VA_IEWMAIZFNE8103_IIRM301.labelArgs}}</label> 
         <div class="col-sm-8"> 
          <div class="cb-control"> 
           <input id="VA_IEWMAIZFNE8103_IIRM301" name="SourceFunding_MaximunTerm" maxlength="5" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_IEWMAIZFNE8103_IIRM301.decimals" k-format="vc.viewState.VA_IEWMAIZFNE8103_IIRM301.format" k-ng-model="vc.model.SourceFunding.MaximunTerm" ng-model="vc.tmpModel.SourceFunding.MaximunTerm" ng-disabled="vc.viewState.VA_IEWMAIZFNE8103_IIRM301.disabled || vc.viewState.VA_IEWMAIZFNE8103_IIRM301.disabledingroup" ng-show="vc.viewState.VA_IEWMAIZFNE8103_IIRM301.visible" ng-readonly="vc.viewState.VA_IEWMAIZFNE8103_IIRM301.readonly" ng-class="vc.viewState.VA_IEWMAIZFNE8103_IIRM301.style" data-cobis-group="Group,GR_IEWMAIZFNE81_03,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_IEWMAIZFNE8103_IIRM301.validationCode}}" /> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-6" ng-show="vc.viewState.VA_IEWMAIZFNE8103_XMUT420.visible"> 
        <div class="form-group" id="VA_IEWMAIZFNE8103_XMUT420_DIV"> 
         <label for="VA_IEWMAIZFNE8103_XMUT420" title="{{vc.viewState.VA_IEWMAIZFNE8103_XMUT420.label|translate:vc.viewState.VA_IEWMAIZFNE8103_XMUT420.labelArgs}}" ng-show="vc.viewState.VA_IEWMAIZFNE8103_XMUT420.visible" class="col-sm-4 control-label">{{vc.viewState.VA_IEWMAIZFNE8103_XMUT420.label|translate:vc.viewState.VA_IEWMAIZFNE8103_XMUT420.labelArgs}}</label> 
         <div class="col-sm-8"> 
          <div class="cb-control"> 
           <input id="VA_IEWMAIZFNE8103_XMUT420" name="SourceFunding_MinimunRate" maxlength="5" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_IEWMAIZFNE8103_XMUT420.decimals" k-format="vc.viewState.VA_IEWMAIZFNE8103_XMUT420.format" k-ng-model="vc.model.SourceFunding.MinimunRate" ng-model="vc.tmpModel.SourceFunding.MinimunRate" ng-disabled="vc.viewState.VA_IEWMAIZFNE8103_XMUT420.disabled || vc.viewState.VA_IEWMAIZFNE8103_XMUT420.disabledingroup" ng-show="vc.viewState.VA_IEWMAIZFNE8103_XMUT420.visible" ng-readonly="vc.viewState.VA_IEWMAIZFNE8103_XMUT420.readonly" ng-class="vc.viewState.VA_IEWMAIZFNE8103_XMUT420.style" data-cobis-group="Group,GR_IEWMAIZFNE81_03,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_IEWMAIZFNE8103_XMUT420.validationCode}}" /> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-6" ng-show="vc.viewState.VA_IEWMAIZFNE8103_MXAE490.visible"> 
        <div class="form-group" id="VA_IEWMAIZFNE8103_MXAE490_DIV"> 
         <label for="VA_IEWMAIZFNE8103_MXAE490" title="{{vc.viewState.VA_IEWMAIZFNE8103_MXAE490.label|translate:vc.viewState.VA_IEWMAIZFNE8103_MXAE490.labelArgs}}" ng-show="vc.viewState.VA_IEWMAIZFNE8103_MXAE490.visible" class="col-sm-4 control-label">{{vc.viewState.VA_IEWMAIZFNE8103_MXAE490.label|translate:vc.viewState.VA_IEWMAIZFNE8103_MXAE490.labelArgs}}</label> 
         <div class="col-sm-8"> 
          <div class="cb-control"> 
           <input id="VA_IEWMAIZFNE8103_MXAE490" name="SourceFunding_MaximunRate" maxlength="5" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_IEWMAIZFNE8103_MXAE490.decimals" k-format="vc.viewState.VA_IEWMAIZFNE8103_MXAE490.format" k-ng-model="vc.model.SourceFunding.MaximunRate" ng-model="vc.tmpModel.SourceFunding.MaximunRate" ng-disabled="vc.viewState.VA_IEWMAIZFNE8103_MXAE490.disabled || vc.viewState.VA_IEWMAIZFNE8103_MXAE490.disabledingroup" ng-show="vc.viewState.VA_IEWMAIZFNE8103_MXAE490.visible" ng-readonly="vc.viewState.VA_IEWMAIZFNE8103_MXAE490.readonly" ng-class="vc.viewState.VA_IEWMAIZFNE8103_MXAE490.style" data-cobis-group="Group,GR_IEWMAIZFNE81_03,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_IEWMAIZFNE8103_MXAE490.validationCode}}" /> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="GR_IEWMAIZFNE81_04" ng-show="vc.viewState.GR_IEWMAIZFNE81_04.visible" ng-class="vc.viewState.GR_IEWMAIZFNE81_04.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="GR_IEWMAIZFNE81_04" k-options="validatorOptions" id="GR_IEWMAIZFNE81_04_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_IEWMAIZFNE8104_0000033.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_IEWMAIZFNE8104_0000545.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <button id="VA_IEWMAIZFNE8104_0000545" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_IEWMAIZFNE8104_0000545','Guardar',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_IEWMAIZFNE8104_0000545.disabled || vc.viewState.VA_IEWMAIZFNE8104_0000545.disabledingroup" ng-show="vc.viewState.VA_IEWMAIZFNE8104_0000545.visible" ng-class="vc.viewState.VA_IEWMAIZFNE8104_0000545.style"> {{vc.viewState.VA_IEWMAIZFNE8104_0000545.label|translate}} </button> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_FLCRE_68_MNNIN29_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_MNNIN29_RZNTE_283')" ng-disabled="vc.viewState.T_FLCRE_68_MNNIN29_ACCEPT.disabled || vc.viewState.T_FLCRE_68_MNNIN29_ACCEPT.disabledingroup" ng-show="vc.viewState.T_FLCRE_68_MNNIN29_ACCEPT.visible" ng-class="vc.viewState.T_FLCRE_68_MNNIN29_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_FLCRE_68_MNNIN29_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_FLCRE_68_MNNIN29_CANCEL.disabled || vc.viewState.T_FLCRE_68_MNNIN29_CANCEL.disabledingroup" ng-show="vc.viewState.T_FLCRE_68_MNNIN29_CANCEL.visible" ng-class="vc.viewState.T_FLCRE_68_MNNIN29_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>