<!-- Designer Generator v 6.4.0.5 - SPR 2019-03 15/02/2019 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_GENERALBSI_401479" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_GENERALBSI_401479.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_GENERALBSS_568--> 
  <div id="VC_GENERALBSI_401479" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div designer-form-load form="vc.viewState.G_GENERALSSA_700568" class="cb-group cb-group-html-section"> 
   </div> 
   <div designer-form-load form="vc.viewState.G_GENERALUSS_474568" class="cb-group cb-group-html-section"> 
   </div> 
   <div id="G_GENERALUUS_939568" ng-show="vc.viewState.G_GENERALUUS_939568.visible" ng-class="vc.viewState.G_GENERALUUS_939568.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_GENERALUUS_939568" k-options="validatorOptions" id="G_GENERALUUS_939568_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer1609.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_GENERALBSS_568--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_BSSNSKNPPLXIB_479_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_GENERALBSI_401479')" ng-disabled="vc.viewState.T_BSSNSKNPPLXIB_479_ACCEPT.disabled || vc.viewState.T_BSSNSKNPPLXIB_479_ACCEPT.disabledingroup" ng-show="vc.viewState.T_BSSNSKNPPLXIB_479_ACCEPT.visible" ng-class="vc.viewState.T_BSSNSKNPPLXIB_479_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_BSSNSKNPPLXIB_479_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_BSSNSKNPPLXIB_479_CANCEL.disabled || vc.viewState.T_BSSNSKNPPLXIB_479_CANCEL.disabledingroup" ng-show="vc.viewState.T_BSSNSKNPPLXIB_479_CANCEL.visible" ng-class="vc.viewState.T_BSSNSKNPPLXIB_479_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>