<!-- Designer Generator v 6.0.0 - release SPR 2016-16 19/08/2016 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_OTENA94_SELZT_306" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_OTENA94_SELZT_306.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_OTENA94_SELZT_306" ng-keydown="vc.viewState.keyDown($event)" class="cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="VC_OTENA94_HRIZT_422" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_OTENA94_HRIZT_422', vc.viewState.VC_OTENA94_HRIZT_422.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_OTENA94_HRIZT_422.visible"> 
    <div id="VC_OTENA94_HRIZT_422_VAL" kendo-validator="VC_OTENA94_HRIZT_422" k-options="validatorOptions"> 
     <!-- Inicio item VW_HEAPNAIION05--> 
     <div id="GR_HEAPNAIION05_58" ng-show="vc.viewState.GR_HEAPNAIION05_58.visible" ng-class="vc.viewState.GR_HEAPNAIION05_58.style" class="cb-group cb-group-simple"> 
      <div kendo-validator="GR_HEAPNAIION05_58" k-options="validatorOptions" id="GR_HEAPNAIION05_58_VAL"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_HEAPNAIION0558_ORTT848.visible"> 
          <div class="form-group" id="VA_HEAPNAIION0558_ORTT848_DIV"> 
           <label for="VA_HEAPNAIION0558_ORTT848" title="{{vc.viewState.VA_HEAPNAIION0558_ORTT848.label|translate:vc.viewState.VA_HEAPNAIION0558_ORTT848.labelArgs}}" ng-show="vc.viewState.VA_HEAPNAIION0558_ORTT848.visible" class="control-label">{{vc.viewState.VA_HEAPNAIION0558_ORTT848.label|translate:vc.viewState.VA_HEAPNAIION0558_ORTT848.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_HEAPNAIION0558_ORTT848" name="HeaderPunishment_CourtDate" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.HeaderPunishment.CourtDate" ng-model="vc.tmpModel.HeaderPunishment.CourtDate" ng-disabled="vc.viewState.VA_HEAPNAIION0558_ORTT848.disabled || vc.viewState.VA_HEAPNAIION0558_ORTT848.disabledingroup" ng-show="vc.viewState.VA_HEAPNAIION0558_ORTT848.visible" ng-readonly="vc.viewState.VA_HEAPNAIION0558_ORTT848.readonly" ng-class="vc.viewState.VA_HEAPNAIION0558_ORTT848.style" data-cobis-group="Group,GR_HEAPNAIION05_58,0" data-validation-code="{{vc.viewState.VA_HEAPNAIION0558_ORTT848.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <!-- Fin item VW_HEAPNAIION05--> 
    </div> 
   </div> 
   <fieldset id="VC_OTENA94_LDAAI_739" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_OTENA94_LDAAI_739', vc.viewState.VC_OTENA94_LDAAI_739.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_OTENA94_LDAAI_739.visible"> 
    <legend> <span ng-bind="vc.viewState.VC_OTENA94_LDAAI_739.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.VC_OTENA94_LDAAI_739.statusStyle.success, 'cb-validation-fail': vc.viewState.VC_OTENA94_LDAAI_739.statusStyle.fail, 'cb-validation-none': vc.viewState.VC_OTENA94_LDAAI_739.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.VC_OTENA94_LDAAI_739.label|translate}}</span> </legend> 
    <div id="VC_OTENA94_LDAAI_739_VAL" kendo-validator="VC_OTENA94_LDAAI_739" k-options="validatorOptions"> 
     <!-- Inicio item VW_VOSOLDTENI35--> 
     <div id="GR_VOSOLDTENI35_11" ng-class="vc.viewState.GR_VOSOLDTENI35_11.style" class="cb-group cb-group-layout"> 
      <div id="GR_VOSOLDTENI35_11_VAL" kendo-validator="GR_VOSOLDTENI35_11" k-options="validatorOptions"> 
       <div id="GR_VOSOLDTENI35_04" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_VOSOLDTENI35_04.visible" ng-class="vc.viewState.GR_VOSOLDTENI35_04.style"> 
        <div id="GR_VOSOLDTENI35_04_VAL" kendo-validator="GR_VOSOLDTENI35_04" k-options="validatorOptions"> 
         <div id="QV_DTPEA0472_42" kendo-ext-grid="grids.QV_DTPEA0472_42" k-data-source="vc.model.Punishment" k-column-menu="false" k-excel="vc.grids.QV_DTPEA0472_42.events.excel" k-sortable="false" k-editable="vc.viewState.GR_VOSOLDTENI35_04.disabled?false:'inline'" k-toolbar="vc.grids.QV_DTPEA0472_42.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-excel-export="vc.grids.QV_DTPEA0472_42.events.excelExport" k-data-bound="vc.grids.QV_DTPEA0472_42.events.dataBound" k-columns="vc.grids.QV_DTPEA0472_42.columns" k-cancel="vc.grids.QV_DTPEA0472_42.events.cancel" k-edit="vc.grids.QV_DTPEA0472_42.events.edit" k-data-binding="vc.grids.QV_DTPEA0472_42.events.dataBinding" k-detail-template="vc.grids.QV_DTPEA0472_42.detailTemplate" k-detail-expand="vc.grids.QV_DTPEA0472_42.events.detailExpand" ng-class="vc.viewState.QV_DTPEA0472_42.style" k-ng-delay="vc.afterInitData"></div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <!-- Fin item VW_VOSOLDTENI35--> 
    </div> 
   </fieldset> 
   <fieldset id="VC_OTENA94_UMOUN_680" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_OTENA94_UMOUN_680', vc.viewState.VC_OTENA94_UMOUN_680.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_OTENA94_UMOUN_680.visible"> 
    <legend> <span ng-bind="vc.viewState.VC_OTENA94_UMOUN_680.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.VC_OTENA94_UMOUN_680.statusStyle.success, 'cb-validation-fail': vc.viewState.VC_OTENA94_UMOUN_680.statusStyle.fail, 'cb-validation-none': vc.viewState.VC_OTENA94_UMOUN_680.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.VC_OTENA94_UMOUN_680.label|translate}}</span> </legend> 
    <div id="VC_OTENA94_UMOUN_680_VAL" kendo-validator="VC_OTENA94_UMOUN_680" k-options="validatorOptions"> 
     <!-- Inicio item VW_SUMARYAMNT49--> 
     <div id="GR_SUMARYAMNT49_32" ng-class="vc.viewState.GR_SUMARYAMNT49_32.style" class="cb-group cb-group-layout"> 
      <div id="GR_SUMARYAMNT49_32_VAL" kendo-validator="GR_SUMARYAMNT49_32" k-options="validatorOptions"> 
       <div id="GR_SUMARYAMNT49_36" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_SUMARYAMNT49_36.visible" ng-class="vc.viewState.GR_SUMARYAMNT49_36.style"> 
        <div id="GR_SUMARYAMNT49_36_VAL" kendo-validator="GR_SUMARYAMNT49_36" k-options="validatorOptions"> 
         <div id="QV_UMMAY4215_41" kendo-ext-grid="grids.QV_UMMAY4215_41" k-data-source="vc.model.SummaryAmount" k-column-menu="false" k-sortable="true" k-editable="vc.viewState.GR_SUMARYAMNT49_36.disabled?false:'inline'" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_UMMAY4215_41.events.dataBound" k-columns="vc.grids.QV_UMMAY4215_41.columns" k-cancel="vc.grids.QV_UMMAY4215_41.events.cancel" k-edit="vc.grids.QV_UMMAY4215_41.events.edit" ng-class="vc.viewState.QV_UMMAY4215_41.style" k-ng-delay="vc.afterInitData"></div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <!-- Fin item VW_SUMARYAMNT49--> 
    </div> 
   </fieldset> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_OTENA94GAD25" ng-click="vc.executeCommand('CM_OTENA94GAD25','Guardar', validator, true, false, 'VC_OTENA94_SELZT_306', false)" class="btn btn-primary navbar-btn" title="{{vc.viewState.CM_OTENA94GAD25.tooltip|translate}}" ng-disabled="vc.viewState.CM_OTENA94GAD25.disabled || vc.viewState.CM_OTENA94GAD25.disabledingroup" ng-show="vc.viewState.CM_OTENA94GAD25.visible" ng-class="vc.viewState.CM_OTENA94GAD25.style"> {{vc.viewState.CM_OTENA94GAD25.label|translate}} </button> 
    <button id="CM_OTENA94COM63" ng-click="vc.executeCommand('CM_OTENA94COM63','Recomendacion', validator, true, false, 'VC_OTENA94_SELZT_306', false)" class="btn btn-default navbar-btn" title="{{vc.viewState.CM_OTENA94COM63.tooltip|translate}}" ng-disabled="vc.viewState.CM_OTENA94COM63.disabled || vc.viewState.CM_OTENA94COM63.disabledingroup" ng-show="vc.viewState.CM_OTENA94COM63.visible" ng-class="vc.viewState.CM_OTENA94COM63.style"> {{vc.viewState.CM_OTENA94COM63.label|translate}} </button> 
    <button id="CM_OTENA94AAI98" ng-click="vc.executeCommand('CM_OTENA94AAI98','Affidavit', validator, true, false, 'VC_OTENA94_SELZT_306', false)" class="btn btn-default navbar-btn" title="{{vc.viewState.CM_OTENA94AAI98.tooltip|translate}}" ng-disabled="vc.viewState.CM_OTENA94AAI98.disabled || vc.viewState.CM_OTENA94AAI98.disabledingroup" ng-show="vc.viewState.CM_OTENA94AAI98.visible" ng-class="vc.viewState.CM_OTENA94AAI98.style"> {{vc.viewState.CM_OTENA94AAI98.label|translate}} </button> 
    <button id="CM_OTENA94IDE41" ng-click="vc.executeCommand('CM_OTENA94IDE41','Hide', validator, false, false, 'VC_OTENA94_SELZT_306', false)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_OTENA94IDE41.disabled || vc.viewState.CM_OTENA94IDE41.disabledingroup" ng-show="vc.viewState.CM_OTENA94IDE41.visible" ng-class="vc.viewState.CM_OTENA94IDE41.style"> {{vc.viewState.CM_OTENA94IDE41.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_FLCRE_45_OTENA94_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_OTENA94_SELZT_306')" ng-disabled="vc.viewState.T_FLCRE_45_OTENA94_ACCEPT.disabled || vc.viewState.T_FLCRE_45_OTENA94_ACCEPT.disabledingroup" ng-show="vc.viewState.T_FLCRE_45_OTENA94_ACCEPT.visible" ng-class="vc.viewState.T_FLCRE_45_OTENA94_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_FLCRE_45_OTENA94_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_FLCRE_45_OTENA94_CANCEL.disabled || vc.viewState.T_FLCRE_45_OTENA94_CANCEL.disabledingroup" ng-show="vc.viewState.T_FLCRE_45_OTENA94_CANCEL.visible" ng-class="vc.viewState.T_FLCRE_45_OTENA94_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>