<!-- Designer Generator v 6.4.0.5 - SPR 2019-03 15/02/2019 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_MODIFICAIC_908774" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_MODIFICAIC_908774.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_MODIFICACC_882--> 
  <div id="VC_MODIFICAIC_908774" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_MODIFICFAC_913882" ng-class="vc.viewState.G_MODIFICFAC_913882.style" class="cb-group cb-group-layout"> 
    <div id="G_MODIFICFAC_913882_VAL" kendo-validator="G_MODIFICFAC_913882" k-options="validatorOptions"> 
     <div id="G_MODIFICRNF_489882" class="cb-group cb-group-simple" ng-show="vc.viewState.G_MODIFICRNF_489882.visible" ng-class="vc.viewState.G_MODIFICRNF_489882.style"> 
      <div designer-form-load form="vc.viewState.G_MODIFICRNF_489882" class="cb-group cb-group-html-section"> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_MODIFICTOC_796882" ng-class="vc.viewState.G_MODIFICTOC_796882.style" class="cb-group cb-group-layout"> 
    <div id="G_MODIFICTOC_796882_VAL" kendo-validator="G_MODIFICTOC_796882" k-options="validatorOptions"> 
     <div id="G_MODIFICRCU_286882" class="cb-group cb-group-simple" ng-show="vc.viewState.G_MODIFICRCU_286882.visible" ng-class="vc.viewState.G_MODIFICRCU_286882.style"> 
      <div id="G_MODIFICRCU_286882_VAL" kendo-validator="G_MODIFICRCU_286882" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_SURNAMEJMXFJCDM_400882.visible"> 
          <div class="form-group cb-required" id="VA_SURNAMEJMXFJCDM_400882_DIV"> 
           <label for="VA_SURNAMEJMXFJCDM_400882" title="{{vc.viewState.VA_SURNAMEJMXFJCDM_400882.label|translate:vc.viewState.VA_SURNAMEJMXFJCDM_400882.labelArgs}}" ng-show="vc.viewState.VA_SURNAMEJMXFJCDM_400882.visible" class="control-label">{{vc.viewState.VA_SURNAMEJMXFJCDM_400882.label|translate:vc.viewState.VA_SURNAMEJMXFJCDM_400882.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_SURNAMEJMXFJCDM_400882" name="NaturalPerson_surname" maxlength="16" type="text" class="form-control" ng-model="vc.model.NaturalPerson.surname" ng-disabled="vc.viewState.VA_SURNAMEJMXFJCDM_400882.disabled || vc.viewState.VA_SURNAMEJMXFJCDM_400882.disabledingroup" ng-show="vc.viewState.VA_SURNAMEJMXFJCDM_400882.visible" ng-readonly="vc.viewState.VA_SURNAMEJMXFJCDM_400882.readonly" ng-class="vc.viewState.VA_SURNAMEJMXFJCDM_400882.style" data-cobis-group="GroupLayout,G_MODIFICTOC_796882,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_SURNAMEJMXFJCDM_400882.validationCode}}" data-required-msg="{{'CSTMR.LBL_CSTMR_APELLIDPT_76332'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_SECONDSURNAMEEE_993882.visible"> 
          <div class="form-group" id="VA_SECONDSURNAMEEE_993882_DIV"> 
           <label for="VA_SECONDSURNAMEEE_993882" title="{{vc.viewState.VA_SECONDSURNAMEEE_993882.label|translate:vc.viewState.VA_SECONDSURNAMEEE_993882.labelArgs}}" ng-show="vc.viewState.VA_SECONDSURNAMEEE_993882.visible" class="control-label">{{vc.viewState.VA_SECONDSURNAMEEE_993882.label|translate:vc.viewState.VA_SECONDSURNAMEEE_993882.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_SECONDSURNAMEEE_993882" name="NaturalPerson_secondSurname" maxlength="16" type="text" class="form-control" ng-model="vc.model.NaturalPerson.secondSurname" ng-disabled="vc.viewState.VA_SECONDSURNAMEEE_993882.disabled || vc.viewState.VA_SECONDSURNAMEEE_993882.disabledingroup" ng-show="vc.viewState.VA_SECONDSURNAMEEE_993882.visible" ng-readonly="vc.viewState.VA_SECONDSURNAMEEE_993882.readonly" ng-class="vc.viewState.VA_SECONDSURNAMEEE_993882.style" data-cobis-group="GroupLayout,G_MODIFICTOC_796882,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_SECONDSURNAMEEE_993882.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.Spacer1673.visible"> 
          <div class="form-group cb-spacer"> 
           <label class="control-label">&nbsp;</label> 
           <span class="cb-control"></span> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_FIRSTNAMEULIWNW_629882.visible"> 
          <div class="form-group cb-required" id="VA_FIRSTNAMEULIWNW_629882_DIV"> 
           <label for="VA_FIRSTNAMEULIWNW_629882" title="{{vc.viewState.VA_FIRSTNAMEULIWNW_629882.label|translate:vc.viewState.VA_FIRSTNAMEULIWNW_629882.labelArgs}}" ng-show="vc.viewState.VA_FIRSTNAMEULIWNW_629882.visible" class="control-label">{{vc.viewState.VA_FIRSTNAMEULIWNW_629882.label|translate:vc.viewState.VA_FIRSTNAMEULIWNW_629882.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_FIRSTNAMEULIWNW_629882" name="NaturalPerson_firstName" maxlength="20" type="text" class="form-control" ng-model="vc.model.NaturalPerson.firstName" ng-disabled="vc.viewState.VA_FIRSTNAMEULIWNW_629882.disabled || vc.viewState.VA_FIRSTNAMEULIWNW_629882.disabledingroup" ng-show="vc.viewState.VA_FIRSTNAMEULIWNW_629882.visible" ng-readonly="vc.viewState.VA_FIRSTNAMEULIWNW_629882.readonly" ng-class="vc.viewState.VA_FIRSTNAMEULIWNW_629882.style" data-cobis-group="GroupLayout,G_MODIFICTOC_796882,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_FIRSTNAMEULIWNW_629882.validationCode}}" data-required-msg="{{'CSTMR.LBL_CSTMR_PRIMERNRB_92048'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_SECONDNAMELPYWW_643882.visible"> 
          <div class="form-group" id="VA_SECONDNAMELPYWW_643882_DIV"> 
           <label for="VA_SECONDNAMELPYWW_643882" title="{{vc.viewState.VA_SECONDNAMELPYWW_643882.label|translate:vc.viewState.VA_SECONDNAMELPYWW_643882.labelArgs}}" ng-show="vc.viewState.VA_SECONDNAMELPYWW_643882.visible" class="control-label">{{vc.viewState.VA_SECONDNAMELPYWW_643882.label|translate:vc.viewState.VA_SECONDNAMELPYWW_643882.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_SECONDNAMELPYWW_643882" name="NaturalPerson_secondName" maxlength="30" type="text" class="form-control" ng-model="vc.model.NaturalPerson.secondName" ng-disabled="vc.viewState.VA_SECONDNAMELPYWW_643882.disabled || vc.viewState.VA_SECONDNAMELPYWW_643882.disabledingroup" ng-show="vc.viewState.VA_SECONDNAMELPYWW_643882.visible" ng-readonly="vc.viewState.VA_SECONDNAMELPYWW_643882.readonly" ng-class="vc.viewState.VA_SECONDNAMELPYWW_643882.style" data-cobis-group="GroupLayout,G_MODIFICTOC_796882,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_SECONDNAMELPYWW_643882.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.Spacer2488.visible"> 
          <div class="form-group cb-spacer"> 
           <label class="control-label">&nbsp;</label> 
           <span class="cb-control"></span> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_BIRTHDATEKSDLAL_625882.visible"> 
          <div class="form-group cb-required" id="VA_BIRTHDATEKSDLAL_625882_DIV"> 
           <label for="VA_BIRTHDATEKSDLAL_625882" title="{{vc.viewState.VA_BIRTHDATEKSDLAL_625882.label|translate:vc.viewState.VA_BIRTHDATEKSDLAL_625882.labelArgs}}" ng-show="vc.viewState.VA_BIRTHDATEKSDLAL_625882.visible" class="control-label">{{vc.viewState.VA_BIRTHDATEKSDLAL_625882.label|translate:vc.viewState.VA_BIRTHDATEKSDLAL_625882.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_BIRTHDATEKSDLAL_625882" name="NaturalPerson_birthDate" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.NaturalPerson.birthDate" ng-model="vc.tmpModel.NaturalPerson.birthDate" ng-disabled="vc.viewState.VA_BIRTHDATEKSDLAL_625882.disabled || vc.viewState.VA_BIRTHDATEKSDLAL_625882.disabledingroup" ng-show="vc.viewState.VA_BIRTHDATEKSDLAL_625882.visible" ng-readonly="vc.viewState.VA_BIRTHDATEKSDLAL_625882.readonly" ng-class="vc.viewState.VA_BIRTHDATEKSDLAL_625882.style" data-cobis-group="GroupLayout,G_MODIFICTOC_796882,0" required data-validation-code="{{vc.viewState.VA_BIRTHDATEKSDLAL_625882.validationCode}}" data-required-msg="{{'CSTMR.LBL_CSTMR_FECHADETE_15731'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_COUNTYOFBIRTHHH_156882.visible"> 
          <div class="form-group cb-required" id="VA_COUNTYOFBIRTHHH_156882_DIV"> 
           <label for="VA_COUNTYOFBIRTHHH_156882" title="{{vc.viewState.VA_COUNTYOFBIRTHHH_156882.label|translate:vc.viewState.VA_COUNTYOFBIRTHHH_156882.labelArgs}}" ng-show="vc.viewState.VA_COUNTYOFBIRTHHH_156882.visible" class="control-label">{{vc.viewState.VA_COUNTYOFBIRTHHH_156882.label|translate:vc.viewState.VA_COUNTYOFBIRTHHH_156882.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_COUNTYOFBIRTHHH_156882" kendo-ext-combo-box="comboBox.VA_COUNTYOFBIRTHHH_156882" k-index="0" k-auto-bind="true" name="NaturalPerson_countyOfBirth" ng-model="vc.model.NaturalPerson.countyOfBirth" ng-disabled="vc.viewState.VA_COUNTYOFBIRTHHH_156882.disabled || vc.viewState.VA_COUNTYOFBIRTHHH_156882.disabledingroup" ng-show="vc.viewState.VA_COUNTYOFBIRTHHH_156882.visible" ng-readonly="vc.viewState.VA_COUNTYOFBIRTHHH_156882.readonly" ng-class="vc.viewState.VA_COUNTYOFBIRTHHH_156882.style" k-data-source="vc.catalogs.VA_COUNTYOFBIRTHHH_156882" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_COUNTYOFBIRTHHH_156882.template" data-cobis-group="GroupLayout,G_MODIFICTOC_796882,0" required data-validation-code="{{vc.viewState.VA_COUNTYOFBIRTHHH_156882.validationCode}}" data-required-msg="{{'CSTMR.LBL_CSTMR_DENACIMTN_68832'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.Spacer2889.visible"> 
          <div class="form-group cb-spacer"> 
           <label class="control-label">&nbsp;</label> 
           <span class="cb-control"></span> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_GENDERCODELZYIQ_211882.visible"> 
          <div class="form-group cb-required" id="VA_GENDERCODELZYIQ_211882_DIV"> 
           <label for="VA_GENDERCODELZYIQ_211882" title="{{vc.viewState.VA_GENDERCODELZYIQ_211882.label|translate:vc.viewState.VA_GENDERCODELZYIQ_211882.labelArgs}}" ng-show="vc.viewState.VA_GENDERCODELZYIQ_211882.visible" class="control-label">{{vc.viewState.VA_GENDERCODELZYIQ_211882.label|translate:vc.viewState.VA_GENDERCODELZYIQ_211882.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_GENDERCODELZYIQ_211882" kendo-ext-combo-box="comboBox.VA_GENDERCODELZYIQ_211882" k-index="0" k-auto-bind="true" name="NaturalPerson_genderCode" ng-model="vc.model.NaturalPerson.genderCode" ng-disabled="vc.viewState.VA_GENDERCODELZYIQ_211882.disabled || vc.viewState.VA_GENDERCODELZYIQ_211882.disabledingroup" ng-show="vc.viewState.VA_GENDERCODELZYIQ_211882.visible" ng-readonly="vc.viewState.VA_GENDERCODELZYIQ_211882.readonly" ng-class="vc.viewState.VA_GENDERCODELZYIQ_211882.style" k-data-source="vc.catalogs.VA_GENDERCODELZYIQ_211882" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_GENDERCODELZYIQ_211882.template" data-cobis-group="GroupLayout,G_MODIFICTOC_796882,0" required data-validation-code="{{vc.viewState.VA_GENDERCODELZYIQ_211882.validationCode}}" data-required-msg="{{'CSTMR.LBL_CSTMR_GENEROEHS_60662'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_DOCUMENTTYPEMOR_836882.visible"> 
          <div class="form-group cb-required" id="VA_DOCUMENTTYPEMOR_836882_DIV"> 
           <label for="VA_DOCUMENTTYPEMOR_836882" title="{{vc.viewState.VA_DOCUMENTTYPEMOR_836882.label|translate:vc.viewState.VA_DOCUMENTTYPEMOR_836882.labelArgs}}" ng-show="vc.viewState.VA_DOCUMENTTYPEMOR_836882.visible" class="control-label">{{vc.viewState.VA_DOCUMENTTYPEMOR_836882.label|translate:vc.viewState.VA_DOCUMENTTYPEMOR_836882.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_DOCUMENTTYPEMOR_836882" kendo-ext-combo-box="comboBox.VA_DOCUMENTTYPEMOR_836882" k-index="0" k-auto-bind="true" name="NaturalPerson_documentType" ng-model="vc.model.NaturalPerson.documentType" ng-disabled="vc.viewState.VA_DOCUMENTTYPEMOR_836882.disabled || vc.viewState.VA_DOCUMENTTYPEMOR_836882.disabledingroup" ng-show="vc.viewState.VA_DOCUMENTTYPEMOR_836882.visible" ng-readonly="vc.viewState.VA_DOCUMENTTYPEMOR_836882.readonly" ng-class="vc.viewState.VA_DOCUMENTTYPEMOR_836882.style" k-data-source="vc.catalogs.VA_DOCUMENTTYPEMOR_836882" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_DOCUMENTTYPEMOR_836882.template" data-cobis-group="GroupLayout,G_MODIFICTOC_796882,0" required data-validation-code="{{vc.viewState.VA_DOCUMENTTYPEMOR_836882.validationCode}}" data-required-msg="{{'CSTMR.LBL_CSTMR_IDENTIFII_21251'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div id="G_MODIFICAIR_201882" class="cb-group cb-group-simple" ng-show="vc.viewState.G_MODIFICAIR_201882.visible" ng-class="vc.viewState.G_MODIFICAIR_201882.style"> 
      <div id="G_MODIFICAIR_201882_VAL" kendo-validator="G_MODIFICAIR_201882" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-12" ng-show="vc.viewState.VA_VASEPARATORPLHG_215882.visible"> 
          <hr class="d-hr" ng-disabled="vc.viewState.VA_VASEPARATORPLHG_215882.disabled || vc.viewState.VA_VASEPARATORPLHG_215882.disabledingroup" ng-show="vc.viewState.VA_VASEPARATORPLHG_215882.visible" ng-readonly="vc.viewState.VA_VASEPARATORPLHG_215882.readonly" ng-class="vc.viewState.VA_VASEPARATORPLHG_215882.style" /> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div id="G_MODIFICORA_615882" class="cb-group cb-group-simple" ng-show="vc.viewState.G_MODIFICORA_615882.visible" ng-class="vc.viewState.G_MODIFICORA_615882.style"> 
      <div id="G_MODIFICORA_615882_VAL" kendo-validator="G_MODIFICORA_615882" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_IDENTIFICATICCN_494882.visible"> 
          <div class="form-group" id="VA_IDENTIFICATICCN_494882_DIV"> 
           <label for="VA_IDENTIFICATICCN_494882" title="{{vc.viewState.VA_IDENTIFICATICCN_494882.label|translate:vc.viewState.VA_IDENTIFICATICCN_494882.labelArgs}}" ng-show="vc.viewState.VA_IDENTIFICATICCN_494882.visible" class="control-label">{{vc.viewState.VA_IDENTIFICATICCN_494882.label|translate:vc.viewState.VA_IDENTIFICATICCN_494882.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_IDENTIFICATICCN_494882" name="NaturalPerson_identificationRFC" maxlength="30" type="text" class="form-control text-uppercase" ng-model="vc.model.NaturalPerson.identificationRFC" ng-disabled="vc.viewState.VA_IDENTIFICATICCN_494882.disabled || vc.viewState.VA_IDENTIFICATICCN_494882.disabledingroup" ng-show="vc.viewState.VA_IDENTIFICATICCN_494882.visible" ng-readonly="vc.viewState.VA_IDENTIFICATICCN_494882.readonly" ng-class="vc.viewState.VA_IDENTIFICATICCN_494882.style" data-cobis-group="GroupLayout,G_MODIFICTOC_796882,2" ng-model-onblur designer-restrict-input="alphanumeric" data-validation-code="{{vc.viewState.VA_IDENTIFICATICCN_494882.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_DOCUMENTNUMBEER_711882.visible"> 
          <div class="form-group" id="VA_DOCUMENTNUMBEER_711882_DIV"> 
           <label for="VA_DOCUMENTNUMBEER_711882" title="{{vc.viewState.VA_DOCUMENTNUMBEER_711882.label|translate:vc.viewState.VA_DOCUMENTNUMBEER_711882.labelArgs}}" ng-show="vc.viewState.VA_DOCUMENTNUMBEER_711882.visible" class="control-label">{{vc.viewState.VA_DOCUMENTNUMBEER_711882.label|translate:vc.viewState.VA_DOCUMENTNUMBEER_711882.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_DOCUMENTNUMBEER_711882" name="NaturalPerson_documentNumber" maxlength="18" type="text" class="form-control text-uppercase" ng-model="vc.model.NaturalPerson.documentNumber" ng-disabled="vc.viewState.VA_DOCUMENTNUMBEER_711882.disabled || vc.viewState.VA_DOCUMENTNUMBEER_711882.disabledingroup" ng-show="vc.viewState.VA_DOCUMENTNUMBEER_711882.visible" ng-readonly="vc.viewState.VA_DOCUMENTNUMBEER_711882.readonly" ng-class="vc.viewState.VA_DOCUMENTNUMBEER_711882.style" data-cobis-group="GroupLayout,G_MODIFICTOC_796882,2" ng-model-onblur designer-restrict-input="alphanumeric" data-validation-code="{{vc.viewState.VA_DOCUMENTNUMBEER_711882.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div id="G_MODIFICCAN_105882" class="cb-group cb-group-simple" ng-show="vc.viewState.G_MODIFICCAN_105882.visible" ng-class="vc.viewState.G_MODIFICCAN_105882.style"> 
      <div id="G_MODIFICCAN_105882_VAL" kendo-validator="G_MODIFICCAN_105882" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-12" ng-show="vc.viewState.VA_VASEPARATOROSCX_108882.visible"> 
          <hr class="d-hr" ng-disabled="vc.viewState.VA_VASEPARATOROSCX_108882.disabled || vc.viewState.VA_VASEPARATOROSCX_108882.disabledingroup" ng-show="vc.viewState.VA_VASEPARATOROSCX_108882.visible" ng-readonly="vc.viewState.VA_VASEPARATOROSCX_108882.readonly" ng-class="vc.viewState.VA_VASEPARATOROSCX_108882.style" /> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div id="G_MODIFICARO_457882" class="cb-group cb-group-simple" ng-show="vc.viewState.G_MODIFICARO_457882.visible" ng-class="vc.viewState.G_MODIFICARO_457882.style"> 
      <div id="G_MODIFICARO_457882_VAL" kendo-validator="G_MODIFICARO_457882" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_SANTANDERCODEEE_772882.visible"> 
          <div class="form-group" id="VA_SANTANDERCODEEE_772882_DIV"> 
           <label for="VA_SANTANDERCODEEE_772882" title="{{vc.viewState.VA_SANTANDERCODEEE_772882.label|translate:vc.viewState.VA_SANTANDERCODEEE_772882.labelArgs}}" ng-show="vc.viewState.VA_SANTANDERCODEEE_772882.visible" class="control-label">{{vc.viewState.VA_SANTANDERCODEEE_772882.label|translate:vc.viewState.VA_SANTANDERCODEEE_772882.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_SANTANDERCODEEE_772882" name="NaturalPerson_santanderCode" maxlength="8" type="text" class="form-control" ng-model="vc.model.NaturalPerson.santanderCode" ng-disabled="vc.viewState.VA_SANTANDERCODEEE_772882.disabled || vc.viewState.VA_SANTANDERCODEEE_772882.disabledingroup" ng-show="vc.viewState.VA_SANTANDERCODEEE_772882.visible" ng-readonly="vc.viewState.VA_SANTANDERCODEEE_772882.readonly" ng-class="vc.viewState.VA_SANTANDERCODEEE_772882.style" data-cobis-group="GroupLayout,G_MODIFICTOC_796882,4" ng-model-onblur designer-restrict-input="numbers" data-validation-code="{{vc.viewState.VA_SANTANDERCODEEE_772882.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_ACCOUNTINDIVILI_271882.visible"> 
          <div class="form-group" id="VA_ACCOUNTINDIVILI_271882_DIV"> 
           <label for="VA_ACCOUNTINDIVILI_271882" title="{{vc.viewState.VA_ACCOUNTINDIVILI_271882.label|translate:vc.viewState.VA_ACCOUNTINDIVILI_271882.labelArgs}}" ng-show="vc.viewState.VA_ACCOUNTINDIVILI_271882.visible" class="control-label">{{vc.viewState.VA_ACCOUNTINDIVILI_271882.label|translate:vc.viewState.VA_ACCOUNTINDIVILI_271882.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_ACCOUNTINDIVILI_271882" name="NaturalPerson_accountIndividual" maxlength="12" type="text" class="form-control" ng-model="vc.model.NaturalPerson.accountIndividual" ng-disabled="vc.viewState.VA_ACCOUNTINDIVILI_271882.disabled || vc.viewState.VA_ACCOUNTINDIVILI_271882.disabledingroup" ng-show="vc.viewState.VA_ACCOUNTINDIVILI_271882.visible" ng-readonly="vc.viewState.VA_ACCOUNTINDIVILI_271882.readonly" ng-class="vc.viewState.VA_ACCOUNTINDIVILI_271882.style" data-cobis-group="GroupLayout,G_MODIFICTOC_796882,4" ng-model-onblur designer-restrict-input="numbers" data-validation-code="{{vc.viewState.VA_ACCOUNTINDIVILI_271882.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div id="G_MODIFICTRA_319882" class="cb-group cb-group-simple" ng-show="vc.viewState.G_MODIFICTRA_319882.visible" ng-class="vc.viewState.G_MODIFICTRA_319882.style"> 
      <div id="G_MODIFICTRA_319882_VAL" kendo-validator="G_MODIFICTRA_319882" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONBISUTWO_919882.visible"> 
          <div class="form-group"> 
           <label class="control-label">&nbsp;</label> 
           <div class="cb-control"> 
            <button id="VA_VABUTTONBISUTWO_919882" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONBISUTWO_919882','VA_VABUTTONBISUTWO_919882',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONBISUTWO_919882.disabled || vc.viewState.VA_VABUTTONBISUTWO_919882.disabledingroup" ng-show="vc.viewState.VA_VABUTTONBISUTWO_919882.visible" ng-class="vc.viewState.VA_VABUTTONBISUTWO_919882.style"> &nbsp; </button> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_MODIFICACC_882--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc || !vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_TCSTMRKO_C00" ng-click="vc.executeCommand('CM_TCSTMRKO_C00','Command1', validator, false, false, 'VC_MODIFICAIC_908774', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_TCSTMRKO_C00.disabled || vc.viewState.CM_TCSTMRKO_C00.disabledingroup" ng-show="vc.viewState.CM_TCSTMRKO_C00.visible" ng-class="vc.viewState.CM_TCSTMRKO_C00.style"> {{vc.viewState.CM_TCSTMRKO_C00.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_CSTMRKOYOOADV_774_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_MODIFICAIC_908774')" ng-disabled="vc.viewState.T_CSTMRKOYOOADV_774_ACCEPT.disabled || vc.viewState.T_CSTMRKOYOOADV_774_ACCEPT.disabledingroup" ng-show="vc.viewState.T_CSTMRKOYOOADV_774_ACCEPT.visible" ng-class="vc.viewState.T_CSTMRKOYOOADV_774_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_CSTMRKOYOOADV_774_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_CSTMRKOYOOADV_774_CANCEL.disabled || vc.viewState.T_CSTMRKOYOOADV_774_CANCEL.disabledingroup" ng-show="vc.viewState.T_CSTMRKOYOOADV_774_CANCEL.visible" ng-class="vc.viewState.T_CSTMRKOYOOADV_774_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>