<!-- Designer Generator v 5.0.0.1626 - release SPR 2016-26 08/01/2016 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_XCUTL59_FEUEU_964" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_XCUTL59_FEUEU_964.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_XCUTL59_FEUEU_964" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="GR_EXECEBONUS69_53" ng-class="vc.viewState.GR_EXECEBONUS69_53.style" class="cb-group cb-group-layout"> 
    <div id="GR_EXECEBONUS69_53_VAL" kendo-validator="GR_EXECEBONUS69_53" k-options="validatorOptions"> 
     <div id="GR_EXECEBONUS69_97" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_EXECEBONUS69_97.visible" ng-class="vc.viewState.GR_EXECEBONUS69_97.style"> 
      <div id="GR_EXECEBONUS69_97_VAL" kendo-validator="GR_EXECEBONUS69_97" k-options="validatorOptions"> 
       <div class="form-horizontal"> 
        <div class="row"> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_EXECEBONUS6997_IDOD627.visible"> 
          <div class="form-group" id="VA_EXECEBONUS6997_IDOD627_DIV"> 
           <label for="VA_EXECEBONUS6997_IDOD627" title="{{vc.viewState.VA_EXECEBONUS6997_IDOD627.label|translate:vc.viewState.VA_EXECEBONUS6997_IDOD627.labelArgs}}" ng-show="vc.viewState.VA_EXECEBONUS6997_IDOD627.visible" class="col-sm-4 control-label">{{vc.viewState.VA_EXECEBONUS6997_IDOD627.label|translate:vc.viewState.VA_EXECEBONUS6997_IDOD627.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div title="{{vc.viewState.VA_EXECEBONUS6997_IDOD627.tooltip|translate}}" class="cb-control"> 
             <input id="VA_EXECEBONUS6997_IDOD627" name="ExecutiveBonusHeader_idCode" maxlength="20" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_EXECEBONUS6997_IDOD627.decimals" k-format="vc.viewState.VA_EXECEBONUS6997_IDOD627.format" k-ng-model="vc.model.ExecutiveBonusHeader.idCode" ng-model="vc.tmpModel.ExecutiveBonusHeader.idCode" ng-disabled="vc.viewState.VA_EXECEBONUS6997_IDOD627.disabled || vc.viewState.VA_EXECEBONUS6997_IDOD627.disabledingroup" ng-show="vc.viewState.VA_EXECEBONUS6997_IDOD627.visible" ng-readonly="vc.viewState.VA_EXECEBONUS6997_IDOD627.readonly" ng-class="vc.viewState.VA_EXECEBONUS6997_IDOD627.style" data-cobis-group="Group,GR_EXECEBONUS69_53,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_EXECEBONUS6997_IDOD627.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_EXECEBONUS6997_TEOE131.visible"> 
          <div class="form-group" id="VA_EXECEBONUS6997_TEOE131_DIV"> 
           <label for="VA_EXECEBONUS6997_TEOE131" title="{{vc.viewState.VA_EXECEBONUS6997_TEOE131.label|translate:vc.viewState.VA_EXECEBONUS6997_TEOE131.labelArgs}}" ng-show="vc.viewState.VA_EXECEBONUS6997_TEOE131.visible" class="col-sm-4 control-label">{{vc.viewState.VA_EXECEBONUS6997_TEOE131.label|translate:vc.viewState.VA_EXECEBONUS6997_TEOE131.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div title="{{vc.viewState.VA_EXECEBONUS6997_TEOE131.tooltip|translate}}" class="cb-control"> 
             <input id="VA_EXECEBONUS6997_TEOE131" name="ExecutiveBonusHeader_dateProcess" kendo-ext-combo-box="comboBox.VA_EXECEBONUS6997_TEOE131" ng-model="vc.model.ExecutiveBonusHeader.dateProcess" ng-disabled="vc.viewState.VA_EXECEBONUS6997_TEOE131.disabled || vc.viewState.VA_EXECEBONUS6997_TEOE131.disabledingroup" ng-show="vc.viewState.VA_EXECEBONUS6997_TEOE131.visible" ng-readonly="vc.viewState.VA_EXECEBONUS6997_TEOE131.readonly" ng-class="vc.viewState.VA_EXECEBONUS6997_TEOE131.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_EXECEBONUS6997_TEOE131" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_EXECEBONUS6997_TEOE131.template" data-cobis-group="Group,GR_EXECEBONUS69_53,0" data-validation-code="{{vc.viewState.VA_EXECEBONUS6997_TEOE131.validationCode}}" designer-change /> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_EXECEBONUS6997_STTS975.visible"> 
          <div class="form-group" id="VA_EXECEBONUS6997_STTS975_DIV"> 
           <label for="VA_EXECEBONUS6997_STTS975" title="{{vc.viewState.VA_EXECEBONUS6997_STTS975.label|translate:vc.viewState.VA_EXECEBONUS6997_STTS975.labelArgs}}" ng-show="vc.viewState.VA_EXECEBONUS6997_STTS975.visible" class="col-sm-4 control-label">{{vc.viewState.VA_EXECEBONUS6997_STTS975.label|translate:vc.viewState.VA_EXECEBONUS6997_STTS975.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div title="{{vc.viewState.VA_EXECEBONUS6997_STTS975.tooltip|translate}}" class="cb-control"> 
             <input id="VA_EXECEBONUS6997_STTS975" name="ExecutiveBonusHeader_status" kendo-ext-combo-box="comboBox.VA_EXECEBONUS6997_STTS975" ng-model="vc.model.ExecutiveBonusHeader.status" ng-disabled="vc.viewState.VA_EXECEBONUS6997_STTS975.disabled || vc.viewState.VA_EXECEBONUS6997_STTS975.disabledingroup" ng-show="vc.viewState.VA_EXECEBONUS6997_STTS975.visible" ng-readonly="vc.viewState.VA_EXECEBONUS6997_STTS975.readonly" ng-class="vc.viewState.VA_EXECEBONUS6997_STTS975.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_EXECEBONUS6997_STTS975" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_EXECEBONUS6997_STTS975.template" data-cobis-group="Group,GR_EXECEBONUS69_53,0" data-validation-code="{{vc.viewState.VA_EXECEBONUS6997_STTS975.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_EXECEBONUS6997_INUB587.visible"> 
          <div class="form-group" id="VA_EXECEBONUS6997_INUB587_DIV"> 
           <label for="VA_EXECEBONUS6997_INUB587" title="{{vc.viewState.VA_EXECEBONUS6997_INUB587.label|translate:vc.viewState.VA_EXECEBONUS6997_INUB587.labelArgs}}" ng-show="vc.viewState.VA_EXECEBONUS6997_INUB587.visible" class="col-sm-4 control-label">{{vc.viewState.VA_EXECEBONUS6997_INUB587.label|translate:vc.viewState.VA_EXECEBONUS6997_INUB587.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div title="{{vc.viewState.VA_EXECEBONUS6997_INUB587.tooltip|translate}}" class="cb-control"> 
             <input id="VA_EXECEBONUS6997_INUB587" name="ExecutiveBonusHeader_applicationNumber" maxlength="20" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_EXECEBONUS6997_INUB587.decimals" k-format="vc.viewState.VA_EXECEBONUS6997_INUB587.format" k-ng-model="vc.model.ExecutiveBonusHeader.applicationNumber" ng-model="vc.tmpModel.ExecutiveBonusHeader.applicationNumber" ng-disabled="vc.viewState.VA_EXECEBONUS6997_INUB587.disabled || vc.viewState.VA_EXECEBONUS6997_INUB587.disabledingroup" ng-show="vc.viewState.VA_EXECEBONUS6997_INUB587.visible" ng-readonly="vc.viewState.VA_EXECEBONUS6997_INUB587.readonly" ng-class="vc.viewState.VA_EXECEBONUS6997_INUB587.style" data-cobis-group="Group,GR_EXECEBONUS69_53,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_EXECEBONUS6997_INUB587.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div id="GR_EXECEBONUS69_55" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_EXECEBONUS69_55.visible" ng-class="vc.viewState.GR_EXECEBONUS69_55.style"> 
      <div id="GR_EXECEBONUS69_55_VAL" kendo-validator="GR_EXECEBONUS69_55" k-options="validatorOptions"> 
       <div id="QV_QRYXU8599_55" kendo-ext-grid="grids.QV_QRYXU8599_55" k-data-source="vc.model.ExecutiveBonusDetails" k-column-menu="false" k-sortable="false" k-editable="vc.viewState.GR_EXECEBONUS69_55.disabled?false:'inline'" k-toolbar="vc.grids.QV_QRYXU8599_55.toolbar" k-resizable="true" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="true" k-selectable="true" k-change="vc.grids.QV_QRYXU8599_55.events.change" k-data-bound="vc.grids.QV_QRYXU8599_55.events.dataBound" k-columns="vc.grids.QV_QRYXU8599_55.columns" k-cancel="vc.grids.QV_QRYXU8599_55.events.cancel" k-edit="vc.grids.QV_QRYXU8599_55.events.edit" ng-class="vc.viewState.QV_QRYXU8599_55.style" k-ng-delay="vc.afterInitData"></div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_XCUTL59OCS87" ng-click="vc.executeCommand('CM_XCUTL59OCS87','Process', validator, true, false, 'VC_XCUTL59_FEUEU_964', false)" class="btn btn-primary navbar-btn" title="{{vc.viewState.CM_XCUTL59OCS87.tooltip|translate}}" ng-disabled="vc.viewState.CM_XCUTL59OCS87.disabled || vc.viewState.CM_XCUTL59OCS87.disabledingroup" ng-show="vc.viewState.CM_XCUTL59OCS87.visible" ng-class="vc.viewState.CM_XCUTL59OCS87.style"> {{vc.viewState.CM_XCUTL59OCS87.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_FLCRE_64_XCUTL59_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_XCUTL59_FEUEU_964')" ng-disabled="vc.viewState.T_FLCRE_64_XCUTL59_ACCEPT.disabled || vc.viewState.T_FLCRE_64_XCUTL59_ACCEPT.disabledingroup" ng-show="vc.viewState.T_FLCRE_64_XCUTL59_ACCEPT.visible" ng-class="vc.viewState.T_FLCRE_64_XCUTL59_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_FLCRE_64_XCUTL59_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_FLCRE_64_XCUTL59_CANCEL.disabled || vc.viewState.T_FLCRE_64_XCUTL59_CANCEL.disabledingroup" ng-show="vc.viewState.T_FLCRE_64_XCUTL59_CANCEL.visible" ng-class="vc.viewState.T_FLCRE_64_XCUTL59_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>