<!-- Designer Generator v 6.4.0.5 - SPR 2019-03 15/02/2019 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_RPUME79_RERNO_643" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_RPUME79_RERNO_643.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_RPUME79_RERNO_643" ng-keydown="vc.viewState.keyDown($event)" class="cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="VC_RPUME79_APCII_748" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_RPUME79_APCII_748', vc.viewState.VC_RPUME79_APCII_748.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_RPUME79_APCII_748.visible"> 
    <div id="VC_RPUME79_APCII_748_VAL" kendo-validator="VC_RPUME79_APCII_748" k-options="validatorOptions"> 
     <!-- Inicio item VW_SHCTRATNIW77--> 
     <div id="GR_SHCTRATNIW77_04" ng-class="vc.viewState.GR_SHCTRATNIW77_04.style" class="cb-group cb-group-layout"> 
      <div id="GR_SHCTRATNIW77_04_VAL" kendo-validator="GR_SHCTRATNIW77_04" k-options="validatorOptions"> 
       <div id="GR_SHCTRATNIW77_05" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_SHCTRATNIW77_05.visible" ng-class="vc.viewState.GR_SHCTRATNIW77_05.style"> 
        <div id="GR_SHCTRATNIW77_05_VAL" kendo-validator="GR_SHCTRATNIW77_05" k-options="validatorOptions"> 
         <div class="form-vertical"> 
          <div class="row"> 
           <div class="col-xs-6" ng-show="vc.viewState.VA_SHCTRATNIW7705_LTYE544.visible"> 
            <div class="form-group" id="VA_SHCTRATNIW7705_LTYE544_DIV"> 
             <label for="VA_SHCTRATNIW7705_LTYE544" title="{{vc.viewState.VA_SHCTRATNIW7705_LTYE544.label|translate:vc.viewState.VA_SHCTRATNIW7705_LTYE544.labelArgs}}" ng-show="vc.viewState.VA_SHCTRATNIW7705_LTYE544.visible" class="control-label">{{vc.viewState.VA_SHCTRATNIW7705_LTYE544.label|translate:vc.viewState.VA_SHCTRATNIW7705_LTYE544.labelArgs}}</label> 
             <div class="cb-control"> 
              <input id="VA_SHCTRATNIW7705_LTYE544" kendo-ext-combo-box="comboBox.VA_SHCTRATNIW7705_LTYE544" name="SearchCriteriaPrintingDocuments_FlowType" ng-model="vc.model.SearchCriteriaPrintingDocuments.FlowType" ng-disabled="vc.viewState.VA_SHCTRATNIW7705_LTYE544.disabled || vc.viewState.VA_SHCTRATNIW7705_LTYE544.disabledingroup" ng-show="vc.viewState.VA_SHCTRATNIW7705_LTYE544.visible" ng-readonly="vc.viewState.VA_SHCTRATNIW7705_LTYE544.readonly" ng-class="vc.viewState.VA_SHCTRATNIW7705_LTYE544.style" k-data-source="vc.catalogs.VA_SHCTRATNIW7705_LTYE544" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_SHCTRATNIW7705_LTYE544.template" data-cobis-group="GroupLayout,GR_SHCTRATNIW77_04,0" data-validation-code="{{vc.viewState.VA_SHCTRATNIW7705_LTYE544.validationCode}}" designer-change /> 
             </div> 
            </div> 
           </div> 
           <div class="col-xs-6" ng-show="vc.viewState.VA_SHCTRATNIW7705_SMID298.visible"> 
            <div class="form-group" id="VA_SHCTRATNIW7705_SMID298_DIV"> 
             <label for="VA_SHCTRATNIW7705_SMID298" title="{{vc.viewState.VA_SHCTRATNIW7705_SMID298.label|translate:vc.viewState.VA_SHCTRATNIW7705_SMID298.labelArgs}}" ng-show="vc.viewState.VA_SHCTRATNIW7705_SMID298.visible" class="control-label">{{vc.viewState.VA_SHCTRATNIW7705_SMID298.label|translate:vc.viewState.VA_SHCTRATNIW7705_SMID298.labelArgs}}</label> 
             <div title="{{vc.viewState.VA_SHCTRATNIW7705_SMID298.tooltip|translate}}" class="cb-control"> 
              <div class="input-group"> 
               <input id="VA_SHCTRATNIW7705_SMID298" name="SearchCriteriaPrintingDocuments_CustomerId" maxlength="300" type="text" class="form-control" ng-model="vc.model.SearchCriteriaPrintingDocuments.CustomerId" ng-disabled="vc.viewState.VA_SHCTRATNIW7705_SMID298.disabled || vc.viewState.VA_SHCTRATNIW7705_SMID298.disabledingroup" ng-show="vc.viewState.VA_SHCTRATNIW7705_SMID298.visible" ng-readonly="vc.viewState.VA_SHCTRATNIW7705_SMID298.readonly" ng-class="vc.viewState.VA_SHCTRATNIW7705_SMID298.style" data-cobis-group="GroupLayout,GR_SHCTRATNIW77_04,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_SHCTRATNIW7705_SMID298.validationCode}}" /> 
               <div class="input-group-btn"> 
                <button class="btn btn-default btn-block" ng-click="vc.clickTextInputButton('VA_SHCTRATNIW7705_SMID298')" ng-disabled="vc.viewState.VA_SHCTRATNIW7705_SMID298.disabled || vc.viewState.VA_SHCTRATNIW7705_SMID298.disabledingroup" ng-show="vc.viewState.VA_SHCTRATNIW7705_SMID298.visible" ng-class="vc.viewState.VA_SHCTRATNIW7705_SMID298.style"> <span class="glyphicon glyphicon-align-justify"></span> </button> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
           <div class="col-xs-6" ng-show="vc.viewState.VA_SHCTRATNIW7705_AMTI124.visible"> 
            <div class="form-group" id="VA_SHCTRATNIW7705_AMTI124_DIV"> 
             <label for="VA_SHCTRATNIW7705_AMTI124" title="{{vc.viewState.VA_SHCTRATNIW7705_AMTI124.label|translate:vc.viewState.VA_SHCTRATNIW7705_AMTI124.labelArgs}}" ng-show="vc.viewState.VA_SHCTRATNIW7705_AMTI124.visible" class="control-label">{{vc.viewState.VA_SHCTRATNIW7705_AMTI124.label|translate:vc.viewState.VA_SHCTRATNIW7705_AMTI124.labelArgs}}</label> 
             <div class="cb-control"> 
              <input id="VA_SHCTRATNIW7705_AMTI124" name="SearchCriteriaPrintingDocuments_claimantId" maxlength="50" type="text" class="form-control" ng-model="vc.model.SearchCriteriaPrintingDocuments.claimantId" ng-disabled="vc.viewState.VA_SHCTRATNIW7705_AMTI124.disabled || vc.viewState.VA_SHCTRATNIW7705_AMTI124.disabledingroup" ng-show="vc.viewState.VA_SHCTRATNIW7705_AMTI124.visible" ng-readonly="vc.viewState.VA_SHCTRATNIW7705_AMTI124.readonly" ng-class="vc.viewState.VA_SHCTRATNIW7705_AMTI124.style" data-cobis-group="GroupLayout,GR_SHCTRATNIW77_04,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_SHCTRATNIW7705_AMTI124.validationCode}}" /> 
             </div> 
            </div> 
           </div> 
           <div class="col-xs-6" ng-show="vc.viewState.VA_SHCTRATNIW7705_LIAO733.visible"> 
            <div class="form-group" id="VA_SHCTRATNIW7705_LIAO733_DIV"> 
             <label for="VA_SHCTRATNIW7705_LIAO733" title="{{vc.viewState.VA_SHCTRATNIW7705_LIAO733.label|translate:vc.viewState.VA_SHCTRATNIW7705_LIAO733.labelArgs}}" ng-show="vc.viewState.VA_SHCTRATNIW7705_LIAO733.visible" class="control-label">{{vc.viewState.VA_SHCTRATNIW7705_LIAO733.label|translate:vc.viewState.VA_SHCTRATNIW7705_LIAO733.labelArgs}}</label> 
             <div title="{{vc.viewState.VA_SHCTRATNIW7705_LIAO733.tooltip|translate}}" class="cb-control"> 
              <input id="VA_SHCTRATNIW7705_LIAO733" name="SearchCriteriaPrintingDocuments_IdApplication" maxlength="100" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_SHCTRATNIW7705_LIAO733.decimals" k-format="vc.viewState.VA_SHCTRATNIW7705_LIAO733.format" k-ng-model="vc.model.SearchCriteriaPrintingDocuments.IdApplication" ng-model="vc.tmpModel.SearchCriteriaPrintingDocuments.IdApplication" ng-disabled="vc.viewState.VA_SHCTRATNIW7705_LIAO733.disabled || vc.viewState.VA_SHCTRATNIW7705_LIAO733.disabledingroup" ng-show="vc.viewState.VA_SHCTRATNIW7705_LIAO733.visible" ng-readonly="vc.viewState.VA_SHCTRATNIW7705_LIAO733.readonly" ng-class="vc.viewState.VA_SHCTRATNIW7705_LIAO733.style" data-cobis-group="GroupLayout,GR_SHCTRATNIW77_04,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_SHCTRATNIW7705_LIAO733.validationCode}}" /> 
             </div> 
            </div> 
           </div> 
           <div class="col-xs-6" ng-show="vc.viewState.VA_SHCTRATNIW7705_TNCE902.visible"> 
            <div class="form-group" id="VA_SHCTRATNIW7705_TNCE902_DIV"> 
             <label for="VA_SHCTRATNIW7705_TNCE902" title="{{vc.viewState.VA_SHCTRATNIW7705_TNCE902.label|translate:vc.viewState.VA_SHCTRATNIW7705_TNCE902.labelArgs}}" ng-show="vc.viewState.VA_SHCTRATNIW7705_TNCE902.visible" class="control-label">{{vc.viewState.VA_SHCTRATNIW7705_TNCE902.label|translate:vc.viewState.VA_SHCTRATNIW7705_TNCE902.labelArgs}}</label> 
             <div class="cb-control"> 
              <input id="VA_SHCTRATNIW7705_TNCE902" name="SearchCriteriaPrintingDocuments_alternateCode" maxlength="50" type="text" class="form-control" ng-model="vc.model.SearchCriteriaPrintingDocuments.alternateCode" ng-disabled="vc.viewState.VA_SHCTRATNIW7705_TNCE902.disabled || vc.viewState.VA_SHCTRATNIW7705_TNCE902.disabledingroup" ng-show="vc.viewState.VA_SHCTRATNIW7705_TNCE902.visible" ng-readonly="vc.viewState.VA_SHCTRATNIW7705_TNCE902.readonly" ng-class="vc.viewState.VA_SHCTRATNIW7705_TNCE902.style" data-cobis-group="GroupLayout,GR_SHCTRATNIW77_04,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_SHCTRATNIW7705_TNCE902.validationCode}}" /> 
             </div> 
            </div> 
           </div> 
           <div class="col-xs-6" ng-show="vc.viewState.VA_SHCTRATNIW7705_0000829.visible"> 
            <div class="form-group"> 
             <label class="control-label">&nbsp;</label> 
             <div class="cb-control"> 
              <button id="VA_SHCTRATNIW7705_0000829" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_SHCTRATNIW7705_0000829','SearchButton',validator,true, false,'', false)" ng-disabled="vc.viewState.VA_SHCTRATNIW7705_0000829.disabled || vc.viewState.VA_SHCTRATNIW7705_0000829.disabledingroup" ng-show="vc.viewState.VA_SHCTRATNIW7705_0000829.visible" ng-class="vc.viewState.VA_SHCTRATNIW7705_0000829.style" title="{{vc.viewState.VA_SHCTRATNIW7705_0000829.tooltip|translate}}"> {{vc.viewState.VA_SHCTRATNIW7705_0000829.label|translate}} </button> 
             </div> 
            </div> 
           </div> 
           <div class="col-xs-6" ng-show="vc.viewState.VA_SHCTRATNIW7705_CITY397.visible"> 
            <div class="form-group" id="VA_SHCTRATNIW7705_CITY397_DIV"> 
             <label for="VA_SHCTRATNIW7705_CITY397" title="{{vc.viewState.VA_SHCTRATNIW7705_CITY397.label|translate:vc.viewState.VA_SHCTRATNIW7705_CITY397.labelArgs}}" ng-show="vc.viewState.VA_SHCTRATNIW7705_CITY397.visible" class="control-label">{{vc.viewState.VA_SHCTRATNIW7705_CITY397.label|translate:vc.viewState.VA_SHCTRATNIW7705_CITY397.labelArgs}}</label> 
             <div class="cb-control"> 
              <input id="VA_SHCTRATNIW7705_CITY397" kendo-ext-combo-box="comboBox.VA_SHCTRATNIW7705_CITY397" k-index="0" k-auto-bind="true" name="SearchCriteriaPrintingDocuments_City" ng-model="vc.model.SearchCriteriaPrintingDocuments.City" ng-disabled="vc.viewState.VA_SHCTRATNIW7705_CITY397.disabled || vc.viewState.VA_SHCTRATNIW7705_CITY397.disabledingroup" ng-show="vc.viewState.VA_SHCTRATNIW7705_CITY397.visible" ng-readonly="vc.viewState.VA_SHCTRATNIW7705_CITY397.readonly" ng-class="vc.viewState.VA_SHCTRATNIW7705_CITY397.style" k-data-source="vc.catalogs.VA_SHCTRATNIW7705_CITY397" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_SHCTRATNIW7705_CITY397.template" data-cobis-group="GroupLayout,GR_SHCTRATNIW77_04,0" data-validation-code="{{vc.viewState.VA_SHCTRATNIW7705_CITY397.validationCode}}" /> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <fieldset id="GR_SHCTRATNIW77_06" ng-show="vc.viewState.GR_SHCTRATNIW77_06.visible" ng-class="vc.viewState.GR_SHCTRATNIW77_06.style" class="cb-group cb-group-simple"> 
        <legend> <span ng-bind="vc.viewState.GR_SHCTRATNIW77_06.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.GR_SHCTRATNIW77_06.statusStyle.success, 'cb-validation-fail': vc.viewState.GR_SHCTRATNIW77_06.statusStyle.fail, 'cb-validation-none': vc.viewState.GR_SHCTRATNIW77_06.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.GR_SHCTRATNIW77_06.label|translate}}</span> </legend> 
        <div id="GR_SHCTRATNIW77_06_VAL" kendo-validator="GR_SHCTRATNIW77_06" k-options="validatorOptions"> 
         <div id="QV_ERPLI1480_97" kendo-ext-grid="grids.QV_ERPLI1480_97" k-data-source="vc.model.Applications" k-column-menu="false" k-sortable="false" k-pageable="{refresh: false, pageSizes: false, buttonCount: 5}" k-editable="vc.grids.QV_ERPLI1480_97.editable" k-toolbar="vc.grids.QV_ERPLI1480_97.toolbar" k-resizable="true" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="true" k-selectable="true" k-change="vc.grids.QV_ERPLI1480_97.events.change" k-data-bound="vc.grids.QV_ERPLI1480_97.events.dataBound" k-columns="vc.grids.QV_ERPLI1480_97.columns" k-cancel="vc.grids.QV_ERPLI1480_97.events.cancel" k-edit="vc.grids.QV_ERPLI1480_97.events.edit" ng-class="vc.viewState.QV_ERPLI1480_97.style" k-ng-delay="vc.afterInitData"></div> 
        </div> 
       </fieldset> 
      </div> 
     </div> 
     <!-- Fin item VW_SHCTRATNIW77--> 
    </div> 
   </div> 
   <div id="VC_RPUME79_LRMTV_332" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_RPUME79_LRMTV_332', vc.viewState.VC_RPUME79_LRMTV_332.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_RPUME79_LRMTV_332.visible"> 
    <div id="VC_RPUME79_LRMTV_332_VAL" kendo-validator="VC_RPUME79_LRMTV_332" k-options="validatorOptions"> 
     <!-- Inicio item VW_DOCUNODCVW73--> 
     <div id="GR_DOCUNODCVW73_02" ng-class="vc.viewState.GR_DOCUNODCVW73_02.style" class="cb-group cb-group-layout"> 
      <div id="GR_DOCUNODCVW73_02_VAL" kendo-validator="GR_DOCUNODCVW73_02" k-options="validatorOptions"> 
       <div id="GR_DOCUNODCVW73_05" class="cb-group cb-group-layout"> 
        <div id="GR_DOCUNODCVW73_05_VAL" kendo-validator="GR_DOCUNODCVW73_05" k-options="validatorOptions"> 
         <div id="GR_DOCUNODCVW73_06" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_DOCUNODCVW73_06.visible" ng-class="vc.viewState.GR_DOCUNODCVW73_06.style"> 
          <div id="GR_DOCUNODCVW73_06_VAL" kendo-validator="GR_DOCUNODCVW73_06" k-options="validatorOptions"> 
           <div class="form-vertical"> 
            <div class="row"> 
             <div class="col-xs-12" ng-show="vc.viewState.GR_DOCUNODCVW73_06-default-blank.visible"> 
              <div class="form-group cb-spacer"> 
               <label class="control-label">&nbsp;</label> 
               <span class="cb-control"></span> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div id="GR_DOCUNODCVW73_07" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_DOCUNODCVW73_07.visible" ng-class="vc.viewState.GR_DOCUNODCVW73_07.style"> 
          <div id="GR_DOCUNODCVW73_07_VAL" kendo-validator="GR_DOCUNODCVW73_07" k-options="validatorOptions"> 
           <div class="form-vertical"> 
            <div class="row"> 
             <div class="col-xs-12" ng-show="vc.viewState.GR_DOCUNODCVW73_07-default-blank.visible"> 
              <div class="form-group cb-spacer"> 
               <label class="control-label">&nbsp;</label> 
               <span class="cb-control"></span> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div id="GR_DOCUNODCVW73_08" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_DOCUNODCVW73_08.visible" ng-class="vc.viewState.GR_DOCUNODCVW73_08.style"> 
          <div id="GR_DOCUNODCVW73_08_VAL" kendo-validator="GR_DOCUNODCVW73_08" k-options="validatorOptions"> 
           <div class="form-vertical"> 
            <div class="row"> 
             <div class="col-xs-12" ng-show="vc.viewState.GR_DOCUNODCVW73_08-default-blank.visible"> 
              <div class="form-group cb-spacer"> 
               <label class="control-label">&nbsp;</label> 
               <span class="cb-control"></span> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div id="GR_DOCUNODCVW73_03" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_DOCUNODCVW73_03.visible" ng-class="vc.viewState.GR_DOCUNODCVW73_03.style"> 
        <div id="GR_DOCUNODCVW73_03_VAL" kendo-validator="GR_DOCUNODCVW73_03" k-options="validatorOptions"> 
         <div id="QV_QDMNT8051_16" kendo-ext-grid="grids.QV_QDMNT8051_16" k-data-source="vc.model.DocumentProduct" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_QDMNT8051_16.editable" k-toolbar="vc.grids.QV_QDMNT8051_16.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="true" k-change="vc.grids.QV_QDMNT8051_16.events.change" k-data-bound="vc.grids.QV_QDMNT8051_16.events.dataBound" k-columns="vc.grids.QV_QDMNT8051_16.columns" k-cancel="vc.grids.QV_QDMNT8051_16.events.cancel" k-edit="vc.grids.QV_QDMNT8051_16.events.edit" ng-class="vc.viewState.QV_QDMNT8051_16.style" k-ng-delay="vc.afterInitData"></div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <!-- Fin item VW_DOCUNODCVW73--> 
    </div> 
   </div> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc || !vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_RPUME79PRN97" ng-click="vc.executeCommand('CM_RPUME79PRN97','Print', validator, false, false, 'VC_RPUME79_RERNO_643', false)" class="btn btn-primary navbar-btn" title="{{vc.viewState.CM_RPUME79PRN97.tooltip|translate}}" ng-disabled="vc.viewState.CM_RPUME79PRN97.disabled || vc.viewState.CM_RPUME79PRN97.disabledingroup" ng-show="vc.viewState.CM_RPUME79PRN97.visible" ng-class="vc.viewState.CM_RPUME79PRN97.style"> {{vc.viewState.CM_RPUME79PRN97.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_FLCRE_13_RPUME79_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_RPUME79_RERNO_643')" ng-disabled="vc.viewState.T_FLCRE_13_RPUME79_ACCEPT.disabled || vc.viewState.T_FLCRE_13_RPUME79_ACCEPT.disabledingroup" ng-show="vc.viewState.T_FLCRE_13_RPUME79_ACCEPT.visible" ng-class="vc.viewState.T_FLCRE_13_RPUME79_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_FLCRE_13_RPUME79_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_FLCRE_13_RPUME79_CANCEL.disabled || vc.viewState.T_FLCRE_13_RPUME79_CANCEL.disabledingroup" ng-show="vc.viewState.T_FLCRE_13_RPUME79_CANCEL.visible" ng-class="vc.viewState.T_FLCRE_13_RPUME79_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>