<!doctype html>
<html ng-app="MapModule">
<head>
    <title>Hello AngularJS</title>
    <link rel="stylesheet" type="text/css" href="consumo.css">
</head>
<body>
    <div ng-controller="MapsController" ng-init="initData()">
        <p>
            <input type="button" ng-click="closeModal()" value="GUARDAR" />
        </p>
        <div class="form-vertical">
            <div class="row">
                <div class="col-xs-12">
                    <div id="map" height="400px"></div>
                </div>
            </div>
        </div>
</body>
</html>