<!-- Designer Generator v 6.0.0 - release SPR 2016-13 08/07/2016 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_ETLLN40_LENTI_976" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_ETLLN40_LENTI_976.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_VDAILNAIIN43--> 
  <div id="VC_ETLLN40_LENTI_976" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="GR_VDAILNAIIN43_55" ng-class="vc.viewState.GR_VDAILNAIIN43_55.style" class="cb-group cb-group-layout"> 
    <div id="GR_VDAILNAIIN43_55_VAL" kendo-validator="GR_VDAILNAIIN43_55" k-options="validatorOptions"> 
     <div id="GR_VDAILNAIIN43_46" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_VDAILNAIIN43_46.visible" ng-class="vc.viewState.GR_VDAILNAIIN43_46.style"> 
      <div id="GR_VDAILNAIIN43_46_VAL" kendo-validator="GR_VDAILNAIIN43_46" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_VDAILNAIIN4346_EPTI967.visible"> 
          <div class="form-group cb-required" id="VA_VDAILNAIIN4346_EPTI967_DIV"> 
           <label for="VA_VDAILNAIIN4346_EPTI967" title="{{vc.viewState.VA_VDAILNAIIN4346_EPTI967.label|translate:vc.viewState.VA_VDAILNAIIN4346_EPTI967.labelArgs}}" ng-show="vc.viewState.VA_VDAILNAIIN4346_EPTI967.visible" class="control-label">{{vc.viewState.VA_VDAILNAIIN4346_EPTI967.label|translate:vc.viewState.VA_VDAILNAIIN4346_EPTI967.labelArgs}}</label> 
           <div class="cb-control"> 
            <textarea id="VA_VDAILNAIIN4346_EPTI967" style="resize: none; width:100%" rows="2" name="HeaderPunishment_ImpossibilityDescription" maxlength="765" type="text" class="form-control" ng-model="vc.model.HeaderPunishment.ImpossibilityDescription" ng-disabled="vc.viewState.VA_VDAILNAIIN4346_EPTI967.disabled || vc.viewState.VA_VDAILNAIIN4346_EPTI967.disabledingroup" ng-show="vc.viewState.VA_VDAILNAIIN4346_EPTI967.visible" ng-readonly="vc.viewState.VA_VDAILNAIIN4346_EPTI967.readonly" ng-class="vc.viewState.VA_VDAILNAIIN4346_EPTI967.style" data-cobis-group="Group,GR_VDAILNAIIN43_55,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_VDAILNAIIN4346_EPTI967.validationCode}}" data-required-msg="{{'BUSIN.DLB_BUSIN_DEIMIIAPO_40326'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}"></textarea> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_VDAILNAIIN4346_PNUR684.visible"> 
          <div class="form-group cb-required" id="VA_VDAILNAIIN4346_PNUR684_DIV"> 
           <label for="VA_VDAILNAIIN4346_PNUR684" title="{{vc.viewState.VA_VDAILNAIIN4346_PNUR684.label|translate:vc.viewState.VA_VDAILNAIIN4346_PNUR684.labelArgs}}" ng-show="vc.viewState.VA_VDAILNAIIN4346_PNUR684.visible" class="control-label">{{vc.viewState.VA_VDAILNAIIN4346_PNUR684.label|translate:vc.viewState.VA_VDAILNAIIN4346_PNUR684.labelArgs}}</label> 
           <div class="cb-control"> 
            <textarea id="VA_VDAILNAIIN4346_PNUR684" style="resize: none; width:100%" rows="2" name="HeaderPunishment_DescripNotRecoverGaranties" maxlength="765" type="text" class="form-control" ng-model="vc.model.HeaderPunishment.DescripNotRecoverGaranties" ng-disabled="vc.viewState.VA_VDAILNAIIN4346_PNUR684.disabled || vc.viewState.VA_VDAILNAIIN4346_PNUR684.disabledingroup" ng-show="vc.viewState.VA_VDAILNAIIN4346_PNUR684.visible" ng-readonly="vc.viewState.VA_VDAILNAIIN4346_PNUR684.readonly" ng-class="vc.viewState.VA_VDAILNAIIN4346_PNUR684.style" data-cobis-group="Group,GR_VDAILNAIIN43_55,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_VDAILNAIIN4346_PNUR684.validationCode}}" data-required-msg="{{'BUSIN.DLB_BUSIN_LGACIOLBL_62562'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}"></textarea> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_VDAILNAIIN4346_DTIN019.visible"> 
          <div class="form-group cb-required" id="VA_VDAILNAIIN4346_DTIN019_DIV"> 
           <label for="VA_VDAILNAIIN4346_DTIN019" title="{{vc.viewState.VA_VDAILNAIIN4346_DTIN019.label|translate:vc.viewState.VA_VDAILNAIIN4346_DTIN019.labelArgs}}" ng-show="vc.viewState.VA_VDAILNAIIN4346_DTIN019.visible" class="control-label">{{vc.viewState.VA_VDAILNAIIN4346_DTIN019.label|translate:vc.viewState.VA_VDAILNAIIN4346_DTIN019.labelArgs}}</label> 
           <div class="cb-control"> 
            <textarea id="VA_VDAILNAIIN4346_DTIN019" style="resize: none; width:100%" rows="2" name="HeaderPunishment_ConsistencyApplication" maxlength="225" type="text" class="form-control" ng-model="vc.model.HeaderPunishment.ConsistencyApplication" ng-disabled="vc.viewState.VA_VDAILNAIIN4346_DTIN019.disabled || vc.viewState.VA_VDAILNAIIN4346_DTIN019.disabledingroup" ng-show="vc.viewState.VA_VDAILNAIIN4346_DTIN019.visible" ng-readonly="vc.viewState.VA_VDAILNAIIN4346_DTIN019.readonly" ng-class="vc.viewState.VA_VDAILNAIIN4346_DTIN019.style" data-cobis-group="Group,GR_VDAILNAIIN43_55,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_VDAILNAIIN4346_DTIN019.validationCode}}" data-required-msg="{{'BUSIN.DLB_BUSIN_CRCISOLIU_00263'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}"></textarea> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_VDAILNAIIN4346_AANS111.visible"> 
          <div class="form-group cb-required" id="VA_VDAILNAIIN4346_AANS111_DIV"> 
           <label for="VA_VDAILNAIIN4346_AANS111" title="{{vc.viewState.VA_VDAILNAIIN4346_AANS111.label|translate:vc.viewState.VA_VDAILNAIIN4346_AANS111.labelArgs}}" ng-show="vc.viewState.VA_VDAILNAIIN4346_AANS111.visible" class="control-label">{{vc.viewState.VA_VDAILNAIIN4346_AANS111.label|translate:vc.viewState.VA_VDAILNAIIN4346_AANS111.labelArgs}}</label> 
           <div class="cb-control"> 
            <textarea id="VA_VDAILNAIIN4346_AANS111" style="resize: none; width:100%" rows="2" name="HeaderPunishment_Observation" maxlength="225" type="text" class="form-control" ng-model="vc.model.HeaderPunishment.Observation" ng-disabled="vc.viewState.VA_VDAILNAIIN4346_AANS111.disabled || vc.viewState.VA_VDAILNAIIN4346_AANS111.disabledingroup" ng-show="vc.viewState.VA_VDAILNAIIN4346_AANS111.visible" ng-readonly="vc.viewState.VA_VDAILNAIIN4346_AANS111.readonly" ng-class="vc.viewState.VA_VDAILNAIIN4346_AANS111.style" data-cobis-group="Group,GR_VDAILNAIIN43_55,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_VDAILNAIIN4346_AANS111.validationCode}}" data-required-msg="{{'BUSIN.DLB_BUSIN_COENTARIO_11656'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}"></textarea> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <fieldset id="GR_VDAILNAIIN43_57" ng-show="vc.viewState.GR_VDAILNAIIN43_57.visible" ng-class="vc.viewState.GR_VDAILNAIIN43_57.style" class="cb-group cb-group-simple"> 
      <legend> <span ng-bind="vc.viewState.GR_VDAILNAIIN43_57.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.GR_VDAILNAIIN43_57.statusStyle.success, 'cb-validation-fail': vc.viewState.GR_VDAILNAIIN43_57.statusStyle.fail, 'cb-validation-none': vc.viewState.GR_VDAILNAIIN43_57.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.GR_VDAILNAIIN43_57.label|translate}}</span> </legend> 
      <div id="GR_VDAILNAIIN43_57_VAL" kendo-validator="GR_VDAILNAIIN43_57" k-options="validatorOptions"> 
       <div id="QV_EQUET4811_32" kendo-ext-grid="grids.QV_EQUET4811_32" k-data-source="vc.model.Exceptions" k-column-menu="false" k-sortable="false" k-editable="vc.viewState.GR_VDAILNAIIN43_57.disabled?false:'inline'" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_EQUET4811_32.events.dataBound" k-columns="vc.grids.QV_EQUET4811_32.columns" k-cancel="vc.grids.QV_EQUET4811_32.events.cancel" k-edit="vc.grids.QV_EQUET4811_32.events.edit" ng-class="vc.viewState.QV_EQUET4811_32.style" k-ng-delay="vc.afterInitData"></div> 
      </div> 
     </fieldset> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_VDAILNAIIN43--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_FLCRE_58_ETLLN40_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_ETLLN40_LENTI_976')" ng-disabled="vc.viewState.T_FLCRE_58_ETLLN40_ACCEPT.disabled || vc.viewState.T_FLCRE_58_ETLLN40_ACCEPT.disabledingroup" ng-show="vc.viewState.T_FLCRE_58_ETLLN40_ACCEPT.visible" ng-class="vc.viewState.T_FLCRE_58_ETLLN40_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_FLCRE_58_ETLLN40_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_FLCRE_58_ETLLN40_CANCEL.disabled || vc.viewState.T_FLCRE_58_ETLLN40_CANCEL.disabledingroup" ng-show="vc.viewState.T_FLCRE_58_ETLLN40_CANCEL.visible" ng-class="vc.viewState.T_FLCRE_58_ETLLN40_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>