<!-- Designer Generator v 6.1.1 - release SPR 2017-03 17/02/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_BYLET28_DTBCT_453" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_BYLET28_DTBCT_453.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_IEDMBENTEW96--> 
  <div id="VC_BYLET28_DTBCT_453" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="GR_IEDMBENTEW96_14" ng-class="vc.viewState.GR_IEDMBENTEW96_14.style" class="cb-group cb-group-layout"> 
    <div id="GR_IEDMBENTEW96_14_VAL" kendo-validator="GR_IEDMBENTEW96_14" k-options="validatorOptions"> 
     <div id="GR_IEDMBENTEW96_03" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_IEDMBENTEW96_03.visible" ng-class="vc.viewState.GR_IEDMBENTEW96_03.style"> 
      <div id="GR_IEDMBENTEW96_03_VAL" kendo-validator="GR_IEDMBENTEW96_03" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_IEDMBENTEW9603_CTRD166.visible"> 
          <div class="form-group" id="VA_IEDMBENTEW9603_CTRD166_DIV"> 
           <label for="VA_IEDMBENTEW9603_CTRD166" title="{{vc.viewState.VA_IEDMBENTEW9603_CTRD166.label|translate:vc.viewState.VA_IEDMBENTEW9603_CTRD166.labelArgs}}" ng-show="vc.viewState.VA_IEDMBENTEW9603_CTRD166.visible" class="control-label">{{vc.viewState.VA_IEDMBENTEW9603_CTRD166.label|translate:vc.viewState.VA_IEDMBENTEW9603_CTRD166.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_IEDMBENTEW9603_CTRD166" name="CustomerSearch_CustomerId" maxlength="50" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_IEDMBENTEW9603_CTRD166.decimals" k-format="vc.viewState.VA_IEDMBENTEW9603_CTRD166.format" k-ng-model="vc.model.CustomerSearch.CustomerId" ng-model="vc.tmpModel.CustomerSearch.CustomerId" ng-disabled="vc.viewState.VA_IEDMBENTEW9603_CTRD166.disabled || vc.viewState.VA_IEDMBENTEW9603_CTRD166.disabledingroup" ng-show="vc.viewState.VA_IEDMBENTEW9603_CTRD166.visible" ng-readonly="vc.viewState.VA_IEDMBENTEW9603_CTRD166.readonly" ng-class="vc.viewState.VA_IEDMBENTEW9603_CTRD166.style" data-cobis-group="GroupLayout,GR_IEDMBENTEW96_14,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_IEDMBENTEW9603_CTRD166.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-9" ng-show="vc.viewState.VA_IEDMBENTEW9603_CSER816.visible"> 
          <div class="form-group cb-required" id="VA_IEDMBENTEW9603_CSER816_DIV"> 
           <label for="VA_IEDMBENTEW9603_CSER816" title="{{vc.viewState.VA_IEDMBENTEW9603_CSER816.label|translate:vc.viewState.VA_IEDMBENTEW9603_CSER816.labelArgs}}" ng-show="vc.viewState.VA_IEDMBENTEW9603_CSER816.visible" class="control-label">{{vc.viewState.VA_IEDMBENTEW9603_CSER816.label|translate:vc.viewState.VA_IEDMBENTEW9603_CSER816.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_IEDMBENTEW9603_CSER816" name="CustomerSearch_Customer" kendo-ext-combo-box="comboBox.VA_IEDMBENTEW9603_CSER816" ng-model="vc.model.CustomerSearch.Customer" ng-disabled="vc.viewState.VA_IEDMBENTEW9603_CSER816.disabled || vc.viewState.VA_IEDMBENTEW9603_CSER816.disabledingroup" ng-show="vc.viewState.VA_IEDMBENTEW9603_CSER816.visible" ng-readonly="vc.viewState.VA_IEDMBENTEW9603_CSER816.readonly" ng-class="vc.viewState.VA_IEDMBENTEW9603_CSER816.style" placeholder="vc.getPlaceHolder()" k-data-source="vc.catalogs.VA_IEDMBENTEW9603_CSER816" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_IEDMBENTEW9603_CSER816.template" data-cobis-group="GroupLayout,GR_IEDMBENTEW96_14,0" required data-validation-code="{{vc.viewState.VA_IEDMBENTEW9603_CSER816.validationCode}}" designer-change data-required-msg="{{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div id="GR_IEDMBENTEW96_04" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_IEDMBENTEW96_04.visible" ng-class="vc.viewState.GR_IEDMBENTEW96_04.style"> 
      <div id="GR_IEDMBENTEW96_04_VAL" kendo-validator="GR_IEDMBENTEW96_04" k-options="validatorOptions"> 
       <div id="QV_FDMYL8126_98" kendo-ext-grid="grids.QV_FDMYL8126_98" k-data-source="vc.model.FixedTermOperation" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_FDMYL8126_98.editable" k-toolbar="vc.grids.QV_FDMYL8126_98.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="true" k-change="vc.grids.QV_FDMYL8126_98.events.change" k-data-bound="vc.grids.QV_FDMYL8126_98.events.dataBound" k-columns="vc.grids.QV_FDMYL8126_98.columns" k-cancel="vc.grids.QV_FDMYL8126_98.events.cancel" k-edit="vc.grids.QV_FDMYL8126_98.events.edit" ng-class="vc.viewState.QV_FDMYL8126_98.style" k-ng-delay="vc.afterInitData"></div> 
      </div> 
     </div> 
     <div id="G_FIXEDTEYTE_555W96" class="cb-group cb-group-simple" ng-show="vc.viewState.G_FIXEDTEYTE_555W96.visible" ng-class="vc.viewState.G_FIXEDTEYTE_555W96.style"> 
      <div id="G_FIXEDTEYTE_555W96_VAL" kendo-validator="G_FIXEDTEYTE_555W96" k-options="validatorOptions"> 
       <div id="QV_6427_29743" kendo-ext-grid="grids.QV_6427_29743" k-data-source="vc.model.AccountInfomation" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_6427_29743.editable" k-toolbar="vc.grids.QV_6427_29743.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="true" k-change="vc.grids.QV_6427_29743.events.change" k-data-bound="vc.grids.QV_6427_29743.events.dataBound" k-columns="vc.grids.QV_6427_29743.columns" k-cancel="vc.grids.QV_6427_29743.events.cancel" k-edit="vc.grids.QV_6427_29743.events.edit" ng-class="vc.viewState.QV_6427_29743.style" k-ng-delay="vc.afterInitData"></div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_IEDMBENTEW96--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_BYLET28CAE88" ng-click="vc.executeCommand('CM_BYLET28CAE88','Cancelar', validator, false, false, 'VC_BYLET28_DTBCT_453', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_BYLET28CAE88.disabled || vc.viewState.CM_BYLET28CAE88.disabledingroup" ng-show="vc.viewState.CM_BYLET28CAE88.visible" ng-class="vc.viewState.CM_BYLET28CAE88.style"> {{vc.viewState.CM_BYLET28CAE88.label|translate}} </button> 
    <button id="CM_BYLET28LEO66" ng-click="vc.executeCommand('CM_BYLET28LEO66','Seleccionar', validator, true, false, 'VC_BYLET28_DTBCT_453', false)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_BYLET28LEO66.disabled || vc.viewState.CM_BYLET28LEO66.disabledingroup" ng-show="vc.viewState.CM_BYLET28LEO66.visible" ng-class="vc.viewState.CM_BYLET28LEO66.style"> {{vc.viewState.CM_BYLET28LEO66.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_FLCRE_94_BYLET28_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_BYLET28_DTBCT_453')" ng-disabled="vc.viewState.T_FLCRE_94_BYLET28_ACCEPT.disabled || vc.viewState.T_FLCRE_94_BYLET28_ACCEPT.disabledingroup" ng-show="vc.viewState.T_FLCRE_94_BYLET28_ACCEPT.visible" ng-class="vc.viewState.T_FLCRE_94_BYLET28_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_FLCRE_94_BYLET28_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_FLCRE_94_BYLET28_CANCEL.disabled || vc.viewState.T_FLCRE_94_BYLET28_CANCEL.disabledingroup" ng-show="vc.viewState.T_FLCRE_94_BYLET28_CANCEL.visible" ng-class="vc.viewState.T_FLCRE_94_BYLET28_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>