<!-- Designer Generator v 5.0.0.1626 - release SPR 2016-26 08/01/2016 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_RAYTI33_AEAIL_889" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_RAYTI33_AEAIL_889.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_RAYTI33_AEAIL_889" ng-keydown="vc.viewState.keyDown($event)" class="cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="VC_RAYTI33_ANERT_722" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_RAYTI33_ANERT_722', vc.viewState.VC_RAYTI33_ANERT_722.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_RAYTI33_ANERT_722.visible"> 
    <div id="VC_RAYTI33_ANERT_722_VAL" kendo-validator="VC_RAYTI33_ANERT_722" k-options="validatorOptions"> 
     <div id="GR_VWNDETAILW30_26" ng-class="vc.viewState.GR_VWNDETAILW30_26.style" class="cb-group cb-group-layout"> 
      <div id="GR_VWNDETAILW30_26_VAL" kendo-validator="GR_VWNDETAILW30_26" k-options="validatorOptions"> 
       <div id="GR_VWNDETAILW30_61" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_VWNDETAILW30_61.visible" ng-class="vc.viewState.GR_VWNDETAILW30_61.style"> 
        <div id="GR_VWNDETAILW30_61_VAL" kendo-validator="GR_VWNDETAILW30_61" k-options="validatorOptions"> 
         <div id="QV_WANTY5919_76" kendo-ext-grid="grids.QV_WANTY5919_76" k-data-source="vc.model.Warranty" k-column-menu="false" k-sortable="false" k-editable="vc.viewState.GR_VWNDETAILW30_61.disabled?false:'inline'" k-toolbar="vc.grids.QV_WANTY5919_76.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="true" k-selectable="true" k-change="vc.grids.QV_WANTY5919_76.events.change" k-data-bound="vc.grids.QV_WANTY5919_76.events.dataBound" k-columns="vc.grids.QV_WANTY5919_76.columns" k-cancel="vc.grids.QV_WANTY5919_76.events.cancel" k-edit="vc.grids.QV_WANTY5919_76.events.edit" ng-class="vc.viewState.QV_WANTY5919_76.style" k-ng-delay="vc.afterInitData"></div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_RAYTI33HIE19" ng-click="vc.executeCommand('CM_RAYTI33HIE19','Hide', validator, false, false, 'VC_RAYTI33_AEAIL_889', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_RAYTI33HIE19.disabled || vc.viewState.CM_RAYTI33HIE19.disabledingroup" ng-show="vc.viewState.CM_RAYTI33HIE19.visible" ng-class="vc.viewState.CM_RAYTI33HIE19.style"> {{vc.viewState.CM_RAYTI33HIE19.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_FLCRE_35_RAYTI33_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_RAYTI33_AEAIL_889')" ng-disabled="vc.viewState.T_FLCRE_35_RAYTI33_ACCEPT.disabled || vc.viewState.T_FLCRE_35_RAYTI33_ACCEPT.disabledingroup" ng-show="vc.viewState.T_FLCRE_35_RAYTI33_ACCEPT.visible" ng-class="vc.viewState.T_FLCRE_35_RAYTI33_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_FLCRE_35_RAYTI33_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_FLCRE_35_RAYTI33_CANCEL.disabled || vc.viewState.T_FLCRE_35_RAYTI33_CANCEL.disabledingroup" ng-show="vc.viewState.T_FLCRE_35_RAYTI33_CANCEL.visible" ng-class="vc.viewState.T_FLCRE_35_RAYTI33_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>