<!-- Designer Generator v 6.4.0.5 - SPR 2019-03 15/02/2019 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_MEMBERXIGR_697740" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_MEMBERXIGR_697740.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_MEMBERGQEI_848--> 
  <div id="VC_MEMBERXIGR_697740" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_MEMBERIDUM_459848" ng-show="vc.viewState.G_MEMBERIDUM_459848.visible" ng-class="vc.viewState.G_MEMBERIDUM_459848.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_MEMBERIDUM_459848" k-options="validatorOptions" id="G_MEMBERIDUM_459848_VAL"> 
     <div id="QV_7978_25243" kendo-ext-grid="grids.QV_7978_25243" k-data-source="vc.model.Member" k-column-menu="false" k-sortable="false" k-pageable="{refresh: false, pageSizes: false, buttonCount: 5}" k-editable="vc.grids.QV_7978_25243.editable" k-toolbar="vc.grids.QV_7978_25243.toolbar" k-resizable="true" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="true" k-selectable="false" k-data-bound="vc.grids.QV_7978_25243.events.dataBound" k-columns="vc.grids.QV_7978_25243.columns" k-cancel="vc.grids.QV_7978_25243.events.cancel" k-edit="vc.grids.QV_7978_25243.events.edit" k-data-binding="vc.grids.QV_7978_25243.events.dataBinding" ng-class="vc.viewState.QV_7978_25243.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_MEMBERGQEI_848--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_MEMBERHUJKTOU_740_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_MEMBERXIGR_697740')" ng-disabled="vc.viewState.T_MEMBERHUJKTOU_740_ACCEPT.disabled || vc.viewState.T_MEMBERHUJKTOU_740_ACCEPT.disabledingroup" ng-show="vc.viewState.T_MEMBERHUJKTOU_740_ACCEPT.visible" ng-class="vc.viewState.T_MEMBERHUJKTOU_740_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_MEMBERHUJKTOU_740_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_MEMBERHUJKTOU_740_CANCEL.disabled || vc.viewState.T_MEMBERHUJKTOU_740_CANCEL.disabledingroup" ng-show="vc.viewState.T_MEMBERHUJKTOU_740_CANCEL.visible" ng-class="vc.viewState.T_MEMBERHUJKTOU_740_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>