<!-- Designer Generator v 6.3.3 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_LEFTOVERPM_168459" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_LEFTOVERPM_168459.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_LEFTOVERLA_369--> 
  <div id="VC_LEFTOVERPM_168459" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_LEFTOVEAOS_730369" ng-show="vc.viewState.G_LEFTOVEAOS_730369.visible" ng-class="vc.viewState.G_LEFTOVEAOS_730369.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_LEFTOVEAOS_730369" k-options="validatorOptions" id="G_LEFTOVEAOS_730369_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-12" ng-show="vc.viewState.VA_TEXTINPUTBOXAQZ_901369.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXAQZ_901369_DIV"> 
         <label for="VA_TEXTINPUTBOXAQZ_901369" title="{{vc.viewState.VA_TEXTINPUTBOXAQZ_901369.label|translate:vc.viewState.VA_TEXTINPUTBOXAQZ_901369.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXAQZ_901369.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXAQZ_901369.label|translate:vc.viewState.VA_TEXTINPUTBOXAQZ_901369.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXAQZ_901369" name="LeftOverPayment_paymentType" kendo-ext-combo-box="comboBox.VA_TEXTINPUTBOXAQZ_901369" ng-model="vc.model.LeftOverPayment.paymentType" ng-disabled="vc.viewState.VA_TEXTINPUTBOXAQZ_901369.disabled || vc.viewState.VA_TEXTINPUTBOXAQZ_901369.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXAQZ_901369.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXAQZ_901369.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXAQZ_901369.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_TEXTINPUTBOXAQZ_901369" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_TEXTINPUTBOXAQZ_901369.template" data-cobis-group="Group,G_LEFTOVEAOS_730369,0" data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXAQZ_901369.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-8" ng-show="vc.viewState.VA_TEXTINPUTBOXVFP_330369.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXVFP_330369_DIV"> 
         <label for="VA_TEXTINPUTBOXVFP_330369" title="{{vc.viewState.VA_TEXTINPUTBOXVFP_330369.label|translate:vc.viewState.VA_TEXTINPUTBOXVFP_330369.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXVFP_330369.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXVFP_330369.label|translate:vc.viewState.VA_TEXTINPUTBOXVFP_330369.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXVFP_330369" name="LeftOverPayment_value" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_TEXTINPUTBOXVFP_330369.format" k-decimals="vc.viewState.VA_TEXTINPUTBOXVFP_330369.decimals" k-ng-model="vc.model.LeftOverPayment.value" ng-model="vc.tmpModel.LeftOverPayment.value" ng-disabled="vc.viewState.VA_TEXTINPUTBOXVFP_330369.disabled || vc.viewState.VA_TEXTINPUTBOXVFP_330369.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXVFP_330369.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXVFP_330369.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXVFP_330369.style" data-cobis-group="Group,G_LEFTOVEAOS_730369,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXVFP_330369.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_TEXTINPUTBOXSZZ_277369.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXSZZ_277369_DIV"> 
         <label for="VA_TEXTINPUTBOXSZZ_277369" title="{{vc.viewState.VA_TEXTINPUTBOXSZZ_277369.label|translate:vc.viewState.VA_TEXTINPUTBOXSZZ_277369.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXSZZ_277369.visible" class="control-label">{{'&nbsp;'}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXSZZ_277369" name="LeftOverPayment_currencyType" kendo-ext-combo-box="comboBox.VA_TEXTINPUTBOXSZZ_277369" ng-model="vc.model.LeftOverPayment.currencyType" ng-disabled="vc.viewState.VA_TEXTINPUTBOXSZZ_277369.disabled || vc.viewState.VA_TEXTINPUTBOXSZZ_277369.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXSZZ_277369.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXSZZ_277369.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXSZZ_277369.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_TEXTINPUTBOXSZZ_277369" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_TEXTINPUTBOXSZZ_277369.template" data-cobis-group="Group,G_LEFTOVEAOS_730369,0" data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXSZZ_277369.validationCode}}" designer-change /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-12" ng-show="vc.viewState.VA_TEXTINPUTBOXJMX_394369.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXJMX_394369_DIV"> 
         <label for="VA_TEXTINPUTBOXJMX_394369" title="{{vc.viewState.VA_TEXTINPUTBOXJMX_394369.label|translate:vc.viewState.VA_TEXTINPUTBOXJMX_394369.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXJMX_394369.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXJMX_394369.label|translate:vc.viewState.VA_TEXTINPUTBOXJMX_394369.labelArgs}}</label> 
         <div class="cb-control"> 
          <div class="input-group"> 
           <input id="VA_TEXTINPUTBOXJMX_394369" name="LeftOverPayment_reference" maxlength="24" type="text" class="form-control" ng-model="vc.model.LeftOverPayment.reference" ng-disabled="vc.viewState.VA_TEXTINPUTBOXJMX_394369.disabled || vc.viewState.VA_TEXTINPUTBOXJMX_394369.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXJMX_394369.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXJMX_394369.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXJMX_394369.style" data-cobis-group="Group,G_LEFTOVEAOS_730369,0" ng-model-onblur designer-restrict-input="numbers" data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXJMX_394369.validationCode}}" /> 
           <div class="input-group-btn"> 
            <button class="btn btn-default btn-block" ng-click="vc.clickTextInputButton('VA_TEXTINPUTBOXJMX_394369')" ng-disabled="vc.viewState.VA_TEXTINPUTBOXJMX_394369.disabled || vc.viewState.VA_TEXTINPUTBOXJMX_394369.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXJMX_394369.visible" ng-class="vc.viewState.VA_TEXTINPUTBOXJMX_394369.style"> <span class="glyphicon glyphicon-align-justify"></span> </button> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-12" ng-show="vc.viewState.VA_TEXTINPUTBOXYWQ_139369.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXYWQ_139369_DIV"> 
         <label for="VA_TEXTINPUTBOXYWQ_139369" title="{{vc.viewState.VA_TEXTINPUTBOXYWQ_139369.label|translate:vc.viewState.VA_TEXTINPUTBOXYWQ_139369.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXYWQ_139369.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXYWQ_139369.label|translate:vc.viewState.VA_TEXTINPUTBOXYWQ_139369.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXYWQ_139369" name="LeftOverPayment_note" maxlength="64" type="text" class="form-control text-uppercase" ng-model="vc.model.LeftOverPayment.note" ng-disabled="vc.viewState.VA_TEXTINPUTBOXYWQ_139369.disabled || vc.viewState.VA_TEXTINPUTBOXYWQ_139369.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXYWQ_139369.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXYWQ_139369.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXYWQ_139369.style" data-cobis-group="Group,G_LEFTOVEAOS_730369,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXYWQ_139369.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_LEFTOVERLA_369--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc || !vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_TLEFTOVE__3S" ng-click="vc.executeCommand('CM_TLEFTOVE__3S','Command1', validator, false, false, 'VC_LEFTOVERPM_168459', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_TLEFTOVE__3S.disabled || vc.viewState.CM_TLEFTOVE__3S.disabledingroup" ng-show="vc.viewState.CM_TLEFTOVE__3S.visible" ng-class="vc.viewState.CM_TLEFTOVE__3S.style"> {{vc.viewState.CM_TLEFTOVE__3S.label|translate}} </button> 
    <button id="CM_TLEFTOVE_V_5" ng-click="vc.executeCommand('CM_TLEFTOVE_V_5','Command2', validator, false, false, 'VC_LEFTOVERPM_168459', true)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_TLEFTOVE_V_5.disabled || vc.viewState.CM_TLEFTOVE_V_5.disabledingroup" ng-show="vc.viewState.CM_TLEFTOVE_V_5.visible" ng-class="vc.viewState.CM_TLEFTOVE_V_5.style"> {{vc.viewState.CM_TLEFTOVE_V_5.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_LEFTOVERPALDD_459_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_LEFTOVERPM_168459')" ng-disabled="vc.viewState.T_LEFTOVERPALDD_459_ACCEPT.disabled || vc.viewState.T_LEFTOVERPALDD_459_ACCEPT.disabledingroup" ng-show="vc.viewState.T_LEFTOVERPALDD_459_ACCEPT.visible" ng-class="vc.viewState.T_LEFTOVERPALDD_459_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_LEFTOVERPALDD_459_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_LEFTOVERPALDD_459_CANCEL.disabled || vc.viewState.T_LEFTOVERPALDD_459_CANCEL.disabledingroup" ng-show="vc.viewState.T_LEFTOVERPALDD_459_CANCEL.visible" ng-class="vc.viewState.T_LEFTOVERPALDD_459_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>