<!-- Designer Generator v 6.3.3 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_DATAVERITO_790838" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_DATAVERITO_790838.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_DATAVERITO_790838" ng-keydown="vc.viewState.keyDown($event)" class="cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="VC_OJENZSZTLL_173838" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_OJENZSZTLL_173838', vc.viewState.VC_OJENZSZTLL_173838.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_OJENZSZTLL_173838.visible"> 
    <div id="VC_KTQPLKPQZB_156939" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_KTQPLKPQZB_156939', vc.viewState.VC_KTQPLKPQZB_156939.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_KTQPLKPQZB_156939.visible"> 
     <div id="VC_KTQPLKPQZB_156939_VAL" kendo-validator="VC_KTQPLKPQZB_156939" k-options="validatorOptions"> 
      <!-- Inicio item VW_HEADERDZGH_263--> 
      <div designer-form-load form="vc.viewState.G_HEADERZBOW_963263" class="cb-group cb-group-html-section"> 
      </div> 
      <!-- Fin item VW_HEADERDZGH_263--> 
     </div> 
    </div> 
   </div> 
   <div id="VC_XBUVOPTLIE_155838" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_XBUVOPTLIE_155838', vc.viewState.VC_XBUVOPTLIE_155838.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_XBUVOPTLIE_155838.visible"> 
    <div id="VC_GVTYBPZGUQ_204860" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_GVTYBPZGUQ_204860', vc.viewState.VC_GVTYBPZGUQ_204860.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_GVTYBPZGUQ_204860.visible"> 
     <div id="VC_GVTYBPZGUQ_204860_VAL" kendo-validator="VC_GVTYBPZGUQ_204860" k-options="validatorOptions"> 
      <!-- Inicio item VW_QUESTIONSB_304--> 
      <div id="G_QUESTIOBKM_883304" ng-show="vc.viewState.G_QUESTIOBKM_883304.visible" ng-class="vc.viewState.G_QUESTIOBKM_883304.style" class="cb-group cb-group-simple"> 
       <div kendo-validator="G_QUESTIOBKM_883304" k-options="validatorOptions" id="G_QUESTIOBKM_883304_VAL"> 
        <div id="QV_7029_28177" kendo-ext-grid="grids.QV_7029_28177" k-data-source="vc.model.MemberQuestion" k-column-menu="false" k-sortable="false" k-pageable="{refresh: false, pageSizes: false, buttonCount: 5}" k-editable="vc.grids.QV_7029_28177.editable" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_7029_28177.events.dataBound" k-columns="vc.grids.QV_7029_28177.columns" k-cancel="vc.grids.QV_7029_28177.events.cancel" k-edit="vc.grids.QV_7029_28177.events.edit" k-data-binding="vc.grids.QV_7029_28177.events.dataBinding" k-detail-template="vc.grids.QV_7029_28177.detailTemplate" k-detail-expand="vc.grids.QV_7029_28177.events.detailExpand" ng-class="vc.viewState.QV_7029_28177.style" k-ng-delay="vc.afterInitData"></div> 
       </div> 
      </div> 
      <!-- Fin item VW_QUESTIONSB_304--> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc || !vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_TBUSINSF_3N8" ng-click="vc.executeCommand('CM_TBUSINSF_3N8','Command1', validator, false, false, 'VC_DATAVERITO_790838', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_TBUSINSF_3N8.disabled || vc.viewState.CM_TBUSINSF_3N8.disabledingroup" ng-show="vc.viewState.CM_TBUSINSF_3N8.visible" ng-class="vc.viewState.CM_TBUSINSF_3N8.style"> {{vc.viewState.CM_TBUSINSF_3N8.label|translate}} </button> 
    <button id="CM_TBUSINSF_SSU" ng-click="vc.executeCommand('CM_TBUSINSF_SSU','Command2', validator, false, false, 'VC_DATAVERITO_790838', false)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_TBUSINSF_SSU.disabled || vc.viewState.CM_TBUSINSF_SSU.disabledingroup" ng-show="vc.viewState.CM_TBUSINSF_SSU.visible" ng-class="vc.viewState.CM_TBUSINSF_SSU.style"> {{vc.viewState.CM_TBUSINSF_SSU.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_BUSINSFKMIYJN_838_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_DATAVERITO_790838')" ng-disabled="vc.viewState.T_BUSINSFKMIYJN_838_ACCEPT.disabled || vc.viewState.T_BUSINSFKMIYJN_838_ACCEPT.disabledingroup" ng-show="vc.viewState.T_BUSINSFKMIYJN_838_ACCEPT.visible" ng-class="vc.viewState.T_BUSINSFKMIYJN_838_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_BUSINSFKMIYJN_838_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_BUSINSFKMIYJN_838_CANCEL.disabled || vc.viewState.T_BUSINSFKMIYJN_838_CANCEL.disabledingroup" ng-show="vc.viewState.T_BUSINSFKMIYJN_838_CANCEL.visible" ng-class="vc.viewState.T_BUSINSFKMIYJN_838_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>