<!-- Designer Generator v 6.1.1 - release SPR 2017-03 17/02/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_GURNH31_OMREA_904" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_GURNH31_OMREA_904.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_WRRNTSEACH85--> 
  <div id="VC_GURNH31_OMREA_904" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="GR_WRRNTSEACH85_04" ng-class="vc.viewState.GR_WRRNTSEACH85_04.style" class="cb-group cb-group-layout"> 
    <div id="GR_WRRNTSEACH85_04_VAL" kendo-validator="GR_WRRNTSEACH85_04" k-options="validatorOptions"> 
     <div id="GR_WRRNTSEACH85_05" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_WRRNTSEACH85_05.visible" ng-class="vc.viewState.GR_WRRNTSEACH85_05.style"> 
      <div id="GR_WRRNTSEACH85_05_VAL" kendo-validator="GR_WRRNTSEACH85_05" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_WRRNTSEACH8505_CUOM537.visible"> 
          <div class="form-group" id="VA_WRRNTSEACH8505_CUOM537_DIV"> 
           <label for="VA_WRRNTSEACH8505_CUOM537" title="{{vc.viewState.VA_WRRNTSEACH8505_CUOM537.label|translate:vc.viewState.VA_WRRNTSEACH8505_CUOM537.labelArgs}}" ng-show="vc.viewState.VA_WRRNTSEACH8505_CUOM537.visible" class="control-label">{{vc.viewState.VA_WRRNTSEACH8505_CUOM537.label|translate:vc.viewState.VA_WRRNTSEACH8505_CUOM537.labelArgs}}</label> 
           <div title="{{vc.viewState.VA_WRRNTSEACH8505_CUOM537.tooltip|translate}}" class="cb-control"> 
            <div class="input-group"> 
             <input id="VA_WRRNTSEACH8505_CUOM537" name="GuaranteeSearchCriteria_Customer" maxlength="100" type="text" class="form-control" ng-model="vc.model.GuaranteeSearchCriteria.Customer" ng-disabled="vc.viewState.VA_WRRNTSEACH8505_CUOM537.disabled || vc.viewState.VA_WRRNTSEACH8505_CUOM537.disabledingroup" ng-show="vc.viewState.VA_WRRNTSEACH8505_CUOM537.visible" ng-readonly="vc.viewState.VA_WRRNTSEACH8505_CUOM537.readonly" ng-class="vc.viewState.VA_WRRNTSEACH8505_CUOM537.style" data-cobis-group="GroupLayout,GR_WRRNTSEACH85_04,0" ng-model-onblur designer-restrict-input="numbers" data-validation-code="{{vc.viewState.VA_WRRNTSEACH8505_CUOM537.validationCode}}" /> 
             <div class="input-group-btn"> 
              <button class="btn btn-default btn-block" ng-click="vc.clickTextInputButton('VA_WRRNTSEACH8505_CUOM537')" ng-disabled="vc.viewState.VA_WRRNTSEACH8505_CUOM537.disabled || vc.viewState.VA_WRRNTSEACH8505_CUOM537.disabledingroup" ng-show="vc.viewState.VA_WRRNTSEACH8505_CUOM537.visible" ng-class="vc.viewState.VA_WRRNTSEACH8505_CUOM537.style"> <span class="glyphicon glyphicon-align-justify"></span> </button> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_WRRNTSEACH8505_OICE113.visible"> 
          <div class="form-group" id="VA_WRRNTSEACH8505_OICE113_DIV"> 
           <label for="VA_WRRNTSEACH8505_OICE113" title="{{vc.viewState.VA_WRRNTSEACH8505_OICE113.label|translate:vc.viewState.VA_WRRNTSEACH8505_OICE113.labelArgs}}" ng-show="vc.viewState.VA_WRRNTSEACH8505_OICE113.visible" class="control-label">{{vc.viewState.VA_WRRNTSEACH8505_OICE113.label|translate:vc.viewState.VA_WRRNTSEACH8505_OICE113.labelArgs}}</label> 
           <div title="{{vc.viewState.VA_WRRNTSEACH8505_OICE113.tooltip|translate}}" class="cb-control"> 
            <input id="VA_WRRNTSEACH8505_OICE113" name="GuaranteeSearchCriteria_Office" kendo-ext-combo-box="comboBox.VA_WRRNTSEACH8505_OICE113" ng-model="vc.model.GuaranteeSearchCriteria.Office" ng-disabled="vc.viewState.VA_WRRNTSEACH8505_OICE113.disabled || vc.viewState.VA_WRRNTSEACH8505_OICE113.disabledingroup" ng-show="vc.viewState.VA_WRRNTSEACH8505_OICE113.visible" ng-readonly="vc.viewState.VA_WRRNTSEACH8505_OICE113.readonly" ng-class="vc.viewState.VA_WRRNTSEACH8505_OICE113.style" k-data-source="vc.catalogs.VA_WRRNTSEACH8505_OICE113" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_WRRNTSEACH8505_OICE113.template" data-cobis-group="GroupLayout,GR_WRRNTSEACH85_04,0" data-validation-code="{{vc.viewState.VA_WRRNTSEACH8505_OICE113.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_WRRNTSEACH8505_ATSN498.visible"> 
          <div class="form-group" id="VA_WRRNTSEACH8505_ATSN498_DIV"> 
           <label for="VA_WRRNTSEACH8505_ATSN498" title="{{vc.viewState.VA_WRRNTSEACH8505_ATSN498.label|translate:vc.viewState.VA_WRRNTSEACH8505_ATSN498.labelArgs}}" ng-show="vc.viewState.VA_WRRNTSEACH8505_ATSN498.visible" class="control-label">{{vc.viewState.VA_WRRNTSEACH8505_ATSN498.label|translate:vc.viewState.VA_WRRNTSEACH8505_ATSN498.labelArgs}}</label> 
           <div title="{{vc.viewState.VA_WRRNTSEACH8505_ATSN498.tooltip|translate}}" class="cb-control"> 
            <input id="VA_WRRNTSEACH8505_ATSN498" name="GuaranteeSearchCriteria_StatusGuarantee" kendo-ext-combo-box="comboBox.VA_WRRNTSEACH8505_ATSN498" ng-model="vc.model.GuaranteeSearchCriteria.StatusGuarantee" ng-disabled="vc.viewState.VA_WRRNTSEACH8505_ATSN498.disabled || vc.viewState.VA_WRRNTSEACH8505_ATSN498.disabledingroup" ng-show="vc.viewState.VA_WRRNTSEACH8505_ATSN498.visible" ng-readonly="vc.viewState.VA_WRRNTSEACH8505_ATSN498.readonly" ng-class="vc.viewState.VA_WRRNTSEACH8505_ATSN498.style" k-data-source="vc.catalogs.VA_WRRNTSEACH8505_ATSN498" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_WRRNTSEACH8505_ATSN498.template" data-cobis-group="GroupLayout,GR_WRRNTSEACH85_04,0" data-validation-code="{{vc.viewState.VA_WRRNTSEACH8505_ATSN498.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_WRRNTSEACH8505_RTTY100.visible"> 
          <div class="form-group" id="VA_WRRNTSEACH8505_RTTY100_DIV"> 
           <label for="VA_WRRNTSEACH8505_RTTY100" title="{{vc.viewState.VA_WRRNTSEACH8505_RTTY100.label|translate:vc.viewState.VA_WRRNTSEACH8505_RTTY100.labelArgs}}" ng-show="vc.viewState.VA_WRRNTSEACH8505_RTTY100.visible" class="control-label">{{vc.viewState.VA_WRRNTSEACH8505_RTTY100.label|translate:vc.viewState.VA_WRRNTSEACH8505_RTTY100.labelArgs}}</label> 
           <div title="{{vc.viewState.VA_WRRNTSEACH8505_RTTY100.tooltip|translate}}" class="cb-control"> 
            <input id="VA_WRRNTSEACH8505_RTTY100" name="GuaranteeSearchCriteria_GuaranteeType" kendo-ext-combo-box="comboBox.VA_WRRNTSEACH8505_RTTY100" ng-model="vc.model.GuaranteeSearchCriteria.GuaranteeType" ng-disabled="vc.viewState.VA_WRRNTSEACH8505_RTTY100.disabled || vc.viewState.VA_WRRNTSEACH8505_RTTY100.disabledingroup" ng-show="vc.viewState.VA_WRRNTSEACH8505_RTTY100.visible" ng-readonly="vc.viewState.VA_WRRNTSEACH8505_RTTY100.readonly" ng-class="vc.viewState.VA_WRRNTSEACH8505_RTTY100.style" k-data-source="vc.catalogs.VA_WRRNTSEACH8505_RTTY100" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_WRRNTSEACH8505_RTTY100.template" data-cobis-group="GroupLayout,GR_WRRNTSEACH85_04,0" data-validation-code="{{vc.viewState.VA_WRRNTSEACH8505_RTTY100.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_WRRNTSEACH8505_OFIR555.visible"> 
          <div class="form-group" id="VA_WRRNTSEACH8505_OFIR555_DIV"> 
           <label for="VA_WRRNTSEACH8505_OFIR555" title="{{vc.viewState.VA_WRRNTSEACH8505_OFIR555.label|translate:vc.viewState.VA_WRRNTSEACH8505_OFIR555.labelArgs}}" ng-show="vc.viewState.VA_WRRNTSEACH8505_OFIR555.visible" class="control-label">{{vc.viewState.VA_WRRNTSEACH8505_OFIR555.label|translate:vc.viewState.VA_WRRNTSEACH8505_OFIR555.labelArgs}}</label> 
           <div title="{{vc.viewState.VA_WRRNTSEACH8505_OFIR555.tooltip|translate}}" class="cb-control"> 
            <input id="VA_WRRNTSEACH8505_OFIR555" name="GuaranteeSearchCriteria_Officer" kendo-ext-combo-box="comboBox.VA_WRRNTSEACH8505_OFIR555" ng-model="vc.model.GuaranteeSearchCriteria.Officer" ng-disabled="vc.viewState.VA_WRRNTSEACH8505_OFIR555.disabled || vc.viewState.VA_WRRNTSEACH8505_OFIR555.disabledingroup" ng-show="vc.viewState.VA_WRRNTSEACH8505_OFIR555.visible" ng-readonly="vc.viewState.VA_WRRNTSEACH8505_OFIR555.readonly" ng-class="vc.viewState.VA_WRRNTSEACH8505_OFIR555.style" k-data-source="vc.catalogs.VA_WRRNTSEACH8505_OFIR555" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_WRRNTSEACH8505_OFIR555.template" data-cobis-group="GroupLayout,GR_WRRNTSEACH85_04,0" data-validation-code="{{vc.viewState.VA_WRRNTSEACH8505_OFIR555.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_WRRNTSEACH8505_NAOD344.visible"> 
          <div class="form-group" id="VA_WRRNTSEACH8505_NAOD344_DIV"> 
           <label for="VA_WRRNTSEACH8505_NAOD344" title="{{vc.viewState.VA_WRRNTSEACH8505_NAOD344.label|translate:vc.viewState.VA_WRRNTSEACH8505_NAOD344.labelArgs}}" ng-show="vc.viewState.VA_WRRNTSEACH8505_NAOD344.visible" class="control-label">{{vc.viewState.VA_WRRNTSEACH8505_NAOD344.label|translate:vc.viewState.VA_WRRNTSEACH8505_NAOD344.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_WRRNTSEACH8505_NAOD344" name="GuaranteeSearchCriteria_ExternalCode" maxlength="100" type="text" class="form-control" ng-model="vc.model.GuaranteeSearchCriteria.ExternalCode" ng-disabled="vc.viewState.VA_WRRNTSEACH8505_NAOD344.disabled || vc.viewState.VA_WRRNTSEACH8505_NAOD344.disabledingroup" ng-show="vc.viewState.VA_WRRNTSEACH8505_NAOD344.visible" ng-readonly="vc.viewState.VA_WRRNTSEACH8505_NAOD344.readonly" ng-class="vc.viewState.VA_WRRNTSEACH8505_NAOD344.style" data-cobis-group="GroupLayout,GR_WRRNTSEACH85_04,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_WRRNTSEACH8505_NAOD344.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_WARRANTYMONEYYY_531H85.visible"> 
          <div class="form-group" id="VA_WARRANTYMONEYYY_531H85_DIV"> 
           <label for="VA_WARRANTYMONEYYY_531H85" title="{{vc.viewState.VA_WARRANTYMONEYYY_531H85.label|translate:vc.viewState.VA_WARRANTYMONEYYY_531H85.labelArgs}}" ng-show="vc.viewState.VA_WARRANTYMONEYYY_531H85.visible" class="control-label">{{vc.viewState.VA_WARRANTYMONEYYY_531H85.label|translate:vc.viewState.VA_WARRANTYMONEYYY_531H85.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_WARRANTYMONEYYY_531H85" name="GuaranteeSearchCriteria_warrantyMoney" kendo-ext-combo-box="comboBox.VA_WARRANTYMONEYYY_531H85" ng-model="vc.model.GuaranteeSearchCriteria.warrantyMoney" ng-disabled="vc.viewState.VA_WARRANTYMONEYYY_531H85.disabled || vc.viewState.VA_WARRANTYMONEYYY_531H85.disabledingroup" ng-show="vc.viewState.VA_WARRANTYMONEYYY_531H85.visible" ng-readonly="vc.viewState.VA_WARRANTYMONEYYY_531H85.readonly" ng-class="vc.viewState.VA_WARRANTYMONEYYY_531H85.style" k-data-source="vc.catalogs.VA_WARRANTYMONEYYY_531H85" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_WARRANTYMONEYYY_531H85.template" data-cobis-group="GroupLayout,GR_WRRNTSEACH85_04,0" data-validation-code="{{vc.viewState.VA_WARRANTYMONEYYY_531H85.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_WRRNTSEACH8505_DAMS278.visible"> 
          <div class="form-group" id="VA_WRRNTSEACH8505_DAMS278_DIV"> 
           <label for="VA_WRRNTSEACH8505_DAMS278" title="{{vc.viewState.VA_WRRNTSEACH8505_DAMS278.label|translate:vc.viewState.VA_WRRNTSEACH8505_DAMS278.labelArgs}}" ng-show="vc.viewState.VA_WRRNTSEACH8505_DAMS278.visible" class="control-label">{{vc.viewState.VA_WRRNTSEACH8505_DAMS278.label|translate:vc.viewState.VA_WRRNTSEACH8505_DAMS278.labelArgs}}</label> 
           <div title="{{vc.viewState.VA_WRRNTSEACH8505_DAMS278.tooltip|translate}}" class="cb-control"> 
            <input id="VA_WRRNTSEACH8505_DAMS278" name="GuaranteeSearchCriteria_StartDateAdmission" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.GuaranteeSearchCriteria.StartDateAdmission" ng-model="vc.tmpModel.GuaranteeSearchCriteria.StartDateAdmission" ng-disabled="vc.viewState.VA_WRRNTSEACH8505_DAMS278.disabled || vc.viewState.VA_WRRNTSEACH8505_DAMS278.disabledingroup" ng-show="vc.viewState.VA_WRRNTSEACH8505_DAMS278.visible" ng-readonly="vc.viewState.VA_WRRNTSEACH8505_DAMS278.readonly" ng-class="vc.viewState.VA_WRRNTSEACH8505_DAMS278.style" data-cobis-group="GroupLayout,GR_WRRNTSEACH85_04,0" data-validation-code="{{vc.viewState.VA_WRRNTSEACH8505_DAMS278.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_WRRNTSEACH8505_DSIT654.visible"> 
          <div class="form-group" id="VA_WRRNTSEACH8505_DSIT654_DIV"> 
           <label for="VA_WRRNTSEACH8505_DSIT654" title="{{vc.viewState.VA_WRRNTSEACH8505_DSIT654.label|translate:vc.viewState.VA_WRRNTSEACH8505_DSIT654.labelArgs}}" ng-show="vc.viewState.VA_WRRNTSEACH8505_DSIT654.visible" class="control-label">{{vc.viewState.VA_WRRNTSEACH8505_DSIT654.label|translate:vc.viewState.VA_WRRNTSEACH8505_DSIT654.labelArgs}}</label> 
           <div title="{{vc.viewState.VA_WRRNTSEACH8505_DSIT654.tooltip|translate}}" class="cb-control"> 
            <input id="VA_WRRNTSEACH8505_DSIT654" name="GuaranteeSearchCriteria_EndDateAdmission" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.GuaranteeSearchCriteria.EndDateAdmission" ng-model="vc.tmpModel.GuaranteeSearchCriteria.EndDateAdmission" ng-disabled="vc.viewState.VA_WRRNTSEACH8505_DSIT654.disabled || vc.viewState.VA_WRRNTSEACH8505_DSIT654.disabledingroup" ng-show="vc.viewState.VA_WRRNTSEACH8505_DSIT654.visible" ng-readonly="vc.viewState.VA_WRRNTSEACH8505_DSIT654.readonly" ng-class="vc.viewState.VA_WRRNTSEACH8505_DSIT654.style" data-cobis-group="GroupLayout,GR_WRRNTSEACH85_04,0" data-validation-code="{{vc.viewState.VA_WRRNTSEACH8505_DSIT654.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_CHARACTERXARFCC_916H85.visible"> 
          <div class="form-group" id="VA_CHARACTERXARFCC_916H85_DIV"> 
           <label for="VA_CHARACTERXARFCC_916H85" title="{{vc.viewState.VA_CHARACTERXARFCC_916H85.label|translate:vc.viewState.VA_CHARACTERXARFCC_916H85.labelArgs}}" ng-show="vc.viewState.VA_CHARACTERXARFCC_916H85.visible" class="control-label">{{vc.viewState.VA_CHARACTERXARFCC_916H85.label|translate:vc.viewState.VA_CHARACTERXARFCC_916H85.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_CHARACTERXARFCC_916H85" name="GuaranteeSearchCriteria_character" kendo-ext-combo-box="comboBox.VA_CHARACTERXARFCC_916H85" ng-model="vc.model.GuaranteeSearchCriteria.character" ng-disabled="vc.viewState.VA_CHARACTERXARFCC_916H85.disabled || vc.viewState.VA_CHARACTERXARFCC_916H85.disabledingroup" ng-show="vc.viewState.VA_CHARACTERXARFCC_916H85.visible" ng-readonly="vc.viewState.VA_CHARACTERXARFCC_916H85.readonly" ng-class="vc.viewState.VA_CHARACTERXARFCC_916H85.style" k-data-source="vc.catalogs.VA_CHARACTERXARFCC_916H85" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_CHARACTERXARFCC_916H85.template" data-cobis-group="GroupLayout,GR_WRRNTSEACH85_04,0" data-validation-code="{{vc.viewState.VA_CHARACTERXARFCC_916H85.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_AMOUNTJOGOYWOLN_543H85.visible"> 
          <div class="form-group" id="VA_AMOUNTJOGOYWOLN_543H85_DIV"> 
           <label for="VA_AMOUNTJOGOYWOLN_543H85" title="{{vc.viewState.VA_AMOUNTJOGOYWOLN_543H85.label|translate:vc.viewState.VA_AMOUNTJOGOYWOLN_543H85.labelArgs}}" ng-show="vc.viewState.VA_AMOUNTJOGOYWOLN_543H85.visible" class="control-label">{{vc.viewState.VA_AMOUNTJOGOYWOLN_543H85.label|translate:vc.viewState.VA_AMOUNTJOGOYWOLN_543H85.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_AMOUNTJOGOYWOLN_543H85" name="GuaranteeSearchCriteria_amount" kendo-ext-combo-box="comboBox.VA_AMOUNTJOGOYWOLN_543H85" ng-model="vc.model.GuaranteeSearchCriteria.amount" ng-disabled="vc.viewState.VA_AMOUNTJOGOYWOLN_543H85.disabled || vc.viewState.VA_AMOUNTJOGOYWOLN_543H85.disabledingroup" ng-show="vc.viewState.VA_AMOUNTJOGOYWOLN_543H85.visible" ng-readonly="vc.viewState.VA_AMOUNTJOGOYWOLN_543H85.readonly" ng-class="vc.viewState.VA_AMOUNTJOGOYWOLN_543H85.style" k-data-source="vc.catalogs.VA_AMOUNTJOGOYWOLN_543H85" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_AMOUNTJOGOYWOLN_543H85.template" data-cobis-group="GroupLayout,GR_WRRNTSEACH85_04,0" data-validation-code="{{vc.viewState.VA_AMOUNTJOGOYWOLN_543H85.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_ADMISSIBILITYYY_972H85.visible"> 
          <div class="form-group" id="VA_ADMISSIBILITYYY_972H85_DIV"> 
           <label for="VA_ADMISSIBILITYYY_972H85" title="{{vc.viewState.VA_ADMISSIBILITYYY_972H85.label|translate:vc.viewState.VA_ADMISSIBILITYYY_972H85.labelArgs}}" ng-show="vc.viewState.VA_ADMISSIBILITYYY_972H85.visible" class="control-label">{{vc.viewState.VA_ADMISSIBILITYYY_972H85.label|translate:vc.viewState.VA_ADMISSIBILITYYY_972H85.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_ADMISSIBILITYYY_972H85" name="GuaranteeSearchCriteria_admissibility" kendo-ext-combo-box="comboBox.VA_ADMISSIBILITYYY_972H85" ng-model="vc.model.GuaranteeSearchCriteria.admissibility" ng-disabled="vc.viewState.VA_ADMISSIBILITYYY_972H85.disabled || vc.viewState.VA_ADMISSIBILITYYY_972H85.disabledingroup" ng-show="vc.viewState.VA_ADMISSIBILITYYY_972H85.visible" ng-readonly="vc.viewState.VA_ADMISSIBILITYYY_972H85.readonly" ng-class="vc.viewState.VA_ADMISSIBILITYYY_972H85.style" k-data-source="vc.catalogs.VA_ADMISSIBILITYYY_972H85" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_ADMISSIBILITYYY_972H85.template" data-cobis-group="GroupLayout,GR_WRRNTSEACH85_04,0" data-validation-code="{{vc.viewState.VA_ADMISSIBILITYYY_972H85.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_SHAREDYBHVSIQMI_498H85.visible"> 
          <div class="form-group" id="VA_SHAREDYBHVSIQMI_498H85_DIV"> 
           <label for="VA_SHAREDYBHVSIQMI_498H85" title="{{vc.viewState.VA_SHAREDYBHVSIQMI_498H85.label|translate:vc.viewState.VA_SHAREDYBHVSIQMI_498H85.labelArgs}}" ng-show="vc.viewState.VA_SHAREDYBHVSIQMI_498H85.visible" class="control-label">{{vc.viewState.VA_SHAREDYBHVSIQMI_498H85.label|translate:vc.viewState.VA_SHAREDYBHVSIQMI_498H85.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_SHAREDYBHVSIQMI_498H85" name="GuaranteeSearchCriteria_shared" kendo-ext-combo-box="comboBox.VA_SHAREDYBHVSIQMI_498H85" ng-model="vc.model.GuaranteeSearchCriteria.shared" ng-disabled="vc.viewState.VA_SHAREDYBHVSIQMI_498H85.disabled || vc.viewState.VA_SHAREDYBHVSIQMI_498H85.disabledingroup" ng-show="vc.viewState.VA_SHAREDYBHVSIQMI_498H85.visible" ng-readonly="vc.viewState.VA_SHAREDYBHVSIQMI_498H85.readonly" ng-class="vc.viewState.VA_SHAREDYBHVSIQMI_498H85.style" k-data-source="vc.catalogs.VA_SHAREDYBHVSIQMI_498H85" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_SHAREDYBHVSIQMI_498H85.template" data-cobis-group="GroupLayout,GR_WRRNTSEACH85_04,0" data-validation-code="{{vc.viewState.VA_SHAREDYBHVSIQMI_498H85.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div id="GR_WRRNTSEACH85_07" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_WRRNTSEACH85_07.visible" ng-class="vc.viewState.GR_WRRNTSEACH85_07.style"> 
      <div id="GR_WRRNTSEACH85_07_VAL" kendo-validator="GR_WRRNTSEACH85_07" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_ADDITIONALCRAEA_272H85.visible"> 
          <div class="form-group" id="VA_ADDITIONALCRAEA_272H85_DIV"> 
           <label>&nbsp; </label> 
           <div class="cb-control"> 
            <div> 
             <label class="checkbox-inline"> <input id="VA_ADDITIONALCRAEA_272H85" name="WarrantieComext_additionalCriteria" type="checkbox" ng-model="vc.model.WarrantieComext.additionalCriteria" ng-disabled="vc.viewState.VA_ADDITIONALCRAEA_272H85.disabled || vc.viewState.VA_ADDITIONALCRAEA_272H85.disabledingroup" ng-show="vc.viewState.VA_ADDITIONALCRAEA_272H85.visible" ng-class="vc.viewState.VA_ADDITIONALCRAEA_272H85.style" designer-change /> <span ng-if="vc.viewState.VA_ADDITIONALCRAEA_272H85.visible"> {{vc.viewState.VA_ADDITIONALCRAEA_272H85.label|translate}} </span> </label> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_WRRNTSEACH8507_0000044.visible"> 
          <div class="form-group"> 
           <label class="control-label">&nbsp;</label> 
           <div class="cb-control"> 
            <button id="VA_WRRNTSEACH8507_0000044" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_WRRNTSEACH8507_0000044','SaerchButton',validator,true, false,'', false)" ng-disabled="vc.viewState.VA_WRRNTSEACH8507_0000044.disabled || vc.viewState.VA_WRRNTSEACH8507_0000044.disabledingroup" ng-show="vc.viewState.VA_WRRNTSEACH8507_0000044.visible" ng-class="vc.viewState.VA_WRRNTSEACH8507_0000044.style" title="{{vc.viewState.VA_WRRNTSEACH8507_0000044.tooltip|translate}}"> {{vc.viewState.VA_WRRNTSEACH8507_0000044.label|translate}} </button> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_WRRNTSEACH8507_0000435.visible"> 
          <div class="form-group"> 
           <label class="control-label">&nbsp;</label> 
           <div class="cb-control"> 
            <button id="VA_WRRNTSEACH8507_0000435" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_WRRNTSEACH8507_0000435','NextGuarantees',validator,true, false,'', false)" ng-disabled="vc.viewState.VA_WRRNTSEACH8507_0000435.disabled || vc.viewState.VA_WRRNTSEACH8507_0000435.disabledingroup" ng-show="vc.viewState.VA_WRRNTSEACH8507_0000435.visible" ng-class="vc.viewState.VA_WRRNTSEACH8507_0000435.style"> {{vc.viewState.VA_WRRNTSEACH8507_0000435.label|translate}} </button> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div id="GR_WRRNTSEACH85_06" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_WRRNTSEACH85_06.visible" ng-class="vc.viewState.GR_WRRNTSEACH85_06.style"> 
      <div id="GR_WRRNTSEACH85_06_VAL" kendo-validator="GR_WRRNTSEACH85_06" k-options="validatorOptions"> 
       <div id="QV_QURAR0892_86" kendo-ext-grid="grids.QV_QURAR0892_86" k-data-source="vc.model.Guarantees" k-column-menu="false" k-sortable="false" k-pageable="{refresh: false, pageSizes: false, buttonCount: 5}" k-editable="vc.grids.QV_QURAR0892_86.editable" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="true" k-selectable="true" k-change="vc.grids.QV_QURAR0892_86.events.change" k-data-bound="vc.grids.QV_QURAR0892_86.events.dataBound" k-columns="vc.grids.QV_QURAR0892_86.columns" k-cancel="vc.grids.QV_QURAR0892_86.events.cancel" k-edit="vc.grids.QV_QURAR0892_86.events.edit" ng-class="vc.viewState.QV_QURAR0892_86.style" k-ng-delay="vc.afterInitData"></div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_WRRNTSEACH85--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_GURNH31OOS11" ng-click="vc.executeCommand('CM_GURNH31OOS11','Choose', validator, true, false, 'VC_GURNH31_OMREA_904', false)" class="btn btn-primary navbar-btn" title="{{vc.viewState.CM_GURNH31OOS11.tooltip|translate}}" ng-disabled="vc.viewState.CM_GURNH31OOS11.disabled || vc.viewState.CM_GURNH31OOS11.disabledingroup" ng-show="vc.viewState.CM_GURNH31OOS11.visible" ng-class="vc.viewState.CM_GURNH31OOS11.style"> {{vc.viewState.CM_GURNH31OOS11.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_FLCRE_24_GURNH31_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_GURNH31_OMREA_904')" ng-disabled="vc.viewState.T_FLCRE_24_GURNH31_ACCEPT.disabled || vc.viewState.T_FLCRE_24_GURNH31_ACCEPT.disabledingroup" ng-show="vc.viewState.T_FLCRE_24_GURNH31_ACCEPT.visible" ng-class="vc.viewState.T_FLCRE_24_GURNH31_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_FLCRE_24_GURNH31_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_FLCRE_24_GURNH31_CANCEL.disabled || vc.viewState.T_FLCRE_24_GURNH31_CANCEL.disabledingroup" ng-show="vc.viewState.T_FLCRE_24_GURNH31_CANCEL.visible" ng-class="vc.viewState.T_FLCRE_24_GURNH31_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>