<!-- Designer Generator v 6.3.3 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_DEBITORDOC_486608" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_DEBITORDOC_486608.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_DEBITORDPN_643--> 
  <div id="VC_DEBITORDOC_486608" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_DEBITORSIS_408643" ng-class="vc.viewState.G_DEBITORSIS_408643.style" class="cb-group cb-group-layout"> 
    <div id="G_DEBITORSIS_408643_VAL" kendo-validator="G_DEBITORSIS_408643" k-options="validatorOptions"> 
     <div id="G_DEBITORNOG_439643" class="cb-group cb-group-simple" ng-show="vc.viewState.G_DEBITORNOG_439643.visible" ng-class="vc.viewState.G_DEBITORNOG_439643.style"> 
      <div id="G_DEBITORNOG_439643_VAL" kendo-validator="G_DEBITORNOG_439643" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_TEXTINPUTBOXYNP_541643.visible"> 
          <div class="form-group" id="VA_TEXTINPUTBOXYNP_541643_DIV"> 
           <label for="VA_TEXTINPUTBOXYNP_541643" title="{{vc.viewState.VA_TEXTINPUTBOXYNP_541643.label|translate:vc.viewState.VA_TEXTINPUTBOXYNP_541643.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXYNP_541643.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXYNP_541643.label|translate:vc.viewState.VA_TEXTINPUTBOXYNP_541643.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_TEXTINPUTBOXYNP_541643" name="DebitOrderProcessingLogFilter_typeError" kendo-ext-combo-box="comboBox.VA_TEXTINPUTBOXYNP_541643" ng-model="vc.model.DebitOrderProcessingLogFilter.typeError" ng-disabled="vc.viewState.VA_TEXTINPUTBOXYNP_541643.disabled || vc.viewState.VA_TEXTINPUTBOXYNP_541643.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXYNP_541643.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXYNP_541643.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXYNP_541643.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_TEXTINPUTBOXYNP_541643" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_TEXTINPUTBOXYNP_541643.template" data-cobis-group="GroupLayout,G_DEBITORSIS_408643,0" data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXYNP_541643.validationCode}}" designer-change /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_DATEFIELDDOSHLK_541643.visible"> 
          <div class="form-group" id="VA_DATEFIELDDOSHLK_541643_DIV"> 
           <label for="VA_DATEFIELDDOSHLK_541643" title="{{vc.viewState.VA_DATEFIELDDOSHLK_541643.label|translate:vc.viewState.VA_DATEFIELDDOSHLK_541643.labelArgs}}" ng-show="vc.viewState.VA_DATEFIELDDOSHLK_541643.visible" class="control-label">{{vc.viewState.VA_DATEFIELDDOSHLK_541643.label|translate:vc.viewState.VA_DATEFIELDDOSHLK_541643.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_DATEFIELDDOSHLK_541643" name="DebitOrderProcessingLogFilter_fromDate" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.DebitOrderProcessingLogFilter.fromDate" ng-model="vc.tmpModel.DebitOrderProcessingLogFilter.fromDate" ng-disabled="vc.viewState.VA_DATEFIELDDOSHLK_541643.disabled || vc.viewState.VA_DATEFIELDDOSHLK_541643.disabledingroup" ng-show="vc.viewState.VA_DATEFIELDDOSHLK_541643.visible" ng-readonly="vc.viewState.VA_DATEFIELDDOSHLK_541643.readonly" ng-class="vc.viewState.VA_DATEFIELDDOSHLK_541643.style" data-cobis-group="GroupLayout,G_DEBITORSIS_408643,0" custom-validate data-validation-code="{{vc.viewState.VA_DATEFIELDDOSHLK_541643.validationCode}}" data-customvalidate-msg="{{'DSGNR.SYS_DSGNR_MSGERRORE_00022'|translate}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_DATEFIELDMYOWUX_624643.visible"> 
          <div class="form-group" id="VA_DATEFIELDMYOWUX_624643_DIV"> 
           <label for="VA_DATEFIELDMYOWUX_624643" title="{{vc.viewState.VA_DATEFIELDMYOWUX_624643.label|translate:vc.viewState.VA_DATEFIELDMYOWUX_624643.labelArgs}}" ng-show="vc.viewState.VA_DATEFIELDMYOWUX_624643.visible" class="control-label">{{vc.viewState.VA_DATEFIELDMYOWUX_624643.label|translate:vc.viewState.VA_DATEFIELDMYOWUX_624643.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_DATEFIELDMYOWUX_624643" name="DebitOrderProcessingLogFilter_untilDate" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.DebitOrderProcessingLogFilter.untilDate" ng-model="vc.tmpModel.DebitOrderProcessingLogFilter.untilDate" ng-disabled="vc.viewState.VA_DATEFIELDMYOWUX_624643.disabled || vc.viewState.VA_DATEFIELDMYOWUX_624643.disabledingroup" ng-show="vc.viewState.VA_DATEFIELDMYOWUX_624643.visible" ng-readonly="vc.viewState.VA_DATEFIELDMYOWUX_624643.readonly" ng-class="vc.viewState.VA_DATEFIELDMYOWUX_624643.style" data-cobis-group="GroupLayout,G_DEBITORSIS_408643,0" custom-validate data-validation-code="{{vc.viewState.VA_DATEFIELDMYOWUX_624643.validationCode}}" data-customvalidate-msg="{{'DSGNR.SYS_DSGNR_MSGERRORE_00022'|translate}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_TEXTINPUTBOXRBR_513643.visible"> 
          <div class="form-group" id="VA_TEXTINPUTBOXRBR_513643_DIV"> 
           <label for="VA_TEXTINPUTBOXRBR_513643" title="{{vc.viewState.VA_TEXTINPUTBOXRBR_513643.label|translate:vc.viewState.VA_TEXTINPUTBOXRBR_513643.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXRBR_513643.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXRBR_513643.label|translate:vc.viewState.VA_TEXTINPUTBOXRBR_513643.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_TEXTINPUTBOXRBR_513643" name="DebitOrderProcessingLogFilter_loanNumber" maxlength="24" type="text" class="form-control" ng-model="vc.model.DebitOrderProcessingLogFilter.loanNumber" ng-disabled="vc.viewState.VA_TEXTINPUTBOXRBR_513643.disabled || vc.viewState.VA_TEXTINPUTBOXRBR_513643.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXRBR_513643.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXRBR_513643.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXRBR_513643.style" data-cobis-group="GroupLayout,G_DEBITORSIS_408643,0" ng-model-onblur designer-restrict-input="numbers" regular-expression regexppattern="^[0-9]*$" data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXRBR_513643.validationCode}}" data-regularexpression-msg="{{'ASSTS.MSG_ASSTS_SOLONMESO_26076'|translate}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_TEXTINPUTBOXMRW_242643.visible"> 
          <div class="form-group" id="VA_TEXTINPUTBOXMRW_242643_DIV"> 
           <label for="VA_TEXTINPUTBOXMRW_242643" title="{{vc.viewState.VA_TEXTINPUTBOXMRW_242643.label|translate:vc.viewState.VA_TEXTINPUTBOXMRW_242643.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXMRW_242643.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXMRW_242643.label|translate:vc.viewState.VA_TEXTINPUTBOXMRW_242643.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_TEXTINPUTBOXMRW_242643" name="DebitOrderProcessingLogFilter_accountNumberSantander" maxlength="24" type="text" class="form-control" ng-model="vc.model.DebitOrderProcessingLogFilter.accountNumberSantander" ng-disabled="vc.viewState.VA_TEXTINPUTBOXMRW_242643.disabled || vc.viewState.VA_TEXTINPUTBOXMRW_242643.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXMRW_242643.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXMRW_242643.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXMRW_242643.style" data-cobis-group="GroupLayout,G_DEBITORSIS_408643,0" ng-model-onblur designer-restrict-input="numbers" regular-expression regexppattern="^[0-9]*$" data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXMRW_242643.validationCode}}" data-regularexpression-msg="{{'ASSTS.MSG_ASSTS_SOLONMESO_26076'|translate}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_FILENAMEPPTUVRV_958643.visible"> 
          <div class="form-group" id="VA_FILENAMEPPTUVRV_958643_DIV"> 
           <label for="VA_FILENAMEPPTUVRV_958643" title="{{vc.viewState.VA_FILENAMEPPTUVRV_958643.label|translate:vc.viewState.VA_FILENAMEPPTUVRV_958643.labelArgs}}" ng-show="vc.viewState.VA_FILENAMEPPTUVRV_958643.visible" class="control-label">{{vc.viewState.VA_FILENAMEPPTUVRV_958643.label|translate:vc.viewState.VA_FILENAMEPPTUVRV_958643.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_FILENAMEPPTUVRV_958643" name="DebitOrderProcessingLogFilter_filename" type="text" class="form-control" ng-model="vc.model.DebitOrderProcessingLogFilter.filename" ng-disabled="vc.viewState.VA_FILENAMEPPTUVRV_958643.disabled || vc.viewState.VA_FILENAMEPPTUVRV_958643.disabledingroup" ng-show="vc.viewState.VA_FILENAMEPPTUVRV_958643.visible" ng-readonly="vc.viewState.VA_FILENAMEPPTUVRV_958643.readonly" ng-class="vc.viewState.VA_FILENAMEPPTUVRV_958643.style" data-cobis-group="GroupLayout,G_DEBITORSIS_408643,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_FILENAMEPPTUVRV_958643.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_REFERENCEWNSUIW_805643.visible"> 
          <div class="form-group" id="VA_REFERENCEWNSUIW_805643_DIV"> 
           <label for="VA_REFERENCEWNSUIW_805643" title="{{vc.viewState.VA_REFERENCEWNSUIW_805643.label|translate:vc.viewState.VA_REFERENCEWNSUIW_805643.labelArgs}}" ng-show="vc.viewState.VA_REFERENCEWNSUIW_805643.visible" class="control-label">{{vc.viewState.VA_REFERENCEWNSUIW_805643.label|translate:vc.viewState.VA_REFERENCEWNSUIW_805643.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_REFERENCEWNSUIW_805643" name="DebitOrderProcessingLogFilter_reference" type="text" class="form-control" ng-model="vc.model.DebitOrderProcessingLogFilter.reference" ng-disabled="vc.viewState.VA_REFERENCEWNSUIW_805643.disabled || vc.viewState.VA_REFERENCEWNSUIW_805643.disabledingroup" ng-show="vc.viewState.VA_REFERENCEWNSUIW_805643.visible" ng-readonly="vc.viewState.VA_REFERENCEWNSUIW_805643.readonly" ng-class="vc.viewState.VA_REFERENCEWNSUIW_805643.style" data-cobis-group="GroupLayout,G_DEBITORSIS_408643,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_REFERENCEWNSUIW_805643.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_TEXTINPUTBOXNGO_790643.visible"> 
          <div class="form-group" id="VA_TEXTINPUTBOXNGO_790643_DIV"> 
           <label for="VA_TEXTINPUTBOXNGO_790643" title="{{vc.viewState.VA_TEXTINPUTBOXNGO_790643.label|translate:vc.viewState.VA_TEXTINPUTBOXNGO_790643.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXNGO_790643.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXNGO_790643.label|translate:vc.viewState.VA_TEXTINPUTBOXNGO_790643.labelArgs}}</label> 
           <div class="cb-control"> 
            <div class="input-group"> 
             <input id="VA_TEXTINPUTBOXNGO_790643" name="DebitOrderProcessingLogFilter_clientId" maxlength="11" type="text" class="form-control" ng-model="vc.model.DebitOrderProcessingLogFilter.clientId" ng-disabled="vc.viewState.VA_TEXTINPUTBOXNGO_790643.disabled || vc.viewState.VA_TEXTINPUTBOXNGO_790643.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXNGO_790643.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXNGO_790643.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXNGO_790643.style" data-cobis-group="GroupLayout,G_DEBITORSIS_408643,0" ng-model-onblur designer-restrict-input="numbers" compare-in-range compare-min="0" compare-max="2147483647" regular-expression regexppattern="^[0-9]*$" data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXNGO_790643.validationCode}}" data-compareinrange-msg="{{'ASSTS.MSG_ASSTS_SEDEBERZE_11978'|translate}}" data-regularexpression-msg="{{'ASSTS.MSG_ASSTS_SOLONMESO_26076'|translate}}" /> 
             <div class="input-group-btn"> 
              <button class="btn btn-default btn-block" ng-click="vc.clickTextInputButton('VA_TEXTINPUTBOXNGO_790643')" ng-disabled="vc.viewState.VA_TEXTINPUTBOXNGO_790643.disabled || vc.viewState.VA_TEXTINPUTBOXNGO_790643.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXNGO_790643.visible" ng-class="vc.viewState.VA_TEXTINPUTBOXNGO_790643.style"> <span class="glyphicon glyphicon-align-justify"></span> </button> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_VABUTTONCIHBTPR_835643.visible"> 
          <div class="form-group"> 
           <label class="control-label">&nbsp;</label> 
           <div class="cb-control"> 
            <button id="VA_VABUTTONCIHBTPR_835643" class="btn btn-default btn-block" ng-click="vc.executeQueryControl(vc.getRequestQuery_Q_DEBITOOI_1156(),'',validator,true, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONCIHBTPR_835643.disabled || vc.viewState.VA_VABUTTONCIHBTPR_835643.disabledingroup" ng-show="vc.viewState.VA_VABUTTONCIHBTPR_835643.visible" ng-class="vc.viewState.VA_VABUTTONCIHBTPR_835643.style"> {{vc.viewState.VA_VABUTTONCIHBTPR_835643.label|translate}} </button> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div id="G_DEBITORGSE_151643" class="cb-group cb-group-simple" ng-show="vc.viewState.G_DEBITORGSE_151643.visible" ng-class="vc.viewState.G_DEBITORGSE_151643.style"> 
      <div id="G_DEBITORGSE_151643_VAL" kendo-validator="G_DEBITORGSE_151643" k-options="validatorOptions"> 
       <div id="QV_1156_57465" kendo-ext-grid="grids.QV_1156_57465" k-data-source="vc.model.DebitOrderProcessingLog" k-column-menu="false" k-excel="vc.grids.QV_1156_57465.events.excel" k-sortable="false" k-pageable="{refresh: false, pageSizes: false, buttonCount: 5}" k-editable="vc.grids.QV_1156_57465.editable" k-toolbar="vc.grids.QV_1156_57465.toolbar" k-resizable="true" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="true" k-selectable="false" k-excel-export="vc.grids.QV_1156_57465.events.excelExport" k-data-bound="vc.grids.QV_1156_57465.events.dataBound" k-columns="vc.grids.QV_1156_57465.columns" k-cancel="vc.grids.QV_1156_57465.events.cancel" k-edit="vc.grids.QV_1156_57465.events.edit" ng-class="vc.viewState.QV_1156_57465.style" k-ng-delay="vc.afterInitData"></div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_DEBITORDPN_643--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_ASSTSKUSBXHZA_608_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_DEBITORDOC_486608')" ng-disabled="vc.viewState.T_ASSTSKUSBXHZA_608_ACCEPT.disabled || vc.viewState.T_ASSTSKUSBXHZA_608_ACCEPT.disabledingroup" ng-show="vc.viewState.T_ASSTSKUSBXHZA_608_ACCEPT.visible" ng-class="vc.viewState.T_ASSTSKUSBXHZA_608_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_ASSTSKUSBXHZA_608_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_ASSTSKUSBXHZA_608_CANCEL.disabled || vc.viewState.T_ASSTSKUSBXHZA_608_CANCEL.disabledingroup" ng-show="vc.viewState.T_ASSTSKUSBXHZA_608_CANCEL.visible" ng-class="vc.viewState.T_ASSTSKUSBXHZA_608_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>