<!-- Designer Generator v 6.4.0.5 - SPR 2019-03 15/02/2019 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_VOUCHERPTM_945469" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_VOUCHERPTM_945469.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_VOUCHERPMN_873--> 
  <div id="VC_VOUCHERPTM_945469" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_VOUCHERATA_704873" ng-show="vc.viewState.G_VOUCHERATA_704873.visible" ng-class="vc.viewState.G_VOUCHERATA_704873.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_VOUCHERATA_704873" k-options="validatorOptions" id="G_VOUCHERATA_704873_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-6" ng-show="vc.viewState.VA_1491XAAAAMJTPOU_128873.visible"> 
        <div class="form-group" id="VA_1491XAAAAMJTPOU_128873_DIV"> 
         <label for="VA_1491XAAAAMJTPOU_128873" title="{{vc.viewState.VA_1491XAAAAMJTPOU_128873.label|translate:vc.viewState.VA_1491XAAAAMJTPOU_128873.labelArgs}}" ng-show="vc.viewState.VA_1491XAAAAMJTPOU_128873.visible" class="control-label">{{vc.viewState.VA_1491XAAAAMJTPOU_128873.label|translate:vc.viewState.VA_1491XAAAAMJTPOU_128873.labelArgs}}</label> 
         <div class="cb-control"> 
          <div class="input-group"> 
           <input id="VA_1491XAAAAMJTPOU_128873" name="Group_groupName" type="text" class="form-control" ng-model="vc.model.Group.groupName" ng-disabled="vc.viewState.VA_1491XAAAAMJTPOU_128873.disabled || vc.viewState.VA_1491XAAAAMJTPOU_128873.disabledingroup" ng-show="vc.viewState.VA_1491XAAAAMJTPOU_128873.visible" ng-readonly="vc.viewState.VA_1491XAAAAMJTPOU_128873.readonly" ng-class="vc.viewState.VA_1491XAAAAMJTPOU_128873.style" data-cobis-group="Group,G_VOUCHERATA_704873,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_1491XAAAAMJTPOU_128873.validationCode}}" /> 
           <div class="input-group-btn"> 
            <button class="btn btn-default btn-block" ng-click="vc.clickTextInputButton('VA_1491XAAAAMJTPOU_128873')" ng-disabled="vc.viewState.VA_1491XAAAAMJTPOU_128873.disabled || vc.viewState.VA_1491XAAAAMJTPOU_128873.disabledingroup" ng-show="vc.viewState.VA_1491XAAAAMJTPOU_128873.visible" ng-class="vc.viewState.VA_1491XAAAAMJTPOU_128873.style"> <span class="glyphicon glyphicon-align-justify"></span> </button> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-6" ng-show="vc.viewState.VA_VABUTTONFPBVJYH_744873.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONFPBVJYH_744873" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONFPBVJYH_744873','VA_VABUTTONFPBVJYH_744873',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONFPBVJYH_744873.disabled || vc.viewState.VA_VABUTTONFPBVJYH_744873.disabledingroup" ng-show="vc.viewState.VA_VABUTTONFPBVJYH_744873.visible" ng-class="vc.viewState.VA_VABUTTONFPBVJYH_744873.style"> {{vc.viewState.VA_VABUTTONFPBVJYH_744873.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_VOUCHERANE_410873" ng-show="vc.viewState.G_VOUCHERANE_410873.visible" ng-class="vc.viewState.G_VOUCHERANE_410873.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_VOUCHERANE_410873" k-options="validatorOptions" id="G_VOUCHERANE_410873_VAL"> 
     <div class="form-horizontal"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VASIMPLELABELLL_145873.visible"> 
        <div class="form-group"> 
         <label class="col-sm-4 control-label">&nbsp;</label> 
         <div class="col-sm-8"> 
          <div class="cb-control"> 
           <label id="VA_VASIMPLELABELLL_145873" ng-show="vc.viewState.VA_VASIMPLELABELLL_145873.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_145873.style"> {{vc.viewState.VA_VASIMPLELABELLL_145873.label|translate}} </label>
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-2" ng-show="vc.viewState.VA_4688QHPDXVMYWGP_873873.visible"> 
        <div class="form-group cb-no-label" id="VA_4688QHPDXVMYWGP_873873_DIV"> 
         <div class="col-sm-12"> 
          <div class="cb-control"> 
           <div id="VA_4688QHPDXVMYWGP_873873" name="Group_loanBalance" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_4688QHPDXVMYWGP_873873.visible" ng-class="vc.viewState.VA_4688QHPDXVMYWGP_873873.style">
             {{kendo.toString(vc.model.Group.loanBalance, 'c')}} 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-2" ng-show="vc.viewState.VA_5301LEFQXMGTFDL_507873.visible"> 
        <div class="form-group cb-no-label" id="VA_5301LEFQXMGTFDL_507873_DIV"> 
         <div class="col-sm-12"> 
          <div class="cb-control"> 
           <div id="VA_5301LEFQXMGTFDL_507873" name="Group_loanBalCurrencyNem" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_5301LEFQXMGTFDL_507873.visible" ng-class="vc.viewState.VA_5301LEFQXMGTFDL_507873.style">
             {{vc.model.Group.loanBalCurrencyNem}} 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_VOUCHERNLY_609873" ng-show="vc.viewState.G_VOUCHERNLY_609873.visible" ng-class="vc.viewState.G_VOUCHERNLY_609873.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_VOUCHERNLY_609873" k-options="validatorOptions" id="G_VOUCHERNLY_609873_VAL"> 
     <div class="form-horizontal"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VASIMPLELABELLL_688873.visible"> 
        <div class="form-group"> 
         <label class="col-sm-4 control-label">&nbsp;</label> 
         <div class="col-sm-8"> 
          <div class="cb-control"> 
           <label id="VA_VASIMPLELABELLL_688873" ng-show="vc.viewState.VA_VASIMPLELABELLL_688873.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_688873.style"> {{vc.viewState.VA_VASIMPLELABELLL_688873.label|translate}} </label>
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-2" ng-show="vc.viewState.VA_1265XRDFYDJTFCJ_177873.visible"> 
        <div class="form-group cb-no-label" id="VA_1265XRDFYDJTFCJ_177873_DIV"> 
         <div class="col-sm-12"> 
          <div class="cb-control"> 
           <div id="VA_1265XRDFYDJTFCJ_177873" name="Group_collateralBalance" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_1265XRDFYDJTFCJ_177873.visible" ng-class="vc.viewState.VA_1265XRDFYDJTFCJ_177873.style">
             {{kendo.toString(vc.model.Group.collateralBalance, 'c')}} 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-2" ng-show="vc.viewState.VA_5284HTSBDMFVRZH_251873.visible"> 
        <div class="form-group cb-no-label" id="VA_5284HTSBDMFVRZH_251873_DIV"> 
         <div class="col-sm-12"> 
          <div class="cb-control"> 
           <div id="VA_5284HTSBDMFVRZH_251873" name="Group_colBalCurrencyNem" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_5284HTSBDMFVRZH_251873.visible" ng-class="vc.viewState.VA_5284HTSBDMFVRZH_251873.style">
             {{vc.model.Group.colBalCurrencyNem}} 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_VOUCHERALI_978873" ng-show="vc.viewState.G_VOUCHERALI_978873.visible" ng-class="vc.viewState.G_VOUCHERALI_978873.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_VOUCHERALI_978873" k-options="validatorOptions" id="G_VOUCHERALI_978873_VAL"> 
     <div class="form-horizontal"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VASIMPLELABELLL_544873.visible"> 
        <div class="form-group"> 
         <label class="col-sm-4 control-label">&nbsp;</label> 
         <div class="col-sm-8"> 
          <div class="cb-control"> 
           <label id="VA_VASIMPLELABELLL_544873" ng-show="vc.viewState.VA_VASIMPLELABELLL_544873.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_544873.style"> {{vc.viewState.VA_VASIMPLELABELLL_544873.label|translate}} </label>
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_GROUPSTATUSUSLR_781873.visible"> 
        <div class="form-group cb-no-label" id="VA_GROUPSTATUSUSLR_781873_DIV"> 
         <div class="col-sm-12"> 
          <div class="cb-control"> 
           <div id="VA_GROUPSTATUSUSLR_781873" name="Group_groupStatus" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_GROUPSTATUSUSLR_781873.visible" ng-class="vc.viewState.VA_GROUPSTATUSUSLR_781873.style">
             {{kendo.toString(vc.model.Group.groupStatus, '')}} 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_VOUCHERPMN_873--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc || !vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_TASSTSHP_4SA" ng-click="vc.executeCommand('CM_TASSTSHP_4SA','Command1', validator, false, false, 'VC_VOUCHERPTM_945469', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_TASSTSHP_4SA.disabled || vc.viewState.CM_TASSTSHP_4SA.disabledingroup" ng-show="vc.viewState.CM_TASSTSHP_4SA.visible" ng-class="vc.viewState.CM_TASSTSHP_4SA.style"> {{vc.viewState.CM_TASSTSHP_4SA.label|translate}} </button> 
    <button id="CM_TASSTSHP_ZAX" ng-click="vc.executeCommand('CM_TASSTSHP_ZAX','Command2', validator, false, false, 'VC_VOUCHERPTM_945469', false)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_TASSTSHP_ZAX.disabled || vc.viewState.CM_TASSTSHP_ZAX.disabledingroup" ng-show="vc.viewState.CM_TASSTSHP_ZAX.visible" ng-class="vc.viewState.CM_TASSTSHP_ZAX.style"> {{vc.viewState.CM_TASSTSHP_ZAX.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_ASSTSHPXNSQZA_469_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_VOUCHERPTM_945469')" ng-disabled="vc.viewState.T_ASSTSHPXNSQZA_469_ACCEPT.disabled || vc.viewState.T_ASSTSHPXNSQZA_469_ACCEPT.disabledingroup" ng-show="vc.viewState.T_ASSTSHPXNSQZA_469_ACCEPT.visible" ng-class="vc.viewState.T_ASSTSHPXNSQZA_469_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_ASSTSHPXNSQZA_469_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_ASSTSHPXNSQZA_469_CANCEL.disabled || vc.viewState.T_ASSTSHPXNSQZA_469_CANCEL.disabledingroup" ng-show="vc.viewState.T_ASSTSHPXNSQZA_469_CANCEL.visible" ng-class="vc.viewState.T_ASSTSHPXNSQZA_469_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>