<!-- Designer Generator v 5.1.0.1604 - release SPR 2016-04 04/03/2016 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_IEACI48_LDACK_439" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_IEACI48_LDACK_439.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_VIEWFECHCC44--> 
  <div id="VC_IEACI48_LDACK_439" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="GR_VIEWFECHCC44_03" ng-class="vc.viewState.GR_VIEWFECHCC44_03.style" class="cb-group cb-group-layout"> 
    <div id="GR_VIEWFECHCC44_03_VAL" kendo-validator="GR_VIEWFECHCC44_03" k-options="validatorOptions"> 
     <fieldset id="GR_VIEWFECHCC44_04" ng-show="vc.viewState.GR_VIEWFECHCC44_04.visible" ng-class="vc.viewState.GR_VIEWFECHCC44_04.style" class="cb-group cb-group-simple"> 
      <legend> <span ng-bind="vc.viewState.GR_VIEWFECHCC44_04.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.GR_VIEWFECHCC44_04.statusStyle.success, 'cb-validation-fail': vc.viewState.GR_VIEWFECHCC44_04.statusStyle.fail, 'cb-validation-none': vc.viewState.GR_VIEWFECHCC44_04.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.GR_VIEWFECHCC44_04.label|translate}}</span> </legend> 
      <div id="GR_VIEWFECHCC44_04_VAL" kendo-validator="GR_VIEWFECHCC44_04" k-options="validatorOptions"> 
       <div class="form-horizontal"> 
        <div class="row"> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_VIEWFECHCC4404_RQSD976.visible"> 
          <div class="form-group cb-required" id="VA_VIEWFECHCC4404_RQSD976_DIV"> 
           <label for="VA_VIEWFECHCC4404_RQSD976" title="{{vc.viewState.VA_VIEWFECHCC4404_RQSD976.label|translate:vc.viewState.VA_VIEWFECHCC4404_RQSD976.labelArgs}}" ng-show="vc.viewState.VA_VIEWFECHCC4404_RQSD976.visible" class="col-sm-4 control-label">{{vc.viewState.VA_VIEWFECHCC4404_RQSD976.label|translate:vc.viewState.VA_VIEWFECHCC4404_RQSD976.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div class="cb-control"> 
             <input id="VA_VIEWFECHCC4404_RQSD976" name="OriginalHeader_IDRequested" maxlength="25" type="text" class="form-control" ng-model="vc.model.OriginalHeader.IDRequested" ng-disabled="vc.viewState.VA_VIEWFECHCC4404_RQSD976.disabled || vc.viewState.VA_VIEWFECHCC4404_RQSD976.disabledingroup" ng-show="vc.viewState.VA_VIEWFECHCC4404_RQSD976.visible" ng-readonly="vc.viewState.VA_VIEWFECHCC4404_RQSD976.readonly" ng-class="vc.viewState.VA_VIEWFECHCC4404_RQSD976.style" data-cobis-group="Group,GR_VIEWFECHCC44_03,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_VIEWFECHCC4404_RQSD976.validationCode}}" data-required-msg="{{'BUSIN.DLB_BUSIN_IGEELTAIE_31748'|translate}}" /> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_VIEWFECHCC4404_0000869.visible"> 
          <div class="form-group"> 
           <label class="col-sm-4 control-label">&nbsp;</label> 
           <div class="col-sm-8"> 
            <div class="cb-control"> 
             <button id="VA_VIEWFECHCC4404_0000869" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VIEWFECHCC4404_0000869','Buscar',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VIEWFECHCC4404_0000869.disabled || vc.viewState.VA_VIEWFECHCC4404_0000869.disabledingroup" ng-show="vc.viewState.VA_VIEWFECHCC4404_0000869.visible" ng-class="vc.viewState.VA_VIEWFECHCC4404_0000869.style"> {{vc.viewState.VA_VIEWFECHCC4404_0000869.label|translate}} </button> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </fieldset> 
     <fieldset id="GR_VIEWFECHCC44_05" ng-show="vc.viewState.GR_VIEWFECHCC44_05.visible" ng-class="vc.viewState.GR_VIEWFECHCC44_05.style" class="cb-group cb-group-simple"> 
      <legend> <span ng-bind="vc.viewState.GR_VIEWFECHCC44_05.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.GR_VIEWFECHCC44_05.statusStyle.success, 'cb-validation-fail': vc.viewState.GR_VIEWFECHCC44_05.statusStyle.fail, 'cb-validation-none': vc.viewState.GR_VIEWFECHCC44_05.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.GR_VIEWFECHCC44_05.label|translate}}</span> </legend> 
      <div id="GR_VIEWFECHCC44_05_VAL" kendo-validator="GR_VIEWFECHCC44_05" k-options="validatorOptions"> 
       <div id="QV_BOREG0798_55" kendo-ext-grid="grids.QV_BOREG0798_55" k-data-source="vc.model.DebtorGeneral" k-column-menu="false" k-sortable="false" k-editable="vc.viewState.GR_VIEWFECHCC44_05.disabled?false:'inline'" k-toolbar="vc.grids.QV_BOREG0798_55.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="true" k-change="vc.grids.QV_BOREG0798_55.events.change" k-data-bound="vc.grids.QV_BOREG0798_55.events.dataBound" k-columns="vc.grids.QV_BOREG0798_55.columns" k-cancel="vc.grids.QV_BOREG0798_55.events.cancel" k-edit="vc.grids.QV_BOREG0798_55.events.edit" ng-class="vc.viewState.QV_BOREG0798_55.style" k-ng-delay="vc.afterInitData"></div> 
      </div> 
     </fieldset> 
     <fieldset id="GR_VIEWFECHCC44_06" ng-show="vc.viewState.GR_VIEWFECHCC44_06.visible" ng-class="vc.viewState.GR_VIEWFECHCC44_06.style" class="cb-group cb-group-simple"> 
      <legend> <span ng-bind="vc.viewState.GR_VIEWFECHCC44_06.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.GR_VIEWFECHCC44_06.statusStyle.success, 'cb-validation-fail': vc.viewState.GR_VIEWFECHCC44_06.statusStyle.fail, 'cb-validation-none': vc.viewState.GR_VIEWFECHCC44_06.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.GR_VIEWFECHCC44_06.label|translate}}</span> </legend> 
      <div id="GR_VIEWFECHCC44_06_VAL" kendo-validator="GR_VIEWFECHCC44_06" k-options="validatorOptions"> 
       <div id="QV_PESAU2317_81" kendo-ext-grid="grids.QV_PESAU2317_81" k-data-source="vc.model.PersonalGuarantor" k-column-menu="false" k-sortable="false" k-editable="vc.viewState.GR_VIEWFECHCC44_06.disabled?false:'inline'" k-toolbar="vc.grids.QV_PESAU2317_81.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="true" k-change="vc.grids.QV_PESAU2317_81.events.change" k-data-bound="vc.grids.QV_PESAU2317_81.events.dataBound" k-columns="vc.grids.QV_PESAU2317_81.columns" k-cancel="vc.grids.QV_PESAU2317_81.events.cancel" k-edit="vc.grids.QV_PESAU2317_81.events.edit" ng-class="vc.viewState.QV_PESAU2317_81.style" k-ng-delay="vc.afterInitData"></div> 
      </div> 
     </fieldset> 
     <div id="GR_VIEWFECHCC44_07" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_VIEWFECHCC44_07.visible" ng-class="vc.viewState.GR_VIEWFECHCC44_07.style"> 
      <div id="GR_VIEWFECHCC44_07_VAL" kendo-validator="GR_VIEWFECHCC44_07" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_VIEWFECHCC4407_0000405.visible"> 
          <div class="form-group cb-spacer"> 
           <label class="control-label">&nbsp;</label> 
           <span class="cb-control"></span> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_VIEWFECHCC4407_0000244.visible"> 
          <div class="form-group"> 
           <label class="control-label">&nbsp;</label> 
           <div class="cb-control"> 
            <button id="VA_VIEWFECHCC4407_0000244" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VIEWFECHCC4407_0000244','Registrar Fecha CIC',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VIEWFECHCC4407_0000244.disabled || vc.viewState.VA_VIEWFECHCC4407_0000244.disabledingroup" ng-show="vc.viewState.VA_VIEWFECHCC4407_0000244.visible" ng-class="vc.viewState.VA_VIEWFECHCC4407_0000244.style"> {{vc.viewState.VA_VIEWFECHCC4407_0000244.label|translate}} </button> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_VIEWFECHCC44--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_FLCRE_58_IEACI48_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_IEACI48_LDACK_439')" ng-disabled="vc.viewState.T_FLCRE_58_IEACI48_ACCEPT.disabled || vc.viewState.T_FLCRE_58_IEACI48_ACCEPT.disabledingroup" ng-show="vc.viewState.T_FLCRE_58_IEACI48_ACCEPT.visible" ng-class="vc.viewState.T_FLCRE_58_IEACI48_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_FLCRE_58_IEACI48_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_FLCRE_58_IEACI48_CANCEL.disabled || vc.viewState.T_FLCRE_58_IEACI48_CANCEL.disabledingroup" ng-show="vc.viewState.T_FLCRE_58_IEACI48_CANCEL.visible" ng-class="vc.viewState.T_FLCRE_58_IEACI48_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>