<!-- Designer Generator v 5.0.0.1626 - release SPR 2016-26 08/01/2016 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_NEEDA85_LHEIL_830" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_NEEDA85_LHEIL_830.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_NEEDA85_LHEIL_830" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="GR_LIHDETLVIW14_60" ng-class="vc.viewState.GR_LIHDETLVIW14_60.style" class="cb-group cb-group-layout"> 
    <div id="GR_LIHDETLVIW14_60_VAL" kendo-validator="GR_LIHDETLVIW14_60" k-options="validatorOptions"> 
     <div id="GR_LIHDETLVIW14_81" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_LIHDETLVIW14_81.visible" ng-class="vc.viewState.GR_LIHDETLVIW14_81.style"> 
      <div id="GR_LIHDETLVIW14_81_VAL" kendo-validator="GR_LIHDETLVIW14_81" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_LIHDETLVIW1481_FIEC267.visible"> 
          <div class="form-group" id="VA_LIHDETLVIW1481_FIEC267_DIV"> 
           <label for="VA_LIHDETLVIW1481_FIEC267" title="{{vc.viewState.VA_LIHDETLVIW1481_FIEC267.label|translate:vc.viewState.VA_LIHDETLVIW1481_FIEC267.labelArgs}}" ng-show="vc.viewState.VA_LIHDETLVIW1481_FIEC267.visible" class="control-label">{{vc.viewState.VA_LIHDETLVIW1481_FIEC267.label|translate:vc.viewState.VA_LIHDETLVIW1481_FIEC267.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_LIHDETLVIW1481_FIEC267" name="LineHeader_OfficeCode" kendo-ext-combo-box="comboBox.VA_LIHDETLVIW1481_FIEC267" ng-model="vc.model.LineHeader.OfficeCode" ng-disabled="vc.viewState.VA_LIHDETLVIW1481_FIEC267.disabled || vc.viewState.VA_LIHDETLVIW1481_FIEC267.disabledingroup" ng-show="vc.viewState.VA_LIHDETLVIW1481_FIEC267.visible" ng-readonly="vc.viewState.VA_LIHDETLVIW1481_FIEC267.readonly" ng-class="vc.viewState.VA_LIHDETLVIW1481_FIEC267.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_LIHDETLVIW1481_FIEC267" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_LIHDETLVIW1481_FIEC267.template" data-cobis-group="Group,GR_LIHDETLVIW14_60,0" data-validation-code="{{vc.viewState.VA_LIHDETLVIW1481_FIEC267.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_LIHDETLVIW1481_CTCE464.visible"> 
          <div class="form-group" id="VA_LIHDETLVIW1481_CTCE464_DIV"> 
           <label for="VA_LIHDETLVIW1481_CTCE464" title="{{vc.viewState.VA_LIHDETLVIW1481_CTCE464.label|translate:vc.viewState.VA_LIHDETLVIW1481_CTCE464.labelArgs}}" ng-show="vc.viewState.VA_LIHDETLVIW1481_CTCE464.visible" class="control-label">{{vc.viewState.VA_LIHDETLVIW1481_CTCE464.label|translate:vc.viewState.VA_LIHDETLVIW1481_CTCE464.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_LIHDETLVIW1481_CTCE464" name="LineHeader_CityCode" kendo-ext-combo-box="comboBox.VA_LIHDETLVIW1481_CTCE464" ng-model="vc.model.LineHeader.CityCode" ng-disabled="vc.viewState.VA_LIHDETLVIW1481_CTCE464.disabled || vc.viewState.VA_LIHDETLVIW1481_CTCE464.disabledingroup" ng-show="vc.viewState.VA_LIHDETLVIW1481_CTCE464.visible" ng-readonly="vc.viewState.VA_LIHDETLVIW1481_CTCE464.readonly" ng-class="vc.viewState.VA_LIHDETLVIW1481_CTCE464.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_LIHDETLVIW1481_CTCE464" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_LIHDETLVIW1481_CTCE464.template" data-cobis-group="Group,GR_LIHDETLVIW14_60,0" data-validation-code="{{vc.viewState.VA_LIHDETLVIW1481_CTCE464.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_LIHDETLVIW1481_NDTE836.visible"> 
          <div class="form-group cb-required" id="VA_LIHDETLVIW1481_NDTE836_DIV"> 
           <label for="VA_LIHDETLVIW1481_NDTE836" title="{{vc.viewState.VA_LIHDETLVIW1481_NDTE836.label|translate:vc.viewState.VA_LIHDETLVIW1481_NDTE836.labelArgs}}" ng-show="vc.viewState.VA_LIHDETLVIW1481_NDTE836.visible" class="control-label">{{vc.viewState.VA_LIHDETLVIW1481_NDTE836.label|translate:vc.viewState.VA_LIHDETLVIW1481_NDTE836.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_LIHDETLVIW1481_NDTE836" name="LineHeader_EntryDate" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.LineHeader.EntryDate" ng-model="vc.tmpModel.LineHeader.EntryDate" ng-disabled="vc.viewState.VA_LIHDETLVIW1481_NDTE836.disabled || vc.viewState.VA_LIHDETLVIW1481_NDTE836.disabledingroup" ng-show="vc.viewState.VA_LIHDETLVIW1481_NDTE836.visible" ng-readonly="vc.viewState.VA_LIHDETLVIW1481_NDTE836.readonly" ng-class="vc.viewState.VA_LIHDETLVIW1481_NDTE836.style" data-cobis-group="Group,GR_LIHDETLVIW14_60,0" required data-validation-code="{{vc.viewState.VA_LIHDETLVIW1481_NDTE836.validationCode}}" data-required-msg="{{'BUSIN.DLB_BUSIN_FEHAINGRS_62019'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_LIHDETLVIW1481_COMT042.visible"> 
          <div class="form-group" id="VA_LIHDETLVIW1481_COMT042_DIV"> 
           <label for="VA_LIHDETLVIW1481_COMT042" title="{{vc.viewState.VA_LIHDETLVIW1481_COMT042.label|translate:vc.viewState.VA_LIHDETLVIW1481_COMT042.labelArgs}}" ng-show="vc.viewState.VA_LIHDETLVIW1481_COMT042.visible" class="control-label">{{vc.viewState.VA_LIHDETLVIW1481_COMT042.label|translate:vc.viewState.VA_LIHDETLVIW1481_COMT042.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_LIHDETLVIW1481_COMT042" name="LineHeader_Committed" type="text" class="form-control" ng-model="vc.model.LineHeader.Committed" ng-disabled="vc.viewState.VA_LIHDETLVIW1481_COMT042.disabled || vc.viewState.VA_LIHDETLVIW1481_COMT042.disabledingroup" ng-show="vc.viewState.VA_LIHDETLVIW1481_COMT042.visible" ng-readonly="vc.viewState.VA_LIHDETLVIW1481_COMT042.readonly" ng-class="vc.viewState.VA_LIHDETLVIW1481_COMT042.style" data-cobis-group="Group,GR_LIHDETLVIW14_60,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_LIHDETLVIW1481_COMT042.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_LIHDETLVIW1481_PROE043.visible"> 
          <div class="form-group cb-required" id="VA_LIHDETLVIW1481_PROE043_DIV"> 
           <label for="VA_LIHDETLVIW1481_PROE043" title="{{vc.viewState.VA_LIHDETLVIW1481_PROE043.label|translate:vc.viewState.VA_LIHDETLVIW1481_PROE043.labelArgs}}" ng-show="vc.viewState.VA_LIHDETLVIW1481_PROE043.visible" class="control-label">{{vc.viewState.VA_LIHDETLVIW1481_PROE043.label|translate:vc.viewState.VA_LIHDETLVIW1481_PROE043.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_LIHDETLVIW1481_PROE043" name="LineHeader_AmountProposed" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_LIHDETLVIW1481_PROE043.format" k-decimals="vc.viewState.VA_LIHDETLVIW1481_PROE043.decimals" k-ng-model="vc.model.LineHeader.AmountProposed" ng-model="vc.tmpModel.LineHeader.AmountProposed" ng-disabled="vc.viewState.VA_LIHDETLVIW1481_PROE043.disabled || vc.viewState.VA_LIHDETLVIW1481_PROE043.disabledingroup" ng-show="vc.viewState.VA_LIHDETLVIW1481_PROE043.visible" ng-readonly="vc.viewState.VA_LIHDETLVIW1481_PROE043.readonly" ng-class="vc.viewState.VA_LIHDETLVIW1481_PROE043.style" data-cobis-group="Group,GR_LIHDETLVIW14_60,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_LIHDETLVIW1481_PROE043.validationCode}}" data-required-msg="{{'BUSIN.DLB_BUSIN_AMNRPOSED_26320'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_LIHDETLVIW1481_EPRO485.visible"> 
          <div class="form-group cb-required" id="VA_LIHDETLVIW1481_EPRO485_DIV"> 
           <label for="VA_LIHDETLVIW1481_EPRO485" title="{{vc.viewState.VA_LIHDETLVIW1481_EPRO485.label|translate:vc.viewState.VA_LIHDETLVIW1481_EPRO485.labelArgs}}" ng-show="vc.viewState.VA_LIHDETLVIW1481_EPRO485.visible" class="control-label">{{vc.viewState.VA_LIHDETLVIW1481_EPRO485.label|translate:vc.viewState.VA_LIHDETLVIW1481_EPRO485.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_LIHDETLVIW1481_EPRO485" name="LineHeader_CurrencyProposed" kendo-ext-combo-box="comboBox.VA_LIHDETLVIW1481_EPRO485" ng-model="vc.model.LineHeader.CurrencyProposed" ng-disabled="vc.viewState.VA_LIHDETLVIW1481_EPRO485.disabled || vc.viewState.VA_LIHDETLVIW1481_EPRO485.disabledingroup" ng-show="vc.viewState.VA_LIHDETLVIW1481_EPRO485.visible" ng-readonly="vc.viewState.VA_LIHDETLVIW1481_EPRO485.readonly" ng-class="vc.viewState.VA_LIHDETLVIW1481_EPRO485.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_LIHDETLVIW1481_EPRO485" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_LIHDETLVIW1481_EPRO485.template" data-cobis-group="Group,GR_LIHDETLVIW14_60,0" required data-validation-code="{{vc.viewState.VA_LIHDETLVIW1481_EPRO485.validationCode}}" data-required-msg="{{'BUSIN.DLB_BUSIN_MODAPROEA_35445'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_LIHDETLVIW1481_SCTR073.visible"> 
          <div class="form-group" id="VA_LIHDETLVIW1481_SCTR073_DIV"> 
           <label for="VA_LIHDETLVIW1481_SCTR073" title="{{vc.viewState.VA_LIHDETLVIW1481_SCTR073.label|translate:vc.viewState.VA_LIHDETLVIW1481_SCTR073.labelArgs}}" ng-show="vc.viewState.VA_LIHDETLVIW1481_SCTR073.visible" class="control-label">{{vc.viewState.VA_LIHDETLVIW1481_SCTR073.label|translate:vc.viewState.VA_LIHDETLVIW1481_SCTR073.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_LIHDETLVIW1481_SCTR073" name="LineHeader_Sector" type="text" class="form-control" ng-model="vc.model.LineHeader.Sector" ng-disabled="vc.viewState.VA_LIHDETLVIW1481_SCTR073.disabled || vc.viewState.VA_LIHDETLVIW1481_SCTR073.disabledingroup" ng-show="vc.viewState.VA_LIHDETLVIW1481_SCTR073.visible" ng-readonly="vc.viewState.VA_LIHDETLVIW1481_SCTR073.readonly" ng-class="vc.viewState.VA_LIHDETLVIW1481_SCTR073.style" data-cobis-group="Group,GR_LIHDETLVIW14_60,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_LIHDETLVIW1481_SCTR073.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_LIHDETLVIW1481_RVIC566.visible"> 
          <div class="form-group" id="VA_LIHDETLVIW1481_RVIC566_DIV"> 
           <label for="VA_LIHDETLVIW1481_RVIC566" title="{{vc.viewState.VA_LIHDETLVIW1481_RVIC566.label|translate:vc.viewState.VA_LIHDETLVIW1481_RVIC566.labelArgs}}" ng-show="vc.viewState.VA_LIHDETLVIW1481_RVIC566.visible" class="control-label">{{vc.viewState.VA_LIHDETLVIW1481_RVIC566.label|translate:vc.viewState.VA_LIHDETLVIW1481_RVIC566.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_LIHDETLVIW1481_RVIC566" name="LineHeader_Province" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_LIHDETLVIW1481_RVIC566.decimals" k-format="vc.viewState.VA_LIHDETLVIW1481_RVIC566.format" k-ng-model="vc.model.LineHeader.Province" ng-model="vc.tmpModel.LineHeader.Province" ng-disabled="vc.viewState.VA_LIHDETLVIW1481_RVIC566.disabled || vc.viewState.VA_LIHDETLVIW1481_RVIC566.disabledingroup" ng-show="vc.viewState.VA_LIHDETLVIW1481_RVIC566.visible" ng-readonly="vc.viewState.VA_LIHDETLVIW1481_RVIC566.readonly" ng-class="vc.viewState.VA_LIHDETLVIW1481_RVIC566.style" data-cobis-group="Group,GR_LIHDETLVIW14_60,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_LIHDETLVIW1481_RVIC566.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_LIHDETLVIW1481_ADSN224.visible"> 
          <div class="form-group cb-required" id="VA_LIHDETLVIW1481_ADSN224_DIV"> 
           <label for="VA_LIHDETLVIW1481_ADSN224" title="{{vc.viewState.VA_LIHDETLVIW1481_ADSN224.label|translate:vc.viewState.VA_LIHDETLVIW1481_ADSN224.labelArgs}}" ng-show="vc.viewState.VA_LIHDETLVIW1481_ADSN224.visible" class="control-label">{{vc.viewState.VA_LIHDETLVIW1481_ADSN224.label|translate:vc.viewState.VA_LIHDETLVIW1481_ADSN224.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_LIHDETLVIW1481_ADSN224" name="LineHeader_GeograohicDestination" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_LIHDETLVIW1481_ADSN224.decimals" k-format="vc.viewState.VA_LIHDETLVIW1481_ADSN224.format" k-ng-model="vc.model.LineHeader.GeograohicDestination" ng-model="vc.tmpModel.LineHeader.GeograohicDestination" ng-disabled="vc.viewState.VA_LIHDETLVIW1481_ADSN224.disabled || vc.viewState.VA_LIHDETLVIW1481_ADSN224.disabledingroup" ng-show="vc.viewState.VA_LIHDETLVIW1481_ADSN224.visible" ng-readonly="vc.viewState.VA_LIHDETLVIW1481_ADSN224.readonly" ng-class="vc.viewState.VA_LIHDETLVIW1481_ADSN224.style" data-cobis-group="Group,GR_LIHDETLVIW14_60,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_LIHDETLVIW1481_ADSN224.validationCode}}" data-required-msg="{{'BUSIN.DLB_BUSIN_OAHDETION_14498'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_LIHDETLVIW1481_AAUN909.visible"> 
          <div class="form-group cb-required" id="VA_LIHDETLVIW1481_AAUN909_DIV"> 
           <label for="VA_LIHDETLVIW1481_AAUN909" title="{{vc.viewState.VA_LIHDETLVIW1481_AAUN909.label|translate:vc.viewState.VA_LIHDETLVIW1481_AAUN909.labelArgs}}" ng-show="vc.viewState.VA_LIHDETLVIW1481_AAUN909.visible" class="control-label">{{vc.viewState.VA_LIHDETLVIW1481_AAUN909.label|translate:vc.viewState.VA_LIHDETLVIW1481_AAUN909.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_LIHDETLVIW1481_AAUN909" name="LineHeader_AmountLocalCurrency" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_LIHDETLVIW1481_AAUN909.format" k-decimals="vc.viewState.VA_LIHDETLVIW1481_AAUN909.decimals" k-ng-model="vc.model.LineHeader.AmountLocalCurrency" ng-model="vc.tmpModel.LineHeader.AmountLocalCurrency" ng-disabled="vc.viewState.VA_LIHDETLVIW1481_AAUN909.disabled || vc.viewState.VA_LIHDETLVIW1481_AAUN909.disabledingroup" ng-show="vc.viewState.VA_LIHDETLVIW1481_AAUN909.visible" ng-readonly="vc.viewState.VA_LIHDETLVIW1481_AAUN909.readonly" ng-class="vc.viewState.VA_LIHDETLVIW1481_AAUN909.style" data-cobis-group="Group,GR_LIHDETLVIW14_60,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_LIHDETLVIW1481_AAUN909.validationCode}}" data-required-msg="{{'BUSIN.DLB_BUSIN_OTLCLCREY_32226'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_FLCRE_14_NEEDA85_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_NEEDA85_LHEIL_830')" ng-disabled="vc.viewState.T_FLCRE_14_NEEDA85_ACCEPT.disabled || vc.viewState.T_FLCRE_14_NEEDA85_ACCEPT.disabledingroup" ng-show="vc.viewState.T_FLCRE_14_NEEDA85_ACCEPT.visible" ng-class="vc.viewState.T_FLCRE_14_NEEDA85_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_FLCRE_14_NEEDA85_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_FLCRE_14_NEEDA85_CANCEL.disabled || vc.viewState.T_FLCRE_14_NEEDA85_CANCEL.disabledingroup" ng-show="vc.viewState.T_FLCRE_14_NEEDA85_CANCEL.visible" ng-class="vc.viewState.T_FLCRE_14_NEEDA85_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>