<!-- Designer Generator v 6.4.0.5 - SPR 2019-03 15/02/2019 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_BIOMETRINP_845409" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_BIOMETRINP_845409.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_BIOMETRIRR_166--> 
  <div id="VC_BIOMETRINP_845409" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_BIOMETRISE_668166" ng-class="vc.viewState.G_BIOMETRISE_668166.style" class="cb-group cb-group-layout"> 
    <div id="G_BIOMETRISE_668166_VAL" kendo-validator="G_BIOMETRISE_668166" k-options="validatorOptions"> 
     <div id="G_EMPTYRVQVF_566166" class="cb-group cb-group-simple"> 
     </div> 
     <div id="G_BIOMETRIRG_945166" class="cb-group cb-group-simple" ng-show="vc.viewState.G_BIOMETRIRG_945166.visible" ng-class="vc.viewState.G_BIOMETRIRG_945166.style"> 
      <div id="G_BIOMETRIRG_945166_VAL" kendo-validator="G_BIOMETRIRG_945166" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONRKQKGKO_888166.visible"> 
          <div class="form-group"> 
           <label class="control-label">&nbsp;</label> 
           <div class="cb-control"> 
            <button id="VA_VABUTTONRKQKGKO_888166" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONRKQKGKO_888166','VA_VABUTTONRKQKGKO_888166',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONRKQKGKO_888166.disabled || vc.viewState.VA_VABUTTONRKQKGKO_888166.disabledingroup" ng-show="vc.viewState.VA_VABUTTONRKQKGKO_888166.visible" ng-class="vc.viewState.VA_VABUTTONRKQKGKO_888166.style"> &nbsp; </button> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_BIOMETRIRR_166--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_BMTRCZDWNNFMY_409_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_BIOMETRINP_845409')" ng-disabled="vc.viewState.T_BMTRCZDWNNFMY_409_ACCEPT.disabled || vc.viewState.T_BMTRCZDWNNFMY_409_ACCEPT.disabledingroup" ng-show="vc.viewState.T_BMTRCZDWNNFMY_409_ACCEPT.visible" ng-class="vc.viewState.T_BMTRCZDWNNFMY_409_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_BMTRCZDWNNFMY_409_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_BMTRCZDWNNFMY_409_CANCEL.disabled || vc.viewState.T_BMTRCZDWNNFMY_409_CANCEL.disabledingroup" ng-show="vc.viewState.T_BMTRCZDWNNFMY_409_CANCEL.visible" ng-class="vc.viewState.T_BMTRCZDWNNFMY_409_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>