<!-- Designer Generator v 6.4.0.5 - SPR 2019-03 15/02/2019 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_EXCLUSIOSL_682556" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_EXCLUSIOSL_682556.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_EXCLUSIOTS_111--> 
  <div id="VC_EXCLUSIOSL_682556" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_EXCLUSILTN_555111" ng-show="vc.viewState.G_EXCLUSILTN_555111.visible" ng-class="vc.viewState.G_EXCLUSILTN_555111.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_EXCLUSILTN_555111" k-options="validatorOptions" id="G_EXCLUSILTN_555111_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-8" ng-show="vc.viewState.VA_1DMKLRVJHUHQTTF_212111.visible"> 
        <div class="form-group" id="VA_1DMKLRVJHUHQTTF_212111_DIV"> 
         <label for="VA_1DMKLRVJHUHQTTF_212111" title="{{vc.viewState.VA_1DMKLRVJHUHQTTF_212111.label|translate:vc.viewState.VA_1DMKLRVJHUHQTTF_212111.labelArgs}}" ng-show="vc.viewState.VA_1DMKLRVJHUHQTTF_212111.visible" class="control-label">{{vc.viewState.VA_1DMKLRVJHUHQTTF_212111.label|translate:vc.viewState.VA_1DMKLRVJHUHQTTF_212111.labelArgs}}</label> 
         <div class="cb-control"> 
          <div class="input-group"> 
           <input id="VA_1DMKLRVJHUHQTTF_212111" name="CustomerExclusionList_customerName" type="text" class="form-control" ng-model="vc.model.CustomerExclusionList.customerName" ng-disabled="vc.viewState.VA_1DMKLRVJHUHQTTF_212111.disabled || vc.viewState.VA_1DMKLRVJHUHQTTF_212111.disabledingroup" ng-show="vc.viewState.VA_1DMKLRVJHUHQTTF_212111.visible" ng-readonly="vc.viewState.VA_1DMKLRVJHUHQTTF_212111.readonly" ng-class="vc.viewState.VA_1DMKLRVJHUHQTTF_212111.style" data-cobis-group="Group,G_EXCLUSILTN_555111,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_1DMKLRVJHUHQTTF_212111.validationCode}}" designer-change /> 
           <div class="input-group-btn"> 
            <button class="btn btn-default btn-block" ng-click="vc.clickTextInputButton('VA_1DMKLRVJHUHQTTF_212111')" ng-disabled="vc.viewState.VA_1DMKLRVJHUHQTTF_212111.disabled || vc.viewState.VA_1DMKLRVJHUHQTTF_212111.disabledingroup" ng-show="vc.viewState.VA_1DMKLRVJHUHQTTF_212111.visible" ng-class="vc.viewState.VA_1DMKLRVJHUHQTTF_212111.style"> <span class="glyphicon glyphicon-align-justify"></span> </button> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONCMTSGNP_601111.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONCMTSGNP_601111" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONCMTSGNP_601111','',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONCMTSGNP_601111.disabled || vc.viewState.VA_VABUTTONCMTSGNP_601111.disabledingroup" ng-show="vc.viewState.VA_VABUTTONCMTSGNP_601111.visible" ng-class="vc.viewState.VA_VABUTTONCMTSGNP_601111.style"> {{vc.viewState.VA_VABUTTONCMTSGNP_601111.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_SCORENCQIGXRWIM_712111.visible"> 
        <div class="form-group" id="VA_SCORENCQIGXRWIM_712111_DIV"> 
         <label for="VA_SCORENCQIGXRWIM_712111" title="{{vc.viewState.VA_SCORENCQIGXRWIM_712111.label|translate:vc.viewState.VA_SCORENCQIGXRWIM_712111.labelArgs}}" ng-show="vc.viewState.VA_SCORENCQIGXRWIM_712111.visible" class="control-label">{{vc.viewState.VA_SCORENCQIGXRWIM_712111.label|translate:vc.viewState.VA_SCORENCQIGXRWIM_712111.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_SCORENCQIGXRWIM_712111" name="CustomerExclusionList_score" type="text" class="form-control" ng-model="vc.model.CustomerExclusionList.score" ng-disabled="vc.viewState.VA_SCORENCQIGXRWIM_712111.disabled || vc.viewState.VA_SCORENCQIGXRWIM_712111.disabledingroup" ng-show="vc.viewState.VA_SCORENCQIGXRWIM_712111.visible" ng-readonly="vc.viewState.VA_SCORENCQIGXRWIM_712111.readonly" ng-class="vc.viewState.VA_SCORENCQIGXRWIM_712111.style" data-cobis-group="Group,G_EXCLUSILTN_555111,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_SCORENCQIGXRWIM_712111.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONARFKGXV_821111.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONARFKGXV_821111" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONARFKGXV_821111','VA_VABUTTONARFKGXV_821111',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONARFKGXV_821111.disabled || vc.viewState.VA_VABUTTONARFKGXV_821111.disabledingroup" ng-show="vc.viewState.VA_VABUTTONARFKGXV_821111.visible" ng-class="vc.viewState.VA_VABUTTONARFKGXV_821111.style"> {{vc.viewState.VA_VABUTTONARFKGXV_821111.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_EXCLUSIIIT_519111" ng-show="vc.viewState.G_EXCLUSIIIT_519111.visible" ng-class="vc.viewState.G_EXCLUSIIIT_519111.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_EXCLUSIIIT_519111" k-options="validatorOptions" id="G_EXCLUSIIIT_519111_VAL"> 
     <div id="QV_9905_87019" kendo-ext-grid="grids.QV_9905_87019" k-data-source="vc.model.ExclusionListResult" k-column-menu="false" k-excel="vc.grids.QV_9905_87019.events.excel" k-sortable="false" k-pageable="{refresh: false, pageSizes: false, buttonCount: 5}" k-editable="vc.grids.QV_9905_87019.editable" k-toolbar="vc.grids.QV_9905_87019.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="true" k-selectable="false" k-excel-export="vc.grids.QV_9905_87019.events.excelExport" k-data-bound="vc.grids.QV_9905_87019.events.dataBound" k-columns="vc.grids.QV_9905_87019.columns" k-cancel="vc.grids.QV_9905_87019.events.cancel" k-edit="vc.grids.QV_9905_87019.events.edit" ng-class="vc.viewState.QV_9905_87019.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_EXCLUSIOTS_111--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_LOANSUAYYOAVM_556_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_EXCLUSIOSL_682556')" ng-disabled="vc.viewState.T_LOANSUAYYOAVM_556_ACCEPT.disabled || vc.viewState.T_LOANSUAYYOAVM_556_ACCEPT.disabledingroup" ng-show="vc.viewState.T_LOANSUAYYOAVM_556_ACCEPT.visible" ng-class="vc.viewState.T_LOANSUAYYOAVM_556_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_LOANSUAYYOAVM_556_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_LOANSUAYYOAVM_556_CANCEL.disabled || vc.viewState.T_LOANSUAYYOAVM_556_CANCEL.disabledingroup" ng-show="vc.viewState.T_LOANSUAYYOAVM_556_CANCEL.visible" ng-class="vc.viewState.T_LOANSUAYYOAVM_556_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>