<!-- Designer Generator v 6.4.0.5 - SPR 2019-03 15/02/2019 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_SIMULATIEE_163810" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_SIMULATIEE_163810.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_SIMULATISN_753--> 
  <div id="VC_SIMULATIEE_163810" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_SIMULATERR_144753" ng-show="vc.viewState.G_SIMULATERR_144753.visible" ng-class="vc.viewState.G_SIMULATERR_144753.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_SIMULATERR_144753" k-options="validatorOptions" id="G_SIMULATERR_144753_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-8" ng-show="vc.viewState.VA_NAMECLIENTMUUTS_510753.visible"> 
        <div class="form-group cb-required" id="VA_NAMECLIENTMUUTS_510753_DIV"> 
         <label for="VA_NAMECLIENTMUUTS_510753" title="{{vc.viewState.VA_NAMECLIENTMUUTS_510753.label|translate:vc.viewState.VA_NAMECLIENTMUUTS_510753.labelArgs}}" ng-show="vc.viewState.VA_NAMECLIENTMUUTS_510753.visible" class="control-label">{{vc.viewState.VA_NAMECLIENTMUUTS_510753.label|translate:vc.viewState.VA_NAMECLIENTMUUTS_510753.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_NAMECLIENTMUUTS_510753" name="FilterSimulation_nameClient" type="text" class="form-control" ng-model="vc.model.FilterSimulation.nameClient" ng-disabled="vc.viewState.VA_NAMECLIENTMUUTS_510753.disabled || vc.viewState.VA_NAMECLIENTMUUTS_510753.disabledingroup" ng-show="vc.viewState.VA_NAMECLIENTMUUTS_510753.visible" ng-readonly="vc.viewState.VA_NAMECLIENTMUUTS_510753.readonly" ng-class="vc.viewState.VA_NAMECLIENTMUUTS_510753.style" data-cobis-group="Group,G_SIMULATERR_144753,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_NAMECLIENTMUUTS_510753.validationCode}}" designer-change data-required-msg="{{'LOANS.MSG_LOANS_REQUERIOD_88378'|translate}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer2983.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_AMOUNTREQUESTTT_231753.visible"> 
        <div class="form-group cb-required" id="VA_AMOUNTREQUESTTT_231753_DIV"> 
         <label for="VA_AMOUNTREQUESTTT_231753" title="{{vc.viewState.VA_AMOUNTREQUESTTT_231753.label|translate:vc.viewState.VA_AMOUNTREQUESTTT_231753.labelArgs}}" ng-show="vc.viewState.VA_AMOUNTREQUESTTT_231753.visible" class="control-label">{{vc.viewState.VA_AMOUNTREQUESTTT_231753.label|translate:vc.viewState.VA_AMOUNTREQUESTTT_231753.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_AMOUNTREQUESTTT_231753" name="FilterSimulation_amountRequest" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_AMOUNTREQUESTTT_231753.format" k-decimals="vc.viewState.VA_AMOUNTREQUESTTT_231753.decimals" k-ng-model="vc.model.FilterSimulation.amountRequest" ng-model="vc.tmpModel.FilterSimulation.amountRequest" ng-disabled="vc.viewState.VA_AMOUNTREQUESTTT_231753.disabled || vc.viewState.VA_AMOUNTREQUESTTT_231753.disabledingroup" ng-show="vc.viewState.VA_AMOUNTREQUESTTT_231753.visible" ng-readonly="vc.viewState.VA_AMOUNTREQUESTTT_231753.readonly" ng-class="vc.viewState.VA_AMOUNTREQUESTTT_231753.style" data-cobis-group="Group,G_SIMULATERR_144753,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_AMOUNTREQUESTTT_231753.validationCode}}" designer-change data-required-msg="{{'LOANS.MSG_LOANS_REQUERIOD_88378'|translate}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_TERMFQAXXSBCLOQ_177753.visible"> 
        <div class="form-group" id="VA_TERMFQAXXSBCLOQ_177753_DIV"> 
         <label for="VA_TERMFQAXXSBCLOQ_177753" title="{{vc.viewState.VA_TERMFQAXXSBCLOQ_177753.label|translate:vc.viewState.VA_TERMFQAXXSBCLOQ_177753.labelArgs}}" ng-show="vc.viewState.VA_TERMFQAXXSBCLOQ_177753.visible" class="control-label">{{vc.viewState.VA_TERMFQAXXSBCLOQ_177753.label|translate:vc.viewState.VA_TERMFQAXXSBCLOQ_177753.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_TERMFQAXXSBCLOQ_177753" kendo-ext-combo-box="comboBox.VA_TERMFQAXXSBCLOQ_177753" k-index="0" k-auto-bind="true" name="FilterSimulation_term" ng-model="vc.model.FilterSimulation.term" ng-disabled="vc.viewState.VA_TERMFQAXXSBCLOQ_177753.disabled || vc.viewState.VA_TERMFQAXXSBCLOQ_177753.disabledingroup" ng-show="vc.viewState.VA_TERMFQAXXSBCLOQ_177753.visible" ng-readonly="vc.viewState.VA_TERMFQAXXSBCLOQ_177753.readonly" ng-class="vc.viewState.VA_TERMFQAXXSBCLOQ_177753.style" k-data-source="vc.catalogs.VA_TERMFQAXXSBCLOQ_177753" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_TERMFQAXXSBCLOQ_177753.template" data-cobis-group="Group,G_SIMULATERR_144753,0" data-validation-code="{{vc.viewState.VA_TERMFQAXXSBCLOQ_177753.validationCode}}" designer-change /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONKGIOGCD_493753.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONKGIOGCD_493753" class="btn btn-default btn-block" ng-click="vc.executeQueryControl(vc.getRequestQuery_Q_INATIOOM_2798(),'',validator,true, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONKGIOGCD_493753.disabled || vc.viewState.VA_VABUTTONKGIOGCD_493753.disabledingroup" ng-show="vc.viewState.VA_VABUTTONKGIOGCD_493753.visible" ng-class="vc.viewState.VA_VABUTTONKGIOGCD_493753.style"> {{vc.viewState.VA_VABUTTONKGIOGCD_493753.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_SIMULATTSO_346753" ng-show="vc.viewState.G_SIMULATTSO_346753.visible" ng-class="vc.viewState.G_SIMULATTSO_346753.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_SIMULATTSO_346753" k-options="validatorOptions" id="G_SIMULATTSO_346753_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-12" ng-show="vc.viewState.VA_VASEPARATORASJX_676753.visible"> 
        <hr class="d-hr" ng-disabled="vc.viewState.VA_VASEPARATORASJX_676753.disabled || vc.viewState.VA_VASEPARATORASJX_676753.disabledingroup" ng-show="vc.viewState.VA_VASEPARATORASJX_676753.visible" ng-readonly="vc.viewState.VA_VASEPARATORASJX_676753.readonly" ng-class="vc.viewState.VA_VASEPARATORASJX_676753.style" /> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_SIMULATOIN_358753" ng-show="vc.viewState.G_SIMULATOIN_358753.visible" ng-class="vc.viewState.G_SIMULATOIN_358753.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_SIMULATOIN_358753" k-options="validatorOptions" id="G_SIMULATOIN_358753_VAL"> 
     <div id="QV_2798_99321" kendo-ext-grid="grids.QV_2798_99321" k-data-source="vc.model.InformationSimulation" k-column-menu="false" k-sortable="false" k-pageable="{refresh: false, pageSizes: false, buttonCount: 5}" k-editable="vc.grids.QV_2798_99321.editable" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_2798_99321.events.dataBound" k-columns="vc.grids.QV_2798_99321.columns" k-cancel="vc.grids.QV_2798_99321.events.cancel" k-edit="vc.grids.QV_2798_99321.events.edit" ng-class="vc.viewState.QV_2798_99321.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_SIMULATISN_753--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc || !vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_TLOANSYB_04A" ng-click="vc.executeCommand('CM_TLOANSYB_04A','Command1', validator, true, false, 'VC_SIMULATIEE_163810', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_TLOANSYB_04A.disabled || vc.viewState.CM_TLOANSYB_04A.disabledingroup" ng-show="vc.viewState.CM_TLOANSYB_04A.visible" ng-class="vc.viewState.CM_TLOANSYB_04A.style"> {{vc.viewState.CM_TLOANSYB_04A.label|translate}} </button> 
    <button id="CM_TLOANSYB_148" ng-click="vc.executeCommand('CM_TLOANSYB_148','Command2', validator, false, false, 'VC_SIMULATIEE_163810', false)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_TLOANSYB_148.disabled || vc.viewState.CM_TLOANSYB_148.disabledingroup" ng-show="vc.viewState.CM_TLOANSYB_148.visible" ng-class="vc.viewState.CM_TLOANSYB_148.style"> {{vc.viewState.CM_TLOANSYB_148.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_LOANSYBASRMCC_810_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_SIMULATIEE_163810')" ng-disabled="vc.viewState.T_LOANSYBASRMCC_810_ACCEPT.disabled || vc.viewState.T_LOANSYBASRMCC_810_ACCEPT.disabledingroup" ng-show="vc.viewState.T_LOANSYBASRMCC_810_ACCEPT.visible" ng-class="vc.viewState.T_LOANSYBASRMCC_810_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_LOANSYBASRMCC_810_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_LOANSYBASRMCC_810_CANCEL.disabled || vc.viewState.T_LOANSYBASRMCC_810_CANCEL.disabledingroup" ng-show="vc.viewState.T_LOANSYBASRMCC_810_CANCEL.visible" ng-class="vc.viewState.T_LOANSYBASRMCC_810_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>