<!-- Designer Generator v 5.0.0.1626 - release SPR 2016-26 08/01/2016 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_FOTYI44_RTTYV_089" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_FOTYI44_RTTYV_089.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_FOTYI44_RTTYV_089" ng-keydown="vc.viewState.keyDown($event)" class="cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="VC_FOTYI44_ELREE_544" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_FOTYI44_ELREE_544', vc.viewState.VC_FOTYI44_ELREE_544.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_FOTYI44_ELREE_544.visible"> 
    <div id="VC_FOTYI44_ELREE_544_VAL" kendo-validator="VC_FOTYI44_ELREE_544" k-options="validatorOptions"> 
     <div id="GR_IFOCREEYEW02_94" ng-class="vc.viewState.GR_IFOCREEYEW02_94.style" class="cb-group cb-group-layout"> 
      <div id="GR_IFOCREEYEW02_94_VAL" kendo-validator="GR_IFOCREEYEW02_94" k-options="validatorOptions"> 
       <div id="GR_IFOCREEYEW02_95" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_IFOCREEYEW02_95.visible" ng-class="vc.viewState.GR_IFOCREEYEW02_95.style"> 
        <div id="GR_IFOCREEYEW02_95_VAL" kendo-validator="GR_IFOCREEYEW02_95" k-options="validatorOptions"> 
         <div id="QV_IRENT5951_45" kendo-ext-grid="grids.QV_IRENT5951_45" k-data-source="vc.model.InfocredEntity" k-column-menu="false" k-sortable="false" k-editable="vc.viewState.GR_IFOCREEYEW02_95.disabled?false:'inline'" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="true" k-change="vc.grids.QV_IRENT5951_45.events.change" k-data-bound="vc.grids.QV_IRENT5951_45.events.dataBound" k-columns="vc.grids.QV_IRENT5951_45.columns" k-cancel="vc.grids.QV_IRENT5951_45.events.cancel" k-edit="vc.grids.QV_IRENT5951_45.events.edit" ng-class="vc.viewState.QV_IRENT5951_45.style" k-ng-delay="vc.afterInitData"></div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_FLCRE_18_FOTYI44_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_FOTYI44_RTTYV_089')" ng-disabled="vc.viewState.T_FLCRE_18_FOTYI44_ACCEPT.disabled || vc.viewState.T_FLCRE_18_FOTYI44_ACCEPT.disabledingroup" ng-show="vc.viewState.T_FLCRE_18_FOTYI44_ACCEPT.visible" ng-class="vc.viewState.T_FLCRE_18_FOTYI44_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_FLCRE_18_FOTYI44_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_FLCRE_18_FOTYI44_CANCEL.disabled || vc.viewState.T_FLCRE_18_FOTYI44_CANCEL.disabledingroup" ng-show="vc.viewState.T_FLCRE_18_FOTYI44_CANCEL.visible" ng-class="vc.viewState.T_FLCRE_18_FOTYI44_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>