<!-- Designer Generator v 6.3.3 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_CONDONATON_778532" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_CONDONATON_778532.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_CONDONATSN_764--> 
  <div id="VC_CONDONATON_778532" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_CONDONAIOT_744764" ng-show="vc.viewState.G_CONDONAIOT_744764.visible" ng-class="vc.viewState.G_CONDONAIOT_744764.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_CONDONAIOT_744764" k-options="validatorOptions" id="G_CONDONAIOT_744764_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_AMOUNTXJGMXOXXE_131764.visible"> 
        <div class="form-group" id="VA_AMOUNTXJGMXOXXE_131764_DIV"> 
         <label for="VA_AMOUNTXJGMXOXXE_131764" title="{{vc.viewState.VA_AMOUNTXJGMXOXXE_131764.label|translate:vc.viewState.VA_AMOUNTXJGMXOXXE_131764.labelArgs}}" ng-show="vc.viewState.VA_AMOUNTXJGMXOXXE_131764.visible" class="control-label">{{vc.viewState.VA_AMOUNTXJGMXOXXE_131764.label|translate:vc.viewState.VA_AMOUNTXJGMXOXXE_131764.labelArgs}}</label> 
         <div class="cb-control"> 
          <div id="VA_AMOUNTXJGMXOXXE_131764" name="ServerParameter_condonationPercentage" class="form-control cb-no-border" ng-show="vc.viewState.VA_AMOUNTXJGMXOXXE_131764.visible" ng-class="vc.viewState.VA_AMOUNTXJGMXOXXE_131764.style">
            {{kendo.toString(vc.model.ServerParameter.condonationPercentage, '###')}} 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_CONDONATTT_517764" ng-show="vc.viewState.G_CONDONATTT_517764.visible" ng-class="vc.viewState.G_CONDONATTT_517764.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_CONDONATTT_517764" k-options="validatorOptions" id="G_CONDONATTT_517764_VAL"> 
     <div id="QV_7324_98967" kendo-ext-grid="grids.QV_7324_98967" k-data-source="vc.model.CondonationDetail" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_7324_98967.editable" k-toolbar="vc.grids.QV_7324_98967.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_7324_98967.events.dataBound" k-columns="vc.grids.QV_7324_98967.columns" k-cancel="vc.grids.QV_7324_98967.events.cancel" k-edit="vc.grids.QV_7324_98967.events.edit" ng-class="vc.viewState.QV_7324_98967.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_CONDONATSN_764--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc || !vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_TCONDONA_SS3" ng-click="vc.executeCommand('CM_TCONDONA_SS3','Command1', validator, false, false, 'VC_CONDONATON_778532', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_TCONDONA_SS3.disabled || vc.viewState.CM_TCONDONA_SS3.disabledingroup" ng-show="vc.viewState.CM_TCONDONA_SS3.visible" ng-class="vc.viewState.CM_TCONDONA_SS3.style"> {{vc.viewState.CM_TCONDONA_SS3.label|translate}} </button> 
    <button id="CM_TCONDONA_NAN" ng-click="vc.executeCommand('CM_TCONDONA_NAN','Command2', validator, false, false, 'VC_CONDONATON_778532', false)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_TCONDONA_NAN.disabled || vc.viewState.CM_TCONDONA_NAN.disabledingroup" ng-show="vc.viewState.CM_TCONDONA_NAN.visible" ng-class="vc.viewState.CM_TCONDONA_NAN.style"> {{vc.viewState.CM_TCONDONA_NAN.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_CONDONATIOSNN_532_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_CONDONATON_778532')" ng-disabled="vc.viewState.T_CONDONATIOSNN_532_ACCEPT.disabled || vc.viewState.T_CONDONATIOSNN_532_ACCEPT.disabledingroup" ng-show="vc.viewState.T_CONDONATIOSNN_532_ACCEPT.visible" ng-class="vc.viewState.T_CONDONATIOSNN_532_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_CONDONATIOSNN_532_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_CONDONATIOSNN_532_CANCEL.disabled || vc.viewState.T_CONDONATIOSNN_532_CANCEL.disabledingroup" ng-show="vc.viewState.T_CONDONATIOSNN_532_CANCEL.visible" ng-class="vc.viewState.T_CONDONATIOSNN_532_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>