<!-- Designer Generator v 6.3.3 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_CONCILIAHN_488136" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_CONCILIAHN_488136.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_CONCILIARH_314--> 
  <div id="VC_CONCILIAHN_488136" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_CONCILIEIS_831314" ng-class="vc.viewState.G_CONCILIEIS_831314.style" class="cb-group cb-group-layout"> 
    <div id="G_CONCILIEIS_831314_VAL" kendo-validator="G_CONCILIEIS_831314" k-options="validatorOptions"> 
     <div id="G_CONCILINOS_646314" class="cb-group cb-group-simple" ng-show="vc.viewState.G_CONCILINOS_646314.visible" ng-class="vc.viewState.G_CONCILINOS_646314.style"> 
      <div id="G_CONCILINOS_646314_VAL" kendo-validator="G_CONCILINOS_646314" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_CUSTOMERCODEVGG_397314.visible"> 
          <div class="form-group" id="VA_CUSTOMERCODEVGG_397314_DIV"> 
           <label for="VA_CUSTOMERCODEVGG_397314" title="{{vc.viewState.VA_CUSTOMERCODEVGG_397314.label|translate:vc.viewState.VA_CUSTOMERCODEVGG_397314.labelArgs}}" ng-show="vc.viewState.VA_CUSTOMERCODEVGG_397314.visible" class="control-label">{{vc.viewState.VA_CUSTOMERCODEVGG_397314.label|translate:vc.viewState.VA_CUSTOMERCODEVGG_397314.labelArgs}}</label> 
           <div class="cb-control"> 
            <div class="input-group"> 
             <input id="VA_CUSTOMERCODEVGG_397314" name="ConciliationSearchFilter_customerCode" type="text" class="form-control" ng-model="vc.model.ConciliationSearchFilter.customerCode" ng-disabled="vc.viewState.VA_CUSTOMERCODEVGG_397314.disabled || vc.viewState.VA_CUSTOMERCODEVGG_397314.disabledingroup" ng-show="vc.viewState.VA_CUSTOMERCODEVGG_397314.visible" ng-readonly="vc.viewState.VA_CUSTOMERCODEVGG_397314.readonly" ng-class="vc.viewState.VA_CUSTOMERCODEVGG_397314.style" data-cobis-group="GroupLayout,G_CONCILIEIS_831314,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_CUSTOMERCODEVGG_397314.validationCode}}" /> 
             <div class="input-group-btn"> 
              <button class="btn btn-default btn-block" ng-click="vc.clickTextInputButton('VA_CUSTOMERCODEVGG_397314')" ng-disabled="vc.viewState.VA_CUSTOMERCODEVGG_397314.disabled || vc.viewState.VA_CUSTOMERCODEVGG_397314.disabledingroup" ng-show="vc.viewState.VA_CUSTOMERCODEVGG_397314.visible" ng-class="vc.viewState.VA_CUSTOMERCODEVGG_397314.style"> <span class="glyphicon glyphicon-align-justify"></span> </button> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_DATEFROMSRSVMDL_381314.visible"> 
          <div class="form-group" id="VA_DATEFROMSRSVMDL_381314_DIV"> 
           <label for="VA_DATEFROMSRSVMDL_381314" title="{{vc.viewState.VA_DATEFROMSRSVMDL_381314.label|translate:vc.viewState.VA_DATEFROMSRSVMDL_381314.labelArgs}}" ng-show="vc.viewState.VA_DATEFROMSRSVMDL_381314.visible" class="control-label">{{vc.viewState.VA_DATEFROMSRSVMDL_381314.label|translate:vc.viewState.VA_DATEFROMSRSVMDL_381314.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_DATEFROMSRSVMDL_381314" name="ConciliationSearchFilter_dateFrom" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.ConciliationSearchFilter.dateFrom" ng-model="vc.tmpModel.ConciliationSearchFilter.dateFrom" ng-disabled="vc.viewState.VA_DATEFROMSRSVMDL_381314.disabled || vc.viewState.VA_DATEFROMSRSVMDL_381314.disabledingroup" ng-show="vc.viewState.VA_DATEFROMSRSVMDL_381314.visible" ng-readonly="vc.viewState.VA_DATEFROMSRSVMDL_381314.readonly" ng-class="vc.viewState.VA_DATEFROMSRSVMDL_381314.style" data-cobis-group="GroupLayout,G_CONCILIEIS_831314,0" data-validation-code="{{vc.viewState.VA_DATEFROMSRSVMDL_381314.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_DATEUNTILRORUCP_833314.visible"> 
          <div class="form-group" id="VA_DATEUNTILRORUCP_833314_DIV"> 
           <label for="VA_DATEUNTILRORUCP_833314" title="{{vc.viewState.VA_DATEUNTILRORUCP_833314.label|translate:vc.viewState.VA_DATEUNTILRORUCP_833314.labelArgs}}" ng-show="vc.viewState.VA_DATEUNTILRORUCP_833314.visible" class="control-label">{{vc.viewState.VA_DATEUNTILRORUCP_833314.label|translate:vc.viewState.VA_DATEUNTILRORUCP_833314.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_DATEUNTILRORUCP_833314" name="ConciliationSearchFilter_dateUntil" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.ConciliationSearchFilter.dateUntil" ng-model="vc.tmpModel.ConciliationSearchFilter.dateUntil" ng-disabled="vc.viewState.VA_DATEUNTILRORUCP_833314.disabled || vc.viewState.VA_DATEUNTILRORUCP_833314.disabledingroup" ng-show="vc.viewState.VA_DATEUNTILRORUCP_833314.visible" ng-readonly="vc.viewState.VA_DATEUNTILRORUCP_833314.readonly" ng-class="vc.viewState.VA_DATEUNTILRORUCP_833314.style" data-cobis-group="GroupLayout,G_CONCILIEIS_831314,0" data-validation-code="{{vc.viewState.VA_DATEUNTILRORUCP_833314.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_AMOUNTLZJASLNAN_666314.visible"> 
          <div class="form-group" id="VA_AMOUNTLZJASLNAN_666314_DIV"> 
           <label for="VA_AMOUNTLZJASLNAN_666314" title="{{vc.viewState.VA_AMOUNTLZJASLNAN_666314.label|translate:vc.viewState.VA_AMOUNTLZJASLNAN_666314.labelArgs}}" ng-show="vc.viewState.VA_AMOUNTLZJASLNAN_666314.visible" class="control-label">{{vc.viewState.VA_AMOUNTLZJASLNAN_666314.label|translate:vc.viewState.VA_AMOUNTLZJASLNAN_666314.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_AMOUNTLZJASLNAN_666314" name="ConciliationSearchFilter_amount" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_AMOUNTLZJASLNAN_666314.format" k-decimals="vc.viewState.VA_AMOUNTLZJASLNAN_666314.decimals" k-ng-model="vc.model.ConciliationSearchFilter.amount" ng-model="vc.tmpModel.ConciliationSearchFilter.amount" ng-disabled="vc.viewState.VA_AMOUNTLZJASLNAN_666314.disabled || vc.viewState.VA_AMOUNTLZJASLNAN_666314.disabledingroup" ng-show="vc.viewState.VA_AMOUNTLZJASLNAN_666314.visible" ng-readonly="vc.viewState.VA_AMOUNTLZJASLNAN_666314.readonly" ng-class="vc.viewState.VA_AMOUNTLZJASLNAN_666314.style" data-cobis-group="GroupLayout,G_CONCILIEIS_831314,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_AMOUNTLZJASLNAN_666314.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_TYPEABMBHAOAJKU_389314.visible"> 
          <div class="form-group" id="VA_TYPEABMBHAOAJKU_389314_DIV"> 
           <label for="VA_TYPEABMBHAOAJKU_389314" title="{{vc.viewState.VA_TYPEABMBHAOAJKU_389314.label|translate:vc.viewState.VA_TYPEABMBHAOAJKU_389314.labelArgs}}" ng-show="vc.viewState.VA_TYPEABMBHAOAJKU_389314.visible" class="control-label">{{vc.viewState.VA_TYPEABMBHAOAJKU_389314.label|translate:vc.viewState.VA_TYPEABMBHAOAJKU_389314.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_TYPEABMBHAOAJKU_389314" name="ConciliationSearchFilter_type" kendo-ext-combo-box="comboBox.VA_TYPEABMBHAOAJKU_389314" ng-model="vc.model.ConciliationSearchFilter.type" ng-disabled="vc.viewState.VA_TYPEABMBHAOAJKU_389314.disabled || vc.viewState.VA_TYPEABMBHAOAJKU_389314.disabledingroup" ng-show="vc.viewState.VA_TYPEABMBHAOAJKU_389314.visible" ng-readonly="vc.viewState.VA_TYPEABMBHAOAJKU_389314.readonly" ng-class="vc.viewState.VA_TYPEABMBHAOAJKU_389314.style" k-data-source="vc.catalogs.VA_TYPEABMBHAOAJKU_389314" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_TYPEABMBHAOAJKU_389314.template" data-cobis-group="GroupLayout,G_CONCILIEIS_831314,0" data-validation-code="{{vc.viewState.VA_TYPEABMBHAOAJKU_389314.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_NOTCONCILIATONN_740314.visible"> 
          <div class="form-group" id="VA_NOTCONCILIATONN_740314_DIV"> 
           <label for="VA_NOTCONCILIATONN_740314" title="{{vc.viewState.VA_NOTCONCILIATONN_740314.label|translate:vc.viewState.VA_NOTCONCILIATONN_740314.labelArgs}}" ng-show="vc.viewState.VA_NOTCONCILIATONN_740314.visible" class="control-label">{{vc.viewState.VA_NOTCONCILIATONN_740314.label|translate:vc.viewState.VA_NOTCONCILIATONN_740314.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_NOTCONCILIATONN_740314" name="ConciliationSearchFilter_notConciliationReason" kendo-ext-combo-box="comboBox.VA_NOTCONCILIATONN_740314" ng-model="vc.model.ConciliationSearchFilter.notConciliationReason" ng-disabled="vc.viewState.VA_NOTCONCILIATONN_740314.disabled || vc.viewState.VA_NOTCONCILIATONN_740314.disabledingroup" ng-show="vc.viewState.VA_NOTCONCILIATONN_740314.visible" ng-readonly="vc.viewState.VA_NOTCONCILIATONN_740314.readonly" ng-class="vc.viewState.VA_NOTCONCILIATONN_740314.style" k-data-source="vc.catalogs.VA_NOTCONCILIATONN_740314" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_NOTCONCILIATONN_740314.template" data-cobis-group="GroupLayout,G_CONCILIEIS_831314,0" data-validation-code="{{vc.viewState.VA_NOTCONCILIATONN_740314.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_CONCILIATIONSSS_486314.visible"> 
          <div class="form-group" id="VA_CONCILIATIONSSS_486314_DIV"> 
           <label for="VA_CONCILIATIONSSS_486314" title="{{vc.viewState.VA_CONCILIATIONSSS_486314.label|translate:vc.viewState.VA_CONCILIATIONSSS_486314.labelArgs}}" ng-show="vc.viewState.VA_CONCILIATIONSSS_486314.visible" class="control-label">{{vc.viewState.VA_CONCILIATIONSSS_486314.label|translate:vc.viewState.VA_CONCILIATIONSSS_486314.labelArgs}}</label> 
           <div class="cb-control"> 
            <div> 
             <input id="VA_CONCILIATIONSSS_486314" ng-show="false" /> 
             <label class="d-radio-block" data-ng-repeat="result in vc.catalogs.VA_CONCILIATIONSSS_486314.data()"> <input id="VA_CONCILIATIONSSS_486314-{{$index}}" name="ConciliationSearchFilter_conciliationStatus" type="radio" value="{{result.code}}" ng-model="vc.model.ConciliationSearchFilter.conciliationStatus" ng-disabled="vc.viewState.VA_CONCILIATIONSSS_486314.disabled || vc.viewState.VA_CONCILIATIONSSS_486314.disabledingroup" ng-show="vc.viewState.VA_CONCILIATIONSSS_486314.visible" ng-readonly="vc.viewState.VA_CONCILIATIONSSS_486314.readonly" ng-class="vc.viewState.VA_CONCILIATIONSSS_486314.style" data-validation-code="{{vc.viewState.VA_CONCILIATIONSSS_486314.validationCode}}" /> {{result.value}} </label> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_VABUTTONKHXTIGP_249314.visible"> 
          <div class="form-group"> 
           <label class="control-label">&nbsp;</label> 
           <div class="cb-control"> 
            <button id="VA_VABUTTONKHXTIGP_249314" class="btn btn-default btn-block" ng-click="vc.executeQueryControl(vc.getRequestQuery_Q_CONCILOA_9564(),'',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONKHXTIGP_249314.disabled || vc.viewState.VA_VABUTTONKHXTIGP_249314.disabledingroup" ng-show="vc.viewState.VA_VABUTTONKHXTIGP_249314.visible" ng-class="vc.viewState.VA_VABUTTONKHXTIGP_249314.style"> {{vc.viewState.VA_VABUTTONKHXTIGP_249314.label|translate}} </button> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_CONCILIOIO_622314" ng-class="vc.viewState.G_CONCILIOIO_622314.style" class="cb-group cb-group-layout"> 
    <div id="G_CONCILIOIO_622314_VAL" kendo-validator="G_CONCILIOIO_622314" k-options="validatorOptions"> 
     <fieldset id="G_CONCILIEOO_903314" ng-show="vc.viewState.G_CONCILIEOO_903314.visible" ng-class="vc.viewState.G_CONCILIEOO_903314.style" class="cb-group cb-group-simple"> 
      <legend> <span ng-bind="vc.viewState.G_CONCILIEOO_903314.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.G_CONCILIEOO_903314.statusStyle.success, 'cb-validation-fail': vc.viewState.G_CONCILIEOO_903314.statusStyle.fail, 'cb-validation-none': vc.viewState.G_CONCILIEOO_903314.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.G_CONCILIEOO_903314.label|translate}}</span> </legend> 
      <div id="G_CONCILIEOO_903314_VAL" kendo-validator="G_CONCILIEOO_903314" k-options="validatorOptions"> 
       <div id="QV_9564_85454" kendo-ext-grid="grids.QV_9564_85454" k-data-source="vc.model.ConciliationSearch" k-column-menu="false" k-excel="vc.grids.QV_9564_85454.events.excel" k-sortable="false" k-pageable="{refresh: false, pageSizes: false, buttonCount: 5}" k-editable="vc.grids.QV_9564_85454.editable" k-toolbar="vc.grids.QV_9564_85454.toolbar" k-resizable="true" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="true" k-selectable="true" k-change="vc.grids.QV_9564_85454.events.change" k-excel-export="vc.grids.QV_9564_85454.events.excelExport" k-data-bound="vc.grids.QV_9564_85454.events.dataBound" k-columns="vc.grids.QV_9564_85454.columns" k-cancel="vc.grids.QV_9564_85454.events.cancel" k-edit="vc.grids.QV_9564_85454.events.edit" ng-class="vc.viewState.QV_9564_85454.style" k-ng-delay="vc.afterInitData"></div> 
      </div> 
     </fieldset> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_CONCILIARH_314--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc || !vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_TASSTSCF_6AJ" ng-click="vc.executeCommand('CM_TASSTSCF_6AJ','uploadFile', validator, false, false, 'VC_CONCILIAHN_488136', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_TASSTSCF_6AJ.disabled || vc.viewState.CM_TASSTSCF_6AJ.disabledingroup" ng-show="vc.viewState.CM_TASSTSCF_6AJ.visible" ng-class="vc.viewState.CM_TASSTSCF_6AJ.style"> {{vc.viewState.CM_TASSTSCF_6AJ.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_ASSTSCFJBIIFM_136_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_CONCILIAHN_488136')" ng-disabled="vc.viewState.T_ASSTSCFJBIIFM_136_ACCEPT.disabled || vc.viewState.T_ASSTSCFJBIIFM_136_ACCEPT.disabledingroup" ng-show="vc.viewState.T_ASSTSCFJBIIFM_136_ACCEPT.visible" ng-class="vc.viewState.T_ASSTSCFJBIIFM_136_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_ASSTSCFJBIIFM_136_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_ASSTSCFJBIIFM_136_CANCEL.disabled || vc.viewState.T_ASSTSCFJBIIFM_136_CANCEL.disabledingroup" ng-show="vc.viewState.T_ASSTSCFJBIIFM_136_CANCEL.visible" ng-class="vc.viewState.T_ASSTSCFJBIIFM_136_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>