#QV_6359_40398.k-grid  .k-grid-header  .k-header {
    white-space: normal;
}
.Disable_CTR {
	opacity: 0.5; 
	background: lightgrey; 
	pointer-events: none;
}
#QV_9850_34524.k-grid .k-grid-toolbar{
    text-align: right;
 background-color: Transparent !important;
}

#QV_9850_34524.k-grid .k-grid-toolbar .btn{
  border: none;
  padding: 5px 10px;
  background-color: Transparent !important;
  margin-top: 10px;
  margin-right: 10px;
}
#CEQV_201QV_9850_34524_863{
    pointer-events: none;
}
#QV_8174_44016.k-grid .k-grid-toolbar{
    text-align: right;
 background-color: Transparent !important;
}

#QV_8174_44016.k-grid .k-grid-toolbar .btn{
  border: none;
  padding: 5px 10px;
  background-color: Transparent !important;
  margin-top: 10px;
  margin-right: 10px;
}
#CEQV_201QV_8174_44016_748{
    pointer-events: none;
}

#VA_BLOCKEDZUOBRBYZ_833213 {
  border: none !important;
  background-color: Transparent !important;
  text-align: left;
  color: red;
  font-weight: bold;
}

#VA_VASIMPLELABELLL_989945, #VA_VASIMPLELABELLL_803945 ,#VA_VASIMPLELABELLL_494945 ,#VA_VASIMPLELABELLL_902945 ,#VA_VASIMPLELABELLL_145945{
    width:250px;
}

#VA_ISCRYPTOUSEDIBU_338642_DIV > label{
    margin-right: 50px;
}

#VA_VASIMPLELABELLL_413642{
    font-weight: 100;
    padding: 0 20px 0 5px;
}

#VA_VASIMPLELABELLL_645339, #VA_VASIMPLELABELLL_632339 {
    text-align: center;
}