<!-- Designer Generator v 5.0.0.1626 - release SPR 2016-26 08/01/2016 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_CCOVI89_AECIT_172" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_CCOVI89_AECIT_172.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_CCOVI89_AECIT_172" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="GR_SEOOICIIIW10_02" ng-class="vc.viewState.GR_SEOOICIIIW10_02.style" class="cb-group cb-group-layout"> 
    <div id="GR_SEOOICIIIW10_02_VAL" kendo-validator="GR_SEOOICIIIW10_02" k-options="validatorOptions"> 
     <div id="GR_SEOOICIIIW10_04" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_SEOOICIIIW10_04.visible" ng-class="vc.viewState.GR_SEOOICIIIW10_04.style"> 
      <div id="GR_SEOOICIIIW10_04_VAL" kendo-validator="GR_SEOOICIIIW10_04" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_SEOOICIIIW1004_CNTO877.visible"> 
          <div class="form-group" id="VA_SEOOICIIIW1004_CNTO877_DIV"> 
           <label for="VA_SEOOICIIIW1004_CNTO877" title="{{vc.viewState.VA_SEOOICIIIW1004_CNTO877.label|translate:vc.viewState.VA_SEOOICIIIW1004_CNTO877.labelArgs}}" ng-show="vc.viewState.VA_SEOOICIIIW1004_CNTO877.visible" class="control-label">{{vc.viewState.VA_SEOOICIIIW1004_CNTO877.label|translate:vc.viewState.VA_SEOOICIIIW1004_CNTO877.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_SEOOICIIIW1004_CNTO877" name="economicActivityFilter_economicSector" kendo-ext-combo-box="comboBox.VA_SEOOICIIIW1004_CNTO877" ng-model="vc.model.economicActivityFilter.economicSector" ng-disabled="vc.viewState.VA_SEOOICIIIW1004_CNTO877.disabled || vc.viewState.VA_SEOOICIIIW1004_CNTO877.disabledingroup" ng-show="vc.viewState.VA_SEOOICIIIW1004_CNTO877.visible" ng-readonly="vc.viewState.VA_SEOOICIIIW1004_CNTO877.readonly" ng-class="vc.viewState.VA_SEOOICIIIW1004_CNTO877.style" k-data-source="vc.catalogs.VA_SEOOICIIIW1004_CNTO877" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_SEOOICIIIW1004_CNTO877.template" data-cobis-group="Group,GR_SEOOICIIIW10_02,0" data-validation-code="{{vc.viewState.VA_SEOOICIIIW1004_CNTO877.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_SEOOICIIIW1004_ECIS128.visible"> 
          <div class="form-group" id="VA_SEOOICIIIW1004_ECIS128_DIV"> 
           <label for="VA_SEOOICIIIW1004_ECIS128" title="{{vc.viewState.VA_SEOOICIIIW1004_ECIS128.label|translate:vc.viewState.VA_SEOOICIIIW1004_ECIS128.labelArgs}}" ng-show="vc.viewState.VA_SEOOICIIIW1004_ECIS128.visible" class="control-label">{{vc.viewState.VA_SEOOICIIIW1004_ECIS128.label|translate:vc.viewState.VA_SEOOICIIIW1004_ECIS128.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_SEOOICIIIW1004_ECIS128" name="economicActivityFilter_economicSubSector" kendo-ext-combo-box="comboBox.VA_SEOOICIIIW1004_ECIS128" ng-model="vc.model.economicActivityFilter.economicSubSector" ng-disabled="vc.viewState.VA_SEOOICIIIW1004_ECIS128.disabled || vc.viewState.VA_SEOOICIIIW1004_ECIS128.disabledingroup" ng-show="vc.viewState.VA_SEOOICIIIW1004_ECIS128.visible" ng-readonly="vc.viewState.VA_SEOOICIIIW1004_ECIS128.readonly" ng-class="vc.viewState.VA_SEOOICIIIW1004_ECIS128.style" k-data-source="vc.catalogs.VA_SEOOICIIIW1004_ECIS128" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_SEOOICIIIW1004_ECIS128.template" data-cobis-group="Group,GR_SEOOICIIIW10_02,0" data-validation-code="{{vc.viewState.VA_SEOOICIIIW1004_ECIS128.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_SEOOICIIIW1004_OMVT623.visible"> 
          <div class="form-group" id="VA_SEOOICIIIW1004_OMVT623_DIV"> 
           <label for="VA_SEOOICIIIW1004_OMVT623" title="{{vc.viewState.VA_SEOOICIIIW1004_OMVT623.label|translate:vc.viewState.VA_SEOOICIIIW1004_OMVT623.labelArgs}}" ng-show="vc.viewState.VA_SEOOICIIIW1004_OMVT623.visible" class="control-label">{{vc.viewState.VA_SEOOICIIIW1004_OMVT623.label|translate:vc.viewState.VA_SEOOICIIIW1004_OMVT623.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_SEOOICIIIW1004_OMVT623" name="economicActivityFilter_economicActivity" maxlength="250" type="text" class="form-control" ng-model="vc.model.economicActivityFilter.economicActivity" ng-disabled="vc.viewState.VA_SEOOICIIIW1004_OMVT623.disabled || vc.viewState.VA_SEOOICIIIW1004_OMVT623.disabledingroup" ng-show="vc.viewState.VA_SEOOICIIIW1004_OMVT623.visible" ng-readonly="vc.viewState.VA_SEOOICIIIW1004_OMVT623.readonly" ng-class="vc.viewState.VA_SEOOICIIIW1004_OMVT623.style" data-cobis-group="Group,GR_SEOOICIIIW10_02,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_SEOOICIIIW1004_OMVT623.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_SEOOICIIIW1004_OBAY109.visible"> 
          <div class="form-group" id="VA_SEOOICIIIW1004_OBAY109_DIV"> 
           <label for="VA_SEOOICIIIW1004_OBAY109" title="{{vc.viewState.VA_SEOOICIIIW1004_OBAY109.label|translate:vc.viewState.VA_SEOOICIIIW1004_OBAY109.labelArgs}}" ng-show="vc.viewState.VA_SEOOICIIIW1004_OBAY109.visible" class="control-label">{{vc.viewState.VA_SEOOICIIIW1004_OBAY109.label|translate:vc.viewState.VA_SEOOICIIIW1004_OBAY109.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_SEOOICIIIW1004_OBAY109" name="economicActivityFilter_economicSubActivity" maxlength="250" type="text" class="form-control" ng-model="vc.model.economicActivityFilter.economicSubActivity" ng-disabled="vc.viewState.VA_SEOOICIIIW1004_OBAY109.disabled || vc.viewState.VA_SEOOICIIIW1004_OBAY109.disabledingroup" ng-show="vc.viewState.VA_SEOOICIIIW1004_OBAY109.visible" ng-readonly="vc.viewState.VA_SEOOICIIIW1004_OBAY109.readonly" ng-class="vc.viewState.VA_SEOOICIIIW1004_OBAY109.style" data-cobis-group="Group,GR_SEOOICIIIW10_02,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_SEOOICIIIW1004_OBAY109.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-12" ng-show="vc.viewState.VA_SEOOICIIIW1004_CLTI565.visible"> 
          <div class="form-group" id="VA_SEOOICIIIW1004_CLTI565_DIV"> 
           <label for="VA_SEOOICIIIW1004_CLTI565" title="{{vc.viewState.VA_SEOOICIIIW1004_CLTI565.label|translate:vc.viewState.VA_SEOOICIIIW1004_CLTI565.labelArgs}}" ng-show="vc.viewState.VA_SEOOICIIIW1004_CLTI565.visible" class="control-label">{{vc.viewState.VA_SEOOICIIIW1004_CLTI565.label|translate:vc.viewState.VA_SEOOICIIIW1004_CLTI565.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_SEOOICIIIW1004_CLTI565" name="economicActivityFilter_clarificationFie" maxlength="250" type="text" class="form-control" ng-model="vc.model.economicActivityFilter.clarificationFie" ng-disabled="vc.viewState.VA_SEOOICIIIW1004_CLTI565.disabled || vc.viewState.VA_SEOOICIIIW1004_CLTI565.disabledingroup" ng-show="vc.viewState.VA_SEOOICIIIW1004_CLTI565.visible" ng-readonly="vc.viewState.VA_SEOOICIIIW1004_CLTI565.readonly" ng-class="vc.viewState.VA_SEOOICIIIW1004_CLTI565.style" data-cobis-group="Group,GR_SEOOICIIIW10_02,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_SEOOICIIIW1004_CLTI565.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_SEOOICIIIW1004_0000044.visible"> 
          <div class="form-group"> 
           <label class="control-label">&nbsp;</label> 
           <button id="VA_SEOOICIIIW1004_0000044" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_SEOOICIIIW1004_0000044','[Control Sin Nombre]',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_SEOOICIIIW1004_0000044.disabled || vc.viewState.VA_SEOOICIIIW1004_0000044.disabledingroup" ng-show="vc.viewState.VA_SEOOICIIIW1004_0000044.visible" ng-class="vc.viewState.VA_SEOOICIIIW1004_0000044.style"> {{vc.viewState.VA_SEOOICIIIW1004_0000044.label|translate}} </button> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div id="GR_SEOOICIIIW10_05" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_SEOOICIIIW10_05.visible" ng-class="vc.viewState.GR_SEOOICIIIW10_05.style"> 
      <div id="GR_SEOOICIIIW10_05_VAL" kendo-validator="GR_SEOOICIIIW10_05" k-options="validatorOptions"> 
       <div id="QV_ECONC3050_94" kendo-ext-grid="grids.QV_ECONC3050_94" k-data-source="vc.model.economicActivity" k-column-menu="false" k-sortable="false" k-pageable="{refresh: false, pageSizes: false, buttonCount: 5}" k-editable="vc.viewState.GR_SEOOICIIIW10_05.disabled?false:'inline'" k-toolbar="vc.grids.QV_ECONC3050_94.toolbar" k-resizable="true" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="true" k-selectable="true" k-change="vc.grids.QV_ECONC3050_94.events.change" k-data-bound="vc.grids.QV_ECONC3050_94.events.dataBound" k-columns="vc.grids.QV_ECONC3050_94.columns" k-cancel="vc.grids.QV_ECONC3050_94.events.cancel" k-edit="vc.grids.QV_ECONC3050_94.events.edit" ng-class="vc.viewState.QV_ECONC3050_94.style" k-ng-delay="vc.afterInitData"></div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_CCOVI89USA97" ng-click="vc.executeCommand('CM_CCOVI89USA97','Buscar', validator, true, false, 'VC_CCOVI89_AECIT_172', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_CCOVI89USA97.disabled || vc.viewState.CM_CCOVI89USA97.disabledingroup" ng-show="vc.viewState.CM_CCOVI89USA97.visible" ng-class="vc.viewState.CM_CCOVI89USA97.style"> {{vc.viewState.CM_CCOVI89USA97.label|translate}} </button> 
    <button id="CM_CCOVI89NAR83" ng-click="vc.CRUDExecute('CM_CCOVI89NAR83', validator, false, false, 'VC_CCOVI89_AECIT_172', false, true)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_CCOVI89NAR83.disabled || vc.viewState.CM_CCOVI89NAR83.disabledingroup" ng-show="vc.viewState.CM_CCOVI89NAR83.visible" ng-class="vc.viewState.CM_CCOVI89NAR83.style"> {{vc.viewState.CM_CCOVI89NAR83.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_FLCRE_00_CCOVI89_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_CCOVI89_AECIT_172')" ng-disabled="vc.viewState.T_FLCRE_00_CCOVI89_ACCEPT.disabled || vc.viewState.T_FLCRE_00_CCOVI89_ACCEPT.disabledingroup" ng-show="vc.viewState.T_FLCRE_00_CCOVI89_ACCEPT.visible" ng-class="vc.viewState.T_FLCRE_00_CCOVI89_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_FLCRE_00_CCOVI89_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_FLCRE_00_CCOVI89_CANCEL.disabled || vc.viewState.T_FLCRE_00_CCOVI89_CANCEL.disabledingroup" ng-show="vc.viewState.T_FLCRE_00_CCOVI89_CANCEL.visible" ng-class="vc.viewState.T_FLCRE_00_CCOVI89_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>