<!-- Designer Generator v 6.3.3 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_REFINANCSL_902781" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_REFINANCSL_902781.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_REFINANCIT_515--> 
  <div id="VC_REFINANCSL_902781" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_REFINANSER_157515" ng-class="vc.viewState.G_REFINANSER_157515.style" class="cb-group cb-group-layout"> 
    <div id="G_REFINANSER_157515_VAL" kendo-validator="G_REFINANSER_157515" k-options="validatorOptions"> 
     <fieldset id="G_REFINANCRN_122515" ng-show="vc.viewState.G_REFINANCRN_122515.visible" ng-class="vc.viewState.G_REFINANCRN_122515.style" class="cb-group cb-group-simple"> 
      <legend> <span ng-bind="vc.viewState.G_REFINANCRN_122515.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.G_REFINANCRN_122515.statusStyle.success, 'cb-validation-fail': vc.viewState.G_REFINANCRN_122515.statusStyle.fail, 'cb-validation-none': vc.viewState.G_REFINANCRN_122515.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.G_REFINANCRN_122515.label|translate}}</span> </legend> 
      <div id="G_REFINANCRN_122515_VAL" kendo-validator="G_REFINANCRN_122515" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_CLIENTNAMEBGXWU_198515.visible"> 
          <div class="form-group" id="VA_CLIENTNAMEBGXWU_198515_DIV"> 
           <label for="VA_CLIENTNAMEBGXWU_198515" title="{{vc.viewState.VA_CLIENTNAMEBGXWU_198515.label|translate:vc.viewState.VA_CLIENTNAMEBGXWU_198515.labelArgs}}" ng-show="vc.viewState.VA_CLIENTNAMEBGXWU_198515.visible" class="control-label">{{vc.viewState.VA_CLIENTNAMEBGXWU_198515.label|translate:vc.viewState.VA_CLIENTNAMEBGXWU_198515.labelArgs}}</label> 
           <div class="cb-control"> 
            <div class="input-group"> 
             <input id="VA_CLIENTNAMEBGXWU_198515" name="RefinanceLoanFilter_clientName" type="text" class="form-control" ng-model="vc.model.RefinanceLoanFilter.clientName" ng-disabled="vc.viewState.VA_CLIENTNAMEBGXWU_198515.disabled || vc.viewState.VA_CLIENTNAMEBGXWU_198515.disabledingroup" ng-show="vc.viewState.VA_CLIENTNAMEBGXWU_198515.visible" ng-readonly="vc.viewState.VA_CLIENTNAMEBGXWU_198515.readonly" ng-class="vc.viewState.VA_CLIENTNAMEBGXWU_198515.style" data-cobis-group="GroupLayout,G_REFINANSER_157515,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_CLIENTNAMEBGXWU_198515.validationCode}}" /> 
             <div class="input-group-btn"> 
              <button class="btn btn-default btn-block" ng-click="vc.clickTextInputButton('VA_CLIENTNAMEBGXWU_198515')" ng-disabled="vc.viewState.VA_CLIENTNAMEBGXWU_198515.disabled || vc.viewState.VA_CLIENTNAMEBGXWU_198515.disabledingroup" ng-show="vc.viewState.VA_CLIENTNAMEBGXWU_198515.visible" ng-class="vc.viewState.VA_CLIENTNAMEBGXWU_198515.style"> <span class="glyphicon glyphicon-align-justify"></span> </button> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_CURRENCYTYPETLZ_990515.visible"> 
          <div class="form-group" id="VA_CURRENCYTYPETLZ_990515_DIV"> 
           <label for="VA_CURRENCYTYPETLZ_990515" title="{{vc.viewState.VA_CURRENCYTYPETLZ_990515.label|translate:vc.viewState.VA_CURRENCYTYPETLZ_990515.labelArgs}}" ng-show="vc.viewState.VA_CURRENCYTYPETLZ_990515.visible" class="control-label">{{vc.viewState.VA_CURRENCYTYPETLZ_990515.label|translate:vc.viewState.VA_CURRENCYTYPETLZ_990515.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_CURRENCYTYPETLZ_990515" name="RefinanceLoanFilter_currencyType" kendo-ext-combo-box="comboBox.VA_CURRENCYTYPETLZ_990515" ng-model="vc.model.RefinanceLoanFilter.currencyType" ng-disabled="vc.viewState.VA_CURRENCYTYPETLZ_990515.disabled || vc.viewState.VA_CURRENCYTYPETLZ_990515.disabledingroup" ng-show="vc.viewState.VA_CURRENCYTYPETLZ_990515.visible" ng-readonly="vc.viewState.VA_CURRENCYTYPETLZ_990515.readonly" ng-class="vc.viewState.VA_CURRENCYTYPETLZ_990515.style" k-data-source="vc.catalogs.VA_CURRENCYTYPETLZ_990515" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_CURRENCYTYPETLZ_990515.template" data-cobis-group="GroupLayout,G_REFINANSER_157515,0" data-validation-code="{{vc.viewState.VA_CURRENCYTYPETLZ_990515.validationCode}}" designer-change /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_OPERATIONPZCOUQ_327515.visible"> 
          <div class="form-group" id="VA_OPERATIONPZCOUQ_327515_DIV"> 
           <label for="VA_OPERATIONPZCOUQ_327515" title="{{vc.viewState.VA_OPERATIONPZCOUQ_327515.label|translate:vc.viewState.VA_OPERATIONPZCOUQ_327515.labelArgs}}" ng-show="vc.viewState.VA_OPERATIONPZCOUQ_327515.visible" class="control-label">{{vc.viewState.VA_OPERATIONPZCOUQ_327515.label|translate:vc.viewState.VA_OPERATIONPZCOUQ_327515.labelArgs}}</label> 
           <div class="cb-control"> 
            <div id="VA_OPERATIONPZCOUQ_327515" name="RefinanceLoanFilter_operation" class="form-control cb-no-border" ng-show="vc.viewState.VA_OPERATIONPZCOUQ_327515.visible" ng-class="vc.viewState.VA_OPERATIONPZCOUQ_327515.style">
              {{kendo.toString(vc.model.RefinanceLoanFilter.operation, '')}} 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </fieldset> 
     <fieldset id="G_REFINANACR_140515" ng-show="vc.viewState.G_REFINANACR_140515.visible" ng-class="vc.viewState.G_REFINANACR_140515.style" class="cb-group cb-group-simple"> 
      <legend> <span ng-bind="vc.viewState.G_REFINANACR_140515.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.G_REFINANACR_140515.statusStyle.success, 'cb-validation-fail': vc.viewState.G_REFINANACR_140515.statusStyle.fail, 'cb-validation-none': vc.viewState.G_REFINANACR_140515.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.G_REFINANACR_140515.label|translate}}</span> </legend> 
      <div id="G_REFINANACR_140515_VAL" kendo-validator="G_REFINANACR_140515" k-options="validatorOptions"> 
       <div id="QV_3375_11342" kendo-ext-grid="grids.QV_3375_11342" k-data-source="vc.model.RefinanceLoans" k-column-menu="false" k-sortable="false" k-pageable="{refresh: false, pageSizes: false, buttonCount: 5}" k-editable="vc.grids.QV_3375_11342.editable" k-toolbar="vc.grids.QV_3375_11342.toolbar" k-resizable="true" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="true" k-selectable="false" k-data-bound="vc.grids.QV_3375_11342.events.dataBound" k-columns="vc.grids.QV_3375_11342.columns" k-cancel="vc.grids.QV_3375_11342.events.cancel" k-edit="vc.grids.QV_3375_11342.events.edit" ng-class="vc.viewState.QV_3375_11342.style" k-ng-delay="vc.afterInitData"></div> 
      </div> 
     </fieldset> 
     <div id="G_REFINANALR_445515" class="cb-group cb-group-layout"> 
      <div id="G_REFINANALR_445515_VAL" kendo-validator="G_REFINANALR_445515" k-options="validatorOptions"> 
       <div class="row"> 
        <div class="col-xs-6"> 
         <fieldset id="G_REFINANLEE_309515" ng-show="vc.viewState.G_REFINANLEE_309515.visible" ng-class="vc.viewState.G_REFINANLEE_309515.style" class="cb-group cb-group-simple"> 
          <legend> <span ng-bind="vc.viewState.G_REFINANLEE_309515.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.G_REFINANLEE_309515.statusStyle.success, 'cb-validation-fail': vc.viewState.G_REFINANLEE_309515.statusStyle.fail, 'cb-validation-none': vc.viewState.G_REFINANLEE_309515.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.G_REFINANLEE_309515.label|translate}}</span> </legend> 
          <div id="G_REFINANLEE_309515_VAL" kendo-validator="G_REFINANLEE_309515" k-options="validatorOptions"> 
           <div class="form-vertical"> 
            <div class="row"> 
             <div class="col-xs-12" ng-show="vc.viewState.VA_CURRENCYTYPEUXU_869515.visible"> 
              <div class="form-group" id="VA_CURRENCYTYPEUXU_869515_DIV"> 
               <label for="VA_CURRENCYTYPEUXU_869515" title="{{vc.viewState.VA_CURRENCYTYPEUXU_869515.label|translate:vc.viewState.VA_CURRENCYTYPEUXU_869515.labelArgs}}" ng-show="vc.viewState.VA_CURRENCYTYPEUXU_869515.visible" class="control-label">{{'&nbsp;'}}</label> 
               <div class="cb-control"> 
                <input id="VA_CURRENCYTYPEUXU_869515" name="RefinanceLoanFilter_currencyTypeAux" kendo-ext-combo-box="comboBox.VA_CURRENCYTYPEUXU_869515" ng-model="vc.model.RefinanceLoanFilter.currencyTypeAux" ng-disabled="vc.viewState.VA_CURRENCYTYPEUXU_869515.disabled || vc.viewState.VA_CURRENCYTYPEUXU_869515.disabledingroup" ng-show="vc.viewState.VA_CURRENCYTYPEUXU_869515.visible" ng-readonly="vc.viewState.VA_CURRENCYTYPEUXU_869515.readonly" ng-class="vc.viewState.VA_CURRENCYTYPEUXU_869515.style" k-data-source="vc.catalogs.VA_CURRENCYTYPEUXU_869515" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_CURRENCYTYPEUXU_869515.template" data-cobis-group="GroupLayout,G_REFINANALR_445515,0" data-validation-code="{{vc.viewState.VA_CURRENCYTYPEUXU_869515.validationCode}}" designer-change /> 
               </div> 
              </div> 
             </div> 
             <div class="col-xs-4" ng-show="vc.viewState.VA_OPERATIONTYPEEE_619515.visible"> 
              <div class="form-group" id="VA_OPERATIONTYPEEE_619515_DIV"> 
               <label for="VA_OPERATIONTYPEEE_619515" title="{{vc.viewState.VA_OPERATIONTYPEEE_619515.label|translate:vc.viewState.VA_OPERATIONTYPEEE_619515.labelArgs}}" ng-show="vc.viewState.VA_OPERATIONTYPEEE_619515.visible" class="control-label">{{vc.viewState.VA_OPERATIONTYPEEE_619515.label|translate:vc.viewState.VA_OPERATIONTYPEEE_619515.labelArgs}}</label> 
               <div class="cb-control"> 
                <input id="VA_OPERATIONTYPEEE_619515" name="RefinanceLoanFilter_operationType" kendo-ext-combo-box="comboBox.VA_OPERATIONTYPEEE_619515" ng-model="vc.model.RefinanceLoanFilter.operationType" ng-disabled="vc.viewState.VA_OPERATIONTYPEEE_619515.disabled || vc.viewState.VA_OPERATIONTYPEEE_619515.disabledingroup" ng-show="vc.viewState.VA_OPERATIONTYPEEE_619515.visible" ng-readonly="vc.viewState.VA_OPERATIONTYPEEE_619515.readonly" ng-class="vc.viewState.VA_OPERATIONTYPEEE_619515.style" k-data-source="vc.catalogs.VA_OPERATIONTYPEEE_619515" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_OPERATIONTYPEEE_619515.template" k-cascade-from="'VA_CURRENCYTYPEUXU_869515'" data-cobis-group="GroupLayout,G_REFINANALR_445515,0" data-validation-code="{{vc.viewState.VA_OPERATIONTYPEEE_619515.validationCode}}" designer-change /> 
               </div> 
              </div> 
             </div> 
             <div class="col-xs-8" ng-show="vc.viewState.VA_OVERDUEVFBXKALY_348515.visible"> 
              <div class="form-group" id="VA_OVERDUEVFBXKALY_348515_DIV"> 
               <label for="VA_OVERDUEVFBXKALY_348515" title="{{vc.viewState.VA_OVERDUEVFBXKALY_348515.label|translate:vc.viewState.VA_OVERDUEVFBXKALY_348515.labelArgs}}" ng-show="vc.viewState.VA_OVERDUEVFBXKALY_348515.visible" class="control-label">{{vc.viewState.VA_OVERDUEVFBXKALY_348515.label|translate:vc.viewState.VA_OVERDUEVFBXKALY_348515.labelArgs}}</label> 
               <div class="cb-control"> 
                <div id="VA_OVERDUEVFBXKALY_348515" name="RefinanceLoanFilter_overDue" class="form-control cb-no-border" ng-show="vc.viewState.VA_OVERDUEVFBXKALY_348515.visible" ng-class="vc.viewState.VA_OVERDUEVFBXKALY_348515.style">
                  {{kendo.toString(vc.model.RefinanceLoanFilter.overDue, '')}} 
                </div> 
               </div> 
              </div> 
             </div> 
             <div class="col-xs-4" ng-show="vc.viewState.VA_NEWLOANTERMUQHR_494515.visible"> 
              <div class="form-group" id="VA_NEWLOANTERMUQHR_494515_DIV"> 
               <label for="VA_NEWLOANTERMUQHR_494515" title="{{vc.viewState.VA_NEWLOANTERMUQHR_494515.label|translate:vc.viewState.VA_NEWLOANTERMUQHR_494515.labelArgs}}" ng-show="vc.viewState.VA_NEWLOANTERMUQHR_494515.visible" class="control-label">{{vc.viewState.VA_NEWLOANTERMUQHR_494515.label|translate:vc.viewState.VA_NEWLOANTERMUQHR_494515.labelArgs}}</label> 
               <div class="cb-control"> 
                <div id="VA_NEWLOANTERMUQHR_494515" name="RefinanceLoanFilter_newLoanTerm" class="form-control cb-no-border" ng-show="vc.viewState.VA_NEWLOANTERMUQHR_494515.visible" ng-class="vc.viewState.VA_NEWLOANTERMUQHR_494515.style">
                  {{kendo.toString(vc.model.RefinanceLoanFilter.newLoanTerm, 'n0')}} 
                </div> 
               </div> 
              </div> 
             </div> 
             <div class="col-xs-4" ng-show="vc.viewState.VA_PERIODICITYSUIR_653515.visible"> 
              <div class="form-group" id="VA_PERIODICITYSUIR_653515_DIV"> 
               <label for="VA_PERIODICITYSUIR_653515" title="{{vc.viewState.VA_PERIODICITYSUIR_653515.label|translate:vc.viewState.VA_PERIODICITYSUIR_653515.labelArgs}}" ng-show="vc.viewState.VA_PERIODICITYSUIR_653515.visible" class="control-label">{{vc.viewState.VA_PERIODICITYSUIR_653515.label|translate:vc.viewState.VA_PERIODICITYSUIR_653515.labelArgs}}</label> 
               <div class="cb-control"> 
                <div id="VA_PERIODICITYSUIR_653515" name="RefinanceLoanFilter_periodicity" class="form-control cb-no-border" ng-show="vc.viewState.VA_PERIODICITYSUIR_653515.visible" ng-class="vc.viewState.VA_PERIODICITYSUIR_653515.style">
                  {{kendo.toString(vc.model.RefinanceLoanFilter.periodicity, '')}} 
                </div> 
               </div> 
              </div> 
             </div> 
             <div class="col-xs-4" ng-show="vc.viewState.VA_NEWLOANCURRENNN_364515.visible"> 
              <div class="form-group" id="VA_NEWLOANCURRENNN_364515_DIV"> 
               <label for="VA_NEWLOANCURRENNN_364515" title="{{vc.viewState.VA_NEWLOANCURRENNN_364515.label|translate:vc.viewState.VA_NEWLOANCURRENNN_364515.labelArgs}}" ng-show="vc.viewState.VA_NEWLOANCURRENNN_364515.visible" class="control-label">{{vc.viewState.VA_NEWLOANCURRENNN_364515.label|translate:vc.viewState.VA_NEWLOANCURRENNN_364515.labelArgs}}</label> 
               <div class="cb-control"> 
                <div id="VA_NEWLOANCURRENNN_364515" name="RefinanceLoanFilter_newLoanCurrency" class="form-control cb-no-border" ng-show="vc.viewState.VA_NEWLOANCURRENNN_364515.visible" ng-class="vc.viewState.VA_NEWLOANCURRENNN_364515.style">
                  {{kendo.toString(vc.model.RefinanceLoanFilter.newLoanCurrency, '')}} 
                </div> 
               </div> 
              </div> 
             </div> 
             <div class="col-xs-12" ng-show="vc.viewState.VA_VASIMPLELABELLL_600515.visible"> 
              <div class="form-group"> 
               <label class="control-label">&nbsp;</label> 
               <div class="cb-control"> 
                <label id="VA_VASIMPLELABELLL_600515" ng-show="vc.viewState.VA_VASIMPLELABELLL_600515.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_600515.style"> {{vc.viewState.VA_VASIMPLELABELLL_600515.label|translate}} </label>
               </div> 
              </div> 
             </div> 
             <div class="col-xs-6" ng-show="vc.viewState.VA_ADDICIONALPAYOH_649515.visible"> 
              <div class="form-group" id="VA_ADDICIONALPAYOH_649515_DIV"> 
               <label for="VA_ADDICIONALPAYOH_649515" title="{{vc.viewState.VA_ADDICIONALPAYOH_649515.label|translate:vc.viewState.VA_ADDICIONALPAYOH_649515.labelArgs}}" ng-show="vc.viewState.VA_ADDICIONALPAYOH_649515.visible" class="control-label">{{vc.viewState.VA_ADDICIONALPAYOH_649515.label|translate:vc.viewState.VA_ADDICIONALPAYOH_649515.labelArgs}}</label> 
               <div class="cb-control"> 
                <input id="VA_ADDICIONALPAYOH_649515" name="RefinanceLoanFilter_addicionalPayMethod" kendo-ext-combo-box="comboBox.VA_ADDICIONALPAYOH_649515" ng-model="vc.model.RefinanceLoanFilter.addicionalPayMethod" ng-disabled="vc.viewState.VA_ADDICIONALPAYOH_649515.disabled || vc.viewState.VA_ADDICIONALPAYOH_649515.disabledingroup" ng-show="vc.viewState.VA_ADDICIONALPAYOH_649515.visible" ng-readonly="vc.viewState.VA_ADDICIONALPAYOH_649515.readonly" ng-class="vc.viewState.VA_ADDICIONALPAYOH_649515.style" k-data-source="vc.catalogs.VA_ADDICIONALPAYOH_649515" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_ADDICIONALPAYOH_649515.template" data-cobis-group="GroupLayout,G_REFINANALR_445515,0" data-validation-code="{{vc.viewState.VA_ADDICIONALPAYOH_649515.validationCode}}" /> 
               </div> 
              </div> 
             </div> 
             <div class="col-xs-2" ng-show="vc.viewState.VA_PAYMETHODCURCYE_344515.visible"> 
              <div class="form-group" id="VA_PAYMETHODCURCYE_344515_DIV"> 
               <label for="VA_PAYMETHODCURCYE_344515" title="{{vc.viewState.VA_PAYMETHODCURCYE_344515.label|translate:vc.viewState.VA_PAYMETHODCURCYE_344515.labelArgs}}" ng-show="vc.viewState.VA_PAYMETHODCURCYE_344515.visible" class="control-label">{{vc.viewState.VA_PAYMETHODCURCYE_344515.label|translate:vc.viewState.VA_PAYMETHODCURCYE_344515.labelArgs}}</label> 
               <div class="cb-control"> 
                <input id="VA_PAYMETHODCURCYE_344515" name="RefinanceLoanFilter_payMethodCurrency" type="text" class="form-control" ng-model="vc.model.RefinanceLoanFilter.payMethodCurrency" ng-disabled="vc.viewState.VA_PAYMETHODCURCYE_344515.disabled || vc.viewState.VA_PAYMETHODCURCYE_344515.disabledingroup" ng-show="vc.viewState.VA_PAYMETHODCURCYE_344515.visible" ng-readonly="vc.viewState.VA_PAYMETHODCURCYE_344515.readonly" ng-class="vc.viewState.VA_PAYMETHODCURCYE_344515.style" data-cobis-group="GroupLayout,G_REFINANALR_445515,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_PAYMETHODCURCYE_344515.validationCode}}" /> 
               </div> 
              </div> 
             </div> 
             <div class="col-xs-4" ng-show="vc.viewState.VA_ADDITIONALVAUUU_896515.visible"> 
              <div class="form-group" id="VA_ADDITIONALVAUUU_896515_DIV"> 
               <label for="VA_ADDITIONALVAUUU_896515" title="{{vc.viewState.VA_ADDITIONALVAUUU_896515.label|translate:vc.viewState.VA_ADDITIONALVAUUU_896515.labelArgs}}" ng-show="vc.viewState.VA_ADDITIONALVAUUU_896515.visible" class="control-label">{{vc.viewState.VA_ADDITIONALVAUUU_896515.label|translate:vc.viewState.VA_ADDITIONALVAUUU_896515.labelArgs}}</label> 
               <div class="cb-control"> 
                <input id="VA_ADDITIONALVAUUU_896515" name="RefinanceLoanFilter_additionalValue" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_ADDITIONALVAUUU_896515.format" k-decimals="vc.viewState.VA_ADDITIONALVAUUU_896515.decimals" k-ng-model="vc.model.RefinanceLoanFilter.additionalValue" ng-model="vc.tmpModel.RefinanceLoanFilter.additionalValue" ng-disabled="vc.viewState.VA_ADDITIONALVAUUU_896515.disabled || vc.viewState.VA_ADDITIONALVAUUU_896515.disabledingroup" ng-show="vc.viewState.VA_ADDITIONALVAUUU_896515.visible" ng-readonly="vc.viewState.VA_ADDITIONALVAUUU_896515.readonly" ng-class="vc.viewState.VA_ADDITIONALVAUUU_896515.style" data-cobis-group="GroupLayout,G_REFINANALR_445515,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_ADDITIONALVAUUU_896515.validationCode}}" designer-change /> 
               </div> 
              </div> 
             </div> 
             <div class="col-xs-6" ng-show="vc.viewState.VA_ACCOUNTYATVYIRL_740515.visible"> 
              <div class="form-group" id="VA_ACCOUNTYATVYIRL_740515_DIV"> 
               <label for="VA_ACCOUNTYATVYIRL_740515" title="{{vc.viewState.VA_ACCOUNTYATVYIRL_740515.label|translate:vc.viewState.VA_ACCOUNTYATVYIRL_740515.labelArgs}}" ng-show="vc.viewState.VA_ACCOUNTYATVYIRL_740515.visible" class="control-label">{{vc.viewState.VA_ACCOUNTYATVYIRL_740515.label|translate:vc.viewState.VA_ACCOUNTYATVYIRL_740515.labelArgs}}</label> 
               <div class="cb-control"> 
                <div class="input-group"> 
                 <input id="VA_ACCOUNTYATVYIRL_740515" name="RefinanceLoanFilter_account" type="text" class="form-control" ng-model="vc.model.RefinanceLoanFilter.account" ng-disabled="vc.viewState.VA_ACCOUNTYATVYIRL_740515.disabled || vc.viewState.VA_ACCOUNTYATVYIRL_740515.disabledingroup" ng-show="vc.viewState.VA_ACCOUNTYATVYIRL_740515.visible" ng-readonly="vc.viewState.VA_ACCOUNTYATVYIRL_740515.readonly" ng-class="vc.viewState.VA_ACCOUNTYATVYIRL_740515.style" data-cobis-group="GroupLayout,G_REFINANALR_445515,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_ACCOUNTYATVYIRL_740515.validationCode}}" /> 
                 <div class="input-group-btn"> 
                  <button class="btn btn-default btn-block" ng-click="vc.clickTextInputButton('VA_ACCOUNTYATVYIRL_740515')" ng-disabled="vc.viewState.VA_ACCOUNTYATVYIRL_740515.disabled || vc.viewState.VA_ACCOUNTYATVYIRL_740515.disabledingroup" ng-show="vc.viewState.VA_ACCOUNTYATVYIRL_740515.visible" ng-class="vc.viewState.VA_ACCOUNTYATVYIRL_740515.style"> <span class="glyphicon glyphicon-align-justify"></span> </button> 
                 </div> 
                </div> 
               </div> 
              </div> 
             </div> 
             <div class="col-xs-4" ng-show="vc.viewState.VA_REFRESHDATALBDM_867515.visible"> 
              <div class="form-group" id="VA_REFRESHDATALBDM_867515_DIV"> 
               <label>&nbsp; </label> 
               <div class="cb-control"> 
                <div> 
                 <label class="checkbox-inline"> <input id="VA_REFRESHDATALBDM_867515" name="RefinanceLoanFilter_refreshData" type="checkbox" ng-model="vc.model.RefinanceLoanFilter.refreshData" ng-disabled="vc.viewState.VA_REFRESHDATALBDM_867515.disabled || vc.viewState.VA_REFRESHDATALBDM_867515.disabledingroup" ng-show="vc.viewState.VA_REFRESHDATALBDM_867515.visible" ng-class="vc.viewState.VA_REFRESHDATALBDM_867515.style" designer-change /> <span ng-if="vc.viewState.VA_REFRESHDATALBDM_867515.visible"> {{vc.viewState.VA_REFRESHDATALBDM_867515.label|translate}} </span> </label> 
                </div> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </fieldset> 
        </div> 
        <div class="col-xs-6"> 
         <fieldset id="G_REFINANLOO_113515" ng-show="vc.viewState.G_REFINANLOO_113515.visible" ng-class="vc.viewState.G_REFINANLOO_113515.style" class="cb-group cb-group-simple"> 
          <legend> <span ng-bind="vc.viewState.G_REFINANLOO_113515.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.G_REFINANLOO_113515.statusStyle.success, 'cb-validation-fail': vc.viewState.G_REFINANLOO_113515.statusStyle.fail, 'cb-validation-none': vc.viewState.G_REFINANLOO_113515.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.G_REFINANLOO_113515.label|translate}}</span> </legend> 
          <div id="G_REFINANLOO_113515_VAL" kendo-validator="G_REFINANLOO_113515" k-options="validatorOptions"> 
           <div class="form-horizontal"> 
            <div class="row"> 
             <div class="col-xs-12" ng-show="vc.viewState.VA_CAPITALBALANCEC_436515.visible"> 
              <div class="form-group" id="VA_CAPITALBALANCEC_436515_DIV"> 
               <label for="VA_CAPITALBALANCEC_436515" title="{{vc.viewState.VA_CAPITALBALANCEC_436515.label|translate:vc.viewState.VA_CAPITALBALANCEC_436515.labelArgs}}" ng-show="vc.viewState.VA_CAPITALBALANCEC_436515.visible" class="col-sm-4 control-label">{{vc.viewState.VA_CAPITALBALANCEC_436515.label|translate:vc.viewState.VA_CAPITALBALANCEC_436515.labelArgs}}</label> 
               <div class="col-sm-8"> 
                <div class="cb-control"> 
                 <div id="VA_CAPITALBALANCEC_436515" name="RefinanceLoanFilter_capitalBalance" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_CAPITALBALANCEC_436515.visible" ng-class="vc.viewState.VA_CAPITALBALANCEC_436515.style">
                   {{kendo.toString(vc.model.RefinanceLoanFilter.capitalBalance, 'c')}} 
                 </div> 
                </div> 
               </div> 
              </div> 
             </div> 
             <div class="col-xs-12" ng-show="vc.viewState.VA_OTHERBALANCEJEN_649515.visible"> 
              <div class="form-group" id="VA_OTHERBALANCEJEN_649515_DIV"> 
               <label for="VA_OTHERBALANCEJEN_649515" title="{{vc.viewState.VA_OTHERBALANCEJEN_649515.label|translate:vc.viewState.VA_OTHERBALANCEJEN_649515.labelArgs}}" ng-show="vc.viewState.VA_OTHERBALANCEJEN_649515.visible" class="col-sm-4 control-label">{{vc.viewState.VA_OTHERBALANCEJEN_649515.label|translate:vc.viewState.VA_OTHERBALANCEJEN_649515.labelArgs}}</label> 
               <div class="col-sm-8"> 
                <div class="cb-control"> 
                 <div id="VA_OTHERBALANCEJEN_649515" name="RefinanceLoanFilter_otherBalance" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_OTHERBALANCEJEN_649515.visible" ng-class="vc.viewState.VA_OTHERBALANCEJEN_649515.style">
                   {{kendo.toString(vc.model.RefinanceLoanFilter.otherBalance, 'c')}} 
                 </div> 
                </div> 
               </div> 
              </div> 
             </div> 
             <div class="col-xs-12" ng-show="vc.viewState.VA_2598QVNXQLNVJQG_279515.visible"> 
              <div class="form-group" id="VA_2598QVNXQLNVJQG_279515_DIV"> 
               <label for="VA_2598QVNXQLNVJQG_279515" title="{{vc.viewState.VA_2598QVNXQLNVJQG_279515.label|translate:vc.viewState.VA_2598QVNXQLNVJQG_279515.labelArgs}}" ng-show="vc.viewState.VA_2598QVNXQLNVJQG_279515.visible" class="col-sm-4 control-label">{{vc.viewState.VA_2598QVNXQLNVJQG_279515.label|translate:vc.viewState.VA_2598QVNXQLNVJQG_279515.labelArgs}}</label> 
               <div class="col-sm-8"> 
                <div class="cb-control"> 
                 <div id="VA_2598QVNXQLNVJQG_279515" name="RefinanceLoanFilter_interestBalance" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_2598QVNXQLNVJQG_279515.visible" ng-class="vc.viewState.VA_2598QVNXQLNVJQG_279515.style">
                   {{kendo.toString(vc.model.RefinanceLoanFilter.interestBalance, 'c')}} 
                 </div> 
                </div> 
               </div> 
              </div> 
             </div> 
             <div class="col-xs-12" ng-show="vc.viewState.VA_ADITIONALBALACN_754515.visible"> 
              <div class="form-group" id="VA_ADITIONALBALACN_754515_DIV"> 
               <label for="VA_ADITIONALBALACN_754515" title="{{vc.viewState.VA_ADITIONALBALACN_754515.label|translate:vc.viewState.VA_ADITIONALBALACN_754515.labelArgs}}" ng-show="vc.viewState.VA_ADITIONALBALACN_754515.visible" class="col-sm-4 control-label">{{vc.viewState.VA_ADITIONALBALACN_754515.label|translate:vc.viewState.VA_ADITIONALBALACN_754515.labelArgs}}</label> 
               <div class="col-sm-8"> 
                <div class="cb-control"> 
                 <div id="VA_ADITIONALBALACN_754515" name="RefinanceLoanFilter_aditionalBalance" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_ADITIONALBALACN_754515.visible" ng-class="vc.viewState.VA_ADITIONALBALACN_754515.style">
                   {{kendo.toString(vc.model.RefinanceLoanFilter.aditionalBalance, 'c')}} 
                 </div> 
                </div> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </fieldset> 
        </div> 
        <div class="col-xs-6"> 
         <div id="G_REFINANALS_386515" class="cb-group cb-group-simple" ng-show="vc.viewState.G_REFINANALS_386515.visible" ng-class="vc.viewState.G_REFINANALS_386515.style"> 
          <div id="G_REFINANALS_386515_VAL" kendo-validator="G_REFINANALS_386515" k-options="validatorOptions"> 
           <div class="form-horizontal"> 
            <div class="row"> 
             <div class="col-xs-12" ng-show="vc.viewState.VA_TOTALREFINANEEC_261515.visible"> 
              <div class="form-group" id="VA_TOTALREFINANEEC_261515_DIV"> 
               <label for="VA_TOTALREFINANEEC_261515" title="{{vc.viewState.VA_TOTALREFINANEEC_261515.label|translate:vc.viewState.VA_TOTALREFINANEEC_261515.labelArgs}}" ng-show="vc.viewState.VA_TOTALREFINANEEC_261515.visible" class="col-sm-4 control-label">{{vc.viewState.VA_TOTALREFINANEEC_261515.label|translate:vc.viewState.VA_TOTALREFINANEEC_261515.labelArgs}}</label> 
               <div class="col-sm-8"> 
                <div class="cb-control"> 
                 <div id="VA_TOTALREFINANEEC_261515" name="RefinanceLoanFilter_totalRefinance" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_TOTALREFINANEEC_261515.visible" ng-class="vc.viewState.VA_TOTALREFINANEEC_261515.style">
                   {{kendo.toString(vc.model.RefinanceLoanFilter.totalRefinance, 'c')}} 
                 </div> 
                </div> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_REFINANCIT_515--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc || !vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_TREFINAN_A4R" ng-click="vc.executeCommand('CM_TREFINAN_A4R','Command2', validator, false, false, 'VC_REFINANCSL_902781', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_TREFINAN_A4R.disabled || vc.viewState.CM_TREFINAN_A4R.disabledingroup" ng-show="vc.viewState.CM_TREFINAN_A4R.visible" ng-class="vc.viewState.CM_TREFINAN_A4R.style"> {{vc.viewState.CM_TREFINAN_A4R.label|translate}} </button> 
    <button id="CM_TREFINAN_9NC" ng-click="vc.executeCommand('CM_TREFINAN_9NC','Command1', validator, false, false, 'VC_REFINANCSL_902781', false)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_TREFINAN_9NC.disabled || vc.viewState.CM_TREFINAN_9NC.disabledingroup" ng-show="vc.viewState.CM_TREFINAN_9NC.visible" ng-class="vc.viewState.CM_TREFINAN_9NC.style"> {{vc.viewState.CM_TREFINAN_9NC.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_REFINANCELISS_781_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_REFINANCSL_902781')" ng-disabled="vc.viewState.T_REFINANCELISS_781_ACCEPT.disabled || vc.viewState.T_REFINANCELISS_781_ACCEPT.disabledingroup" ng-show="vc.viewState.T_REFINANCELISS_781_ACCEPT.visible" ng-class="vc.viewState.T_REFINANCELISS_781_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_REFINANCELISS_781_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_REFINANCELISS_781_CANCEL.disabled || vc.viewState.T_REFINANCELISS_781_CANCEL.disabledingroup" ng-show="vc.viewState.T_REFINANCELISS_781_CANCEL.visible" ng-class="vc.viewState.T_REFINANCELISS_781_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>