<!-- Designer Generator v 6.3.3 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_PAYMENTMDA_338828" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_PAYMENTMDA_338828.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_PAYMENTMTI_701--> 
  <div id="VC_PAYMENTMDA_338828" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_PAYMENTNNO_964701" ng-class="vc.viewState.G_PAYMENTNNO_964701.style" class="cb-group cb-group-layout"> 
    <div id="G_PAYMENTNNO_964701_VAL" kendo-validator="G_PAYMENTNNO_964701" k-options="validatorOptions"> 
     <div id="G_PAYMENTCCT_512701" class="cb-group cb-group-simple" ng-show="vc.viewState.G_PAYMENTCCT_512701.visible" ng-class="vc.viewState.G_PAYMENTCCT_512701.style"> 
      <div id="G_PAYMENTCCT_512701_VAL" kendo-validator="G_PAYMENTCCT_512701" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_PRODUCTOFQZHBKU_354701.visible"> 
          <div class="form-group cb-required" id="VA_PRODUCTOFQZHBKU_354701_DIV"> 
           <label for="VA_PRODUCTOFQZHBKU_354701" title="{{vc.viewState.VA_PRODUCTOFQZHBKU_354701.label|translate:vc.viewState.VA_PRODUCTOFQZHBKU_354701.labelArgs}}" ng-show="vc.viewState.VA_PRODUCTOFQZHBKU_354701.visible" class="control-label">{{vc.viewState.VA_PRODUCTOFQZHBKU_354701.label|translate:vc.viewState.VA_PRODUCTOFQZHBKU_354701.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_PRODUCTOFQZHBKU_354701" name="MethodsRetention_product" maxlength="30" type="text" class="form-control" ng-model="vc.model.MethodsRetention.product" ng-disabled="vc.viewState.VA_PRODUCTOFQZHBKU_354701.disabled || vc.viewState.VA_PRODUCTOFQZHBKU_354701.disabledingroup" ng-show="vc.viewState.VA_PRODUCTOFQZHBKU_354701.visible" ng-readonly="vc.viewState.VA_PRODUCTOFQZHBKU_354701.readonly" ng-class="vc.viewState.VA_PRODUCTOFQZHBKU_354701.style" data-cobis-group="GroupLayout,G_PAYMENTNNO_964701,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_PRODUCTOFQZHBKU_354701.validationCode}}" data-required-msg="{{'ASSTS.MSG_ASSTS_CAMPOREUI_74379'|translate}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_DESCRIPTIONSUZS_167701.visible"> 
          <div class="form-group cb-required" id="VA_DESCRIPTIONSUZS_167701_DIV"> 
           <label for="VA_DESCRIPTIONSUZS_167701" title="{{vc.viewState.VA_DESCRIPTIONSUZS_167701.label|translate:vc.viewState.VA_DESCRIPTIONSUZS_167701.labelArgs}}" ng-show="vc.viewState.VA_DESCRIPTIONSUZS_167701.visible" class="control-label">{{vc.viewState.VA_DESCRIPTIONSUZS_167701.label|translate:vc.viewState.VA_DESCRIPTIONSUZS_167701.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_DESCRIPTIONSUZS_167701" name="MethodsRetention_description" maxlength="70" type="text" class="form-control" ng-model="vc.model.MethodsRetention.description" ng-disabled="vc.viewState.VA_DESCRIPTIONSUZS_167701.disabled || vc.viewState.VA_DESCRIPTIONSUZS_167701.disabledingroup" ng-show="vc.viewState.VA_DESCRIPTIONSUZS_167701.visible" ng-readonly="vc.viewState.VA_DESCRIPTIONSUZS_167701.readonly" ng-class="vc.viewState.VA_DESCRIPTIONSUZS_167701.style" data-cobis-group="GroupLayout,G_PAYMENTNNO_964701,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_DESCRIPTIONSUZS_167701.validationCode}}" data-required-msg="{{'ASSTS.MSG_ASSTS_CAMPORERU_99557'|translate}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_CATEGORYPGXZQCK_157701.visible"> 
          <div class="form-group cb-required" id="VA_CATEGORYPGXZQCK_157701_DIV"> 
           <label for="VA_CATEGORYPGXZQCK_157701" title="{{vc.viewState.VA_CATEGORYPGXZQCK_157701.label|translate:vc.viewState.VA_CATEGORYPGXZQCK_157701.labelArgs}}" ng-show="vc.viewState.VA_CATEGORYPGXZQCK_157701.visible" class="control-label">{{vc.viewState.VA_CATEGORYPGXZQCK_157701.label|translate:vc.viewState.VA_CATEGORYPGXZQCK_157701.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_CATEGORYPGXZQCK_157701" name="MethodsRetention_category" kendo-ext-combo-box="comboBox.VA_CATEGORYPGXZQCK_157701" ng-model="vc.model.MethodsRetention.category" ng-disabled="vc.viewState.VA_CATEGORYPGXZQCK_157701.disabled || vc.viewState.VA_CATEGORYPGXZQCK_157701.disabledingroup" ng-show="vc.viewState.VA_CATEGORYPGXZQCK_157701.visible" ng-readonly="vc.viewState.VA_CATEGORYPGXZQCK_157701.readonly" ng-class="vc.viewState.VA_CATEGORYPGXZQCK_157701.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_CATEGORYPGXZQCK_157701" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_CATEGORYPGXZQCK_157701.template" data-cobis-group="GroupLayout,G_PAYMENTNNO_964701,0" required data-validation-code="{{vc.viewState.VA_CATEGORYPGXZQCK_157701.validationCode}}" data-required-msg="{{'ASSTS.MSG_ASSTS_CAMPOREDR_15028'|translate}}" /> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div id="G_PAYMENTLNN_635701" class="cb-group cb-group-simple" ng-show="vc.viewState.G_PAYMENTLNN_635701.visible" ng-class="vc.viewState.G_PAYMENTLNN_635701.style"> 
      <div id="G_PAYMENTLNN_635701_VAL" kendo-validator="G_PAYMENTLNN_635701" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_CURRENCYRETETTO_736701.visible"> 
          <div class="form-group" id="VA_CURRENCYRETETTO_736701_DIV"> 
           <label for="VA_CURRENCYRETETTO_736701" title="{{vc.viewState.VA_CURRENCYRETETTO_736701.label|translate:vc.viewState.VA_CURRENCYRETETTO_736701.labelArgs}}" ng-show="vc.viewState.VA_CURRENCYRETETTO_736701.visible" class="control-label">{{vc.viewState.VA_CURRENCYRETETTO_736701.label|translate:vc.viewState.VA_CURRENCYRETETTO_736701.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_CURRENCYRETETTO_736701" name="MethodsRetention_currencyRetention" kendo-ext-combo-box="comboBox.VA_CURRENCYRETETTO_736701" ng-model="vc.model.MethodsRetention.currencyRetention" ng-disabled="vc.viewState.VA_CURRENCYRETETTO_736701.disabled || vc.viewState.VA_CURRENCYRETETTO_736701.disabledingroup" ng-show="vc.viewState.VA_CURRENCYRETETTO_736701.visible" ng-readonly="vc.viewState.VA_CURRENCYRETETTO_736701.readonly" ng-class="vc.viewState.VA_CURRENCYRETETTO_736701.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_CURRENCYRETETTO_736701" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_CURRENCYRETETTO_736701.template" data-cobis-group="GroupLayout,G_PAYMENTNNO_964701,1" data-validation-code="{{vc.viewState.VA_CURRENCYRETETTO_736701.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_VALUECODEEKTKMB_372701.visible"> 
          <div class="form-group" id="VA_VALUECODEEKTKMB_372701_DIV"> 
           <label for="VA_VALUECODEEKTKMB_372701" title="{{vc.viewState.VA_VALUECODEEKTKMB_372701.label|translate:vc.viewState.VA_VALUECODEEKTKMB_372701.labelArgs}}" ng-show="vc.viewState.VA_VALUECODEEKTKMB_372701.visible" class="control-label">{{vc.viewState.VA_VALUECODEEKTKMB_372701.label|translate:vc.viewState.VA_VALUECODEEKTKMB_372701.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_VALUECODEEKTKMB_372701" name="MethodsRetention_valueCode" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_VALUECODEEKTKMB_372701.decimals" k-format="vc.viewState.VA_VALUECODEEKTKMB_372701.format" k-ng-model="vc.model.MethodsRetention.valueCode" ng-model="vc.tmpModel.MethodsRetention.valueCode" ng-disabled="vc.viewState.VA_VALUECODEEKTKMB_372701.disabled || vc.viewState.VA_VALUECODEEKTKMB_372701.disabledingroup" ng-show="vc.viewState.VA_VALUECODEEKTKMB_372701.visible" ng-readonly="vc.viewState.VA_VALUECODEEKTKMB_372701.readonly" ng-class="vc.viewState.VA_VALUECODEEKTKMB_372701.style" data-cobis-group="GroupLayout,G_PAYMENTNNO_964701,1" ng-model-onblur data-validation-code="{{vc.viewState.VA_VALUECODEEKTKMB_372701.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_PAYMENTMETHODSD_816701.visible"> 
          <div class="form-group" id="VA_PAYMENTMETHODSD_816701_DIV"> 
           <label for="VA_PAYMENTMETHODSD_816701" title="{{vc.viewState.VA_PAYMENTMETHODSD_816701.label|translate:vc.viewState.VA_PAYMENTMETHODSD_816701.labelArgs}}" ng-show="vc.viewState.VA_PAYMENTMETHODSD_816701.visible" class="control-label">{{vc.viewState.VA_PAYMENTMETHODSD_816701.label|translate:vc.viewState.VA_PAYMENTMETHODSD_816701.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_PAYMENTMETHODSD_816701" name="MethodsRetention_paymentMethods" kendo-ext-combo-box="comboBox.VA_PAYMENTMETHODSD_816701" ng-model="vc.model.MethodsRetention.paymentMethods" ng-disabled="vc.viewState.VA_PAYMENTMETHODSD_816701.disabled || vc.viewState.VA_PAYMENTMETHODSD_816701.disabledingroup" ng-show="vc.viewState.VA_PAYMENTMETHODSD_816701.visible" ng-readonly="vc.viewState.VA_PAYMENTMETHODSD_816701.readonly" ng-class="vc.viewState.VA_PAYMENTMETHODSD_816701.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_PAYMENTMETHODSD_816701" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_PAYMENTMETHODSD_816701.template" data-cobis-group="GroupLayout,G_PAYMENTNNO_964701,1" data-validation-code="{{vc.viewState.VA_PAYMENTMETHODSD_816701.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div id="G_PAYMENTAMA_728701" class="cb-group cb-group-simple" ng-show="vc.viewState.G_PAYMENTAMA_728701.visible" ng-class="vc.viewState.G_PAYMENTAMA_728701.style"> 
      <div id="G_PAYMENTAMA_728701_VAL" kendo-validator="G_PAYMENTAMA_728701" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_RETENTIONDAYSSS_990701.visible"> 
          <div class="form-group cb-required" id="VA_RETENTIONDAYSSS_990701_DIV"> 
           <label for="VA_RETENTIONDAYSSS_990701" title="{{vc.viewState.VA_RETENTIONDAYSSS_990701.label|translate:vc.viewState.VA_RETENTIONDAYSSS_990701.labelArgs}}" ng-show="vc.viewState.VA_RETENTIONDAYSSS_990701.visible" class="control-label">{{vc.viewState.VA_RETENTIONDAYSSS_990701.label|translate:vc.viewState.VA_RETENTIONDAYSSS_990701.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_RETENTIONDAYSSS_990701" name="MethodsRetention_retentiondays" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_RETENTIONDAYSSS_990701.decimals" k-format="vc.viewState.VA_RETENTIONDAYSSS_990701.format" k-ng-model="vc.model.MethodsRetention.retentiondays" ng-model="vc.tmpModel.MethodsRetention.retentiondays" ng-disabled="vc.viewState.VA_RETENTIONDAYSSS_990701.disabled || vc.viewState.VA_RETENTIONDAYSSS_990701.disabledingroup" ng-show="vc.viewState.VA_RETENTIONDAYSSS_990701.visible" ng-readonly="vc.viewState.VA_RETENTIONDAYSSS_990701.readonly" ng-class="vc.viewState.VA_RETENTIONDAYSSS_990701.style" data-cobis-group="GroupLayout,G_PAYMENTNNO_964701,2" ng-model-onblur required data-validation-code="{{vc.viewState.VA_RETENTIONDAYSSS_990701.validationCode}}" data-required-msg="{{'ASSTS.MSG_ASSTS_CAMPOREIE_99445'|translate}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_ACTIVEPASSIVEEE_865701.visible"> 
          <div class="form-group" id="VA_ACTIVEPASSIVEEE_865701_DIV"> 
           <label for="VA_ACTIVEPASSIVEEE_865701" title="{{vc.viewState.VA_ACTIVEPASSIVEEE_865701.label|translate:vc.viewState.VA_ACTIVEPASSIVEEE_865701.labelArgs}}" ng-show="vc.viewState.VA_ACTIVEPASSIVEEE_865701.visible" class="control-label">{{vc.viewState.VA_ACTIVEPASSIVEEE_865701.label|translate:vc.viewState.VA_ACTIVEPASSIVEEE_865701.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_ACTIVEPASSIVEEE_865701" name="MethodsRetention_activePassive" kendo-ext-combo-box="comboBox.VA_ACTIVEPASSIVEEE_865701" ng-model="vc.model.MethodsRetention.activePassive" ng-disabled="vc.viewState.VA_ACTIVEPASSIVEEE_865701.disabled || vc.viewState.VA_ACTIVEPASSIVEEE_865701.disabledingroup" ng-show="vc.viewState.VA_ACTIVEPASSIVEEE_865701.visible" ng-readonly="vc.viewState.VA_ACTIVEPASSIVEEE_865701.readonly" ng-class="vc.viewState.VA_ACTIVEPASSIVEEE_865701.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_ACTIVEPASSIVEEE_865701" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_ACTIVEPASSIVEEE_865701.template" data-cobis-group="GroupLayout,G_PAYMENTNNO_964701,2" data-validation-code="{{vc.viewState.VA_ACTIVEPASSIVEEE_865701.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_DISBURSEMENTDSI_289701.visible"> 
          <div class="form-group" id="VA_DISBURSEMENTDSI_289701_DIV"> 
           <label for="VA_DISBURSEMENTDSI_289701" title="{{vc.viewState.VA_DISBURSEMENTDSI_289701.label|translate:vc.viewState.VA_DISBURSEMENTDSI_289701.labelArgs}}" ng-show="vc.viewState.VA_DISBURSEMENTDSI_289701.visible" class="control-label">{{vc.viewState.VA_DISBURSEMENTDSI_289701.label|translate:vc.viewState.VA_DISBURSEMENTDSI_289701.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_DISBURSEMENTDSI_289701" name="MethodsRetention_disbursement" kendo-ext-combo-box="comboBox.VA_DISBURSEMENTDSI_289701" ng-model="vc.model.MethodsRetention.disbursement" ng-disabled="vc.viewState.VA_DISBURSEMENTDSI_289701.disabled || vc.viewState.VA_DISBURSEMENTDSI_289701.disabledingroup" ng-show="vc.viewState.VA_DISBURSEMENTDSI_289701.visible" ng-readonly="vc.viewState.VA_DISBURSEMENTDSI_289701.readonly" ng-class="vc.viewState.VA_DISBURSEMENTDSI_289701.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_DISBURSEMENTDSI_289701" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_DISBURSEMENTDSI_289701.template" data-cobis-group="GroupLayout,G_PAYMENTNNO_964701,2" data-validation-code="{{vc.viewState.VA_DISBURSEMENTDSI_289701.validationCode}}" designer-change /> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div id="G_PAYMENTMNE_859701" class="cb-group cb-group-simple" ng-show="vc.viewState.G_PAYMENTMNE_859701.visible" ng-class="vc.viewState.G_PAYMENTMNE_859701.style"> 
      <div id="G_PAYMENTMNE_859701_VAL" kendo-validator="G_PAYMENTMNE_859701" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_PAYMENTKWAZXHOL_773701.visible"> 
          <div class="form-group" id="VA_PAYMENTKWAZXHOL_773701_DIV"> 
           <label for="VA_PAYMENTKWAZXHOL_773701" title="{{vc.viewState.VA_PAYMENTKWAZXHOL_773701.label|translate:vc.viewState.VA_PAYMENTKWAZXHOL_773701.labelArgs}}" ng-show="vc.viewState.VA_PAYMENTKWAZXHOL_773701.visible" class="control-label">{{vc.viewState.VA_PAYMENTKWAZXHOL_773701.label|translate:vc.viewState.VA_PAYMENTKWAZXHOL_773701.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_PAYMENTKWAZXHOL_773701" name="MethodsRetention_payment" kendo-ext-combo-box="comboBox.VA_PAYMENTKWAZXHOL_773701" ng-model="vc.model.MethodsRetention.payment" ng-disabled="vc.viewState.VA_PAYMENTKWAZXHOL_773701.disabled || vc.viewState.VA_PAYMENTKWAZXHOL_773701.disabledingroup" ng-show="vc.viewState.VA_PAYMENTKWAZXHOL_773701.visible" ng-readonly="vc.viewState.VA_PAYMENTKWAZXHOL_773701.readonly" ng-class="vc.viewState.VA_PAYMENTKWAZXHOL_773701.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_PAYMENTKWAZXHOL_773701" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_PAYMENTKWAZXHOL_773701.template" data-cobis-group="GroupLayout,G_PAYMENTNNO_964701,3" data-validation-code="{{vc.viewState.VA_PAYMENTKWAZXHOL_773701.validationCode}}" designer-change /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_PAYMENTAUTLPCHV_485701.visible"> 
          <div class="form-group" id="VA_PAYMENTAUTLPCHV_485701_DIV"> 
           <label for="VA_PAYMENTAUTLPCHV_485701" title="{{vc.viewState.VA_PAYMENTAUTLPCHV_485701.label|translate:vc.viewState.VA_PAYMENTAUTLPCHV_485701.labelArgs}}" ng-show="vc.viewState.VA_PAYMENTAUTLPCHV_485701.visible" class="control-label">{{vc.viewState.VA_PAYMENTAUTLPCHV_485701.label|translate:vc.viewState.VA_PAYMENTAUTLPCHV_485701.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_PAYMENTAUTLPCHV_485701" name="MethodsRetention_paymentAut" kendo-ext-combo-box="comboBox.VA_PAYMENTAUTLPCHV_485701" ng-model="vc.model.MethodsRetention.paymentAut" ng-disabled="vc.viewState.VA_PAYMENTAUTLPCHV_485701.disabled || vc.viewState.VA_PAYMENTAUTLPCHV_485701.disabledingroup" ng-show="vc.viewState.VA_PAYMENTAUTLPCHV_485701.visible" ng-readonly="vc.viewState.VA_PAYMENTAUTLPCHV_485701.readonly" ng-class="vc.viewState.VA_PAYMENTAUTLPCHV_485701.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_PAYMENTAUTLPCHV_485701" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_PAYMENTAUTLPCHV_485701.template" data-cobis-group="GroupLayout,G_PAYMENTNNO_964701,3" data-validation-code="{{vc.viewState.VA_PAYMENTAUTLPCHV_485701.validationCode}}" designer-change /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_PAYMENTATXPGDKX_602701.visible"> 
          <div class="form-group" id="VA_PAYMENTATXPGDKX_602701_DIV"> 
           <label for="VA_PAYMENTATXPGDKX_602701" title="{{vc.viewState.VA_PAYMENTATXPGDKX_602701.label|translate:vc.viewState.VA_PAYMENTATXPGDKX_602701.labelArgs}}" ng-show="vc.viewState.VA_PAYMENTATXPGDKX_602701.visible" class="control-label">{{vc.viewState.VA_PAYMENTATXPGDKX_602701.label|translate:vc.viewState.VA_PAYMENTATXPGDKX_602701.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_PAYMENTATXPGDKX_602701" name="MethodsRetention_paymentATX" kendo-ext-combo-box="comboBox.VA_PAYMENTATXPGDKX_602701" ng-model="vc.model.MethodsRetention.paymentATX" ng-disabled="vc.viewState.VA_PAYMENTATXPGDKX_602701.disabled || vc.viewState.VA_PAYMENTATXPGDKX_602701.disabledingroup" ng-show="vc.viewState.VA_PAYMENTATXPGDKX_602701.visible" ng-readonly="vc.viewState.VA_PAYMENTATXPGDKX_602701.readonly" ng-class="vc.viewState.VA_PAYMENTATXPGDKX_602701.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_PAYMENTATXPGDKX_602701" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_PAYMENTATXPGDKX_602701.template" data-cobis-group="GroupLayout,G_PAYMENTNNO_964701,3" data-validation-code="{{vc.viewState.VA_PAYMENTATXPGDKX_602701.validationCode}}" designer-change /> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div id="G_PAYMENTOEI_853701" class="cb-group cb-group-simple" ng-show="vc.viewState.G_PAYMENTOEI_853701.visible" ng-class="vc.viewState.G_PAYMENTOEI_853701.style"> 
      <div id="G_PAYMENTOEI_853701_VAL" kendo-validator="G_PAYMENTOEI_853701" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_STATEUKNKICEOOK_121701.visible"> 
          <div class="form-group" id="VA_STATEUKNKICEOOK_121701_DIV"> 
           <label for="VA_STATEUKNKICEOOK_121701" title="{{vc.viewState.VA_STATEUKNKICEOOK_121701.label|translate:vc.viewState.VA_STATEUKNKICEOOK_121701.labelArgs}}" ng-show="vc.viewState.VA_STATEUKNKICEOOK_121701.visible" class="control-label">{{vc.viewState.VA_STATEUKNKICEOOK_121701.label|translate:vc.viewState.VA_STATEUKNKICEOOK_121701.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_STATEUKNKICEOOK_121701" name="MethodsRetention_state" kendo-ext-combo-box="comboBox.VA_STATEUKNKICEOOK_121701" ng-model="vc.model.MethodsRetention.state" ng-disabled="vc.viewState.VA_STATEUKNKICEOOK_121701.disabled || vc.viewState.VA_STATEUKNKICEOOK_121701.disabledingroup" ng-show="vc.viewState.VA_STATEUKNKICEOOK_121701.visible" ng-readonly="vc.viewState.VA_STATEUKNKICEOOK_121701.readonly" ng-class="vc.viewState.VA_STATEUKNKICEOOK_121701.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_STATEUKNKICEOOK_121701" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_STATEUKNKICEOOK_121701.template" data-cobis-group="GroupLayout,G_PAYMENTNNO_964701,4" data-validation-code="{{vc.viewState.VA_STATEUKNKICEOOK_121701.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_BANKSERVICESDQR_160701.visible"> 
          <div class="form-group" id="VA_BANKSERVICESDQR_160701_DIV"> 
           <label for="VA_BANKSERVICESDQR_160701" title="{{vc.viewState.VA_BANKSERVICESDQR_160701.label|translate:vc.viewState.VA_BANKSERVICESDQR_160701.labelArgs}}" ng-show="vc.viewState.VA_BANKSERVICESDQR_160701.visible" class="control-label">{{vc.viewState.VA_BANKSERVICESDQR_160701.label|translate:vc.viewState.VA_BANKSERVICESDQR_160701.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_BANKSERVICESDQR_160701" name="MethodsRetention_bankServices" kendo-ext-combo-box="comboBox.VA_BANKSERVICESDQR_160701" ng-model="vc.model.MethodsRetention.bankServices" ng-disabled="vc.viewState.VA_BANKSERVICESDQR_160701.disabled || vc.viewState.VA_BANKSERVICESDQR_160701.disabledingroup" ng-show="vc.viewState.VA_BANKSERVICESDQR_160701.visible" ng-readonly="vc.viewState.VA_BANKSERVICESDQR_160701.readonly" ng-class="vc.viewState.VA_BANKSERVICESDQR_160701.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_BANKSERVICESDQR_160701" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_BANKSERVICESDQR_160701.template" data-cobis-group="GroupLayout,G_PAYMENTNNO_964701,4" data-validation-code="{{vc.viewState.VA_BANKSERVICESDQR_160701.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_PCOBISNSCZVLGJB_151701.visible"> 
          <div class="form-group" id="VA_PCOBISNSCZVLGJB_151701_DIV"> 
           <label for="VA_PCOBISNSCZVLGJB_151701" title="{{vc.viewState.VA_PCOBISNSCZVLGJB_151701.label|translate:vc.viewState.VA_PCOBISNSCZVLGJB_151701.labelArgs}}" ng-show="vc.viewState.VA_PCOBISNSCZVLGJB_151701.visible" class="control-label">{{vc.viewState.VA_PCOBISNSCZVLGJB_151701.label|translate:vc.viewState.VA_PCOBISNSCZVLGJB_151701.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_PCOBISNSCZVLGJB_151701" name="MethodsRetention_pcobis" kendo-ext-combo-box="comboBox.VA_PCOBISNSCZVLGJB_151701" ng-model="vc.model.MethodsRetention.pcobis" ng-disabled="vc.viewState.VA_PCOBISNSCZVLGJB_151701.disabled || vc.viewState.VA_PCOBISNSCZVLGJB_151701.disabledingroup" ng-show="vc.viewState.VA_PCOBISNSCZVLGJB_151701.visible" ng-readonly="vc.viewState.VA_PCOBISNSCZVLGJB_151701.readonly" ng-class="vc.viewState.VA_PCOBISNSCZVLGJB_151701.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_PCOBISNSCZVLGJB_151701" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_PCOBISNSCZVLGJB_151701.template" data-cobis-group="GroupLayout,G_PAYMENTNNO_964701,4" data-validation-code="{{vc.viewState.VA_PCOBISNSCZVLGJB_151701.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_CANALAHHGQQRYXT_909701.visible"> 
          <div class="form-group" id="VA_CANALAHHGQQRYXT_909701_DIV"> 
           <label for="VA_CANALAHHGQQRYXT_909701" title="{{vc.viewState.VA_CANALAHHGQQRYXT_909701.label|translate:vc.viewState.VA_CANALAHHGQQRYXT_909701.labelArgs}}" ng-show="vc.viewState.VA_CANALAHHGQQRYXT_909701.visible" class="control-label">{{vc.viewState.VA_CANALAHHGQQRYXT_909701.label|translate:vc.viewState.VA_CANALAHHGQQRYXT_909701.labelArgs}}</label> 
           <div title="{{vc.viewState.VA_CANALAHHGQQRYXT_909701.tooltip|translate}}" class="cb-control"> 
            <input id="VA_CANALAHHGQQRYXT_909701" name="MethodsRetention_canal" kendo-ext-combo-box="comboBox.VA_CANALAHHGQQRYXT_909701" ng-model="vc.model.MethodsRetention.canal" ng-disabled="vc.viewState.VA_CANALAHHGQQRYXT_909701.disabled || vc.viewState.VA_CANALAHHGQQRYXT_909701.disabledingroup" ng-show="vc.viewState.VA_CANALAHHGQQRYXT_909701.visible" ng-readonly="vc.viewState.VA_CANALAHHGQQRYXT_909701.readonly" ng-class="vc.viewState.VA_CANALAHHGQQRYXT_909701.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_CANALAHHGQQRYXT_909701" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_CANALAHHGQQRYXT_909701.template" data-cobis-group="GroupLayout,G_PAYMENTNNO_964701,4" data-validation-code="{{vc.viewState.VA_CANALAHHGQQRYXT_909701.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_TRANSACCTIONKAF_634701.visible"> 
          <div class="form-group" id="VA_TRANSACCTIONKAF_634701_DIV"> 
           <label for="VA_TRANSACCTIONKAF_634701" title="{{vc.viewState.VA_TRANSACCTIONKAF_634701.label|translate:vc.viewState.VA_TRANSACCTIONKAF_634701.labelArgs}}" ng-show="vc.viewState.VA_TRANSACCTIONKAF_634701.visible" class="control-label">{{'&nbsp;'}}</label> 
           <div class="cb-control"> 
            <div> 
             <input id="VA_TRANSACCTIONKAF_634701" ng-show="false" /> 
             <label class="radio-inline" data-ng-repeat="result in vc.catalogs.VA_TRANSACCTIONKAF_634701.data()"> <input id="VA_TRANSACCTIONKAF_634701-{{$index}}" name="MethodsRetention_transacction" type="radio" value="{{result.code}}" ng-model="vc.model.MethodsRetention.transacction" ng-disabled="vc.viewState.VA_TRANSACCTIONKAF_634701.disabled || vc.viewState.VA_TRANSACCTIONKAF_634701.disabledingroup" ng-show="vc.viewState.VA_TRANSACCTIONKAF_634701.visible" ng-readonly="vc.viewState.VA_TRANSACCTIONKAF_634701.readonly" ng-class="vc.viewState.VA_TRANSACCTIONKAF_634701.style" data-validation-code="{{vc.viewState.VA_TRANSACCTIONKAF_634701.validationCode}}" /> {{result.value}} </label> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_PAYMENTMTI_701--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc || !vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_TPAYMENT_TM7" ng-click="vc.executeCommand('CM_TPAYMENT_TM7','Command1', validator, true, false, 'VC_PAYMENTMDA_338828', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_TPAYMENT_TM7.disabled || vc.viewState.CM_TPAYMENT_TM7.disabledingroup" ng-show="vc.viewState.CM_TPAYMENT_TM7.visible" ng-class="vc.viewState.CM_TPAYMENT_TM7.style"> {{vc.viewState.CM_TPAYMENT_TM7.label|translate}} </button> 
    <button id="CM_TPAYMENT_08P" ng-click="vc.executeCommand('CM_TPAYMENT_08P','Command2', validator, false, false, 'VC_PAYMENTMDA_338828', false)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_TPAYMENT_08P.disabled || vc.viewState.CM_TPAYMENT_08P.disabledingroup" ng-show="vc.viewState.CM_TPAYMENT_08P.visible" ng-class="vc.viewState.CM_TPAYMENT_08P.style"> {{vc.viewState.CM_TPAYMENT_08P.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_PAYMENTMAIDLT_828_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_PAYMENTMDA_338828')" ng-disabled="vc.viewState.T_PAYMENTMAIDLT_828_ACCEPT.disabled || vc.viewState.T_PAYMENTMAIDLT_828_ACCEPT.disabledingroup" ng-show="vc.viewState.T_PAYMENTMAIDLT_828_ACCEPT.visible" ng-class="vc.viewState.T_PAYMENTMAIDLT_828_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_PAYMENTMAIDLT_828_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_PAYMENTMAIDLT_828_CANCEL.disabled || vc.viewState.T_PAYMENTMAIDLT_828_CANCEL.disabledingroup" ng-show="vc.viewState.T_PAYMENTMAIDLT_828_CANCEL.visible" ng-class="vc.viewState.T_PAYMENTMAIDLT_828_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>