<!-- Designer Generator v 6.3.3 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_VALUERATEE_334932" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_VALUERATEE_334932.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_VALUERATES_476--> 
  <div id="VC_VALUERATEE_334932" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <fieldset id="G_VALUERATST_602476" ng-show="vc.viewState.G_VALUERATST_602476.visible" ng-class="vc.viewState.G_VALUERATST_602476.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_VALUERATST_602476" k-options="validatorOptions" id="G_VALUERATST_602476_VAL"> 
     <legend> <span ng-bind="vc.viewState.G_VALUERATST_602476.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.G_VALUERATST_602476.statusStyle.success, 'cb-validation-fail': vc.viewState.G_VALUERATST_602476.statusStyle.fail, 'cb-validation-none': vc.viewState.G_VALUERATST_602476.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.G_VALUERATST_602476.label|translate}}</span> </legend> 
     <div id="QV_1722_99596" kendo-ext-grid="grids.QV_1722_99596" k-data-source="vc.model.TypeRates" k-column-menu="false" k-sortable="false" k-pageable="{refresh: false, pageSizes: false, buttonCount: 5}" k-editable="vc.grids.QV_1722_99596.editable" k-toolbar="vc.grids.QV_1722_99596.toolbar" k-resizable="true" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="true" k-selectable="true" k-change="vc.grids.QV_1722_99596.events.change" k-data-bound="vc.grids.QV_1722_99596.events.dataBound" k-columns="vc.grids.QV_1722_99596.columns" k-cancel="vc.grids.QV_1722_99596.events.cancel" k-edit="vc.grids.QV_1722_99596.events.edit" ng-class="vc.viewState.QV_1722_99596.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </fieldset> 
   <fieldset id="G_VALUERAESS_300476" ng-show="vc.viewState.G_VALUERAESS_300476.visible" ng-class="vc.viewState.G_VALUERAESS_300476.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_VALUERAESS_300476" k-options="validatorOptions" id="G_VALUERAESS_300476_VAL"> 
     <legend> <span ng-bind="vc.viewState.G_VALUERAESS_300476.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.G_VALUERAESS_300476.statusStyle.success, 'cb-validation-fail': vc.viewState.G_VALUERAESS_300476.statusStyle.fail, 'cb-validation-none': vc.viewState.G_VALUERAESS_300476.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.G_VALUERAESS_300476.label|translate}}</span> </legend> 
     <div id="QV_5693_54772" kendo-ext-grid="grids.QV_5693_54772" k-data-source="vc.model.Rates" k-column-menu="false" k-sortable="false" k-pageable="{refresh: false, pageSizes: false, buttonCount: 5}" k-editable="vc.grids.QV_5693_54772.editable" k-toolbar="vc.grids.QV_5693_54772.toolbar" k-resizable="true" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="true" k-selectable="true" k-change="vc.grids.QV_5693_54772.events.change" k-data-bound="vc.grids.QV_5693_54772.events.dataBound" k-columns="vc.grids.QV_5693_54772.columns" k-cancel="vc.grids.QV_5693_54772.events.cancel" k-edit="vc.grids.QV_5693_54772.events.edit" ng-class="vc.viewState.QV_5693_54772.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </fieldset> 
   <div id="G_VALUERASET_210476" ng-show="vc.viewState.G_VALUERASET_210476.visible" ng-class="vc.viewState.G_VALUERASET_210476.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_VALUERASET_210476" k-options="validatorOptions" id="G_VALUERASET_210476_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_FLAGOBWXTOSONWQ_358476.visible"> 
        <div class="form-group" id="VA_FLAGOBWXTOSONWQ_358476_DIV"> 
         <label>&nbsp; </label> 
         <div class="cb-control"> 
          <div> 
           <label class="checkbox-inline"> <input id="VA_FLAGOBWXTOSONWQ_358476" name="ServerParameter_flag" type="checkbox" ng-model="vc.model.ServerParameter.flag" ng-disabled="vc.viewState.VA_FLAGOBWXTOSONWQ_358476.disabled || vc.viewState.VA_FLAGOBWXTOSONWQ_358476.disabledingroup" ng-show="vc.viewState.VA_FLAGOBWXTOSONWQ_358476.visible" ng-class="vc.viewState.VA_FLAGOBWXTOSONWQ_358476.style" designer-change /> <span ng-if="vc.viewState.VA_FLAGOBWXTOSONWQ_358476.visible"> {{vc.viewState.VA_FLAGOBWXTOSONWQ_358476.label|translate}} </span> </label> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_REFRESGRIDFLGAA_521476.visible"> 
        <div class="form-group" id="VA_REFRESGRIDFLGAA_521476_DIV"> 
         <label>&nbsp; </label> 
         <div class="cb-control"> 
          <div> 
           <label class="checkbox-inline"> <input id="VA_REFRESGRIDFLGAA_521476" name="ServerParameter_refresGridFlag" type="checkbox" ng-model="vc.model.ServerParameter.refresGridFlag" ng-disabled="vc.viewState.VA_REFRESGRIDFLGAA_521476.disabled || vc.viewState.VA_REFRESGRIDFLGAA_521476.disabledingroup" ng-show="vc.viewState.VA_REFRESGRIDFLGAA_521476.visible" ng-class="vc.viewState.VA_REFRESGRIDFLGAA_521476.style" designer-change /> <span ng-if="vc.viewState.VA_REFRESGRIDFLGAA_521476.visible"> {{vc.viewState.VA_REFRESGRIDFLGAA_521476.label|translate}} </span> </label> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_REFRESGRID2FLGA_953476.visible"> 
        <div class="form-group" id="VA_REFRESGRID2FLGA_953476_DIV"> 
         <label>&nbsp; </label> 
         <div class="cb-control"> 
          <div> 
           <label class="checkbox-inline"> <input id="VA_REFRESGRID2FLGA_953476" name="ServerParameter_refresGrid2Flag" type="checkbox" ng-model="vc.model.ServerParameter.refresGrid2Flag" ng-disabled="vc.viewState.VA_REFRESGRID2FLGA_953476.disabled || vc.viewState.VA_REFRESGRID2FLGA_953476.disabledingroup" ng-show="vc.viewState.VA_REFRESGRID2FLGA_953476.visible" ng-class="vc.viewState.VA_REFRESGRID2FLGA_953476.style" designer-change /> <span ng-if="vc.viewState.VA_REFRESGRID2FLGA_953476.visible"> {{vc.viewState.VA_REFRESGRID2FLGA_953476.label|translate}} </span> </label> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_VALUERATES_476--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_VALUERATESFBO_932_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_VALUERATEE_334932')" ng-disabled="vc.viewState.T_VALUERATESFBO_932_ACCEPT.disabled || vc.viewState.T_VALUERATESFBO_932_ACCEPT.disabledingroup" ng-show="vc.viewState.T_VALUERATESFBO_932_ACCEPT.visible" ng-class="vc.viewState.T_VALUERATESFBO_932_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_VALUERATESFBO_932_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_VALUERATESFBO_932_CANCEL.disabled || vc.viewState.T_VALUERATESFBO_932_CANCEL.disabledingroup" ng-show="vc.viewState.T_VALUERATESFBO_932_CANCEL.visible" ng-class="vc.viewState.T_VALUERATESFBO_932_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>