<!-- Designer Generator v 6.3.3 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_REAJUSTEMF_502264" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_REAJUSTEMF_502264.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_REAJUSTEDT_141--> 
  <div id="VC_REAJUSTEMF_502264" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_REAJUSTRRT_182141" ng-show="vc.viewState.G_REAJUSTRRT_182141.visible" ng-class="vc.viewState.G_REAJUSTRRT_182141.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_REAJUSTRRT_182141" k-options="validatorOptions" id="G_REAJUSTRRT_182141_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-3" ng-show="vc.viewState.VA_VASIMPLELABELLL_938141.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <label id="VA_VASIMPLELABELLL_938141" ng-show="vc.viewState.VA_VASIMPLELABELLL_938141.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_938141.style"> {{vc.viewState.VA_VASIMPLELABELLL_938141.label|translate}} </label>
         </div> 
        </div> 
       </div> 
       <div class="col-xs-3" ng-show="vc.viewState.Spacer2244.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-3" ng-show="vc.viewState.Spacer2391.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-3" ng-show="vc.viewState.VA_VABUTTONRGCIAEL_707141.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONRGCIAEL_707141" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONRGCIAEL_707141','VA_VABUTTONRGCIAEL_707141',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONRGCIAEL_707141.disabled || vc.viewState.VA_VABUTTONRGCIAEL_707141.disabledingroup" ng-show="vc.viewState.VA_VABUTTONRGCIAEL_707141.visible" ng-class="vc.viewState.VA_VABUTTONRGCIAEL_707141.style"> {{vc.viewState.VA_VABUTTONRGCIAEL_707141.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_REAJUSTTFE_294141" ng-show="vc.viewState.G_REAJUSTTFE_294141.visible" ng-class="vc.viewState.G_REAJUSTTFE_294141.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_REAJUSTTFE_294141" k-options="validatorOptions" id="G_REAJUSTTFE_294141_VAL"> 
     <div id="QV_2618_23821" kendo-ext-grid="grids.QV_2618_23821" k-data-source="vc.model.ReadjustmentDetalilsLoan" k-column-menu="false" k-sortable="false" k-pageable="{refresh: false, pageSizes: false, buttonCount: 5}" k-editable="vc.grids.QV_2618_23821.editable" k-toolbar="vc.grids.QV_2618_23821.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_2618_23821.events.dataBound" k-columns="vc.grids.QV_2618_23821.columns" k-cancel="vc.grids.QV_2618_23821.events.cancel" k-edit="vc.grids.QV_2618_23821.events.edit" ng-class="vc.viewState.QV_2618_23821.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </div> 
   <div id="G_READJUSSAA_728141" ng-show="vc.viewState.G_READJUSSAA_728141.visible" ng-class="vc.viewState.G_READJUSSAA_728141.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_READJUSSAA_728141" k-options="validatorOptions" id="G_READJUSSAA_728141_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer2917.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_READJUSTON_605141" ng-show="vc.viewState.G_READJUSTON_605141.visible" ng-class="vc.viewState.G_READJUSTON_605141.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_READJUSTON_605141" k-options="validatorOptions" id="G_READJUSTON_605141_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer2328.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_REAJUSTEDT_141--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_REAJUSTEDEFTF_264_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_REAJUSTEMF_502264')" ng-disabled="vc.viewState.T_REAJUSTEDEFTF_264_ACCEPT.disabled || vc.viewState.T_REAJUSTEDEFTF_264_ACCEPT.disabledingroup" ng-show="vc.viewState.T_REAJUSTEDEFTF_264_ACCEPT.visible" ng-class="vc.viewState.T_REAJUSTEDEFTF_264_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_REAJUSTEDEFTF_264_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_REAJUSTEDEFTF_264_CANCEL.disabled || vc.viewState.T_REAJUSTEDEFTF_264_CANCEL.disabledingroup" ng-show="vc.viewState.T_REAJUSTEDEFTF_264_CANCEL.visible" ng-class="vc.viewState.T_REAJUSTEDEFTF_264_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>