.cb-grid-detail-arrow-bottom td:last-child.k-hierarchy-cell{
    width: 1px;
    max-width: 10px;
    padding: 10px;
    text-align:right
}
.k-grid.cb-grid-detail-arrow-bottom tr td:last-child a{
    position: relative;
    left: -1px;
    top: 1px;
} 


.cb-indicator {
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;   
    margin: auto;
}

.cb-indicator .cb-footer-label {
    font-size: 8px;
    font-weight: bold;
    text-align: center; 
    color:#666666;
}


.cb-indicator-value {
    height: 20px;
	margin: 3px 0 0 0;
    border-style: solid;
    border-color:white;
    border-radius: 10px;
}


.cb-indicator-value.cb-rule-alert-good {
	background-color:#8fd48f;
}

.cb-indicator-value.cb-rule-alert-fair {
	background-color:#e0e032;
}

.cb-indicator-value.cb-rule-alert-bad {
	background-color:#af6363;
}