<!-- Designer Generator v 6.2.0 - release SPR 2017-10 25/05/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_DUMMYDRSES_432347" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_DUMMYDRSES_432347.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_DUMMYBVHVT_175--> 
  <div id="VC_DUMMYDRSES_432347" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_DUMMYSMSJU_574175" ng-show="vc.viewState.G_DUMMYSMSJU_574175.visible" ng-class="vc.viewState.G_DUMMYSMSJU_574175.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_DUMMYSMSJU_574175" k-options="validatorOptions" id="G_DUMMYSMSJU_574175_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_9709WOFEXMLCILK_782175.visible"> 
        <div class="form-group" id="VA_9709WOFEXMLCILK_782175_DIV"> 
         <label for="VA_9709WOFEXMLCILK_782175" title="{{vc.viewState.VA_9709WOFEXMLCILK_782175.label|translate:vc.viewState.VA_9709WOFEXMLCILK_782175.labelArgs}}" ng-show="vc.viewState.VA_9709WOFEXMLCILK_782175.visible" class="control-label">{{vc.viewState.VA_9709WOFEXMLCILK_782175.label|translate:vc.viewState.VA_9709WOFEXMLCILK_782175.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_9709WOFEXMLCILK_782175" name="AuxData_application" type="text" class="form-control" ng-model="vc.model.AuxData.application" ng-disabled="vc.viewState.VA_9709WOFEXMLCILK_782175.disabled || vc.viewState.VA_9709WOFEXMLCILK_782175.disabledingroup" ng-show="vc.viewState.VA_9709WOFEXMLCILK_782175.visible" ng-readonly="vc.viewState.VA_9709WOFEXMLCILK_782175.readonly" ng-class="vc.viewState.VA_9709WOFEXMLCILK_782175.style" data-cobis-group="Group,G_DUMMYSMSJU_574175,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_9709WOFEXMLCILK_782175.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer2646.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer2841.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONRFQUVDC_996175.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONRFQUVDC_996175" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONRFQUVDC_996175','VA_VABUTTONRFQUVDC_996175',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONRFQUVDC_996175.disabled || vc.viewState.VA_VABUTTONRFQUVDC_996175.disabledingroup" ng-show="vc.viewState.VA_VABUTTONRFQUVDC_996175.visible" ng-class="vc.viewState.VA_VABUTTONRFQUVDC_996175.style"> {{vc.viewState.VA_VABUTTONRFQUVDC_996175.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer2278.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer2974.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONCSFGVOC_624175.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONCSFGVOC_624175" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONCSFGVOC_624175','VA_VABUTTONCSFGVOC_624175',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONCSFGVOC_624175.disabled || vc.viewState.VA_VABUTTONCSFGVOC_624175.disabledingroup" ng-show="vc.viewState.VA_VABUTTONCSFGVOC_624175.visible" ng-class="vc.viewState.VA_VABUTTONCSFGVOC_624175.style"> {{vc.viewState.VA_VABUTTONCSFGVOC_624175.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer2286.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer2238.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONGUFAWQK_389175.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONGUFAWQK_389175" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONGUFAWQK_389175','VA_VABUTTONGUFAWQK_389175',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONGUFAWQK_389175.disabled || vc.viewState.VA_VABUTTONGUFAWQK_389175.disabledingroup" ng-show="vc.viewState.VA_VABUTTONGUFAWQK_389175.visible" ng-class="vc.viewState.VA_VABUTTONGUFAWQK_389175.style"> {{vc.viewState.VA_VABUTTONGUFAWQK_389175.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_DUMMYBVHVT_175--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_DUMMYBLNARFME_347_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_DUMMYDRSES_432347')" ng-disabled="vc.viewState.T_DUMMYBLNARFME_347_ACCEPT.disabled || vc.viewState.T_DUMMYBLNARFME_347_ACCEPT.disabledingroup" ng-show="vc.viewState.T_DUMMYBLNARFME_347_ACCEPT.visible" ng-class="vc.viewState.T_DUMMYBLNARFME_347_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_DUMMYBLNARFME_347_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_DUMMYBLNARFME_347_CANCEL.disabled || vc.viewState.T_DUMMYBLNARFME_347_CANCEL.disabledingroup" ng-show="vc.viewState.T_DUMMYBLNARFME_347_CANCEL.visible" ng-class="vc.viewState.T_DUMMYBLNARFME_347_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>