<!-- Designer Generator v 5.0.0.1626 - release SPR 2016-26 08/01/2016 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_RMOCN27_NECIN_829" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_RMOCN27_NECIN_829.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_RMOCN27_NECIN_829" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="GR_CTNSMATINN69_03" ng-class="vc.viewState.GR_CTNSMATINN69_03.style" class="cb-group cb-group-layout"> 
    <div id="GR_CTNSMATINN69_03_VAL" kendo-validator="GR_CTNSMATINN69_03" k-options="validatorOptions"> 
     <div id="GR_CTNSMATINN69_04" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_CTNSMATINN69_04.visible" ng-class="vc.viewState.GR_CTNSMATINN69_04.style"> 
      <div id="GR_CTNSMATINN69_04_VAL" kendo-validator="GR_CTNSMATINN69_04" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-12" ng-show="vc.viewState.VA_CTNSMATINN6904_RDID469.visible"> 
          <div class="form-group cb-required" id="VA_CTNSMATINN6904_RDID469_DIV"> 
           <label for="VA_CTNSMATINN6904_RDID469" title="{{vc.viewState.VA_CTNSMATINN6904_RDID469.label|translate:vc.viewState.VA_CTNSMATINN6904_RDID469.labelArgs}}" ng-show="vc.viewState.VA_CTNSMATINN6904_RDID469.visible" class="control-label">{{vc.viewState.VA_CTNSMATINN6904_RDID469.label|translate:vc.viewState.VA_CTNSMATINN6904_RDID469.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_CTNSMATINN6904_RDID469" name="SectionsMaintaining_prdId" maxlength="18" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_CTNSMATINN6904_RDID469.decimals" k-format="vc.viewState.VA_CTNSMATINN6904_RDID469.format" k-ng-model="vc.model.SectionsMaintaining.prdId" ng-model="vc.tmpModel.SectionsMaintaining.prdId" ng-disabled="vc.viewState.VA_CTNSMATINN6904_RDID469.disabled || vc.viewState.VA_CTNSMATINN6904_RDID469.disabledingroup" ng-show="vc.viewState.VA_CTNSMATINN6904_RDID469.visible" ng-readonly="vc.viewState.VA_CTNSMATINN6904_RDID469.readonly" ng-class="vc.viewState.VA_CTNSMATINN6904_RDID469.style" data-cobis-group="Group,GR_CTNSMATINN69_03,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_CTNSMATINN6904_RDID469.validationCode}}" data-required-msg="{{'LATFO.DLB_LATFO_MANDATORY_92120'|translate}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-12" ng-show="vc.viewState.VA_CTNSMATINN6904_PRNO548.visible"> 
          <div class="form-group cb-required" id="VA_CTNSMATINN6904_PRNO548_DIV"> 
           <label for="VA_CTNSMATINN6904_PRNO548" title="{{vc.viewState.VA_CTNSMATINN6904_PRNO548.label|translate:vc.viewState.VA_CTNSMATINN6904_PRNO548.labelArgs}}" ng-show="vc.viewState.VA_CTNSMATINN6904_PRNO548.visible" class="control-label">{{vc.viewState.VA_CTNSMATINN6904_PRNO548.label|translate:vc.viewState.VA_CTNSMATINN6904_PRNO548.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_CTNSMATINN6904_PRNO548" name="SectionsMaintaining_prdMnemonic" maxlength="5" type="text" class="form-control" ng-model="vc.model.SectionsMaintaining.prdMnemonic" ng-disabled="vc.viewState.VA_CTNSMATINN6904_PRNO548.disabled || vc.viewState.VA_CTNSMATINN6904_PRNO548.disabledingroup" ng-show="vc.viewState.VA_CTNSMATINN6904_PRNO548.visible" ng-readonly="vc.viewState.VA_CTNSMATINN6904_PRNO548.readonly" ng-class="vc.viewState.VA_CTNSMATINN6904_PRNO548.style" data-cobis-group="Group,GR_CTNSMATINN69_03,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_CTNSMATINN6904_PRNO548.validationCode}}" data-required-msg="{{'LATFO.DLB_LATFO_MANDATORY_92120'|translate}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-12" ng-show="vc.viewState.VA_CTNSMATINN6904_RDRI869.visible"> 
          <div class="form-group cb-required" id="VA_CTNSMATINN6904_RDRI869_DIV"> 
           <label for="VA_CTNSMATINN6904_RDRI869" title="{{vc.viewState.VA_CTNSMATINN6904_RDRI869.label|translate:vc.viewState.VA_CTNSMATINN6904_RDRI869.labelArgs}}" ng-show="vc.viewState.VA_CTNSMATINN6904_RDRI869.visible" class="control-label">{{vc.viewState.VA_CTNSMATINN6904_RDRI869.label|translate:vc.viewState.VA_CTNSMATINN6904_RDRI869.labelArgs}}</label> 
           <div class="cb-control"> 
            <textarea id="VA_CTNSMATINN6904_RDRI869" style="resize: none; width:100%" rows="3" name="SectionsMaintaining_prdDescription" maxlength="255" type="text" class="form-control" ng-model="vc.model.SectionsMaintaining.prdDescription" ng-disabled="vc.viewState.VA_CTNSMATINN6904_RDRI869.disabled || vc.viewState.VA_CTNSMATINN6904_RDRI869.disabledingroup" ng-show="vc.viewState.VA_CTNSMATINN6904_RDRI869.visible" ng-readonly="vc.viewState.VA_CTNSMATINN6904_RDRI869.readonly" ng-class="vc.viewState.VA_CTNSMATINN6904_RDRI869.style" data-cobis-group="Group,GR_CTNSMATINN69_03,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_CTNSMATINN6904_RDRI869.validationCode}}" data-required-msg="{{'LATFO.DLB_LATFO_MANDATORY_92120'|translate}}"></textarea> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-12" ng-show="vc.viewState.VA_CTNSMATINN6904_RDAE458.visible"> 
          <div class="form-group cb-required" id="VA_CTNSMATINN6904_RDAE458_DIV"> 
           <label for="VA_CTNSMATINN6904_RDAE458" title="{{vc.viewState.VA_CTNSMATINN6904_RDAE458.label|translate:vc.viewState.VA_CTNSMATINN6904_RDAE458.labelArgs}}" ng-show="vc.viewState.VA_CTNSMATINN6904_RDAE458.visible" class="control-label">{{vc.viewState.VA_CTNSMATINN6904_RDAE458.label|translate:vc.viewState.VA_CTNSMATINN6904_RDAE458.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_CTNSMATINN6904_RDAE458" name="SectionsMaintaining_prdName" maxlength="64" type="text" class="form-control" ng-model="vc.model.SectionsMaintaining.prdName" ng-disabled="vc.viewState.VA_CTNSMATINN6904_RDAE458.disabled || vc.viewState.VA_CTNSMATINN6904_RDAE458.disabledingroup" ng-show="vc.viewState.VA_CTNSMATINN6904_RDAE458.visible" ng-readonly="vc.viewState.VA_CTNSMATINN6904_RDAE458.readonly" ng-class="vc.viewState.VA_CTNSMATINN6904_RDAE458.style" data-cobis-group="Group,GR_CTNSMATINN69_03,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_CTNSMATINN6904_RDAE458.validationCode}}" data-required-msg="{{'LATFO.DLB_LATFO_MANDATORY_92120'|translate}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-12" ng-show="vc.viewState.VA_CTNSMATINN6904_RARE854.visible"> 
          <div class="form-group" id="VA_CTNSMATINN6904_RARE854_DIV"> 
           <label for="VA_CTNSMATINN6904_RARE854" title="{{vc.viewState.VA_CTNSMATINN6904_RARE854.label|translate:vc.viewState.VA_CTNSMATINN6904_RARE854.labelArgs}}" ng-show="vc.viewState.VA_CTNSMATINN6904_RARE854.visible" class="control-label">{{vc.viewState.VA_CTNSMATINN6904_RARE854.label|translate:vc.viewState.VA_CTNSMATINN6904_RARE854.labelArgs}}</label> 
           <div class="cb-control"> 
            <div class="input-group"> 
             <input id="VA_CTNSMATINN6904_RARE854" name="SectionsMaintaining_prdParentDesc" maxlength="20" type="text" class="form-control" ng-model="vc.model.SectionsMaintaining.prdParentDesc" ng-disabled="vc.viewState.VA_CTNSMATINN6904_RARE854.disabled || vc.viewState.VA_CTNSMATINN6904_RARE854.disabledingroup" ng-show="vc.viewState.VA_CTNSMATINN6904_RARE854.visible" ng-readonly="vc.viewState.VA_CTNSMATINN6904_RARE854.readonly" ng-class="vc.viewState.VA_CTNSMATINN6904_RARE854.style" data-cobis-group="Group,GR_CTNSMATINN69_03,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_CTNSMATINN6904_RARE854.validationCode}}" /> 
             <div class="input-group-btn"> 
              <button class="btn btn-default btn-block" ng-click="vc.clickTextInputButton('VA_CTNSMATINN6904_RARE854')" ng-disabled="vc.viewState.VA_CTNSMATINN6904_RARE854.disabled || vc.viewState.VA_CTNSMATINN6904_RARE854.disabledingroup" ng-show="vc.viewState.VA_CTNSMATINN6904_RARE854.visible" ng-class="vc.viewState.VA_CTNSMATINN6904_RARE854.style"> <span class="glyphicon glyphicon-align-justify"></span> </button> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-12" ng-show="vc.viewState.VA_CTNSMATINN6904_DPLT912.visible"> 
          <div class="form-group" id="VA_CTNSMATINN6904_DPLT912_DIV"> 
           <label for="VA_CTNSMATINN6904_DPLT912" title="{{vc.viewState.VA_CTNSMATINN6904_DPLT912.label|translate:vc.viewState.VA_CTNSMATINN6904_DPLT912.labelArgs}}" ng-show="vc.viewState.VA_CTNSMATINN6904_DPLT912.visible" class="control-label">{{vc.viewState.VA_CTNSMATINN6904_DPLT912.label|translate:vc.viewState.VA_CTNSMATINN6904_DPLT912.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_CTNSMATINN6904_DPLT912" name="SectionsMaintaining_prdTypeClient" kendo-ext-combo-box="comboBox.VA_CTNSMATINN6904_DPLT912" ng-model="vc.model.SectionsMaintaining.prdTypeClient" ng-disabled="vc.viewState.VA_CTNSMATINN6904_DPLT912.disabled || vc.viewState.VA_CTNSMATINN6904_DPLT912.disabledingroup" ng-show="vc.viewState.VA_CTNSMATINN6904_DPLT912.visible" ng-readonly="vc.viewState.VA_CTNSMATINN6904_DPLT912.readonly" ng-class="vc.viewState.VA_CTNSMATINN6904_DPLT912.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_CTNSMATINN6904_DPLT912" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_CTNSMATINN6904_DPLT912.template" data-cobis-group="Group,GR_CTNSMATINN69_03,0" data-validation-code="{{vc.viewState.VA_CTNSMATINN6904_DPLT912.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-12" ng-show="vc.viewState.VA_CTNSMATINN6904_DOIF418.visible"> 
          <div class="form-group" id="VA_CTNSMATINN6904_DOIF418_DIV"> 
           <label for="VA_CTNSMATINN6904_DOIF418" title="{{vc.viewState.VA_CTNSMATINN6904_DOIF418.label|translate:vc.viewState.VA_CTNSMATINN6904_DOIF418.labelArgs}}" ng-show="vc.viewState.VA_CTNSMATINN6904_DOIF418.visible" class="control-label">{{vc.viewState.VA_CTNSMATINN6904_DOIF418.label|translate:vc.viewState.VA_CTNSMATINN6904_DOIF418.labelArgs}}</label> 
           <div class="cb-control"> 
            <div class="input-group"> 
             <input id="VA_CTNSMATINN6904_DOIF418" name="SectionsMaintaining_dtoIdFkDesc" maxlength="20" type="text" class="form-control" ng-model="vc.model.SectionsMaintaining.dtoIdFkDesc" ng-disabled="vc.viewState.VA_CTNSMATINN6904_DOIF418.disabled || vc.viewState.VA_CTNSMATINN6904_DOIF418.disabledingroup" ng-show="vc.viewState.VA_CTNSMATINN6904_DOIF418.visible" ng-readonly="vc.viewState.VA_CTNSMATINN6904_DOIF418.readonly" ng-class="vc.viewState.VA_CTNSMATINN6904_DOIF418.style" data-cobis-group="Group,GR_CTNSMATINN69_03,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_CTNSMATINN6904_DOIF418.validationCode}}" /> 
             <div class="input-group-btn"> 
              <button class="btn btn-default btn-block" ng-click="vc.clickTextInputButton('VA_CTNSMATINN6904_DOIF418')" ng-disabled="vc.viewState.VA_CTNSMATINN6904_DOIF418.disabled || vc.viewState.VA_CTNSMATINN6904_DOIF418.disabledingroup" ng-show="vc.viewState.VA_CTNSMATINN6904_DOIF418.visible" ng-class="vc.viewState.VA_CTNSMATINN6904_DOIF418.style"> <span class="glyphicon glyphicon-align-justify"></span> </button> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-12" ng-show="vc.viewState.VA_CTNSMATINN6904_PRRD020.visible"> 
          <div class="form-group cb-required" id="VA_CTNSMATINN6904_PRRD020_DIV"> 
           <label for="VA_CTNSMATINN6904_PRRD020" title="{{vc.viewState.VA_CTNSMATINN6904_PRRD020.label|translate:vc.viewState.VA_CTNSMATINN6904_PRRD020.labelArgs}}" ng-show="vc.viewState.VA_CTNSMATINN6904_PRRD020.visible" class="control-label">{{vc.viewState.VA_CTNSMATINN6904_PRRD020.label|translate:vc.viewState.VA_CTNSMATINN6904_PRRD020.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_CTNSMATINN6904_PRRD020" name="SectionsMaintaining_prdOrder" maxlength="10" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_CTNSMATINN6904_PRRD020.decimals" k-format="vc.viewState.VA_CTNSMATINN6904_PRRD020.format" k-ng-model="vc.model.SectionsMaintaining.prdOrder" ng-model="vc.tmpModel.SectionsMaintaining.prdOrder" ng-disabled="vc.viewState.VA_CTNSMATINN6904_PRRD020.disabled || vc.viewState.VA_CTNSMATINN6904_PRRD020.disabledingroup" ng-show="vc.viewState.VA_CTNSMATINN6904_PRRD020.visible" ng-readonly="vc.viewState.VA_CTNSMATINN6904_PRRD020.readonly" ng-class="vc.viewState.VA_CTNSMATINN6904_PRRD020.style" data-cobis-group="Group,GR_CTNSMATINN69_03,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_CTNSMATINN6904_PRRD020.validationCode}}" data-required-msg="{{'LATFO.DLB_LATFO_MANDATORY_92120'|translate}}" /> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_RMOCN27BTA76" ng-click="vc.executeCommand('CM_RMOCN27BTA76','BtnAccept', validator, true, false, 'VC_RMOCN27_NECIN_829', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_RMOCN27BTA76.disabled || vc.viewState.CM_RMOCN27BTA76.disabledingroup" ng-show="vc.viewState.CM_RMOCN27BTA76.visible" ng-class="vc.viewState.CM_RMOCN27BTA76.style"> {{vc.viewState.CM_RMOCN27BTA76.label|translate}} </button> 
    <button id="CM_RMOCN27TCL40" ng-click="vc.executeCommand('CM_RMOCN27TCL40','BtnDecline', validator, true, false, 'VC_RMOCN27_NECIN_829', true)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_RMOCN27TCL40.disabled || vc.viewState.CM_RMOCN27TCL40.disabledingroup" ng-show="vc.viewState.CM_RMOCN27TCL40.visible" ng-class="vc.viewState.CM_RMOCN27TCL40.style"> {{vc.viewState.CM_RMOCN27TCL40.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_UCSPM_08_RMOCN27_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_RMOCN27_NECIN_829')" ng-disabled="vc.viewState.T_UCSPM_08_RMOCN27_ACCEPT.disabled || vc.viewState.T_UCSPM_08_RMOCN27_ACCEPT.disabledingroup" ng-show="vc.viewState.T_UCSPM_08_RMOCN27_ACCEPT.visible" ng-class="vc.viewState.T_UCSPM_08_RMOCN27_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_UCSPM_08_RMOCN27_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_UCSPM_08_RMOCN27_CANCEL.disabled || vc.viewState.T_UCSPM_08_RMOCN27_CANCEL.disabledingroup" ng-show="vc.viewState.T_UCSPM_08_RMOCN27_CANCEL.visible" ng-class="vc.viewState.T_UCSPM_08_RMOCN27_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>