<!-- Designer Generator v 6.3.3 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_PRECANCETA_713696" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_PRECANCETA_713696.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_PRECANCEIA_796--> 
  <div id="VC_PRECANCETA_713696" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_PRECANCEFO_396796" ng-show="vc.viewState.G_PRECANCEFO_396796.visible" ng-class="vc.viewState.G_PRECANCEFO_396796.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_PRECANCEFO_396796" k-options="validatorOptions" id="G_PRECANCEFO_396796_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-8" ng-show="vc.viewState.VA_CLIENTNAMESZXPR_236796.visible"> 
        <div class="form-group" id="VA_CLIENTNAMESZXPR_236796_DIV"> 
         <label for="VA_CLIENTNAMESZXPR_236796" title="{{vc.viewState.VA_CLIENTNAMESZXPR_236796.label|translate:vc.viewState.VA_CLIENTNAMESZXPR_236796.labelArgs}}" ng-show="vc.viewState.VA_CLIENTNAMESZXPR_236796.visible" class="control-label">{{vc.viewState.VA_CLIENTNAMESZXPR_236796.label|translate:vc.viewState.VA_CLIENTNAMESZXPR_236796.labelArgs}}</label> 
         <div class="cb-control"> 
          <div class="input-group"> 
           <input id="VA_CLIENTNAMESZXPR_236796" name="Loan_clientName" maxlength="64" type="text" class="form-control" ng-model="vc.model.Loan.clientName" ng-disabled="vc.viewState.VA_CLIENTNAMESZXPR_236796.disabled || vc.viewState.VA_CLIENTNAMESZXPR_236796.disabledingroup" ng-show="vc.viewState.VA_CLIENTNAMESZXPR_236796.visible" ng-readonly="vc.viewState.VA_CLIENTNAMESZXPR_236796.readonly" ng-class="vc.viewState.VA_CLIENTNAMESZXPR_236796.style" data-cobis-group="Group,G_PRECANCEFO_396796,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_CLIENTNAMESZXPR_236796.validationCode}}" /> 
           <div class="input-group-btn"> 
            <button class="btn btn-default btn-block" ng-click="vc.clickTextInputButton('VA_CLIENTNAMESZXPR_236796')" ng-disabled="vc.viewState.VA_CLIENTNAMESZXPR_236796.disabled || vc.viewState.VA_CLIENTNAMESZXPR_236796.disabledingroup" ng-show="vc.viewState.VA_CLIENTNAMESZXPR_236796.visible" ng-class="vc.viewState.VA_CLIENTNAMESZXPR_236796.style"> <span class="glyphicon glyphicon-align-justify"></span> </button> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONTGCIJOQ_898796.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONTGCIJOQ_898796" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONTGCIJOQ_898796','',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONTGCIJOQ_898796.disabled || vc.viewState.VA_VABUTTONTGCIJOQ_898796.disabledingroup" ng-show="vc.viewState.VA_VABUTTONTGCIJOQ_898796.visible" ng-class="vc.viewState.VA_VABUTTONTGCIJOQ_898796.style"> {{vc.viewState.VA_VABUTTONTGCIJOQ_898796.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_PRECANCAAE_845796" ng-show="vc.viewState.G_PRECANCAAE_845796.visible" ng-class="vc.viewState.G_PRECANCAAE_845796.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_PRECANCAAE_845796" k-options="validatorOptions" id="G_PRECANCAAE_845796_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VASIMPLELABELLL_113796.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <label id="VA_VASIMPLELABELLL_113796" ng-show="vc.viewState.VA_VASIMPLELABELLL_113796.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_113796.style"> {{vc.viewState.VA_VASIMPLELABELLL_113796.label|translate}} </label>
         </div> 
        </div> 
       </div> 
       <div class="col-xs-8" ng-show="vc.viewState.VA_AMOUNTOPEQCFHTN_742796.visible"> 
        <div class="form-group cb-no-label" id="VA_AMOUNTOPEQCFHTN_742796_DIV"> 
         <div class="cb-control"> 
          <input id="VA_AMOUNTOPEQCFHTN_742796" name="PreCancellation_amountOP" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_AMOUNTOPEQCFHTN_742796.format" k-decimals="vc.viewState.VA_AMOUNTOPEQCFHTN_742796.decimals" k-ng-model="vc.model.PreCancellation.amountOP" ng-model="vc.tmpModel.PreCancellation.amountOP" ng-disabled="vc.viewState.VA_AMOUNTOPEQCFHTN_742796.disabled || vc.viewState.VA_AMOUNTOPEQCFHTN_742796.disabledingroup" ng-show="vc.viewState.VA_AMOUNTOPEQCFHTN_742796.visible" ng-readonly="vc.viewState.VA_AMOUNTOPEQCFHTN_742796.readonly" ng-class="vc.viewState.VA_AMOUNTOPEQCFHTN_742796.style" data-cobis-group="Group,G_PRECANCAAE_845796,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_AMOUNTOPEQCFHTN_742796.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VASIMPLELABELLL_779796.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <label id="VA_VASIMPLELABELLL_779796" ng-show="vc.viewState.VA_VASIMPLELABELLL_779796.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_779796.style"> {{vc.viewState.VA_VASIMPLELABELLL_779796.label|translate}} </label>
         </div> 
        </div> 
       </div> 
       <div class="col-xs-8" ng-show="vc.viewState.VA_AMOUNTINSURENEC_518796.visible"> 
        <div class="form-group cb-no-label" id="VA_AMOUNTINSURENEC_518796_DIV"> 
         <div class="cb-control"> 
          <input id="VA_AMOUNTINSURENEC_518796" name="PreCancellation_amountInsurence" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_AMOUNTINSURENEC_518796.format" k-decimals="vc.viewState.VA_AMOUNTINSURENEC_518796.decimals" k-ng-model="vc.model.PreCancellation.amountInsurence" ng-model="vc.tmpModel.PreCancellation.amountInsurence" ng-disabled="vc.viewState.VA_AMOUNTINSURENEC_518796.disabled || vc.viewState.VA_AMOUNTINSURENEC_518796.disabledingroup" ng-show="vc.viewState.VA_AMOUNTINSURENEC_518796.visible" ng-readonly="vc.viewState.VA_AMOUNTINSURENEC_518796.readonly" ng-class="vc.viewState.VA_AMOUNTINSURENEC_518796.style" data-cobis-group="Group,G_PRECANCAAE_845796,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_AMOUNTINSURENEC_518796.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VASIMPLELABELLL_894796.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <label id="VA_VASIMPLELABELLL_894796" ng-show="vc.viewState.VA_VASIMPLELABELLL_894796.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_894796.style"> {{vc.viewState.VA_VASIMPLELABELLL_894796.label|translate}} </label>
         </div> 
        </div> 
       </div> 
       <div class="col-xs-8" ng-show="vc.viewState.VA_ISINSURENCECDHE_154796.visible"> 
        <div class="form-group cb-no-label" id="VA_ISINSURENCECDHE_154796_DIV"> 
         <div class="cb-control"> 
          <div> 
           <label class="checkbox-inline"> <input id="VA_ISINSURENCECDHE_154796" name="PreCancellation_isInsurenceChanged" type="checkbox" ng-model="vc.model.PreCancellation.isInsurenceChanged" ng-disabled="vc.viewState.VA_ISINSURENCECDHE_154796.disabled || vc.viewState.VA_ISINSURENCECDHE_154796.disabledingroup" ng-show="vc.viewState.VA_ISINSURENCECDHE_154796.visible" ng-class="vc.viewState.VA_ISINSURENCECDHE_154796.style" /> <span ng-if="vc.viewState.VA_ISINSURENCECDHE_154796.visible"> {{vc.viewState.VA_ISINSURENCECDHE_154796.label|translate}} </span> </label> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VASIMPLELABELLL_465796.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <label id="VA_VASIMPLELABELLL_465796" ng-show="vc.viewState.VA_VASIMPLELABELLL_465796.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_465796.style"> {{vc.viewState.VA_VASIMPLELABELLL_465796.label|translate}} </label>
         </div> 
        </div> 
       </div> 
       <div class="col-xs-8" ng-show="vc.viewState.VA_AMOUNTPREGANAKQ_881796.visible"> 
        <div class="form-group cb-no-label" id="VA_AMOUNTPREGANAKQ_881796_DIV"> 
         <div class="cb-control"> 
          <input id="VA_AMOUNTPREGANAKQ_881796" name="PreCancellation_amountPRE" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_AMOUNTPREGANAKQ_881796.format" k-decimals="vc.viewState.VA_AMOUNTPREGANAKQ_881796.decimals" k-ng-model="vc.model.PreCancellation.amountPRE" ng-model="vc.tmpModel.PreCancellation.amountPRE" ng-disabled="vc.viewState.VA_AMOUNTPREGANAKQ_881796.disabled || vc.viewState.VA_AMOUNTPREGANAKQ_881796.disabledingroup" ng-show="vc.viewState.VA_AMOUNTPREGANAKQ_881796.visible" ng-readonly="vc.viewState.VA_AMOUNTPREGANAKQ_881796.readonly" ng-class="vc.viewState.VA_AMOUNTPREGANAKQ_881796.style" data-cobis-group="Group,G_PRECANCAAE_845796,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_AMOUNTPREGANAKQ_881796.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_PRECANCEIA_796--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc || !vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_TASSTSCX_S1_" ng-click="vc.executeCommand('CM_TASSTSCX_S1_','Command1', validator, false, false, 'VC_PRECANCETA_713696', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_TASSTSCX_S1_.disabled || vc.viewState.CM_TASSTSCX_S1_.disabledingroup" ng-show="vc.viewState.CM_TASSTSCX_S1_.visible" ng-class="vc.viewState.CM_TASSTSCX_S1_.style"> {{vc.viewState.CM_TASSTSCX_S1_.label|translate}} </button> 
    <button id="CM_TASSTSCX__8X" ng-click="vc.executeCommand('CM_TASSTSCX__8X','Command2', validator, false, false, 'VC_PRECANCETA_713696', false)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_TASSTSCX__8X.disabled || vc.viewState.CM_TASSTSCX__8X.disabledingroup" ng-show="vc.viewState.CM_TASSTSCX__8X.visible" ng-class="vc.viewState.CM_TASSTSCX__8X.style"> {{vc.viewState.CM_TASSTSCX__8X.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_ASSTSCXBWUFVI_696_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_PRECANCETA_713696')" ng-disabled="vc.viewState.T_ASSTSCXBWUFVI_696_ACCEPT.disabled || vc.viewState.T_ASSTSCXBWUFVI_696_ACCEPT.disabledingroup" ng-show="vc.viewState.T_ASSTSCXBWUFVI_696_ACCEPT.visible" ng-class="vc.viewState.T_ASSTSCXBWUFVI_696_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_ASSTSCXBWUFVI_696_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_ASSTSCXBWUFVI_696_CANCEL.disabled || vc.viewState.T_ASSTSCXBWUFVI_696_CANCEL.disabledingroup" ng-show="vc.viewState.T_ASSTSCXBWUFVI_696_CANCEL.visible" ng-class="vc.viewState.T_ASSTSCXBWUFVI_696_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>