<!-- Designer Generator v 6.4.0.5 - SPR 2019-03 15/02/2019 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_DOCUMENTIG_406178" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_DOCUMENTIG_406178.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_DOCUMENTIG_406178" ng-keydown="vc.viewState.keyDown($event)" class="cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="VC_PAUQCAKXNQ_824178" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_PAUQCAKXNQ_824178', vc.viewState.VC_PAUQCAKXNQ_824178.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_PAUQCAKXNQ_824178.visible"> 
    <div id="VC_IYLYXGBWSN_401178" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_IYLYXGBWSN_401178', vc.viewState.VC_IYLYXGBWSN_401178.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_IYLYXGBWSN_401178.visible"> 
     <div id="VC_DFKJSTKQBA_173316" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_DFKJSTKQBA_173316', vc.viewState.VC_DFKJSTKQBA_173316.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_DFKJSTKQBA_173316.visible"> 
      <div id="VC_DFKJSTKQBA_173316_VAL" kendo-validator="VC_DFKJSTKQBA_173316" k-options="validatorOptions"> 
       <!-- Inicio item VW_LOANHEADRN_612--> 
       <div id="G_LOANHEADOD_564612" ng-show="vc.viewState.G_LOANHEADOD_564612.visible" ng-class="vc.viewState.G_LOANHEADOD_564612.style" class="cb-group cb-group-simple"> 
        <div kendo-validator="G_LOANHEADOD_564612" k-options="validatorOptions" id="G_LOANHEADOD_564612_VAL"> 
         <div class="form-vertical"> 
          <div class="row"> 
           <div class="col-xs-12" ng-show="vc.viewState.VA_VASIMPLELABELLL_143612.visible"> 
            <div class="form-group"> 
             <label class="control-label">&nbsp;</label> 
             <div class="cb-control"> 
              <label id="VA_VASIMPLELABELLL_143612" ng-show="vc.viewState.VA_VASIMPLELABELLL_143612.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_143612.style"> {{vc.viewState.VA_VASIMPLELABELLL_143612.label|translate}} </label>
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div id="G_LOANHEADRO_349612" ng-show="vc.viewState.G_LOANHEADRO_349612.visible" ng-class="vc.viewState.G_LOANHEADRO_349612.style" class="cb-group cb-group-simple"> 
        <div kendo-validator="G_LOANHEADRO_349612" k-options="validatorOptions" id="G_LOANHEADRO_349612_VAL"> 
         <div class="form-vertical"> 
          <div class="row"> 
           <div class="col-xs-7" ng-show="vc.viewState.VA_VASIMPLELABELLL_867612.visible"> 
            <div class="form-group" id="VA_VASIMPLELABELLL_867612_DIV"> 
             <label for="VA_VASIMPLELABELLL_867612" title="{{vc.viewState.VA_VASIMPLELABELLL_867612.label|translate:vc.viewState.VA_VASIMPLELABELLL_867612.labelArgs}}" ng-show="vc.viewState.VA_VASIMPLELABELLL_867612.visible" class="control-label">{{vc.viewState.VA_VASIMPLELABELLL_867612.label|translate:vc.viewState.VA_VASIMPLELABELLL_867612.labelArgs}} <span ng-class="vc.viewState.VA_VASIMPLELABELLL_867612.labelImageId"></span></label> 
             <div class="cb-control"> 
              <div> 
               <a id="VA_VASIMPLELABELLL_867612" href class="form-control textlink" ng-disabled="vc.viewState.VA_VASIMPLELABELLL_867612.disabled || vc.viewState.VA_VASIMPLELABELLL_867612.disabledingroup" ng-show="vc.viewState.VA_VASIMPLELABELLL_867612.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_867612.style" ng-bind="vc.model.Loan.loanBankID"> </a> 
              </div> 
             </div> 
            </div> 
           </div> 
           <div class="col-xs-3" ng-show="vc.viewState.VA_VABUTTONWVITZRQ_108612.visible"> 
            <div class="form-group"> 
             <label class="control-label">&nbsp;</label> 
             <div class="cb-control"> 
              <button id="VA_VABUTTONWVITZRQ_108612" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONWVITZRQ_108612','VA_VABUTTONWVITZRQ_108612',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONWVITZRQ_108612.disabled || vc.viewState.VA_VABUTTONWVITZRQ_108612.disabledingroup" ng-show="vc.viewState.VA_VABUTTONWVITZRQ_108612.visible" ng-class="vc.viewState.VA_VABUTTONWVITZRQ_108612.style"> <span ng-class="vc.viewState.VA_VABUTTONWVITZRQ_108612.imageId"></span> {{vc.viewState.VA_VABUTTONWVITZRQ_108612.label|translate}} </button> 
             </div> 
            </div> 
           </div> 
           <div class="col-xs-2" ng-show="vc.viewState.VA_VABUTTONORYJAMS_468612.visible"> 
            <div class="form-group"> 
             <label class="control-label">&nbsp;</label> 
             <div class="cb-control"> 
              <button id="VA_VABUTTONORYJAMS_468612" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONORYJAMS_468612','VA_VABUTTONORYJAMS_468612',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONORYJAMS_468612.disabled || vc.viewState.VA_VABUTTONORYJAMS_468612.disabledingroup" ng-show="vc.viewState.VA_VABUTTONORYJAMS_468612.visible" ng-class="vc.viewState.VA_VABUTTONORYJAMS_468612.style"> <span ng-class="vc.viewState.VA_VABUTTONORYJAMS_468612.imageId"></span> {{vc.viewState.VA_VABUTTONORYJAMS_468612.label|translate}} </button> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div id="G_LOANHEAINF_340612" ng-show="vc.viewState.G_LOANHEAINF_340612.visible" ng-class="vc.viewState.G_LOANHEAINF_340612.style" class="cb-group cb-group-simple"> 
        <div kendo-validator="G_LOANHEAINF_340612" k-options="validatorOptions" id="G_LOANHEAINF_340612_VAL"> 
         <div class="form-vertical"> 
          <div class="row"> 
           <div class="col-xs-1" ng-show="vc.viewState.VA_5034UOFCASVGKTK_993612.visible"> 
            <div class="form-group" id="VA_5034UOFCASVGKTK_993612_DIV"> 
             <label for="VA_5034UOFCASVGKTK_993612" title="{{vc.viewState.VA_5034UOFCASVGKTK_993612.label|translate:vc.viewState.VA_5034UOFCASVGKTK_993612.labelArgs}}" ng-show="vc.viewState.VA_5034UOFCASVGKTK_993612.visible" class="control-label">{{vc.viewState.VA_5034UOFCASVGKTK_993612.label|translate:vc.viewState.VA_5034UOFCASVGKTK_993612.labelArgs}}</label> 
             <div class="cb-control"> 
              <div id="VA_5034UOFCASVGKTK_993612" name="Loan_amount" class="form-control cb-no-border" ng-show="vc.viewState.VA_5034UOFCASVGKTK_993612.visible" ng-class="vc.viewState.VA_5034UOFCASVGKTK_993612.style">
                {{kendo.toString(vc.model.Loan.amount, 'c')}} 
              </div> 
             </div> 
            </div> 
           </div> 
           <div class="col-xs-1" ng-show="vc.viewState.VA_2463BHBNLZPKLMU_865612.visible"> 
            <div class="form-group" id="VA_2463BHBNLZPKLMU_865612_DIV"> 
             <label for="VA_2463BHBNLZPKLMU_865612" title="{{vc.viewState.VA_2463BHBNLZPKLMU_865612.label|translate:vc.viewState.VA_2463BHBNLZPKLMU_865612.labelArgs}}" ng-show="vc.viewState.VA_2463BHBNLZPKLMU_865612.visible" class="control-label">{{vc.viewState.VA_2463BHBNLZPKLMU_865612.label|translate:vc.viewState.VA_2463BHBNLZPKLMU_865612.labelArgs}}</label> 
             <div class="cb-control"> 
              <div id="VA_2463BHBNLZPKLMU_865612" name="Loan_balanceDue" class="form-control cb-no-border" ng-show="vc.viewState.VA_2463BHBNLZPKLMU_865612.visible" ng-class="vc.viewState.VA_2463BHBNLZPKLMU_865612.style">
                {{kendo.toString(vc.model.Loan.balanceDue, 'c')}} 
              </div> 
             </div> 
            </div> 
           </div> 
           <div class="col-xs-1" ng-show="vc.viewState.VA_3853RRTWBIRUGHQ_533612.visible"> 
            <div class="form-group" id="VA_3853RRTWBIRUGHQ_533612_DIV"> 
             <label for="VA_3853RRTWBIRUGHQ_533612" title="{{vc.viewState.VA_3853RRTWBIRUGHQ_533612.label|translate:vc.viewState.VA_3853RRTWBIRUGHQ_533612.labelArgs}}" ng-show="vc.viewState.VA_3853RRTWBIRUGHQ_533612.visible" class="control-label">{{vc.viewState.VA_3853RRTWBIRUGHQ_533612.label|translate:vc.viewState.VA_3853RRTWBIRUGHQ_533612.labelArgs}}</label> 
             <div class="cb-control"> 
              <div id="VA_3853RRTWBIRUGHQ_533612" name="Loan_status" class="form-control cb-no-border" ng-show="vc.viewState.VA_3853RRTWBIRUGHQ_533612.visible" ng-class="vc.viewState.VA_3853RRTWBIRUGHQ_533612.style">
                {{vc.model.Loan.status}} 
              </div> 
             </div> 
            </div> 
           </div> 
           <div class="col-xs-1" ng-show="vc.viewState.VA_7292SEAHPRAXOKC_868612.visible"> 
            <div class="form-group" id="VA_7292SEAHPRAXOKC_868612_DIV"> 
             <label for="VA_7292SEAHPRAXOKC_868612" title="{{vc.viewState.VA_7292SEAHPRAXOKC_868612.label|translate:vc.viewState.VA_7292SEAHPRAXOKC_868612.labelArgs}}" ng-show="vc.viewState.VA_7292SEAHPRAXOKC_868612.visible" class="control-label">{{vc.viewState.VA_7292SEAHPRAXOKC_868612.label|translate:vc.viewState.VA_7292SEAHPRAXOKC_868612.labelArgs}}</label> 
             <div class="cb-control"> 
              <div id="VA_7292SEAHPRAXOKC_868612" name="Loan_office" class="form-control cb-no-border" ng-show="vc.viewState.VA_7292SEAHPRAXOKC_868612.visible" ng-class="vc.viewState.VA_7292SEAHPRAXOKC_868612.style">
                {{vc.model.Loan.office}} 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <!-- Fin item VW_LOANHEADRN_612--> 
      </div> 
     </div> 
    </div> 
    <div id="VC_FSKVMXNBLD_908178" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_FSKVMXNBLD_908178', vc.viewState.VC_FSKVMXNBLD_908178.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_FSKVMXNBLD_908178.visible"> 
     <div id="VC_FIWTESYVFL_381178" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_FIWTESYVFL_381178', vc.viewState.VC_FIWTESYVFL_381178.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_FIWTESYVFL_381178.visible"> 
      <div id="VC_MJZUTEOZBZ_287678" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_MJZUTEOZBZ_287678', vc.viewState.VC_MJZUTEOZBZ_287678.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_MJZUTEOZBZ_287678.visible"> 
       <div id="VC_MJZUTEOZBZ_287678_VAL" kendo-validator="VC_MJZUTEOZBZ_287678" k-options="validatorOptions"> 
        <!-- Inicio item VW_DOCUMENTPG_334--> 
        <div id="G_DOCUMENIIN_569334" ng-show="vc.viewState.G_DOCUMENIIN_569334.visible" ng-class="vc.viewState.G_DOCUMENIIN_569334.style" class="cb-group cb-group-simple"> 
         <div kendo-validator="G_DOCUMENIIN_569334" k-options="validatorOptions" id="G_DOCUMENIIN_569334_VAL"> 
          <div id="QV_3105_20065" kendo-ext-grid="grids.QV_3105_20065" k-data-source="vc.model.PrintingDocuments" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_3105_20065.editable" k-toolbar="vc.grids.QV_3105_20065.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="'row multiple'" k-data-bound="vc.grids.QV_3105_20065.events.dataBound" k-columns="vc.grids.QV_3105_20065.columns" k-cancel="vc.grids.QV_3105_20065.events.cancel" k-edit="vc.grids.QV_3105_20065.events.edit" ng-class="vc.viewState.QV_3105_20065.style" k-ng-delay="vc.afterInitData"></div> 
         </div> 
        </div> 
        <!-- Fin item VW_DOCUMENTPG_334--> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc || !vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_DOCUMENT_CRT" ng-click="vc.executeCommand('CM_DOCUMENT_CRT','Command1', validator, false, false, 'VC_DOCUMENTIG_406178', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_DOCUMENT_CRT.disabled || vc.viewState.CM_DOCUMENT_CRT.disabledingroup" ng-show="vc.viewState.CM_DOCUMENT_CRT.visible" ng-class="vc.viewState.CM_DOCUMENT_CRT.style"> {{vc.viewState.CM_DOCUMENT_CRT.label|translate}} </button> 
    <button id="CM_TDOCUMEN_5CO" ng-click="vc.executeCommand('CM_TDOCUMEN_5CO','sendMail', validator, false, false, 'VC_DOCUMENTIG_406178', false)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_TDOCUMEN_5CO.disabled || vc.viewState.CM_TDOCUMEN_5CO.disabledingroup" ng-show="vc.viewState.CM_TDOCUMEN_5CO.visible" ng-class="vc.viewState.CM_TDOCUMEN_5CO.style"> {{vc.viewState.CM_TDOCUMEN_5CO.label|translate}} </button> 
    <button id="CM_TDOCUMEN_MPN" ng-click="vc.executeCommand('CM_TDOCUMEN_MPN','Command3', validator, false, false, 'VC_DOCUMENTIG_406178', false)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_TDOCUMEN_MPN.disabled || vc.viewState.CM_TDOCUMEN_MPN.disabledingroup" ng-show="vc.viewState.CM_TDOCUMEN_MPN.visible" ng-class="vc.viewState.CM_TDOCUMEN_MPN.style"> {{vc.viewState.CM_TDOCUMEN_MPN.label|translate}} </button> 
    <button id="CM_TDOCUMEN_1RO" ng-click="vc.executeCommand('CM_TDOCUMEN_1RO','Command4', validator, false, false, 'VC_DOCUMENTIG_406178', false)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_TDOCUMEN_1RO.disabled || vc.viewState.CM_TDOCUMEN_1RO.disabledingroup" ng-show="vc.viewState.CM_TDOCUMEN_1RO.visible" ng-class="vc.viewState.CM_TDOCUMEN_1RO.style"> {{vc.viewState.CM_TDOCUMEN_1RO.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_DOCUMENTPRIAN_178_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_DOCUMENTIG_406178')" ng-disabled="vc.viewState.T_DOCUMENTPRIAN_178_ACCEPT.disabled || vc.viewState.T_DOCUMENTPRIAN_178_ACCEPT.disabledingroup" ng-show="vc.viewState.T_DOCUMENTPRIAN_178_ACCEPT.visible" ng-class="vc.viewState.T_DOCUMENTPRIAN_178_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_DOCUMENTPRIAN_178_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_DOCUMENTPRIAN_178_CANCEL.disabled || vc.viewState.T_DOCUMENTPRIAN_178_CANCEL.disabledingroup" ng-show="vc.viewState.T_DOCUMENTPRIAN_178_CANCEL.visible" ng-class="vc.viewState.T_DOCUMENTPRIAN_178_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>