<!-- Designer Generator v 6.4.0.5 - SPR 2019-03 15/02/2019 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_CONFIRMMGG_786394" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_CONFIRMMGG_786394.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_CONFIRMMES_577--> 
  <div id="VC_CONFIRMMGG_786394" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_CONFIRMEES_381577" ng-class="vc.viewState.G_CONFIRMEES_381577.style" class="cb-group cb-group-layout"> 
    <div id="G_CONFIRMEES_381577_VAL" kendo-validator="G_CONFIRMEES_381577" k-options="validatorOptions"> 
     <div id="G_CONFIRMSME_262577" class="cb-group cb-group-simple" ng-show="vc.viewState.G_CONFIRMSME_262577.visible" ng-class="vc.viewState.G_CONFIRMSME_262577.style"> 
      <div id="G_CONFIRMSME_262577_VAL" kendo-validator="G_CONFIRMSME_262577" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-12" ng-show="vc.viewState.VA_MMESSAGEHYVDDBI_901577.visible"> 
          <div class="form-group" id="VA_MMESSAGEHYVDDBI_901577_DIV"> 
           <label for="VA_MMESSAGEHYVDDBI_901577" title="{{vc.viewState.VA_MMESSAGEHYVDDBI_901577.label|translate:vc.viewState.VA_MMESSAGEHYVDDBI_901577.labelArgs}}" ng-show="vc.viewState.VA_MMESSAGEHYVDDBI_901577.visible" class="control-label">{{'&nbsp;'}}</label> 
           <div class="cb-control"> 
            <div id="VA_MMESSAGEHYVDDBI_901577" name="Message_mMessage" class="form-control cb-no-border" ng-show="vc.viewState.VA_MMESSAGEHYVDDBI_901577.visible" ng-class="vc.viewState.VA_MMESSAGEHYVDDBI_901577.style">
              {{kendo.toString(vc.model.Message.mMessage, '')}} 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_CONFIRMMES_577--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc || !vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_TCSTMRRJ_R4Q" ng-click="vc.executeCommand('CM_TCSTMRRJ_R4Q','Command1', validator, true, false, 'VC_CONFIRMMGG_786394', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_TCSTMRRJ_R4Q.disabled || vc.viewState.CM_TCSTMRRJ_R4Q.disabledingroup" ng-show="vc.viewState.CM_TCSTMRRJ_R4Q.visible" ng-class="vc.viewState.CM_TCSTMRRJ_R4Q.style"> {{vc.viewState.CM_TCSTMRRJ_R4Q.label|translate}} </button> 
    <button id="CM_TCSTMRRJ_0_S" ng-click="vc.executeCommand('CM_TCSTMRRJ_0_S','Command2', validator, false, false, 'VC_CONFIRMMGG_786394', false)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_TCSTMRRJ_0_S.disabled || vc.viewState.CM_TCSTMRRJ_0_S.disabledingroup" ng-show="vc.viewState.CM_TCSTMRRJ_0_S.visible" ng-class="vc.viewState.CM_TCSTMRRJ_0_S.style"> {{vc.viewState.CM_TCSTMRRJ_0_S.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_CSTMRRJEZNQUS_394_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_CONFIRMMGG_786394')" ng-disabled="vc.viewState.T_CSTMRRJEZNQUS_394_ACCEPT.disabled || vc.viewState.T_CSTMRRJEZNQUS_394_ACCEPT.disabledingroup" ng-show="vc.viewState.T_CSTMRRJEZNQUS_394_ACCEPT.visible" ng-class="vc.viewState.T_CSTMRRJEZNQUS_394_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_CSTMRRJEZNQUS_394_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_CSTMRRJEZNQUS_394_CANCEL.disabled || vc.viewState.T_CSTMRRJEZNQUS_394_CANCEL.disabledingroup" ng-show="vc.viewState.T_CSTMRRJEZNQUS_394_CANCEL.visible" ng-class="vc.viewState.T_CSTMRRJEZNQUS_394_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>