<!-- Designer Generator v 6.1.0 - release SPR 2016-21 20/10/2016 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_PROJECTIIU_405244" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_PROJECTIIU_405244.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_PROJECTIIU_405244" ng-keydown="vc.viewState.keyDown($event)" class="cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="VC_SQRMWXXWBH_255244" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_SQRMWXXWBH_255244', vc.viewState.VC_SQRMWXXWBH_255244.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_SQRMWXXWBH_255244.visible"> 
    <div id="VC_WMVURFPSBR_236316" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_WMVURFPSBR_236316', vc.viewState.VC_WMVURFPSBR_236316.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_WMVURFPSBR_236316.visible"> 
     <div id="VC_WMVURFPSBR_236316_VAL" kendo-validator="VC_WMVURFPSBR_236316" k-options="validatorOptions"> 
      <!-- Inicio item VW_LOANHEADRN_612--> 
      <div id="G_LOANHEADOD_564612" ng-show="vc.viewState.G_LOANHEADOD_564612.visible" ng-class="vc.viewState.G_LOANHEADOD_564612.style" class="cb-group cb-group-simple"> 
       <div kendo-validator="G_LOANHEADOD_564612" k-options="validatorOptions" id="G_LOANHEADOD_564612_VAL"> 
        <div class="form-vertical"> 
         <div class="row"> 
          <div class="col-xs-12" ng-show="vc.viewState.VA_VASIMPLELABELLL_143612.visible"> 
           <div class="form-group"> 
            <label class="control-label">&nbsp;</label> 
            <div class="cb-control"> 
             <label id="VA_VASIMPLELABELLL_143612" ng-show="vc.viewState.VA_VASIMPLELABELLL_143612.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_143612.style"> {{vc.viewState.VA_VASIMPLELABELLL_143612.label|translate}} </label>
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <div id="G_LOANHEADRO_349612" ng-show="vc.viewState.G_LOANHEADRO_349612.visible" ng-class="vc.viewState.G_LOANHEADRO_349612.style" class="cb-group cb-group-simple"> 
       <div kendo-validator="G_LOANHEADRO_349612" k-options="validatorOptions" id="G_LOANHEADRO_349612_VAL"> 
        <div class="form-vertical"> 
         <div class="row"> 
          <div class="col-xs-7" ng-show="vc.viewState.VA_VASIMPLELABELLL_867612.visible"> 
           <div class="form-group" id="VA_VASIMPLELABELLL_867612_DIV"> 
            <label for="VA_VASIMPLELABELLL_867612" title="{{vc.viewState.VA_VASIMPLELABELLL_867612.label|translate:vc.viewState.VA_VASIMPLELABELLL_867612.labelArgs}}" ng-show="vc.viewState.VA_VASIMPLELABELLL_867612.visible" class="control-label">{{vc.viewState.VA_VASIMPLELABELLL_867612.label|translate:vc.viewState.VA_VASIMPLELABELLL_867612.labelArgs}} <span ng-class="vc.viewState.VA_VASIMPLELABELLL_867612.labelImageId"></span></label> 
            <div class="cb-control"> 
             <div> 
              <a id="VA_VASIMPLELABELLL_867612" href class="form-control textlink" ng-disabled="vc.viewState.VA_VASIMPLELABELLL_867612.disabled || vc.viewState.VA_VASIMPLELABELLL_867612.disabledingroup" ng-show="vc.viewState.VA_VASIMPLELABELLL_867612.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_867612.style" ng-bind="vc.model.Loan.loanBankID"> </a> 
             </div> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-3" ng-show="vc.viewState.VA_VABUTTONWVITZRQ_108612.visible"> 
           <div class="form-group"> 
            <label class="control-label">&nbsp;</label> 
            <div class="cb-control"> 
             <button id="VA_VABUTTONWVITZRQ_108612" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONWVITZRQ_108612','VA_VABUTTONWVITZRQ_108612',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONWVITZRQ_108612.disabled || vc.viewState.VA_VABUTTONWVITZRQ_108612.disabledingroup" ng-show="vc.viewState.VA_VABUTTONWVITZRQ_108612.visible" ng-class="vc.viewState.VA_VABUTTONWVITZRQ_108612.style"> <span ng-class="vc.viewState.VA_VABUTTONWVITZRQ_108612.imageId"></span> {{vc.viewState.VA_VABUTTONWVITZRQ_108612.label|translate}} </button> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-2" ng-show="vc.viewState.VA_VABUTTONORYJAMS_468612.visible"> 
           <div class="form-group"> 
            <label class="control-label">&nbsp;</label> 
            <div class="cb-control"> 
             <button id="VA_VABUTTONORYJAMS_468612" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONORYJAMS_468612','VA_VABUTTONORYJAMS_468612',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONORYJAMS_468612.disabled || vc.viewState.VA_VABUTTONORYJAMS_468612.disabledingroup" ng-show="vc.viewState.VA_VABUTTONORYJAMS_468612.visible" ng-class="vc.viewState.VA_VABUTTONORYJAMS_468612.style"> <span ng-class="vc.viewState.VA_VABUTTONORYJAMS_468612.imageId"></span> {{vc.viewState.VA_VABUTTONORYJAMS_468612.label|translate}} </button> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <div id="G_LOANHEAINF_340612" ng-show="vc.viewState.G_LOANHEAINF_340612.visible" ng-class="vc.viewState.G_LOANHEAINF_340612.style" class="cb-group cb-group-simple"> 
       <div kendo-validator="G_LOANHEAINF_340612" k-options="validatorOptions" id="G_LOANHEAINF_340612_VAL"> 
        <div class="form-vertical"> 
         <div class="row"> 
          <div class="col-xs-1" ng-show="vc.viewState.VA_5034UOFCASVGKTK_993612.visible"> 
           <div class="form-group" id="VA_5034UOFCASVGKTK_993612_DIV"> 
            <label for="VA_5034UOFCASVGKTK_993612" title="{{vc.viewState.VA_5034UOFCASVGKTK_993612.label|translate:vc.viewState.VA_5034UOFCASVGKTK_993612.labelArgs}}" ng-show="vc.viewState.VA_5034UOFCASVGKTK_993612.visible" class="control-label">{{vc.viewState.VA_5034UOFCASVGKTK_993612.label|translate:vc.viewState.VA_5034UOFCASVGKTK_993612.labelArgs}}</label> 
            <div class="cb-control"> 
             <div id="VA_5034UOFCASVGKTK_993612" name="Loan_amount" class="form-control cb-no-border" ng-show="vc.viewState.VA_5034UOFCASVGKTK_993612.visible" ng-class="vc.viewState.VA_5034UOFCASVGKTK_993612.style">
               {{kendo.toString(vc.model.Loan.amount, 'c')}} 
             </div> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-1" ng-show="vc.viewState.VA_2463BHBNLZPKLMU_865612.visible"> 
           <div class="form-group" id="VA_2463BHBNLZPKLMU_865612_DIV"> 
            <label for="VA_2463BHBNLZPKLMU_865612" title="{{vc.viewState.VA_2463BHBNLZPKLMU_865612.label|translate:vc.viewState.VA_2463BHBNLZPKLMU_865612.labelArgs}}" ng-show="vc.viewState.VA_2463BHBNLZPKLMU_865612.visible" class="control-label">{{vc.viewState.VA_2463BHBNLZPKLMU_865612.label|translate:vc.viewState.VA_2463BHBNLZPKLMU_865612.labelArgs}}</label> 
            <div class="cb-control"> 
             <div id="VA_2463BHBNLZPKLMU_865612" name="Loan_balanceDue" class="form-control cb-no-border" ng-show="vc.viewState.VA_2463BHBNLZPKLMU_865612.visible" ng-class="vc.viewState.VA_2463BHBNLZPKLMU_865612.style">
               {{kendo.toString(vc.model.Loan.balanceDue, 'c')}} 
             </div> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-1" ng-show="vc.viewState.VA_3853RRTWBIRUGHQ_533612.visible"> 
           <div class="form-group" id="VA_3853RRTWBIRUGHQ_533612_DIV"> 
            <label for="VA_3853RRTWBIRUGHQ_533612" title="{{vc.viewState.VA_3853RRTWBIRUGHQ_533612.label|translate:vc.viewState.VA_3853RRTWBIRUGHQ_533612.labelArgs}}" ng-show="vc.viewState.VA_3853RRTWBIRUGHQ_533612.visible" class="control-label">{{vc.viewState.VA_3853RRTWBIRUGHQ_533612.label|translate:vc.viewState.VA_3853RRTWBIRUGHQ_533612.labelArgs}}</label> 
            <div class="cb-control"> 
             <div id="VA_3853RRTWBIRUGHQ_533612" name="Loan_status" class="form-control cb-no-border" ng-show="vc.viewState.VA_3853RRTWBIRUGHQ_533612.visible" ng-class="vc.viewState.VA_3853RRTWBIRUGHQ_533612.style">
               {{vc.model.Loan.status}} 
             </div> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-1" ng-show="vc.viewState.VA_7292SEAHPRAXOKC_868612.visible"> 
           <div class="form-group" id="VA_7292SEAHPRAXOKC_868612_DIV"> 
            <label for="VA_7292SEAHPRAXOKC_868612" title="{{vc.viewState.VA_7292SEAHPRAXOKC_868612.label|translate:vc.viewState.VA_7292SEAHPRAXOKC_868612.labelArgs}}" ng-show="vc.viewState.VA_7292SEAHPRAXOKC_868612.visible" class="control-label">{{vc.viewState.VA_7292SEAHPRAXOKC_868612.label|translate:vc.viewState.VA_7292SEAHPRAXOKC_868612.labelArgs}}</label> 
            <div class="cb-control"> 
             <div id="VA_7292SEAHPRAXOKC_868612" name="Loan_office" class="form-control cb-no-border" ng-show="vc.viewState.VA_7292SEAHPRAXOKC_868612.visible" ng-class="vc.viewState.VA_7292SEAHPRAXOKC_868612.style">
               {{vc.model.Loan.office}} 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <!-- Fin item VW_LOANHEADRN_612--> 
     </div> 
    </div> 
    <div id="VC_SQUIFEROTT_498244" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_SQUIFEROTT_498244', vc.viewState.VC_SQUIFEROTT_498244.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_SQUIFEROTT_498244.visible"> 
     <div id="VC_JBFPPOJDKE_802621" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_JBFPPOJDKE_802621', vc.viewState.VC_JBFPPOJDKE_802621.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_JBFPPOJDKE_802621.visible"> 
      <div id="VC_JBFPPOJDKE_802621_VAL" kendo-validator="VC_JBFPPOJDKE_802621" k-options="validatorOptions"> 
       <!-- Inicio item VW_PROJECTIUO_517--> 
       <div id="G_PROJECTOTQ_450517" ng-class="vc.viewState.G_PROJECTOTQ_450517.style" class="cb-group cb-group-layout"> 
        <div id="G_PROJECTOTQ_450517_VAL" kendo-validator="G_PROJECTOTQ_450517" k-options="validatorOptions"> 
         <div class="row"> 
          <div class="col-xs-6"> 
           <div id="G_PROJECTIUQ_171517" class="cb-group cb-group-simple" ng-show="vc.viewState.G_PROJECTIUQ_171517.visible" ng-class="vc.viewState.G_PROJECTIUQ_171517.style"> 
            <div id="G_PROJECTIUQ_171517_VAL" kendo-validator="G_PROJECTIUQ_171517" k-options="validatorOptions"> 
             <div class="form-vertical"> 
              <div class="row"> 
               <div class="col-xs-6" ng-show="vc.viewState.VA_VASIMPLELABELLL_915517.visible"> 
                <div class="form-group"> 
                 <label class="control-label">&nbsp;</label> 
                 <div class="cb-control"> 
                  <label id="VA_VASIMPLELABELLL_915517" ng-show="vc.viewState.VA_VASIMPLELABELLL_915517.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_915517.style"> {{vc.viewState.VA_VASIMPLELABELLL_915517.label|translate}} </label>
                 </div> 
                </div> 
               </div> 
               <div class="col-xs-6" ng-show="vc.viewState.Spacer2108.visible"> 
                <div class="form-group cb-spacer"> 
                 <label class="control-label">&nbsp;</label> 
                 <span class="cb-control"></span> 
                </div> 
               </div> 
               <div class="col-xs-6" ng-show="vc.viewState.VA_FECHAPROYECCOIN_790517.visible"> 
                <div class="form-group cb-required" id="VA_FECHAPROYECCOIN_790517_DIV"> 
                 <label for="VA_FECHAPROYECCOIN_790517" title="{{vc.viewState.VA_FECHAPROYECCOIN_790517.label|translate:vc.viewState.VA_FECHAPROYECCOIN_790517.labelArgs}}" ng-show="vc.viewState.VA_FECHAPROYECCOIN_790517.visible" class="control-label">{{vc.viewState.VA_FECHAPROYECCOIN_790517.label|translate:vc.viewState.VA_FECHAPROYECCOIN_790517.labelArgs}}</label> 
                 <div class="cb-control"> 
                  <input id="VA_FECHAPROYECCOIN_790517" name="ProjectionQuota_projectionDate" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.ProjectionQuota.projectionDate" ng-model="vc.tmpModel.ProjectionQuota.projectionDate" ng-disabled="vc.viewState.VA_FECHAPROYECCOIN_790517.disabled || vc.viewState.VA_FECHAPROYECCOIN_790517.disabledingroup" ng-show="vc.viewState.VA_FECHAPROYECCOIN_790517.visible" ng-readonly="vc.viewState.VA_FECHAPROYECCOIN_790517.readonly" ng-class="vc.viewState.VA_FECHAPROYECCOIN_790517.style" data-cobis-group="GroupLayout,G_PROJECTOTQ_450517,0" custom-validate required data-validation-code="{{vc.viewState.VA_FECHAPROYECCOIN_790517.validationCode}}" designer-change data-customvalidate-msg="{{'DSGNR.SYS_DSGNR_MSGERRORE_00022'|translate}}" data-required-msg="{{'ASSTS.LBL_ASSTS_FECHAPRON_57586'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
                 </div> 
                </div> 
               </div> 
               <div class="col-xs-6" ng-show="vc.viewState.Spacer2857.visible"> 
                <div class="form-group cb-spacer"> 
                 <label class="control-label">&nbsp;</label> 
                 <span class="cb-control"></span> 
                </div> 
               </div> 
               <div class="col-xs-6" ng-show="vc.viewState.VA_DIASPROYECCIONO_148517.visible"> 
                <div class="form-group cb-required" id="VA_DIASPROYECCIONO_148517_DIV"> 
                 <label for="VA_DIASPROYECCIONO_148517" title="{{vc.viewState.VA_DIASPROYECCIONO_148517.label|translate:vc.viewState.VA_DIASPROYECCIONO_148517.labelArgs}}" ng-show="vc.viewState.VA_DIASPROYECCIONO_148517.visible" class="control-label">{{vc.viewState.VA_DIASPROYECCIONO_148517.label|translate:vc.viewState.VA_DIASPROYECCIONO_148517.labelArgs}}</label> 
                 <div class="cb-control"> 
                  <input id="VA_DIASPROYECCIONO_148517" name="ProjectionQuota_projectionDays" maxlength="2" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_DIASPROYECCIONO_148517.decimals" k-format="vc.viewState.VA_DIASPROYECCIONO_148517.format" k-ng-model="vc.model.ProjectionQuota.projectionDays" ng-model="vc.tmpModel.ProjectionQuota.projectionDays" ng-disabled="vc.viewState.VA_DIASPROYECCIONO_148517.disabled || vc.viewState.VA_DIASPROYECCIONO_148517.disabledingroup" ng-show="vc.viewState.VA_DIASPROYECCIONO_148517.visible" ng-readonly="vc.viewState.VA_DIASPROYECCIONO_148517.readonly" ng-class="vc.viewState.VA_DIASPROYECCIONO_148517.style" data-cobis-group="GroupLayout,G_PROJECTOTQ_450517,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_DIASPROYECCIONO_148517.validationCode}}" designer-change data-required-msg="{{'ASSTS.LBL_ASSTS_DIASPROCA_33799'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
                 </div> 
                </div> 
               </div> 
               <div class="col-xs-6" ng-show="vc.viewState.Spacer2838.visible"> 
                <div class="form-group cb-spacer"> 
                 <label class="control-label">&nbsp;</label> 
                 <span class="cb-control"></span> 
                </div> 
               </div> 
               <div class="col-xs-6" ng-show="vc.viewState.VA_TIPOUWNWJMGVYCI_648517.visible"> 
                <div class="form-group" id="VA_TIPOUWNWJMGVYCI_648517_DIV"> 
                 <label for="VA_TIPOUWNWJMGVYCI_648517" title="{{vc.viewState.VA_TIPOUWNWJMGVYCI_648517.label|translate:vc.viewState.VA_TIPOUWNWJMGVYCI_648517.labelArgs}}" ng-show="vc.viewState.VA_TIPOUWNWJMGVYCI_648517.visible" class="control-label">{{vc.viewState.VA_TIPOUWNWJMGVYCI_648517.label|translate:vc.viewState.VA_TIPOUWNWJMGVYCI_648517.labelArgs}}</label> 
                 <div class="cb-control"> 
                  <div> 
                   <input id="VA_TIPOUWNWJMGVYCI_648517" ng-show="false" /> 
                   <label class="d-radio-block" data-ng-repeat="result in vc.catalogs.VA_TIPOUWNWJMGVYCI_648517.data()"> <input id="VA_TIPOUWNWJMGVYCI_648517-{{$index}}" name="ProjectionQuota_typeCalculation" type="radio" value="{{result.code}}" ng-model="vc.model.ProjectionQuota.typeCalculation" ng-disabled="vc.viewState.VA_TIPOUWNWJMGVYCI_648517.disabled || vc.viewState.VA_TIPOUWNWJMGVYCI_648517.disabledingroup" ng-show="vc.viewState.VA_TIPOUWNWJMGVYCI_648517.visible" ng-readonly="vc.viewState.VA_TIPOUWNWJMGVYCI_648517.readonly" ng-class="vc.viewState.VA_TIPOUWNWJMGVYCI_648517.style" data-validation-code="{{vc.viewState.VA_TIPOUWNWJMGVYCI_648517.validationCode}}" /> {{result.value}} </label> 
                  </div> 
                 </div> 
                </div> 
               </div> 
               <div class="col-xs-6" ng-show="vc.viewState.VA_DATEPROCESSGJPH_342517.visible"> 
                <div class="form-group" id="VA_DATEPROCESSGJPH_342517_DIV"> 
                 <label for="VA_DATEPROCESSGJPH_342517" title="{{vc.viewState.VA_DATEPROCESSGJPH_342517.label|translate:vc.viewState.VA_DATEPROCESSGJPH_342517.labelArgs}}" ng-show="vc.viewState.VA_DATEPROCESSGJPH_342517.visible" class="control-label">{{vc.viewState.VA_DATEPROCESSGJPH_342517.label|translate:vc.viewState.VA_DATEPROCESSGJPH_342517.labelArgs}}</label> 
                 <div class="cb-control"> 
                  <input id="VA_DATEPROCESSGJPH_342517" name="ProjectionQuota_dateProcess" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.ProjectionQuota.dateProcess" ng-model="vc.tmpModel.ProjectionQuota.dateProcess" ng-disabled="vc.viewState.VA_DATEPROCESSGJPH_342517.disabled || vc.viewState.VA_DATEPROCESSGJPH_342517.disabledingroup" ng-show="vc.viewState.VA_DATEPROCESSGJPH_342517.visible" ng-readonly="vc.viewState.VA_DATEPROCESSGJPH_342517.readonly" ng-class="vc.viewState.VA_DATEPROCESSGJPH_342517.style" data-cobis-group="GroupLayout,G_PROJECTOTQ_450517,0" data-validation-code="{{vc.viewState.VA_DATEPROCESSGJPH_342517.validationCode}}" /> 
                 </div> 
                </div> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-6"> 
           <div id="G_PROJECTINO_339517" class="cb-group cb-group-simple" ng-show="vc.viewState.G_PROJECTINO_339517.visible" ng-class="vc.viewState.G_PROJECTINO_339517.style"> 
            <div id="G_PROJECTINO_339517_VAL" kendo-validator="G_PROJECTINO_339517" k-options="validatorOptions"> 
             <div class="form-vertical"> 
              <div class="row"> 
               <div class="col-xs-12" ng-show="vc.viewState.VA_VASIMPLELABELLL_283517.visible"> 
                <div class="form-group"> 
                 <label class="control-label">&nbsp;</label> 
                 <div class="cb-control"> 
                  <label id="VA_VASIMPLELABELLL_283517" ng-show="vc.viewState.VA_VASIMPLELABELLL_283517.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_283517.style"> {{vc.viewState.VA_VASIMPLELABELLL_283517.label|translate}} </label>
                 </div> 
                </div> 
               </div> 
               <div class="col-xs-12" ng-show="vc.viewState.VA_MONTOVIGENTEENO_276517.visible"> 
                <div class="form-group" id="VA_MONTOVIGENTEENO_276517_DIV"> 
                 <label for="VA_MONTOVIGENTEENO_276517" title="{{vc.viewState.VA_MONTOVIGENTEENO_276517.label|translate:vc.viewState.VA_MONTOVIGENTEENO_276517.labelArgs}}" ng-show="vc.viewState.VA_MONTOVIGENTEENO_276517.visible" class="control-label">{{vc.viewState.VA_MONTOVIGENTEENO_276517.label|translate:vc.viewState.VA_MONTOVIGENTEENO_276517.labelArgs}}</label> 
                 <div class="cb-control"> 
                  <div id="VA_MONTOVIGENTEENO_276517" name="ProjectionQuota_currentAmountDue" class="form-control cb-no-border" ng-show="vc.viewState.VA_MONTOVIGENTEENO_276517.visible" ng-class="vc.viewState.VA_MONTOVIGENTEENO_276517.style">
                    {{kendo.toString(vc.model.ProjectionQuota.currentAmountDue, '#,##0.00\ USD.')}} 
                  </div> 
                 </div> 
                </div> 
               </div> 
               <div class="col-xs-12" ng-show="vc.viewState.VA_MONTOVENCIDOXAY_846517.visible"> 
                <div class="form-group" id="VA_MONTOVENCIDOXAY_846517_DIV"> 
                 <label for="VA_MONTOVENCIDOXAY_846517" title="{{vc.viewState.VA_MONTOVENCIDOXAY_846517.label|translate:vc.viewState.VA_MONTOVENCIDOXAY_846517.labelArgs}}" ng-show="vc.viewState.VA_MONTOVENCIDOXAY_846517.visible" class="control-label">{{vc.viewState.VA_MONTOVENCIDOXAY_846517.label|translate:vc.viewState.VA_MONTOVENCIDOXAY_846517.labelArgs}}</label> 
                 <div class="cb-control"> 
                  <div id="VA_MONTOVENCIDOXAY_846517" name="ProjectionQuota_amountOverdue" class="form-control cb-no-border" ng-show="vc.viewState.VA_MONTOVENCIDOXAY_846517.visible" ng-class="vc.viewState.VA_MONTOVENCIDOXAY_846517.style">
                    {{kendo.toString(vc.model.ProjectionQuota.amountOverdue, '#,##0.00\ USD.')}} 
                  </div> 
                 </div> 
                </div> 
               </div> 
               <div class="col-xs-12" ng-show="vc.viewState.VA_MONTOPRECANCALO_956517.visible"> 
                <div class="form-group" id="VA_MONTOPRECANCALO_956517_DIV"> 
                 <label for="VA_MONTOPRECANCALO_956517" title="{{vc.viewState.VA_MONTOPRECANCALO_956517.label|translate:vc.viewState.VA_MONTOPRECANCALO_956517.labelArgs}}" ng-show="vc.viewState.VA_MONTOPRECANCALO_956517.visible" class="control-label">{{vc.viewState.VA_MONTOPRECANCALO_956517.label|translate:vc.viewState.VA_MONTOPRECANCALO_956517.labelArgs}}</label> 
                 <div class="cb-control"> 
                  <div id="VA_MONTOPRECANCALO_956517" name="ProjectionQuota_prepaymentAmount" class="form-control cb-no-border" ng-show="vc.viewState.VA_MONTOPRECANCALO_956517.visible" ng-class="vc.viewState.VA_MONTOPRECANCALO_956517.style">
                    {{kendo.toString(vc.model.ProjectionQuota.prepaymentAmount, '#,##0.00\ USD.')}} 
                  </div> 
                 </div> 
                </div> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <!-- Fin item VW_PROJECTIUO_517--> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_TPROJECT_N0M" ng-click="vc.executeCommand('CM_TPROJECT_N0M','Command1', validator, true, false, 'VC_PROJECTIIU_405244', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_TPROJECT_N0M.disabled || vc.viewState.CM_TPROJECT_N0M.disabledingroup" ng-show="vc.viewState.CM_TPROJECT_N0M.visible" ng-class="vc.viewState.CM_TPROJECT_N0M.style"> {{vc.viewState.CM_TPROJECT_N0M.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_PROJECTIONNQI_244_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_PROJECTIIU_405244')" ng-disabled="vc.viewState.T_PROJECTIONNQI_244_ACCEPT.disabled || vc.viewState.T_PROJECTIONNQI_244_ACCEPT.disabledingroup" ng-show="vc.viewState.T_PROJECTIONNQI_244_ACCEPT.visible" ng-class="vc.viewState.T_PROJECTIONNQI_244_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_PROJECTIONNQI_244_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_PROJECTIONNQI_244_CANCEL.disabled || vc.viewState.T_PROJECTIONNQI_244_CANCEL.disabledingroup" ng-show="vc.viewState.T_PROJECTIONNQI_244_CANCEL.visible" ng-class="vc.viewState.T_PROJECTIONNQI_244_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>