<!-- Designer Generator v 6.4.0.5 - SPR 2019-03 15/02/2019 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_MOBILEPOPP_688549" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_MOBILEPOPP_688549.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_MOBILEPOPU_864--> 
  <div id="VC_MOBILEPOPP_688549" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_MOBILEPPPO_239864" ng-show="vc.viewState.G_MOBILEPPPO_239864.visible" ng-class="vc.viewState.G_MOBILEPPPO_239864.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_MOBILEPPPO_239864" k-options="validatorOptions" id="G_MOBILEPPPO_239864_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_TEXTINPUTBOXMYG_290864.visible"> 
        <div class="form-group cb-required" id="VA_TEXTINPUTBOXMYG_290864_DIV"> 
         <label for="VA_TEXTINPUTBOXMYG_290864" title="{{vc.viewState.VA_TEXTINPUTBOXMYG_290864.label|translate:vc.viewState.VA_TEXTINPUTBOXMYG_290864.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXMYG_290864.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXMYG_290864.label|translate:vc.viewState.VA_TEXTINPUTBOXMYG_290864.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXMYG_290864" kendo-ext-combo-box="comboBox.VA_TEXTINPUTBOXMYG_290864" k-index="0" k-auto-bind="true" name="Mobile_type" ng-model="vc.model.Mobile.type" ng-disabled="vc.viewState.VA_TEXTINPUTBOXMYG_290864.disabled || vc.viewState.VA_TEXTINPUTBOXMYG_290864.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXMYG_290864.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXMYG_290864.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXMYG_290864.style" k-data-source="vc.catalogs.VA_TEXTINPUTBOXMYG_290864" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_TEXTINPUTBOXMYG_290864.template" data-cobis-group="Group,G_MOBILEPPPO_239864,0" required data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXMYG_290864.validationCode}}" data-required-msg="{{'MBILE.LBL_MBILE_TIPODISII_27083'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_TEXTINPUTBOXXOD_715864.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXXOD_715864_DIV"> 
         <label for="VA_TEXTINPUTBOXXOD_715864" title="{{vc.viewState.VA_TEXTINPUTBOXXOD_715864.label|translate:vc.viewState.VA_TEXTINPUTBOXXOD_715864.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXXOD_715864.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXXOD_715864.label|translate:vc.viewState.VA_TEXTINPUTBOXXOD_715864.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXXOD_715864" name="Mobile_imei" maxlength="45" type="text" class="form-control" ng-model="vc.model.Mobile.imei" ng-disabled="vc.viewState.VA_TEXTINPUTBOXXOD_715864.disabled || vc.viewState.VA_TEXTINPUTBOXXOD_715864.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXXOD_715864.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXXOD_715864.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXXOD_715864.style" data-cobis-group="Group,G_MOBILEPPPO_239864,0" ng-model-onblur designer-restrict-input="alphanumeric" data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXXOD_715864.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_TEXTINPUTBOXFGL_163864.visible"> 
        <div class="form-group cb-required" id="VA_TEXTINPUTBOXFGL_163864_DIV"> 
         <label for="VA_TEXTINPUTBOXFGL_163864" title="{{vc.viewState.VA_TEXTINPUTBOXFGL_163864.label|translate:vc.viewState.VA_TEXTINPUTBOXFGL_163864.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXFGL_163864.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXFGL_163864.label|translate:vc.viewState.VA_TEXTINPUTBOXFGL_163864.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXFGL_163864" name="Mobile_macAddress" maxlength="60" type="text" class="form-control" ng-model="vc.model.Mobile.macAddress" ng-disabled="vc.viewState.VA_TEXTINPUTBOXFGL_163864.disabled || vc.viewState.VA_TEXTINPUTBOXFGL_163864.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXFGL_163864.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXFGL_163864.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXFGL_163864.style" data-cobis-group="Group,G_MOBILEPPPO_239864,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXFGL_163864.validationCode}}" data-required-msg="{{'MBILE.LBL_MBILE_MACADDRSE_57169'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-8" ng-show="vc.viewState.VA_TEXTINPUTBOXJOU_670864.visible"> 
        <div class="form-group cb-required" id="VA_TEXTINPUTBOXJOU_670864_DIV"> 
         <label for="VA_TEXTINPUTBOXJOU_670864" title="{{vc.viewState.VA_TEXTINPUTBOXJOU_670864.label|translate:vc.viewState.VA_TEXTINPUTBOXJOU_670864.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXJOU_670864.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXJOU_670864.label|translate:vc.viewState.VA_TEXTINPUTBOXJOU_670864.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXJOU_670864" kendo-ext-combo-box="comboBox.VA_TEXTINPUTBOXJOU_670864" k-index="0" k-auto-bind="true" k-filter="'startswith'" k-min-length="'1'" name="Mobile_official" ng-model="vc.model.Mobile.official" ng-disabled="vc.viewState.VA_TEXTINPUTBOXJOU_670864.disabled || vc.viewState.VA_TEXTINPUTBOXJOU_670864.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXJOU_670864.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXJOU_670864.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXJOU_670864.style" k-data-source="vc.catalogs.VA_TEXTINPUTBOXJOU_670864" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_TEXTINPUTBOXJOU_670864.template" data-cobis-group="Group,G_MOBILEPPPO_239864,0" required data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXJOU_670864.validationCode}}" data-required-msg="{{'MBILE.LBL_MBILE_OFICIALWJ_74908'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_ALIASRPKZBILLMX_965864.visible"> 
        <div class="form-group" id="VA_ALIASRPKZBILLMX_965864_DIV"> 
         <label for="VA_ALIASRPKZBILLMX_965864" title="{{vc.viewState.VA_ALIASRPKZBILLMX_965864.label|translate:vc.viewState.VA_ALIASRPKZBILLMX_965864.labelArgs}}" ng-show="vc.viewState.VA_ALIASRPKZBILLMX_965864.visible" class="control-label">{{vc.viewState.VA_ALIASRPKZBILLMX_965864.label|translate:vc.viewState.VA_ALIASRPKZBILLMX_965864.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_ALIASRPKZBILLMX_965864" name="Mobile_alias" maxlength="45" type="text" class="form-control" ng-model="vc.model.Mobile.alias" ng-disabled="vc.viewState.VA_ALIASRPKZBILLMX_965864.disabled || vc.viewState.VA_ALIASRPKZBILLMX_965864.disabledingroup" ng-show="vc.viewState.VA_ALIASRPKZBILLMX_965864.visible" ng-readonly="vc.viewState.VA_ALIASRPKZBILLMX_965864.readonly" ng-class="vc.viewState.VA_ALIASRPKZBILLMX_965864.style" data-cobis-group="Group,G_MOBILEPPPO_239864,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_ALIASRPKZBILLMX_965864.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_REGISTRATIONAAE_474864.visible"> 
        <div class="form-group" id="VA_REGISTRATIONAAE_474864_DIV"> 
         <label for="VA_REGISTRATIONAAE_474864" title="{{vc.viewState.VA_REGISTRATIONAAE_474864.label|translate:vc.viewState.VA_REGISTRATIONAAE_474864.labelArgs}}" ng-show="vc.viewState.VA_REGISTRATIONAAE_474864.visible" class="control-label">{{vc.viewState.VA_REGISTRATIONAAE_474864.label|translate:vc.viewState.VA_REGISTRATIONAAE_474864.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_REGISTRATIONAAE_474864" name="Mobile_registrationDate" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.Mobile.registrationDate" ng-model="vc.tmpModel.Mobile.registrationDate" ng-disabled="vc.viewState.VA_REGISTRATIONAAE_474864.disabled || vc.viewState.VA_REGISTRATIONAAE_474864.disabledingroup" ng-show="vc.viewState.VA_REGISTRATIONAAE_474864.visible" ng-readonly="vc.viewState.VA_REGISTRATIONAAE_474864.readonly" ng-class="vc.viewState.VA_REGISTRATIONAAE_474864.style" data-cobis-group="Group,G_MOBILEPPPO_239864,0" data-validation-code="{{vc.viewState.VA_REGISTRATIONAAE_474864.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_REGISTRATIONURU_366864.visible"> 
        <div class="form-group" id="VA_REGISTRATIONURU_366864_DIV"> 
         <label for="VA_REGISTRATIONURU_366864" title="{{vc.viewState.VA_REGISTRATIONURU_366864.label|translate:vc.viewState.VA_REGISTRATIONURU_366864.labelArgs}}" ng-show="vc.viewState.VA_REGISTRATIONURU_366864.visible" class="control-label">{{vc.viewState.VA_REGISTRATIONURU_366864.label|translate:vc.viewState.VA_REGISTRATIONURU_366864.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_REGISTRATIONURU_366864" name="Mobile_registrationUser" maxlength="14" type="text" class="form-control" ng-model="vc.model.Mobile.registrationUser" ng-disabled="vc.viewState.VA_REGISTRATIONURU_366864.disabled || vc.viewState.VA_REGISTRATIONURU_366864.disabledingroup" ng-show="vc.viewState.VA_REGISTRATIONURU_366864.visible" ng-readonly="vc.viewState.VA_REGISTRATIONURU_366864.readonly" ng-class="vc.viewState.VA_REGISTRATIONURU_366864.style" data-cobis-group="Group,G_MOBILEPPPO_239864,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_REGISTRATIONURU_366864.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_DEVICESTATUSGNK_898864.visible"> 
        <div class="form-group" id="VA_DEVICESTATUSGNK_898864_DIV"> 
         <label for="VA_DEVICESTATUSGNK_898864" title="{{vc.viewState.VA_DEVICESTATUSGNK_898864.label|translate:vc.viewState.VA_DEVICESTATUSGNK_898864.labelArgs}}" ng-show="vc.viewState.VA_DEVICESTATUSGNK_898864.visible" class="control-label">{{vc.viewState.VA_DEVICESTATUSGNK_898864.label|translate:vc.viewState.VA_DEVICESTATUSGNK_898864.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_DEVICESTATUSGNK_898864" kendo-ext-combo-box="comboBox.VA_DEVICESTATUSGNK_898864" k-index="0" k-auto-bind="true" name="Mobile_deviceStatus" ng-model="vc.model.Mobile.deviceStatus" ng-disabled="vc.viewState.VA_DEVICESTATUSGNK_898864.disabled || vc.viewState.VA_DEVICESTATUSGNK_898864.disabledingroup" ng-show="vc.viewState.VA_DEVICESTATUSGNK_898864.visible" ng-readonly="vc.viewState.VA_DEVICESTATUSGNK_898864.readonly" ng-class="vc.viewState.VA_DEVICESTATUSGNK_898864.style" k-data-source="vc.catalogs.VA_DEVICESTATUSGNK_898864" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_DEVICESTATUSGNK_898864.template" data-cobis-group="Group,G_MOBILEPPPO_239864,0" data-validation-code="{{vc.viewState.VA_DEVICESTATUSGNK_898864.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_ALLOWUPDATETLLJ_672864.visible"> 
        <div class="form-group" id="VA_ALLOWUPDATETLLJ_672864_DIV"> 
         <label>&nbsp; </label> 
         <div class="cb-control"> 
          <div> 
           <label class="checkbox-inline"> <input id="VA_ALLOWUPDATETLLJ_672864" name="Mobile_allowUpdate" type="checkbox" ng-model="vc.model.Mobile.allowUpdate" ng-disabled="vc.viewState.VA_ALLOWUPDATETLLJ_672864.disabled || vc.viewState.VA_ALLOWUPDATETLLJ_672864.disabledingroup" ng-show="vc.viewState.VA_ALLOWUPDATETLLJ_672864.visible" ng-class="vc.viewState.VA_ALLOWUPDATETLLJ_672864.style" /> <span ng-if="vc.viewState.VA_ALLOWUPDATETLLJ_672864.visible"> {{vc.viewState.VA_ALLOWUPDATETLLJ_672864.label|translate}} </span> </label> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer1979.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer2707.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer2441.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONODIGQRB_255864.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONODIGQRB_255864" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONODIGQRB_255864','VA_VABUTTONODIGQRB_255864',validator,true, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONODIGQRB_255864.disabled || vc.viewState.VA_VABUTTONODIGQRB_255864.disabledingroup" ng-show="vc.viewState.VA_VABUTTONODIGQRB_255864.visible" ng-class="vc.viewState.VA_VABUTTONODIGQRB_255864.style"> {{vc.viewState.VA_VABUTTONODIGQRB_255864.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_MOBILEPOPU_864--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_MBILEKTPCSLCM_549_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_MOBILEPOPP_688549')" ng-disabled="vc.viewState.T_MBILEKTPCSLCM_549_ACCEPT.disabled || vc.viewState.T_MBILEKTPCSLCM_549_ACCEPT.disabledingroup" ng-show="vc.viewState.T_MBILEKTPCSLCM_549_ACCEPT.visible" ng-class="vc.viewState.T_MBILEKTPCSLCM_549_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_MBILEKTPCSLCM_549_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_MBILEKTPCSLCM_549_CANCEL.disabled || vc.viewState.T_MBILEKTPCSLCM_549_CANCEL.disabledingroup" ng-show="vc.viewState.T_MBILEKTPCSLCM_549_CANCEL.visible" ng-class="vc.viewState.T_MBILEKTPCSLCM_549_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>