<!-- Designer Generator v 6.3.3 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_LOANDISBMN_824275" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_LOANDISBMN_824275.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_LOANDISBMN_824275" ng-keydown="vc.viewState.keyDown($event)" class="cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="VC_VBHENKGGPP_117275" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_VBHENKGGPP_117275', vc.viewState.VC_VBHENKGGPP_117275.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_VBHENKGGPP_117275.visible"> 
    <div id="VC_WTBFTWKEGX_182316" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_WTBFTWKEGX_182316', vc.viewState.VC_WTBFTWKEGX_182316.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_WTBFTWKEGX_182316.visible"> 
     <div id="VC_WTBFTWKEGX_182316_VAL" kendo-validator="VC_WTBFTWKEGX_182316" k-options="validatorOptions"> 
      <!-- Inicio item VW_LOANHEADRN_612--> 
      <div id="G_LOANHEADOD_564612" ng-show="vc.viewState.G_LOANHEADOD_564612.visible" ng-class="vc.viewState.G_LOANHEADOD_564612.style" class="cb-group cb-group-simple"> 
       <div kendo-validator="G_LOANHEADOD_564612" k-options="validatorOptions" id="G_LOANHEADOD_564612_VAL"> 
        <div class="form-vertical"> 
         <div class="row"> 
          <div class="col-xs-12" ng-show="vc.viewState.VA_VASIMPLELABELLL_143612.visible"> 
           <div class="form-group"> 
            <label class="control-label">&nbsp;</label> 
            <div class="cb-control"> 
             <label id="VA_VASIMPLELABELLL_143612" ng-show="vc.viewState.VA_VASIMPLELABELLL_143612.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_143612.style"> {{vc.viewState.VA_VASIMPLELABELLL_143612.label|translate}} </label>
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <div id="G_LOANHEADRO_349612" ng-show="vc.viewState.G_LOANHEADRO_349612.visible" ng-class="vc.viewState.G_LOANHEADRO_349612.style" class="cb-group cb-group-simple"> 
       <div kendo-validator="G_LOANHEADRO_349612" k-options="validatorOptions" id="G_LOANHEADRO_349612_VAL"> 
        <div class="form-vertical"> 
         <div class="row"> 
          <div class="col-xs-7" ng-show="vc.viewState.VA_VASIMPLELABELLL_867612.visible"> 
           <div class="form-group" id="VA_VASIMPLELABELLL_867612_DIV"> 
            <label for="VA_VASIMPLELABELLL_867612" title="{{vc.viewState.VA_VASIMPLELABELLL_867612.label|translate:vc.viewState.VA_VASIMPLELABELLL_867612.labelArgs}}" ng-show="vc.viewState.VA_VASIMPLELABELLL_867612.visible" class="control-label">{{vc.viewState.VA_VASIMPLELABELLL_867612.label|translate:vc.viewState.VA_VASIMPLELABELLL_867612.labelArgs}} <span ng-class="vc.viewState.VA_VASIMPLELABELLL_867612.labelImageId"></span></label> 
            <div class="cb-control"> 
             <div> 
              <a id="VA_VASIMPLELABELLL_867612" href ng-click="vc.viewState.VA_VASIMPLELABELLL_867612.disabled || vc.executeCommand('VA_VASIMPLELABELLL_867612','loanBankID',validator,false, false,'', false)" class="form-control textlink" ng-disabled="vc.viewState.VA_VASIMPLELABELLL_867612.disabled || vc.viewState.VA_VASIMPLELABELLL_867612.disabledingroup" ng-show="vc.viewState.VA_VASIMPLELABELLL_867612.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_867612.style" ng-bind="vc.model.Loan.loanBankID"> </a> 
             </div> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-3" ng-show="vc.viewState.VA_VABUTTONWVITZRQ_108612.visible"> 
           <div class="form-group"> 
            <label class="control-label">&nbsp;</label> 
            <div class="cb-control"> 
             <button id="VA_VABUTTONWVITZRQ_108612" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONWVITZRQ_108612','VA_VABUTTONWVITZRQ_108612',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONWVITZRQ_108612.disabled || vc.viewState.VA_VABUTTONWVITZRQ_108612.disabledingroup" ng-show="vc.viewState.VA_VABUTTONWVITZRQ_108612.visible" ng-class="vc.viewState.VA_VABUTTONWVITZRQ_108612.style"> <span ng-class="vc.viewState.VA_VABUTTONWVITZRQ_108612.imageId"></span> {{vc.viewState.VA_VABUTTONWVITZRQ_108612.label|translate}} </button> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-2" ng-show="vc.viewState.VA_VABUTTONORYJAMS_468612.visible"> 
           <div class="form-group"> 
            <label class="control-label">&nbsp;</label> 
            <div class="cb-control"> 
             <button id="VA_VABUTTONORYJAMS_468612" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONORYJAMS_468612','VA_VABUTTONORYJAMS_468612',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONORYJAMS_468612.disabled || vc.viewState.VA_VABUTTONORYJAMS_468612.disabledingroup" ng-show="vc.viewState.VA_VABUTTONORYJAMS_468612.visible" ng-class="vc.viewState.VA_VABUTTONORYJAMS_468612.style"> <span ng-class="vc.viewState.VA_VABUTTONORYJAMS_468612.imageId"></span> {{vc.viewState.VA_VABUTTONORYJAMS_468612.label|translate}} </button> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <div id="G_LOANHEAINF_340612" ng-show="vc.viewState.G_LOANHEAINF_340612.visible" ng-class="vc.viewState.G_LOANHEAINF_340612.style" class="cb-group cb-group-simple"> 
       <div kendo-validator="G_LOANHEAINF_340612" k-options="validatorOptions" id="G_LOANHEAINF_340612_VAL"> 
        <div class="form-vertical"> 
         <div class="row"> 
          <div class="col-xs-1" ng-show="vc.viewState.VA_5034UOFCASVGKTK_993612.visible"> 
           <div class="form-group" id="VA_5034UOFCASVGKTK_993612_DIV"> 
            <label for="VA_5034UOFCASVGKTK_993612" title="{{vc.viewState.VA_5034UOFCASVGKTK_993612.label|translate:vc.viewState.VA_5034UOFCASVGKTK_993612.labelArgs}}" ng-show="vc.viewState.VA_5034UOFCASVGKTK_993612.visible" class="control-label">{{vc.viewState.VA_5034UOFCASVGKTK_993612.label|translate:vc.viewState.VA_5034UOFCASVGKTK_993612.labelArgs}}</label> 
            <div class="cb-control"> 
             <div id="VA_5034UOFCASVGKTK_993612" name="Loan_amount" class="form-control cb-no-border" ng-show="vc.viewState.VA_5034UOFCASVGKTK_993612.visible" ng-class="vc.viewState.VA_5034UOFCASVGKTK_993612.style">
               {{kendo.toString(vc.model.Loan.amount, 'c')}} 
             </div> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-1" ng-show="vc.viewState.VA_2463BHBNLZPKLMU_865612.visible"> 
           <div class="form-group" id="VA_2463BHBNLZPKLMU_865612_DIV"> 
            <label for="VA_2463BHBNLZPKLMU_865612" title="{{vc.viewState.VA_2463BHBNLZPKLMU_865612.label|translate:vc.viewState.VA_2463BHBNLZPKLMU_865612.labelArgs}}" ng-show="vc.viewState.VA_2463BHBNLZPKLMU_865612.visible" class="control-label">{{vc.viewState.VA_2463BHBNLZPKLMU_865612.label|translate:vc.viewState.VA_2463BHBNLZPKLMU_865612.labelArgs}}</label> 
            <div class="cb-control"> 
             <div id="VA_2463BHBNLZPKLMU_865612" name="Loan_balanceDue" class="form-control cb-no-border" ng-show="vc.viewState.VA_2463BHBNLZPKLMU_865612.visible" ng-class="vc.viewState.VA_2463BHBNLZPKLMU_865612.style">
               {{kendo.toString(vc.model.Loan.balanceDue, 'c')}} 
             </div> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-1" ng-show="vc.viewState.VA_3853RRTWBIRUGHQ_533612.visible"> 
           <div class="form-group" id="VA_3853RRTWBIRUGHQ_533612_DIV"> 
            <label for="VA_3853RRTWBIRUGHQ_533612" title="{{vc.viewState.VA_3853RRTWBIRUGHQ_533612.label|translate:vc.viewState.VA_3853RRTWBIRUGHQ_533612.labelArgs}}" ng-show="vc.viewState.VA_3853RRTWBIRUGHQ_533612.visible" class="control-label">{{vc.viewState.VA_3853RRTWBIRUGHQ_533612.label|translate:vc.viewState.VA_3853RRTWBIRUGHQ_533612.labelArgs}}</label> 
            <div class="cb-control"> 
             <div id="VA_3853RRTWBIRUGHQ_533612" name="Loan_status" class="form-control cb-no-border" ng-show="vc.viewState.VA_3853RRTWBIRUGHQ_533612.visible" ng-class="vc.viewState.VA_3853RRTWBIRUGHQ_533612.style">
               {{vc.model.Loan.status}} 
             </div> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-1" ng-show="vc.viewState.VA_7292SEAHPRAXOKC_868612.visible"> 
           <div class="form-group" id="VA_7292SEAHPRAXOKC_868612_DIV"> 
            <label for="VA_7292SEAHPRAXOKC_868612" title="{{vc.viewState.VA_7292SEAHPRAXOKC_868612.label|translate:vc.viewState.VA_7292SEAHPRAXOKC_868612.labelArgs}}" ng-show="vc.viewState.VA_7292SEAHPRAXOKC_868612.visible" class="control-label">{{vc.viewState.VA_7292SEAHPRAXOKC_868612.label|translate:vc.viewState.VA_7292SEAHPRAXOKC_868612.labelArgs}}</label> 
            <div class="cb-control"> 
             <div id="VA_7292SEAHPRAXOKC_868612" name="Loan_office" class="form-control cb-no-border" ng-show="vc.viewState.VA_7292SEAHPRAXOKC_868612.visible" ng-class="vc.viewState.VA_7292SEAHPRAXOKC_868612.style">
               {{vc.model.Loan.office}} 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <!-- Fin item VW_LOANHEADRN_612--> 
     </div> 
    </div> 
   </div> 
   <div id="VC_GBKYDENEAL_496275" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_GBKYDENEAL_496275', vc.viewState.VC_GBKYDENEAL_496275.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_GBKYDENEAL_496275.visible"> 
    <div id="VC_OCCPJFLCAB_318810" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_OCCPJFLCAB_318810', vc.viewState.VC_OCCPJFLCAB_318810.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_OCCPJFLCAB_318810.visible"> 
     <div id="VC_OCCPJFLCAB_318810_VAL" kendo-validator="VC_OCCPJFLCAB_318810" k-options="validatorOptions"> 
      <!-- Inicio item VW_DISBURSEME_405--> 
      <div id="G_DISBURSENT_411405" ng-class="vc.viewState.G_DISBURSENT_411405.style" class="cb-group cb-group-layout"> 
       <div id="G_DISBURSENT_411405_VAL" kendo-validator="G_DISBURSENT_411405" k-options="validatorOptions"> 
        <div class="row"> 
         <div class="col-xs-12"> 
          <div id="G_DISBURSEET_626405" class="cb-group cb-group-simple" ng-show="vc.viewState.G_DISBURSEET_626405.visible" ng-class="vc.viewState.G_DISBURSEET_626405.style"> 
           <div id="G_DISBURSEET_626405_VAL" kendo-validator="G_DISBURSEET_626405" k-options="validatorOptions"> 
            <div class="form-vertical"> 
             <div class="row"> 
              <div class="col-xs-3" ng-show="vc.viewState.Spacer2433.visible"> 
               <div class="form-group" id="Spacer2433_DIV"> 
                <label for="Spacer2433" title="{{vc.viewState.Spacer2433.label|translate:vc.viewState.Spacer2433.labelArgs}}" ng-show="vc.viewState.Spacer2433.visible" class="control-label">{{vc.viewState.Spacer2433.label|translate:vc.viewState.Spacer2433.labelArgs}}</label> 
                <div class="cb-control"> 
                 <input id="Spacer2433" name="LoanAdditionalInformation_dateToDisburse" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.LoanAdditionalInformation.dateToDisburse" ng-model="vc.tmpModel.LoanAdditionalInformation.dateToDisburse" ng-disabled="vc.viewState.Spacer2433.disabled || vc.viewState.Spacer2433.disabledingroup" ng-show="vc.viewState.Spacer2433.visible" ng-readonly="vc.viewState.Spacer2433.readonly" ng-class="vc.viewState.Spacer2433.style" data-cobis-group="GroupLayout,G_DISBURSENT_411405,0" data-validation-code="{{vc.viewState.Spacer2433.validationCode}}" /> 
                </div> 
               </div> 
              </div> 
              <div class="col-xs-6" ng-show="vc.viewState.VA_9687YKSEJAICISC_489405.visible"> 
               <div class="form-group" id="VA_9687YKSEJAICISC_489405_DIV"> 
                <label for="VA_9687YKSEJAICISC_489405" title="{{vc.viewState.VA_9687YKSEJAICISC_489405.label|translate:vc.viewState.VA_9687YKSEJAICISC_489405.labelArgs}}" ng-show="vc.viewState.VA_9687YKSEJAICISC_489405.visible" class="control-label">{{vc.viewState.VA_9687YKSEJAICISC_489405.label|translate:vc.viewState.VA_9687YKSEJAICISC_489405.labelArgs}}</label> 
                <div class="cb-control"> 
                 <input id="VA_9687YKSEJAICISC_489405" name="LoanAdditionalInformation_lblAmountToCancel" type="text" class="form-control" ng-model="vc.model.LoanAdditionalInformation.lblAmountToCancel" ng-disabled="vc.viewState.VA_9687YKSEJAICISC_489405.disabled || vc.viewState.VA_9687YKSEJAICISC_489405.disabledingroup" ng-show="vc.viewState.VA_9687YKSEJAICISC_489405.visible" ng-readonly="vc.viewState.VA_9687YKSEJAICISC_489405.readonly" ng-class="vc.viewState.VA_9687YKSEJAICISC_489405.style" data-cobis-group="GroupLayout,G_DISBURSENT_411405,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_9687YKSEJAICISC_489405.validationCode}}" /> 
                </div> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <div id="G_DISBURSTTM_328405" ng-class="vc.viewState.G_DISBURSTTM_328405.style" class="cb-group cb-group-layout"> 
       <div id="G_DISBURSTTM_328405_VAL" kendo-validator="G_DISBURSTTM_328405" k-options="validatorOptions"> 
        <div class="row"> 
         <div class="col-xs-3"> 
          <div id="G_DISBURSNEE_432405" class="cb-group cb-group-simple" ng-show="vc.viewState.G_DISBURSNEE_432405.visible" ng-class="vc.viewState.G_DISBURSNEE_432405.style"> 
           <div id="G_DISBURSNEE_432405_VAL" kendo-validator="G_DISBURSNEE_432405" k-options="validatorOptions"> 
            <div class="form-vertical"> 
             <div class="row"> 
              <div class="col-xs-12" ng-show="vc.viewState.VA_VASIMPLELABELLL_562405.visible"> 
               <div class="form-group"> 
                <label class="control-label">&nbsp;</label> 
                <div class="cb-control"> 
                 <label id="VA_VASIMPLELABELLL_562405" ng-show="vc.viewState.VA_VASIMPLELABELLL_562405.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_562405.style"> {{vc.viewState.VA_VASIMPLELABELLL_562405.label|translate}} </label>
                </div> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-9"> 
          <div id="G_DISBURSTTT_570405" class="cb-group cb-group-simple" ng-show="vc.viewState.G_DISBURSTTT_570405.visible" ng-class="vc.viewState.G_DISBURSTTT_570405.style"> 
           <div id="G_DISBURSTTT_570405_VAL" kendo-validator="G_DISBURSTTT_570405" k-options="validatorOptions"> 
            <div class="form-vertical"> 
             <div class="row"> 
              <div class="col-xs-12" ng-show="vc.viewState.VA_VASIMPLELABELLL_897405.visible"> 
               <div class="form-group"> 
                <label class="control-label">&nbsp;</label> 
                <div class="cb-control"> 
                 <label id="VA_VASIMPLELABELLL_897405" ng-show="vc.viewState.VA_VASIMPLELABELLL_897405.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_897405.style"> {{vc.viewState.VA_VASIMPLELABELLL_897405.label|translate}} </label>
                </div> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <div id="G_DISBURSETE_715405" ng-class="vc.viewState.G_DISBURSETE_715405.style" class="cb-group cb-group-layout"> 
       <div id="G_DISBURSETE_715405_VAL" kendo-validator="G_DISBURSETE_715405" k-options="validatorOptions"> 
        <div class="row"> 
         <div class="col-xs-3"> 
          <div id="G_DISBURSEET_695405" class="cb-group cb-group-simple" ng-show="vc.viewState.G_DISBURSEET_695405.visible" ng-class="vc.viewState.G_DISBURSEET_695405.style"> 
           <div id="G_DISBURSEET_695405_VAL" kendo-validator="G_DISBURSEET_695405" k-options="validatorOptions"> 
            <div id="QV_1603_21320" kendo-ext-grid="grids.QV_1603_21320" k-data-source="vc.model.DetailAmountsToCancel" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_1603_21320.editable" k-resizable="true" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="true" k-selectable="false" k-data-bound="vc.grids.QV_1603_21320.events.dataBound" k-columns="vc.grids.QV_1603_21320.columns" k-cancel="vc.grids.QV_1603_21320.events.cancel" k-edit="vc.grids.QV_1603_21320.events.edit" ng-class="vc.viewState.QV_1603_21320.style" k-ng-delay="vc.afterInitData"></div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-9"> 
          <div id="G_DISBURSETE_903405" class="cb-group cb-group-simple" ng-show="vc.viewState.G_DISBURSETE_903405.visible" ng-class="vc.viewState.G_DISBURSETE_903405.style"> 
           <div id="G_DISBURSETE_903405_VAL" kendo-validator="G_DISBURSETE_903405" k-options="validatorOptions"> 
            <div id="QV_5973_48889" kendo-ext-grid="grids.QV_5973_48889" k-data-source="vc.model.DetailPaymentForm" k-column-menu="false" k-sortable="false" k-pageable="{refresh: false, pageSizes: false, buttonCount: 5}" k-editable="vc.grids.QV_5973_48889.editable" k-toolbar="vc.grids.QV_5973_48889.toolbar" k-resizable="true" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="true" k-selectable="true" k-change="vc.grids.QV_5973_48889.events.change" k-data-bound="vc.grids.QV_5973_48889.events.dataBound" k-columns="vc.grids.QV_5973_48889.columns" k-cancel="vc.grids.QV_5973_48889.events.cancel" k-edit="vc.grids.QV_5973_48889.events.edit" ng-class="vc.viewState.QV_5973_48889.style" k-ng-delay="vc.afterInitData"></div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <div id="G_DISBURSEME_609405" ng-class="vc.viewState.G_DISBURSEME_609405.style" class="cb-group cb-group-layout"> 
       <div id="G_DISBURSEME_609405_VAL" kendo-validator="G_DISBURSEME_609405" k-options="validatorOptions"> 
        <div class="row"> 
         <div class="col-xs-3"> 
          <div id="G_DISBURSNTE_204405" class="cb-group cb-group-simple" ng-show="vc.viewState.G_DISBURSNTE_204405.visible" ng-class="vc.viewState.G_DISBURSNTE_204405.style"> 
           <div id="G_DISBURSNTE_204405_VAL" kendo-validator="G_DISBURSNTE_204405" k-options="validatorOptions"> 
            <div class="form-vertical"> 
             <div class="row"> 
              <div class="col-xs-12" ng-show="vc.viewState.Spacer1176.visible"> 
               <div class="form-group" id="Spacer1176_DIV"> 
                <label for="Spacer1176" title="{{vc.viewState.Spacer1176.label|translate:vc.viewState.Spacer1176.labelArgs}}" ng-show="vc.viewState.Spacer1176.visible" class="control-label">{{vc.viewState.Spacer1176.label|translate:vc.viewState.Spacer1176.labelArgs}}</label> 
                <div class="cb-control"> 
                 <div id="Spacer1176" name="LiquidateResult_sumTotal" class="form-control cb-no-border" ng-show="vc.viewState.Spacer1176.visible" ng-class="vc.viewState.Spacer1176.style">
                   {{kendo.toString(vc.model.LiquidateResult.sumTotal, 'c')}} 
                 </div> 
                </div> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-9"> 
          <div id="G_DISBURSEME_974405" class="cb-group cb-group-simple" ng-show="vc.viewState.G_DISBURSEME_974405.visible" ng-class="vc.viewState.G_DISBURSEME_974405.style"> 
           <div id="G_DISBURSEME_974405_VAL" kendo-validator="G_DISBURSEME_974405" k-options="validatorOptions"> 
            <div class="form-vertical"> 
             <div class="row"> 
              <div class="col-xs-12" ng-show="vc.viewState.Spacer1865.visible"> 
               <div class="form-group" id="Spacer1865_DIV"> 
                <label for="Spacer1865" title="{{vc.viewState.Spacer1865.label|translate:vc.viewState.Spacer1865.labelArgs}}" ng-show="vc.viewState.Spacer1865.visible" class="control-label">{{vc.viewState.Spacer1865.label|translate:vc.viewState.Spacer1865.labelArgs}}</label> 
                <div class="cb-control"> 
                 <div id="Spacer1865" name="DisbursementResult_sumTotal" class="form-control cb-no-border" ng-show="vc.viewState.Spacer1865.visible" ng-class="vc.viewState.Spacer1865.style">
                   {{kendo.toString(vc.model.DisbursementResult.sumTotal, 'c')}} 
                 </div> 
                </div> 
               </div> 
              </div> 
              <div class="col-xs-12" ng-show="vc.viewState.Spacer2275.visible"> 
               <div class="form-group" id="Spacer2275_DIV"> 
                <label for="Spacer2275" title="{{vc.viewState.Spacer2275.label|translate:vc.viewState.Spacer2275.labelArgs}}" ng-show="vc.viewState.Spacer2275.visible" class="control-label">{{vc.viewState.Spacer2275.label|translate:vc.viewState.Spacer2275.labelArgs}}</label> 
                <div class="cb-control"> 
                 <div id="Spacer2275" name="DisbursementResult_difference" class="form-control cb-no-border" ng-show="vc.viewState.Spacer2275.visible" ng-class="vc.viewState.Spacer2275.style">
                   {{kendo.toString(vc.model.DisbursementResult.difference, 'c')}} 
                 </div> 
                </div> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <!-- Fin item VW_DISBURSEME_405--> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc || !vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_TLOANDIS_S5N" ng-click="vc.executeCommand('CM_TLOANDIS_S5N','Command1', validator, false, false, 'VC_LOANDISBMN_824275', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_TLOANDIS_S5N.disabled || vc.viewState.CM_TLOANDIS_S5N.disabledingroup" ng-show="vc.viewState.CM_TLOANDIS_S5N.visible" ng-class="vc.viewState.CM_TLOANDIS_S5N.style"> {{vc.viewState.CM_TLOANDIS_S5N.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_LOANDISBURSAA_275_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_LOANDISBMN_824275')" ng-disabled="vc.viewState.T_LOANDISBURSAA_275_ACCEPT.disabled || vc.viewState.T_LOANDISBURSAA_275_ACCEPT.disabledingroup" ng-show="vc.viewState.T_LOANDISBURSAA_275_ACCEPT.visible" ng-class="vc.viewState.T_LOANDISBURSAA_275_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_LOANDISBURSAA_275_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_LOANDISBURSAA_275_CANCEL.disabled || vc.viewState.T_LOANDISBURSAA_275_CANCEL.disabledingroup" ng-show="vc.viewState.T_LOANDISBURSAA_275_CANCEL.visible" ng-class="vc.viewState.T_LOANDISBURSAA_275_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>