<!-- Designer Generator v 6.1.1 - release SPR 2017-07 13/04/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_EDITSHARAA_114411" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_EDITSHARAA_114411.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_EDITSHARAW_199--> 
  <div id="VC_EDITSHARAA_114411" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_EDITSHAWAN_609199" ng-class="vc.viewState.G_EDITSHAWAN_609199.style" class="cb-group cb-group-layout"> 
    <div id="G_EDITSHAWAN_609199_VAL" kendo-validator="G_EDITSHAWAN_609199" k-options="validatorOptions"> 
     <div id="G_EDITSHARAT_509199" class="cb-group cb-group-simple" ng-show="vc.viewState.G_EDITSHARAT_509199.visible" ng-class="vc.viewState.G_EDITSHARAT_509199.style"> 
      <div id="G_EDITSHARAT_509199_VAL" kendo-validator="G_EDITSHARAT_509199" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-12" ng-show="vc.viewState.VA_ABOWKFMPJZLZXXR_183199.visible"> 
          <div class="form-group cb-required" id="VA_ABOWKFMPJZLZXXR_183199_DIV"> 
           <label for="VA_ABOWKFMPJZLZXXR_183199" title="{{vc.viewState.VA_ABOWKFMPJZLZXXR_183199.label|translate:vc.viewState.VA_ABOWKFMPJZLZXXR_183199.labelArgs}}" ng-show="vc.viewState.VA_ABOWKFMPJZLZXXR_183199.visible" class="control-label">{{vc.viewState.VA_ABOWKFMPJZLZXXR_183199.label|translate:vc.viewState.VA_ABOWKFMPJZLZXXR_183199.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_ABOWKFMPJZLZXXR_183199" name="SharedEntityWarranty_entity" kendo-ext-combo-box="comboBox.VA_ABOWKFMPJZLZXXR_183199" ng-model="vc.model.SharedEntityWarranty.entity" ng-disabled="vc.viewState.VA_ABOWKFMPJZLZXXR_183199.disabled || vc.viewState.VA_ABOWKFMPJZLZXXR_183199.disabledingroup" ng-show="vc.viewState.VA_ABOWKFMPJZLZXXR_183199.visible" ng-readonly="vc.viewState.VA_ABOWKFMPJZLZXXR_183199.readonly" ng-class="vc.viewState.VA_ABOWKFMPJZLZXXR_183199.style" placeholder="vc.getPlaceHolder()" k-data-source="vc.catalogs.VA_ABOWKFMPJZLZXXR_183199" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_ABOWKFMPJZLZXXR_183199.template" data-cobis-group="GroupLayout,G_EDITSHAWAN_609199,0" required data-validation-code="{{vc.viewState.VA_ABOWKFMPJZLZXXR_183199.validationCode}}" data-required-msg="{{'BUSIN.MSG_BUSIN_ESOBLIGTO_69995'|translate}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-12" ng-show="vc.viewState.VA_SHAREDPERCENEEA_182199.visible"> 
          <div class="form-group cb-required" id="VA_SHAREDPERCENEEA_182199_DIV"> 
           <label for="VA_SHAREDPERCENEEA_182199" title="{{vc.viewState.VA_SHAREDPERCENEEA_182199.label|translate:vc.viewState.VA_SHAREDPERCENEEA_182199.labelArgs}}" ng-show="vc.viewState.VA_SHAREDPERCENEEA_182199.visible" class="control-label">{{vc.viewState.VA_SHAREDPERCENEEA_182199.label|translate:vc.viewState.VA_SHAREDPERCENEEA_182199.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_SHAREDPERCENEEA_182199" name="SharedEntityWarranty_sharedPercentage" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_SHAREDPERCENEEA_182199.format" k-decimals="vc.viewState.VA_SHAREDPERCENEEA_182199.decimals" k-ng-model="vc.model.SharedEntityWarranty.sharedPercentage" ng-model="vc.tmpModel.SharedEntityWarranty.sharedPercentage" ng-disabled="vc.viewState.VA_SHAREDPERCENEEA_182199.disabled || vc.viewState.VA_SHAREDPERCENEEA_182199.disabledingroup" ng-show="vc.viewState.VA_SHAREDPERCENEEA_182199.visible" ng-readonly="vc.viewState.VA_SHAREDPERCENEEA_182199.readonly" ng-class="vc.viewState.VA_SHAREDPERCENEEA_182199.style" data-cobis-group="GroupLayout,G_EDITSHAWAN_609199,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_SHAREDPERCENEEA_182199.validationCode}}" designer-change data-required-msg="{{'BUSIN.MSG_BUSIN_PORCENTIE_22249'|translate}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-12" ng-show="vc.viewState.VA_VALUEZCYWAOSXSB_793199.visible"> 
          <div class="form-group cb-required" id="VA_VALUEZCYWAOSXSB_793199_DIV"> 
           <label for="VA_VALUEZCYWAOSXSB_793199" title="{{vc.viewState.VA_VALUEZCYWAOSXSB_793199.label|translate:vc.viewState.VA_VALUEZCYWAOSXSB_793199.labelArgs}}" ng-show="vc.viewState.VA_VALUEZCYWAOSXSB_793199.visible" class="control-label">{{vc.viewState.VA_VALUEZCYWAOSXSB_793199.label|translate:vc.viewState.VA_VALUEZCYWAOSXSB_793199.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_VALUEZCYWAOSXSB_793199" name="SharedEntityWarranty_value" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_VALUEZCYWAOSXSB_793199.format" k-decimals="vc.viewState.VA_VALUEZCYWAOSXSB_793199.decimals" k-ng-model="vc.model.SharedEntityWarranty.value" ng-model="vc.tmpModel.SharedEntityWarranty.value" ng-disabled="vc.viewState.VA_VALUEZCYWAOSXSB_793199.disabled || vc.viewState.VA_VALUEZCYWAOSXSB_793199.disabledingroup" ng-show="vc.viewState.VA_VALUEZCYWAOSXSB_793199.visible" ng-readonly="vc.viewState.VA_VALUEZCYWAOSXSB_793199.readonly" ng-class="vc.viewState.VA_VALUEZCYWAOSXSB_793199.style" data-cobis-group="GroupLayout,G_EDITSHAWAN_609199,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_VALUEZCYWAOSXSB_793199.validationCode}}" designer-change data-required-msg="{{'BUSIN.MSG_BUSIN_VALORESRT_66754'|translate}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-12" ng-show="vc.viewState.VA_DATELLPDCWNLYFG_918199.visible"> 
          <div class="form-group" id="VA_DATELLPDCWNLYFG_918199_DIV"> 
           <label for="VA_DATELLPDCWNLYFG_918199" title="{{vc.viewState.VA_DATELLPDCWNLYFG_918199.label|translate:vc.viewState.VA_DATELLPDCWNLYFG_918199.labelArgs}}" ng-show="vc.viewState.VA_DATELLPDCWNLYFG_918199.visible" class="control-label">{{vc.viewState.VA_DATELLPDCWNLYFG_918199.label|translate:vc.viewState.VA_DATELLPDCWNLYFG_918199.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_DATELLPDCWNLYFG_918199" name="SharedEntityWarranty_date" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.SharedEntityWarranty.date" ng-model="vc.tmpModel.SharedEntityWarranty.date" ng-disabled="vc.viewState.VA_DATELLPDCWNLYFG_918199.disabled || vc.viewState.VA_DATELLPDCWNLYFG_918199.disabledingroup" ng-show="vc.viewState.VA_DATELLPDCWNLYFG_918199.visible" ng-readonly="vc.viewState.VA_DATELLPDCWNLYFG_918199.readonly" ng-class="vc.viewState.VA_DATELLPDCWNLYFG_918199.style" data-cobis-group="GroupLayout,G_EDITSHAWAN_609199,0" data-validation-code="{{vc.viewState.VA_DATELLPDCWNLYFG_918199.validationCode}}" designer-change /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-12" ng-show="vc.viewState.VA_CORPORATIONXKAV_654199.visible"> 
          <div class="form-group" id="VA_CORPORATIONXKAV_654199_DIV"> 
           <label for="VA_CORPORATIONXKAV_654199" title="{{vc.viewState.VA_CORPORATIONXKAV_654199.label|translate:vc.viewState.VA_CORPORATIONXKAV_654199.labelArgs}}" ng-show="vc.viewState.VA_CORPORATIONXKAV_654199.visible" class="control-label">{{vc.viewState.VA_CORPORATIONXKAV_654199.label|translate:vc.viewState.VA_CORPORATIONXKAV_654199.labelArgs}}</label> 
           <div class="cb-control"> 
            <div id="VA_CORPORATIONXKAV_654199" name="SharedEntityWarranty_corporation" class="form-control cb-no-border" ng-show="vc.viewState.VA_CORPORATIONXKAV_654199.visible" ng-class="vc.viewState.VA_CORPORATIONXKAV_654199.style">
              {{kendo.toString(vc.model.SharedEntityWarranty.corporation, 'n')}} 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-12" ng-show="vc.viewState.VA_BOOKVALUEJZWNPR_556199.visible"> 
          <div class="form-group" id="VA_BOOKVALUEJZWNPR_556199_DIV"> 
           <label for="VA_BOOKVALUEJZWNPR_556199" title="{{vc.viewState.VA_BOOKVALUEJZWNPR_556199.label|translate:vc.viewState.VA_BOOKVALUEJZWNPR_556199.labelArgs}}" ng-show="vc.viewState.VA_BOOKVALUEJZWNPR_556199.visible" class="control-label">{{vc.viewState.VA_BOOKVALUEJZWNPR_556199.label|translate:vc.viewState.VA_BOOKVALUEJZWNPR_556199.labelArgs}}</label> 
           <div class="cb-control"> 
            <div id="VA_BOOKVALUEJZWNPR_556199" name="SharedEntityWarranty_bookValue" class="form-control cb-no-border" ng-show="vc.viewState.VA_BOOKVALUEJZWNPR_556199.visible" ng-class="vc.viewState.VA_BOOKVALUEJZWNPR_556199.style">
              {{kendo.toString(vc.model.SharedEntityWarranty.bookValue, 'c')}} 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-12" ng-show="vc.viewState.VA_VALUECOMERCIALL_764199.visible"> 
          <div class="form-group" id="VA_VALUECOMERCIALL_764199_DIV"> 
           <label for="VA_VALUECOMERCIALL_764199" title="{{vc.viewState.VA_VALUECOMERCIALL_764199.label|translate:vc.viewState.VA_VALUECOMERCIALL_764199.labelArgs}}" ng-show="vc.viewState.VA_VALUECOMERCIALL_764199.visible" class="control-label">{{vc.viewState.VA_VALUECOMERCIALL_764199.label|translate:vc.viewState.VA_VALUECOMERCIALL_764199.labelArgs}}</label> 
           <div class="cb-control"> 
            <div id="VA_VALUECOMERCIALL_764199" name="SharedEntityWarranty_valueComercial" class="form-control cb-no-border" ng-show="vc.viewState.VA_VALUECOMERCIALL_764199.visible" ng-class="vc.viewState.VA_VALUECOMERCIALL_764199.style">
              {{kendo.toString(vc.model.SharedEntityWarranty.valueComercial, 'c')}} 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_EDITSHARAW_199--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_TEDITSHA_1AA" ng-click="vc.executeCommand('CM_TEDITSHA_1AA','Aceptar', validator, true, false, 'VC_EDITSHARAA_114411', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_TEDITSHA_1AA.disabled || vc.viewState.CM_TEDITSHA_1AA.disabledingroup" ng-show="vc.viewState.CM_TEDITSHA_1AA.visible" ng-class="vc.viewState.CM_TEDITSHA_1AA.style"> {{vc.viewState.CM_TEDITSHA_1AA.label|translate}} </button> 
    <button id="CM_TEDITSHA__R_" ng-click="vc.executeCommand('CM_TEDITSHA__R_','Cancelar', validator, false, false, 'VC_EDITSHARAA_114411', false)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_TEDITSHA__R_.disabled || vc.viewState.CM_TEDITSHA__R_.disabledingroup" ng-show="vc.viewState.CM_TEDITSHA__R_.visible" ng-class="vc.viewState.CM_TEDITSHA__R_.style"> {{vc.viewState.CM_TEDITSHA__R_.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_EDITSHAREDTAR_411_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_EDITSHARAA_114411')" ng-disabled="vc.viewState.T_EDITSHAREDTAR_411_ACCEPT.disabled || vc.viewState.T_EDITSHAREDTAR_411_ACCEPT.disabledingroup" ng-show="vc.viewState.T_EDITSHAREDTAR_411_ACCEPT.visible" ng-class="vc.viewState.T_EDITSHAREDTAR_411_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_EDITSHAREDTAR_411_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_EDITSHAREDTAR_411_CANCEL.disabled || vc.viewState.T_EDITSHAREDTAR_411_CANCEL.disabledingroup" ng-show="vc.viewState.T_EDITSHAREDTAR_411_CANCEL.visible" ng-class="vc.viewState.T_EDITSHAREDTAR_411_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>