<!-- Designer Generator v 6.4.0.2 - SPR 2018-13 26/06/2018 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_VIEWALERES_934341" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_VIEWALERES_934341.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_VIEWALERTS_173--> 
  <div id="VC_VIEWALERES_934341" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_VIEWALEDTT_299173" ng-show="vc.viewState.G_VIEWALEDTT_299173.visible" ng-class="vc.viewState.G_VIEWALEDTT_299173.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_VIEWALEDTT_299173" k-options="validatorOptions" id="G_VIEWALEDTT_299173_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_6316JFVGVVCUOPG_835173.visible"> 
        <div class="form-group" id="VA_6316JFVGVVCUOPG_835173_DIV"> 
         <label for="VA_6316JFVGVVCUOPG_835173" title="{{vc.viewState.VA_6316JFVGVVCUOPG_835173.label|translate:vc.viewState.VA_6316JFVGVVCUOPG_835173.labelArgs}}" ng-show="vc.viewState.VA_6316JFVGVVCUOPG_835173.visible" class="control-label">{{vc.viewState.VA_6316JFVGVVCUOPG_835173.label|translate:vc.viewState.VA_6316JFVGVVCUOPG_835173.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_6316JFVGVVCUOPG_835173" name="WarningRisk_statusAlert" kendo-ext-combo-box="comboBox.VA_6316JFVGVVCUOPG_835173" ng-model="vc.model.WarningRisk.statusAlert" ng-disabled="vc.viewState.VA_6316JFVGVVCUOPG_835173.disabled || vc.viewState.VA_6316JFVGVVCUOPG_835173.disabledingroup" ng-show="vc.viewState.VA_6316JFVGVVCUOPG_835173.visible" ng-readonly="vc.viewState.VA_6316JFVGVVCUOPG_835173.readonly" ng-class="vc.viewState.VA_6316JFVGVVCUOPG_835173.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_6316JFVGVVCUOPG_835173" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_6316JFVGVVCUOPG_835173.template" data-cobis-group="Group,G_VIEWALEDTT_299173,0" data-validation-code="{{vc.viewState.VA_6316JFVGVVCUOPG_835173.validationCode}}" designer-change /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_7144TPKQRNCGGEO_365173.visible"> 
        <div class="form-group" id="VA_7144TPKQRNCGGEO_365173_DIV"> 
         <label for="VA_7144TPKQRNCGGEO_365173" title="{{vc.viewState.VA_7144TPKQRNCGGEO_365173.label|translate:vc.viewState.VA_7144TPKQRNCGGEO_365173.labelArgs}}" ng-show="vc.viewState.VA_7144TPKQRNCGGEO_365173.visible" class="control-label">{{vc.viewState.VA_7144TPKQRNCGGEO_365173.label|translate:vc.viewState.VA_7144TPKQRNCGGEO_365173.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_7144TPKQRNCGGEO_365173" name="WarningRisk_generateReports" kendo-ext-combo-box="comboBox.VA_7144TPKQRNCGGEO_365173" ng-model="vc.model.WarningRisk.generateReports" ng-disabled="vc.viewState.VA_7144TPKQRNCGGEO_365173.disabled || vc.viewState.VA_7144TPKQRNCGGEO_365173.disabledingroup" ng-show="vc.viewState.VA_7144TPKQRNCGGEO_365173.visible" ng-readonly="vc.viewState.VA_7144TPKQRNCGGEO_365173.readonly" ng-class="vc.viewState.VA_7144TPKQRNCGGEO_365173.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_7144TPKQRNCGGEO_365173" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_7144TPKQRNCGGEO_365173.template" data-cobis-group="Group,G_VIEWALEDTT_299173,0" data-validation-code="{{vc.viewState.VA_7144TPKQRNCGGEO_365173.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-8" ng-show="vc.viewState.VA_3831FTIGRDFHULJ_171173.visible"> 
        <div class="form-group" id="VA_3831FTIGRDFHULJ_171173_DIV"> 
         <label for="VA_3831FTIGRDFHULJ_171173" title="{{vc.viewState.VA_3831FTIGRDFHULJ_171173.label|translate:vc.viewState.VA_3831FTIGRDFHULJ_171173.labelArgs}}" ng-show="vc.viewState.VA_3831FTIGRDFHULJ_171173.visible" class="control-label">{{vc.viewState.VA_3831FTIGRDFHULJ_171173.label|translate:vc.viewState.VA_3831FTIGRDFHULJ_171173.labelArgs}}</label> 
         <div class="cb-control"> 
          <textarea id="VA_3831FTIGRDFHULJ_171173" style="resize: none; width:100%" rows="8" name="WarningRisk_observations" maxlength="500" type="text" class="form-control" ng-model="vc.model.WarningRisk.observations" ng-disabled="vc.viewState.VA_3831FTIGRDFHULJ_171173.disabled || vc.viewState.VA_3831FTIGRDFHULJ_171173.disabledingroup" ng-show="vc.viewState.VA_3831FTIGRDFHULJ_171173.visible" ng-readonly="vc.viewState.VA_3831FTIGRDFHULJ_171173.readonly" ng-class="vc.viewState.VA_3831FTIGRDFHULJ_171173.style" data-cobis-group="Group,G_VIEWALEDTT_299173,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_3831FTIGRDFHULJ_171173.validationCode}}"></textarea> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer2820.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONXWSXRPU_614173.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONXWSXRPU_614173" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONXWSXRPU_614173','VA_VABUTTONXWSXRPU_614173',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONXWSXRPU_614173.disabled || vc.viewState.VA_VABUTTONXWSXRPU_614173.disabledingroup" ng-show="vc.viewState.VA_VABUTTONXWSXRPU_614173.visible" ng-class="vc.viewState.VA_VABUTTONXWSXRPU_614173.style"> {{vc.viewState.VA_VABUTTONXWSXRPU_614173.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONXANXRER_647173.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONXANXRER_647173" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONXANXRER_647173','VA_VABUTTONXANXRER_647173',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONXANXRER_647173.disabled || vc.viewState.VA_VABUTTONXANXRER_647173.disabledingroup" ng-show="vc.viewState.VA_VABUTTONXANXRER_647173.visible" ng-class="vc.viewState.VA_VABUTTONXANXRER_647173.style"> {{vc.viewState.VA_VABUTTONXANXRER_647173.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_VIEWALERTS_173--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_CSTMRVFHHHDDJ_341_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_VIEWALERES_934341')" ng-disabled="vc.viewState.T_CSTMRVFHHHDDJ_341_ACCEPT.disabled || vc.viewState.T_CSTMRVFHHHDDJ_341_ACCEPT.disabledingroup" ng-show="vc.viewState.T_CSTMRVFHHHDDJ_341_ACCEPT.visible" ng-class="vc.viewState.T_CSTMRVFHHHDDJ_341_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_CSTMRVFHHHDDJ_341_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_CSTMRVFHHHDDJ_341_CANCEL.disabled || vc.viewState.T_CSTMRVFHHHDDJ_341_CANCEL.disabledingroup" ng-show="vc.viewState.T_CSTMRVFHHHDDJ_341_CANCEL.visible" ng-class="vc.viewState.T_CSTMRVFHHHDDJ_341_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>