<!-- Designer Generator v 5.0.0.1626 - release SPR 2016-26 08/01/2016 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_VXEOU08_VCBOS_637" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_VXEOU08_VCBOS_637.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_VXEOU08_VCBOS_637" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="GR_XCUTVUSRIS90_90" ng-class="vc.viewState.GR_XCUTVUSRIS90_90.style" class="cb-group cb-group-layout"> 
    <div id="GR_XCUTVUSRIS90_90_VAL" kendo-validator="GR_XCUTVUSRIS90_90" k-options="validatorOptions"> 
     <div id="GR_XCUTVUSRIS90_46" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_XCUTVUSRIS90_46.visible" ng-class="vc.viewState.GR_XCUTVUSRIS90_46.style"> 
      <div id="GR_XCUTVUSRIS90_46_VAL" kendo-validator="GR_XCUTVUSRIS90_46" k-options="validatorOptions"> 
       <div class="form-horizontal"> 
        <div class="row"> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_XCUTVUSRIS9046_IDOD354.visible"> 
          <div class="form-group" id="VA_XCUTVUSRIS9046_IDOD354_DIV"> 
           <label for="VA_XCUTVUSRIS9046_IDOD354" title="{{vc.viewState.VA_XCUTVUSRIS9046_IDOD354.label|translate:vc.viewState.VA_XCUTVUSRIS9046_IDOD354.labelArgs}}" ng-show="vc.viewState.VA_XCUTVUSRIS9046_IDOD354.visible" class="col-sm-4 control-label">{{vc.viewState.VA_XCUTVUSRIS9046_IDOD354.label|translate:vc.viewState.VA_XCUTVUSRIS9046_IDOD354.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div class="cb-control"> 
             <input id="VA_XCUTVUSRIS9046_IDOD354" name="ExecutiveBonusHeader_idCode" maxlength="20" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_XCUTVUSRIS9046_IDOD354.decimals" k-format="vc.viewState.VA_XCUTVUSRIS9046_IDOD354.format" k-ng-model="vc.model.ExecutiveBonusHeader.idCode" ng-model="vc.tmpModel.ExecutiveBonusHeader.idCode" ng-disabled="vc.viewState.VA_XCUTVUSRIS9046_IDOD354.disabled || vc.viewState.VA_XCUTVUSRIS9046_IDOD354.disabledingroup" ng-show="vc.viewState.VA_XCUTVUSRIS9046_IDOD354.visible" ng-readonly="vc.viewState.VA_XCUTVUSRIS9046_IDOD354.readonly" ng-class="vc.viewState.VA_XCUTVUSRIS9046_IDOD354.style" data-cobis-group="Group,GR_XCUTVUSRIS90_90,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_XCUTVUSRIS9046_IDOD354.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_XCUTVUSRIS9046_DATE837.visible"> 
          <div class="form-group" id="VA_XCUTVUSRIS9046_DATE837_DIV"> 
           <label for="VA_XCUTVUSRIS9046_DATE837" title="{{vc.viewState.VA_XCUTVUSRIS9046_DATE837.label|translate:vc.viewState.VA_XCUTVUSRIS9046_DATE837.labelArgs}}" ng-show="vc.viewState.VA_XCUTVUSRIS9046_DATE837.visible" class="col-sm-4 control-label">{{vc.viewState.VA_XCUTVUSRIS9046_DATE837.label|translate:vc.viewState.VA_XCUTVUSRIS9046_DATE837.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div class="cb-control"> 
             <input id="VA_XCUTVUSRIS9046_DATE837" name="ExecutiveBonusHeader_dateProcess" maxlength="20" type="text" class="form-control" ng-model="vc.model.ExecutiveBonusHeader.dateProcess" ng-disabled="vc.viewState.VA_XCUTVUSRIS9046_DATE837.disabled || vc.viewState.VA_XCUTVUSRIS9046_DATE837.disabledingroup" ng-show="vc.viewState.VA_XCUTVUSRIS9046_DATE837.visible" ng-readonly="vc.viewState.VA_XCUTVUSRIS9046_DATE837.readonly" ng-class="vc.viewState.VA_XCUTVUSRIS9046_DATE837.style" data-cobis-group="Group,GR_XCUTVUSRIS90_90,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_XCUTVUSRIS9046_DATE837.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_XCUTVUSRIS9046_STTS305.visible"> 
          <div class="form-group" id="VA_XCUTVUSRIS9046_STTS305_DIV"> 
           <label for="VA_XCUTVUSRIS9046_STTS305" title="{{vc.viewState.VA_XCUTVUSRIS9046_STTS305.label|translate:vc.viewState.VA_XCUTVUSRIS9046_STTS305.labelArgs}}" ng-show="vc.viewState.VA_XCUTVUSRIS9046_STTS305.visible" class="col-sm-4 control-label">{{vc.viewState.VA_XCUTVUSRIS9046_STTS305.label|translate:vc.viewState.VA_XCUTVUSRIS9046_STTS305.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div class="cb-control"> 
             <input id="VA_XCUTVUSRIS9046_STTS305" name="ExecutiveBonusHeader_status" kendo-ext-combo-box="comboBox.VA_XCUTVUSRIS9046_STTS305" ng-model="vc.model.ExecutiveBonusHeader.status" ng-disabled="vc.viewState.VA_XCUTVUSRIS9046_STTS305.disabled || vc.viewState.VA_XCUTVUSRIS9046_STTS305.disabledingroup" ng-show="vc.viewState.VA_XCUTVUSRIS9046_STTS305.visible" ng-readonly="vc.viewState.VA_XCUTVUSRIS9046_STTS305.readonly" ng-class="vc.viewState.VA_XCUTVUSRIS9046_STTS305.style" k-data-source="vc.catalogs.VA_XCUTVUSRIS9046_STTS305" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_XCUTVUSRIS9046_STTS305.template" data-cobis-group="Group,GR_XCUTVUSRIS90_90,0" data-validation-code="{{vc.viewState.VA_XCUTVUSRIS9046_STTS305.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_XCUTVUSRIS9046_XEIE115.visible"> 
          <div class="form-group" id="VA_XCUTVUSRIS9046_XEIE115_DIV"> 
           <label for="VA_XCUTVUSRIS9046_XEIE115" title="{{vc.viewState.VA_XCUTVUSRIS9046_XEIE115.label|translate:vc.viewState.VA_XCUTVUSRIS9046_XEIE115.labelArgs}}" ng-show="vc.viewState.VA_XCUTVUSRIS9046_XEIE115.visible" class="col-sm-4 control-label">{{vc.viewState.VA_XCUTVUSRIS9046_XEIE115.label|translate:vc.viewState.VA_XCUTVUSRIS9046_XEIE115.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div class="cb-control"> 
             <input id="VA_XCUTVUSRIS9046_XEIE115" name="ExecutiveBonusHeader_executive" maxlength="200" type="text" class="form-control" ng-model="vc.model.ExecutiveBonusHeader.executive" ng-disabled="vc.viewState.VA_XCUTVUSRIS9046_XEIE115.disabled || vc.viewState.VA_XCUTVUSRIS9046_XEIE115.disabledingroup" ng-show="vc.viewState.VA_XCUTVUSRIS9046_XEIE115.visible" ng-readonly="vc.viewState.VA_XCUTVUSRIS9046_XEIE115.readonly" ng-class="vc.viewState.VA_XCUTVUSRIS9046_XEIE115.style" data-cobis-group="Group,GR_XCUTVUSRIS90_90,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_XCUTVUSRIS9046_XEIE115.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <fieldset id="GR_XCUTVUSRIS90_33" ng-show="vc.viewState.GR_XCUTVUSRIS90_33.visible" ng-class="vc.viewState.GR_XCUTVUSRIS90_33.style" class="cb-group cb-group-simple"> 
      <legend> <span ng-bind="vc.viewState.GR_XCUTVUSRIS90_33.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.GR_XCUTVUSRIS90_33.statusStyle.success, 'cb-validation-fail': vc.viewState.GR_XCUTVUSRIS90_33.statusStyle.fail, 'cb-validation-none': vc.viewState.GR_XCUTVUSRIS90_33.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.GR_XCUTVUSRIS90_33.label|translate}}</span> </legend> 
      <div id="GR_XCUTVUSRIS90_33_VAL" kendo-validator="GR_XCUTVUSRIS90_33" k-options="validatorOptions"> 
       <div id="QV_QRYXU8599_55" kendo-ext-grid="grids.QV_QRYXU8599_55" k-data-source="vc.model.ExecutiveBonusDetails" k-column-menu="false" k-sortable="false" k-editable="vc.viewState.GR_XCUTVUSRIS90_33.disabled?false:'inline'" k-toolbar="vc.grids.QV_QRYXU8599_55.toolbar" k-resizable="true" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="true" k-selectable="true" k-change="vc.grids.QV_QRYXU8599_55.events.change" k-data-bound="vc.grids.QV_QRYXU8599_55.events.dataBound" k-columns="vc.grids.QV_QRYXU8599_55.columns" k-cancel="vc.grids.QV_QRYXU8599_55.events.cancel" k-edit="vc.grids.QV_QRYXU8599_55.events.edit" ng-class="vc.viewState.QV_QRYXU8599_55.style" k-ng-delay="vc.afterInitData"></div> 
      </div> 
     </fieldset> 
     <fieldset id="GR_XCUTVUSRIS90_89" ng-show="vc.viewState.GR_XCUTVUSRIS90_89.visible" ng-class="vc.viewState.GR_XCUTVUSRIS90_89.style" class="cb-group cb-group-simple"> 
      <legend> <span ng-bind="vc.viewState.GR_XCUTVUSRIS90_89.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.GR_XCUTVUSRIS90_89.statusStyle.success, 'cb-validation-fail': vc.viewState.GR_XCUTVUSRIS90_89.statusStyle.fail, 'cb-validation-none': vc.viewState.GR_XCUTVUSRIS90_89.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.GR_XCUTVUSRIS90_89.label|translate}}</span> </legend> 
      <div id="GR_XCUTVUSRIS90_89_VAL" kendo-validator="GR_XCUTVUSRIS90_89" k-options="validatorOptions"> 
       <div id="QV_CECVO1975_71" kendo-ext-grid="grids.QV_CECVO1975_71" k-data-source="vc.model.ExecutiveBonusDetailsRisk" k-column-menu="false" k-sortable="false" k-editable="vc.viewState.GR_XCUTVUSRIS90_89.disabled?false:'inline'" k-resizable="true" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="true" k-selectable="true" k-change="vc.grids.QV_CECVO1975_71.events.change" k-data-bound="vc.grids.QV_CECVO1975_71.events.dataBound" k-columns="vc.grids.QV_CECVO1975_71.columns" k-cancel="vc.grids.QV_CECVO1975_71.events.cancel" k-edit="vc.grids.QV_CECVO1975_71.events.edit" ng-class="vc.viewState.QV_CECVO1975_71.style" k-ng-delay="vc.afterInitData"></div> 
      </div> 
     </fieldset> 
    </div> 
   </div> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_VXEOU08OAR07" ng-click="vc.executeCommand('CM_VXEOU08OAR07','Aprobar', validator, true, false, 'VC_VXEOU08_VCBOS_637', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_VXEOU08OAR07.disabled || vc.viewState.CM_VXEOU08OAR07.disabledingroup" ng-show="vc.viewState.CM_VXEOU08OAR07.visible" ng-class="vc.viewState.CM_VXEOU08OAR07.style"> {{vc.viewState.CM_VXEOU08OAR07.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_FLCRE_57_VXEOU08_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_VXEOU08_VCBOS_637')" ng-disabled="vc.viewState.T_FLCRE_57_VXEOU08_ACCEPT.disabled || vc.viewState.T_FLCRE_57_VXEOU08_ACCEPT.disabledingroup" ng-show="vc.viewState.T_FLCRE_57_VXEOU08_ACCEPT.visible" ng-class="vc.viewState.T_FLCRE_57_VXEOU08_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_FLCRE_57_VXEOU08_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_FLCRE_57_VXEOU08_CANCEL.disabled || vc.viewState.T_FLCRE_57_VXEOU08_CANCEL.disabledingroup" ng-show="vc.viewState.T_FLCRE_57_VXEOU08_CANCEL.visible" ng-class="vc.viewState.T_FLCRE_57_VXEOU08_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>