<!-- Designer Generator v 6.3.3 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_AMORTIZATE_895881" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_AMORTIZATE_895881.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_AMORTIZAQA_813--> 
  <div id="VC_AMORTIZATE_895881" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_AMORTIZLIA_656813" ng-show="vc.viewState.G_AMORTIZLIA_656813.visible" ng-class="vc.viewState.G_AMORTIZLIA_656813.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_AMORTIZLIA_656813" k-options="validatorOptions" id="G_AMORTIZLIA_656813_VAL"> 
     <div id="QV_8477_65404" kendo-ext-grid="grids.QV_8477_65404" k-data-source="vc.model.AmortizationQuoteDetail" k-column-menu="false" k-sortable="false" k-pageable="{refresh: false, pageSizes: false, buttonCount: 5}" k-editable="vc.grids.QV_8477_65404.editable" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_8477_65404.events.dataBound" k-columns="vc.grids.QV_8477_65404.columns" k-cancel="vc.grids.QV_8477_65404.events.cancel" k-edit="vc.grids.QV_8477_65404.events.edit" ng-class="vc.viewState.QV_8477_65404.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_AMORTIZAQA_813--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_AMORTIZATIDTE_881_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_AMORTIZATE_895881')" ng-disabled="vc.viewState.T_AMORTIZATIDTE_881_ACCEPT.disabled || vc.viewState.T_AMORTIZATIDTE_881_ACCEPT.disabledingroup" ng-show="vc.viewState.T_AMORTIZATIDTE_881_ACCEPT.visible" ng-class="vc.viewState.T_AMORTIZATIDTE_881_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_AMORTIZATIDTE_881_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_AMORTIZATIDTE_881_CANCEL.disabled || vc.viewState.T_AMORTIZATIDTE_881_CANCEL.disabledingroup" ng-show="vc.viewState.T_AMORTIZATIDTE_881_CANCEL.visible" ng-class="vc.viewState.T_AMORTIZATIDTE_881_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>