<!-- Designer Generator v 6.3.3 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_REPORTSEEL_593126" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_REPORTSEEL_593126.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_REPORTSEEL_621--> 
  <div id="VC_REPORTSEEL_593126" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_REPORTSTTE_334621" ng-class="vc.viewState.G_REPORTSTTE_334621.style" class="cb-group cb-group-layout"> 
    <div id="G_REPORTSTTE_334621_VAL" kendo-validator="G_REPORTSTTE_334621" k-options="validatorOptions"> 
     <fieldset id="G_REPORTSEHE_224621" ng-show="vc.viewState.G_REPORTSEHE_224621.visible" ng-class="vc.viewState.G_REPORTSEHE_224621.style" class="cb-group cb-group-simple"> 
      <legend> <span ng-bind="vc.viewState.G_REPORTSEHE_224621.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.G_REPORTSEHE_224621.statusStyle.success, 'cb-validation-fail': vc.viewState.G_REPORTSEHE_224621.statusStyle.fail, 'cb-validation-none': vc.viewState.G_REPORTSEHE_224621.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.G_REPORTSEHE_224621.label|translate}}</span> </legend> 
      <div id="G_REPORTSEHE_224621_VAL" kendo-validator="G_REPORTSEHE_224621" k-options="validatorOptions"> 
       <div class="form-horizontal"> 
        <div class="row"> 
         <div class="col-xs-4" ng-show="vc.viewState.Spacer2395.visible"> 
          <div class="form-group cb-spacer cb-spacer-h"> 
           <label class="control-label col-sm-4">&nbsp;</label> 
           <div class="col-sm-8"> 
            <span class="cb-control"></span> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.Spacer2746.visible"> 
          <div class="form-group cb-spacer cb-spacer-h"> 
           <label class="control-label col-sm-4">&nbsp;</label> 
           <div class="col-sm-8"> 
            <span class="cb-control"></span> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_CURRENTDATEBVTX_245621.visible"> 
          <div class="form-group" id="VA_CURRENTDATEBVTX_245621_DIV"> 
           <label for="VA_CURRENTDATEBVTX_245621" title="{{vc.viewState.VA_CURRENTDATEBVTX_245621.label|translate:vc.viewState.VA_CURRENTDATEBVTX_245621.labelArgs}}" ng-show="vc.viewState.VA_CURRENTDATEBVTX_245621.visible" class="col-sm-4 control-label">{{vc.viewState.VA_CURRENTDATEBVTX_245621.label|translate:vc.viewState.VA_CURRENTDATEBVTX_245621.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div class="cb-control"> 
             <div id="VA_CURRENTDATEBVTX_245621" name="GeneralInformation_currentDate" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_CURRENTDATEBVTX_245621.visible" ng-class="vc.viewState.VA_CURRENTDATEBVTX_245621.style">
               {{kendo.toString(vc.model.GeneralInformation.currentDate, '')}} 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_DATEPAYMENTEXYR_819621.visible"> 
          <div class="form-group" id="VA_DATEPAYMENTEXYR_819621_DIV"> 
           <label for="VA_DATEPAYMENTEXYR_819621" title="{{vc.viewState.VA_DATEPAYMENTEXYR_819621.label|translate:vc.viewState.VA_DATEPAYMENTEXYR_819621.labelArgs}}" ng-show="vc.viewState.VA_DATEPAYMENTEXYR_819621.visible" class="col-sm-4 control-label">{{vc.viewState.VA_DATEPAYMENTEXYR_819621.label|translate:vc.viewState.VA_DATEPAYMENTEXYR_819621.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div class="cb-control"> 
             <div id="VA_DATEPAYMENTEXYR_819621" name="GeneralInformation_datePayment" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_DATEPAYMENTEXYR_819621.visible" ng-class="vc.viewState.VA_DATEPAYMENTEXYR_819621.style">
               {{kendo.toString(vc.model.GeneralInformation.datePayment, '')}} 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_GROUPNAMECDIURB_985621.visible"> 
          <div class="form-group" id="VA_GROUPNAMECDIURB_985621_DIV"> 
           <label for="VA_GROUPNAMECDIURB_985621" title="{{vc.viewState.VA_GROUPNAMECDIURB_985621.label|translate:vc.viewState.VA_GROUPNAMECDIURB_985621.labelArgs}}" ng-show="vc.viewState.VA_GROUPNAMECDIURB_985621.visible" class="col-sm-4 control-label">{{vc.viewState.VA_GROUPNAMECDIURB_985621.label|translate:vc.viewState.VA_GROUPNAMECDIURB_985621.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div class="cb-control"> 
             <div id="VA_GROUPNAMECDIURB_985621" name="GeneralInformation_groupName" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_GROUPNAMECDIURB_985621.visible" ng-class="vc.viewState.VA_GROUPNAMECDIURB_985621.style">
               {{kendo.toString(vc.model.GeneralInformation.groupName, '')}} 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_CODEEOKPJDVJIMO_201621.visible"> 
          <div class="form-group" id="VA_CODEEOKPJDVJIMO_201621_DIV"> 
           <label for="VA_CODEEOKPJDVJIMO_201621" title="{{vc.viewState.VA_CODEEOKPJDVJIMO_201621.label|translate:vc.viewState.VA_CODEEOKPJDVJIMO_201621.labelArgs}}" ng-show="vc.viewState.VA_CODEEOKPJDVJIMO_201621.visible" class="col-sm-4 control-label">{{vc.viewState.VA_CODEEOKPJDVJIMO_201621.label|translate:vc.viewState.VA_CODEEOKPJDVJIMO_201621.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div class="cb-control"> 
             <div id="VA_CODEEOKPJDVJIMO_201621" name="GeneralInformation_code" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_CODEEOKPJDVJIMO_201621.visible" ng-class="vc.viewState.VA_CODEEOKPJDVJIMO_201621.style">
               {{kendo.toString(vc.model.GeneralInformation.code, 'n0')}} 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_AMOUNTAPPROVDDE_369621.visible"> 
          <div class="form-group" id="VA_AMOUNTAPPROVDDE_369621_DIV"> 
           <label for="VA_AMOUNTAPPROVDDE_369621" title="{{vc.viewState.VA_AMOUNTAPPROVDDE_369621.label|translate:vc.viewState.VA_AMOUNTAPPROVDDE_369621.labelArgs}}" ng-show="vc.viewState.VA_AMOUNTAPPROVDDE_369621.visible" class="col-sm-4 control-label">{{vc.viewState.VA_AMOUNTAPPROVDDE_369621.label|translate:vc.viewState.VA_AMOUNTAPPROVDDE_369621.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div class="cb-control"> 
             <div id="VA_AMOUNTAPPROVDDE_369621" name="GeneralInformation_amountApproved" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_AMOUNTAPPROVDDE_369621.visible" ng-class="vc.viewState.VA_AMOUNTAPPROVDDE_369621.style">
               {{kendo.toString(vc.model.GeneralInformation.amountApproved, 'c')}} 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_CURRENTCYCLESTD_415621.visible"> 
          <div class="form-group" id="VA_CURRENTCYCLESTD_415621_DIV"> 
           <label for="VA_CURRENTCYCLESTD_415621" title="{{vc.viewState.VA_CURRENTCYCLESTD_415621.label|translate:vc.viewState.VA_CURRENTCYCLESTD_415621.labelArgs}}" ng-show="vc.viewState.VA_CURRENTCYCLESTD_415621.visible" class="col-sm-4 control-label">{{vc.viewState.VA_CURRENTCYCLESTD_415621.label|translate:vc.viewState.VA_CURRENTCYCLESTD_415621.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div class="cb-control"> 
             <div id="VA_CURRENTCYCLESTD_415621" name="GeneralInformation_currentCycle" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_CURRENTCYCLESTD_415621.visible" ng-class="vc.viewState.VA_CURRENTCYCLESTD_415621.style">
               {{kendo.toString(vc.model.GeneralInformation.currentCycle, 'n0')}} 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_BRANCHOFFICENRI_879621.visible"> 
          <div class="form-group" id="VA_BRANCHOFFICENRI_879621_DIV"> 
           <label for="VA_BRANCHOFFICENRI_879621" title="{{vc.viewState.VA_BRANCHOFFICENRI_879621.label|translate:vc.viewState.VA_BRANCHOFFICENRI_879621.labelArgs}}" ng-show="vc.viewState.VA_BRANCHOFFICENRI_879621.visible" class="col-sm-4 control-label">{{vc.viewState.VA_BRANCHOFFICENRI_879621.label|translate:vc.viewState.VA_BRANCHOFFICENRI_879621.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div class="cb-control"> 
             <div id="VA_BRANCHOFFICENRI_879621" name="GeneralInformation_branchOffice" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_BRANCHOFFICENRI_879621.visible" ng-class="vc.viewState.VA_BRANCHOFFICENRI_879621.style">
               {{kendo.toString(vc.model.GeneralInformation.branchOffice, '')}} 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </fieldset> 
     <fieldset id="G_REPORTSMSE_134621" ng-show="vc.viewState.G_REPORTSMSE_134621.visible" ng-class="vc.viewState.G_REPORTSMSE_134621.style" class="cb-group cb-group-simple"> 
      <legend> <span ng-bind="vc.viewState.G_REPORTSMSE_134621.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.G_REPORTSMSE_134621.statusStyle.success, 'cb-validation-fail': vc.viewState.G_REPORTSMSE_134621.statusStyle.fail, 'cb-validation-none': vc.viewState.G_REPORTSMSE_134621.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.G_REPORTSMSE_134621.label|translate}}</span> </legend> 
      <div id="G_REPORTSMSE_134621_VAL" kendo-validator="G_REPORTSMSE_134621" k-options="validatorOptions"> 
       <div id="QV_4247_30477" kendo-ext-grid="grids.QV_4247_30477" k-data-source="vc.model.ClearanceSheet" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_4247_30477.editable" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="true" k-selectable="false" k-data-bound="vc.grids.QV_4247_30477.events.dataBound" k-columns="vc.grids.QV_4247_30477.columns" k-cancel="vc.grids.QV_4247_30477.events.cancel" k-edit="vc.grids.QV_4247_30477.events.edit" ng-class="vc.viewState.QV_4247_30477.style" k-ng-delay="vc.afterInitData"></div> 
      </div> 
     </fieldset> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_REPORTSEEL_621--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_REPORTSETTEET_126_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_REPORTSEEL_593126')" ng-disabled="vc.viewState.T_REPORTSETTEET_126_ACCEPT.disabled || vc.viewState.T_REPORTSETTEET_126_ACCEPT.disabledingroup" ng-show="vc.viewState.T_REPORTSETTEET_126_ACCEPT.visible" ng-class="vc.viewState.T_REPORTSETTEET_126_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_REPORTSETTEET_126_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_REPORTSETTEET_126_CANCEL.disabled || vc.viewState.T_REPORTSETTEET_126_CANCEL.disabledingroup" ng-show="vc.viewState.T_REPORTSETTEET_126_CANCEL.visible" ng-class="vc.viewState.T_REPORTSETTEET_126_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>