/*HEADERS STYLES*/
.container-header{
	background: #428bca;
    border-bottom: 1px solid #0e335f;
    color: #FFF;    
    padding: 20px 30px;
    margin-left: 0px;
    margin-right: 0px;	
    width: 100%;
	height:170px;
}
.container-header-inside{
	margin-left: 50px;
}
.container-header .control-label {
    color: #9FC9FC;
}
.secondary-label {
    color: #80b1ec;
	font-weight: 100;
}
.label-header-principal{
	margin-top: -50px;
    font-size: 22px;
    font-weight: 100;
}
.label-header-main{
	margin-top: -5px;
    font-size: 18px;    
}
.label-inline{
	display: inline;
}
#VC_LENMSHCIMP_164316{
    margin-left: 100; 
     margin-right: 100; 
}
#VA_VASIMPLELABELLL_867612_DIV label{	
    font-size: 20px;    
}
#VA_VASIMPLELABELLL_867612_DIV{
	display: inline-flex;
}
#G_LOANHEAINF_340612{
	margin-top: -40px;
}
#G_LOANHEADRO_349612 {
	margin-top: -20px;
	margin-bottom: -20px;
}
#G_LOANHEAINF_340612 .col-xs-1 {
	width: auto;
}
/*TEXT LINK WITHOUT BACKGROUND*/
.textlink-withoutbackground,
.textlink-withoutbackground:hover,
.textlink-withoutbackground:visited,
.textlink-withoutbackground:link,
.textlink-withoutbackground:active {
	background: none;
	box-shadow: none;
	color: #FFF !important;
	text-decoration: none;
	margin-top: -10px;
}
.popup-header-main{
	padding: 0px !important;
}
#VC_LOANDETAUL_310874{
	padding: 0px !important;
}

div#G_LOANDETLIP_635816 .form-group label{
	width:170px;
	text-align: left;
	font-weight: bold;
}
div#G_LOANDETLIP_635816 .form-group div.col-sm-8{
	width: auto;
}
div#G_LOANDETLIP_635816 .col-xs-12 {
	height: 30px;
}
/*END HEADERS STYLES*/


#G_LOANHEADOD_564612 .form-group{
	min-height:40px;
}

.control_monto{
    font-size: 22px;
}
.control_monto_vencido{
   font-size: 14px;

}

.control_titulo{
   font-size: 18px;
}
#G_GENERALNNT_676203_VAL .form-control-static,
#G_GENERALNII_893203_VAL .form-control-static{	
	text-align: left;	
	margin-bottom: -24px;
	white-space: normal;		
	margin-left: -27px;
}
#G_GENERALNNT_676203_VAL .control-label,
#G_GENERALNII_893203_VAL .control-label {	
	text-align: left;	
	margin-bottom: -24px;
	white-space: normal;
}

#G_GENERALNAA_314203_VAL > .form-vertical > .row > div{
	padding-bottom:12px;
}
#G_GENERALOAN_318203_VAL > .form-vertical > .row > div{
	padding-bottom:10px;
}
#G_TESTCYDRBD_191872_VAL > .form-horizontal > .row > [class*="col-"] > .form-group .control-label,
#G_TESTCYDRBD_191872_VAL > .form-vertical > .row > [class*="col-"] > .form-group .control-label {
    overflow: visible !important;  
    font-size: 11px;
}

#VA_CATEGORYTYPEOYS_156872{
    padding-left:10px;
    font-size: 11px;
    margin-top: 4px;
}
#VA_CATEGORYTYPEOYS_156872_DIV{
margin-left: 0px;
}   
#VA_RANGEQFHSDDUABD_909872{
    font-size: 11px;
    margin-left: -20px;
    margin-top: 4px;
}

#VA_VALUEAPPLYTRDBF_557872,
#VA_REFERENCEXBMXWK_229872{
    padding-left:25px;
    font-size: 11px;
    margin-top: 4px;
}

#VA_VALUEAPPLYTRDBF_557872_DIV,
#VA_REFERENCEXBMXWK_229872_DIV{
    margin-left: 15px;
}

#G_TESTEKYAAK_356872_VAL > .form-vertical > .row > div{
    height:40px;
}

#G_TESTASOELG_345872_VAL > .form-vertical > .row > div{
    height:40px;
}
#G_TESTLECLOB_879872_VAL > .form-horizontal > .row > [class*="col-"] > .form-group .control-label,
#G_TESTLECLOB_879872_VAL > .form-vertical > .row > [class*="col-"] > .form-group .control-label {
    overflow: visible !important;
    width: 60px;
    font-size: 11px;
}

#QV_6100_21620 tbody .ng-scope:first{
	font-weight: bold;
     
}
.cb-view-container.cb-group-simple.cb-group-flex > div > .form-vertical .row > div > .form-group,
.cb-group.cb-group-simple.cb-group-flex > div > .form-vertical .row > div > .form-group,
.cb-view-container.cb-group-simple.cb-group-flex > div > .form-horizontal .row > div > .form-group,
.cb-group.cb-group-simple.cb-group-flex > div > .form-horizontal .row > div > .form-group {
  min-height: inherit;
}
.cb-view-container.cb-group-simple.cb-group-flex > div > .form-vertical .row > div > .form-group .cb-control .form-control-static,
.cb-group.cb-group-simple.cb-group-flex > div > .form-vertical .row > div > .form-group .cb-control .form-control-static,
.cb-view-container.cb-group-simple.cb-group-flex > div > .form-horizontal .row > div > .form-group .cb-control .form-control-static,
.cb-group.cb-group-simple.cb-group-flex > div > .form-horizontal .row > div > .form-group .cb-control .form-control-static,
.cb-view-container.cb-group-simple.cb-group-flex > div > .form-vertical .row > div > .form-group .cb-control div.form-control,
.cb-group.cb-group-simple.cb-group-flex > div > .form-vertical .row > div > .form-group .cb-control div.form-control,
.cb-view-container.cb-group-simple.cb-group-flex > div > .form-horizontal .row > div > .form-group .cb-control div.form-control,
.cb-group.cb-group-simple.cb-group-flex > div > .form-horizontal .row > div > .form-group .cb-control div.form-control {
  min-height: inherit;
  height: inherit;
}

label#VA_VASIMPLELABELLL_584881{
    margin-top: -50px;
    display: block;
}

div#VA_DELIVERCUSTOEER_870881_DIV {
    margin-top: -50px;
}
div#VA_OBSERVATIONSLWS_588881_DIV {
    margin-top: -50px;
}

/*div#VA_2436FVXHSHVPJSS_508216_DIV{*/
label#VA_VASIMPLELABELLL_582216{
   margin-top: 40px;
   position: fixed;
   font-weight: 100;
}

#VA_4212YIFTVBCOPPD_140216_DIV + .form-group {
    position: fixed;
}

div#Spacer2547_DIV, div#VA_4212YIFTVBCOPPD_140216_DIV{
    margin-left: 10px;
}

/*Spacer2495_DIV, Spacer2547_DIV*/
div#Spacer2675_DIV, div#VA_6386FQVBTKCYFWG_461216_DIV, div#VA_2481BBVZTGCBDCR_830216_DIV, div#VA_2436FVXHSHVPJSS_508216_DIV , 
div#VA_4212YIFTVBCOPPD_140216_DIV , div#VA_8983QPJHQZZOSML_321216_DIV, div#Spacer2237_DIV, div#Spacer1695_DIV, div#Spacer2254_DIV{
    margin-bottom: 20px;
}

#VA_CAPITALBALANCEC_436515_DIV label.col-sm-4.control-label.ng-binding {
    font-weight: bolder;
}
#VA_OTHERBALANCEJEN_649515_DIV label.col-sm-4.control-label.ng-binding {
    font-weight: bolder;
}
#VA_2598QVNXQLNVJQG_279515_DIV label.col-sm-4.control-label.ng-binding {
    font-weight: bolder;
}
#VA_ADITIONALBALACN_754515_DIV label.col-sm-4.control-label.ng-binding {
    font-weight: bolder;
}
#VA_TOTALREFINANEEC_261515_DIV label.col-sm-4.control-label.ng-binding {
    font-weight: bolder;
}
div#VA_OTHERBALANCEJEN_649515_DIV {
    margin-bottom: -20px;
}
fieldset#G_REFINANLOO_113515 {       
    border-bottom: 1px solid black;    
    margin-bottom: 0px;
}
div#VA_ADITIONALBALACN_754515_DIV {
    margin-bottom: -10px;
}

.form-horizontal > .row >[class*="col-"] > .form-group .control-label {
    white-space: normal;
}

.console-box{
	width:100%;	
    padding: 3em;
    background-color: rgba(20,53,80,0.038);
    border: 1px solid rgba(20,53,80,0.05);
}
.console-log{
	background-color: #ffffff;
	margin: 0; 
	overflow-x: hidden; 
	text-align: left; 
	height: 200px; 
	border: 1px solid rgba(20,53,80,0.1);"
}

.block-message {
	font-size:11px;
	margin-top: 0px; 
	background-color: rgb(255, 255, 255);
	background-position: 6px -95px;
    border-bottom: 1px solid #DDD;
    padding: 5px 10px;
    height: 2.5em;
    line-height: 2em;
    vertical-align: middle;
}

.block-message-success {
	background-color: rgb(255, 255, 255);
}
.block-message-error {	 
	background-color: #ffded7;
	color:#a94442;
}

#QV_1156_57465 .k-grid-header th.k-header, .k-filter-row th {
    white-space: normal;
}

#QV_3655_99787.k-grid .k-grid-toolbar{
    text-align: right;
    background-color: Transparent !important;
}
#QV_3655_99787.k-grid .k-grid-toolbar .btn{
  border: none;
  padding: 5px 10px;
  background-color: Transparent !important;
  margin-top: 10px;
  margin-right: 10px;
}
#CEQV_201QV_3655_99787_294{
    pointer-events: none;
}

#QV_9492_89518.k-grid .k-grid-toolbar{
    text-align: left;
    background-color: Transparent !important;
}
#QV_9492_89518.k-grid .k-grid-toolbar .btn{
  border: none;
  padding: 5px 10px;
  background-color: Transparent !important;
  margin-top: 10px;
  margin-right: 10px;
}
#CEQV_201QV_9492_89518_856{
    pointer-events: none;
}