<!-- Designer Generator v 5.1.0.1608 - release SPR 2016-08 29/04/2016 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_SIURM23_BETIO_527" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_SIURM23_BETIO_527.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_SIURM23_BETIO_527" ng-keydown="vc.viewState.keyDown($event)" class="cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="VC_SIURM23_NNOME_794" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_SIURM23_NNOME_794', vc.viewState.VC_SIURM23_NNOME_794.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_SIURM23_NNOME_794.visible"> 
    <div id="VC_SIURM23_NNOME_794_VAL" kendo-validator="VC_SIURM23_NNOME_794" k-options="validatorOptions"> 
     <!-- Inicio item VW_WTTTEPRCES08--> 
     <div designer-form-load form="vc.viewState.GR_WTTTEPRCES08_02" class="cb-group cb-group-html-section"> 
     </div> 
     <!-- Fin item VW_WTTTEPRCES08--> 
    </div> 
   </div> 
   <div id="VC_SIURM23_EMRSC_944" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_SIURM23_EMRSC_944', vc.viewState.VC_SIURM23_EMRSC_944.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_SIURM23_EMRSC_944.visible"> 
    <div id="VC_SIURM23_EMRSC_944_VAL" kendo-validator="VC_SIURM23_EMRSC_944" k-options="validatorOptions"> 
     <!-- Inicio item VW_DISURMETFR51--> 
     <div id="GR_DISURMETFR51_05" ng-class="vc.viewState.GR_DISURMETFR51_05.style" class="cb-group cb-group-layout"> 
      <div id="GR_DISURMETFR51_05_VAL" kendo-validator="GR_DISURMETFR51_05" k-options="validatorOptions"> 
       <div id="GR_DISURMETFR51_06" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_DISURMETFR51_06.visible" ng-class="vc.viewState.GR_DISURMETFR51_06.style"> 
        <div id="GR_DISURMETFR51_06_VAL" kendo-validator="GR_DISURMETFR51_06" k-options="validatorOptions"> 
         <div class="form-horizontal"> 
          <div class="row"> 
          </div> 
         </div> 
        </div> 
       </div> 
       <fieldset id="GR_DISURMETFR51_07" ng-show="vc.viewState.GR_DISURMETFR51_07.visible" ng-class="vc.viewState.GR_DISURMETFR51_07.style" class="cb-group cb-group-simple"> 
        <legend> <span ng-bind="vc.viewState.GR_DISURMETFR51_07.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.GR_DISURMETFR51_07.statusStyle.success, 'cb-validation-fail': vc.viewState.GR_DISURMETFR51_07.statusStyle.fail, 'cb-validation-none': vc.viewState.GR_DISURMETFR51_07.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.GR_DISURMETFR51_07.label|translate}}</span> </legend> 
        <div id="GR_DISURMETFR51_07_VAL" kendo-validator="GR_DISURMETFR51_07" k-options="validatorOptions"> 
         <div id="QV_TDLIA9011_50" kendo-ext-grid="grids.QV_TDLIA9011_50" k-data-source="vc.model.DetailLiquidateValues" k-column-menu="false" k-sortable="false" k-editable="vc.viewState.GR_DISURMETFR51_07.disabled?false:'inline'" k-toolbar="vc.grids.QV_TDLIA9011_50.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="true" k-change="vc.grids.QV_TDLIA9011_50.events.change" k-data-bound="vc.grids.QV_TDLIA9011_50.events.dataBound" k-columns="vc.grids.QV_TDLIA9011_50.columns" k-cancel="vc.grids.QV_TDLIA9011_50.events.cancel" k-edit="vc.grids.QV_TDLIA9011_50.events.edit" ng-class="vc.viewState.QV_TDLIA9011_50.style" k-ng-delay="vc.afterInitData"></div> 
        </div> 
       </fieldset> 
       <fieldset id="GR_DISURMETFR51_08" ng-show="vc.viewState.GR_DISURMETFR51_08.visible" ng-class="vc.viewState.GR_DISURMETFR51_08.style" class="cb-group cb-group-simple"> 
        <legend> <span ng-bind="vc.viewState.GR_DISURMETFR51_08.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.GR_DISURMETFR51_08.statusStyle.success, 'cb-validation-fail': vc.viewState.GR_DISURMETFR51_08.statusStyle.fail, 'cb-validation-none': vc.viewState.GR_DISURMETFR51_08.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.GR_DISURMETFR51_08.label|translate}}</span> </legend> 
        <div id="GR_DISURMETFR51_08_VAL" kendo-validator="GR_DISURMETFR51_08" k-options="validatorOptions"> 
         <div id="QV_TSRSE1342_26" kendo-ext-grid="grids.QV_TSRSE1342_26" k-data-source="vc.model.DisbursementDetail" k-column-menu="false" k-sortable="false" k-editable="vc.viewState.GR_DISURMETFR51_08.disabled?false:'inline'" k-toolbar="vc.grids.QV_TSRSE1342_26.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-data-bound="vc.grids.QV_TSRSE1342_26.events.dataBound" k-columns="vc.grids.QV_TSRSE1342_26.columns" k-cancel="vc.grids.QV_TSRSE1342_26.events.cancel" k-edit="vc.grids.QV_TSRSE1342_26.events.edit" k-data-binding="vc.grids.QV_TSRSE1342_26.events.dataBinding" k-detail-template="vc.grids.QV_TSRSE1342_26.detailTemplate" k-detail-expand="vc.grids.QV_TSRSE1342_26.events.detailExpand" ng-class="vc.viewState.QV_TSRSE1342_26.style" k-ng-delay="vc.afterInitData"></div> 
        </div> 
       </fieldset> 
      </div> 
     </div> 
     <!-- Fin item VW_DISURMETFR51--> 
    </div> 
   </div> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_SIURM23TOR49" ng-click="vc.executeCommand('CM_SIURM23TOR49','Boton Liquidar', validator, false, false, 'VC_SIURM23_BETIO_527', false)" class="btn btn-primary navbar-btn" title="{{vc.viewState.CM_SIURM23TOR49.tooltip|translate}}" ng-disabled="vc.viewState.CM_SIURM23TOR49.disabled || vc.viewState.CM_SIURM23TOR49.disabledingroup" ng-show="vc.viewState.CM_SIURM23TOR49.visible" ng-class="vc.viewState.CM_SIURM23TOR49.style"> {{vc.viewState.CM_SIURM23TOR49.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_FLCRE_80_SIURM23_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_SIURM23_BETIO_527')" ng-disabled="vc.viewState.T_FLCRE_80_SIURM23_ACCEPT.disabled || vc.viewState.T_FLCRE_80_SIURM23_ACCEPT.disabledingroup" ng-show="vc.viewState.T_FLCRE_80_SIURM23_ACCEPT.visible" ng-class="vc.viewState.T_FLCRE_80_SIURM23_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_FLCRE_80_SIURM23_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_FLCRE_80_SIURM23_CANCEL.disabled || vc.viewState.T_FLCRE_80_SIURM23_CANCEL.disabledingroup" ng-show="vc.viewState.T_FLCRE_80_SIURM23_CANCEL.visible" ng-class="vc.viewState.T_FLCRE_80_SIURM23_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>