<!-- Designer Generator v 6.4.0.1 - SPR 2018-10 18/05/2018 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_DOCUMENTYL_319252" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_DOCUMENTYL_319252.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_DOCUMENTCL_645--> 
  <div id="VC_DOCUMENTYL_319252" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_DOCUMENLEL_423645" ng-show="vc.viewState.G_DOCUMENLEL_423645.visible" ng-class="vc.viewState.G_DOCUMENLEL_423645.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_DOCUMENLEL_423645" k-options="validatorOptions" id="G_DOCUMENLEL_423645_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_TEXTINPUTBOXFVY_775645.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXFVY_775645_DIV"> 
         <label for="VA_TEXTINPUTBOXFVY_775645" title="{{vc.viewState.VA_TEXTINPUTBOXFVY_775645.label|translate:vc.viewState.VA_TEXTINPUTBOXFVY_775645.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXFVY_775645.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXFVY_775645.label|translate:vc.viewState.VA_TEXTINPUTBOXFVY_775645.labelArgs}}</label> 
         <div class="cb-control"> 
          <div class="input-group"> 
           <input id="VA_TEXTINPUTBOXFVY_775645" name="HeaderQueryDocuments_clientName" type="text" class="form-control" ng-model="vc.model.HeaderQueryDocuments.clientName" ng-disabled="vc.viewState.VA_TEXTINPUTBOXFVY_775645.disabled || vc.viewState.VA_TEXTINPUTBOXFVY_775645.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXFVY_775645.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXFVY_775645.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXFVY_775645.style" data-cobis-group="Group,G_DOCUMENLEL_423645,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXFVY_775645.validationCode}}" /> 
           <div class="input-group-btn"> 
            <button class="btn btn-default btn-block" ng-click="vc.clickTextInputButton('VA_TEXTINPUTBOXFVY_775645')" ng-disabled="vc.viewState.VA_TEXTINPUTBOXFVY_775645.disabled || vc.viewState.VA_TEXTINPUTBOXFVY_775645.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXFVY_775645.visible" ng-class="vc.viewState.VA_TEXTINPUTBOXFVY_775645.style"> <span class="glyphicon glyphicon-align-justify"></span> </button> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_TEXTINPUTBOXHUA_684645.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXHUA_684645_DIV"> 
         <label for="VA_TEXTINPUTBOXHUA_684645" title="{{vc.viewState.VA_TEXTINPUTBOXHUA_684645.label|translate:vc.viewState.VA_TEXTINPUTBOXHUA_684645.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXHUA_684645.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXHUA_684645.label|translate:vc.viewState.VA_TEXTINPUTBOXHUA_684645.labelArgs}}</label> 
         <div class="cb-control"> 
          <div class="input-group"> 
           <input id="VA_TEXTINPUTBOXHUA_684645" name="HeaderQueryDocuments_groupName" type="text" class="form-control" ng-model="vc.model.HeaderQueryDocuments.groupName" ng-disabled="vc.viewState.VA_TEXTINPUTBOXHUA_684645.disabled || vc.viewState.VA_TEXTINPUTBOXHUA_684645.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXHUA_684645.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXHUA_684645.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXHUA_684645.style" data-cobis-group="Group,G_DOCUMENLEL_423645,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXHUA_684645.validationCode}}" /> 
           <div class="input-group-btn"> 
            <button class="btn btn-default btn-block" ng-click="vc.clickTextInputButton('VA_TEXTINPUTBOXHUA_684645')" ng-disabled="vc.viewState.VA_TEXTINPUTBOXHUA_684645.disabled || vc.viewState.VA_TEXTINPUTBOXHUA_684645.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXHUA_684645.visible" ng-class="vc.viewState.VA_TEXTINPUTBOXHUA_684645.style"> <span class="glyphicon glyphicon-align-justify"></span> </button> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-2" ng-show="vc.viewState.VA_TEXTINPUTBOXLVP_311645.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXLVP_311645_DIV"> 
         <label for="VA_TEXTINPUTBOXLVP_311645" title="{{vc.viewState.VA_TEXTINPUTBOXLVP_311645.label|translate:vc.viewState.VA_TEXTINPUTBOXLVP_311645.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXLVP_311645.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXLVP_311645.label|translate:vc.viewState.VA_TEXTINPUTBOXLVP_311645.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXLVP_311645" name="HeaderQueryDocuments_loan" type="text" class="form-control" ng-model="vc.model.HeaderQueryDocuments.loan" ng-disabled="vc.viewState.VA_TEXTINPUTBOXLVP_311645.disabled || vc.viewState.VA_TEXTINPUTBOXLVP_311645.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXLVP_311645.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXLVP_311645.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXLVP_311645.style" data-cobis-group="Group,G_DOCUMENLEL_423645,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXLVP_311645.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-2" ng-show="vc.viewState.VA_TEXTINPUTBOXKOK_630645.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXKOK_630645_DIV"> 
         <label for="VA_TEXTINPUTBOXKOK_630645" title="{{vc.viewState.VA_TEXTINPUTBOXKOK_630645.label|translate:vc.viewState.VA_TEXTINPUTBOXKOK_630645.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXKOK_630645.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXKOK_630645.label|translate:vc.viewState.VA_TEXTINPUTBOXKOK_630645.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXKOK_630645" name="HeaderQueryDocuments_procedure" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_TEXTINPUTBOXKOK_630645.decimals" k-format="vc.viewState.VA_TEXTINPUTBOXKOK_630645.format" k-ng-model="vc.model.HeaderQueryDocuments.procedure" ng-model="vc.tmpModel.HeaderQueryDocuments.procedure" ng-disabled="vc.viewState.VA_TEXTINPUTBOXKOK_630645.disabled || vc.viewState.VA_TEXTINPUTBOXKOK_630645.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXKOK_630645.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXKOK_630645.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXKOK_630645.style" data-cobis-group="Group,G_DOCUMENLEL_423645,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXKOK_630645.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONEFJJEWA_981645.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONEFJJEWA_981645" class="btn btn-default btn-block" ng-click="vc.executeQueryControl(vc.getRequestQuery_Q_DOCUMETN_9533(),'',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONEFJJEWA_981645.disabled || vc.viewState.VA_VABUTTONEFJJEWA_981645.disabledingroup" ng-show="vc.viewState.VA_VABUTTONEFJJEWA_981645.visible" ng-class="vc.viewState.VA_VABUTTONEFJJEWA_981645.style"> {{vc.viewState.VA_VABUTTONEFJJEWA_981645.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_DOCUMENCTC_801645" ng-show="vc.viewState.G_DOCUMENCTC_801645.visible" ng-class="vc.viewState.G_DOCUMENCTC_801645.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_DOCUMENCTC_801645" k-options="validatorOptions" id="G_DOCUMENCTC_801645_VAL"> 
     <div id="QV_9533_13855" kendo-ext-grid="grids.QV_9533_13855" k-data-source="vc.model.QueryDocumentsCycle" k-column-menu="false" k-sortable="false" k-pageable="{refresh: false, pageSizes: false, buttonCount: 5}" k-editable="vc.grids.QV_9533_13855.editable" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_9533_13855.events.dataBound" k-columns="vc.grids.QV_9533_13855.columns" k-cancel="vc.grids.QV_9533_13855.events.cancel" k-edit="vc.grids.QV_9533_13855.events.edit" k-data-binding="vc.grids.QV_9533_13855.events.dataBinding" k-detail-template="vc.grids.QV_9533_13855.detailTemplate" k-detail-expand="vc.grids.QV_9533_13855.events.detailExpand" ng-class="vc.viewState.QV_9533_13855.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_DOCUMENTCL_645--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_ASSTSRQAOEXFY_252_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_DOCUMENTYL_319252')" ng-disabled="vc.viewState.T_ASSTSRQAOEXFY_252_ACCEPT.disabled || vc.viewState.T_ASSTSRQAOEXFY_252_ACCEPT.disabledingroup" ng-show="vc.viewState.T_ASSTSRQAOEXFY_252_ACCEPT.visible" ng-class="vc.viewState.T_ASSTSRQAOEXFY_252_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_ASSTSRQAOEXFY_252_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_ASSTSRQAOEXFY_252_CANCEL.disabled || vc.viewState.T_ASSTSRQAOEXFY_252_CANCEL.disabledingroup" ng-show="vc.viewState.T_ASSTSRQAOEXFY_252_CANCEL.visible" ng-class="vc.viewState.T_ASSTSRQAOEXFY_252_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>