<!-- Designer Generator v 6.1.1 - release SPR 2017-03 17/02/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_LIBERATINO_737422" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_LIBERATINO_737422.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_LIBERATINN_804--> 
  <div id="VC_LIBERATINO_737422" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_LIBERATNIN_236804" ng-class="vc.viewState.G_LIBERATNIN_236804.style" class="cb-group cb-group-layout"> 
    <div id="G_LIBERATNIN_236804_VAL" kendo-validator="G_LIBERATNIN_236804" k-options="validatorOptions"> 
     <div id="G_LIBERATONN_305804" class="cb-group cb-group-simple" ng-show="vc.viewState.G_LIBERATONN_305804.visible" ng-class="vc.viewState.G_LIBERATONN_305804.style"> 
      <div id="G_LIBERATONN_305804_VAL" kendo-validator="G_LIBERATONN_305804" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-12" ng-show="vc.viewState.VA_CAUSETEEYTZREUC_871804.visible"> 
          <div class="form-group cb-required" id="VA_CAUSETEEYTZREUC_871804_DIV"> 
           <label for="VA_CAUSETEEYTZREUC_871804" title="{{vc.viewState.VA_CAUSETEEYTZREUC_871804.label|translate:vc.viewState.VA_CAUSETEEYTZREUC_871804.labelArgs}}" ng-show="vc.viewState.VA_CAUSETEEYTZREUC_871804.visible" class="control-label">{{vc.viewState.VA_CAUSETEEYTZREUC_871804.label|translate:vc.viewState.VA_CAUSETEEYTZREUC_871804.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_CAUSETEEYTZREUC_871804" name="GenericTransaction_cause" type="text" class="form-control" ng-model="vc.model.GenericTransaction.cause" ng-disabled="vc.viewState.VA_CAUSETEEYTZREUC_871804.disabled || vc.viewState.VA_CAUSETEEYTZREUC_871804.disabledingroup" ng-show="vc.viewState.VA_CAUSETEEYTZREUC_871804.visible" ng-readonly="vc.viewState.VA_CAUSETEEYTZREUC_871804.readonly" ng-class="vc.viewState.VA_CAUSETEEYTZREUC_871804.style" data-cobis-group="GroupLayout,G_LIBERATNIN_236804,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_CAUSETEEYTZREUC_871804.validationCode}}" data-required-msg="{{'WRRNT.MSG_WRRNT_MOTIVOERR_65155'|translate}}" /> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_LIBERATINN_804--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_TLIBERAT_T16" ng-click="vc.executeCommand('CM_TLIBERAT_T16','Command1', validator, true, false, 'VC_LIBERATINO_737422', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_TLIBERAT_T16.disabled || vc.viewState.CM_TLIBERAT_T16.disabledingroup" ng-show="vc.viewState.CM_TLIBERAT_T16.visible" ng-class="vc.viewState.CM_TLIBERAT_T16.style"> {{vc.viewState.CM_TLIBERAT_T16.label|translate}} </button> 
    <button id="CM_TLIBERAT_1TL" ng-click="vc.executeCommand('CM_TLIBERAT_1TL','Command2', validator, false, false, 'VC_LIBERATINO_737422', false)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_TLIBERAT_1TL.disabled || vc.viewState.CM_TLIBERAT_1TL.disabledingroup" ng-show="vc.viewState.CM_TLIBERAT_1TL.visible" ng-class="vc.viewState.CM_TLIBERAT_1TL.style"> {{vc.viewState.CM_TLIBERAT_1TL.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_LIBERATIONIFY_422_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_LIBERATINO_737422')" ng-disabled="vc.viewState.T_LIBERATIONIFY_422_ACCEPT.disabled || vc.viewState.T_LIBERATIONIFY_422_ACCEPT.disabledingroup" ng-show="vc.viewState.T_LIBERATIONIFY_422_ACCEPT.visible" ng-class="vc.viewState.T_LIBERATIONIFY_422_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_LIBERATIONIFY_422_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_LIBERATIONIFY_422_CANCEL.disabled || vc.viewState.T_LIBERATIONIFY_422_CANCEL.disabledingroup" ng-show="vc.viewState.T_LIBERATIONIFY_422_CANCEL.visible" ng-class="vc.viewState.T_LIBERATIONIFY_422_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>