<div ng-controller="clientviewer.reportController">

    <div class="container">
        <h2 translate>CLIENTVIEWER.LABELS.LBL_EXPORT_TO</h2>

        <form role="form">
            <div class="radio">
                <label><input id="pdfRadio" type="radio" name="optradio" >PDF</label>
            </div>
            <div class="radio">
                <label><input id="rtfRadio" type="radio" name="optradio">RFT</label>
            </div>
            <div class="radio">
                <label><input id="excelRadio" type="radio" name="optradio">EXCEL</label>
            </div>
        </form>
    </div>
</div>