<!-- Designer Generator v 6.4.0.5 - SPR 2019-03 15/02/2019 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_LOANSEARHC_144959" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_LOANSEARHC_144959.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_LOANSEARCH_508--> 
  <div id="VC_LOANSEARHC_144959" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_LOANSEARRH_169508" ng-class="vc.viewState.G_LOANSEARRH_169508.style" class="cb-group cb-group-layout"> 
    <div id="G_LOANSEARRH_169508_VAL" kendo-validator="G_LOANSEARRH_169508" k-options="validatorOptions"> 
     <fieldset id="G_LOANSEAHRH_621508" ng-show="vc.viewState.G_LOANSEAHRH_621508.visible" ng-class="vc.viewState.G_LOANSEAHRH_621508.style" class="cb-group cb-group-simple"> 
      <legend> <span ng-bind="vc.viewState.G_LOANSEAHRH_621508.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.G_LOANSEAHRH_621508.statusStyle.success, 'cb-validation-fail': vc.viewState.G_LOANSEAHRH_621508.statusStyle.fail, 'cb-validation-none': vc.viewState.G_LOANSEAHRH_621508.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.G_LOANSEAHRH_621508.label|translate}}</span> </legend> 
      <div id="G_LOANSEAHRH_621508_VAL" kendo-validator="G_LOANSEAHRH_621508" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_CODCLIENTCIXLEY_866508.visible"> 
          <div class="form-group" id="VA_CODCLIENTCIXLEY_866508_DIV"> 
           <label for="VA_CODCLIENTCIXLEY_866508" title="{{vc.viewState.VA_CODCLIENTCIXLEY_866508.label|translate:vc.viewState.VA_CODCLIENTCIXLEY_866508.labelArgs}}" ng-show="vc.viewState.VA_CODCLIENTCIXLEY_866508.visible" class="control-label">{{vc.viewState.VA_CODCLIENTCIXLEY_866508.label|translate:vc.viewState.VA_CODCLIENTCIXLEY_866508.labelArgs}}</label> 
           <div class="cb-control"> 
            <div class="input-group"> 
             <input id="VA_CODCLIENTCIXLEY_866508" name="LoanSearchFilter_numIdentification" maxlength="11" type="text" class="form-control" ng-model="vc.model.LoanSearchFilter.numIdentification" ng-disabled="vc.viewState.VA_CODCLIENTCIXLEY_866508.disabled || vc.viewState.VA_CODCLIENTCIXLEY_866508.disabledingroup" ng-show="vc.viewState.VA_CODCLIENTCIXLEY_866508.visible" ng-readonly="vc.viewState.VA_CODCLIENTCIXLEY_866508.readonly" ng-class="vc.viewState.VA_CODCLIENTCIXLEY_866508.style" data-cobis-group="GroupLayout,G_LOANSEARRH_169508,0" ng-model-onblur designer-restrict-input="numbers" compare-in-range compare-min="0" compare-max="2147483647" data-validation-code="{{vc.viewState.VA_CODCLIENTCIXLEY_866508.validationCode}}" data-compareinrange-msg="{{'ASSTS.MSG_ASSTS_SEDEBERZE_11978'|translate}}" /> 
             <div class="input-group-btn"> 
              <button class="btn btn-default btn-block" ng-click="vc.clickTextInputButton('VA_CODCLIENTCIXLEY_866508')" ng-disabled="vc.viewState.VA_CODCLIENTCIXLEY_866508.disabled || vc.viewState.VA_CODCLIENTCIXLEY_866508.disabledingroup" ng-show="vc.viewState.VA_CODCLIENTCIXLEY_866508.visible" ng-class="vc.viewState.VA_CODCLIENTCIXLEY_866508.style"> <span class="glyphicon glyphicon-align-justify"></span> </button> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_OPERATIONZDFLWM_772508.visible"> 
          <div class="form-group" id="VA_OPERATIONZDFLWM_772508_DIV"> 
           <label for="VA_OPERATIONZDFLWM_772508" title="{{vc.viewState.VA_OPERATIONZDFLWM_772508.label|translate:vc.viewState.VA_OPERATIONZDFLWM_772508.labelArgs}}" ng-show="vc.viewState.VA_OPERATIONZDFLWM_772508.visible" class="control-label">{{vc.viewState.VA_OPERATIONZDFLWM_772508.label|translate:vc.viewState.VA_OPERATIONZDFLWM_772508.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_OPERATIONZDFLWM_772508" name="LoanSearchFilter_operation" maxlength="15" type="text" class="form-control" ng-model="vc.model.LoanSearchFilter.operation" ng-disabled="vc.viewState.VA_OPERATIONZDFLWM_772508.disabled || vc.viewState.VA_OPERATIONZDFLWM_772508.disabledingroup" ng-show="vc.viewState.VA_OPERATIONZDFLWM_772508.visible" ng-readonly="vc.viewState.VA_OPERATIONZDFLWM_772508.readonly" ng-class="vc.viewState.VA_OPERATIONZDFLWM_772508.style" data-cobis-group="GroupLayout,G_LOANSEARRH_169508,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_OPERATIONZDFLWM_772508.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_NUMPROCEDURESSS_195508.visible"> 
          <div class="form-group" id="VA_NUMPROCEDURESSS_195508_DIV"> 
           <label for="VA_NUMPROCEDURESSS_195508" title="{{vc.viewState.VA_NUMPROCEDURESSS_195508.label|translate:vc.viewState.VA_NUMPROCEDURESSS_195508.labelArgs}}" ng-show="vc.viewState.VA_NUMPROCEDURESSS_195508.visible" class="control-label">{{vc.viewState.VA_NUMPROCEDURESSS_195508.label|translate:vc.viewState.VA_NUMPROCEDURESSS_195508.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_NUMPROCEDURESSS_195508" name="LoanSearchFilter_numProcedures" maxlength="11" type="text" class="form-control" ng-model="vc.model.LoanSearchFilter.numProcedures" ng-disabled="vc.viewState.VA_NUMPROCEDURESSS_195508.disabled || vc.viewState.VA_NUMPROCEDURESSS_195508.disabledingroup" ng-show="vc.viewState.VA_NUMPROCEDURESSS_195508.visible" ng-readonly="vc.viewState.VA_NUMPROCEDURESSS_195508.readonly" ng-class="vc.viewState.VA_NUMPROCEDURESSS_195508.style" data-cobis-group="GroupLayout,G_LOANSEARRH_169508,0" ng-model-onblur designer-restrict-input="numbers" compare-in-range compare-min="0" compare-max="2147483647" data-validation-code="{{vc.viewState.VA_NUMPROCEDURESSS_195508.validationCode}}" data-compareinrange-msg="{{'ASSTS.MSG_ASSTS_SEDEBERZE_11978'|translate}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_OFFICEVEGBCEQOG_104508.visible"> 
          <div class="form-group" id="VA_OFFICEVEGBCEQOG_104508_DIV"> 
           <label for="VA_OFFICEVEGBCEQOG_104508" title="{{vc.viewState.VA_OFFICEVEGBCEQOG_104508.label|translate:vc.viewState.VA_OFFICEVEGBCEQOG_104508.labelArgs}}" ng-show="vc.viewState.VA_OFFICEVEGBCEQOG_104508.visible" class="control-label">{{vc.viewState.VA_OFFICEVEGBCEQOG_104508.label|translate:vc.viewState.VA_OFFICEVEGBCEQOG_104508.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_OFFICEVEGBCEQOG_104508" kendo-ext-combo-box="comboBox.VA_OFFICEVEGBCEQOG_104508" name="LoanSearchFilter_office" ng-model="vc.model.LoanSearchFilter.office" ng-disabled="vc.viewState.VA_OFFICEVEGBCEQOG_104508.disabled || vc.viewState.VA_OFFICEVEGBCEQOG_104508.disabledingroup" ng-show="vc.viewState.VA_OFFICEVEGBCEQOG_104508.visible" ng-readonly="vc.viewState.VA_OFFICEVEGBCEQOG_104508.readonly" ng-class="vc.viewState.VA_OFFICEVEGBCEQOG_104508.style" k-data-source="vc.catalogs.VA_OFFICEVEGBCEQOG_104508" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_OFFICEVEGBCEQOG_104508.template" data-cobis-group="GroupLayout,G_LOANSEARRH_169508,0" data-validation-code="{{vc.viewState.VA_OFFICEVEGBCEQOG_104508.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.Spacer1633.visible"> 
          <div class="form-group" id="Spacer1633_DIV"> 
           <label for="Spacer1633" title="{{vc.viewState.Spacer1633.label|translate:vc.viewState.Spacer1633.labelArgs}}" ng-show="vc.viewState.Spacer1633.visible" class="control-label">{{vc.viewState.Spacer1633.label|translate:vc.viewState.Spacer1633.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="Spacer1633" kendo-ext-combo-box="comboBox.Spacer1633" k-index="0" k-auto-bind="true" name="LoanSearchFilter_groupSummary" ng-model="vc.model.LoanSearchFilter.groupSummary" ng-disabled="vc.viewState.Spacer1633.disabled || vc.viewState.Spacer1633.disabledingroup" ng-show="vc.viewState.Spacer1633.visible" ng-readonly="vc.viewState.Spacer1633.readonly" ng-class="vc.viewState.Spacer1633.style" k-data-source="vc.catalogs.Spacer1633" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.Spacer1633.template" data-cobis-group="GroupLayout,G_LOANSEARRH_169508,0" data-validation-code="{{vc.viewState.Spacer1633.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_CODCURRENCYKYKA_122508.visible"> 
          <div class="form-group" id="VA_CODCURRENCYKYKA_122508_DIV"> 
           <label for="VA_CODCURRENCYKYKA_122508" title="{{vc.viewState.VA_CODCURRENCYKYKA_122508.label|translate:vc.viewState.VA_CODCURRENCYKYKA_122508.labelArgs}}" ng-show="vc.viewState.VA_CODCURRENCYKYKA_122508.visible" class="control-label">{{vc.viewState.VA_CODCURRENCYKYKA_122508.label|translate:vc.viewState.VA_CODCURRENCYKYKA_122508.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_CODCURRENCYKYKA_122508" kendo-ext-combo-box="comboBox.VA_CODCURRENCYKYKA_122508" k-index="0" k-auto-bind="true" name="LoanSearchFilter_codCurrency" ng-model="vc.model.LoanSearchFilter.codCurrency" ng-disabled="vc.viewState.VA_CODCURRENCYKYKA_122508.disabled || vc.viewState.VA_CODCURRENCYKYKA_122508.disabledingroup" ng-show="vc.viewState.VA_CODCURRENCYKYKA_122508.visible" ng-readonly="vc.viewState.VA_CODCURRENCYKYKA_122508.readonly" ng-class="vc.viewState.VA_CODCURRENCYKYKA_122508.style" k-data-source="vc.catalogs.VA_CODCURRENCYKYKA_122508" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_CODCURRENCYKYKA_122508.template" data-cobis-group="GroupLayout,G_LOANSEARRH_169508,0" data-validation-code="{{vc.viewState.VA_CODCURRENCYKYKA_122508.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_DISBURSEMENTDTD_602508.visible"> 
          <div class="form-group" id="VA_DISBURSEMENTDTD_602508_DIV"> 
           <label for="VA_DISBURSEMENTDTD_602508" title="{{vc.viewState.VA_DISBURSEMENTDTD_602508.label|translate:vc.viewState.VA_DISBURSEMENTDTD_602508.labelArgs}}" ng-show="vc.viewState.VA_DISBURSEMENTDTD_602508.visible" class="control-label">{{vc.viewState.VA_DISBURSEMENTDTD_602508.label|translate:vc.viewState.VA_DISBURSEMENTDTD_602508.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_DISBURSEMENTDTD_602508" name="LoanSearchFilter_disbursementDate" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.LoanSearchFilter.disbursementDate" ng-model="vc.tmpModel.LoanSearchFilter.disbursementDate" ng-disabled="vc.viewState.VA_DISBURSEMENTDTD_602508.disabled || vc.viewState.VA_DISBURSEMENTDTD_602508.disabledingroup" ng-show="vc.viewState.VA_DISBURSEMENTDTD_602508.visible" ng-readonly="vc.viewState.VA_DISBURSEMENTDTD_602508.readonly" ng-class="vc.viewState.VA_DISBURSEMENTDTD_602508.style" data-cobis-group="GroupLayout,G_LOANSEARRH_169508,0" data-validation-code="{{vc.viewState.VA_DISBURSEMENTDTD_602508.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_STATUSRUGGOTSMF_965508.visible"> 
          <div class="form-group" id="VA_STATUSRUGGOTSMF_965508_DIV"> 
           <label for="VA_STATUSRUGGOTSMF_965508" title="{{vc.viewState.VA_STATUSRUGGOTSMF_965508.label|translate:vc.viewState.VA_STATUSRUGGOTSMF_965508.labelArgs}}" ng-show="vc.viewState.VA_STATUSRUGGOTSMF_965508.visible" class="control-label">{{vc.viewState.VA_STATUSRUGGOTSMF_965508.label|translate:vc.viewState.VA_STATUSRUGGOTSMF_965508.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_STATUSRUGGOTSMF_965508" kendo-ext-combo-box="comboBox.VA_STATUSRUGGOTSMF_965508" name="LoanSearchFilter_status" ng-model="vc.model.LoanSearchFilter.status" ng-disabled="vc.viewState.VA_STATUSRUGGOTSMF_965508.disabled || vc.viewState.VA_STATUSRUGGOTSMF_965508.disabledingroup" ng-show="vc.viewState.VA_STATUSRUGGOTSMF_965508.visible" ng-readonly="vc.viewState.VA_STATUSRUGGOTSMF_965508.readonly" ng-class="vc.viewState.VA_STATUSRUGGOTSMF_965508.style" k-data-source="vc.catalogs.VA_STATUSRUGGOTSMF_965508" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_STATUSRUGGOTSMF_965508.template" data-cobis-group="GroupLayout,G_LOANSEARRH_169508,0" data-validation-code="{{vc.viewState.VA_STATUSRUGGOTSMF_965508.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_MIGRATEDOPERFRB_417508.visible"> 
          <div class="form-group" id="VA_MIGRATEDOPERFRB_417508_DIV"> 
           <label for="VA_MIGRATEDOPERFRB_417508" title="{{vc.viewState.VA_MIGRATEDOPERFRB_417508.label|translate:vc.viewState.VA_MIGRATEDOPERFRB_417508.labelArgs}}" ng-show="vc.viewState.VA_MIGRATEDOPERFRB_417508.visible" class="control-label">{{vc.viewState.VA_MIGRATEDOPERFRB_417508.label|translate:vc.viewState.VA_MIGRATEDOPERFRB_417508.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_MIGRATEDOPERFRB_417508" name="LoanSearchFilter_migratedOper" type="text" class="form-control" ng-model="vc.model.LoanSearchFilter.migratedOper" ng-disabled="vc.viewState.VA_MIGRATEDOPERFRB_417508.disabled || vc.viewState.VA_MIGRATEDOPERFRB_417508.disabledingroup" ng-show="vc.viewState.VA_MIGRATEDOPERFRB_417508.visible" ng-readonly="vc.viewState.VA_MIGRATEDOPERFRB_417508.readonly" ng-class="vc.viewState.VA_MIGRATEDOPERFRB_417508.style" data-cobis-group="GroupLayout,G_LOANSEARRH_169508,0" ng-model-onblur designer-restrict-input="numbers" data-validation-code="{{vc.viewState.VA_MIGRATEDOPERFRB_417508.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </fieldset> 
     <div id="G_LOANSEAHRH_717508" class="cb-group cb-group-simple" ng-show="vc.viewState.G_LOANSEAHRH_717508.visible" ng-class="vc.viewState.G_LOANSEAHRH_717508.style"> 
      <div id="G_LOANSEAHRH_717508_VAL" kendo-validator="G_LOANSEAHRH_717508" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_AVANCESEARCHMXA_533508.visible"> 
          <div class="form-group" id="VA_AVANCESEARCHMXA_533508_DIV"> 
           <label>&nbsp; </label> 
           <div class="cb-control"> 
            <div> 
             <label class="checkbox-inline"> <input id="VA_AVANCESEARCHMXA_533508" name="LoanSearchFilter_avanceSearch" type="checkbox" ng-model="vc.model.LoanSearchFilter.avanceSearch" ng-disabled="vc.viewState.VA_AVANCESEARCHMXA_533508.disabled || vc.viewState.VA_AVANCESEARCHMXA_533508.disabledingroup" ng-show="vc.viewState.VA_AVANCESEARCHMXA_533508.visible" ng-class="vc.viewState.VA_AVANCESEARCHMXA_533508.style" designer-change /> <span ng-if="vc.viewState.VA_AVANCESEARCHMXA_533508.visible"> {{vc.viewState.VA_AVANCESEARCHMXA_533508.label|translate}} </span> </label> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.Spacer2473.visible"> 
          <div class="form-group cb-spacer"> 
           <label class="control-label">&nbsp;</label> 
           <span class="cb-control"></span> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.Spacer1732.visible"> 
          <div class="form-group cb-spacer"> 
           <label class="control-label">&nbsp;</label> 
           <span class="cb-control"></span> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_VABUTTONBCZSHFM_208508.visible"> 
          <div class="form-group"> 
           <label class="control-label">&nbsp;</label> 
           <div class="cb-control"> 
            <button id="VA_VABUTTONBCZSHFM_208508" class="btn btn-default btn-block" ng-click="vc.executeQueryControl(vc.getRequestQuery_Q_LOANDPQM_3009(),'',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONBCZSHFM_208508.disabled || vc.viewState.VA_VABUTTONBCZSHFM_208508.disabledingroup" ng-show="vc.viewState.VA_VABUTTONBCZSHFM_208508.visible" ng-class="vc.viewState.VA_VABUTTONBCZSHFM_208508.style"> {{vc.viewState.VA_VABUTTONBCZSHFM_208508.label|translate}} </button> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <fieldset id="G_LOANSEAHHH_461508" ng-show="vc.viewState.G_LOANSEAHHH_461508.visible" ng-class="vc.viewState.G_LOANSEAHHH_461508.style" class="cb-group cb-group-simple"> 
      <legend> <span ng-bind="vc.viewState.G_LOANSEAHHH_461508.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.G_LOANSEAHHH_461508.statusStyle.success, 'cb-validation-fail': vc.viewState.G_LOANSEAHHH_461508.statusStyle.fail, 'cb-validation-none': vc.viewState.G_LOANSEAHHH_461508.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.G_LOANSEAHHH_461508.label|translate}}</span> </legend> 
      <div id="G_LOANSEAHHH_461508_VAL" kendo-validator="G_LOANSEAHHH_461508" k-options="validatorOptions"> 
       <div id="QV_3009_96085" kendo-ext-grid="grids.QV_3009_96085" k-data-source="vc.model.Loan" k-column-menu="false" k-excel="vc.grids.QV_3009_96085.events.excel" k-sortable="false" k-pageable="{refresh: false, pageSizes: false, buttonCount: 5}" k-editable="vc.grids.QV_3009_96085.editable" k-toolbar="vc.grids.QV_3009_96085.toolbar" k-resizable="true" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="true" k-selectable="true" k-change="vc.grids.QV_3009_96085.events.change" k-excel-export="vc.grids.QV_3009_96085.events.excelExport" k-data-bound="vc.grids.QV_3009_96085.events.dataBound" k-columns="vc.grids.QV_3009_96085.columns" k-cancel="vc.grids.QV_3009_96085.events.cancel" k-edit="vc.grids.QV_3009_96085.events.edit" ng-class="vc.viewState.QV_3009_96085.style" k-ng-delay="vc.afterInitData"></div> 
      </div> 
     </fieldset> 
    </div> 
   </div> 
   <div id="G_LOANSEARCH_564508" ng-show="vc.viewState.G_LOANSEARCH_564508.visible" ng-class="vc.viewState.G_LOANSEARCH_564508.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_LOANSEARCH_564508" k-options="validatorOptions" id="G_LOANSEARCH_564508_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer2999.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_LOANSEARCH_508--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_LOANSEARCHSWA_959_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_LOANSEARHC_144959')" ng-disabled="vc.viewState.T_LOANSEARCHSWA_959_ACCEPT.disabled || vc.viewState.T_LOANSEARCHSWA_959_ACCEPT.disabledingroup" ng-show="vc.viewState.T_LOANSEARCHSWA_959_ACCEPT.visible" ng-class="vc.viewState.T_LOANSEARCHSWA_959_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_LOANSEARCHSWA_959_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_LOANSEARCHSWA_959_CANCEL.disabled || vc.viewState.T_LOANSEARCHSWA_959_CANCEL.disabledingroup" ng-show="vc.viewState.T_LOANSEARCHSWA_959_CANCEL.visible" ng-class="vc.viewState.T_LOANSEARCHSWA_959_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>