<!-- Designer Generator v 6.3.3 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_NEGOTIATOO_775700" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_NEGOTIATOO_775700.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_NEGOTIATYP_225--> 
  <div id="VC_NEGOTIATOO_775700" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_NEGOTIADTM_913225" ng-show="vc.viewState.G_NEGOTIADTM_913225.visible" ng-class="vc.viewState.G_NEGOTIADTM_913225.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_NEGOTIADTM_913225" k-options="validatorOptions" id="G_NEGOTIADTM_913225_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-6" ng-show="vc.viewState.VA_TEXTINPUTBOXHOE_149225.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXHOE_149225_DIV"> 
         <label for="VA_TEXTINPUTBOXHOE_149225" title="{{vc.viewState.VA_TEXTINPUTBOXHOE_149225.label|translate:vc.viewState.VA_TEXTINPUTBOXHOE_149225.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXHOE_149225.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXHOE_149225.label|translate:vc.viewState.VA_TEXTINPUTBOXHOE_149225.labelArgs}}</label> 
         <div class="cb-control"> 
          <div> 
           <input id="VA_TEXTINPUTBOXHOE_149225" ng-show="false" /> 
           <label class="d-radio-block" data-ng-repeat="result in vc.catalogs.VA_TEXTINPUTBOXHOE_149225.data()"> <input id="VA_TEXTINPUTBOXHOE_149225-{{$index}}" name="Negotiation_paymentType" type="radio" value="{{result.code}}" ng-model="vc.model.Negotiation.paymentType" ng-disabled="vc.viewState.VA_TEXTINPUTBOXHOE_149225.disabled || vc.viewState.VA_TEXTINPUTBOXHOE_149225.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXHOE_149225.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXHOE_149225.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXHOE_149225.style" data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXHOE_149225.validationCode}}" /> {{result.value}} </label> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-6" ng-show="vc.viewState.VA_TEXTINPUTBOXNOR_530225.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXNOR_530225_DIV"> 
         <label for="VA_TEXTINPUTBOXNOR_530225" title="{{vc.viewState.VA_TEXTINPUTBOXNOR_530225.label|translate:vc.viewState.VA_TEXTINPUTBOXNOR_530225.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXNOR_530225.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXNOR_530225.label|translate:vc.viewState.VA_TEXTINPUTBOXNOR_530225.labelArgs}}</label> 
         <div class="cb-control"> 
          <div> 
           <input id="VA_TEXTINPUTBOXNOR_530225" ng-show="false" /> 
           <label class="d-radio-block" data-ng-repeat="result in vc.catalogs.VA_TEXTINPUTBOXNOR_530225.data()"> <input id="VA_TEXTINPUTBOXNOR_530225-{{$index}}" name="Negotiation_interestType" type="radio" value="{{result.code}}" ng-model="vc.model.Negotiation.interestType" ng-disabled="vc.viewState.VA_TEXTINPUTBOXNOR_530225.disabled || vc.viewState.VA_TEXTINPUTBOXNOR_530225.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXNOR_530225.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXNOR_530225.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXNOR_530225.style" data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXNOR_530225.validationCode}}" /> {{result.value}} </label> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-6" ng-show="vc.viewState.VA_CHECKBOXMVFTHFB_720225.visible"> 
        <div class="form-group" id="VA_CHECKBOXMVFTHFB_720225_DIV"> 
         <label>&nbsp; </label> 
         <div class="cb-control"> 
          <div> 
           <label class="checkbox-inline"> <input id="VA_CHECKBOXMVFTHFB_720225" name="Negotiation_fullFee" type="checkbox" ng-model="vc.model.Negotiation.fullFee" ng-disabled="vc.viewState.VA_CHECKBOXMVFTHFB_720225.disabled || vc.viewState.VA_CHECKBOXMVFTHFB_720225.disabledingroup" ng-show="vc.viewState.VA_CHECKBOXMVFTHFB_720225.visible" ng-class="vc.viewState.VA_CHECKBOXMVFTHFB_720225.style" /> <span ng-if="vc.viewState.VA_CHECKBOXMVFTHFB_720225.visible"> {{vc.viewState.VA_CHECKBOXMVFTHFB_720225.label|translate}} </span> </label> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-6" ng-show="vc.viewState.VA_TEXTINPUTBOXAPF_912225.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXAPF_912225_DIV"> 
         <label>&nbsp; </label> 
         <div class="cb-control"> 
          <div> 
           <label class="checkbox-inline"> <input id="VA_TEXTINPUTBOXAPF_912225" name="Negotiation_additionalPayments" type="checkbox" ng-model="vc.model.Negotiation.additionalPayments" ng-disabled="vc.viewState.VA_TEXTINPUTBOXAPF_912225.disabled || vc.viewState.VA_TEXTINPUTBOXAPF_912225.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXAPF_912225.visible" ng-class="vc.viewState.VA_TEXTINPUTBOXAPF_912225.style" /> <span ng-if="vc.viewState.VA_TEXTINPUTBOXAPF_912225.visible"> {{vc.viewState.VA_TEXTINPUTBOXAPF_912225.label|translate}} </span> </label> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_NEGOTIATYP_225--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc || !vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_TNEGOTIA_2A4" ng-click="vc.executeCommand('CM_TNEGOTIA_2A4','Command1', validator, false, false, 'VC_NEGOTIATOO_775700', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_TNEGOTIA_2A4.disabled || vc.viewState.CM_TNEGOTIA_2A4.disabledingroup" ng-show="vc.viewState.CM_TNEGOTIA_2A4.visible" ng-class="vc.viewState.CM_TNEGOTIA_2A4.style"> {{vc.viewState.CM_TNEGOTIA_2A4.label|translate}} </button> 
    <button id="CM_TNEGOTIA_6T_" ng-click="vc.executeCommand('CM_TNEGOTIA_6T_','Command2', validator, false, false, 'VC_NEGOTIATOO_775700', false)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_TNEGOTIA_6T_.disabled || vc.viewState.CM_TNEGOTIA_6T_.disabledingroup" ng-show="vc.viewState.CM_TNEGOTIA_6T_.visible" ng-class="vc.viewState.CM_TNEGOTIA_6T_.style"> {{vc.viewState.CM_TNEGOTIA_6T_.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_NEGOTIATIOTML_700_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_NEGOTIATOO_775700')" ng-disabled="vc.viewState.T_NEGOTIATIOTML_700_ACCEPT.disabled || vc.viewState.T_NEGOTIATIOTML_700_ACCEPT.disabledingroup" ng-show="vc.viewState.T_NEGOTIATIOTML_700_ACCEPT.visible" ng-class="vc.viewState.T_NEGOTIATIOTML_700_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_NEGOTIATIOTML_700_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_NEGOTIATIOTML_700_CANCEL.disabled || vc.viewState.T_NEGOTIATIOTML_700_CANCEL.disabledingroup" ng-show="vc.viewState.T_NEGOTIATIOTML_700_CANCEL.visible" ng-class="vc.viewState.T_NEGOTIATIOTML_700_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>