<!-- Designer Generator v 6.4.0.5 - SPR 2019-03 15/02/2019 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_REFERENCSS_358647" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_REFERENCSS_358647.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_REFERENCSE_576--> 
  <div id="VC_REFERENCSS_358647" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_REFERENSES_691576" ng-class="vc.viewState.G_REFERENSES_691576.style" class="cb-group cb-group-layout"> 
    <div id="G_REFERENSES_691576_VAL" kendo-validator="G_REFERENSES_691576" k-options="validatorOptions"> 
     <div id="G_REFERENESE_949576" class="cb-group cb-group-simple" ng-show="vc.viewState.G_REFERENESE_949576.visible" ng-class="vc.viewState.G_REFERENESE_949576.style"> 
      <div designer-form-load form="vc.viewState.G_REFERENESE_949576" class="cb-group cb-group-html-section"> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_REFERENESE_254576" ng-show="vc.viewState.G_REFERENESE_254576.visible" ng-class="vc.viewState.G_REFERENESE_254576.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_REFERENESE_254576" k-options="validatorOptions" id="G_REFERENESE_254576_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_CODELGVLPDNYAPY_652576.visible"> 
        <div class="form-group" id="VA_CODELGVLPDNYAPY_652576_DIV"> 
         <label for="VA_CODELGVLPDNYAPY_652576" title="{{vc.viewState.VA_CODELGVLPDNYAPY_652576.label|translate:vc.viewState.VA_CODELGVLPDNYAPY_652576.labelArgs}}" ng-show="vc.viewState.VA_CODELGVLPDNYAPY_652576.visible" class="control-label">{{vc.viewState.VA_CODELGVLPDNYAPY_652576.label|translate:vc.viewState.VA_CODELGVLPDNYAPY_652576.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_CODELGVLPDNYAPY_652576" name="CustomerTmpReferences_code" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_CODELGVLPDNYAPY_652576.decimals" k-format="vc.viewState.VA_CODELGVLPDNYAPY_652576.format" k-ng-model="vc.model.CustomerTmpReferences.code" ng-model="vc.tmpModel.CustomerTmpReferences.code" ng-disabled="vc.viewState.VA_CODELGVLPDNYAPY_652576.disabled || vc.viewState.VA_CODELGVLPDNYAPY_652576.disabledingroup" ng-show="vc.viewState.VA_CODELGVLPDNYAPY_652576.visible" ng-readonly="vc.viewState.VA_CODELGVLPDNYAPY_652576.readonly" ng-class="vc.viewState.VA_CODELGVLPDNYAPY_652576.style" data-cobis-group="Group,G_REFERENESE_254576,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_CODELGVLPDNYAPY_652576.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONOKQWNLY_810576.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONOKQWNLY_810576" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONOKQWNLY_810576','VA_VABUTTONOKQWNLY_810576',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONOKQWNLY_810576.disabled || vc.viewState.VA_VABUTTONOKQWNLY_810576.disabledingroup" ng-show="vc.viewState.VA_VABUTTONOKQWNLY_810576.visible" ng-class="vc.viewState.VA_VABUTTONOKQWNLY_810576.style"> {{vc.viewState.VA_VABUTTONOKQWNLY_810576.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_REFERENECE_759576" ng-show="vc.viewState.G_REFERENECE_759576.visible" ng-class="vc.viewState.G_REFERENECE_759576.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_REFERENECE_759576" k-options="validatorOptions" id="G_REFERENECE_759576_VAL"> 
     <div id="QV_7269_22799" kendo-ext-grid="grids.QV_7269_22799" k-data-source="vc.model.References" k-column-menu="false" k-sortable="false" k-pageable="{refresh: false, pageSizes: false, buttonCount: 5}" k-editable="vc.grids.QV_7269_22799.editable" k-toolbar="vc.grids.QV_7269_22799.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="true" k-selectable="false" k-data-bound="vc.grids.QV_7269_22799.events.dataBound" k-columns="vc.grids.QV_7269_22799.columns" k-cancel="vc.grids.QV_7269_22799.events.cancel" k-edit="vc.grids.QV_7269_22799.events.edit" k-data-binding="vc.grids.QV_7269_22799.events.dataBinding" ng-class="vc.viewState.QV_7269_22799.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_REFERENCSE_576--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_REFERENCESOWS_647_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_REFERENCSS_358647')" ng-disabled="vc.viewState.T_REFERENCESOWS_647_ACCEPT.disabled || vc.viewState.T_REFERENCESOWS_647_ACCEPT.disabledingroup" ng-show="vc.viewState.T_REFERENCESOWS_647_ACCEPT.visible" ng-class="vc.viewState.T_REFERENCESOWS_647_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_REFERENCESOWS_647_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_REFERENCESOWS_647_CANCEL.disabled || vc.viewState.T_REFERENCESOWS_647_CANCEL.disabledingroup" ng-show="vc.viewState.T_REFERENCESOWS_647_CANCEL.visible" ng-class="vc.viewState.T_REFERENCESOWS_647_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>