<!-- Designer Generator v 6.3.3 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_TYPERATEDA_850545" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_TYPERATEDA_850545.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_TYPERATESD_908--> 
  <div id="VC_TYPERATEDA_850545" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_TYPERATMMM_527908" ng-show="vc.viewState.G_TYPERATMMM_527908.visible" ng-class="vc.viewState.G_TYPERATMMM_527908.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_TYPERATMMM_527908" k-options="validatorOptions" id="G_TYPERATMMM_527908_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-12" ng-show="vc.viewState.VA_TEXTINPUTBOXAKX_265908.visible"> 
        <div class="form-group cb-required" id="VA_TEXTINPUTBOXAKX_265908_DIV"> 
         <label for="VA_TEXTINPUTBOXAKX_265908" title="{{vc.viewState.VA_TEXTINPUTBOXAKX_265908.label|translate:vc.viewState.VA_TEXTINPUTBOXAKX_265908.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXAKX_265908.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXAKX_265908.label|translate:vc.viewState.VA_TEXTINPUTBOXAKX_265908.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXAKX_265908" name="TypeRates_identifier" maxlength="20" type="text" class="form-control text-uppercase" ng-model="vc.model.TypeRates.identifier" ng-disabled="vc.viewState.VA_TEXTINPUTBOXAKX_265908.disabled || vc.viewState.VA_TEXTINPUTBOXAKX_265908.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXAKX_265908.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXAKX_265908.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXAKX_265908.style" data-cobis-group="Group,G_TYPERATMMM_527908,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXAKX_265908.validationCode}}" data-required-msg="{{'ASSTS.LBL_ASSTS_IDENTIFCR_66965'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-12" ng-show="vc.viewState.VA_TEXTINPUTBOXMYR_708908.visible"> 
        <div class="form-group cb-required" id="VA_TEXTINPUTBOXMYR_708908_DIV"> 
         <label for="VA_TEXTINPUTBOXMYR_708908" title="{{vc.viewState.VA_TEXTINPUTBOXMYR_708908.label|translate:vc.viewState.VA_TEXTINPUTBOXMYR_708908.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXMYR_708908.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXMYR_708908.label|translate:vc.viewState.VA_TEXTINPUTBOXMYR_708908.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXMYR_708908" name="TypeRates_description" maxlength="100" type="text" class="form-control text-uppercase" ng-model="vc.model.TypeRates.description" ng-disabled="vc.viewState.VA_TEXTINPUTBOXMYR_708908.disabled || vc.viewState.VA_TEXTINPUTBOXMYR_708908.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXMYR_708908.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXMYR_708908.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXMYR_708908.style" data-cobis-group="Group,G_TYPERATMMM_527908,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXMYR_708908.validationCode}}" data-required-msg="{{'ASSTS.LBL_ASSTS_DESCRIPNI_65857'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-12" ng-show="vc.viewState.VA_CLASEXTBDAGEJGY_237908.visible"> 
        <div class="form-group cb-required" id="VA_CLASEXTBDAGEJGY_237908_DIV"> 
         <label for="VA_CLASEXTBDAGEJGY_237908" title="{{vc.viewState.VA_CLASEXTBDAGEJGY_237908.label|translate:vc.viewState.VA_CLASEXTBDAGEJGY_237908.labelArgs}}" ng-show="vc.viewState.VA_CLASEXTBDAGEJGY_237908.visible" class="control-label">{{vc.viewState.VA_CLASEXTBDAGEJGY_237908.label|translate:vc.viewState.VA_CLASEXTBDAGEJGY_237908.labelArgs}}</label> 
         <div class="cb-control"> 
          <div> 
           <input id="VA_CLASEXTBDAGEJGY_237908" ng-show="false" /> 
           <label class="radio-inline" data-ng-repeat="result in vc.catalogs.VA_CLASEXTBDAGEJGY_237908.data()"> <input id="VA_CLASEXTBDAGEJGY_237908-{{$index}}" name="TypeRates_clase" type="radio" value="{{result.code}}" ng-model="vc.model.TypeRates.clase" ng-disabled="vc.viewState.VA_CLASEXTBDAGEJGY_237908.disabled || vc.viewState.VA_CLASEXTBDAGEJGY_237908.disabledingroup" ng-show="vc.viewState.VA_CLASEXTBDAGEJGY_237908.visible" ng-readonly="vc.viewState.VA_CLASEXTBDAGEJGY_237908.readonly" ng-class="vc.viewState.VA_CLASEXTBDAGEJGY_237908.style" required data-validation-code="{{vc.viewState.VA_CLASEXTBDAGEJGY_237908.validationCode}}" data-required-msg="{{'ASSTS.LBL_ASSTS_CLASEBNBK_90328'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> {{result.value}} </label> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_TYPERATESD_908--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc || !vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_TTYPERAT_R0N" ng-click="vc.executeCommand('CM_TTYPERAT_R0N','Command1', validator, false, false, 'VC_TYPERATEDA_850545', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_TTYPERAT_R0N.disabled || vc.viewState.CM_TTYPERAT_R0N.disabledingroup" ng-show="vc.viewState.CM_TTYPERAT_R0N.visible" ng-class="vc.viewState.CM_TTYPERAT_R0N.style"> {{vc.viewState.CM_TTYPERAT_R0N.label|translate}} </button> 
    <button id="CM_TTYPERAT_MET" ng-click="vc.executeCommand('CM_TTYPERAT_MET','Command2', validator, false, false, 'VC_TYPERATEDA_850545', false)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_TTYPERAT_MET.disabled || vc.viewState.CM_TTYPERAT_MET.disabledingroup" ng-show="vc.viewState.CM_TTYPERAT_MET.visible" ng-class="vc.viewState.CM_TTYPERAT_MET.style"> {{vc.viewState.CM_TTYPERAT_MET.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_TYPERATESMALA_545_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_TYPERATEDA_850545')" ng-disabled="vc.viewState.T_TYPERATESMALA_545_ACCEPT.disabled || vc.viewState.T_TYPERATESMALA_545_ACCEPT.disabledingroup" ng-show="vc.viewState.T_TYPERATESMALA_545_ACCEPT.visible" ng-class="vc.viewState.T_TYPERATESMALA_545_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_TYPERATESMALA_545_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_TYPERATESMALA_545_CANCEL.disabled || vc.viewState.T_TYPERATESMALA_545_CANCEL.disabledingroup" ng-show="vc.viewState.T_TYPERATESMALA_545_CANCEL.visible" ng-class="vc.viewState.T_TYPERATESMALA_545_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>