<!-- Designer Generator v 5.1.0.1604 - release SPR 2016-04 04/03/2016 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_ECSTS94_ORLII_828" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_ECSTS94_ORLII_828.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_ECSTS94_ORLII_828" ng-keydown="vc.viewState.keyDown($event)" class="cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="VC_ECSTS94_UINBR_676" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_ECSTS94_UINBR_676', vc.viewState.VC_ECSTS94_UINBR_676.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_ECSTS94_UINBR_676.visible"> 
    <div id="VC_ECSTS94_UINBR_676_VAL" kendo-validator="VC_ECSTS94_UINBR_676" k-options="validatorOptions"> 
     <!-- Inicio item VW_ERREPIATNA79--> 
     <div id="GR_ERREPIATNA79_55" ng-class="vc.viewState.GR_ERREPIATNA79_55.style" class="cb-group cb-group-layout"> 
      <div id="GR_ERREPIATNA79_55_VAL" kendo-validator="GR_ERREPIATNA79_55" k-options="validatorOptions"> 
       <div id="GR_ERREPIATNA79_28" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_ERREPIATNA79_28.visible" ng-class="vc.viewState.GR_ERREPIATNA79_28.style"> 
        <div id="GR_ERREPIATNA79_28_VAL" kendo-validator="GR_ERREPIATNA79_28" k-options="validatorOptions"> 
         <div class="form-vertical"> 
          <div class="row"> 
           <div class="col-xs-4" ng-show="vc.viewState.VA_ERREPIATNA7928_RENA063.visible"> 
            <div class="form-group" id="VA_ERREPIATNA7928_RENA063_DIV"> 
             <label for="VA_ERREPIATNA7928_RENA063" title="{{vc.viewState.VA_ERREPIATNA7928_RENA063.label|translate:vc.viewState.VA_ERREPIATNA7928_RENA063.labelArgs}}" ng-show="vc.viewState.VA_ERREPIATNA7928_RENA063.visible" class="control-label">{{vc.viewState.VA_ERREPIATNA7928_RENA063.label|translate:vc.viewState.VA_ERREPIATNA7928_RENA063.labelArgs}}</label> 
             <div class="cb-control"> 
              <input id="VA_ERREPIATNA7928_RENA063" name="ReportFilter_regional" kendo-ext-combo-box="comboBox.VA_ERREPIATNA7928_RENA063" ng-model="vc.model.ReportFilter.regional" ng-disabled="vc.viewState.VA_ERREPIATNA7928_RENA063.disabled || vc.viewState.VA_ERREPIATNA7928_RENA063.disabledingroup" ng-show="vc.viewState.VA_ERREPIATNA7928_RENA063.visible" ng-readonly="vc.viewState.VA_ERREPIATNA7928_RENA063.readonly" ng-class="vc.viewState.VA_ERREPIATNA7928_RENA063.style" k-data-source="vc.catalogs.VA_ERREPIATNA7928_RENA063" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_ERREPIATNA7928_RENA063.template" data-cobis-group="Group,GR_ERREPIATNA79_55,0" data-validation-code="{{vc.viewState.VA_ERREPIATNA7928_RENA063.validationCode}}" /> 
             </div> 
            </div> 
           </div> 
           <div class="col-xs-4" ng-show="vc.viewState.VA_ERREPIATNA7928_GENA971.visible"> 
            <div class="form-group" id="VA_ERREPIATNA7928_GENA971_DIV"> 
             <label for="VA_ERREPIATNA7928_GENA971" title="{{vc.viewState.VA_ERREPIATNA7928_GENA971.label|translate:vc.viewState.VA_ERREPIATNA7928_GENA971.labelArgs}}" ng-show="vc.viewState.VA_ERREPIATNA7928_GENA971.visible" class="control-label">{{vc.viewState.VA_ERREPIATNA7928_GENA971.label|translate:vc.viewState.VA_ERREPIATNA7928_GENA971.labelArgs}}</label> 
             <div class="cb-control"> 
              <input id="VA_ERREPIATNA7928_GENA971" name="ReportFilter_agency" kendo-ext-combo-box="comboBox.VA_ERREPIATNA7928_GENA971" ng-model="vc.model.ReportFilter.agency" ng-disabled="vc.viewState.VA_ERREPIATNA7928_GENA971.disabled || vc.viewState.VA_ERREPIATNA7928_GENA971.disabledingroup" ng-show="vc.viewState.VA_ERREPIATNA7928_GENA971.visible" ng-readonly="vc.viewState.VA_ERREPIATNA7928_GENA971.readonly" ng-class="vc.viewState.VA_ERREPIATNA7928_GENA971.style" k-data-source="vc.catalogs.VA_ERREPIATNA7928_GENA971" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_ERREPIATNA7928_GENA971.template" data-cobis-group="Group,GR_ERREPIATNA79_55,0" data-validation-code="{{vc.viewState.VA_ERREPIATNA7928_GENA971.validationCode}}" designer-change /> 
             </div> 
            </div> 
           </div> 
           <div class="col-xs-4" ng-show="vc.viewState.VA_ERREPIATNA7928_ICID114.visible"> 
            <div class="form-group" id="VA_ERREPIATNA7928_ICID114_DIV"> 
             <label for="VA_ERREPIATNA7928_ICID114" title="{{vc.viewState.VA_ERREPIATNA7928_ICID114.label|translate:vc.viewState.VA_ERREPIATNA7928_ICID114.labelArgs}}" ng-show="vc.viewState.VA_ERREPIATNA7928_ICID114.visible" class="control-label">{{vc.viewState.VA_ERREPIATNA7928_ICID114.label|translate:vc.viewState.VA_ERREPIATNA7928_ICID114.labelArgs}}</label> 
             <div class="cb-control"> 
              <input id="VA_ERREPIATNA7928_ICID114" name="ReportFilter_oficialCredit" kendo-ext-combo-box="comboBox.VA_ERREPIATNA7928_ICID114" ng-model="vc.model.ReportFilter.oficialCredit" ng-disabled="vc.viewState.VA_ERREPIATNA7928_ICID114.disabled || vc.viewState.VA_ERREPIATNA7928_ICID114.disabledingroup" ng-show="vc.viewState.VA_ERREPIATNA7928_ICID114.visible" ng-readonly="vc.viewState.VA_ERREPIATNA7928_ICID114.readonly" ng-class="vc.viewState.VA_ERREPIATNA7928_ICID114.style" k-data-source="vc.catalogs.VA_ERREPIATNA7928_ICID114" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_ERREPIATNA7928_ICID114.template" data-cobis-group="Group,GR_ERREPIATNA79_55,0" data-validation-code="{{vc.viewState.VA_ERREPIATNA7928_ICID114.validationCode}}" designer-change /> 
             </div> 
            </div> 
           </div> 
           <div class="col-xs-4" ng-show="vc.viewState.VA_ERREPIATNA7928_ESTO635.visible"> 
            <div class="form-group" id="VA_ERREPIATNA7928_ESTO635_DIV"> 
             <label for="VA_ERREPIATNA7928_ESTO635" title="{{vc.viewState.VA_ERREPIATNA7928_ESTO635.label|translate:vc.viewState.VA_ERREPIATNA7928_ESTO635.labelArgs}}" ng-show="vc.viewState.VA_ERREPIATNA7928_ESTO635.visible" class="control-label">{{vc.viewState.VA_ERREPIATNA7928_ESTO635.label|translate:vc.viewState.VA_ERREPIATNA7928_ESTO635.labelArgs}}</label> 
             <div class="cb-control"> 
              <input id="VA_ERREPIATNA7928_ESTO635" name="ReportFilter_status" kendo-ext-combo-box="comboBox.VA_ERREPIATNA7928_ESTO635" ng-model="vc.model.ReportFilter.status" ng-disabled="vc.viewState.VA_ERREPIATNA7928_ESTO635.disabled || vc.viewState.VA_ERREPIATNA7928_ESTO635.disabledingroup" ng-show="vc.viewState.VA_ERREPIATNA7928_ESTO635.visible" ng-readonly="vc.viewState.VA_ERREPIATNA7928_ESTO635.readonly" ng-class="vc.viewState.VA_ERREPIATNA7928_ESTO635.style" k-data-source="vc.catalogs.VA_ERREPIATNA7928_ESTO635" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_ERREPIATNA7928_ESTO635.template" data-cobis-group="Group,GR_ERREPIATNA79_55,0" data-validation-code="{{vc.viewState.VA_ERREPIATNA7928_ESTO635.validationCode}}" designer-change /> 
             </div> 
            </div> 
           </div> 
           <div class="col-xs-4" ng-show="vc.viewState.VA_ERREPIATNA7928_RITP149.visible"> 
            <div class="form-group" id="VA_ERREPIATNA7928_RITP149_DIV"> 
             <label for="VA_ERREPIATNA7928_RITP149" title="{{vc.viewState.VA_ERREPIATNA7928_RITP149.label|translate:vc.viewState.VA_ERREPIATNA7928_RITP149.labelArgs}}" ng-show="vc.viewState.VA_ERREPIATNA7928_RITP149.visible" class="control-label">{{vc.viewState.VA_ERREPIATNA7928_RITP149.label|translate:vc.viewState.VA_ERREPIATNA7928_RITP149.labelArgs}}</label> 
             <div class="cb-control"> 
              <input id="VA_ERREPIATNA7928_RITP149" name="ReportFilter_creditType" kendo-ext-combo-box="comboBox.VA_ERREPIATNA7928_RITP149" ng-model="vc.model.ReportFilter.creditType" ng-disabled="vc.viewState.VA_ERREPIATNA7928_RITP149.disabled || vc.viewState.VA_ERREPIATNA7928_RITP149.disabledingroup" ng-show="vc.viewState.VA_ERREPIATNA7928_RITP149.visible" ng-readonly="vc.viewState.VA_ERREPIATNA7928_RITP149.readonly" ng-class="vc.viewState.VA_ERREPIATNA7928_RITP149.style" k-data-source="vc.catalogs.VA_ERREPIATNA7928_RITP149" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_ERREPIATNA7928_RITP149.template" data-cobis-group="Group,GR_ERREPIATNA79_55,0" data-validation-code="{{vc.viewState.VA_ERREPIATNA7928_RITP149.validationCode}}" designer-change /> 
             </div> 
            </div> 
           </div> 
           <div class="col-xs-4" ng-show="vc.viewState.VA_ERREPIATNA7928_0000929.visible"> 
            <div class="form-group cb-spacer"> 
             <label class="control-label">&nbsp;</label> 
             <span class="cb-control"></span> 
            </div> 
           </div> 
           <div class="col-xs-4" ng-show="vc.viewState.VA_ERREPIATNA7928_0000878.visible"> 
            <div class="form-group"> 
             <label class="control-label">&nbsp;</label> 
             <div class="cb-control"> 
              <button id="VA_ERREPIATNA7928_0000878" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_ERREPIATNA7928_0000878','button',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_ERREPIATNA7928_0000878.disabled || vc.viewState.VA_ERREPIATNA7928_0000878.disabledingroup" ng-show="vc.viewState.VA_ERREPIATNA7928_0000878.visible" ng-class="vc.viewState.VA_ERREPIATNA7928_0000878.style"> {{vc.viewState.VA_ERREPIATNA7928_0000878.label|translate}} </button> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div id="GR_ERREPIATNA79_42" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_ERREPIATNA79_42.visible" ng-class="vc.viewState.GR_ERREPIATNA79_42.style"> 
        <div id="GR_ERREPIATNA79_42_VAL" kendo-validator="GR_ERREPIATNA79_42" k-options="validatorOptions"> 
         <div class="form-vertical"> 
          <div class="row"> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <!-- Fin item VW_ERREPIATNA79--> 
    </div> 
   </div> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_FLCRE_67_ECSTS94_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_ECSTS94_ORLII_828')" ng-disabled="vc.viewState.T_FLCRE_67_ECSTS94_ACCEPT.disabled || vc.viewState.T_FLCRE_67_ECSTS94_ACCEPT.disabledingroup" ng-show="vc.viewState.T_FLCRE_67_ECSTS94_ACCEPT.visible" ng-class="vc.viewState.T_FLCRE_67_ECSTS94_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_FLCRE_67_ECSTS94_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_FLCRE_67_ECSTS94_CANCEL.disabled || vc.viewState.T_FLCRE_67_ECSTS94_CANCEL.disabledingroup" ng-show="vc.viewState.T_FLCRE_67_ECSTS94_CANCEL.visible" ng-class="vc.viewState.T_FLCRE_67_ECSTS94_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>