//////////////////////////////////////////////////////////////////////////////
//  Archivo:        MODULO.RC
//  Diseñado por:   Santiago Garcés
//  Fecha:          18-Dic-97
//////////////////////////////////////////////////////////////////////////////
//                        PROPOSITO
//  Este script contiene los recursos utilizados para los módulos
//  COBIS
//////////////////////////////////////////////////////////////////////////////
//                      MODIFICACIONES
//  FECHA          AUTOR           RAZON
//  18-Dic-97      S.Garcés        Emision Inicial
//////////////////////////////////////////////////////////////////////////////


//////////////////////////////////////////////////////////////////////////////
//
// Iconos para botones (32x32)
//
// Nota: Los íconos empleados en botones deben tener un ID igual a
//       28000 + el ID de la etiqueta respectiva
//

30000                   ICON    DISCARDABLE     "BUSCAR.ICO"
30001                   ICON    DISCARDABLE     "SIGUIENTE.ICO"
30002                   ICON    DISCARDABLE     "ESCOGER.ICO"
30003                   ICON    DISCARDABLE     "LIMPIAR.ICO"
30004                   ICON    DISCARDABLE     "INGRESAR.ICO"
30005                   ICON    DISCARDABLE     "MODIFICAR.ICO"
30006                   ICON    DISCARDABLE     "ELIMINAR.ICO"
30007                   ICON    DISCARDABLE     "TRANSMITIR.ICO"
30008                   ICON    DISCARDABLE     "SALIR.ICO"
30009                   ICON    DISCARDABLE     "IMPRIMIR.ICO"
30010                   ICON    DISCARDABLE     "GRAFICAR.ICO"

//PROPIOS
30020                  ICON    DISCARDABLE     "SIGUIENTE.ICO"
30021                  ICON    DISCARDABLE     "PAGAR.ICO"
30022                  ICON    DISCARDABLE     "DEVOLVER.ICO"
30023                  ICON    DISCARDABLE     "CANCELAR.ICO"
30024                  ICON    DISCARDABLE     "AÑADIR.ICO"
30025                  ICON    DISCARDABLE     "RESCATE.ICO"
30026                  ICON    DISCARDABLE     "PROPIETARIO.ICO"
30027                  ICON    DISCARDABLE     "FIRMA.ICO"
30028                  ICON    DISCARDABLE     "POSTERGAR.ICO"
30029                  ICON    DISCARDABLE     "ELIMINAR.ICO"
30030	               ICON    DISCARDABLE     "CREAR.ICO"
30031	               ICON    DISCARDABLE     "MODIFICAR.ICO"
30032	               ICON    DISCARDABLE     "ASIGNAR.ICO"
30033	               ICON    DISCARDABLE     "CUENTA.ICO"
30034	               ICON    DISCARDABLE     "PENDIENTE.ICO"
30035	               ICON    DISCARDABLE     "CONFCHEQUE.ICO"
30036	               ICON    DISCARDABLE     "REVERSAR.ICO"
30037	               ICON    DISCARDABLE     "CONFCARTA.ICO"
30038	               ICON    DISCARDABLE     "OK.ICO"
30039	               ICON    DISCARDABLE     "EDITAR.ICO"
30043	               ICON    DISCARDABLE     "PRIMERA.ICO"
30044	               ICON    DISCARDABLE     "SIGUIENTESC.ICO"
30045	               ICON    DISCARDABLE     "ANTERIOR.ICO"
30046	               ICON    DISCARDABLE     "ULTIMA.ICO"
30047	               ICON    DISCARDABLE     "BUSCARSIG.ICO"
30048	               ICON    DISCARDABLE     "EDITAR.ICO"
30049	               ICON    DISCARDABLE     "OK.ICO"


//iconos de 16x16
30050	               ICON    DISCARDABLE     "ELIMINAR16X16.ICO"
30051	               ICON    DISCARDABLE     "BUSCAR16X16.ICO"
30052	               ICON    DISCARDABLE     "AÑADIR16X16.ICO"
30053	               ICON    DISCARDABLE     "IMPRIMIR16X16.ICO"
30054	               ICON    DISCARDABLE     "TRANSMITIR16X16.ICO"
30055	               ICON    DISCARDABLE     "LIMPIAR16X16.ICO"
30056	               ICON    DISCARDABLE     "SALIR16X16.ICO"
30059	               ICON    DISCARDABLE     "EDITAR.ICO"
30060	               ICON    DISCARDABLE     "SOLICITAR.ICO"

//iconos buzon

30062	               ICON    DISCARDABLE     "PROCESAR.ICO"
30063	               ICON    DISCARDABLE     "RECOMENDAR.ICO"
30064	               ICON    DISCARDABLE     "AUTORIZAR.ICO"
30065	               ICON    DISCARDABLE     "TIEMPO.ICO"


//////////////////////////////////////////////////////////////////////////////
//
// Otros iconos
//

31000                   ICON    DISCARDABLE     "FORMA.ICO"

//////////////////////////////////////////////////////////////////////////////
//
// Strings para el Menú
//

STRINGTABLE DISCARDABLE 
BEGIN
	1000		"Cone&xión"
	1001		"Log O&n"
	1002		"Log O&ff"
	1003		"Preferencias"
	1004		"Password"
	1005		"Bloquear Pantalla"
	1006		"&Salir"
	1007		"&Ventana"
	1008		"Barra de Herammientas"
	1009		"Barra de Mensajes"
	1010		"Cascada"
	1011		"Vertical"
	1012		"Horizontal"
	1013		"Alinear Iconos"
	1014		"Ajustar a Ventana"
	1015		"&Ayuda"
	1016		"&Contenido..."
	1017		"&Buscar Ayuda Sobre..."
	1018		"&Acerca de..."
	1019		"&Ejemplo !"
	1020		"&Tipo de Capitalización por Producto Final"
	1021		"&Ciclo por Producto Final"
END

//////////////////////////////////////////////////////////////////////////////
//
// Strings para los ToolTips de la barra de herramientas
//
// Nota: El ID de estos string deben ser iagual a 500 más 
//       el ID del menú respectivo.
//

STRINGTABLE DISCARDABLE 
BEGIN
	1501		"Log On / Log Off"
	1503		"Preferencias"
	1504		"Password"
	1515		"Ayuda"
END

//////////////////////////////////////////////////////////////////////////////
//
// Strings para los Botones
//

STRINGTABLE DISCARDABLE 
BEGIN
	2000		"&Buscar"
	2001		"Si&gtes."
	2002		"&Escoger"
	2003		"&Limpiar"
	2004		"Ingresa&r"
	2005		"&Modificar"
	2006		"Elimi&nar"
	2007		"&Transmitir"
	2008		"&Salir"
	2009		"&Imprimir"
	2010		"&Graficar"
	2011		"&Aceptar"
	2012		"&Cancelar"
	2013		"&Restablecer"
	2014		"Restablecer &Todo"
	2015		"&Info. del Sistema..."


//PROPIOS

	2020		"Si&guientes"
	2021		"&Pagar"
	2022		"&Devolver"		
	2023		"&Cancelar"
	2024		"&Añadir"
	2025		"&Rescate"	
	2026		"&Propiet."
	2027		"&Firma"
	2028		"&Postergar"
	2029		"&Borrar"
	2030		"&Crear"
	2031		"&Actualizar" 
	2032		"&Asignar"
	2033		"&Cuenta"	
	2034		"&Pendiente"
	2035		"&Conf. Chq"
	2036		"&Reversar"
	2037		"&Conf. Carta"
	2038		"&Rechazar"
	2039		"&Desde Cta"

// Strigs sin icono
	2040		"&Siguientes"
	2041		"&OK"	
	2042		"&Escoger"

// iconos
	2043		"Primera"
	2044		"Siguiente"
	2045		"Anterior"
	2046		"Ultima"
	2047		"BuscarSig"
	2048		"E&ditar"
	2049		"&Validar"

//Iconos de 16x16
	2050		"&Eliminar"
	2051		"&Buscar"
	2052		"&Añadir"
	2053		"&Imprimir"
	2054		"&Transmitir"
	2055		"&Limpiar"
	2056		"&Salir"

//strings sin icono
	2057		"In&gresar"
	2058		"Eli&minar"

//strings con icono
	2059		"&Entregar"
	2060		"Solicita&r"

//strings sin icono
	2061		"&Buscar"

//Iconos Buzon
	2062		"&Procesar"
	2063		"Recomendar"
	2064		"&Autorizar"
	2065		"Tiempo"
END

//////////////////////////////////////////////////////////////////////////////
//
// Strings para los títulos de las pantallas
//

STRINGTABLE DISCARDABLE 
BEGIN
	3000		"Preferencias"
	3001		"Conexión con el Servidor"
	3002		"Datos Generales"
	3003		"Cambio de Password"
	3004		"Acerca de "
	3005		"Desbloquear Módulo COBIS"
	3006		"Tipo de Capitalización por Producto Final"
	3007		"Ciclo por Producto Final"
	3008		"Consulta Historica de Costos y Tasas"
	3009		"Autorización de Transacciones en Caja"
END

//////////////////////////////////////////////////////////////////////////////
//
// Strings para los ToolTips del módulo o ayudas para la barra de mensajes
//

STRINGTABLE DISCARDABLE 
BEGIN
	4000		"Login o Nombre del Usuario"
	4001		"Nombre del servidor al que se va a conectar"
	4002		"Código de la Filial"
	4003		"Código de la Oficina"
	4004		"Código del Rol con el que se conectará el usuario"
	4005		"Debe cerrar todas las ventanas para poder cambiar el formato de fecha"
	4006		"Escoja un Formato de Fecha"
	4007		"Escoja Opción de Debug"
	4008		"Nombre de archivo para Log Local"
	4009		"Salir y aceptar los cambios"
	4010		"Salir y cancelar los cambios"
	4011		"Restablecer valor original del último cambio"
	4012		"Restablecer los valores originales"
	4013		"Click para seleccionar el Item a cambiar"
	4014		"Password del usuario"
	4015		"Nuevo password del usuario"
	4016		"Reconfirmar nuevo password"
	4017		"Transacciones autorizadas"
	4018		"Escoja opción para dialogo de impresora"
	4019		"Escoja opción para encriptar password"
END

//////////////////////////////////////////////////////////////////////////////
//
// Strings para las etiquetas
//

STRINGTABLE DISCARDABLE 
BEGIN
	5000		"Preferencia :"
	5001		"Servidor :"
	5002		"Usuario :"
	5003		"Password :"
	5004		"Filial :"
	5005		"Oficina :"
	5006		"Roles :"
	5007		"Nombre :"
	5008		"Password Anterior :"
	5009		"Password Nuevo :"
	5010		"Confirmar Password :"
	5011		"El uso de este producto esta autorizado a:"
	5012		"Este programa esta protegido por las leyes internacionales de derechos de autor."
	5013		"Versión "
	5014		"Producto Final:"
	5015		"Tipo de Cap.:"
	5016		"Tipo de Capitalización por Producto Final:"
	5017		"Ciclo:"
	5018		"Ciclo por Producto Final:"
	5019		"Sucursal:"
        5020		"Tipo de Ejecución:"
        5021		"Responsable:"
        5022		"Sucursal:"
        5023		"Servicio Disponible:"
        5024		"Rubro:"
        5025		"Tipo Rango:"
        5026		"En Linea"
	5027		"Categoría:"
	5028		"Transacción:"
	5029		"Módulo:"
	5030		"Autorizada:"
	5031		"Autorización de Transacciones en Caja"
	5032        "Producto Cobis:"
	5033        "Producto Bancario:"
	5034        "SubTipo Tarjeta Débito:"
	5035        "Descripción del SubTipo:"
	5036        "Estado:"
END

//////////////////////////////////////////////////////////////////////////////
//
// Strings para los títulos de los grids de datos
//

STRINGTABLE DISCARDABLE 
BEGIN
	9000		"TIT. EJEMPLO"
	9001		"TODOS"
	9002		"VIGENCIA"
	9003		"DESDE"
	9004		"HASTA"
	9005		"MINIMO"
	9006		"MEDIO"
	9007		"MAXIMO"
	9008		"TIPO DE RANGO"
	9009		"DESCRIPCION TIPO RANGO"
	9010		"SECUENCIAL"
	9011		"USUARIO"
	9012		"FECHA"

END


//////////////////////////////////////////////////////////////////////////////
//
// Strings para barra de estatus de transacciones
//

STRINGTABLE DISCARDABLE 
BEGIN
	10000		"Mensaje ejemplo"
END

//////////////////////////////////////////////////////////////////////////////
//
// Strings para mensajes
//

STRINGTABLE DISCARDABLE 
BEGIN
	15000		"ERROR"
	15001		"ADVERTENCIA"
	15002		"MENSAJE DEL SERVIDOR"
	15003		"DATOS REQUERIDOS"
	15004		"El password no se pudo encriptar"
	15005		"No se pudo conectar al servidor"
	15006		"El nombre del servidor, usuario y password son mandatorios"
	15007		"Códigos de Filial y Oficina son mandatorios"
	15008		"Nombre de computador no encontrado"
	15009		"TimeOut del protector de pantalla no pudo ser configurado"
	15010		"El usuario no se registró con el servidor"
	15011		"Usuario no válido, no tiene roles asignados"
	15012		"No se pueden obtener roles válidos"
	15013		"Todos los datos de password son mandatorios"
	15014		"El password original ingresado es incorrecto"
	15015		"La confirmación de password no es correcta"
	15016		"El cambio de password concluyó exitosamente"
	15017		"No se pudo encontrar el directorio del sistema"
	15018		"<Map.ini> erróneo. Solicite autorización"
	15019		"Información del sistema no disponible por el momento"
	15020		"Formato de fecha no soportado"
	15021		"Fecha resultante fuera de rango"
	15022		"Error al cargar datos iniciales del módulo. El sistema se cerrará."
	15023		"La configuración para números y fechas del Panel de Control de Windows es incompatible con las preferencias del módulo COBIS. La configuración internacional será modificada automáticamente."
	15024		"La configuración del Panel de Control de Windows no ha podido ser cambiada."
	15025		"No existe ningún registro seleccionado..."
	15026		"DETALLE DEL REGISTRO SELECCIONADO :"
END
