<!-- Designer Generator v 6.4.0.1 - SPR 2018-10 18/05/2018 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_CREDITDOUE_237252" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_CREDITDOUE_237252.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_CREDITDOEM_376--> 
  <div id="VC_CREDITDOUE_237252" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_CREDITDCCS_357376" ng-show="vc.viewState.G_CREDITDCCS_357376.visible" ng-class="vc.viewState.G_CREDITDCCS_357376.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_CREDITDCCS_357376" k-options="validatorOptions" id="G_CREDITDCCS_357376_VAL"> 
     <div id="QV_9834_40050" kendo-ext-grid="grids.QV_9834_40050" k-data-source="vc.model.QueryDocumentHistory" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_9834_40050.editable" k-toolbar="vc.grids.QV_9834_40050.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_9834_40050.events.dataBound" k-columns="vc.grids.QV_9834_40050.columns" k-cancel="vc.grids.QV_9834_40050.events.cancel" k-edit="vc.grids.QV_9834_40050.events.edit" k-data-binding="vc.grids.QV_9834_40050.events.dataBinding" ng-class="vc.viewState.QV_9834_40050.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_CREDITDOEM_376--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_ASSTSNMDWVMHP_252_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_CREDITDOUE_237252')" ng-disabled="vc.viewState.T_ASSTSNMDWVMHP_252_ACCEPT.disabled || vc.viewState.T_ASSTSNMDWVMHP_252_ACCEPT.disabledingroup" ng-show="vc.viewState.T_ASSTSNMDWVMHP_252_ACCEPT.visible" ng-class="vc.viewState.T_ASSTSNMDWVMHP_252_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_ASSTSNMDWVMHP_252_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_ASSTSNMDWVMHP_252_CANCEL.disabled || vc.viewState.T_ASSTSNMDWVMHP_252_CANCEL.disabledingroup" ng-show="vc.viewState.T_ASSTSNMDWVMHP_252_CANCEL.visible" ng-class="vc.viewState.T_ASSTSNMDWVMHP_252_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>