<!-- Designer Generator v 6.3.3 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_LOANSTATCE_588120" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_LOANSTATCE_588120.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_LOANSTATCE_588120" ng-keydown="vc.viewState.keyDown($event)" class="cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="VC_VUYOJBQTYU_229120" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_VUYOJBQTYU_229120', vc.viewState.VC_VUYOJBQTYU_229120.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_VUYOJBQTYU_229120.visible"> 
    <div id="VC_WDXLTGYVYV_350316" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_WDXLTGYVYV_350316', vc.viewState.VC_WDXLTGYVYV_350316.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_WDXLTGYVYV_350316.visible"> 
     <div id="VC_WDXLTGYVYV_350316_VAL" kendo-validator="VC_WDXLTGYVYV_350316" k-options="validatorOptions"> 
      <!-- Inicio item VW_LOANHEADRN_612--> 
      <div id="G_LOANHEADOD_564612" ng-show="vc.viewState.G_LOANHEADOD_564612.visible" ng-class="vc.viewState.G_LOANHEADOD_564612.style" class="cb-group cb-group-simple"> 
       <div kendo-validator="G_LOANHEADOD_564612" k-options="validatorOptions" id="G_LOANHEADOD_564612_VAL"> 
        <div class="form-vertical"> 
         <div class="row"> 
          <div class="col-xs-12" ng-show="vc.viewState.VA_VASIMPLELABELLL_143612.visible"> 
           <div class="form-group"> 
            <label class="control-label">&nbsp;</label> 
            <div class="cb-control"> 
             <label id="VA_VASIMPLELABELLL_143612" ng-show="vc.viewState.VA_VASIMPLELABELLL_143612.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_143612.style"> {{vc.viewState.VA_VASIMPLELABELLL_143612.label|translate}} </label>
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <div id="G_LOANHEADRO_349612" ng-show="vc.viewState.G_LOANHEADRO_349612.visible" ng-class="vc.viewState.G_LOANHEADRO_349612.style" class="cb-group cb-group-simple"> 
       <div kendo-validator="G_LOANHEADRO_349612" k-options="validatorOptions" id="G_LOANHEADRO_349612_VAL"> 
        <div class="form-vertical"> 
         <div class="row"> 
          <div class="col-xs-7" ng-show="vc.viewState.VA_VASIMPLELABELLL_867612.visible"> 
           <div class="form-group" id="VA_VASIMPLELABELLL_867612_DIV"> 
            <label for="VA_VASIMPLELABELLL_867612" title="{{vc.viewState.VA_VASIMPLELABELLL_867612.label|translate:vc.viewState.VA_VASIMPLELABELLL_867612.labelArgs}}" ng-show="vc.viewState.VA_VASIMPLELABELLL_867612.visible" class="control-label">{{vc.viewState.VA_VASIMPLELABELLL_867612.label|translate:vc.viewState.VA_VASIMPLELABELLL_867612.labelArgs}} <span ng-class="vc.viewState.VA_VASIMPLELABELLL_867612.labelImageId"></span></label> 
            <div class="cb-control"> 
             <div> 
              <a id="VA_VASIMPLELABELLL_867612" href ng-click="vc.viewState.VA_VASIMPLELABELLL_867612.disabled || vc.executeCommand('VA_VASIMPLELABELLL_867612','loanBankID',validator,false, false,'', false)" class="form-control textlink" ng-disabled="vc.viewState.VA_VASIMPLELABELLL_867612.disabled || vc.viewState.VA_VASIMPLELABELLL_867612.disabledingroup" ng-show="vc.viewState.VA_VASIMPLELABELLL_867612.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_867612.style" ng-bind="vc.model.Loan.loanBankID"> </a> 
             </div> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-3" ng-show="vc.viewState.VA_VABUTTONWVITZRQ_108612.visible"> 
           <div class="form-group"> 
            <label class="control-label">&nbsp;</label> 
            <div class="cb-control"> 
             <button id="VA_VABUTTONWVITZRQ_108612" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONWVITZRQ_108612','VA_VABUTTONWVITZRQ_108612',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONWVITZRQ_108612.disabled || vc.viewState.VA_VABUTTONWVITZRQ_108612.disabledingroup" ng-show="vc.viewState.VA_VABUTTONWVITZRQ_108612.visible" ng-class="vc.viewState.VA_VABUTTONWVITZRQ_108612.style"> <span ng-class="vc.viewState.VA_VABUTTONWVITZRQ_108612.imageId"></span> {{vc.viewState.VA_VABUTTONWVITZRQ_108612.label|translate}} </button> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-2" ng-show="vc.viewState.VA_VABUTTONORYJAMS_468612.visible"> 
           <div class="form-group"> 
            <label class="control-label">&nbsp;</label> 
            <div class="cb-control"> 
             <button id="VA_VABUTTONORYJAMS_468612" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONORYJAMS_468612','VA_VABUTTONORYJAMS_468612',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONORYJAMS_468612.disabled || vc.viewState.VA_VABUTTONORYJAMS_468612.disabledingroup" ng-show="vc.viewState.VA_VABUTTONORYJAMS_468612.visible" ng-class="vc.viewState.VA_VABUTTONORYJAMS_468612.style"> <span ng-class="vc.viewState.VA_VABUTTONORYJAMS_468612.imageId"></span> {{vc.viewState.VA_VABUTTONORYJAMS_468612.label|translate}} </button> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <div id="G_LOANHEAINF_340612" ng-show="vc.viewState.G_LOANHEAINF_340612.visible" ng-class="vc.viewState.G_LOANHEAINF_340612.style" class="cb-group cb-group-simple"> 
       <div kendo-validator="G_LOANHEAINF_340612" k-options="validatorOptions" id="G_LOANHEAINF_340612_VAL"> 
        <div class="form-vertical"> 
         <div class="row"> 
          <div class="col-xs-1" ng-show="vc.viewState.VA_5034UOFCASVGKTK_993612.visible"> 
           <div class="form-group" id="VA_5034UOFCASVGKTK_993612_DIV"> 
            <label for="VA_5034UOFCASVGKTK_993612" title="{{vc.viewState.VA_5034UOFCASVGKTK_993612.label|translate:vc.viewState.VA_5034UOFCASVGKTK_993612.labelArgs}}" ng-show="vc.viewState.VA_5034UOFCASVGKTK_993612.visible" class="control-label">{{vc.viewState.VA_5034UOFCASVGKTK_993612.label|translate:vc.viewState.VA_5034UOFCASVGKTK_993612.labelArgs}}</label> 
            <div class="cb-control"> 
             <div id="VA_5034UOFCASVGKTK_993612" name="Loan_amount" class="form-control cb-no-border" ng-show="vc.viewState.VA_5034UOFCASVGKTK_993612.visible" ng-class="vc.viewState.VA_5034UOFCASVGKTK_993612.style">
               {{kendo.toString(vc.model.Loan.amount, 'c')}} 
             </div> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-1" ng-show="vc.viewState.VA_2463BHBNLZPKLMU_865612.visible"> 
           <div class="form-group" id="VA_2463BHBNLZPKLMU_865612_DIV"> 
            <label for="VA_2463BHBNLZPKLMU_865612" title="{{vc.viewState.VA_2463BHBNLZPKLMU_865612.label|translate:vc.viewState.VA_2463BHBNLZPKLMU_865612.labelArgs}}" ng-show="vc.viewState.VA_2463BHBNLZPKLMU_865612.visible" class="control-label">{{vc.viewState.VA_2463BHBNLZPKLMU_865612.label|translate:vc.viewState.VA_2463BHBNLZPKLMU_865612.labelArgs}}</label> 
            <div class="cb-control"> 
             <div id="VA_2463BHBNLZPKLMU_865612" name="Loan_balanceDue" class="form-control cb-no-border" ng-show="vc.viewState.VA_2463BHBNLZPKLMU_865612.visible" ng-class="vc.viewState.VA_2463BHBNLZPKLMU_865612.style">
               {{kendo.toString(vc.model.Loan.balanceDue, 'c')}} 
             </div> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-1" ng-show="vc.viewState.VA_3853RRTWBIRUGHQ_533612.visible"> 
           <div class="form-group" id="VA_3853RRTWBIRUGHQ_533612_DIV"> 
            <label for="VA_3853RRTWBIRUGHQ_533612" title="{{vc.viewState.VA_3853RRTWBIRUGHQ_533612.label|translate:vc.viewState.VA_3853RRTWBIRUGHQ_533612.labelArgs}}" ng-show="vc.viewState.VA_3853RRTWBIRUGHQ_533612.visible" class="control-label">{{vc.viewState.VA_3853RRTWBIRUGHQ_533612.label|translate:vc.viewState.VA_3853RRTWBIRUGHQ_533612.labelArgs}}</label> 
            <div class="cb-control"> 
             <div id="VA_3853RRTWBIRUGHQ_533612" name="Loan_status" class="form-control cb-no-border" ng-show="vc.viewState.VA_3853RRTWBIRUGHQ_533612.visible" ng-class="vc.viewState.VA_3853RRTWBIRUGHQ_533612.style">
               {{vc.model.Loan.status}} 
             </div> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-1" ng-show="vc.viewState.VA_7292SEAHPRAXOKC_868612.visible"> 
           <div class="form-group" id="VA_7292SEAHPRAXOKC_868612_DIV"> 
            <label for="VA_7292SEAHPRAXOKC_868612" title="{{vc.viewState.VA_7292SEAHPRAXOKC_868612.label|translate:vc.viewState.VA_7292SEAHPRAXOKC_868612.labelArgs}}" ng-show="vc.viewState.VA_7292SEAHPRAXOKC_868612.visible" class="control-label">{{vc.viewState.VA_7292SEAHPRAXOKC_868612.label|translate:vc.viewState.VA_7292SEAHPRAXOKC_868612.labelArgs}}</label> 
            <div class="cb-control"> 
             <div id="VA_7292SEAHPRAXOKC_868612" name="Loan_office" class="form-control cb-no-border" ng-show="vc.viewState.VA_7292SEAHPRAXOKC_868612.visible" ng-class="vc.viewState.VA_7292SEAHPRAXOKC_868612.style">
               {{vc.model.Loan.office}} 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <!-- Fin item VW_LOANHEADRN_612--> 
     </div> 
    </div> 
   </div> 
   <div id="VC_VJBOQKTMFN_200120" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_VJBOQKTMFN_200120', vc.viewState.VC_VJBOQKTMFN_200120.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_VJBOQKTMFN_200120.visible"> 
    <div id="VC_YRXPGLWZFA_955840" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_YRXPGLWZFA_955840', vc.viewState.VC_YRXPGLWZFA_955840.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_YRXPGLWZFA_955840.visible"> 
     <div id="VC_YRXPGLWZFA_955840_VAL" kendo-validator="VC_YRXPGLWZFA_955840" k-options="validatorOptions"> 
      <!-- Inicio item VW_LOANSTATSC_722--> 
      <div id="G_LOANSTAGHS_220722" ng-show="vc.viewState.G_LOANSTAGHS_220722.visible" ng-class="vc.viewState.G_LOANSTAGHS_220722.style" class="cb-group cb-group-simple"> 
       <div kendo-validator="G_LOANSTAGHS_220722" k-options="validatorOptions" id="G_LOANSTAGHS_220722_VAL"> 
        <div class="form-vertical"> 
         <div class="row"> 
          <div class="col-xs-12" ng-show="vc.viewState.VA_VASIMPLELABELLL_555722.visible"> 
           <div class="form-group"> 
            <label class="control-label">&nbsp;</label> 
            <div class="cb-control"> 
             <label id="VA_VASIMPLELABELLL_555722" ng-show="vc.viewState.VA_VASIMPLELABELLL_555722.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_555722.style"> {{vc.viewState.VA_VASIMPLELABELLL_555722.label|translate}} </label>
            </div> 
           </div> 
          </div> 
          <div class="col-xs-4" ng-show="vc.viewState.VA_STATUSCYEFKGCDY_909722.visible"> 
           <div class="form-group" id="VA_STATUSCYEFKGCDY_909722_DIV"> 
            <label for="VA_STATUSCYEFKGCDY_909722" title="{{vc.viewState.VA_STATUSCYEFKGCDY_909722.label|translate:vc.viewState.VA_STATUSCYEFKGCDY_909722.labelArgs}}" ng-show="vc.viewState.VA_STATUSCYEFKGCDY_909722.visible" class="control-label">{{vc.viewState.VA_STATUSCYEFKGCDY_909722.label|translate:vc.viewState.VA_STATUSCYEFKGCDY_909722.labelArgs}}</label> 
            <div class="cb-control"> 
             <input id="VA_STATUSCYEFKGCDY_909722" name="Loan_status" maxlength="64" type="text" class="form-control" ng-model="vc.model.Loan.status" ng-disabled="vc.viewState.VA_STATUSCYEFKGCDY_909722.disabled || vc.viewState.VA_STATUSCYEFKGCDY_909722.disabledingroup" ng-show="vc.viewState.VA_STATUSCYEFKGCDY_909722.visible" ng-readonly="vc.viewState.VA_STATUSCYEFKGCDY_909722.readonly" ng-class="vc.viewState.VA_STATUSCYEFKGCDY_909722.style" data-cobis-group="Group,G_LOANSTAGHS_220722,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_STATUSCYEFKGCDY_909722.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-4" ng-show="vc.viewState.VA_NEWSTATUSLZHCOE_110722.visible"> 
           <div class="form-group" id="VA_NEWSTATUSLZHCOE_110722_DIV"> 
            <label for="VA_NEWSTATUSLZHCOE_110722" title="{{vc.viewState.VA_NEWSTATUSLZHCOE_110722.label|translate:vc.viewState.VA_NEWSTATUSLZHCOE_110722.labelArgs}}" ng-show="vc.viewState.VA_NEWSTATUSLZHCOE_110722.visible" class="control-label">{{vc.viewState.VA_NEWSTATUSLZHCOE_110722.label|translate:vc.viewState.VA_NEWSTATUSLZHCOE_110722.labelArgs}}</label> 
            <div class="cb-control"> 
             <input id="VA_NEWSTATUSLZHCOE_110722" name="Loan_newStatus" kendo-ext-combo-box="comboBox.VA_NEWSTATUSLZHCOE_110722" ng-model="vc.model.Loan.newStatus" ng-disabled="vc.viewState.VA_NEWSTATUSLZHCOE_110722.disabled || vc.viewState.VA_NEWSTATUSLZHCOE_110722.disabledingroup" ng-show="vc.viewState.VA_NEWSTATUSLZHCOE_110722.visible" ng-readonly="vc.viewState.VA_NEWSTATUSLZHCOE_110722.readonly" ng-class="vc.viewState.VA_NEWSTATUSLZHCOE_110722.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_NEWSTATUSLZHCOE_110722" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_NEWSTATUSLZHCOE_110722.template" data-cobis-group="Group,G_LOANSTAGHS_220722,0" data-validation-code="{{vc.viewState.VA_NEWSTATUSLZHCOE_110722.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <div id="G_LOANSTASSE_267722" ng-show="vc.viewState.G_LOANSTASSE_267722.visible" ng-class="vc.viewState.G_LOANSTASSE_267722.style" class="cb-group cb-group-simple"> 
       <div kendo-validator="G_LOANSTASSE_267722" k-options="validatorOptions" id="G_LOANSTASSE_267722_VAL"> 
        <div class="form-vertical"> 
         <div class="row"> 
          <div class="col-xs-4" ng-show="vc.viewState.Spacer1499.visible"> 
           <div class="form-group cb-spacer"> 
            <label class="control-label">&nbsp;</label> 
            <span class="cb-control"></span> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <!-- Fin item VW_LOANSTATSC_722--> 
     </div> 
    </div> 
   </div> 
   <div id="VC_TADQZNVATR_853120" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_TADQZNVATR_853120', vc.viewState.VC_TADQZNVATR_853120.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_TADQZNVATR_853120.visible"> 
    <div id="VC_KGGOBCOGAO_249261" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_KGGOBCOGAO_249261', vc.viewState.VC_KGGOBCOGAO_249261.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_KGGOBCOGAO_249261.visible"> 
     <div id="VC_KGGOBCOGAO_249261_VAL" kendo-validator="VC_KGGOBCOGAO_249261" k-options="validatorOptions"> 
      <!-- Inicio item VW_AMORTIZAOI_871--> 
      <div id="G_AMORTIZTAI_460871" ng-show="vc.viewState.G_AMORTIZTAI_460871.visible" ng-class="vc.viewState.G_AMORTIZTAI_460871.style" class="cb-group cb-group-simple"> 
       <div kendo-validator="G_AMORTIZTAI_460871" k-options="validatorOptions" id="G_AMORTIZTAI_460871_VAL"> 
        <div id="QV_8237_80795" kendo-ext-grid="grids.QV_8237_80795" k-data-source="vc.model.Amortization" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_8237_80795.editable" k-toolbar="vc.grids.QV_8237_80795.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="true" k-selectable="true" k-change="vc.grids.QV_8237_80795.events.change" k-data-bound="vc.grids.QV_8237_80795.events.dataBound" k-columns="vc.grids.QV_8237_80795.columns" k-cancel="vc.grids.QV_8237_80795.events.cancel" k-edit="vc.grids.QV_8237_80795.events.edit" ng-class="vc.viewState.QV_8237_80795.style" k-ng-delay="vc.afterInitData"></div> 
       </div> 
      </div> 
      <div id="G_AMORTIZANI_193871" ng-show="vc.viewState.G_AMORTIZANI_193871.visible" ng-class="vc.viewState.G_AMORTIZANI_193871.style" class="cb-group cb-group-simple"> 
       <div kendo-validator="G_AMORTIZANI_193871" k-options="validatorOptions" id="G_AMORTIZANI_193871_VAL"> 
        <div class="form-vertical"> 
         <div class="row"> 
          <div class="col-xs-4" ng-show="vc.viewState.Spacer1382.visible"> 
           <div class="form-group cb-spacer"> 
            <label class="control-label">&nbsp;</label> 
            <span class="cb-control"></span> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <div id="G_AMORTIZTAT_967871" ng-show="vc.viewState.G_AMORTIZTAT_967871.visible" ng-class="vc.viewState.G_AMORTIZTAT_967871.style" class="cb-group cb-group-simple"> 
       <div kendo-validator="G_AMORTIZTAT_967871" k-options="validatorOptions" id="G_AMORTIZTAT_967871_VAL"> 
        <div class="form-vertical"> 
         <div class="row"> 
          <div class="col-xs-4" ng-show="vc.viewState.Spacer1460.visible"> 
           <div class="form-group cb-spacer"> 
            <label class="control-label">&nbsp;</label> 
            <span class="cb-control"></span> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <!-- Fin item VW_AMORTIZAOI_871--> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc || !vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_TLOANSTA_STA" ng-click="vc.executeCommand('CM_TLOANSTA_STA','Command1', validator, false, false, 'VC_LOANSTATCE_588120', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_TLOANSTA_STA.disabled || vc.viewState.CM_TLOANSTA_STA.disabledingroup" ng-show="vc.viewState.CM_TLOANSTA_STA.visible" ng-class="vc.viewState.CM_TLOANSTA_STA.style"> {{vc.viewState.CM_TLOANSTA_STA.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_LOANSTATUSGNI_120_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_LOANSTATCE_588120')" ng-disabled="vc.viewState.T_LOANSTATUSGNI_120_ACCEPT.disabled || vc.viewState.T_LOANSTATUSGNI_120_ACCEPT.disabledingroup" ng-show="vc.viewState.T_LOANSTATUSGNI_120_ACCEPT.visible" ng-class="vc.viewState.T_LOANSTATUSGNI_120_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_LOANSTATUSGNI_120_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_LOANSTATUSGNI_120_CANCEL.disabled || vc.viewState.T_LOANSTATUSGNI_120_CANCEL.disabledingroup" ng-show="vc.viewState.T_LOANSTATUSGNI_120_CANCEL.visible" ng-class="vc.viewState.T_LOANSTATUSGNI_120_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>