<!-- Designer Generator v 6.4.0.5 - SPR 2019-03 15/02/2019 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_CODEVERICU_522726" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_CODEVERICU_522726.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_CODEVERIUN_339--> 
  <div id="VC_CODEVERICU_522726" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_CODEVERPOI_931339" ng-show="vc.viewState.G_CODEVERPOI_931339.visible" ng-class="vc.viewState.G_CODEVERPOI_931339.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_CODEVERPOI_931339" k-options="validatorOptions" id="G_CODEVERPOI_931339_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-12" ng-show="vc.viewState.VA_VASIMPLELABELLL_645339.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <label id="VA_VASIMPLELABELLL_645339" ng-show="vc.viewState.VA_VASIMPLELABELLL_645339.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_645339.style"> {{vc.viewState.VA_VASIMPLELABELLL_645339.label|translate}} </label>
         </div> 
        </div> 
       </div> 
       <div class="col-xs-12" ng-show="vc.viewState.VA_VASEPARATORHIBQ_867339.visible"> 
        <hr class="d-hr" ng-disabled="vc.viewState.VA_VASEPARATORHIBQ_867339.disabled || vc.viewState.VA_VASEPARATORHIBQ_867339.disabledingroup" ng-show="vc.viewState.VA_VASEPARATORHIBQ_867339.visible" ng-readonly="vc.viewState.VA_VASEPARATORHIBQ_867339.readonly" ng-class="vc.viewState.VA_VASEPARATORHIBQ_867339.style" /> 
       </div> 
       <div class="col-xs-12" ng-show="vc.viewState.VA_VASIMPLELABELLL_632339.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <label id="VA_VASIMPLELABELLL_632339" ng-show="vc.viewState.VA_VASIMPLELABELLL_632339.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_632339.style"> {{vc.viewState.VA_VASIMPLELABELLL_632339.label|translate}} </label>
         </div> 
        </div> 
       </div> 
       <div class="col-xs-12" ng-show="vc.viewState.VA_VACOMPOSITEZDUW_537339.visible"> 
        <div class="form-group cb-no-label" ng-class="vc.viewState.VA_VACOMPOSITEZDUW_537339.style"> 
         <div class="cb-control cb-flex" ng-class="vc.viewState.VA_VACOMPOSITEZDUW_537339.style"> 
          <div class="form-group cb-no-label cb-grow cb-required" id="VA_2946FGJPEJBLAIV_285339_DIV"> 
           <div class="cb-control"> 
            <input id="VA_2946FGJPEJBLAIV_285339" name="CodeVerification_code" maxlength="6" type="text" class="form-control" ng-model="vc.model.CodeVerification.code" ng-disabled="vc.viewState.VA_2946FGJPEJBLAIV_285339.disabled || vc.viewState.VA_2946FGJPEJBLAIV_285339.disabledingroup" ng-show="vc.viewState.VA_2946FGJPEJBLAIV_285339.visible" ng-readonly="vc.viewState.VA_2946FGJPEJBLAIV_285339.readonly" ng-class="vc.viewState.VA_2946FGJPEJBLAIV_285339.style" data-cobis-group="Group,G_CODEVERPOI_931339,0" ng-model-onblur designer-restrict-input="numbers" required data-validation-code="{{vc.viewState.VA_2946FGJPEJBLAIV_285339.validationCode}}" data-required-msg="{{'CSTMR.MSG_CSTMR_CDIGOESLI_35415'|translate}}" /> 
           </div> 
          </div> 
          <div class="form-group cb-no-label"> 
           <div class="cb-control"> 
            <button id="VA_VABUTTONSQJVHTN_888339" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONSQJVHTN_888339','VA_VABUTTONSQJVHTN_888339',validator,true, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONSQJVHTN_888339.disabled || vc.viewState.VA_VABUTTONSQJVHTN_888339.disabledingroup" ng-show="vc.viewState.VA_VABUTTONSQJVHTN_888339.visible" ng-class="vc.viewState.VA_VABUTTONSQJVHTN_888339.style"> <span ng-class="vc.viewState.VA_VABUTTONSQJVHTN_888339.imageId"></span> &nbsp; </button> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-8" ng-show="vc.viewState.VA_VABUTTONLWVBSLQ_895339.visible"> 
        <div class="form-group cb-no-label"> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONLWVBSLQ_895339" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONLWVBSLQ_895339','VA_VABUTTONLWVBSLQ_895339',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONLWVBSLQ_895339.disabled || vc.viewState.VA_VABUTTONLWVBSLQ_895339.disabledingroup" ng-show="vc.viewState.VA_VABUTTONLWVBSLQ_895339.visible" ng-class="vc.viewState.VA_VABUTTONLWVBSLQ_895339.style"> {{vc.viewState.VA_VABUTTONLWVBSLQ_895339.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_CODEVERIUN_339--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_CSTMRGAPGAKXO_726_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_CODEVERICU_522726')" ng-disabled="vc.viewState.T_CSTMRGAPGAKXO_726_ACCEPT.disabled || vc.viewState.T_CSTMRGAPGAKXO_726_ACCEPT.disabledingroup" ng-show="vc.viewState.T_CSTMRGAPGAKXO_726_ACCEPT.visible" ng-class="vc.viewState.T_CSTMRGAPGAKXO_726_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_CSTMRGAPGAKXO_726_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_CSTMRGAPGAKXO_726_CANCEL.disabled || vc.viewState.T_CSTMRGAPGAKXO_726_CANCEL.disabledingroup" ng-show="vc.viewState.T_CSTMRGAPGAKXO_726_CANCEL.visible" ng-class="vc.viewState.T_CSTMRGAPGAKXO_726_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>