<!-- Designer Generator v 6.4.0.5 - SPR 2019-03 15/02/2019 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_ITCII49_TNYFM_899" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_ITCII49_TNYFM_899.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_ITCII49_TNYFM_899" ng-keydown="vc.viewState.keyDown($event)" class="cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="VC_ITCII49_GTLED_815" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_ITCII49_GTLED_815', vc.viewState.VC_ITCII49_GTLED_815.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_ITCII49_GTLED_815.visible"> 
    <div id="VC_ITCII49_GTLED_815_VAL" kendo-validator="VC_ITCII49_GTLED_815" k-options="validatorOptions"> 
     <!-- Inicio item VW_WTTTEPRCES08--> 
     <div designer-form-load form="vc.viewState.GR_WTTTEPRCES08_02" class="cb-group cb-group-html-section"> 
     </div> 
     <div id="GR_WTTTEPRCES08_03" ng-show="vc.viewState.GR_WTTTEPRCES08_03.visible" ng-class="vc.viewState.GR_WTTTEPRCES08_03.style" class="cb-group cb-group-simple"> 
      <div kendo-validator="GR_WTTTEPRCES08_03" k-options="validatorOptions" id="GR_WTTTEPRCES08_03_VAL"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-12" ng-show="vc.viewState.GR_WTTTEPRCES08_03-default-blank.visible"> 
          <div class="form-group cb-spacer"> 
           <label class="control-label">&nbsp;</label> 
           <span class="cb-control"></span> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <!-- Fin item VW_WTTTEPRCES08--> 
    </div> 
   </div> 
   <div id="VC_ITCII49_UOSNR_822" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_ITCII49_UOSNR_822', vc.viewState.VC_ITCII49_UOSNR_822.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_ITCII49_UOSNR_822.visible"> 
    <div id="VC_ITCII49_UOSNR_822_VAL" kendo-validator="VC_ITCII49_UOSNR_822" k-options="validatorOptions"> 
     <!-- Inicio item VW_DOCUNODCVW73--> 
     <div id="GR_DOCUNODCVW73_02" ng-class="vc.viewState.GR_DOCUNODCVW73_02.style" class="cb-group cb-group-layout"> 
      <div id="GR_DOCUNODCVW73_02_VAL" kendo-validator="GR_DOCUNODCVW73_02" k-options="validatorOptions"> 
       <div id="GR_DOCUNODCVW73_05" class="cb-group cb-group-layout"> 
        <div id="GR_DOCUNODCVW73_05_VAL" kendo-validator="GR_DOCUNODCVW73_05" k-options="validatorOptions"> 
         <div id="GR_DOCUNODCVW73_06" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_DOCUNODCVW73_06.visible" ng-class="vc.viewState.GR_DOCUNODCVW73_06.style"> 
          <div id="GR_DOCUNODCVW73_06_VAL" kendo-validator="GR_DOCUNODCVW73_06" k-options="validatorOptions"> 
           <div class="form-vertical"> 
            <div class="row"> 
             <div class="col-xs-12" ng-show="vc.viewState.GR_DOCUNODCVW73_06-default-blank.visible"> 
              <div class="form-group cb-spacer"> 
               <label class="control-label">&nbsp;</label> 
               <span class="cb-control"></span> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div id="GR_DOCUNODCVW73_07" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_DOCUNODCVW73_07.visible" ng-class="vc.viewState.GR_DOCUNODCVW73_07.style"> 
          <div id="GR_DOCUNODCVW73_07_VAL" kendo-validator="GR_DOCUNODCVW73_07" k-options="validatorOptions"> 
           <div class="form-vertical"> 
            <div class="row"> 
             <div class="col-xs-12" ng-show="vc.viewState.GR_DOCUNODCVW73_07-default-blank.visible"> 
              <div class="form-group cb-spacer"> 
               <label class="control-label">&nbsp;</label> 
               <span class="cb-control"></span> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div id="GR_DOCUNODCVW73_08" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_DOCUNODCVW73_08.visible" ng-class="vc.viewState.GR_DOCUNODCVW73_08.style"> 
          <div id="GR_DOCUNODCVW73_08_VAL" kendo-validator="GR_DOCUNODCVW73_08" k-options="validatorOptions"> 
           <div class="form-vertical"> 
            <div class="row"> 
             <div class="col-xs-12" ng-show="vc.viewState.GR_DOCUNODCVW73_08-default-blank.visible"> 
              <div class="form-group cb-spacer"> 
               <label class="control-label">&nbsp;</label> 
               <span class="cb-control"></span> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div id="GR_DOCUNODCVW73_03" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_DOCUNODCVW73_03.visible" ng-class="vc.viewState.GR_DOCUNODCVW73_03.style"> 
        <div id="GR_DOCUNODCVW73_03_VAL" kendo-validator="GR_DOCUNODCVW73_03" k-options="validatorOptions"> 
         <div id="QV_QDMNT8051_16" kendo-ext-grid="grids.QV_QDMNT8051_16" k-data-source="vc.model.DocumentProduct" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_QDMNT8051_16.editable" k-toolbar="vc.grids.QV_QDMNT8051_16.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="true" k-change="vc.grids.QV_QDMNT8051_16.events.change" k-data-bound="vc.grids.QV_QDMNT8051_16.events.dataBound" k-columns="vc.grids.QV_QDMNT8051_16.columns" k-cancel="vc.grids.QV_QDMNT8051_16.events.cancel" k-edit="vc.grids.QV_QDMNT8051_16.events.edit" ng-class="vc.viewState.QV_QDMNT8051_16.style" k-ng-delay="vc.afterInitData"></div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <!-- Fin item VW_DOCUNODCVW73--> 
    </div> 
   </div> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc || !vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_ITCII49ITT66" ng-click="vc.executeCommand('CM_ITCII49ITT66','PrintOut', validator, false, false, 'VC_ITCII49_TNYFM_899', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_ITCII49ITT66.disabled || vc.viewState.CM_ITCII49ITT66.disabledingroup" ng-show="vc.viewState.CM_ITCII49ITT66.visible" ng-class="vc.viewState.CM_ITCII49ITT66.style"> {{vc.viewState.CM_ITCII49ITT66.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_FLCRE_68_ITCII49_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_ITCII49_TNYFM_899')" ng-disabled="vc.viewState.T_FLCRE_68_ITCII49_ACCEPT.disabled || vc.viewState.T_FLCRE_68_ITCII49_ACCEPT.disabledingroup" ng-show="vc.viewState.T_FLCRE_68_ITCII49_ACCEPT.visible" ng-class="vc.viewState.T_FLCRE_68_ITCII49_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_FLCRE_68_ITCII49_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_FLCRE_68_ITCII49_CANCEL.disabled || vc.viewState.T_FLCRE_68_ITCII49_CANCEL.disabledingroup" ng-show="vc.viewState.T_FLCRE_68_ITCII49_CANCEL.visible" ng-class="vc.viewState.T_FLCRE_68_ITCII49_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>