<!-- Designer Generator v 6.3.3 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_DETAILFUND_362226" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_DETAILFUND_362226.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_DETAILFUND_140--> 
  <div id="VC_DETAILFUND_362226" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_DETAILFUNN_728140" ng-class="vc.viewState.G_DETAILFUNN_728140.style" class="cb-group cb-group-layout"> 
    <div id="G_DETAILFUNN_728140_VAL" kendo-validator="G_DETAILFUNN_728140" k-options="validatorOptions"> 
     <div id="G_DETAILFUDN_889140" class="cb-group cb-group-simple" ng-show="vc.viewState.G_DETAILFUDN_889140.visible" ng-class="vc.viewState.G_DETAILFUDN_889140.style"> 
      <div id="G_DETAILFUDN_889140_VAL" kendo-validator="G_DETAILFUDN_889140" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-6" ng-show="vc.viewState.Spacer1378.visible"> 
          <div class="form-group" id="Spacer1378_DIV"> 
           <label for="Spacer1378" title="{{vc.viewState.Spacer1378.label|translate:vc.viewState.Spacer1378.labelArgs}}" ng-show="vc.viewState.Spacer1378.visible" class="control-label">{{vc.viewState.Spacer1378.label|translate:vc.viewState.Spacer1378.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="Spacer1378" name="Fund_fundName" maxlength="100" type="text" class="form-control" ng-model="vc.model.Fund.fundName" ng-disabled="vc.viewState.Spacer1378.disabled || vc.viewState.Spacer1378.disabledingroup" ng-show="vc.viewState.Spacer1378.visible" ng-readonly="vc.viewState.Spacer1378.readonly" ng-class="vc.viewState.Spacer1378.style" data-cobis-group="GroupLayout,G_DETAILFUNN_728140,0" ng-model-onblur data-validation-code="{{vc.viewState.Spacer1378.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_9399ORKREIOLNBV_331140.visible"> 
          <div class="form-group" id="VA_9399ORKREIOLNBV_331140_DIV"> 
           <label for="VA_9399ORKREIOLNBV_331140" title="{{vc.viewState.VA_9399ORKREIOLNBV_331140.label|translate:vc.viewState.VA_9399ORKREIOLNBV_331140.labelArgs}}" ng-show="vc.viewState.VA_9399ORKREIOLNBV_331140.visible" class="control-label">{{vc.viewState.VA_9399ORKREIOLNBV_331140.label|translate:vc.viewState.VA_9399ORKREIOLNBV_331140.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_9399ORKREIOLNBV_331140" name="Fund_sponsorId" kendo-ext-combo-box="comboBox.VA_9399ORKREIOLNBV_331140" ng-model="vc.model.Fund.sponsorId" ng-disabled="vc.viewState.VA_9399ORKREIOLNBV_331140.disabled || vc.viewState.VA_9399ORKREIOLNBV_331140.disabledingroup" ng-show="vc.viewState.VA_9399ORKREIOLNBV_331140.visible" ng-readonly="vc.viewState.VA_9399ORKREIOLNBV_331140.readonly" ng-class="vc.viewState.VA_9399ORKREIOLNBV_331140.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_9399ORKREIOLNBV_331140" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_9399ORKREIOLNBV_331140.template" data-cobis-group="GroupLayout,G_DETAILFUNN_728140,0" data-validation-code="{{vc.viewState.VA_9399ORKREIOLNBV_331140.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_7147VNILKAIXAHH_663140.visible"> 
          <div class="form-group" id="VA_7147VNILKAIXAHH_663140_DIV"> 
           <label for="VA_7147VNILKAIXAHH_663140" title="{{vc.viewState.VA_7147VNILKAIXAHH_663140.label|translate:vc.viewState.VA_7147VNILKAIXAHH_663140.labelArgs}}" ng-show="vc.viewState.VA_7147VNILKAIXAHH_663140.visible" class="control-label">{{vc.viewState.VA_7147VNILKAIXAHH_663140.label|translate:vc.viewState.VA_7147VNILKAIXAHH_663140.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_7147VNILKAIXAHH_663140" name="Fund_validityDate" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.Fund.validityDate" ng-model="vc.tmpModel.Fund.validityDate" ng-disabled="vc.viewState.VA_7147VNILKAIXAHH_663140.disabled || vc.viewState.VA_7147VNILKAIXAHH_663140.disabledingroup" ng-show="vc.viewState.VA_7147VNILKAIXAHH_663140.visible" ng-readonly="vc.viewState.VA_7147VNILKAIXAHH_663140.readonly" ng-class="vc.viewState.VA_7147VNILKAIXAHH_663140.style" data-cobis-group="GroupLayout,G_DETAILFUNN_728140,0" compare-in-range compare-min="01/01/1900" compare-max="31/12/2999" data-validation-code="{{vc.viewState.VA_7147VNILKAIXAHH_663140.validationCode}}" data-compareinrange-msg="{{'ASSTS.MSG_ASSTS_FECHANONS_94085'|translate}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_4416JYHXFIMAMGI_586140.visible"> 
          <div class="form-group" id="VA_4416JYHXFIMAMGI_586140_DIV"> 
           <label for="VA_4416JYHXFIMAMGI_586140" title="{{vc.viewState.VA_4416JYHXFIMAMGI_586140.label|translate:vc.viewState.VA_4416JYHXFIMAMGI_586140.labelArgs}}" ng-show="vc.viewState.VA_4416JYHXFIMAMGI_586140.visible" class="control-label">{{vc.viewState.VA_4416JYHXFIMAMGI_586140.label|translate:vc.viewState.VA_4416JYHXFIMAMGI_586140.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_4416JYHXFIMAMGI_586140" name="Fund_amountSource" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_4416JYHXFIMAMGI_586140.format" k-decimals="vc.viewState.VA_4416JYHXFIMAMGI_586140.decimals" k-ng-model="vc.model.Fund.amountSource" ng-model="vc.tmpModel.Fund.amountSource" ng-disabled="vc.viewState.VA_4416JYHXFIMAMGI_586140.disabled || vc.viewState.VA_4416JYHXFIMAMGI_586140.disabledingroup" ng-show="vc.viewState.VA_4416JYHXFIMAMGI_586140.visible" ng-readonly="vc.viewState.VA_4416JYHXFIMAMGI_586140.readonly" ng-class="vc.viewState.VA_4416JYHXFIMAMGI_586140.style" data-cobis-group="GroupLayout,G_DETAILFUNN_728140,0" ng-model-onblur designer-restrict-input="numbers" data-validation-code="{{vc.viewState.VA_4416JYHXFIMAMGI_586140.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_STATUSCODEVOWGL_831140.visible"> 
          <div class="form-group" id="VA_STATUSCODEVOWGL_831140_DIV"> 
           <label for="VA_STATUSCODEVOWGL_831140" title="{{vc.viewState.VA_STATUSCODEVOWGL_831140.label|translate:vc.viewState.VA_STATUSCODEVOWGL_831140.labelArgs}}" ng-show="vc.viewState.VA_STATUSCODEVOWGL_831140.visible" class="control-label">{{vc.viewState.VA_STATUSCODEVOWGL_831140.label|translate:vc.viewState.VA_STATUSCODEVOWGL_831140.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_STATUSCODEVOWGL_831140" name="Fund_statusCode" kendo-ext-combo-box="comboBox.VA_STATUSCODEVOWGL_831140" ng-model="vc.model.Fund.statusCode" ng-disabled="vc.viewState.VA_STATUSCODEVOWGL_831140.disabled || vc.viewState.VA_STATUSCODEVOWGL_831140.disabledingroup" ng-show="vc.viewState.VA_STATUSCODEVOWGL_831140.visible" ng-readonly="vc.viewState.VA_STATUSCODEVOWGL_831140.readonly" ng-class="vc.viewState.VA_STATUSCODEVOWGL_831140.style" k-index="0" k-auto-bind="true" k-filter="'contains'" k-min-length="'1'" k-cache-on-client="true" k-data-source="vc.catalogs.VA_STATUSCODEVOWGL_831140" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_STATUSCODEVOWGL_831140.template" data-cobis-group="GroupLayout,G_DETAILFUNN_728140,0" data-validation-code="{{vc.viewState.VA_STATUSCODEVOWGL_831140.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div id="G_DETAILFNND_631140" class="cb-group cb-group-layout"> 
      <div id="G_DETAILFNND_631140_VAL" kendo-validator="G_DETAILFNND_631140" k-options="validatorOptions"> 
       <div id="G_DETAILFDDU_888140" class="cb-group cb-group-simple" ng-show="vc.viewState.G_DETAILFDDU_888140.visible" ng-class="vc.viewState.G_DETAILFDDU_888140.style"> 
        <div id="G_DETAILFDDU_888140_VAL" kendo-validator="G_DETAILFDDU_888140" k-options="validatorOptions"> 
         <div class="form-vertical"> 
          <div class="row"> 
           <div class="col-xs-6" ng-show="vc.viewState.VA_VABUTTONDADPYML_171140.visible"> 
            <div class="form-group"> 
             <label class="control-label">&nbsp;</label> 
             <div class="cb-control"> 
              <button id="VA_VABUTTONDADPYML_171140" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONDADPYML_171140','VA_VABUTTONDADPYML_171140',validator,true, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONDADPYML_171140.disabled || vc.viewState.VA_VABUTTONDADPYML_171140.disabledingroup" ng-show="vc.viewState.VA_VABUTTONDADPYML_171140.visible" ng-class="vc.viewState.VA_VABUTTONDADPYML_171140.style"> {{vc.viewState.VA_VABUTTONDADPYML_171140.label|translate}} </button> 
             </div> 
            </div> 
           </div> 
           <div class="col-xs-6" ng-show="vc.viewState.VA_VABUTTONZINTBLA_711140.visible"> 
            <div class="form-group"> 
             <label class="control-label">&nbsp;</label> 
             <div class="cb-control"> 
              <button id="VA_VABUTTONZINTBLA_711140" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONZINTBLA_711140','VA_VABUTTONZINTBLA_711140',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONZINTBLA_711140.disabled || vc.viewState.VA_VABUTTONZINTBLA_711140.disabledingroup" ng-show="vc.viewState.VA_VABUTTONZINTBLA_711140.visible" ng-class="vc.viewState.VA_VABUTTONZINTBLA_711140.style"> {{vc.viewState.VA_VABUTTONZINTBLA_711140.label|translate}} </button> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_DETAILFUND_140--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_ASSTSLBVYTVMM_226_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_DETAILFUND_362226')" ng-disabled="vc.viewState.T_ASSTSLBVYTVMM_226_ACCEPT.disabled || vc.viewState.T_ASSTSLBVYTVMM_226_ACCEPT.disabledingroup" ng-show="vc.viewState.T_ASSTSLBVYTVMM_226_ACCEPT.visible" ng-class="vc.viewState.T_ASSTSLBVYTVMM_226_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_ASSTSLBVYTVMM_226_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_ASSTSLBVYTVMM_226_CANCEL.disabled || vc.viewState.T_ASSTSLBVYTVMM_226_CANCEL.disabledingroup" ng-show="vc.viewState.T_ASSTSLBVYTVMM_226_CANCEL.visible" ng-class="vc.viewState.T_ASSTSLBVYTVMM_226_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>