<!-- Designer Generator v 6.3.3 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_LOANDETAUL_310874" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_LOANDETAUL_310874.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_LOANDETAOO_816--> 
  <div id="VC_LOANDETAUL_310874" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_LOANDETLIP_635816" ng-show="vc.viewState.G_LOANDETLIP_635816.visible" ng-class="vc.viewState.G_LOANDETLIP_635816.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_LOANDETLIP_635816" k-options="validatorOptions" id="G_LOANDETLIP_635816_VAL"> 
     <div class="form-horizontal"> 
      <div class="row"> 
       <div class="col-xs-12" ng-show="vc.viewState.VA_VASIMPLELABELLL_441816.visible"> 
        <div class="form-group"> 
         <label class="col-sm-4 control-label">&nbsp;</label> 
         <div class="col-sm-8"> 
          <div class="cb-control"> 
           <label id="VA_VASIMPLELABELLL_441816" ng-show="vc.viewState.VA_VASIMPLELABELLL_441816.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_441816.style"> {{vc.viewState.VA_VASIMPLELABELLL_441816.label|translate}} </label>
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-12" ng-show="vc.viewState.VA_7775TCUQPHQIJIN_505816.visible"> 
        <div class="form-group" id="VA_7775TCUQPHQIJIN_505816_DIV"> 
         <label for="VA_7775TCUQPHQIJIN_505816" title="{{vc.viewState.VA_7775TCUQPHQIJIN_505816.label|translate:vc.viewState.VA_7775TCUQPHQIJIN_505816.labelArgs}}" ng-show="vc.viewState.VA_7775TCUQPHQIJIN_505816.visible" class="col-sm-4 control-label">{{vc.viewState.VA_7775TCUQPHQIJIN_505816.label|translate:vc.viewState.VA_7775TCUQPHQIJIN_505816.labelArgs}}</label> 
         <div class="col-sm-8"> 
          <div class="cb-control"> 
           <div id="VA_7775TCUQPHQIJIN_505816" name="Loan_startDate" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_7775TCUQPHQIJIN_505816.visible" ng-class="vc.viewState.VA_7775TCUQPHQIJIN_505816.style">
             {{vc.model.Loan.startDate}} 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-12" ng-show="vc.viewState.VA_1312UYWFEFJMEDU_689816.visible"> 
        <div class="form-group" id="VA_1312UYWFEFJMEDU_689816_DIV"> 
         <label for="VA_1312UYWFEFJMEDU_689816" title="{{vc.viewState.VA_1312UYWFEFJMEDU_689816.label|translate:vc.viewState.VA_1312UYWFEFJMEDU_689816.labelArgs}}" ng-show="vc.viewState.VA_1312UYWFEFJMEDU_689816.visible" class="col-sm-4 control-label">{{vc.viewState.VA_1312UYWFEFJMEDU_689816.label|translate:vc.viewState.VA_1312UYWFEFJMEDU_689816.labelArgs}}</label> 
         <div class="col-sm-8"> 
          <div class="cb-control"> 
           <div id="VA_1312UYWFEFJMEDU_689816" name="Loan_endDate" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_1312UYWFEFJMEDU_689816.visible" ng-class="vc.viewState.VA_1312UYWFEFJMEDU_689816.style">
             {{vc.model.Loan.endDate}} 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-12" ng-show="vc.viewState.VA_1253HNEIJDXZZSW_616816.visible"> 
        <div class="form-group" id="VA_1253HNEIJDXZZSW_616816_DIV"> 
         <label for="VA_1253HNEIJDXZZSW_616816" title="{{vc.viewState.VA_1253HNEIJDXZZSW_616816.label|translate:vc.viewState.VA_1253HNEIJDXZZSW_616816.labelArgs}}" ng-show="vc.viewState.VA_1253HNEIJDXZZSW_616816.visible" class="col-sm-4 control-label">{{vc.viewState.VA_1253HNEIJDXZZSW_616816.label|translate:vc.viewState.VA_1253HNEIJDXZZSW_616816.labelArgs}}</label> 
         <div class="col-sm-8"> 
          <div class="cb-control"> 
           <div id="VA_1253HNEIJDXZZSW_616816" name="Loan_nextPayment" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_1253HNEIJDXZZSW_616816.visible" ng-class="vc.viewState.VA_1253HNEIJDXZZSW_616816.style">
             {{kendo.toString(vc.model.Loan.nextPayment, 'c')}} 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-12" ng-show="vc.viewState.VA_1354FMLLLTKNQED_674816.visible"> 
        <div class="form-group" id="VA_1354FMLLLTKNQED_674816_DIV"> 
         <label for="VA_1354FMLLLTKNQED_674816" title="{{vc.viewState.VA_1354FMLLLTKNQED_674816.label|translate:vc.viewState.VA_1354FMLLLTKNQED_674816.labelArgs}}" ng-show="vc.viewState.VA_1354FMLLLTKNQED_674816.visible" class="col-sm-4 control-label">{{vc.viewState.VA_1354FMLLLTKNQED_674816.label|translate:vc.viewState.VA_1354FMLLLTKNQED_674816.labelArgs}}</label> 
         <div class="col-sm-8"> 
          <div class="cb-control"> 
           <div id="VA_1354FMLLLTKNQED_674816" name="Loan_feeEndDate" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_1354FMLLLTKNQED_674816.visible" ng-class="vc.viewState.VA_1354FMLLLTKNQED_674816.style">
             {{vc.model.Loan.feeEndDate}} 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-12" ng-show="vc.viewState.VA_9251WPWDZDHUCXQ_318816.visible"> 
        <div class="form-group" id="VA_9251WPWDZDHUCXQ_318816_DIV"> 
         <label for="VA_9251WPWDZDHUCXQ_318816" title="{{vc.viewState.VA_9251WPWDZDHUCXQ_318816.label|translate:vc.viewState.VA_9251WPWDZDHUCXQ_318816.labelArgs}}" ng-show="vc.viewState.VA_9251WPWDZDHUCXQ_318816.visible" class="col-sm-4 control-label">{{vc.viewState.VA_9251WPWDZDHUCXQ_318816.label|translate:vc.viewState.VA_9251WPWDZDHUCXQ_318816.labelArgs}}</label> 
         <div class="col-sm-8"> 
          <div class="cb-control"> 
           <div id="VA_9251WPWDZDHUCXQ_318816" name="Loan_clientID" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_9251WPWDZDHUCXQ_318816.visible" ng-class="vc.viewState.VA_9251WPWDZDHUCXQ_318816.style">
             {{vc.model.Loan.clientID}} 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_LOANDETAOO_816--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_LOANDETAILPPP_874_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_LOANDETAUL_310874')" ng-disabled="vc.viewState.T_LOANDETAILPPP_874_ACCEPT.disabled || vc.viewState.T_LOANDETAILPPP_874_ACCEPT.disabledingroup" ng-show="vc.viewState.T_LOANDETAILPPP_874_ACCEPT.visible" ng-class="vc.viewState.T_LOANDETAILPPP_874_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_LOANDETAILPPP_874_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_LOANDETAILPPP_874_CANCEL.disabled || vc.viewState.T_LOANDETAILPPP_874_CANCEL.disabledingroup" ng-show="vc.viewState.T_LOANDETAILPPP_874_CANCEL.visible" ng-class="vc.viewState.T_LOANDETAILPPP_874_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>