<!-- Designer Generator v 6.0.0 - release SPR 2016-13 08/07/2016 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_OSRCH32_AOEAR_233" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_OSRCH32_AOEAR_233.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_OSRCH32_AOEAR_233" ng-keydown="vc.viewState.keyDown($event)" class="cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="VC_OSRCH32_UNORE_091" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_OSRCH32_UNORE_091', vc.viewState.VC_OSRCH32_UNORE_091.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_OSRCH32_UNORE_091.visible"> 
    <div id="VC_OSRCH32_UNORE_091_VAL" kendo-validator="VC_OSRCH32_UNORE_091" k-options="validatorOptions"> 
     <!-- Inicio item VW_TOMERSHVIW60--> 
     <div id="GR_TOMERSHVIW60_14" ng-show="vc.viewState.GR_TOMERSHVIW60_14.visible" ng-class="vc.viewState.GR_TOMERSHVIW60_14.style" class="cb-group cb-group-simple"> 
      <div kendo-validator="GR_TOMERSHVIW60_14" k-options="validatorOptions" id="GR_TOMERSHVIW60_14_VAL"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-12" ng-show="vc.viewState.VA_TOMERSHVIW6014_CSER255.visible"> 
          <div class="form-group" id="VA_TOMERSHVIW6014_CSER255_DIV"> 
           <label for="VA_TOMERSHVIW6014_CSER255" title="{{vc.viewState.VA_TOMERSHVIW6014_CSER255.label|translate:vc.viewState.VA_TOMERSHVIW6014_CSER255.labelArgs}}" ng-show="vc.viewState.VA_TOMERSHVIW6014_CSER255.visible" class="control-label">{{vc.viewState.VA_TOMERSHVIW6014_CSER255.label|translate:vc.viewState.VA_TOMERSHVIW6014_CSER255.labelArgs}}</label> 
           <div class="cb-control"> 
            <div class="input-group"> 
             <input id="VA_TOMERSHVIW6014_CSER255" name="CustomerSearch_Customer" maxlength="250" type="text" class="form-control" ng-model="vc.model.CustomerSearch.Customer" ng-disabled="vc.viewState.VA_TOMERSHVIW6014_CSER255.disabled || vc.viewState.VA_TOMERSHVIW6014_CSER255.disabledingroup" ng-show="vc.viewState.VA_TOMERSHVIW6014_CSER255.visible" ng-readonly="vc.viewState.VA_TOMERSHVIW6014_CSER255.readonly" ng-class="vc.viewState.VA_TOMERSHVIW6014_CSER255.style" data-cobis-group="Group,GR_TOMERSHVIW60_14,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_TOMERSHVIW6014_CSER255.validationCode}}" /> 
             <div class="input-group-btn"> 
              <button class="btn btn-default btn-block" ng-click="vc.clickTextInputButton('VA_TOMERSHVIW6014_CSER255')" ng-disabled="vc.viewState.VA_TOMERSHVIW6014_CSER255.disabled || vc.viewState.VA_TOMERSHVIW6014_CSER255.disabledingroup" ng-show="vc.viewState.VA_TOMERSHVIW6014_CSER255.visible" ng-class="vc.viewState.VA_TOMERSHVIW6014_CSER255.style"> <span class="glyphicon glyphicon-align-justify"></span> </button> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-3" ng-show="vc.viewState.VA_TOMERSHVIW6014_CTRD054.visible"> 
          <div class="form-group"> 
           <label class="control-label">&nbsp;</label> 
           <div class="cb-control"> 
            <button id="VA_TOMERSHVIW6014_CTRD054" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_TOMERSHVIW6014_CTRD054','Search',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_TOMERSHVIW6014_CTRD054.disabled || vc.viewState.VA_TOMERSHVIW6014_CTRD054.disabledingroup" ng-show="vc.viewState.VA_TOMERSHVIW6014_CTRD054.visible" ng-class="vc.viewState.VA_TOMERSHVIW6014_CTRD054.style"> {{vc.viewState.VA_TOMERSHVIW6014_CTRD054.label|translate}} </button> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <!-- Fin item VW_TOMERSHVIW60--> 
    </div> 
   </div> 
   <fieldset id="VC_OSRCH32_GPOSM_522" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_OSRCH32_GPOSM_522', vc.viewState.VC_OSRCH32_GPOSM_522.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_OSRCH32_GPOSM_522.visible"> 
    <legend> <span ng-bind="vc.viewState.VC_OSRCH32_GPOSM_522.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.VC_OSRCH32_GPOSM_522.statusStyle.success, 'cb-validation-fail': vc.viewState.VC_OSRCH32_GPOSM_522.statusStyle.fail, 'cb-validation-none': vc.viewState.VC_OSRCH32_GPOSM_522.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.VC_OSRCH32_GPOSM_522.label|translate}}</span> </legend> 
    <div id="VC_OSRCH32_GPOSM_522_VAL" kendo-validator="VC_OSRCH32_GPOSM_522" k-options="validatorOptions"> 
     <!-- Inicio item VW_EINNIETODA34--> 
     <div id="GR_EINNIETODA34_62" ng-class="vc.viewState.GR_EINNIETODA34_62.style" class="cb-group cb-group-layout"> 
      <div id="GR_EINNIETODA34_62_VAL" kendo-validator="GR_EINNIETODA34_62" k-options="validatorOptions"> 
       <div id="GR_EINNIETODA34_03" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_EINNIETODA34_03.visible" ng-class="vc.viewState.GR_EINNIETODA34_03.style"> 
        <div id="GR_EINNIETODA34_03_VAL" kendo-validator="GR_EINNIETODA34_03" k-options="validatorOptions"> 
         <div id="QV_ITRIC1523_25" kendo-ext-grid="grids.QV_ITRIC1523_25" k-data-source="vc.model.RefinancingOperations" k-column-menu="false" k-sortable="false" k-editable="vc.viewState.GR_EINNIETODA34_03.disabled?false:'inline'" k-toolbar="vc.grids.QV_ITRIC1523_25.toolbar" k-resizable="true" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="true" k-selectable="'row multiple'" k-data-bound="vc.grids.QV_ITRIC1523_25.events.dataBound" k-columns="vc.grids.QV_ITRIC1523_25.columns" k-cancel="vc.grids.QV_ITRIC1523_25.events.cancel" k-edit="vc.grids.QV_ITRIC1523_25.events.edit" ng-class="vc.viewState.QV_ITRIC1523_25.style" k-ng-delay="vc.afterInitData"></div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <!-- Fin item VW_EINNIETODA34--> 
    </div> 
   </fieldset> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_OSRCH32SCT35" ng-click="vc.executeCommand('CM_OSRCH32SCT35','select', validator, false, false, 'VC_OSRCH32_AOEAR_233', false)" class="btn btn-primary navbar-btn" title="{{vc.viewState.CM_OSRCH32SCT35.tooltip|translate}}" ng-disabled="vc.viewState.CM_OSRCH32SCT35.disabled || vc.viewState.CM_OSRCH32SCT35.disabledingroup" ng-show="vc.viewState.CM_OSRCH32SCT35.visible" ng-class="vc.viewState.CM_OSRCH32SCT35.style"> {{vc.viewState.CM_OSRCH32SCT35.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_FLCRE_21_OSRCH32_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_OSRCH32_AOEAR_233')" ng-disabled="vc.viewState.T_FLCRE_21_OSRCH32_ACCEPT.disabled || vc.viewState.T_FLCRE_21_OSRCH32_ACCEPT.disabledingroup" ng-show="vc.viewState.T_FLCRE_21_OSRCH32_ACCEPT.visible" ng-class="vc.viewState.T_FLCRE_21_OSRCH32_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_FLCRE_21_OSRCH32_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_FLCRE_21_OSRCH32_CANCEL.disabled || vc.viewState.T_FLCRE_21_OSRCH32_CANCEL.disabledingroup" ng-show="vc.viewState.T_FLCRE_21_OSRCH32_CANCEL.visible" ng-class="vc.viewState.T_FLCRE_21_OSRCH32_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>