<!-- Designer Generator v 5.0.0.1626 - release SPR 2016-26 08/01/2016 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_FUNME92_TTFAE_107" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_FUNME92_TTFAE_107.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_FUNME92_TTFAE_107" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <fieldset id="GR_IWSORCENIN87_04" ng-show="vc.viewState.GR_IWSORCENIN87_04.visible" ng-class="vc.viewState.GR_IWSORCENIN87_04.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="GR_IWSORCENIN87_04" k-options="validatorOptions" id="GR_IWSORCENIN87_04_VAL"> 
     <legend> <span ng-bind="vc.viewState.GR_IWSORCENIN87_04.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.GR_IWSORCENIN87_04.statusStyle.success, 'cb-validation-fail': vc.viewState.GR_IWSORCENIN87_04.statusStyle.fail, 'cb-validation-none': vc.viewState.GR_IWSORCENIN87_04.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.GR_IWSORCENIN87_04.label|translate}}</span> </legend> 
     <div id="QV_COURC4312_01" kendo-ext-grid="grids.QV_COURC4312_01" k-data-source="vc.model.SourceFunding" k-column-menu="true" k-sortable="true" k-pageable="{refresh: false, pageSizes: false, buttonCount: 5}" k-editable="vc.viewState.GR_IWSORCENIN87_04.disabled?false:'inline'" k-toolbar="vc.grids.QV_COURC4312_01.toolbar" k-resizable="true" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="true" k-selectable="true" k-change="vc.grids.QV_COURC4312_01.events.change" k-data-bound="vc.grids.QV_COURC4312_01.events.dataBound" k-columns="vc.grids.QV_COURC4312_01.columns" k-cancel="vc.grids.QV_COURC4312_01.events.cancel" k-edit="vc.grids.QV_COURC4312_01.events.edit" k-data-binding="vc.grids.QV_COURC4312_01.events.dataBinding" k-detail-template="vc.grids.QV_COURC4312_01.detailTemplate" k-detail-expand="vc.grids.QV_COURC4312_01.events.detailExpand" ng-class="vc.viewState.QV_COURC4312_01.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </fieldset> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_FLCRE_77_FUNME92_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_FUNME92_TTFAE_107')" ng-disabled="vc.viewState.T_FLCRE_77_FUNME92_ACCEPT.disabled || vc.viewState.T_FLCRE_77_FUNME92_ACCEPT.disabledingroup" ng-show="vc.viewState.T_FLCRE_77_FUNME92_ACCEPT.visible" ng-class="vc.viewState.T_FLCRE_77_FUNME92_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_FLCRE_77_FUNME92_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_FLCRE_77_FUNME92_CANCEL.disabled || vc.viewState.T_FLCRE_77_FUNME92_CANCEL.disabledingroup" ng-show="vc.viewState.T_FLCRE_77_FUNME92_CANCEL.visible" ng-class="vc.viewState.T_FLCRE_77_FUNME92_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>