<!-- Designer Generator v 6.4.0.2 - SPR 2018-13 26/06/2018 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_MEMBERRILV_790282" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_MEMBERRILV_790282.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_MEMBERRILL_911--> 
  <div id="VC_MEMBERRILV_790282" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div designer-form-load form="vc.viewState.G_MEMBERRLIL_519911" class="cb-group cb-group-html-section"> 
   </div> 
   <div id="G_MEMBERRIES_616911" ng-class="vc.viewState.G_MEMBERRIES_616911.style" class="cb-group cb-group-layout"> 
    <div id="G_MEMBERRIES_616911_VAL" kendo-validator="G_MEMBERRIES_616911" k-options="validatorOptions"> 
     <div class="row"> 
      <div class="col-xs-6"> 
       <fieldset id="G_MEMBERRVKL_122911" ng-show="vc.viewState.G_MEMBERRVKL_122911.visible" ng-class="vc.viewState.G_MEMBERRVKL_122911.style" class="cb-group cb-group-simple"> 
        <legend> <span ng-bind="vc.viewState.G_MEMBERRVKL_122911.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.G_MEMBERRVKL_122911.statusStyle.success, 'cb-validation-fail': vc.viewState.G_MEMBERRVKL_122911.statusStyle.fail, 'cb-validation-none': vc.viewState.G_MEMBERRVKL_122911.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.G_MEMBERRVKL_122911.label|translate}}</span> </legend> 
        <div id="G_MEMBERRVKL_122911_VAL" kendo-validator="G_MEMBERRVKL_122911" k-options="validatorOptions"> 
         <div id="QV_4750_20700" kendo-ext-grid="grids.QV_4750_20700" k-data-source="vc.model.RiskLevel" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_4750_20700.editable" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_4750_20700.events.dataBound" k-columns="vc.grids.QV_4750_20700.columns" k-cancel="vc.grids.QV_4750_20700.events.cancel" k-edit="vc.grids.QV_4750_20700.events.edit" ng-class="vc.viewState.QV_4750_20700.style" k-ng-delay="vc.afterInitData"></div> 
        </div> 
       </fieldset> 
      </div> 
      <div class="col-xs-6"> 
       <fieldset id="G_MEMBERRIEE_535911" ng-show="vc.viewState.G_MEMBERRIEE_535911.visible" ng-class="vc.viewState.G_MEMBERRIEE_535911.style" class="cb-group cb-group-simple"> 
        <legend> <span ng-bind="vc.viewState.G_MEMBERRIEE_535911.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.G_MEMBERRIEE_535911.statusStyle.success, 'cb-validation-fail': vc.viewState.G_MEMBERRIEE_535911.statusStyle.fail, 'cb-validation-none': vc.viewState.G_MEMBERRIEE_535911.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.G_MEMBERRIEE_535911.label|translate}}</span> </legend> 
        <div id="G_MEMBERRIEE_535911_VAL" kendo-validator="G_MEMBERRIEE_535911" k-options="validatorOptions"> 
         <div id="QV_2992_92227" kendo-ext-grid="grids.QV_2992_92227" k-data-source="vc.model.QualificationRange" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_2992_92227.editable" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_2992_92227.events.dataBound" k-columns="vc.grids.QV_2992_92227.columns" k-cancel="vc.grids.QV_2992_92227.events.cancel" k-edit="vc.grids.QV_2992_92227.events.edit" ng-class="vc.viewState.QV_2992_92227.style" k-ng-delay="vc.afterInitData"></div> 
        </div> 
       </fieldset> 
      </div> 
      <div class="col-xs-6"> 
       <div id="Undefined" class="cb-group cb-group-simple"> 
       </div> 
      </div> 
      <div class="col-xs-6"> 
       <fieldset id="G_MEMBERRKKL_767911" ng-show="vc.viewState.G_MEMBERRKKL_767911.visible" ng-class="vc.viewState.G_MEMBERRKKL_767911.style" class="cb-group cb-group-simple"> 
        <legend> <span ng-bind="vc.viewState.G_MEMBERRKKL_767911.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.G_MEMBERRKKL_767911.statusStyle.success, 'cb-validation-fail': vc.viewState.G_MEMBERRKKL_767911.statusStyle.fail, 'cb-validation-none': vc.viewState.G_MEMBERRKKL_767911.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.G_MEMBERRKKL_767911.label|translate}}</span> </legend> 
        <div id="G_MEMBERRKKL_767911_VAL" kendo-validator="G_MEMBERRKKL_767911" k-options="validatorOptions"> 
         <div id="QV_7416_36634" kendo-ext-grid="grids.QV_7416_36634" k-data-source="vc.model.QualificationResult" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_7416_36634.editable" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_7416_36634.events.dataBound" k-columns="vc.grids.QV_7416_36634.columns" k-cancel="vc.grids.QV_7416_36634.events.cancel" k-edit="vc.grids.QV_7416_36634.events.edit" ng-class="vc.viewState.QV_7416_36634.style" k-ng-delay="vc.afterInitData"></div> 
        </div> 
       </fieldset> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_MEMBERRIKV_129911" ng-show="vc.viewState.G_MEMBERRIKV_129911.visible" ng-class="vc.viewState.G_MEMBERRIKV_129911.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_MEMBERRIKV_129911" k-options="validatorOptions" id="G_MEMBERRIKV_129911_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer1562.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_MEMBERRILL_911--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_LOANSCDNOQLVK_282_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_MEMBERRILV_790282')" ng-disabled="vc.viewState.T_LOANSCDNOQLVK_282_ACCEPT.disabled || vc.viewState.T_LOANSCDNOQLVK_282_ACCEPT.disabledingroup" ng-show="vc.viewState.T_LOANSCDNOQLVK_282_ACCEPT.visible" ng-class="vc.viewState.T_LOANSCDNOQLVK_282_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_LOANSCDNOQLVK_282_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_LOANSCDNOQLVK_282_CANCEL.disabled || vc.viewState.T_LOANSCDNOQLVK_282_CANCEL.disabledingroup" ng-show="vc.viewState.T_LOANSCDNOQLVK_282_CANCEL.visible" ng-class="vc.viewState.T_LOANSCDNOQLVK_282_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>