<!-- Designer Generator v 6.4.0.5 - SPR 2019-03 15/02/2019 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_RELATIONQE_861494" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_RELATIONQE_861494.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_RELATIONAN_954--> 
  <div id="VC_RELATIONQE_861494" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div designer-form-load form="vc.viewState.G_RELATIONNN_434954" class="cb-group cb-group-html-section"> 
   </div> 
   <div id="G_RELATIONNN_730954" ng-show="vc.viewState.G_RELATIONNN_730954.visible" ng-class="vc.viewState.G_RELATIONNN_730954.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_RELATIONNN_730954" k-options="validatorOptions" id="G_RELATIONNN_730954_VAL"> 
     <div id="QV_6114_93961" kendo-ext-grid="grids.QV_6114_93961" k-data-source="vc.model.RelationPerson" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_6114_93961.editable" k-toolbar="vc.grids.QV_6114_93961.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_6114_93961.events.dataBound" k-columns="vc.grids.QV_6114_93961.columns" k-cancel="vc.grids.QV_6114_93961.events.cancel" k-edit="vc.grids.QV_6114_93961.events.edit" k-data-binding="vc.grids.QV_6114_93961.events.dataBinding" ng-class="vc.viewState.QV_6114_93961.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </div> 
   <div id="G_RELATIONNN_320954" ng-show="vc.viewState.G_RELATIONNN_320954.visible" ng-class="vc.viewState.G_RELATIONNN_320954.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_RELATIONNN_320954" k-options="validatorOptions" id="G_RELATIONNN_320954_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONAPPHYWK_615954.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONAPPHYWK_615954" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONAPPHYWK_615954','VA_VABUTTONAPPHYWK_615954',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONAPPHYWK_615954.disabled || vc.viewState.VA_VABUTTONAPPHYWK_615954.disabledingroup" ng-show="vc.viewState.VA_VABUTTONAPPHYWK_615954.visible" ng-class="vc.viewState.VA_VABUTTONAPPHYWK_615954.style"> &nbsp; </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_RELATIONAN_954--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_RELATIONAJNQY_494_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_RELATIONQE_861494')" ng-disabled="vc.viewState.T_RELATIONAJNQY_494_ACCEPT.disabled || vc.viewState.T_RELATIONAJNQY_494_ACCEPT.disabledingroup" ng-show="vc.viewState.T_RELATIONAJNQY_494_ACCEPT.visible" ng-class="vc.viewState.T_RELATIONAJNQY_494_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_RELATIONAJNQY_494_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_RELATIONAJNQY_494_CANCEL.disabled || vc.viewState.T_RELATIONAJNQY_494_CANCEL.disabledingroup" ng-show="vc.viewState.T_RELATIONAJNQY_494_CANCEL.visible" ng-class="vc.viewState.T_RELATIONAJNQY_494_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>