<!-- Designer Generator v 6.3.6 - release SPR 2018-04 28/02/2018 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_REGULARIOE_732883" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_REGULARIOE_732883.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_REGULARIZJ_759--> 
  <div id="VC_REGULARIOE_732883" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <fieldset id="G_REGULARSPD_780759" ng-show="vc.viewState.G_REGULARSPD_780759.visible" ng-class="vc.viewState.G_REGULARSPD_780759.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_REGULARSPD_780759" k-options="validatorOptions" id="G_REGULARSPD_780759_VAL"> 
     <legend> <span ng-bind="vc.viewState.G_REGULARSPD_780759.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.G_REGULARSPD_780759.statusStyle.success, 'cb-validation-fail': vc.viewState.G_REGULARSPD_780759.statusStyle.fail, 'cb-validation-none': vc.viewState.G_REGULARSPD_780759.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.G_REGULARSPD_780759.label|translate}}</span> </legend> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_CUSTOMERCODEOES_830759.visible"> 
        <div class="form-group" id="VA_CUSTOMERCODEOES_830759_DIV"> 
         <label for="VA_CUSTOMERCODEOES_830759" title="{{vc.viewState.VA_CUSTOMERCODEOES_830759.label|translate:vc.viewState.VA_CUSTOMERCODEOES_830759.labelArgs}}" ng-show="vc.viewState.VA_CUSTOMERCODEOES_830759.visible" class="control-label">{{vc.viewState.VA_CUSTOMERCODEOES_830759.label|translate:vc.viewState.VA_CUSTOMERCODEOES_830759.labelArgs}}</label> 
         <div class="cb-control"> 
          <div class="input-group"> 
           <input id="VA_CUSTOMERCODEOES_830759" name="SearchRejectedDispersions_customerCode" type="text" class="form-control" ng-model="vc.model.SearchRejectedDispersions.customerCode" ng-disabled="vc.viewState.VA_CUSTOMERCODEOES_830759.disabled || vc.viewState.VA_CUSTOMERCODEOES_830759.disabledingroup" ng-show="vc.viewState.VA_CUSTOMERCODEOES_830759.visible" ng-readonly="vc.viewState.VA_CUSTOMERCODEOES_830759.readonly" ng-class="vc.viewState.VA_CUSTOMERCODEOES_830759.style" data-cobis-group="Group,G_REGULARSPD_780759,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_CUSTOMERCODEOES_830759.validationCode}}" /> 
           <div class="input-group-btn"> 
            <button class="btn btn-default btn-block" ng-click="vc.clickTextInputButton('VA_CUSTOMERCODEOES_830759')" ng-disabled="vc.viewState.VA_CUSTOMERCODEOES_830759.disabled || vc.viewState.VA_CUSTOMERCODEOES_830759.disabledingroup" ng-show="vc.viewState.VA_CUSTOMERCODEOES_830759.visible" ng-class="vc.viewState.VA_CUSTOMERCODEOES_830759.style"> <span class="glyphicon glyphicon-align-justify"></span> </button> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_STARTDATELGOWME_142759.visible"> 
        <div class="form-group" id="VA_STARTDATELGOWME_142759_DIV"> 
         <label for="VA_STARTDATELGOWME_142759" title="{{vc.viewState.VA_STARTDATELGOWME_142759.label|translate:vc.viewState.VA_STARTDATELGOWME_142759.labelArgs}}" ng-show="vc.viewState.VA_STARTDATELGOWME_142759.visible" class="control-label">{{vc.viewState.VA_STARTDATELGOWME_142759.label|translate:vc.viewState.VA_STARTDATELGOWME_142759.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_STARTDATELGOWME_142759" name="SearchRejectedDispersions_startDate" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.SearchRejectedDispersions.startDate" ng-model="vc.tmpModel.SearchRejectedDispersions.startDate" ng-disabled="vc.viewState.VA_STARTDATELGOWME_142759.disabled || vc.viewState.VA_STARTDATELGOWME_142759.disabledingroup" ng-show="vc.viewState.VA_STARTDATELGOWME_142759.visible" ng-readonly="vc.viewState.VA_STARTDATELGOWME_142759.readonly" ng-class="vc.viewState.VA_STARTDATELGOWME_142759.style" data-cobis-group="Group,G_REGULARSPD_780759,0" data-validation-code="{{vc.viewState.VA_STARTDATELGOWME_142759.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_ENDDATEUEPDHVSH_857759.visible"> 
        <div class="form-group" id="VA_ENDDATEUEPDHVSH_857759_DIV"> 
         <label for="VA_ENDDATEUEPDHVSH_857759" title="{{vc.viewState.VA_ENDDATEUEPDHVSH_857759.label|translate:vc.viewState.VA_ENDDATEUEPDHVSH_857759.labelArgs}}" ng-show="vc.viewState.VA_ENDDATEUEPDHVSH_857759.visible" class="control-label">{{vc.viewState.VA_ENDDATEUEPDHVSH_857759.label|translate:vc.viewState.VA_ENDDATEUEPDHVSH_857759.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_ENDDATEUEPDHVSH_857759" name="SearchRejectedDispersions_endDate" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.SearchRejectedDispersions.endDate" ng-model="vc.tmpModel.SearchRejectedDispersions.endDate" ng-disabled="vc.viewState.VA_ENDDATEUEPDHVSH_857759.disabled || vc.viewState.VA_ENDDATEUEPDHVSH_857759.disabledingroup" ng-show="vc.viewState.VA_ENDDATEUEPDHVSH_857759.visible" ng-readonly="vc.viewState.VA_ENDDATEUEPDHVSH_857759.readonly" ng-class="vc.viewState.VA_ENDDATEUEPDHVSH_857759.style" data-cobis-group="Group,G_REGULARSPD_780759,0" data-validation-code="{{vc.viewState.VA_ENDDATEUEPDHVSH_857759.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_ACCOUNTBTYMRXTL_129759.visible"> 
        <div class="form-group" id="VA_ACCOUNTBTYMRXTL_129759_DIV"> 
         <label for="VA_ACCOUNTBTYMRXTL_129759" title="{{vc.viewState.VA_ACCOUNTBTYMRXTL_129759.label|translate:vc.viewState.VA_ACCOUNTBTYMRXTL_129759.labelArgs}}" ng-show="vc.viewState.VA_ACCOUNTBTYMRXTL_129759.visible" class="control-label">{{vc.viewState.VA_ACCOUNTBTYMRXTL_129759.label|translate:vc.viewState.VA_ACCOUNTBTYMRXTL_129759.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_ACCOUNTBTYMRXTL_129759" name="SearchRejectedDispersions_account" type="text" class="form-control" ng-model="vc.model.SearchRejectedDispersions.account" ng-disabled="vc.viewState.VA_ACCOUNTBTYMRXTL_129759.disabled || vc.viewState.VA_ACCOUNTBTYMRXTL_129759.disabledingroup" ng-show="vc.viewState.VA_ACCOUNTBTYMRXTL_129759.visible" ng-readonly="vc.viewState.VA_ACCOUNTBTYMRXTL_129759.readonly" ng-class="vc.viewState.VA_ACCOUNTBTYMRXTL_129759.style" data-cobis-group="Group,G_REGULARSPD_780759,0" ng-model-onblur designer-restrict-input="numbers" data-validation-code="{{vc.viewState.VA_ACCOUNTBTYMRXTL_129759.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_ACTIONNNJIDLEBK_954759.visible"> 
        <div class="form-group" id="VA_ACTIONNNJIDLEBK_954759_DIV"> 
         <label for="VA_ACTIONNNJIDLEBK_954759" title="{{vc.viewState.VA_ACTIONNNJIDLEBK_954759.label|translate:vc.viewState.VA_ACTIONNNJIDLEBK_954759.labelArgs}}" ng-show="vc.viewState.VA_ACTIONNNJIDLEBK_954759.visible" class="control-label">{{vc.viewState.VA_ACTIONNNJIDLEBK_954759.label|translate:vc.viewState.VA_ACTIONNNJIDLEBK_954759.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_ACTIONNNJIDLEBK_954759" name="SearchRejectedDispersions_action" kendo-ext-combo-box="comboBox.VA_ACTIONNNJIDLEBK_954759" ng-model="vc.model.SearchRejectedDispersions.action" ng-disabled="vc.viewState.VA_ACTIONNNJIDLEBK_954759.disabled || vc.viewState.VA_ACTIONNNJIDLEBK_954759.disabledingroup" ng-show="vc.viewState.VA_ACTIONNNJIDLEBK_954759.visible" ng-readonly="vc.viewState.VA_ACTIONNNJIDLEBK_954759.readonly" ng-class="vc.viewState.VA_ACTIONNNJIDLEBK_954759.style" placeholder="'{{'ASSTS.LBL_ASSTS_SELECCIRR_76753'|translate}}'" k-data-source="vc.catalogs.VA_ACTIONNNJIDLEBK_954759" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_ACTIONNNJIDLEBK_954759.template" data-cobis-group="Group,G_REGULARSPD_780759,0" data-validation-code="{{vc.viewState.VA_ACTIONNNJIDLEBK_954759.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_TYPEEZSINNMYGNJ_496759.visible"> 
        <div class="form-group" id="VA_TYPEEZSINNMYGNJ_496759_DIV"> 
         <label for="VA_TYPEEZSINNMYGNJ_496759" title="{{vc.viewState.VA_TYPEEZSINNMYGNJ_496759.label|translate:vc.viewState.VA_TYPEEZSINNMYGNJ_496759.labelArgs}}" ng-show="vc.viewState.VA_TYPEEZSINNMYGNJ_496759.visible" class="control-label">{{vc.viewState.VA_TYPEEZSINNMYGNJ_496759.label|translate:vc.viewState.VA_TYPEEZSINNMYGNJ_496759.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_TYPEEZSINNMYGNJ_496759" name="SearchRejectedDispersions_type" kendo-ext-combo-box="comboBox.VA_TYPEEZSINNMYGNJ_496759" ng-model="vc.model.SearchRejectedDispersions.type" ng-disabled="vc.viewState.VA_TYPEEZSINNMYGNJ_496759.disabled || vc.viewState.VA_TYPEEZSINNMYGNJ_496759.disabledingroup" ng-show="vc.viewState.VA_TYPEEZSINNMYGNJ_496759.visible" ng-readonly="vc.viewState.VA_TYPEEZSINNMYGNJ_496759.readonly" ng-class="vc.viewState.VA_TYPEEZSINNMYGNJ_496759.style" placeholder="'{{'ASSTS.LBL_ASSTS_SELECCIRR_76753'|translate}}'" k-data-source="vc.catalogs.VA_TYPEEZSINNMYGNJ_496759" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_TYPEEZSINNMYGNJ_496759.template" data-cobis-group="Group,G_REGULARSPD_780759,0" data-validation-code="{{vc.viewState.VA_TYPEEZSINNMYGNJ_496759.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONCBSQYDU_564759.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONCBSQYDU_564759" class="btn btn-default btn-block" ng-click="vc.executeQueryControl(vc.getRequestQuery_Q_DETAILTI_3655(),'',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONCBSQYDU_564759.disabled || vc.viewState.VA_VABUTTONCBSQYDU_564759.disabledingroup" ng-show="vc.viewState.VA_VABUTTONCBSQYDU_564759.visible" ng-class="vc.viewState.VA_VABUTTONCBSQYDU_564759.style"> {{vc.viewState.VA_VABUTTONCBSQYDU_564759.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </fieldset> 
   <fieldset id="G_REGULAREIS_738759" ng-show="vc.viewState.G_REGULAREIS_738759.visible" ng-class="vc.viewState.G_REGULAREIS_738759.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_REGULAREIS_738759" k-options="validatorOptions" id="G_REGULAREIS_738759_VAL"> 
     <legend> <span ng-bind="vc.viewState.G_REGULAREIS_738759.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.G_REGULAREIS_738759.statusStyle.success, 'cb-validation-fail': vc.viewState.G_REGULAREIS_738759.statusStyle.fail, 'cb-validation-none': vc.viewState.G_REGULAREIS_738759.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.G_REGULAREIS_738759.label|translate}}</span> </legend> 
     <div id="QV_3655_99787" kendo-ext-grid="grids.QV_3655_99787" k-data-source="vc.model.DetailRejectedDispersions" k-column-menu="false" k-sortable="false" k-pageable="{refresh: false, pageSizes: false, buttonCount: 5}" k-editable="vc.grids.QV_3655_99787.editable" k-toolbar="vc.grids.QV_3655_99787.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="true" k-selectable="false" k-data-bound="vc.grids.QV_3655_99787.events.dataBound" k-columns="vc.grids.QV_3655_99787.columns" k-cancel="vc.grids.QV_3655_99787.events.cancel" k-edit="vc.grids.QV_3655_99787.events.edit" ng-class="vc.viewState.QV_3655_99787.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </fieldset> 
  </div> 
  <!-- Fin item VW_REGULARIZJ_759--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc || !vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_TASSTSOS_EAN" ng-click="vc.executeCommand('CM_TASSTSOS_EAN','Command1', validator, false, false, 'VC_REGULARIOE_732883', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_TASSTSOS_EAN.disabled || vc.viewState.CM_TASSTSOS_EAN.disabledingroup" ng-show="vc.viewState.CM_TASSTSOS_EAN.visible" ng-class="vc.viewState.CM_TASSTSOS_EAN.style"> {{vc.viewState.CM_TASSTSOS_EAN.label|translate}} </button> 
    <button id="CM_TASSTSOS_SJO" ng-click="vc.executeCommand('CM_TASSTSOS_SJO','Command2', validator, false, false, 'VC_REGULARIOE_732883', false)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_TASSTSOS_SJO.disabled || vc.viewState.CM_TASSTSOS_SJO.disabledingroup" ng-show="vc.viewState.CM_TASSTSOS_SJO.visible" ng-class="vc.viewState.CM_TASSTSOS_SJO.style"> {{vc.viewState.CM_TASSTSOS_SJO.label|translate}} </button> 
    <button id="CM_TASSTSOS_ASN" ng-click="vc.executeCommand('CM_TASSTSOS_ASN','Command3', validator, false, false, 'VC_REGULARIOE_732883', false)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_TASSTSOS_ASN.disabled || vc.viewState.CM_TASSTSOS_ASN.disabledingroup" ng-show="vc.viewState.CM_TASSTSOS_ASN.visible" ng-class="vc.viewState.CM_TASSTSOS_ASN.style"> {{vc.viewState.CM_TASSTSOS_ASN.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_ASSTSOSPSJXWE_883_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_REGULARIOE_732883')" ng-disabled="vc.viewState.T_ASSTSOSPSJXWE_883_ACCEPT.disabled || vc.viewState.T_ASSTSOSPSJXWE_883_ACCEPT.disabledingroup" ng-show="vc.viewState.T_ASSTSOSPSJXWE_883_ACCEPT.visible" ng-class="vc.viewState.T_ASSTSOSPSJXWE_883_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_ASSTSOSPSJXWE_883_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_ASSTSOSPSJXWE_883_CANCEL.disabled || vc.viewState.T_ASSTSOSPSJXWE_883_CANCEL.disabledingroup" ng-show="vc.viewState.T_ASSTSOSPSJXWE_883_CANCEL.visible" ng-class="vc.viewState.T_ASSTSOSPSJXWE_883_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>