<!-- Designer Generator v 6.4.0.5 - SPR 2019-03 15/02/2019 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_PAYMENTDEE_475722" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_PAYMENTDEE_475722.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_PAYMENTDEE_485--> 
  <div id="VC_PAYMENTDEE_475722" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_PAYMENTTEE_471485" ng-show="vc.viewState.G_PAYMENTTEE_471485.visible" ng-class="vc.viewState.G_PAYMENTTEE_471485.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_PAYMENTTEE_471485" k-options="validatorOptions" id="G_PAYMENTTEE_471485_VAL"> 
     <div id="QV_1707_26229" kendo-ext-grid="grids.QV_1707_26229" k-data-source="vc.model.PaymentDetail" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_1707_26229.editable" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_1707_26229.events.dataBound" k-columns="vc.grids.QV_1707_26229.columns" k-cancel="vc.grids.QV_1707_26229.events.cancel" k-edit="vc.grids.QV_1707_26229.events.edit" ng-class="vc.viewState.QV_1707_26229.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_PAYMENTDEE_485--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_PAYMENTDETMFP_722_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_PAYMENTDEE_475722')" ng-disabled="vc.viewState.T_PAYMENTDETMFP_722_ACCEPT.disabled || vc.viewState.T_PAYMENTDETMFP_722_ACCEPT.disabledingroup" ng-show="vc.viewState.T_PAYMENTDETMFP_722_ACCEPT.visible" ng-class="vc.viewState.T_PAYMENTDETMFP_722_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_PAYMENTDETMFP_722_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_PAYMENTDETMFP_722_CANCEL.disabled || vc.viewState.T_PAYMENTDETMFP_722_CANCEL.disabledingroup" ng-show="vc.viewState.T_PAYMENTDETMFP_722_CANCEL.visible" ng-class="vc.viewState.T_PAYMENTDETMFP_722_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>