<!-- Designer Generator v 5.0.0.1626 - release SPR 2016-26 08/01/2016 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_SUMNF62_FXUSN_876" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_SUMNF62_FXUSN_876.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_SUMNF62_FXUSN_876" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="GR_DISURMETFR51_05" ng-class="vc.viewState.GR_DISURMETFR51_05.style" class="cb-group cb-group-layout"> 
    <div id="GR_DISURMETFR51_05_VAL" kendo-validator="GR_DISURMETFR51_05" k-options="validatorOptions"> 
     <div id="GR_DISURMETFR51_06" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_DISURMETFR51_06.visible" ng-class="vc.viewState.GR_DISURMETFR51_06.style"> 
      <div id="GR_DISURMETFR51_06_VAL" kendo-validator="GR_DISURMETFR51_06" k-options="validatorOptions"> 
       <div class="form-horizontal"> 
        <div class="row"> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_DISURMETFR5106_PTTP830.visible"> 
          <div class="form-group" id="VA_DISURMETFR5106_PTTP830_DIV"> 
           <label for="VA_DISURMETFR5106_PTTP830" title="{{vc.viewState.VA_DISURMETFR5106_PTTP830.label|translate:vc.viewState.VA_DISURMETFR5106_PTTP830.labelArgs}}" ng-show="vc.viewState.VA_DISURMETFR5106_PTTP830.visible" class="col-sm-4 control-label">{{vc.viewState.VA_DISURMETFR5106_PTTP830.label|translate:vc.viewState.VA_DISURMETFR5106_PTTP830.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div title="{{vc.viewState.VA_DISURMETFR5106_PTTP830.tooltip|translate}}" class="cb-control"> 
             <input id="VA_DISURMETFR5106_PTTP830" name="LoanHeader_ProductType" kendo-ext-combo-box="comboBox.VA_DISURMETFR5106_PTTP830" ng-model="vc.model.LoanHeader.ProductType" ng-disabled="vc.viewState.VA_DISURMETFR5106_PTTP830.disabled || vc.viewState.VA_DISURMETFR5106_PTTP830.disabledingroup" ng-show="vc.viewState.VA_DISURMETFR5106_PTTP830.visible" ng-readonly="vc.viewState.VA_DISURMETFR5106_PTTP830.readonly" ng-class="vc.viewState.VA_DISURMETFR5106_PTTP830.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_DISURMETFR5106_PTTP830" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_DISURMETFR5106_PTTP830.template" data-cobis-group="Group,GR_DISURMETFR51_05,0" data-validation-code="{{vc.viewState.VA_DISURMETFR5106_PTTP830.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_DISURMETFR5106_OAIO459.visible"> 
          <div class="form-group" id="VA_DISURMETFR5106_OAIO459_DIV"> 
           <label for="VA_DISURMETFR5106_OAIO459" title="{{vc.viewState.VA_DISURMETFR5106_OAIO459.label|translate:vc.viewState.VA_DISURMETFR5106_OAIO459.labelArgs}}" ng-show="vc.viewState.VA_DISURMETFR5106_OAIO459.visible" class="col-sm-4 control-label">{{vc.viewState.VA_DISURMETFR5106_OAIO459.label|translate:vc.viewState.VA_DISURMETFR5106_OAIO459.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div title="{{vc.viewState.VA_DISURMETFR5106_OAIO459.tooltip|translate}}" class="cb-control"> 
             <input id="VA_DISURMETFR5106_OAIO459" name="LoanHeader_Operation" maxlength="100" type="text" class="form-control" ng-model="vc.model.LoanHeader.Operation" ng-disabled="vc.viewState.VA_DISURMETFR5106_OAIO459.disabled || vc.viewState.VA_DISURMETFR5106_OAIO459.disabledingroup" ng-show="vc.viewState.VA_DISURMETFR5106_OAIO459.visible" ng-readonly="vc.viewState.VA_DISURMETFR5106_OAIO459.readonly" ng-class="vc.viewState.VA_DISURMETFR5106_OAIO459.style" data-cobis-group="Group,GR_DISURMETFR51_05,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_DISURMETFR5106_OAIO459.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_DISURMETFR5106_CURR863.visible"> 
          <div class="form-group" id="VA_DISURMETFR5106_CURR863_DIV"> 
           <label for="VA_DISURMETFR5106_CURR863" title="{{vc.viewState.VA_DISURMETFR5106_CURR863.label|translate:vc.viewState.VA_DISURMETFR5106_CURR863.labelArgs}}" ng-show="vc.viewState.VA_DISURMETFR5106_CURR863.visible" class="col-sm-4 control-label">{{vc.viewState.VA_DISURMETFR5106_CURR863.label|translate:vc.viewState.VA_DISURMETFR5106_CURR863.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div title="{{vc.viewState.VA_DISURMETFR5106_CURR863.tooltip|translate}}" class="cb-control"> 
             <input id="VA_DISURMETFR5106_CURR863" name="LoanHeader_Currency" kendo-ext-combo-box="comboBox.VA_DISURMETFR5106_CURR863" ng-model="vc.model.LoanHeader.Currency" ng-disabled="vc.viewState.VA_DISURMETFR5106_CURR863.disabled || vc.viewState.VA_DISURMETFR5106_CURR863.disabledingroup" ng-show="vc.viewState.VA_DISURMETFR5106_CURR863.visible" ng-readonly="vc.viewState.VA_DISURMETFR5106_CURR863.readonly" ng-class="vc.viewState.VA_DISURMETFR5106_CURR863.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_DISURMETFR5106_CURR863" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_DISURMETFR5106_CURR863.template" data-cobis-group="Group,GR_DISURMETFR51_05,0" data-validation-code="{{vc.viewState.VA_DISURMETFR5106_CURR863.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_DISURMETFR5106_PIQO508.visible"> 
          <div class="form-group" id="VA_DISURMETFR5106_PIQO508_DIV"> 
           <label for="VA_DISURMETFR5106_PIQO508" title="{{vc.viewState.VA_DISURMETFR5106_PIQO508.label|translate:vc.viewState.VA_DISURMETFR5106_PIQO508.labelArgs}}" ng-show="vc.viewState.VA_DISURMETFR5106_PIQO508.visible" class="col-sm-4 control-label">{{vc.viewState.VA_DISURMETFR5106_PIQO508.label|translate:vc.viewState.VA_DISURMETFR5106_PIQO508.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div title="{{vc.viewState.VA_DISURMETFR5106_PIQO508.tooltip|translate}}" class="cb-control"> 
             <input id="VA_DISURMETFR5106_PIQO508" name="LoanHeader_PriceQuote" maxlength="103" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_DISURMETFR5106_PIQO508.format" k-decimals="vc.viewState.VA_DISURMETFR5106_PIQO508.decimals" k-ng-model="vc.model.LoanHeader.PriceQuote" ng-model="vc.tmpModel.LoanHeader.PriceQuote" ng-disabled="vc.viewState.VA_DISURMETFR5106_PIQO508.disabled || vc.viewState.VA_DISURMETFR5106_PIQO508.disabledingroup" ng-show="vc.viewState.VA_DISURMETFR5106_PIQO508.visible" ng-readonly="vc.viewState.VA_DISURMETFR5106_PIQO508.readonly" ng-class="vc.viewState.VA_DISURMETFR5106_PIQO508.style" data-cobis-group="Group,GR_DISURMETFR51_05,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_DISURMETFR5106_PIQO508.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_DISURMETFR5106_FFIE451.visible"> 
          <div class="form-group" id="VA_DISURMETFR5106_FFIE451_DIV"> 
           <label for="VA_DISURMETFR5106_FFIE451" title="{{vc.viewState.VA_DISURMETFR5106_FFIE451.label|translate:vc.viewState.VA_DISURMETFR5106_FFIE451.labelArgs}}" ng-show="vc.viewState.VA_DISURMETFR5106_FFIE451.visible" class="col-sm-4 control-label">{{vc.viewState.VA_DISURMETFR5106_FFIE451.label|translate:vc.viewState.VA_DISURMETFR5106_FFIE451.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div title="{{vc.viewState.VA_DISURMETFR5106_FFIE451.tooltip|translate}}" class="cb-control"> 
             <input id="VA_DISURMETFR5106_FFIE451" name="LoanHeader_Office" maxlength="20" type="text" class="form-control" ng-model="vc.model.LoanHeader.Office" ng-disabled="vc.viewState.VA_DISURMETFR5106_FFIE451.disabled || vc.viewState.VA_DISURMETFR5106_FFIE451.disabledingroup" ng-show="vc.viewState.VA_DISURMETFR5106_FFIE451.visible" ng-readonly="vc.viewState.VA_DISURMETFR5106_FFIE451.readonly" ng-class="vc.viewState.VA_DISURMETFR5106_FFIE451.style" data-cobis-group="Group,GR_DISURMETFR51_05,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_DISURMETFR5106_FFIE451.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_DISURMETFR5106_OMUT564.visible"> 
          <div class="form-group" id="VA_DISURMETFR5106_OMUT564_DIV"> 
           <label for="VA_DISURMETFR5106_OMUT564" title="{{vc.viewState.VA_DISURMETFR5106_OMUT564.label|translate:vc.viewState.VA_DISURMETFR5106_OMUT564.labelArgs}}" ng-show="vc.viewState.VA_DISURMETFR5106_OMUT564.visible" class="col-sm-4 control-label">{{vc.viewState.VA_DISURMETFR5106_OMUT564.label|translate:vc.viewState.VA_DISURMETFR5106_OMUT564.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div title="{{vc.viewState.VA_DISURMETFR5106_OMUT564.tooltip|translate}}" class="cb-control"> 
             <input id="VA_DISURMETFR5106_OMUT564" name="LoanHeader_ProposedAmount" maxlength="103" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_DISURMETFR5106_OMUT564.format" k-decimals="vc.viewState.VA_DISURMETFR5106_OMUT564.decimals" k-ng-model="vc.model.LoanHeader.ProposedAmount" ng-model="vc.tmpModel.LoanHeader.ProposedAmount" ng-disabled="vc.viewState.VA_DISURMETFR5106_OMUT564.disabled || vc.viewState.VA_DISURMETFR5106_OMUT564.disabledingroup" ng-show="vc.viewState.VA_DISURMETFR5106_OMUT564.visible" ng-readonly="vc.viewState.VA_DISURMETFR5106_OMUT564.readonly" ng-class="vc.viewState.VA_DISURMETFR5106_OMUT564.style" data-cobis-group="Group,GR_DISURMETFR51_05,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_DISURMETFR5106_OMUT564.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_DISURMETFR5106_UOBU373.visible"> 
          <div class="form-group" id="VA_DISURMETFR5106_UOBU373_DIV"> 
           <label for="VA_DISURMETFR5106_UOBU373" title="{{vc.viewState.VA_DISURMETFR5106_UOBU373.label|translate:vc.viewState.VA_DISURMETFR5106_UOBU373.labelArgs}}" ng-show="vc.viewState.VA_DISURMETFR5106_UOBU373.visible" class="col-sm-4 control-label">{{vc.viewState.VA_DISURMETFR5106_UOBU373.label|translate:vc.viewState.VA_DISURMETFR5106_UOBU373.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div title="{{vc.viewState.VA_DISURMETFR5106_UOBU373.tooltip|translate}}" class="cb-control"> 
             <input id="VA_DISURMETFR5106_UOBU373" name="LoanHeader_AmounttoDisburse" maxlength="103" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_DISURMETFR5106_UOBU373.format" k-decimals="vc.viewState.VA_DISURMETFR5106_UOBU373.decimals" k-ng-model="vc.model.LoanHeader.AmounttoDisburse" ng-model="vc.tmpModel.LoanHeader.AmounttoDisburse" ng-disabled="vc.viewState.VA_DISURMETFR5106_UOBU373.disabled || vc.viewState.VA_DISURMETFR5106_UOBU373.disabledingroup" ng-show="vc.viewState.VA_DISURMETFR5106_UOBU373.visible" ng-readonly="vc.viewState.VA_DISURMETFR5106_UOBU373.readonly" ng-class="vc.viewState.VA_DISURMETFR5106_UOBU373.style" data-cobis-group="Group,GR_DISURMETFR51_05,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_DISURMETFR5106_UOBU373.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_DISURMETFR5106_IIAT392.visible"> 
          <div class="form-group" id="VA_DISURMETFR5106_IIAT392_DIV"> 
           <label for="VA_DISURMETFR5106_IIAT392" title="{{vc.viewState.VA_DISURMETFR5106_IIAT392.label|translate:vc.viewState.VA_DISURMETFR5106_IIAT392.labelArgs}}" ng-show="vc.viewState.VA_DISURMETFR5106_IIAT392.visible" class="col-sm-4 control-label">{{vc.viewState.VA_DISURMETFR5106_IIAT392.label|translate:vc.viewState.VA_DISURMETFR5106_IIAT392.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div title="{{vc.viewState.VA_DISURMETFR5106_IIAT392.tooltip|translate}}" class="cb-control"> 
             <input id="VA_DISURMETFR5106_IIAT392" name="LoanHeader_InitialDate" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.LoanHeader.InitialDate" ng-model="vc.tmpModel.LoanHeader.InitialDate" ng-disabled="vc.viewState.VA_DISURMETFR5106_IIAT392.disabled || vc.viewState.VA_DISURMETFR5106_IIAT392.disabledingroup" ng-show="vc.viewState.VA_DISURMETFR5106_IIAT392.visible" ng-readonly="vc.viewState.VA_DISURMETFR5106_IIAT392.readonly" ng-class="vc.viewState.VA_DISURMETFR5106_IIAT392.style" data-cobis-group="Group,GR_DISURMETFR51_05,0" data-validation-code="{{vc.viewState.VA_DISURMETFR5106_IIAT392.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_DISURMETFR5106_UUNT712.visible"> 
          <div class="form-group" id="VA_DISURMETFR5106_UUNT712_DIV"> 
           <label for="VA_DISURMETFR5106_UUNT712" title="{{vc.viewState.VA_DISURMETFR5106_UUNT712.label|translate:vc.viewState.VA_DISURMETFR5106_UUNT712.labelArgs}}" ng-show="vc.viewState.VA_DISURMETFR5106_UUNT712.visible" class="col-sm-4 control-label">{{vc.viewState.VA_DISURMETFR5106_UUNT712.label|translate:vc.viewState.VA_DISURMETFR5106_UUNT712.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div title="{{vc.viewState.VA_DISURMETFR5106_UUNT712.tooltip|translate}}" class="cb-control"> 
             <input id="VA_DISURMETFR5106_UUNT712" name="LoanHeader_ValueDiscount" maxlength="103" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_DISURMETFR5106_UUNT712.format" k-decimals="vc.viewState.VA_DISURMETFR5106_UUNT712.decimals" k-ng-model="vc.model.LoanHeader.ValueDiscount" ng-model="vc.tmpModel.LoanHeader.ValueDiscount" ng-disabled="vc.viewState.VA_DISURMETFR5106_UUNT712.disabled || vc.viewState.VA_DISURMETFR5106_UUNT712.disabledingroup" ng-show="vc.viewState.VA_DISURMETFR5106_UUNT712.visible" ng-readonly="vc.viewState.VA_DISURMETFR5106_UUNT712.readonly" ng-class="vc.viewState.VA_DISURMETFR5106_UUNT712.style" data-cobis-group="Group,GR_DISURMETFR51_05,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_DISURMETFR5106_UUNT712.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_DISURMETFR5106_ATBS598.visible"> 
          <div class="form-group" id="VA_DISURMETFR5106_ATBS598_DIV"> 
           <label for="VA_DISURMETFR5106_ATBS598" title="{{vc.viewState.VA_DISURMETFR5106_ATBS598.label|translate:vc.viewState.VA_DISURMETFR5106_ATBS598.labelArgs}}" ng-show="vc.viewState.VA_DISURMETFR5106_ATBS598.visible" class="col-sm-4 control-label">{{vc.viewState.VA_DISURMETFR5106_ATBS598.label|translate:vc.viewState.VA_DISURMETFR5106_ATBS598.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div title="{{vc.viewState.VA_DISURMETFR5106_ATBS598.tooltip|translate}}" class="cb-control"> 
             <input id="VA_DISURMETFR5106_ATBS598" name="LoanHeader_ValuetoDisburse" maxlength="103" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_DISURMETFR5106_ATBS598.format" k-decimals="vc.viewState.VA_DISURMETFR5106_ATBS598.decimals" k-ng-model="vc.model.LoanHeader.ValuetoDisburse" ng-model="vc.tmpModel.LoanHeader.ValuetoDisburse" ng-disabled="vc.viewState.VA_DISURMETFR5106_ATBS598.disabled || vc.viewState.VA_DISURMETFR5106_ATBS598.disabledingroup" ng-show="vc.viewState.VA_DISURMETFR5106_ATBS598.visible" ng-readonly="vc.viewState.VA_DISURMETFR5106_ATBS598.readonly" ng-class="vc.viewState.VA_DISURMETFR5106_ATBS598.style" data-cobis-group="Group,GR_DISURMETFR51_05,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_DISURMETFR5106_ATBS598.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_DISURMETFR5106_USMR660.visible"> 
          <div class="form-group" id="VA_DISURMETFR5106_USMR660_DIV"> 
           <label for="VA_DISURMETFR5106_USMR660" title="{{vc.viewState.VA_DISURMETFR5106_USMR660.label|translate:vc.viewState.VA_DISURMETFR5106_USMR660.labelArgs}}" ng-show="vc.viewState.VA_DISURMETFR5106_USMR660.visible" class="col-sm-4 control-label">{{vc.viewState.VA_DISURMETFR5106_USMR660.label|translate:vc.viewState.VA_DISURMETFR5106_USMR660.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div title="{{vc.viewState.VA_DISURMETFR5106_USMR660.tooltip|translate}}" class="cb-control"> 
             <input id="VA_DISURMETFR5106_USMR660" name="LoanHeader_Customer" maxlength="300" type="text" class="form-control" ng-model="vc.model.LoanHeader.Customer" ng-disabled="vc.viewState.VA_DISURMETFR5106_USMR660.disabled || vc.viewState.VA_DISURMETFR5106_USMR660.disabledingroup" ng-show="vc.viewState.VA_DISURMETFR5106_USMR660.visible" ng-readonly="vc.viewState.VA_DISURMETFR5106_USMR660.readonly" ng-class="vc.viewState.VA_DISURMETFR5106_USMR660.style" data-cobis-group="Group,GR_DISURMETFR51_05,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_DISURMETFR5106_USMR660.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_DISURMETFR5106_BAIO267.visible"> 
          <div class="form-group" id="VA_DISURMETFR5106_BAIO267_DIV"> 
           <label for="VA_DISURMETFR5106_BAIO267" title="{{vc.viewState.VA_DISURMETFR5106_BAIO267.label|translate:vc.viewState.VA_DISURMETFR5106_BAIO267.labelArgs}}" ng-show="vc.viewState.VA_DISURMETFR5106_BAIO267.visible" class="col-sm-4 control-label">{{vc.viewState.VA_DISURMETFR5106_BAIO267.label|translate:vc.viewState.VA_DISURMETFR5106_BAIO267.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div title="{{vc.viewState.VA_DISURMETFR5106_BAIO267.tooltip|translate}}" class="cb-control"> 
             <input id="VA_DISURMETFR5106_BAIO267" name="LoanHeader_BalanceOperation" maxlength="103" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_DISURMETFR5106_BAIO267.format" k-decimals="vc.viewState.VA_DISURMETFR5106_BAIO267.decimals" k-ng-model="vc.model.LoanHeader.BalanceOperation" ng-model="vc.tmpModel.LoanHeader.BalanceOperation" ng-disabled="vc.viewState.VA_DISURMETFR5106_BAIO267.disabled || vc.viewState.VA_DISURMETFR5106_BAIO267.disabledingroup" ng-show="vc.viewState.VA_DISURMETFR5106_BAIO267.visible" ng-readonly="vc.viewState.VA_DISURMETFR5106_BAIO267.readonly" ng-class="vc.viewState.VA_DISURMETFR5106_BAIO267.style" data-cobis-group="Group,GR_DISURMETFR51_05,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_DISURMETFR5106_BAIO267.validationCode}}" designer-change /> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_DISURMETFR5106_UERE335.visible"> 
          <div class="form-group" id="VA_DISURMETFR5106_UERE335_DIV"> 
           <label for="VA_DISURMETFR5106_UERE335" title="{{vc.viewState.VA_DISURMETFR5106_UERE335.label|translate:vc.viewState.VA_DISURMETFR5106_UERE335.labelArgs}}" ng-show="vc.viewState.VA_DISURMETFR5106_UERE335.visible" class="col-sm-4 control-label">{{vc.viewState.VA_DISURMETFR5106_UERE335.label|translate:vc.viewState.VA_DISURMETFR5106_UERE335.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div title="{{vc.viewState.VA_DISURMETFR5106_UERE335.tooltip|translate}}" class="cb-control"> 
             <input id="VA_DISURMETFR5106_UERE335" name="LoanHeader_NumberLine" maxlength="24" type="text" class="form-control" ng-model="vc.model.LoanHeader.NumberLine" ng-disabled="vc.viewState.VA_DISURMETFR5106_UERE335.disabled || vc.viewState.VA_DISURMETFR5106_UERE335.disabledingroup" ng-show="vc.viewState.VA_DISURMETFR5106_UERE335.visible" ng-readonly="vc.viewState.VA_DISURMETFR5106_UERE335.readonly" ng-class="vc.viewState.VA_DISURMETFR5106_UERE335.style" data-cobis-group="Group,GR_DISURMETFR51_05,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_DISURMETFR5106_UERE335.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_DISURMETFR5106_DINI653.visible"> 
          <div class="form-group" id="VA_DISURMETFR5106_DINI653_DIV"> 
           <label for="VA_DISURMETFR5106_DINI653" title="{{vc.viewState.VA_DISURMETFR5106_DINI653.label|translate:vc.viewState.VA_DISURMETFR5106_DINI653.labelArgs}}" ng-show="vc.viewState.VA_DISURMETFR5106_DINI653.visible" class="col-sm-4 control-label">{{vc.viewState.VA_DISURMETFR5106_DINI653.label|translate:vc.viewState.VA_DISURMETFR5106_DINI653.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div title="{{vc.viewState.VA_DISURMETFR5106_DINI653.tooltip|translate}}" class="cb-control"> 
             <input id="VA_DISURMETFR5106_DINI653" name="LoanHeader_CreditLineValid" maxlength="50" type="text" class="form-control" ng-model="vc.model.LoanHeader.CreditLineValid" ng-disabled="vc.viewState.VA_DISURMETFR5106_DINI653.disabled || vc.viewState.VA_DISURMETFR5106_DINI653.disabledingroup" ng-show="vc.viewState.VA_DISURMETFR5106_DINI653.visible" ng-readonly="vc.viewState.VA_DISURMETFR5106_DINI653.readonly" ng-class="vc.viewState.VA_DISURMETFR5106_DINI653.style" data-cobis-group="Group,GR_DISURMETFR51_05,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_DISURMETFR5106_DINI653.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <fieldset id="GR_DISURMETFR51_07" ng-show="vc.viewState.GR_DISURMETFR51_07.visible" ng-class="vc.viewState.GR_DISURMETFR51_07.style" class="cb-group cb-group-simple"> 
      <legend> <span ng-bind="vc.viewState.GR_DISURMETFR51_07.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.GR_DISURMETFR51_07.statusStyle.success, 'cb-validation-fail': vc.viewState.GR_DISURMETFR51_07.statusStyle.fail, 'cb-validation-none': vc.viewState.GR_DISURMETFR51_07.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.GR_DISURMETFR51_07.label|translate}}</span> </legend> 
      <div id="GR_DISURMETFR51_07_VAL" kendo-validator="GR_DISURMETFR51_07" k-options="validatorOptions"> 
       <div id="QV_TDLIA9011_50" kendo-ext-grid="grids.QV_TDLIA9011_50" k-data-source="vc.model.DetailLiquidateValues" k-column-menu="false" k-sortable="false" k-editable="vc.viewState.GR_DISURMETFR51_07.disabled?false:'inline'" k-toolbar="vc.grids.QV_TDLIA9011_50.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="true" k-change="vc.grids.QV_TDLIA9011_50.events.change" k-data-bound="vc.grids.QV_TDLIA9011_50.events.dataBound" k-columns="vc.grids.QV_TDLIA9011_50.columns" k-cancel="vc.grids.QV_TDLIA9011_50.events.cancel" k-edit="vc.grids.QV_TDLIA9011_50.events.edit" ng-class="vc.viewState.QV_TDLIA9011_50.style" k-ng-delay="vc.afterInitData"></div> 
      </div> 
     </fieldset> 
     <fieldset id="GR_DISURMETFR51_08" ng-show="vc.viewState.GR_DISURMETFR51_08.visible" ng-class="vc.viewState.GR_DISURMETFR51_08.style" class="cb-group cb-group-simple"> 
      <legend> <span ng-bind="vc.viewState.GR_DISURMETFR51_08.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.GR_DISURMETFR51_08.statusStyle.success, 'cb-validation-fail': vc.viewState.GR_DISURMETFR51_08.statusStyle.fail, 'cb-validation-none': vc.viewState.GR_DISURMETFR51_08.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.GR_DISURMETFR51_08.label|translate}}</span> </legend> 
      <div id="GR_DISURMETFR51_08_VAL" kendo-validator="GR_DISURMETFR51_08" k-options="validatorOptions"> 
       <div id="QV_TSRSE1342_26" kendo-ext-grid="grids.QV_TSRSE1342_26" k-data-source="vc.model.DisbursementDetail" k-column-menu="false" k-sortable="false" k-editable="vc.viewState.GR_DISURMETFR51_08.disabled?false:'inline'" k-toolbar="vc.grids.QV_TSRSE1342_26.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-data-bound="vc.grids.QV_TSRSE1342_26.events.dataBound" k-columns="vc.grids.QV_TSRSE1342_26.columns" k-cancel="vc.grids.QV_TSRSE1342_26.events.cancel" k-edit="vc.grids.QV_TSRSE1342_26.events.edit" k-data-binding="vc.grids.QV_TSRSE1342_26.events.dataBinding" k-detail-template="vc.grids.QV_TSRSE1342_26.detailTemplate" k-detail-expand="vc.grids.QV_TSRSE1342_26.events.detailExpand" ng-class="vc.viewState.QV_TSRSE1342_26.style" k-ng-delay="vc.afterInitData"></div> 
      </div> 
     </fieldset> 
    </div> 
   </div> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_FLCRE_62_SUMNF62_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_SUMNF62_FXUSN_876')" ng-disabled="vc.viewState.T_FLCRE_62_SUMNF62_ACCEPT.disabled || vc.viewState.T_FLCRE_62_SUMNF62_ACCEPT.disabledingroup" ng-show="vc.viewState.T_FLCRE_62_SUMNF62_ACCEPT.visible" ng-class="vc.viewState.T_FLCRE_62_SUMNF62_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_FLCRE_62_SUMNF62_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_FLCRE_62_SUMNF62_CANCEL.disabled || vc.viewState.T_FLCRE_62_SUMNF62_CANCEL.disabledingroup" ng-show="vc.viewState.T_FLCRE_62_SUMNF62_CANCEL.visible" ng-class="vc.viewState.T_FLCRE_62_SUMNF62_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>