<!-- Designer Generator v 6.4.0.2 - SPR 2018-13 26/06/2018 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_AUTHORIZER_104971" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_AUTHORIZER_104971.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_AUTHORIZRE_316--> 
  <div id="VC_AUTHORIZER_104971" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_AUTHORICMR_818316" ng-show="vc.viewState.G_AUTHORICMR_818316.visible" ng-class="vc.viewState.G_AUTHORICMR_818316.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_AUTHORICMR_818316" k-options="validatorOptions" id="G_AUTHORICMR_818316_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-12" ng-show="vc.viewState.VA_1XHOHVVGWWVKLGO_419316.visible"> 
        <div class="form-group cb-required" id="VA_1XHOHVVGWWVKLGO_419316_DIV"> 
         <label for="VA_1XHOHVVGWWVKLGO_419316" title="{{vc.viewState.VA_1XHOHVVGWWVKLGO_419316.label|translate:vc.viewState.VA_1XHOHVVGWWVKLGO_419316.labelArgs}}" ng-show="vc.viewState.VA_1XHOHVVGWWVKLGO_419316.visible" class="control-label">{{vc.viewState.VA_1XHOHVVGWWVKLGO_419316.label|translate:vc.viewState.VA_1XHOHVVGWWVKLGO_419316.labelArgs}}</label> 
         <div class="cb-control"> 
          <textarea id="VA_1XHOHVVGWWVKLGO_419316" style="resize: none; width:100%" rows="3" name="Entity2_attribute1" type="text" class="form-control" ng-model="vc.model.Entity2.attribute1" ng-disabled="vc.viewState.VA_1XHOHVVGWWVKLGO_419316.disabled || vc.viewState.VA_1XHOHVVGWWVKLGO_419316.disabledingroup" ng-show="vc.viewState.VA_1XHOHVVGWWVKLGO_419316.visible" ng-readonly="vc.viewState.VA_1XHOHVVGWWVKLGO_419316.readonly" ng-class="vc.viewState.VA_1XHOHVVGWWVKLGO_419316.style" data-cobis-group="Group,G_AUTHORICMR_818316,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_1XHOHVVGWWVKLGO_419316.validationCode}}" data-required-msg="{{'CSTMR.MSG_CSTMR_LARAZNRAO_23868'|translate}}"></textarea> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer2978.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONRKHSQNF_877316.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONRKHSQNF_877316" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONRKHSQNF_877316','VA_VABUTTONRKHSQNF_877316',validator,true, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONRKHSQNF_877316.disabled || vc.viewState.VA_VABUTTONRKHSQNF_877316.disabledingroup" ng-show="vc.viewState.VA_VABUTTONRKHSQNF_877316.visible" ng-class="vc.viewState.VA_VABUTTONRKHSQNF_877316.style"> {{vc.viewState.VA_VABUTTONRKHSQNF_877316.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_AUTHORIZRE_316--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_CSTMRPCOZHJII_971_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_AUTHORIZER_104971')" ng-disabled="vc.viewState.T_CSTMRPCOZHJII_971_ACCEPT.disabled || vc.viewState.T_CSTMRPCOZHJII_971_ACCEPT.disabledingroup" ng-show="vc.viewState.T_CSTMRPCOZHJII_971_ACCEPT.visible" ng-class="vc.viewState.T_CSTMRPCOZHJII_971_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_CSTMRPCOZHJII_971_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_CSTMRPCOZHJII_971_CANCEL.disabled || vc.viewState.T_CSTMRPCOZHJII_971_CANCEL.disabledingroup" ng-show="vc.viewState.T_CSTMRPCOZHJII_971_CANCEL.visible" ng-class="vc.viewState.T_CSTMRPCOZHJII_971_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>