<!-- Designer Generator v 6.3.3 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_LOANSEARUG_773451" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_LOANSEARUG_773451.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_LOANSEARCO_549--> 
  <div id="VC_LOANSEARUG_773451" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_LOANSEARRR_805549" ng-class="vc.viewState.G_LOANSEARRR_805549.style" class="cb-group cb-group-layout"> 
    <div id="G_LOANSEARRR_805549_VAL" kendo-validator="G_LOANSEARRR_805549" k-options="validatorOptions"> 
     <fieldset id="G_LOANSEARRC_434549" ng-show="vc.viewState.G_LOANSEARRC_434549.visible" ng-class="vc.viewState.G_LOANSEARRC_434549.style" class="cb-group cb-group-simple"> 
      <legend> <span ng-bind="vc.viewState.G_LOANSEARRC_434549.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.G_LOANSEARRC_434549.statusStyle.success, 'cb-validation-fail': vc.viewState.G_LOANSEARRC_434549.statusStyle.fail, 'cb-validation-none': vc.viewState.G_LOANSEARRC_434549.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.G_LOANSEARRC_434549.label|translate}}</span> </legend> 
      <div id="G_LOANSEARRC_434549_VAL" kendo-validator="G_LOANSEARRC_434549" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_TEXTINPUTBOXHCG_720549.visible"> 
          <div class="form-group" id="VA_TEXTINPUTBOXHCG_720549_DIV"> 
           <label for="VA_TEXTINPUTBOXHCG_720549" title="{{vc.viewState.VA_TEXTINPUTBOXHCG_720549.label|translate:vc.viewState.VA_TEXTINPUTBOXHCG_720549.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXHCG_720549.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXHCG_720549.label|translate:vc.viewState.VA_TEXTINPUTBOXHCG_720549.labelArgs}}</label> 
           <div class="cb-control"> 
            <div class="input-group"> 
             <input id="VA_TEXTINPUTBOXHCG_720549" name="LoanSearchFilter_numIdentification" maxlength="11" type="text" class="form-control" ng-model="vc.model.LoanSearchFilter.numIdentification" ng-disabled="vc.viewState.VA_TEXTINPUTBOXHCG_720549.disabled || vc.viewState.VA_TEXTINPUTBOXHCG_720549.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXHCG_720549.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXHCG_720549.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXHCG_720549.style" data-cobis-group="GroupLayout,G_LOANSEARRR_805549,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXHCG_720549.validationCode}}" /> 
             <div class="input-group-btn"> 
              <button class="btn btn-default btn-block" ng-click="vc.clickTextInputButton('VA_TEXTINPUTBOXHCG_720549')" ng-disabled="vc.viewState.VA_TEXTINPUTBOXHCG_720549.disabled || vc.viewState.VA_TEXTINPUTBOXHCG_720549.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXHCG_720549.visible" ng-class="vc.viewState.VA_TEXTINPUTBOXHCG_720549.style"> <span class="glyphicon glyphicon-align-justify"></span> </button> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_TEXTINPUTBOXLPX_148549.visible"> 
          <div class="form-group" id="VA_TEXTINPUTBOXLPX_148549_DIV"> 
           <label for="VA_TEXTINPUTBOXLPX_148549" title="{{vc.viewState.VA_TEXTINPUTBOXLPX_148549.label|translate:vc.viewState.VA_TEXTINPUTBOXLPX_148549.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXLPX_148549.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXLPX_148549.label|translate:vc.viewState.VA_TEXTINPUTBOXLPX_148549.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_TEXTINPUTBOXLPX_148549" name="LoanSearchFilter_operation" maxlength="15" type="text" class="form-control" ng-model="vc.model.LoanSearchFilter.operation" ng-disabled="vc.viewState.VA_TEXTINPUTBOXLPX_148549.disabled || vc.viewState.VA_TEXTINPUTBOXLPX_148549.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXLPX_148549.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXLPX_148549.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXLPX_148549.style" data-cobis-group="GroupLayout,G_LOANSEARRR_805549,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXLPX_148549.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_TEXTINPUTBOXUDJ_171549.visible"> 
          <div class="form-group" id="VA_TEXTINPUTBOXUDJ_171549_DIV"> 
           <label for="VA_TEXTINPUTBOXUDJ_171549" title="{{vc.viewState.VA_TEXTINPUTBOXUDJ_171549.label|translate:vc.viewState.VA_TEXTINPUTBOXUDJ_171549.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXUDJ_171549.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXUDJ_171549.label|translate:vc.viewState.VA_TEXTINPUTBOXUDJ_171549.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_TEXTINPUTBOXUDJ_171549" name="LoanSearchFilter_numProcedures" maxlength="11" type="text" class="form-control" ng-model="vc.model.LoanSearchFilter.numProcedures" ng-disabled="vc.viewState.VA_TEXTINPUTBOXUDJ_171549.disabled || vc.viewState.VA_TEXTINPUTBOXUDJ_171549.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXUDJ_171549.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXUDJ_171549.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXUDJ_171549.style" data-cobis-group="GroupLayout,G_LOANSEARRR_805549,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXUDJ_171549.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_TEXTINPUTBOXTKU_514549.visible"> 
          <div class="form-group" id="VA_TEXTINPUTBOXTKU_514549_DIV"> 
           <label for="VA_TEXTINPUTBOXTKU_514549" title="{{vc.viewState.VA_TEXTINPUTBOXTKU_514549.label|translate:vc.viewState.VA_TEXTINPUTBOXTKU_514549.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXTKU_514549.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXTKU_514549.label|translate:vc.viewState.VA_TEXTINPUTBOXTKU_514549.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_TEXTINPUTBOXTKU_514549" name="LoanSearchFilter_office" kendo-ext-combo-box="comboBox.VA_TEXTINPUTBOXTKU_514549" ng-model="vc.model.LoanSearchFilter.office" ng-disabled="vc.viewState.VA_TEXTINPUTBOXTKU_514549.disabled || vc.viewState.VA_TEXTINPUTBOXTKU_514549.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXTKU_514549.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXTKU_514549.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXTKU_514549.style" placeholder="'{{'ASSTS.LBL_ASSTS_SELECCION_40905'|translate}}'" k-data-source="vc.catalogs.VA_TEXTINPUTBOXTKU_514549" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_TEXTINPUTBOXTKU_514549.template" data-cobis-group="GroupLayout,G_LOANSEARRR_805549,0" data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXTKU_514549.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_DATEFIELDCVISIT_349549.visible"> 
          <div class="form-group" id="VA_DATEFIELDCVISIT_349549_DIV"> 
           <label for="VA_DATEFIELDCVISIT_349549" title="{{vc.viewState.VA_DATEFIELDCVISIT_349549.label|translate:vc.viewState.VA_DATEFIELDCVISIT_349549.labelArgs}}" ng-show="vc.viewState.VA_DATEFIELDCVISIT_349549.visible" class="control-label">{{vc.viewState.VA_DATEFIELDCVISIT_349549.label|translate:vc.viewState.VA_DATEFIELDCVISIT_349549.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_DATEFIELDCVISIT_349549" name="LoanSearchFilter_disbursementDate" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.LoanSearchFilter.disbursementDate" ng-model="vc.tmpModel.LoanSearchFilter.disbursementDate" ng-disabled="vc.viewState.VA_DATEFIELDCVISIT_349549.disabled || vc.viewState.VA_DATEFIELDCVISIT_349549.disabledingroup" ng-show="vc.viewState.VA_DATEFIELDCVISIT_349549.visible" ng-readonly="vc.viewState.VA_DATEFIELDCVISIT_349549.readonly" ng-class="vc.viewState.VA_DATEFIELDCVISIT_349549.style" data-cobis-group="GroupLayout,G_LOANSEARRR_805549,0" data-validation-code="{{vc.viewState.VA_DATEFIELDCVISIT_349549.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_OFFICERKLHXZUAP_236549.visible"> 
          <div class="form-group" id="VA_OFFICERKLHXZUAP_236549_DIV"> 
           <label for="VA_OFFICERKLHXZUAP_236549" title="{{vc.viewState.VA_OFFICERKLHXZUAP_236549.label|translate:vc.viewState.VA_OFFICERKLHXZUAP_236549.labelArgs}}" ng-show="vc.viewState.VA_OFFICERKLHXZUAP_236549.visible" class="control-label">{{vc.viewState.VA_OFFICERKLHXZUAP_236549.label|translate:vc.viewState.VA_OFFICERKLHXZUAP_236549.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_OFFICERKLHXZUAP_236549" name="LoanSearchFilter_officer" kendo-ext-combo-box="comboBox.VA_OFFICERKLHXZUAP_236549" ng-model="vc.model.LoanSearchFilter.officer" ng-disabled="vc.viewState.VA_OFFICERKLHXZUAP_236549.disabled || vc.viewState.VA_OFFICERKLHXZUAP_236549.disabledingroup" ng-show="vc.viewState.VA_OFFICERKLHXZUAP_236549.visible" ng-readonly="vc.viewState.VA_OFFICERKLHXZUAP_236549.readonly" ng-class="vc.viewState.VA_OFFICERKLHXZUAP_236549.style" placeholder="'{{'ASSTS.LBL_ASSTS_SELECCION_40905'|translate}}'" k-data-source="vc.catalogs.VA_OFFICERKLHXZUAP_236549" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_OFFICERKLHXZUAP_236549.template" data-cobis-group="GroupLayout,G_LOANSEARRR_805549,0" data-validation-code="{{vc.viewState.VA_OFFICERKLHXZUAP_236549.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </fieldset> 
     <div id="G_LOANSEAHCG_262549" class="cb-group cb-group-simple" ng-show="vc.viewState.G_LOANSEAHCG_262549.visible" ng-class="vc.viewState.G_LOANSEAHCG_262549.style"> 
      <div id="G_LOANSEAHCG_262549_VAL" kendo-validator="G_LOANSEAHCG_262549" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_AVANCESEARCHJRS_939549.visible"> 
          <div class="form-group" id="VA_AVANCESEARCHJRS_939549_DIV"> 
           <label>&nbsp; </label> 
           <div class="cb-control"> 
            <div> 
             <label class="checkbox-inline"> <input id="VA_AVANCESEARCHJRS_939549" name="LoanSearchFilter_avanceSearch" type="checkbox" ng-model="vc.model.LoanSearchFilter.avanceSearch" ng-disabled="vc.viewState.VA_AVANCESEARCHJRS_939549.disabled || vc.viewState.VA_AVANCESEARCHJRS_939549.disabledingroup" ng-show="vc.viewState.VA_AVANCESEARCHJRS_939549.visible" ng-class="vc.viewState.VA_AVANCESEARCHJRS_939549.style" designer-change /> <span ng-if="vc.viewState.VA_AVANCESEARCHJRS_939549.visible"> {{vc.viewState.VA_AVANCESEARCHJRS_939549.label|translate}} </span> </label> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.Spacer2717.visible"> 
          <div class="form-group cb-spacer"> 
           <label class="control-label">&nbsp;</label> 
           <span class="cb-control"></span> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONMIOOIVQ_638549.visible"> 
          <div class="form-group"> 
           <label class="control-label">&nbsp;</label> 
           <div class="cb-control"> 
            <button id="VA_VABUTTONMIOOIVQ_638549" class="btn btn-default btn-block" ng-click="vc.executeQueryControl(vc.getRequestQuery_Q_LOANIBUZ_3992(),'',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONMIOOIVQ_638549.disabled || vc.viewState.VA_VABUTTONMIOOIVQ_638549.disabledingroup" ng-show="vc.viewState.VA_VABUTTONMIOOIVQ_638549.visible" ng-class="vc.viewState.VA_VABUTTONMIOOIVQ_638549.style"> {{vc.viewState.VA_VABUTTONMIOOIVQ_638549.label|translate}} </button> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <fieldset id="G_LOANSEARRR_385549" ng-show="vc.viewState.G_LOANSEARRR_385549.visible" ng-class="vc.viewState.G_LOANSEARRR_385549.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_LOANSEARRR_385549" k-options="validatorOptions" id="G_LOANSEARRR_385549_VAL"> 
     <legend> <span ng-bind="vc.viewState.G_LOANSEARRR_385549.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.G_LOANSEARRR_385549.statusStyle.success, 'cb-validation-fail': vc.viewState.G_LOANSEARRR_385549.statusStyle.fail, 'cb-validation-none': vc.viewState.G_LOANSEARRR_385549.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.G_LOANSEARRR_385549.label|translate}}</span> </legend> 
     <div id="QV_3992_44545" kendo-ext-grid="grids.QV_3992_44545" k-data-source="vc.model.Loan" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_3992_44545.editable" k-toolbar="vc.grids.QV_3992_44545.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="true" k-change="vc.grids.QV_3992_44545.events.change" k-data-bound="vc.grids.QV_3992_44545.events.dataBound" k-columns="vc.grids.QV_3992_44545.columns" k-cancel="vc.grids.QV_3992_44545.events.cancel" k-edit="vc.grids.QV_3992_44545.events.edit" ng-class="vc.viewState.QV_3992_44545.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </fieldset> 
  </div> 
  <!-- Fin item VW_LOANSEARCO_549--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_ASSTSDOHFZMES_451_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_LOANSEARUG_773451')" ng-disabled="vc.viewState.T_ASSTSDOHFZMES_451_ACCEPT.disabled || vc.viewState.T_ASSTSDOHFZMES_451_ACCEPT.disabledingroup" ng-show="vc.viewState.T_ASSTSDOHFZMES_451_ACCEPT.visible" ng-class="vc.viewState.T_ASSTSDOHFZMES_451_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_ASSTSDOHFZMES_451_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_ASSTSDOHFZMES_451_CANCEL.disabled || vc.viewState.T_ASSTSDOHFZMES_451_CANCEL.disabledingroup" ng-show="vc.viewState.T_ASSTSDOHFZMES_451_CANCEL.visible" ng-class="vc.viewState.T_ASSTSDOHFZMES_451_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>