<!-- Designer Generator v 5.1.0.1603 - release SPR 2016-03 19/02/2016 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_EENSS78_KRZXU_304" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_EENSS78_KRZXU_304.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_IEWEUTEBSK00--> 
  <div id="VC_EENSS78_KRZXU_304" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="GR_IEWEUTEBSK00_04" ng-class="vc.viewState.GR_IEWEUTEBSK00_04.style" class="cb-group cb-group-layout"> 
    <div id="GR_IEWEUTEBSK00_04_VAL" kendo-validator="GR_IEWEUTEBSK00_04" k-options="validatorOptions"> 
     <div id="GR_IEWEUTEBSK00_05" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_IEWEUTEBSK00_05.visible" ng-class="vc.viewState.GR_IEWEUTEBSK00_05.style"> 
      <div id="GR_IEWEUTEBSK00_05_VAL" kendo-validator="GR_IEWEUTEBSK00_05" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_IEWEUTEBSK0005_TATA551.visible"> 
          <div class="form-group" id="VA_IEWEUTEBSK0005_TATA551_DIV"> 
           <label for="VA_IEWEUTEBSK0005_TATA551" title="{{vc.viewState.VA_IEWEUTEBSK0005_TATA551.label|translate:vc.viewState.VA_IEWEUTEBSK0005_TATA551.labelArgs}}" ng-show="vc.viewState.VA_IEWEUTEBSK0005_TATA551.visible" class="control-label">{{vc.viewState.VA_IEWEUTEBSK0005_TATA551.label|translate:vc.viewState.VA_IEWEUTEBSK0005_TATA551.labelArgs}}</label> 
           <div title="{{vc.viewState.VA_IEWEUTEBSK0005_TATA551.tooltip|translate}}" class="cb-control"> 
            <input id="VA_IEWEUTEBSK0005_TATA551" name="ExecutiveBonusHeaderRisk_startDate" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.ExecutiveBonusHeaderRisk.startDate" ng-model="vc.tmpModel.ExecutiveBonusHeaderRisk.startDate" ng-disabled="vc.viewState.VA_IEWEUTEBSK0005_TATA551.disabled || vc.viewState.VA_IEWEUTEBSK0005_TATA551.disabledingroup" ng-show="vc.viewState.VA_IEWEUTEBSK0005_TATA551.visible" ng-readonly="vc.viewState.VA_IEWEUTEBSK0005_TATA551.readonly" ng-class="vc.viewState.VA_IEWEUTEBSK0005_TATA551.style" data-cobis-group="Group,GR_IEWEUTEBSK00_04,0" data-validation-code="{{vc.viewState.VA_IEWEUTEBSK0005_TATA551.validationCode}}" designer-change /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_IEWEUTEBSK0005_LOGN563.visible"> 
          <div class="form-group cb-spacer"> 
           <label class="control-label">&nbsp;</label> 
           <span class="cb-control"></span> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_IEWEUTEBSK0005_ENDT177.visible"> 
          <div class="form-group" id="VA_IEWEUTEBSK0005_ENDT177_DIV"> 
           <label for="VA_IEWEUTEBSK0005_ENDT177" title="{{vc.viewState.VA_IEWEUTEBSK0005_ENDT177.label|translate:vc.viewState.VA_IEWEUTEBSK0005_ENDT177.labelArgs}}" ng-show="vc.viewState.VA_IEWEUTEBSK0005_ENDT177.visible" class="control-label">{{vc.viewState.VA_IEWEUTEBSK0005_ENDT177.label|translate:vc.viewState.VA_IEWEUTEBSK0005_ENDT177.labelArgs}}</label> 
           <div title="{{vc.viewState.VA_IEWEUTEBSK0005_ENDT177.tooltip|translate}}" class="cb-control"> 
            <input id="VA_IEWEUTEBSK0005_ENDT177" name="ExecutiveBonusHeaderRisk_endDate" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.ExecutiveBonusHeaderRisk.endDate" ng-model="vc.tmpModel.ExecutiveBonusHeaderRisk.endDate" ng-disabled="vc.viewState.VA_IEWEUTEBSK0005_ENDT177.disabled || vc.viewState.VA_IEWEUTEBSK0005_ENDT177.disabledingroup" ng-show="vc.viewState.VA_IEWEUTEBSK0005_ENDT177.visible" ng-readonly="vc.viewState.VA_IEWEUTEBSK0005_ENDT177.readonly" ng-class="vc.viewState.VA_IEWEUTEBSK0005_ENDT177.style" data-cobis-group="Group,GR_IEWEUTEBSK00_04,0" data-validation-code="{{vc.viewState.VA_IEWEUTEBSK0005_ENDT177.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div id="GR_IEWEUTEBSK00_06" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_IEWEUTEBSK00_06.visible" ng-class="vc.viewState.GR_IEWEUTEBSK00_06.style"> 
      <div id="GR_IEWEUTEBSK00_06_VAL" kendo-validator="GR_IEWEUTEBSK00_06" k-options="validatorOptions"> 
       <div id="QV_ECTIB5101_92" kendo-ext-grid="grids.QV_ECTIB5101_92" k-data-source="vc.model.ExecutiveBonusDetailsRisk" k-column-menu="false" k-sortable="false" k-editable="vc.viewState.GR_IEWEUTEBSK00_06.disabled?false:'incell'" k-navigatable="true" k-save="vc.grids.QV_ECTIB5101_92.events.save" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-data-bound="vc.grids.QV_ECTIB5101_92.events.dataBound" k-columns="vc.grids.QV_ECTIB5101_92.columns" k-cancel="vc.grids.QV_ECTIB5101_92.events.cancel" k-edit="vc.grids.QV_ECTIB5101_92.events.edit" ng-class="vc.viewState.QV_ECTIB5101_92.style" k-ng-delay="vc.afterInitData"></div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_IEWEUTEBSK00--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_EENSS78SVE49" ng-click="vc.executeCommand('CM_EENSS78SVE49','Save', validator, true, false, 'VC_EENSS78_KRZXU_304', false)" class="btn btn-primary navbar-btn" title="{{vc.viewState.CM_EENSS78SVE49.tooltip|translate}}" ng-disabled="vc.viewState.CM_EENSS78SVE49.disabled || vc.viewState.CM_EENSS78SVE49.disabledingroup" ng-show="vc.viewState.CM_EENSS78SVE49.visible" ng-class="vc.viewState.CM_EENSS78SVE49.style"> {{vc.viewState.CM_EENSS78SVE49.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_FLCRE_38_EENSS78_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_EENSS78_KRZXU_304')" ng-disabled="vc.viewState.T_FLCRE_38_EENSS78_ACCEPT.disabled || vc.viewState.T_FLCRE_38_EENSS78_ACCEPT.disabledingroup" ng-show="vc.viewState.T_FLCRE_38_EENSS78_ACCEPT.visible" ng-class="vc.viewState.T_FLCRE_38_EENSS78_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_FLCRE_38_EENSS78_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_FLCRE_38_EENSS78_CANCEL.disabled || vc.viewState.T_FLCRE_38_EENSS78_CANCEL.disabledingroup" ng-show="vc.viewState.T_FLCRE_38_EENSS78_CANCEL.visible" ng-class="vc.viewState.T_FLCRE_38_EENSS78_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>