<!-- Designer Generator v 6.8.0 - SPR 2018-01 18/01/2018 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_PAYMENTSAN_916157" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_PAYMENTSAN_916157.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_PAYMENTSAN_916157" ng-keydown="vc.viewState.keyDown($event)" class="cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="VC_ZNXEHASOGQ_840157" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_ZNXEHASOGQ_840157', vc.viewState.VC_ZNXEHASOGQ_840157.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_ZNXEHASOGQ_840157.visible"> 
    <div id="VC_XYWZLGVMRI_969316" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_XYWZLGVMRI_969316', vc.viewState.VC_XYWZLGVMRI_969316.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_XYWZLGVMRI_969316.visible"> 
     <div id="VC_XYWZLGVMRI_969316_VAL" kendo-validator="VC_XYWZLGVMRI_969316" k-options="validatorOptions"> 
      <!-- Inicio item VW_LOANHEADRN_612--> 
      <div id="G_LOANHEADOD_564612" ng-show="vc.viewState.G_LOANHEADOD_564612.visible" ng-class="vc.viewState.G_LOANHEADOD_564612.style" class="cb-group cb-group-simple"> 
       <div kendo-validator="G_LOANHEADOD_564612" k-options="validatorOptions" id="G_LOANHEADOD_564612_VAL"> 
        <div class="form-vertical"> 
         <div class="row"> 
          <div class="col-xs-12" ng-show="vc.viewState.VA_VASIMPLELABELLL_143612.visible"> 
           <div class="form-group"> 
            <label class="control-label">&nbsp;</label> 
            <div class="cb-control"> 
             <label id="VA_VASIMPLELABELLL_143612" ng-show="vc.viewState.VA_VASIMPLELABELLL_143612.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_143612.style"> {{vc.viewState.VA_VASIMPLELABELLL_143612.label|translate}} </label>
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <div id="G_LOANHEADRO_349612" ng-show="vc.viewState.G_LOANHEADRO_349612.visible" ng-class="vc.viewState.G_LOANHEADRO_349612.style" class="cb-group cb-group-simple"> 
       <div kendo-validator="G_LOANHEADRO_349612" k-options="validatorOptions" id="G_LOANHEADRO_349612_VAL"> 
        <div class="form-vertical"> 
         <div class="row"> 
          <div class="col-xs-7" ng-show="vc.viewState.VA_VASIMPLELABELLL_867612.visible"> 
           <div class="form-group" id="VA_VASIMPLELABELLL_867612_DIV"> 
            <label for="VA_VASIMPLELABELLL_867612" title="{{vc.viewState.VA_VASIMPLELABELLL_867612.label|translate:vc.viewState.VA_VASIMPLELABELLL_867612.labelArgs}}" ng-show="vc.viewState.VA_VASIMPLELABELLL_867612.visible" class="control-label">{{vc.viewState.VA_VASIMPLELABELLL_867612.label|translate:vc.viewState.VA_VASIMPLELABELLL_867612.labelArgs}} <span ng-class="vc.viewState.VA_VASIMPLELABELLL_867612.labelImageId"></span></label> 
            <div class="cb-control"> 
             <div> 
              <a id="VA_VASIMPLELABELLL_867612" href ng-click="vc.viewState.VA_VASIMPLELABELLL_867612.disabled || vc.executeCommand('VA_VASIMPLELABELLL_867612','loanBankID',validator,false, false,'', false)" class="form-control textlink" ng-disabled="vc.viewState.VA_VASIMPLELABELLL_867612.disabled || vc.viewState.VA_VASIMPLELABELLL_867612.disabledingroup" ng-show="vc.viewState.VA_VASIMPLELABELLL_867612.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_867612.style" ng-bind="vc.model.Loan.loanBankID"> </a> 
             </div> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-3" ng-show="vc.viewState.VA_VABUTTONWVITZRQ_108612.visible"> 
           <div class="form-group"> 
            <label class="control-label">&nbsp;</label> 
            <div class="cb-control"> 
             <button id="VA_VABUTTONWVITZRQ_108612" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONWVITZRQ_108612','VA_VABUTTONWVITZRQ_108612',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONWVITZRQ_108612.disabled || vc.viewState.VA_VABUTTONWVITZRQ_108612.disabledingroup" ng-show="vc.viewState.VA_VABUTTONWVITZRQ_108612.visible" ng-class="vc.viewState.VA_VABUTTONWVITZRQ_108612.style"> <span ng-class="vc.viewState.VA_VABUTTONWVITZRQ_108612.imageId"></span> {{vc.viewState.VA_VABUTTONWVITZRQ_108612.label|translate}} </button> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-2" ng-show="vc.viewState.VA_VABUTTONORYJAMS_468612.visible"> 
           <div class="form-group"> 
            <label class="control-label">&nbsp;</label> 
            <div class="cb-control"> 
             <button id="VA_VABUTTONORYJAMS_468612" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONORYJAMS_468612','VA_VABUTTONORYJAMS_468612',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONORYJAMS_468612.disabled || vc.viewState.VA_VABUTTONORYJAMS_468612.disabledingroup" ng-show="vc.viewState.VA_VABUTTONORYJAMS_468612.visible" ng-class="vc.viewState.VA_VABUTTONORYJAMS_468612.style"> <span ng-class="vc.viewState.VA_VABUTTONORYJAMS_468612.imageId"></span> {{vc.viewState.VA_VABUTTONORYJAMS_468612.label|translate}} </button> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <div id="G_LOANHEAINF_340612" ng-show="vc.viewState.G_LOANHEAINF_340612.visible" ng-class="vc.viewState.G_LOANHEAINF_340612.style" class="cb-group cb-group-simple"> 
       <div kendo-validator="G_LOANHEAINF_340612" k-options="validatorOptions" id="G_LOANHEAINF_340612_VAL"> 
        <div class="form-vertical"> 
         <div class="row"> 
          <div class="col-xs-1" ng-show="vc.viewState.VA_5034UOFCASVGKTK_993612.visible"> 
           <div class="form-group" id="VA_5034UOFCASVGKTK_993612_DIV"> 
            <label for="VA_5034UOFCASVGKTK_993612" title="{{vc.viewState.VA_5034UOFCASVGKTK_993612.label|translate:vc.viewState.VA_5034UOFCASVGKTK_993612.labelArgs}}" ng-show="vc.viewState.VA_5034UOFCASVGKTK_993612.visible" class="control-label">{{vc.viewState.VA_5034UOFCASVGKTK_993612.label|translate:vc.viewState.VA_5034UOFCASVGKTK_993612.labelArgs}}</label> 
            <div class="cb-control"> 
             <div id="VA_5034UOFCASVGKTK_993612" name="Loan_amount" class="form-control cb-no-border" ng-show="vc.viewState.VA_5034UOFCASVGKTK_993612.visible" ng-class="vc.viewState.VA_5034UOFCASVGKTK_993612.style">
               {{kendo.toString(vc.model.Loan.amount, 'c')}} 
             </div> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-1" ng-show="vc.viewState.VA_2463BHBNLZPKLMU_865612.visible"> 
           <div class="form-group" id="VA_2463BHBNLZPKLMU_865612_DIV"> 
            <label for="VA_2463BHBNLZPKLMU_865612" title="{{vc.viewState.VA_2463BHBNLZPKLMU_865612.label|translate:vc.viewState.VA_2463BHBNLZPKLMU_865612.labelArgs}}" ng-show="vc.viewState.VA_2463BHBNLZPKLMU_865612.visible" class="control-label">{{vc.viewState.VA_2463BHBNLZPKLMU_865612.label|translate:vc.viewState.VA_2463BHBNLZPKLMU_865612.labelArgs}}</label> 
            <div class="cb-control"> 
             <div id="VA_2463BHBNLZPKLMU_865612" name="Loan_balanceDue" class="form-control cb-no-border" ng-show="vc.viewState.VA_2463BHBNLZPKLMU_865612.visible" ng-class="vc.viewState.VA_2463BHBNLZPKLMU_865612.style">
               {{kendo.toString(vc.model.Loan.balanceDue, 'c')}} 
             </div> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-1" ng-show="vc.viewState.VA_3853RRTWBIRUGHQ_533612.visible"> 
           <div class="form-group" id="VA_3853RRTWBIRUGHQ_533612_DIV"> 
            <label for="VA_3853RRTWBIRUGHQ_533612" title="{{vc.viewState.VA_3853RRTWBIRUGHQ_533612.label|translate:vc.viewState.VA_3853RRTWBIRUGHQ_533612.labelArgs}}" ng-show="vc.viewState.VA_3853RRTWBIRUGHQ_533612.visible" class="control-label">{{vc.viewState.VA_3853RRTWBIRUGHQ_533612.label|translate:vc.viewState.VA_3853RRTWBIRUGHQ_533612.labelArgs}}</label> 
            <div class="cb-control"> 
             <div id="VA_3853RRTWBIRUGHQ_533612" name="Loan_status" class="form-control cb-no-border" ng-show="vc.viewState.VA_3853RRTWBIRUGHQ_533612.visible" ng-class="vc.viewState.VA_3853RRTWBIRUGHQ_533612.style">
               {{vc.model.Loan.status}} 
             </div> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-1" ng-show="vc.viewState.VA_7292SEAHPRAXOKC_868612.visible"> 
           <div class="form-group" id="VA_7292SEAHPRAXOKC_868612_DIV"> 
            <label for="VA_7292SEAHPRAXOKC_868612" title="{{vc.viewState.VA_7292SEAHPRAXOKC_868612.label|translate:vc.viewState.VA_7292SEAHPRAXOKC_868612.labelArgs}}" ng-show="vc.viewState.VA_7292SEAHPRAXOKC_868612.visible" class="control-label">{{vc.viewState.VA_7292SEAHPRAXOKC_868612.label|translate:vc.viewState.VA_7292SEAHPRAXOKC_868612.labelArgs}}</label> 
            <div class="cb-control"> 
             <div id="VA_7292SEAHPRAXOKC_868612" name="Loan_office" class="form-control cb-no-border" ng-show="vc.viewState.VA_7292SEAHPRAXOKC_868612.visible" ng-class="vc.viewState.VA_7292SEAHPRAXOKC_868612.style">
               {{vc.model.Loan.office}} 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <!-- Fin item VW_LOANHEADRN_612--> 
     </div> 
    </div> 
   </div> 
   <div id="VC_IGBKXOBUDB_899157" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_IGBKXOBUDB_899157', vc.viewState.VC_IGBKXOBUDB_899157.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_IGBKXOBUDB_899157.visible"> 
    <div id="VC_QXXNBZDVLA_903850" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_QXXNBZDVLA_903850', vc.viewState.VC_QXXNBZDVLA_903850.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_QXXNBZDVLA_903850.visible"> 
     <div id="VC_QXXNBZDVLA_903850_VAL" kendo-validator="VC_QXXNBZDVLA_903850" k-options="validatorOptions"> 
      <!-- Inicio item VW_PAYMENTSFI_141--> 
      <div id="G_PAYMENTSSS_299141" ng-class="vc.viewState.G_PAYMENTSSS_299141.style" class="cb-group cb-group-layout"> 
       <div id="G_PAYMENTSSS_299141_VAL" kendo-validator="G_PAYMENTSSS_299141" k-options="validatorOptions"> 
        <div class="row"> 
         <div class="col-xs-4"> 
          <fieldset id="G_PAYMENTSSS_270141" ng-show="vc.viewState.G_PAYMENTSSS_270141.visible" ng-class="vc.viewState.G_PAYMENTSSS_270141.style" class="cb-group cb-group-simple"> 
           <legend> <span ng-bind="vc.viewState.G_PAYMENTSSS_270141.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.G_PAYMENTSSS_270141.statusStyle.success, 'cb-validation-fail': vc.viewState.G_PAYMENTSSS_270141.statusStyle.fail, 'cb-validation-none': vc.viewState.G_PAYMENTSSS_270141.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.G_PAYMENTSSS_270141.label|translate}}</span> </legend> 
           <div id="G_PAYMENTSSS_270141_VAL" kendo-validator="G_PAYMENTSSS_270141" k-options="validatorOptions"> 
            <div class="form-vertical"> 
             <div class="row"> 
              <div class="col-xs-12" ng-show="vc.viewState.VA_AMOUNTGSUZWEZJK_997141.visible"> 
               <div class="form-group" id="VA_AMOUNTGSUZWEZJK_997141_DIV"> 
                <label for="VA_AMOUNTGSUZWEZJK_997141" title="{{vc.viewState.VA_AMOUNTGSUZWEZJK_997141.label|translate:vc.viewState.VA_AMOUNTGSUZWEZJK_997141.labelArgs}}" ng-show="vc.viewState.VA_AMOUNTGSUZWEZJK_997141.visible" class="control-label">{{vc.viewState.VA_AMOUNTGSUZWEZJK_997141.label|translate:vc.viewState.VA_AMOUNTGSUZWEZJK_997141.labelArgs}}</label> 
                <div class="cb-control"> 
                 <input id="VA_AMOUNTGSUZWEZJK_997141" name="Payment_amount" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_AMOUNTGSUZWEZJK_997141.format" k-decimals="vc.viewState.VA_AMOUNTGSUZWEZJK_997141.decimals" k-ng-model="vc.model.Payment.amount" ng-model="vc.tmpModel.Payment.amount" ng-disabled="vc.viewState.VA_AMOUNTGSUZWEZJK_997141.disabled || vc.viewState.VA_AMOUNTGSUZWEZJK_997141.disabledingroup" ng-show="vc.viewState.VA_AMOUNTGSUZWEZJK_997141.visible" ng-readonly="vc.viewState.VA_AMOUNTGSUZWEZJK_997141.readonly" ng-class="vc.viewState.VA_AMOUNTGSUZWEZJK_997141.style" data-cobis-group="GroupLayout,G_PAYMENTSSS_299141,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_AMOUNTGSUZWEZJK_997141.validationCode}}" /> 
                </div> 
               </div> 
              </div> 
              <div class="col-xs-12" ng-show="vc.viewState.VA_DATEGYMPIXSZGYL_543141.visible"> 
               <div class="form-group cb-required" id="VA_DATEGYMPIXSZGYL_543141_DIV"> 
                <label for="VA_DATEGYMPIXSZGYL_543141" title="{{vc.viewState.VA_DATEGYMPIXSZGYL_543141.label|translate:vc.viewState.VA_DATEGYMPIXSZGYL_543141.labelArgs}}" ng-show="vc.viewState.VA_DATEGYMPIXSZGYL_543141.visible" class="control-label">{{vc.viewState.VA_DATEGYMPIXSZGYL_543141.label|translate:vc.viewState.VA_DATEGYMPIXSZGYL_543141.labelArgs}}</label> 
                <div class="cb-control"> 
                 <input id="VA_DATEGYMPIXSZGYL_543141" name="Payment_date" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.Payment.date" ng-model="vc.tmpModel.Payment.date" ng-disabled="vc.viewState.VA_DATEGYMPIXSZGYL_543141.disabled || vc.viewState.VA_DATEGYMPIXSZGYL_543141.disabledingroup" ng-show="vc.viewState.VA_DATEGYMPIXSZGYL_543141.visible" ng-readonly="vc.viewState.VA_DATEGYMPIXSZGYL_543141.readonly" ng-class="vc.viewState.VA_DATEGYMPIXSZGYL_543141.style" data-cobis-group="GroupLayout,G_PAYMENTSSS_299141,0" required data-validation-code="{{vc.viewState.VA_DATEGYMPIXSZGYL_543141.validationCode}}" data-required-msg="{{'ASSTS.MSG_ASSTS_INGRESEHA_96071'|translate}}" /> 
                </div> 
               </div> 
              </div> 
              <div class="col-xs-12" ng-show="vc.viewState.VA_TEXTINPUTBOXCFY_310141.visible"> 
               <div class="form-group" id="VA_TEXTINPUTBOXCFY_310141_DIV"> 
                <label for="VA_TEXTINPUTBOXCFY_310141" title="{{vc.viewState.VA_TEXTINPUTBOXCFY_310141.label|translate:vc.viewState.VA_TEXTINPUTBOXCFY_310141.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXCFY_310141.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXCFY_310141.label|translate:vc.viewState.VA_TEXTINPUTBOXCFY_310141.labelArgs}}</label> 
                <div class="cb-control"> 
                 <input id="VA_TEXTINPUTBOXCFY_310141" kendo-ext-combo-box="comboBox.VA_TEXTINPUTBOXCFY_310141" k-index="0" k-auto-bind="true" k-cache-on-client="true" name="Payment_paymentType" ng-model="vc.model.Payment.paymentType" ng-disabled="vc.viewState.VA_TEXTINPUTBOXCFY_310141.disabled || vc.viewState.VA_TEXTINPUTBOXCFY_310141.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXCFY_310141.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXCFY_310141.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXCFY_310141.style" k-data-source="vc.catalogs.VA_TEXTINPUTBOXCFY_310141" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_TEXTINPUTBOXCFY_310141.template" data-cobis-group="GroupLayout,G_PAYMENTSSS_299141,0" data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXCFY_310141.validationCode}}" designer-change /> 
                </div> 
               </div> 
              </div> 
              <div class="col-xs-12" ng-show="vc.viewState.VA_TEXTINPUTBOXHQX_290141.visible"> 
               <div class="form-group cb-required" id="VA_TEXTINPUTBOXHQX_290141_DIV"> 
                <label for="VA_TEXTINPUTBOXHQX_290141" title="{{vc.viewState.VA_TEXTINPUTBOXHQX_290141.label|translate:vc.viewState.VA_TEXTINPUTBOXHQX_290141.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXHQX_290141.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXHQX_290141.label|translate:vc.viewState.VA_TEXTINPUTBOXHQX_290141.labelArgs}}</label> 
                <div class="cb-control"> 
                 <div class="input-group"> 
                  <input id="VA_TEXTINPUTBOXHQX_290141" name="Payment_customer" maxlength="254" type="text" class="form-control" ng-model="vc.model.Payment.customer" ng-disabled="vc.viewState.VA_TEXTINPUTBOXHQX_290141.disabled || vc.viewState.VA_TEXTINPUTBOXHQX_290141.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXHQX_290141.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXHQX_290141.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXHQX_290141.style" data-cobis-group="GroupLayout,G_PAYMENTSSS_299141,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXHQX_290141.validationCode}}" data-required-msg="{{'ASSTS.MSG_ASSTS_DEBEINGRS_33262'|translate}}" /> 
                  <div class="input-group-btn"> 
                   <button class="btn btn-default btn-block" ng-click="vc.clickTextInputButton('VA_TEXTINPUTBOXHQX_290141')" ng-disabled="vc.viewState.VA_TEXTINPUTBOXHQX_290141.disabled || vc.viewState.VA_TEXTINPUTBOXHQX_290141.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXHQX_290141.visible" ng-class="vc.viewState.VA_TEXTINPUTBOXHQX_290141.style"> <span class="glyphicon glyphicon-align-justify"></span> </button> 
                  </div> 
                 </div> 
                </div> 
               </div> 
              </div> 
              <div class="col-xs-12" ng-show="vc.viewState.VA_REFERENCECGUXXB_239141.visible"> 
               <div class="form-group" id="VA_REFERENCECGUXXB_239141_DIV"> 
                <label for="VA_REFERENCECGUXXB_239141" title="{{vc.viewState.VA_REFERENCECGUXXB_239141.label|translate:vc.viewState.VA_REFERENCECGUXXB_239141.labelArgs}}" ng-show="vc.viewState.VA_REFERENCECGUXXB_239141.visible" class="control-label">{{vc.viewState.VA_REFERENCECGUXXB_239141.label|translate:vc.viewState.VA_REFERENCECGUXXB_239141.labelArgs}}</label> 
                <div class="cb-control"> 
                 <div class="input-group"> 
                  <input id="VA_REFERENCECGUXXB_239141" name="Payment_reference" maxlength="24" type="text" class="form-control text-uppercase" ng-model="vc.model.Payment.reference" ng-disabled="vc.viewState.VA_REFERENCECGUXXB_239141.disabled || vc.viewState.VA_REFERENCECGUXXB_239141.disabledingroup" ng-show="vc.viewState.VA_REFERENCECGUXXB_239141.visible" ng-readonly="vc.viewState.VA_REFERENCECGUXXB_239141.readonly" ng-class="vc.viewState.VA_REFERENCECGUXXB_239141.style" data-cobis-group="GroupLayout,G_PAYMENTSSS_299141,0" ng-model-onblur designer-restrict-input="numbers" data-validation-code="{{vc.viewState.VA_REFERENCECGUXXB_239141.validationCode}}" /> 
                  <div class="input-group-btn"> 
                   <button class="btn btn-default btn-block" ng-click="vc.clickTextInputButton('VA_REFERENCECGUXXB_239141')" ng-disabled="vc.viewState.VA_REFERENCECGUXXB_239141.disabled || vc.viewState.VA_REFERENCECGUXXB_239141.disabledingroup" ng-show="vc.viewState.VA_REFERENCECGUXXB_239141.visible" ng-class="vc.viewState.VA_REFERENCECGUXXB_239141.style"> <span class="glyphicon glyphicon-align-justify"></span> </button> 
                  </div> 
                 </div> 
                </div> 
               </div> 
              </div> 
              <div class="col-xs-6" ng-show="vc.viewState.VA_VALUEEFNQCTRLMP_628141.visible"> 
               <div class="form-group cb-required" id="VA_VALUEEFNQCTRLMP_628141_DIV"> 
                <label for="VA_VALUEEFNQCTRLMP_628141" title="{{vc.viewState.VA_VALUEEFNQCTRLMP_628141.label|translate:vc.viewState.VA_VALUEEFNQCTRLMP_628141.labelArgs}}" ng-show="vc.viewState.VA_VALUEEFNQCTRLMP_628141.visible" class="control-label">{{vc.viewState.VA_VALUEEFNQCTRLMP_628141.label|translate:vc.viewState.VA_VALUEEFNQCTRLMP_628141.labelArgs}}</label> 
                <div class="cb-control"> 
                 <input id="VA_VALUEEFNQCTRLMP_628141" name="Payment_value" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_VALUEEFNQCTRLMP_628141.format" k-decimals="vc.viewState.VA_VALUEEFNQCTRLMP_628141.decimals" k-ng-model="vc.model.Payment.value" ng-model="vc.tmpModel.Payment.value" ng-disabled="vc.viewState.VA_VALUEEFNQCTRLMP_628141.disabled || vc.viewState.VA_VALUEEFNQCTRLMP_628141.disabledingroup" ng-show="vc.viewState.VA_VALUEEFNQCTRLMP_628141.visible" ng-readonly="vc.viewState.VA_VALUEEFNQCTRLMP_628141.readonly" ng-class="vc.viewState.VA_VALUEEFNQCTRLMP_628141.style" data-cobis-group="GroupLayout,G_PAYMENTSSS_299141,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_VALUEEFNQCTRLMP_628141.validationCode}}" data-required-msg="{{'ASSTS.MSG_ASSTS_ELVALOROO_17736'|translate}}" /> 
                </div> 
               </div> 
              </div> 
              <div class="col-xs-6" ng-show="vc.viewState.VA_CURRENCYSPEYFQA_285141.visible"> 
               <div class="form-group" id="VA_CURRENCYSPEYFQA_285141_DIV"> 
                <label for="VA_CURRENCYSPEYFQA_285141" title="{{vc.viewState.VA_CURRENCYSPEYFQA_285141.label|translate:vc.viewState.VA_CURRENCYSPEYFQA_285141.labelArgs}}" ng-show="vc.viewState.VA_CURRENCYSPEYFQA_285141.visible" class="control-label">{{'&nbsp;'}}</label> 
                <div class="cb-control"> 
                 <input id="VA_CURRENCYSPEYFQA_285141" kendo-ext-combo-box="comboBox.VA_CURRENCYSPEYFQA_285141" k-index="0" k-auto-bind="true" k-cache-on-client="true" name="Payment_currencyType" ng-model="vc.model.Payment.currencyType" ng-disabled="vc.viewState.VA_CURRENCYSPEYFQA_285141.disabled || vc.viewState.VA_CURRENCYSPEYFQA_285141.disabledingroup" ng-show="vc.viewState.VA_CURRENCYSPEYFQA_285141.visible" ng-readonly="vc.viewState.VA_CURRENCYSPEYFQA_285141.readonly" ng-class="vc.viewState.VA_CURRENCYSPEYFQA_285141.style" k-data-source="vc.catalogs.VA_CURRENCYSPEYFQA_285141" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_CURRENCYSPEYFQA_285141.template" data-cobis-group="GroupLayout,G_PAYMENTSSS_299141,0" data-validation-code="{{vc.viewState.VA_CURRENCYSPEYFQA_285141.validationCode}}" designer-change /> 
                </div> 
               </div> 
              </div> 
              <div class="col-xs-12" ng-show="vc.viewState.VA_VASIMPLELABELLL_923141.visible"> 
               <div class="form-group"> 
                <label class="control-label">&nbsp;</label> 
                <div class="cb-control"> 
                 <label id="VA_VASIMPLELABELLL_923141" ng-show="vc.viewState.VA_VASIMPLELABELLL_923141.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_923141.style"> {{vc.viewState.VA_VASIMPLELABELLL_923141.label|translate}} </label>
                </div> 
               </div> 
              </div> 
              <div class="col-xs-12" ng-show="vc.viewState.VA_NUMCHECKQLTBIOX_669141.visible"> 
               <div class="form-group" id="VA_NUMCHECKQLTBIOX_669141_DIV"> 
                <label for="VA_NUMCHECKQLTBIOX_669141" title="{{vc.viewState.VA_NUMCHECKQLTBIOX_669141.label|translate:vc.viewState.VA_NUMCHECKQLTBIOX_669141.labelArgs}}" ng-show="vc.viewState.VA_NUMCHECKQLTBIOX_669141.visible" class="control-label">{{vc.viewState.VA_NUMCHECKQLTBIOX_669141.label|translate:vc.viewState.VA_NUMCHECKQLTBIOX_669141.labelArgs}}</label> 
                <div class="cb-control"> 
                 <input id="VA_NUMCHECKQLTBIOX_669141" name="Payment_numCheck" maxlength="9" type="text" class="form-control" ng-model="vc.model.Payment.numCheck" ng-disabled="vc.viewState.VA_NUMCHECKQLTBIOX_669141.disabled || vc.viewState.VA_NUMCHECKQLTBIOX_669141.disabledingroup" ng-show="vc.viewState.VA_NUMCHECKQLTBIOX_669141.visible" ng-readonly="vc.viewState.VA_NUMCHECKQLTBIOX_669141.readonly" ng-class="vc.viewState.VA_NUMCHECKQLTBIOX_669141.style" data-cobis-group="GroupLayout,G_PAYMENTSSS_299141,0" ng-model-onblur designer-restrict-input="numbers" data-validation-code="{{vc.viewState.VA_NUMCHECKQLTBIOX_669141.validationCode}}" /> 
                </div> 
               </div> 
              </div> 
              <div class="col-xs-12" ng-show="vc.viewState.VA_TEXTINPUTBOXSJQ_831141.visible"> 
               <div class="form-group" id="VA_TEXTINPUTBOXSJQ_831141_DIV"> 
                <label for="VA_TEXTINPUTBOXSJQ_831141" title="{{vc.viewState.VA_TEXTINPUTBOXSJQ_831141.label|translate:vc.viewState.VA_TEXTINPUTBOXSJQ_831141.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXSJQ_831141.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXSJQ_831141.label|translate:vc.viewState.VA_TEXTINPUTBOXSJQ_831141.labelArgs}}</label> 
                <div class="cb-control"> 
                 <input id="VA_TEXTINPUTBOXSJQ_831141" kendo-ext-combo-box="comboBox.VA_TEXTINPUTBOXSJQ_831141" k-index="0" k-auto-bind="true" k-cache-on-client="true" name="Payment_bank" ng-model="vc.model.Payment.bank" ng-disabled="vc.viewState.VA_TEXTINPUTBOXSJQ_831141.disabled || vc.viewState.VA_TEXTINPUTBOXSJQ_831141.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXSJQ_831141.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXSJQ_831141.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXSJQ_831141.style" k-data-source="vc.catalogs.VA_TEXTINPUTBOXSJQ_831141" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_TEXTINPUTBOXSJQ_831141.template" data-cobis-group="GroupLayout,G_PAYMENTSSS_299141,0" data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXSJQ_831141.validationCode}}" designer-change /> 
                </div> 
               </div> 
              </div> 
              <div class="col-xs-12" ng-show="vc.viewState.VA_TEXTINPUTBOXPMM_746141.visible"> 
               <div class="form-group cb-required" id="VA_TEXTINPUTBOXPMM_746141_DIV"> 
                <label for="VA_TEXTINPUTBOXPMM_746141" title="{{vc.viewState.VA_TEXTINPUTBOXPMM_746141.label|translate:vc.viewState.VA_TEXTINPUTBOXPMM_746141.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXPMM_746141.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXPMM_746141.label|translate:vc.viewState.VA_TEXTINPUTBOXPMM_746141.labelArgs}}</label> 
                <div class="cb-control"> 
                 <input id="VA_TEXTINPUTBOXPMM_746141" name="Payment_retention" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_TEXTINPUTBOXPMM_746141.decimals" k-format="vc.viewState.VA_TEXTINPUTBOXPMM_746141.format" k-ng-model="vc.model.Payment.retention" ng-model="vc.tmpModel.Payment.retention" ng-disabled="vc.viewState.VA_TEXTINPUTBOXPMM_746141.disabled || vc.viewState.VA_TEXTINPUTBOXPMM_746141.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXPMM_746141.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXPMM_746141.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXPMM_746141.style" data-cobis-group="GroupLayout,G_PAYMENTSSS_299141,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXPMM_746141.validationCode}}" data-required-msg="{{'ASSTS.MSG_ASSTS_SEDEBERZE_11978'|translate}}" /> 
                </div> 
               </div> 
              </div> 
              <div class="col-xs-12" ng-show="vc.viewState.VA_TEXTINPUTBOXIKP_805141.visible"> 
               <div class="form-group" id="VA_TEXTINPUTBOXIKP_805141_DIV"> 
                <label for="VA_TEXTINPUTBOXIKP_805141" title="{{vc.viewState.VA_TEXTINPUTBOXIKP_805141.label|translate:vc.viewState.VA_TEXTINPUTBOXIKP_805141.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXIKP_805141.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXIKP_805141.label|translate:vc.viewState.VA_TEXTINPUTBOXIKP_805141.labelArgs}}</label> 
                <div class="cb-control"> 
                 <input id="VA_TEXTINPUTBOXIKP_805141" name="Payment_note" maxlength="64" type="text" class="form-control text-uppercase" ng-model="vc.model.Payment.note" ng-disabled="vc.viewState.VA_TEXTINPUTBOXIKP_805141.disabled || vc.viewState.VA_TEXTINPUTBOXIKP_805141.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXIKP_805141.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXIKP_805141.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXIKP_805141.style" data-cobis-group="GroupLayout,G_PAYMENTSSS_299141,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXIKP_805141.validationCode}}" /> 
                </div> 
               </div> 
              </div> 
              <div class="col-xs-12" ng-show="vc.viewState.VA_CHECKBOXIPQLEBS_550141.visible"> 
               <div class="form-group" id="VA_CHECKBOXIPQLEBS_550141_DIV"> 
                <label>&nbsp; </label> 
                <div class="cb-control"> 
                 <div> 
                  <label class="checkbox-inline"> <input id="VA_CHECKBOXIPQLEBS_550141" name="Payment_onLine" type="checkbox" ng-model="vc.model.Payment.onLine" ng-disabled="vc.viewState.VA_CHECKBOXIPQLEBS_550141.disabled || vc.viewState.VA_CHECKBOXIPQLEBS_550141.disabledingroup" ng-show="vc.viewState.VA_CHECKBOXIPQLEBS_550141.visible" ng-class="vc.viewState.VA_CHECKBOXIPQLEBS_550141.style" /> <span ng-if="vc.viewState.VA_CHECKBOXIPQLEBS_550141.visible"> {{vc.viewState.VA_CHECKBOXIPQLEBS_550141.label|translate}} </span> </label> 
                 </div> 
                </div> 
               </div> 
              </div> 
              <div class="col-xs-12" ng-show="vc.viewState.VA_AMOUNTPREPAYTME_876141.visible"> 
               <div class="form-group" id="VA_AMOUNTPREPAYTME_876141_DIV"> 
                <label for="VA_AMOUNTPREPAYTME_876141" title="{{vc.viewState.VA_AMOUNTPREPAYTME_876141.label|translate:vc.viewState.VA_AMOUNTPREPAYTME_876141.labelArgs}}" ng-show="vc.viewState.VA_AMOUNTPREPAYTME_876141.visible" class="control-label">{{vc.viewState.VA_AMOUNTPREPAYTME_876141.label|translate:vc.viewState.VA_AMOUNTPREPAYTME_876141.labelArgs}}</label> 
                <div class="cb-control"> 
                 <input id="VA_AMOUNTPREPAYTME_876141" name="Payment_amountPrepayment" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_AMOUNTPREPAYTME_876141.format" k-decimals="vc.viewState.VA_AMOUNTPREPAYTME_876141.decimals" k-ng-model="vc.model.Payment.amountPrepayment" ng-model="vc.tmpModel.Payment.amountPrepayment" ng-disabled="vc.viewState.VA_AMOUNTPREPAYTME_876141.disabled || vc.viewState.VA_AMOUNTPREPAYTME_876141.disabledingroup" ng-show="vc.viewState.VA_AMOUNTPREPAYTME_876141.visible" ng-readonly="vc.viewState.VA_AMOUNTPREPAYTME_876141.readonly" ng-class="vc.viewState.VA_AMOUNTPREPAYTME_876141.style" data-cobis-group="GroupLayout,G_PAYMENTSSS_299141,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_AMOUNTPREPAYTME_876141.validationCode}}" /> 
                </div> 
               </div> 
              </div> 
              <div class="col-xs-12" ng-show="vc.viewState.VA_FINEPREPAYMETTT_628141.visible"> 
               <div class="form-group" id="VA_FINEPREPAYMETTT_628141_DIV"> 
                <label for="VA_FINEPREPAYMETTT_628141" title="{{vc.viewState.VA_FINEPREPAYMETTT_628141.label|translate:vc.viewState.VA_FINEPREPAYMETTT_628141.labelArgs}}" ng-show="vc.viewState.VA_FINEPREPAYMETTT_628141.visible" class="control-label">{{vc.viewState.VA_FINEPREPAYMETTT_628141.label|translate:vc.viewState.VA_FINEPREPAYMETTT_628141.labelArgs}}</label> 
                <div class="cb-control"> 
                 <input id="VA_FINEPREPAYMETTT_628141" name="Payment_finePrepayment" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_FINEPREPAYMETTT_628141.format" k-decimals="vc.viewState.VA_FINEPREPAYMETTT_628141.decimals" k-ng-model="vc.model.Payment.finePrepayment" ng-model="vc.tmpModel.Payment.finePrepayment" ng-disabled="vc.viewState.VA_FINEPREPAYMETTT_628141.disabled || vc.viewState.VA_FINEPREPAYMETTT_628141.disabledingroup" ng-show="vc.viewState.VA_FINEPREPAYMETTT_628141.visible" ng-readonly="vc.viewState.VA_FINEPREPAYMETTT_628141.readonly" ng-class="vc.viewState.VA_FINEPREPAYMETTT_628141.style" data-cobis-group="GroupLayout,G_PAYMENTSSS_299141,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_FINEPREPAYMETTT_628141.validationCode}}" /> 
                </div> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
          </fieldset> 
         </div> 
         <div class="col-xs-8"> 
          <fieldset id="G_PAYMENTSSS_827141" ng-show="vc.viewState.G_PAYMENTSSS_827141.visible" ng-class="vc.viewState.G_PAYMENTSSS_827141.style" class="cb-group cb-group-simple"> 
           <legend> <span ng-bind="vc.viewState.G_PAYMENTSSS_827141.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.G_PAYMENTSSS_827141.statusStyle.success, 'cb-validation-fail': vc.viewState.G_PAYMENTSSS_827141.statusStyle.fail, 'cb-validation-none': vc.viewState.G_PAYMENTSSS_827141.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.G_PAYMENTSSS_827141.label|translate}}</span> </legend> 
           <div id="G_PAYMENTSSS_827141_VAL" kendo-validator="G_PAYMENTSSS_827141" k-options="validatorOptions"> 
            <div id="QV_2540_50573" kendo-ext-grid="grids.QV_2540_50573" k-data-source="vc.model.QuoteDetails" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_2540_50573.editable" k-toolbar="vc.grids.QV_2540_50573.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_2540_50573.events.dataBound" k-columns="vc.grids.QV_2540_50573.columns" k-cancel="vc.grids.QV_2540_50573.events.cancel" k-edit="vc.grids.QV_2540_50573.events.edit" ng-class="vc.viewState.QV_2540_50573.style" k-ng-delay="vc.afterInitData"></div> 
           </div> 
          </fieldset> 
         </div> 
         <div class="col-xs-4"> 
          <div id="G_PAYMENTSSS_505141" class="cb-group cb-group-simple" ng-show="vc.viewState.G_PAYMENTSSS_505141.visible" ng-class="vc.viewState.G_PAYMENTSSS_505141.style"> 
           <div id="G_PAYMENTSSS_505141_VAL" kendo-validator="G_PAYMENTSSS_505141" k-options="validatorOptions"> 
            <div id="QV_3510_91785" kendo-ext-grid="grids.QV_3510_91785" k-data-source="vc.model.Priorities" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_3510_91785.editable" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_3510_91785.events.dataBound" k-columns="vc.grids.QV_3510_91785.columns" k-cancel="vc.grids.QV_3510_91785.events.cancel" k-edit="vc.grids.QV_3510_91785.events.edit" ng-class="vc.viewState.QV_3510_91785.style" k-ng-delay="vc.afterInitData"></div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4"> 
          <div id="G_PAYMENTSSS_641141" class="cb-group cb-group-simple" ng-show="vc.viewState.G_PAYMENTSSS_641141.visible" ng-class="vc.viewState.G_PAYMENTSSS_641141.style"> 
           <div id="G_PAYMENTSSS_641141_VAL" kendo-validator="G_PAYMENTSSS_641141" k-options="validatorOptions"> 
            <div id="QV_7324_97053" kendo-ext-grid="grids.QV_7324_97053" k-data-source="vc.model.CondonationDetail" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_7324_97053.editable" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_7324_97053.events.dataBound" k-columns="vc.grids.QV_7324_97053.columns" k-cancel="vc.grids.QV_7324_97053.events.cancel" k-edit="vc.grids.QV_7324_97053.events.edit" ng-class="vc.viewState.QV_7324_97053.style" k-ng-delay="vc.afterInitData"></div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4"> 
          <div id="G_PAYMENTSSS_563141" class="cb-group cb-group-simple" ng-show="vc.viewState.G_PAYMENTSSS_563141.visible" ng-class="vc.viewState.G_PAYMENTSSS_563141.style"> 
           <div id="G_PAYMENTSSS_563141_VAL" kendo-validator="G_PAYMENTSSS_563141" k-options="validatorOptions"> 
            <div id="QV_1156_30060" kendo-ext-grid="grids.QV_1156_30060" k-data-source="vc.model.QuotationCurrency" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_1156_30060.editable" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_1156_30060.events.dataBound" k-columns="vc.grids.QV_1156_30060.columns" k-cancel="vc.grids.QV_1156_30060.events.cancel" k-edit="vc.grids.QV_1156_30060.events.edit" ng-class="vc.viewState.QV_1156_30060.style" k-ng-delay="vc.afterInitData"></div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <!-- Fin item VW_PAYMENTSFI_141--> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc || !vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_PAYMENTS_SS1" ng-click="vc.executeCommand('CM_PAYMENTS_SS1','Command2', validator, false, false, 'VC_PAYMENTSAN_916157', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_PAYMENTS_SS1.disabled || vc.viewState.CM_PAYMENTS_SS1.disabledingroup" ng-show="vc.viewState.CM_PAYMENTS_SS1.visible" ng-class="vc.viewState.CM_PAYMENTS_SS1.style"> {{vc.viewState.CM_PAYMENTS_SS1.label|translate}} </button> 
    <button id="CM_PAYMENTS_T3A" ng-click="vc.executeCommand('CM_PAYMENTS_T3A','Command2', validator, false, false, 'VC_PAYMENTSAN_916157', false)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_PAYMENTS_T3A.disabled || vc.viewState.CM_PAYMENTS_T3A.disabledingroup" ng-show="vc.viewState.CM_PAYMENTS_T3A.visible" ng-class="vc.viewState.CM_PAYMENTS_T3A.style"> {{vc.viewState.CM_PAYMENTS_T3A.label|translate}} </button> 
    <button id="CM_PAYMENTS_T7N" ng-click="vc.executeCommand('CM_PAYMENTS_T7N','Command3', validator, false, false, 'VC_PAYMENTSAN_916157', false)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_PAYMENTS_T7N.disabled || vc.viewState.CM_PAYMENTS_T7N.disabledingroup" ng-show="vc.viewState.CM_PAYMENTS_T7N.visible" ng-class="vc.viewState.CM_PAYMENTS_T7N.style"> {{vc.viewState.CM_PAYMENTS_T7N.label|translate}} </button> 
    <button id="CM_PAYMENTS_NNS" ng-click="vc.executeCommand('CM_PAYMENTS_NNS','Command4', validator, false, false, 'VC_PAYMENTSAN_916157', false)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_PAYMENTS_NNS.disabled || vc.viewState.CM_PAYMENTS_NNS.disabledingroup" ng-show="vc.viewState.CM_PAYMENTS_NNS.visible" ng-class="vc.viewState.CM_PAYMENTS_NNS.style"> {{vc.viewState.CM_PAYMENTS_NNS.label|translate}} </button> 
    <button id="CM_TPAYMENT_MA5" ng-click="vc.executeCommand('CM_TPAYMENT_MA5','Command5', validator, false, false, 'VC_PAYMENTSAN_916157', false)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_TPAYMENT_MA5.disabled || vc.viewState.CM_TPAYMENT_MA5.disabledingroup" ng-show="vc.viewState.CM_TPAYMENT_MA5.visible" ng-class="vc.viewState.CM_TPAYMENT_MA5.style"> {{vc.viewState.CM_TPAYMENT_MA5.label|translate}} </button> 
    <button id="CM_TPAYMENT_Y_2" ng-click="vc.executeCommand('CM_TPAYMENT_Y_2','Command6', validator, false, false, 'VC_PAYMENTSAN_916157', false)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_TPAYMENT_Y_2.disabled || vc.viewState.CM_TPAYMENT_Y_2.disabledingroup" ng-show="vc.viewState.CM_TPAYMENT_Y_2.visible" ng-class="vc.viewState.CM_TPAYMENT_Y_2.style"> {{vc.viewState.CM_TPAYMENT_Y_2.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_PAYMENTSMANII_157_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_PAYMENTSAN_916157')" ng-disabled="vc.viewState.T_PAYMENTSMANII_157_ACCEPT.disabled || vc.viewState.T_PAYMENTSMANII_157_ACCEPT.disabledingroup" ng-show="vc.viewState.T_PAYMENTSMANII_157_ACCEPT.visible" ng-class="vc.viewState.T_PAYMENTSMANII_157_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_PAYMENTSMANII_157_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_PAYMENTSMANII_157_CANCEL.disabled || vc.viewState.T_PAYMENTSMANII_157_CANCEL.disabledingroup" ng-show="vc.viewState.T_PAYMENTSMANII_157_CANCEL.visible" ng-class="vc.viewState.T_PAYMENTSMANII_157_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>