<!-- Designer Generator v 6.0.0 - release SPR 2016-16 19/08/2016 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_TUIHT20_TIHNT_960" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_TUIHT20_TIHNT_960.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_VIWPUISHMN43--> 
  <div id="VC_TUIHT20_TIHNT_960" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="GR_VIWPUISHMN43_03" ng-class="vc.viewState.GR_VIWPUISHMN43_03.style" class="cb-group cb-group-layout"> 
    <div id="GR_VIWPUISHMN43_03_VAL" kendo-validator="GR_VIWPUISHMN43_03" k-options="validatorOptions"> 
     <div id="GR_VIWPUISHMN43_04" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_VIWPUISHMN43_04.visible" ng-class="vc.viewState.GR_VIWPUISHMN43_04.style"> 
      <div id="GR_VIWPUISHMN43_04_VAL" kendo-validator="GR_VIWPUISHMN43_04" k-options="validatorOptions"> 
       <div class="form-horizontal"> 
        <div class="row"> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_VIWPUISHMN4304_ORTT692.visible"> 
          <div class="form-group" id="VA_VIWPUISHMN4304_ORTT692_DIV"> 
           <label for="VA_VIWPUISHMN4304_ORTT692" title="{{vc.viewState.VA_VIWPUISHMN4304_ORTT692.label|translate:vc.viewState.VA_VIWPUISHMN4304_ORTT692.labelArgs}}" ng-show="vc.viewState.VA_VIWPUISHMN4304_ORTT692.visible" class="col-sm-4 control-label">{{vc.viewState.VA_VIWPUISHMN4304_ORTT692.label|translate:vc.viewState.VA_VIWPUISHMN4304_ORTT692.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div class="cb-control"> 
             <input id="VA_VIWPUISHMN4304_ORTT692" name="HeaderPunishment_CourtDate" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.HeaderPunishment.CourtDate" ng-model="vc.tmpModel.HeaderPunishment.CourtDate" ng-disabled="vc.viewState.VA_VIWPUISHMN4304_ORTT692.disabled || vc.viewState.VA_VIWPUISHMN4304_ORTT692.disabledingroup" ng-show="vc.viewState.VA_VIWPUISHMN4304_ORTT692.visible" ng-readonly="vc.viewState.VA_VIWPUISHMN4304_ORTT692.readonly" ng-class="vc.viewState.VA_VIWPUISHMN4304_ORTT692.style" data-cobis-group="Group,GR_VIWPUISHMN43_03,0" data-validation-code="{{vc.viewState.VA_VIWPUISHMN4304_ORTT692.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_VIWPUISHMN4304_CIRA537.visible"> 
          <div class="form-group" id="VA_VIWPUISHMN4304_CIRA537_DIV"> 
           <label for="VA_VIWPUISHMN4304_CIRA537" title="{{vc.viewState.VA_VIWPUISHMN4304_CIRA537.label|translate:vc.viewState.VA_VIWPUISHMN4304_CIRA537.labelArgs}}" ng-show="vc.viewState.VA_VIWPUISHMN4304_CIRA537.visible" class="col-sm-4 control-label">{{vc.viewState.VA_VIWPUISHMN4304_CIRA537.label|translate:vc.viewState.VA_VIWPUISHMN4304_CIRA537.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div class="cb-control"> 
             <input id="VA_VIWPUISHMN4304_CIRA537" name="HeaderPunishment_OfficialGrant" maxlength="100" type="text" class="form-control" ng-model="vc.model.HeaderPunishment.OfficialGrant" ng-disabled="vc.viewState.VA_VIWPUISHMN4304_CIRA537.disabled || vc.viewState.VA_VIWPUISHMN4304_CIRA537.disabledingroup" ng-show="vc.viewState.VA_VIWPUISHMN4304_CIRA537.visible" ng-readonly="vc.viewState.VA_VIWPUISHMN4304_CIRA537.readonly" ng-class="vc.viewState.VA_VIWPUISHMN4304_CIRA537.style" data-cobis-group="Group,GR_VIWPUISHMN43_03,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_VIWPUISHMN4304_CIRA537.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <fieldset id="GR_VIWPUISHMN43_05" ng-show="vc.viewState.GR_VIWPUISHMN43_05.visible" ng-class="vc.viewState.GR_VIWPUISHMN43_05.style" class="cb-group cb-group-simple"> 
      <legend> <span ng-bind="vc.viewState.GR_VIWPUISHMN43_05.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.GR_VIWPUISHMN43_05.statusStyle.success, 'cb-validation-fail': vc.viewState.GR_VIWPUISHMN43_05.statusStyle.fail, 'cb-validation-none': vc.viewState.GR_VIWPUISHMN43_05.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.GR_VIWPUISHMN43_05.label|translate}}</span> </legend> 
      <div id="GR_VIWPUISHMN43_05_VAL" kendo-validator="GR_VIWPUISHMN43_05" k-options="validatorOptions"> 
       <div id="QV_URPUH4848_33" kendo-ext-grid="grids.QV_URPUH4848_33" k-data-source="vc.model.Punishment" k-column-menu="false" k-excel="vc.grids.QV_URPUH4848_33.events.excel" k-sortable="true" k-pageable="{refresh: false, pageSizes: false, buttonCount: 5}" k-editable="vc.viewState.GR_VIWPUISHMN43_05.disabled?false:'inline'" k-toolbar="vc.grids.QV_URPUH4848_33.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="true" k-selectable="'row multiple'" k-excel-export="vc.grids.QV_URPUH4848_33.events.excelExport" k-data-bound="vc.grids.QV_URPUH4848_33.events.dataBound" k-columns="vc.grids.QV_URPUH4848_33.columns" k-cancel="vc.grids.QV_URPUH4848_33.events.cancel" k-edit="vc.grids.QV_URPUH4848_33.events.edit" ng-class="vc.viewState.QV_URPUH4848_33.style" k-ng-delay="vc.afterInitData"></div> 
      </div> 
     </fieldset> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_VIWPUISHMN43--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_FLCRE_98_TUIHT20_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_TUIHT20_TIHNT_960')" ng-disabled="vc.viewState.T_FLCRE_98_TUIHT20_ACCEPT.disabled || vc.viewState.T_FLCRE_98_TUIHT20_ACCEPT.disabledingroup" ng-show="vc.viewState.T_FLCRE_98_TUIHT20_ACCEPT.visible" ng-class="vc.viewState.T_FLCRE_98_TUIHT20_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_FLCRE_98_TUIHT20_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_FLCRE_98_TUIHT20_CANCEL.disabled || vc.viewState.T_FLCRE_98_TUIHT20_CANCEL.disabledingroup" ng-show="vc.viewState.T_FLCRE_98_TUIHT20_CANCEL.visible" ng-class="vc.viewState.T_FLCRE_98_TUIHT20_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>