<!-- Designer Generator v 5.0.0.1626 - release SPR 2016-26 08/01/2016 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_VREDE97_EREMM_306" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_VREDE97_EREMM_306.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_VREDE97_EREMM_306" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="GR_SEDCMMENED30_54" ng-class="vc.viewState.GR_SEDCMMENED30_54.style" class="cb-group cb-group-layout"> 
    <div id="GR_SEDCMMENED30_54_VAL" kendo-validator="GR_SEDCMMENED30_54" k-options="validatorOptions"> 
     <div id="GR_SEDCMMENED30_85" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_SEDCMMENED30_85.visible" ng-class="vc.viewState.GR_SEDCMMENED30_85.style"> 
      <div id="GR_SEDCMMENED30_85_VAL" kendo-validator="GR_SEDCMMENED30_85" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_SEDCMMENED3085_ORTT907.visible"> 
          <div class="form-group" id="VA_SEDCMMENED3085_ORTT907_DIV"> 
           <label for="VA_SEDCMMENED3085_ORTT907" title="{{vc.viewState.VA_SEDCMMENED3085_ORTT907.label|translate:vc.viewState.VA_SEDCMMENED3085_ORTT907.labelArgs}}" ng-show="vc.viewState.VA_SEDCMMENED3085_ORTT907.visible" class="control-label">{{vc.viewState.VA_SEDCMMENED3085_ORTT907.label|translate:vc.viewState.VA_SEDCMMENED3085_ORTT907.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_SEDCMMENED3085_ORTT907" name="HeaderPunishment_CourtDate" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.HeaderPunishment.CourtDate" ng-model="vc.tmpModel.HeaderPunishment.CourtDate" ng-disabled="vc.viewState.VA_SEDCMMENED3085_ORTT907.disabled || vc.viewState.VA_SEDCMMENED3085_ORTT907.disabledingroup" ng-show="vc.viewState.VA_SEDCMMENED3085_ORTT907.visible" ng-readonly="vc.viewState.VA_SEDCMMENED3085_ORTT907.readonly" ng-class="vc.viewState.VA_SEDCMMENED3085_ORTT907.style" data-cobis-group="Group,GR_SEDCMMENED30_54,0" data-validation-code="{{vc.viewState.VA_SEDCMMENED3085_ORTT907.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-12" ng-show="vc.viewState.VA_SEDCMMENED3085_DTIN057.visible"> 
          <div class="form-group cb-required" id="VA_SEDCMMENED3085_DTIN057_DIV"> 
           <label for="VA_SEDCMMENED3085_DTIN057" title="{{vc.viewState.VA_SEDCMMENED3085_DTIN057.label|translate:vc.viewState.VA_SEDCMMENED3085_DTIN057.labelArgs}}" ng-show="vc.viewState.VA_SEDCMMENED3085_DTIN057.visible" class="control-label">{{vc.viewState.VA_SEDCMMENED3085_DTIN057.label|translate:vc.viewState.VA_SEDCMMENED3085_DTIN057.labelArgs}}</label> 
           <div class="cb-control"> 
            <textarea id="VA_SEDCMMENED3085_DTIN057" style="resize: none; width:100%" rows="3" name="HeaderPunishment_ConsistencyApplication" maxlength="225" type="text" class="form-control" ng-model="vc.model.HeaderPunishment.ConsistencyApplication" ng-disabled="vc.viewState.VA_SEDCMMENED3085_DTIN057.disabled || vc.viewState.VA_SEDCMMENED3085_DTIN057.disabledingroup" ng-show="vc.viewState.VA_SEDCMMENED3085_DTIN057.visible" ng-readonly="vc.viewState.VA_SEDCMMENED3085_DTIN057.readonly" ng-class="vc.viewState.VA_SEDCMMENED3085_DTIN057.style" data-cobis-group="Group,GR_SEDCMMENED30_54,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_SEDCMMENED3085_DTIN057.validationCode}}" data-required-msg="{{'BUSIN.DLB_BUSIN_CRCISOLIU_00263'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}"></textarea> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-12" ng-show="vc.viewState.VA_SEDCMMENED3085_BRTO876.visible"> 
          <div class="form-group cb-required" id="VA_SEDCMMENED3085_BRTO876_DIV"> 
           <label for="VA_SEDCMMENED3085_BRTO876" title="{{vc.viewState.VA_SEDCMMENED3085_BRTO876.label|translate:vc.viewState.VA_SEDCMMENED3085_BRTO876.labelArgs}}" ng-show="vc.viewState.VA_SEDCMMENED3085_BRTO876.visible" class="control-label">{{vc.viewState.VA_SEDCMMENED3085_BRTO876.label|translate:vc.viewState.VA_SEDCMMENED3085_BRTO876.labelArgs}}</label> 
           <div class="cb-control"> 
            <textarea id="VA_SEDCMMENED3085_BRTO876" style="resize: none; width:100%" rows="3" name="HeaderPunishment_Observation" maxlength="225" type="text" class="form-control" ng-model="vc.model.HeaderPunishment.Observation" ng-disabled="vc.viewState.VA_SEDCMMENED3085_BRTO876.disabled || vc.viewState.VA_SEDCMMENED3085_BRTO876.disabledingroup" ng-show="vc.viewState.VA_SEDCMMENED3085_BRTO876.visible" ng-readonly="vc.viewState.VA_SEDCMMENED3085_BRTO876.readonly" ng-class="vc.viewState.VA_SEDCMMENED3085_BRTO876.style" data-cobis-group="Group,GR_SEDCMMENED30_54,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_SEDCMMENED3085_BRTO876.validationCode}}" data-required-msg="{{'BUSIN.DLB_BUSIN_COENTARIO_11656'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}"></textarea> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_VREDE97PCE89" ng-click="vc.executeCommand('CM_VREDE97PCE89','Procesar', validator, true, false, 'VC_VREDE97_EREMM_306', false)" class="btn btn-primary navbar-btn" title="{{vc.viewState.CM_VREDE97PCE89.tooltip|translate}}" ng-disabled="vc.viewState.CM_VREDE97PCE89.disabled || vc.viewState.CM_VREDE97PCE89.disabledingroup" ng-show="vc.viewState.CM_VREDE97PCE89.visible" ng-class="vc.viewState.CM_VREDE97PCE89.style"> {{vc.viewState.CM_VREDE97PCE89.label|translate}} </button> 
    <button id="CM_VREDE97AER98" ng-click="vc.executeCommand('CM_VREDE97AER98','Cancelar', validator, false, false, 'VC_VREDE97_EREMM_306', false)" class="btn btn-default navbar-btn" title="{{vc.viewState.CM_VREDE97AER98.tooltip|translate}}" ng-disabled="vc.viewState.CM_VREDE97AER98.disabled || vc.viewState.CM_VREDE97AER98.disabledingroup" ng-show="vc.viewState.CM_VREDE97AER98.visible" ng-class="vc.viewState.CM_VREDE97AER98.style"> {{vc.viewState.CM_VREDE97AER98.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_FLCRE_52_VREDE97_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_VREDE97_EREMM_306')" ng-disabled="vc.viewState.T_FLCRE_52_VREDE97_ACCEPT.disabled || vc.viewState.T_FLCRE_52_VREDE97_ACCEPT.disabledingroup" ng-show="vc.viewState.T_FLCRE_52_VREDE97_ACCEPT.visible" ng-class="vc.viewState.T_FLCRE_52_VREDE97_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_FLCRE_52_VREDE97_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_FLCRE_52_VREDE97_CANCEL.disabled || vc.viewState.T_FLCRE_52_VREDE97_CANCEL.disabledingroup" ng-show="vc.viewState.T_FLCRE_52_VREDE97_CANCEL.visible" ng-class="vc.viewState.T_FLCRE_52_VREDE97_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>