<!-- Designer Generator v 6.3.0 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_CTORY86_CTEGO_587" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_CTORY86_CTEGO_587.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_ATACATEGRY19--> 
  <div id="VC_CTORY86_CTEGO_587" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="GR_ATACATEGRY19_01" ng-class="vc.viewState.GR_ATACATEGRY19_01.style" class="cb-group cb-group-tabbed-h"> 
    <div id="GR_ATACATEGRY19_01_VAL" kendo-validator="GR_ATACATEGRY19_01" k-options="validatorOptions" kendo-tab-strip k-animation="false"> 
     <ul> 
      <li id="GR_ATACATEGRY19_02_tab" ng-class="vc.getCssClass('GR_ATACATEGRY19_02', vc.viewState.GR_ATACATEGRY19_02.style,{'k-state-disabled': vc.viewState.GR_ATACATEGRY19_02.disabled || vc.viewState.GR_ATACATEGRY19_02.disabledingroup, 'k-state-active': vc.activeContainer((vc.viewState.GR_ATACATEGRY19_02.disabled || vc.viewState.GR_ATACATEGRY19_02.disabledingroup),null)})" ng-disabled="vc.viewState.GR_ATACATEGRY19_02.disabled || vc.viewState.GR_ATACATEGRY19_02.disabledingroup" ng-show="vc.viewState.GR_ATACATEGRY19_02.visible"> <span class="cb-title">{{vc.viewState.GR_ATACATEGRY19_02.label|translate}}</span> <span ng-bind="vc.viewState.GR_ATACATEGRY19_02.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.GR_ATACATEGRY19_02.statusStyle.success, 'cb-validation-fail': vc.viewState.GR_ATACATEGRY19_02.statusStyle.fail, 'cb-validation-none': vc.viewState.GR_ATACATEGRY19_02.statusStyle.none}"></span> </li> 
      <li id="GR_ATACATEGRY19_04_tab" ng-class="vc.getCssClass('GR_ATACATEGRY19_04', vc.viewState.GR_ATACATEGRY19_04.style,{'k-state-disabled': vc.viewState.GR_ATACATEGRY19_04.disabled || vc.viewState.GR_ATACATEGRY19_04.disabledingroup, 'k-state-active': vc.activeContainer((vc.viewState.GR_ATACATEGRY19_04.disabled || vc.viewState.GR_ATACATEGRY19_04.disabledingroup),'GR_ATACATEGRY19_02_tab')})" ng-disabled="vc.viewState.GR_ATACATEGRY19_04.disabled || vc.viewState.GR_ATACATEGRY19_04.disabledingroup" ng-show="vc.viewState.GR_ATACATEGRY19_04.visible"> <span class="cb-title">{{vc.viewState.GR_ATACATEGRY19_04.label|translate}}</span> <span ng-bind="vc.viewState.GR_ATACATEGRY19_04.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.GR_ATACATEGRY19_04.statusStyle.success, 'cb-validation-fail': vc.viewState.GR_ATACATEGRY19_04.statusStyle.fail, 'cb-validation-none': vc.viewState.GR_ATACATEGRY19_04.statusStyle.none}"></span> </li> 
     </ul> 
     <div> 
      <div id="GR_ATACATEGRY19_02" ng-class="vc.viewState.GR_ATACATEGRY19_02.style" class="cb-group cb-group-simple" ng-hide="(vc.viewState.GR_ATACATEGRY19_02.disabled || vc.viewState.GR_ATACATEGRY19_02.disabledingroup)==true || !vc.viewState.GR_ATACATEGRY19_02.visible"> 
       <div id="GR_ATACATEGRY19_02_VAL" kendo-validator="GR_ATACATEGRY19_02" k-options="validatorOptions"> 
        <div class="form-vertical"> 
         <div class="row"> 
          <div class="col-xs-12" ng-show="vc.viewState.VA_ATACATEGRY1902_COEP019.visible"> 
           <div class="form-group cb-required" id="VA_ATACATEGRY1902_COEP019_DIV"> 
            <label for="VA_ATACATEGRY1902_COEP019" title="{{vc.viewState.VA_ATACATEGRY1902_COEP019.label|translate:vc.viewState.VA_ATACATEGRY1902_COEP019.labelArgs}}" ng-show="vc.viewState.VA_ATACATEGRY1902_COEP019.visible" class="control-label">{{vc.viewState.VA_ATACATEGRY1902_COEP019.label|translate:vc.viewState.VA_ATACATEGRY1902_COEP019.labelArgs}}</label> 
            <div class="cb-control"> 
             <input id="VA_ATACATEGRY1902_COEP019" name="Category_Concept" kendo-ext-combo-box="comboBox.VA_ATACATEGRY1902_COEP019" ng-model="vc.model.Category.Concept" ng-disabled="vc.viewState.VA_ATACATEGRY1902_COEP019.disabled || vc.viewState.VA_ATACATEGRY1902_COEP019.disabledingroup" ng-show="vc.viewState.VA_ATACATEGRY1902_COEP019.visible" ng-readonly="vc.viewState.VA_ATACATEGRY1902_COEP019.readonly" ng-class="vc.viewState.VA_ATACATEGRY1902_COEP019.style" placeholder="vc.getPlaceHolder()" k-data-source="vc.catalogs.VA_ATACATEGRY1902_COEP019" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_ATACATEGRY1902_COEP019.template" data-cobis-group="TabbedLayout,GR_ATACATEGRY19_01,0" required data-validation-code="{{vc.viewState.VA_ATACATEGRY1902_COEP019.validationCode}}" designer-change data-required-msg="{{'BUSIN.DLB_BUSIN_CODIORURO_89488'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-6" ng-show="vc.viewState.VA_ATACATEGRY1902_ITMS728.visible"> 
           <div class="form-group" id="VA_ATACATEGRY1902_ITMS728_DIV"> 
            <label for="VA_ATACATEGRY1902_ITMS728" title="{{vc.viewState.VA_ATACATEGRY1902_ITMS728.label|translate:vc.viewState.VA_ATACATEGRY1902_ITMS728.labelArgs}}" ng-show="vc.viewState.VA_ATACATEGRY1902_ITMS728.visible" class="control-label">{{'&nbsp;'}}</label> 
            <div class="cb-control"> 
             <input id="VA_ATACATEGRY1902_ITMS728" name="Category_ItemDesc" maxlength="64" type="text" class="form-control" ng-model="vc.model.Category.ItemDesc" ng-disabled="vc.viewState.VA_ATACATEGRY1902_ITMS728.disabled || vc.viewState.VA_ATACATEGRY1902_ITMS728.disabledingroup" ng-show="vc.viewState.VA_ATACATEGRY1902_ITMS728.visible" ng-readonly="vc.viewState.VA_ATACATEGRY1902_ITMS728.readonly" ng-class="vc.viewState.VA_ATACATEGRY1902_ITMS728.style" data-cobis-group="TabbedLayout,GR_ATACATEGRY19_01,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_ATACATEGRY1902_ITMS728.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-12" ng-show="vc.viewState.VA_ATACATEGRY1902_AUNL784.visible"> 
           <div class="form-group" id="VA_ATACATEGRY1902_AUNL784_DIV"> 
            <label for="VA_ATACATEGRY1902_AUNL784" title="{{vc.viewState.VA_ATACATEGRY1902_AUNL784.label|translate:vc.viewState.VA_ATACATEGRY1902_AUNL784.labelArgs}}" ng-show="vc.viewState.VA_ATACATEGRY1902_AUNL784.visible" class="control-label">{{vc.viewState.VA_ATACATEGRY1902_AUNL784.label|translate:vc.viewState.VA_ATACATEGRY1902_AUNL784.labelArgs}}</label> 
            <div class="cb-control"> 
             <input id="VA_ATACATEGRY1902_AUNL784" name="Category_AmounToApply" kendo-ext-combo-box="comboBox.VA_ATACATEGRY1902_AUNL784" ng-model="vc.model.Category.AmounToApply" ng-disabled="vc.viewState.VA_ATACATEGRY1902_AUNL784.disabled || vc.viewState.VA_ATACATEGRY1902_AUNL784.disabledingroup" ng-show="vc.viewState.VA_ATACATEGRY1902_AUNL784.visible" ng-readonly="vc.viewState.VA_ATACATEGRY1902_AUNL784.readonly" ng-class="vc.viewState.VA_ATACATEGRY1902_AUNL784.style" k-data-source="vc.catalogs.VA_ATACATEGRY1902_AUNL784" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_ATACATEGRY1902_AUNL784.template" data-cobis-group="TabbedLayout,GR_ATACATEGRY19_01,0" data-validation-code="{{vc.viewState.VA_ATACATEGRY1902_AUNL784.validationCode}}" designer-change /> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-12" ng-show="vc.viewState.VA_ATACATEGRY1902_EENE582.visible"> 
           <div class="form-group" id="VA_ATACATEGRY1902_EENE582_DIV"> 
            <label for="VA_ATACATEGRY1902_EENE582" title="{{vc.viewState.VA_ATACATEGRY1902_EENE582.label|translate:vc.viewState.VA_ATACATEGRY1902_EENE582.labelArgs}}" ng-show="vc.viewState.VA_ATACATEGRY1902_EENE582.visible" class="control-label">{{'&nbsp;'}}</label> 
            <div class="cb-control"> 
             <input id="VA_ATACATEGRY1902_EENE582" name="Category_Reference" maxlength="50" type="text" class="form-control" ng-model="vc.model.Category.Reference" ng-disabled="vc.viewState.VA_ATACATEGRY1902_EENE582.disabled || vc.viewState.VA_ATACATEGRY1902_EENE582.disabledingroup" ng-show="vc.viewState.VA_ATACATEGRY1902_EENE582.visible" ng-readonly="vc.viewState.VA_ATACATEGRY1902_EENE582.readonly" ng-class="vc.viewState.VA_ATACATEGRY1902_EENE582.style" data-cobis-group="TabbedLayout,GR_ATACATEGRY19_01,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_ATACATEGRY1902_EENE582.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-12" ng-show="vc.viewState.VA_ATACATEGRY1902_ECRI253.visible"> 
           <div class="form-group" id="VA_ATACATEGRY1902_ECRI253_DIV"> 
            <label for="VA_ATACATEGRY1902_ECRI253" title="{{vc.viewState.VA_ATACATEGRY1902_ECRI253.label|translate:vc.viewState.VA_ATACATEGRY1902_ECRI253.labelArgs}}" ng-show="vc.viewState.VA_ATACATEGRY1902_ECRI253.visible" class="control-label">{{vc.viewState.VA_ATACATEGRY1902_ECRI253.label|translate:vc.viewState.VA_ATACATEGRY1902_ECRI253.labelArgs}}</label> 
            <div class="cb-control"> 
             <input id="VA_ATACATEGRY1902_ECRI253" name="Category_ReferenceDescription" type="text" class="form-control" ng-model="vc.model.Category.ReferenceDescription" ng-disabled="vc.viewState.VA_ATACATEGRY1902_ECRI253.disabled || vc.viewState.VA_ATACATEGRY1902_ECRI253.disabledingroup" ng-show="vc.viewState.VA_ATACATEGRY1902_ECRI253.visible" ng-readonly="vc.viewState.VA_ATACATEGRY1902_ECRI253.readonly" ng-class="vc.viewState.VA_ATACATEGRY1902_ECRI253.style" data-cobis-group="TabbedLayout,GR_ATACATEGRY19_01,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_ATACATEGRY1902_ECRI253.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-6" ng-show="vc.viewState.VA_ATACATEGRY1902_MUPE771.visible"> 
           <div class="form-group" id="VA_ATACATEGRY1902_MUPE771_DIV"> 
            <label for="VA_ATACATEGRY1902_MUPE771" title="{{vc.viewState.VA_ATACATEGRY1902_MUPE771.label|translate:vc.viewState.VA_ATACATEGRY1902_MUPE771.labelArgs}}" ng-show="vc.viewState.VA_ATACATEGRY1902_MUPE771.visible" class="control-label">{{'&nbsp;'}}</label> 
            <div class="cb-control"> 
             <input id="VA_ATACATEGRY1902_MUPE771" name="Category_AmountToApplyDesc" maxlength="64" type="text" class="form-control" ng-model="vc.model.Category.AmountToApplyDesc" ng-disabled="vc.viewState.VA_ATACATEGRY1902_MUPE771.disabled || vc.viewState.VA_ATACATEGRY1902_MUPE771.disabledingroup" ng-show="vc.viewState.VA_ATACATEGRY1902_MUPE771.visible" ng-readonly="vc.viewState.VA_ATACATEGRY1902_MUPE771.readonly" ng-class="vc.viewState.VA_ATACATEGRY1902_MUPE771.style" data-cobis-group="TabbedLayout,GR_ATACATEGRY19_01,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_ATACATEGRY1902_MUPE771.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-3" ng-show="vc.viewState.VA_ATACATEGRY1902_RNCU443.visible"> 
           <div class="form-group" id="VA_ATACATEGRY1902_RNCU443_DIV"> 
            <label for="VA_ATACATEGRY1902_RNCU443" title="{{vc.viewState.VA_ATACATEGRY1902_RNCU443.label|translate:vc.viewState.VA_ATACATEGRY1902_RNCU443.labelArgs}}" ng-show="vc.viewState.VA_ATACATEGRY1902_RNCU443.visible" class="control-label">{{'&nbsp;'}}</label> 
            <div class="cb-control"> 
             <input id="VA_ATACATEGRY1902_RNCU443" name="Category_ReferenceAmount" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_ATACATEGRY1902_RNCU443.format" k-decimals="vc.viewState.VA_ATACATEGRY1902_RNCU443.decimals" k-ng-model="vc.model.Category.ReferenceAmount" ng-model="vc.tmpModel.Category.ReferenceAmount" ng-disabled="vc.viewState.VA_ATACATEGRY1902_RNCU443.disabled || vc.viewState.VA_ATACATEGRY1902_RNCU443.disabledingroup" ng-show="vc.viewState.VA_ATACATEGRY1902_RNCU443.visible" ng-readonly="vc.viewState.VA_ATACATEGRY1902_RNCU443.readonly" ng-class="vc.viewState.VA_ATACATEGRY1902_RNCU443.style" data-cobis-group="TabbedLayout,GR_ATACATEGRY19_01,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_ATACATEGRY1902_RNCU443.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-3" ng-show="vc.viewState.VA_ATACATEGRY1902_SIGN784.visible"> 
           <div class="form-group" id="VA_ATACATEGRY1902_SIGN784_DIV"> 
            <label for="VA_ATACATEGRY1902_SIGN784" title="{{vc.viewState.VA_ATACATEGRY1902_SIGN784.label|translate:vc.viewState.VA_ATACATEGRY1902_SIGN784.labelArgs}}" ng-show="vc.viewState.VA_ATACATEGRY1902_SIGN784.visible" class="control-label">{{vc.viewState.VA_ATACATEGRY1902_SIGN784.label|translate:vc.viewState.VA_ATACATEGRY1902_SIGN784.labelArgs}}</label> 
            <div class="cb-control"> 
             <input id="VA_ATACATEGRY1902_SIGN784" name="Category_Sign" kendo-ext-combo-box="comboBox.VA_ATACATEGRY1902_SIGN784" ng-model="vc.model.Category.Sign" ng-disabled="vc.viewState.VA_ATACATEGRY1902_SIGN784.disabled || vc.viewState.VA_ATACATEGRY1902_SIGN784.disabledingroup" ng-show="vc.viewState.VA_ATACATEGRY1902_SIGN784.visible" ng-readonly="vc.viewState.VA_ATACATEGRY1902_SIGN784.readonly" ng-class="vc.viewState.VA_ATACATEGRY1902_SIGN784.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_ATACATEGRY1902_SIGN784" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_ATACATEGRY1902_SIGN784.template" data-cobis-group="TabbedLayout,GR_ATACATEGRY19_01,0" data-validation-code="{{vc.viewState.VA_ATACATEGRY1902_SIGN784.validationCode}}" designer-change /> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-3" ng-show="vc.viewState.VA_ATACATEGRY1902_SPRD943.visible"> 
           <div class="form-group" id="VA_ATACATEGRY1902_SPRD943_DIV"> 
            <label for="VA_ATACATEGRY1902_SPRD943" title="{{vc.viewState.VA_ATACATEGRY1902_SPRD943.label|translate:vc.viewState.VA_ATACATEGRY1902_SPRD943.labelArgs}}" ng-show="vc.viewState.VA_ATACATEGRY1902_SPRD943.visible" class="control-label">{{vc.viewState.VA_ATACATEGRY1902_SPRD943.label|translate:vc.viewState.VA_ATACATEGRY1902_SPRD943.labelArgs}}</label> 
            <div class="cb-control"> 
             <input id="VA_ATACATEGRY1902_SPRD943" name="Category_Spread" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_ATACATEGRY1902_SPRD943.format" k-decimals="vc.viewState.VA_ATACATEGRY1902_SPRD943.decimals" k-ng-model="vc.model.Category.Spread" ng-model="vc.tmpModel.Category.Spread" ng-disabled="vc.viewState.VA_ATACATEGRY1902_SPRD943.disabled || vc.viewState.VA_ATACATEGRY1902_SPRD943.disabledingroup" ng-show="vc.viewState.VA_ATACATEGRY1902_SPRD943.visible" ng-readonly="vc.viewState.VA_ATACATEGRY1902_SPRD943.readonly" ng-class="vc.viewState.VA_ATACATEGRY1902_SPRD943.style" data-cobis-group="TabbedLayout,GR_ATACATEGRY19_01,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_ATACATEGRY1902_SPRD943.validationCode}}" designer-change /> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-3" ng-show="vc.viewState.VA_ATACATEGRY1902_VALU262.visible"> 
           <div class="form-group" id="VA_ATACATEGRY1902_VALU262_DIV"> 
            <label for="VA_ATACATEGRY1902_VALU262" title="{{vc.viewState.VA_ATACATEGRY1902_VALU262.label|translate:vc.viewState.VA_ATACATEGRY1902_VALU262.labelArgs}}" ng-show="vc.viewState.VA_ATACATEGRY1902_VALU262.visible" class="control-label">{{vc.viewState.VA_ATACATEGRY1902_VALU262.label|translate:vc.viewState.VA_ATACATEGRY1902_VALU262.labelArgs}}</label> 
            <div class="cb-control"> 
             <input id="VA_ATACATEGRY1902_VALU262" name="Category_Value" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_ATACATEGRY1902_VALU262.format" k-decimals="vc.viewState.VA_ATACATEGRY1902_VALU262.decimals" k-ng-model="vc.model.Category.Value" ng-model="vc.tmpModel.Category.Value" ng-disabled="vc.viewState.VA_ATACATEGRY1902_VALU262.disabled || vc.viewState.VA_ATACATEGRY1902_VALU262.disabledingroup" ng-show="vc.viewState.VA_ATACATEGRY1902_VALU262.visible" ng-readonly="vc.viewState.VA_ATACATEGRY1902_VALU262.readonly" ng-class="vc.viewState.VA_ATACATEGRY1902_VALU262.style" data-cobis-group="TabbedLayout,GR_ATACATEGRY19_01,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_ATACATEGRY1902_VALU262.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-3" ng-show="vc.viewState.VA_ATACATEGRY1902_MIMM127.visible"> 
           <div class="form-group" id="VA_ATACATEGRY1902_MIMM127_DIV"> 
            <label for="VA_ATACATEGRY1902_MIMM127" title="{{vc.viewState.VA_ATACATEGRY1902_MIMM127.label|translate:vc.viewState.VA_ATACATEGRY1902_MIMM127.labelArgs}}" ng-show="vc.viewState.VA_ATACATEGRY1902_MIMM127.visible" class="control-label">{{vc.viewState.VA_ATACATEGRY1902_MIMM127.label|translate:vc.viewState.VA_ATACATEGRY1902_MIMM127.labelArgs}}</label> 
            <div class="cb-control"> 
             <input id="VA_ATACATEGRY1902_MIMM127" name="Category_Minimum" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_ATACATEGRY1902_MIMM127.format" k-decimals="vc.viewState.VA_ATACATEGRY1902_MIMM127.decimals" k-ng-model="vc.model.Category.Minimum" ng-model="vc.tmpModel.Category.Minimum" ng-disabled="vc.viewState.VA_ATACATEGRY1902_MIMM127.disabled || vc.viewState.VA_ATACATEGRY1902_MIMM127.disabledingroup" ng-show="vc.viewState.VA_ATACATEGRY1902_MIMM127.visible" ng-readonly="vc.viewState.VA_ATACATEGRY1902_MIMM127.readonly" ng-class="vc.viewState.VA_ATACATEGRY1902_MIMM127.style" data-cobis-group="TabbedLayout,GR_ATACATEGRY19_01,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_ATACATEGRY1902_MIMM127.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-3" ng-show="vc.viewState.VA_ATACATEGRY1902_MAXU405.visible"> 
           <div class="form-group" id="VA_ATACATEGRY1902_MAXU405_DIV"> 
            <label for="VA_ATACATEGRY1902_MAXU405" title="{{vc.viewState.VA_ATACATEGRY1902_MAXU405.label|translate:vc.viewState.VA_ATACATEGRY1902_MAXU405.labelArgs}}" ng-show="vc.viewState.VA_ATACATEGRY1902_MAXU405.visible" class="control-label">{{vc.viewState.VA_ATACATEGRY1902_MAXU405.label|translate:vc.viewState.VA_ATACATEGRY1902_MAXU405.labelArgs}}</label> 
            <div class="cb-control"> 
             <input id="VA_ATACATEGRY1902_MAXU405" name="Category_Maximun" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_ATACATEGRY1902_MAXU405.format" k-decimals="vc.viewState.VA_ATACATEGRY1902_MAXU405.decimals" k-ng-model="vc.model.Category.Maximun" ng-model="vc.tmpModel.Category.Maximun" ng-disabled="vc.viewState.VA_ATACATEGRY1902_MAXU405.disabled || vc.viewState.VA_ATACATEGRY1902_MAXU405.disabledingroup" ng-show="vc.viewState.VA_ATACATEGRY1902_MAXU405.visible" ng-readonly="vc.viewState.VA_ATACATEGRY1902_MAXU405.readonly" ng-class="vc.viewState.VA_ATACATEGRY1902_MAXU405.style" data-cobis-group="TabbedLayout,GR_ATACATEGRY19_01,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_ATACATEGRY1902_MAXU405.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-6" ng-show="vc.viewState.VA_ATACATEGRY1902_MINA980.visible"> 
           <div class="form-group" id="VA_ATACATEGRY1902_MINA980_DIV"> 
            <label for="VA_ATACATEGRY1902_MINA980" title="{{vc.viewState.VA_ATACATEGRY1902_MINA980.label|translate:vc.viewState.VA_ATACATEGRY1902_MINA980.labelArgs}}" ng-show="vc.viewState.VA_ATACATEGRY1902_MINA980.visible" class="control-label">{{vc.viewState.VA_ATACATEGRY1902_MINA980.label|translate:vc.viewState.VA_ATACATEGRY1902_MINA980.labelArgs}}</label> 
            <div class="cb-control"> 
             <div class="input-group"> 
              <input id="VA_ATACATEGRY1902_MINA980" name="Category_MaxRate" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_ATACATEGRY1902_MINA980.format" k-decimals="vc.viewState.VA_ATACATEGRY1902_MINA980.decimals" k-ng-model="vc.model.Category.MaxRate" ng-model="vc.tmpModel.Category.MaxRate" ng-disabled="vc.viewState.VA_ATACATEGRY1902_MINA980.disabled || vc.viewState.VA_ATACATEGRY1902_MINA980.disabledingroup" ng-show="vc.viewState.VA_ATACATEGRY1902_MINA980.visible" ng-readonly="vc.viewState.VA_ATACATEGRY1902_MINA980.readonly" ng-class="vc.viewState.VA_ATACATEGRY1902_MINA980.style" data-cobis-group="TabbedLayout,GR_ATACATEGRY19_01,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_ATACATEGRY1902_MINA980.validationCode}}" /> 
              <div class="input-group-addon" ng-bind="kendo.toString(vc.viewState.VA_ATACATEGRY1902_MINA980.suffix, '')"></div> 
             </div> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-3" ng-show="vc.viewState.VA_ATACATEGRY1902_FNDD538.visible"> 
           <div class="form-group" id="VA_ATACATEGRY1902_FNDD538_DIV"> 
            <label for="VA_ATACATEGRY1902_FNDD538" title="{{vc.viewState.VA_ATACATEGRY1902_FNDD538.label|translate:vc.viewState.VA_ATACATEGRY1902_FNDD538.labelArgs}}" ng-show="vc.viewState.VA_ATACATEGRY1902_FNDD538.visible" class="control-label">{{vc.viewState.VA_ATACATEGRY1902_FNDD538.label|translate:vc.viewState.VA_ATACATEGRY1902_FNDD538.labelArgs}}</label> 
            <div class="cb-control"> 
             <div> 
              <input id="VA_ATACATEGRY1902_FNDD538" ng-show="false" /> 
              <label class="radio-inline" data-ng-repeat="result in vc.catalogs.VA_ATACATEGRY1902_FNDD538.data()"> <input id="VA_ATACATEGRY1902_FNDD538-{{$index}}" name="Category_Funded" type="radio" value="{{result.code}}" ng-model="vc.model.Category.Funded" ng-disabled="vc.viewState.VA_ATACATEGRY1902_FNDD538.disabled || vc.viewState.VA_ATACATEGRY1902_FNDD538.disabledingroup" ng-show="vc.viewState.VA_ATACATEGRY1902_FNDD538.visible" ng-readonly="vc.viewState.VA_ATACATEGRY1902_FNDD538.readonly" ng-class="vc.viewState.VA_ATACATEGRY1902_FNDD538.style" data-validation-code="{{vc.viewState.VA_ATACATEGRY1902_FNDD538.validationCode}}" /> {{result.value}} </label> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div> 
      <div id="GR_ATACATEGRY19_04" ng-class="vc.viewState.GR_ATACATEGRY19_04.style" class="cb-group cb-group-simple" ng-hide="(vc.viewState.GR_ATACATEGRY19_04.disabled || vc.viewState.GR_ATACATEGRY19_04.disabledingroup)==true || !vc.viewState.GR_ATACATEGRY19_04.visible"> 
       <div id="GR_ATACATEGRY19_04_VAL" kendo-validator="GR_ATACATEGRY19_04" k-options="validatorOptions"> 
        <div class="form-vertical"> 
         <div class="row"> 
          <div class="col-xs-12" ng-show="vc.viewState.VA_ATACATEGRY1904_COEP407.visible"> 
           <div class="form-group" id="VA_ATACATEGRY1904_COEP407_DIV"> 
            <label for="VA_ATACATEGRY1904_COEP407" title="{{vc.viewState.VA_ATACATEGRY1904_COEP407.label|translate:vc.viewState.VA_ATACATEGRY1904_COEP407.labelArgs}}" ng-show="vc.viewState.VA_ATACATEGRY1904_COEP407.visible" class="control-label">{{vc.viewState.VA_ATACATEGRY1904_COEP407.label|translate:vc.viewState.VA_ATACATEGRY1904_COEP407.labelArgs}}</label> 
            <div class="cb-control"> 
             <input id="VA_ATACATEGRY1904_COEP407" name="CategoryReadjustment_Concept" kendo-ext-combo-box="comboBox.VA_ATACATEGRY1904_COEP407" ng-model="vc.model.CategoryReadjustment.Concept" ng-disabled="vc.viewState.VA_ATACATEGRY1904_COEP407.disabled || vc.viewState.VA_ATACATEGRY1904_COEP407.disabledingroup" ng-show="vc.viewState.VA_ATACATEGRY1904_COEP407.visible" ng-readonly="vc.viewState.VA_ATACATEGRY1904_COEP407.readonly" ng-class="vc.viewState.VA_ATACATEGRY1904_COEP407.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_ATACATEGRY1904_COEP407" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_ATACATEGRY1904_COEP407.template" data-cobis-group="TabbedLayout,GR_ATACATEGRY19_01,1" data-validation-code="{{vc.viewState.VA_ATACATEGRY1904_COEP407.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-12" ng-show="vc.viewState.VA_ATACATEGRY1904_ORIT592.visible"> 
           <div class="form-group" id="VA_ATACATEGRY1904_ORIT592_DIV"> 
            <label for="VA_ATACATEGRY1904_ORIT592" title="{{vc.viewState.VA_ATACATEGRY1904_ORIT592.label|translate:vc.viewState.VA_ATACATEGRY1904_ORIT592.labelArgs}}" ng-show="vc.viewState.VA_ATACATEGRY1904_ORIT592.visible" class="control-label">{{'&nbsp;'}}</label> 
            <div class="cb-control"> 
             <input id="VA_ATACATEGRY1904_ORIT592" name="CategoryReadjustment_ConceptDescription" type="text" class="form-control" ng-model="vc.model.CategoryReadjustment.ConceptDescription" ng-disabled="vc.viewState.VA_ATACATEGRY1904_ORIT592.disabled || vc.viewState.VA_ATACATEGRY1904_ORIT592.disabledingroup" ng-show="vc.viewState.VA_ATACATEGRY1904_ORIT592.visible" ng-readonly="vc.viewState.VA_ATACATEGRY1904_ORIT592.readonly" ng-class="vc.viewState.VA_ATACATEGRY1904_ORIT592.style" data-cobis-group="TabbedLayout,GR_ATACATEGRY19_01,1" ng-model-onblur data-validation-code="{{vc.viewState.VA_ATACATEGRY1904_ORIT592.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-12" ng-show="vc.viewState.VA_ATACATEGRY1904_AOOP178.visible"> 
           <div class="form-group" id="VA_ATACATEGRY1904_AOOP178_DIV"> 
            <label for="VA_ATACATEGRY1904_AOOP178" title="{{vc.viewState.VA_ATACATEGRY1904_AOOP178.label|translate:vc.viewState.VA_ATACATEGRY1904_AOOP178.labelArgs}}" ng-show="vc.viewState.VA_ATACATEGRY1904_AOOP178.visible" class="control-label">{{vc.viewState.VA_ATACATEGRY1904_AOOP178.label|translate:vc.viewState.VA_ATACATEGRY1904_AOOP178.labelArgs}}</label> 
            <div class="cb-control"> 
             <input id="VA_ATACATEGRY1904_AOOP178" name="CategoryReadjustment_AmountToApply" kendo-ext-combo-box="comboBox.VA_ATACATEGRY1904_AOOP178" ng-model="vc.model.CategoryReadjustment.AmountToApply" ng-disabled="vc.viewState.VA_ATACATEGRY1904_AOOP178.disabled || vc.viewState.VA_ATACATEGRY1904_AOOP178.disabledingroup" ng-show="vc.viewState.VA_ATACATEGRY1904_AOOP178.visible" ng-readonly="vc.viewState.VA_ATACATEGRY1904_AOOP178.readonly" ng-class="vc.viewState.VA_ATACATEGRY1904_AOOP178.style" k-data-source="vc.catalogs.VA_ATACATEGRY1904_AOOP178" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_ATACATEGRY1904_AOOP178.template" data-cobis-group="TabbedLayout,GR_ATACATEGRY19_01,1" data-validation-code="{{vc.viewState.VA_ATACATEGRY1904_AOOP178.validationCode}}" designer-change /> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-12" ng-show="vc.viewState.VA_ATACATEGRY1904_EENE861.visible"> 
           <div class="form-group" id="VA_ATACATEGRY1904_EENE861_DIV"> 
            <label for="VA_ATACATEGRY1904_EENE861" title="{{vc.viewState.VA_ATACATEGRY1904_EENE861.label|translate:vc.viewState.VA_ATACATEGRY1904_EENE861.labelArgs}}" ng-show="vc.viewState.VA_ATACATEGRY1904_EENE861.visible" class="control-label">{{'&nbsp;'}}</label> 
            <div class="cb-control"> 
             <input id="VA_ATACATEGRY1904_EENE861" name="CategoryReadjustment_Reference" type="text" class="form-control" ng-model="vc.model.CategoryReadjustment.Reference" ng-disabled="vc.viewState.VA_ATACATEGRY1904_EENE861.disabled || vc.viewState.VA_ATACATEGRY1904_EENE861.disabledingroup" ng-show="vc.viewState.VA_ATACATEGRY1904_EENE861.visible" ng-readonly="vc.viewState.VA_ATACATEGRY1904_EENE861.readonly" ng-class="vc.viewState.VA_ATACATEGRY1904_EENE861.style" data-cobis-group="TabbedLayout,GR_ATACATEGRY19_01,1" ng-model-onblur data-validation-code="{{vc.viewState.VA_ATACATEGRY1904_EENE861.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-12" ng-show="vc.viewState.VA_ATACATEGRY1904_ERRO392.visible"> 
           <div class="form-group" id="VA_ATACATEGRY1904_ERRO392_DIV"> 
            <label for="VA_ATACATEGRY1904_ERRO392" title="{{vc.viewState.VA_ATACATEGRY1904_ERRO392.label|translate:vc.viewState.VA_ATACATEGRY1904_ERRO392.labelArgs}}" ng-show="vc.viewState.VA_ATACATEGRY1904_ERRO392.visible" class="control-label">{{vc.viewState.VA_ATACATEGRY1904_ERRO392.label|translate:vc.viewState.VA_ATACATEGRY1904_ERRO392.labelArgs}}</label> 
            <div class="cb-control"> 
             <input id="VA_ATACATEGRY1904_ERRO392" name="CategoryReadjustment_ReferenceDescription" type="text" class="form-control" ng-model="vc.model.CategoryReadjustment.ReferenceDescription" ng-disabled="vc.viewState.VA_ATACATEGRY1904_ERRO392.disabled || vc.viewState.VA_ATACATEGRY1904_ERRO392.disabledingroup" ng-show="vc.viewState.VA_ATACATEGRY1904_ERRO392.visible" ng-readonly="vc.viewState.VA_ATACATEGRY1904_ERRO392.readonly" ng-class="vc.viewState.VA_ATACATEGRY1904_ERRO392.style" data-cobis-group="TabbedLayout,GR_ATACATEGRY19_01,1" ng-model-onblur data-validation-code="{{vc.viewState.VA_ATACATEGRY1904_ERRO392.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-3" ng-show="vc.viewState.VA_ATACATEGRY1904_ENEU551.visible"> 
           <div class="form-group" id="VA_ATACATEGRY1904_ENEU551_DIV"> 
            <label for="VA_ATACATEGRY1904_ENEU551" title="{{vc.viewState.VA_ATACATEGRY1904_ENEU551.label|translate:vc.viewState.VA_ATACATEGRY1904_ENEU551.labelArgs}}" ng-show="vc.viewState.VA_ATACATEGRY1904_ENEU551.visible" class="control-label">{{vc.viewState.VA_ATACATEGRY1904_ENEU551.label|translate:vc.viewState.VA_ATACATEGRY1904_ENEU551.labelArgs}}</label> 
            <div class="cb-control"> 
             <input id="VA_ATACATEGRY1904_ENEU551" name="CategoryReadjustment_ReferenceAmount" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_ATACATEGRY1904_ENEU551.format" k-decimals="vc.viewState.VA_ATACATEGRY1904_ENEU551.decimals" k-ng-model="vc.model.CategoryReadjustment.ReferenceAmount" ng-model="vc.tmpModel.CategoryReadjustment.ReferenceAmount" ng-disabled="vc.viewState.VA_ATACATEGRY1904_ENEU551.disabled || vc.viewState.VA_ATACATEGRY1904_ENEU551.disabledingroup" ng-show="vc.viewState.VA_ATACATEGRY1904_ENEU551.visible" ng-readonly="vc.viewState.VA_ATACATEGRY1904_ENEU551.readonly" ng-class="vc.viewState.VA_ATACATEGRY1904_ENEU551.style" data-cobis-group="TabbedLayout,GR_ATACATEGRY19_01,1" ng-model-onblur data-validation-code="{{vc.viewState.VA_ATACATEGRY1904_ENEU551.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-3" ng-show="vc.viewState.VA_ATACATEGRY1904_SIGN273.visible"> 
           <div class="form-group" id="VA_ATACATEGRY1904_SIGN273_DIV"> 
            <label for="VA_ATACATEGRY1904_SIGN273" title="{{vc.viewState.VA_ATACATEGRY1904_SIGN273.label|translate:vc.viewState.VA_ATACATEGRY1904_SIGN273.labelArgs}}" ng-show="vc.viewState.VA_ATACATEGRY1904_SIGN273.visible" class="control-label">{{vc.viewState.VA_ATACATEGRY1904_SIGN273.label|translate:vc.viewState.VA_ATACATEGRY1904_SIGN273.labelArgs}}</label> 
            <div class="cb-control"> 
             <input id="VA_ATACATEGRY1904_SIGN273" name="CategoryReadjustment_Sign" kendo-ext-combo-box="comboBox.VA_ATACATEGRY1904_SIGN273" ng-model="vc.model.CategoryReadjustment.Sign" ng-disabled="vc.viewState.VA_ATACATEGRY1904_SIGN273.disabled || vc.viewState.VA_ATACATEGRY1904_SIGN273.disabledingroup" ng-show="vc.viewState.VA_ATACATEGRY1904_SIGN273.visible" ng-readonly="vc.viewState.VA_ATACATEGRY1904_SIGN273.readonly" ng-class="vc.viewState.VA_ATACATEGRY1904_SIGN273.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_ATACATEGRY1904_SIGN273" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_ATACATEGRY1904_SIGN273.template" data-cobis-group="TabbedLayout,GR_ATACATEGRY19_01,1" data-validation-code="{{vc.viewState.VA_ATACATEGRY1904_SIGN273.validationCode}}" designer-change /> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-3" ng-show="vc.viewState.VA_ATACATEGRY1904_SPED624.visible"> 
           <div class="form-group" id="VA_ATACATEGRY1904_SPED624_DIV"> 
            <label for="VA_ATACATEGRY1904_SPED624" title="{{vc.viewState.VA_ATACATEGRY1904_SPED624.label|translate:vc.viewState.VA_ATACATEGRY1904_SPED624.labelArgs}}" ng-show="vc.viewState.VA_ATACATEGRY1904_SPED624.visible" class="control-label">{{vc.viewState.VA_ATACATEGRY1904_SPED624.label|translate:vc.viewState.VA_ATACATEGRY1904_SPED624.labelArgs}}</label> 
            <div class="cb-control"> 
             <input id="VA_ATACATEGRY1904_SPED624" name="CategoryReadjustment_Spread" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_ATACATEGRY1904_SPED624.format" k-decimals="vc.viewState.VA_ATACATEGRY1904_SPED624.decimals" k-ng-model="vc.model.CategoryReadjustment.Spread" ng-model="vc.tmpModel.CategoryReadjustment.Spread" ng-disabled="vc.viewState.VA_ATACATEGRY1904_SPED624.disabled || vc.viewState.VA_ATACATEGRY1904_SPED624.disabledingroup" ng-show="vc.viewState.VA_ATACATEGRY1904_SPED624.visible" ng-readonly="vc.viewState.VA_ATACATEGRY1904_SPED624.readonly" ng-class="vc.viewState.VA_ATACATEGRY1904_SPED624.style" data-cobis-group="TabbedLayout,GR_ATACATEGRY19_01,1" ng-model-onblur data-validation-code="{{vc.viewState.VA_ATACATEGRY1904_SPED624.validationCode}}" designer-change /> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-3" ng-show="vc.viewState.VA_ATACATEGRY1904_VALE195.visible"> 
           <div class="form-group" id="VA_ATACATEGRY1904_VALE195_DIV"> 
            <label for="VA_ATACATEGRY1904_VALE195" title="{{vc.viewState.VA_ATACATEGRY1904_VALE195.label|translate:vc.viewState.VA_ATACATEGRY1904_VALE195.labelArgs}}" ng-show="vc.viewState.VA_ATACATEGRY1904_VALE195.visible" class="control-label">{{vc.viewState.VA_ATACATEGRY1904_VALE195.label|translate:vc.viewState.VA_ATACATEGRY1904_VALE195.labelArgs}}</label> 
            <div class="cb-control"> 
             <input id="VA_ATACATEGRY1904_VALE195" name="CategoryReadjustment_Value" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_ATACATEGRY1904_VALE195.format" k-decimals="vc.viewState.VA_ATACATEGRY1904_VALE195.decimals" k-ng-model="vc.model.CategoryReadjustment.Value" ng-model="vc.tmpModel.CategoryReadjustment.Value" ng-disabled="vc.viewState.VA_ATACATEGRY1904_VALE195.disabled || vc.viewState.VA_ATACATEGRY1904_VALE195.disabledingroup" ng-show="vc.viewState.VA_ATACATEGRY1904_VALE195.visible" ng-readonly="vc.viewState.VA_ATACATEGRY1904_VALE195.readonly" ng-class="vc.viewState.VA_ATACATEGRY1904_VALE195.style" data-cobis-group="TabbedLayout,GR_ATACATEGRY19_01,1" ng-model-onblur data-validation-code="{{vc.viewState.VA_ATACATEGRY1904_VALE195.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-3" ng-show="vc.viewState.VA_ATACATEGRY1904_MIUM176.visible"> 
           <div class="form-group" id="VA_ATACATEGRY1904_MIUM176_DIV"> 
            <label for="VA_ATACATEGRY1904_MIUM176" title="{{vc.viewState.VA_ATACATEGRY1904_MIUM176.label|translate:vc.viewState.VA_ATACATEGRY1904_MIUM176.labelArgs}}" ng-show="vc.viewState.VA_ATACATEGRY1904_MIUM176.visible" class="control-label">{{vc.viewState.VA_ATACATEGRY1904_MIUM176.label|translate:vc.viewState.VA_ATACATEGRY1904_MIUM176.labelArgs}}</label> 
            <div class="cb-control"> 
             <input id="VA_ATACATEGRY1904_MIUM176" name="CategoryReadjustment_Minimum" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_ATACATEGRY1904_MIUM176.format" k-decimals="vc.viewState.VA_ATACATEGRY1904_MIUM176.decimals" k-ng-model="vc.model.CategoryReadjustment.Minimum" ng-model="vc.tmpModel.CategoryReadjustment.Minimum" ng-disabled="vc.viewState.VA_ATACATEGRY1904_MIUM176.disabled || vc.viewState.VA_ATACATEGRY1904_MIUM176.disabledingroup" ng-show="vc.viewState.VA_ATACATEGRY1904_MIUM176.visible" ng-readonly="vc.viewState.VA_ATACATEGRY1904_MIUM176.readonly" ng-class="vc.viewState.VA_ATACATEGRY1904_MIUM176.style" data-cobis-group="TabbedLayout,GR_ATACATEGRY19_01,1" ng-model-onblur data-validation-code="{{vc.viewState.VA_ATACATEGRY1904_MIUM176.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-3" ng-show="vc.viewState.VA_ATACATEGRY1904_AXIN199.visible"> 
           <div class="form-group" id="VA_ATACATEGRY1904_AXIN199_DIV"> 
            <label for="VA_ATACATEGRY1904_AXIN199" title="{{vc.viewState.VA_ATACATEGRY1904_AXIN199.label|translate:vc.viewState.VA_ATACATEGRY1904_AXIN199.labelArgs}}" ng-show="vc.viewState.VA_ATACATEGRY1904_AXIN199.visible" class="control-label">{{vc.viewState.VA_ATACATEGRY1904_AXIN199.label|translate:vc.viewState.VA_ATACATEGRY1904_AXIN199.labelArgs}}</label> 
            <div class="cb-control"> 
             <input id="VA_ATACATEGRY1904_AXIN199" name="CategoryReadjustment_Maximun" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_ATACATEGRY1904_AXIN199.format" k-decimals="vc.viewState.VA_ATACATEGRY1904_AXIN199.decimals" k-ng-model="vc.model.CategoryReadjustment.Maximun" ng-model="vc.tmpModel.CategoryReadjustment.Maximun" ng-disabled="vc.viewState.VA_ATACATEGRY1904_AXIN199.disabled || vc.viewState.VA_ATACATEGRY1904_AXIN199.disabledingroup" ng-show="vc.viewState.VA_ATACATEGRY1904_AXIN199.visible" ng-readonly="vc.viewState.VA_ATACATEGRY1904_AXIN199.readonly" ng-class="vc.viewState.VA_ATACATEGRY1904_AXIN199.style" data-cobis-group="TabbedLayout,GR_ATACATEGRY19_01,1" ng-model-onblur data-validation-code="{{vc.viewState.VA_ATACATEGRY1904_AXIN199.validationCode}}" /> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_ATACATEGRY19--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc || !vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_CTORY86ARB39" ng-click="vc.executeCommand('CM_CTORY86ARB39','Guardar Rubros', validator, true, false, 'VC_CTORY86_CTEGO_587', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_CTORY86ARB39.disabled || vc.viewState.CM_CTORY86ARB39.disabledingroup" ng-show="vc.viewState.CM_CTORY86ARB39.visible" ng-class="vc.viewState.CM_CTORY86ARB39.style"> {{vc.viewState.CM_CTORY86ARB39.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_FLCRE_24_CTORY86_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_CTORY86_CTEGO_587')" ng-disabled="vc.viewState.T_FLCRE_24_CTORY86_ACCEPT.disabled || vc.viewState.T_FLCRE_24_CTORY86_ACCEPT.disabledingroup" ng-show="vc.viewState.T_FLCRE_24_CTORY86_ACCEPT.visible" ng-class="vc.viewState.T_FLCRE_24_CTORY86_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_FLCRE_24_CTORY86_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_FLCRE_24_CTORY86_CANCEL.disabled || vc.viewState.T_FLCRE_24_CTORY86_CANCEL.disabledingroup" ng-show="vc.viewState.T_FLCRE_24_CTORY86_CANCEL.visible" ng-class="vc.viewState.T_FLCRE_24_CTORY86_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>