<!-- Designer Generator v 6.3.6 - release SPR 2018-04 28/02/2018 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_CONCILIAAA_437806" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_CONCILIAAA_437806.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_CONCILIATT_442--> 
  <div id="VC_CONCILIAAA_437806" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_CONCILIAAV_827442" ng-show="vc.viewState.G_CONCILIAAV_827442.visible" ng-class="vc.viewState.G_CONCILIAAV_827442.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_CONCILIAAV_827442" k-options="validatorOptions" id="G_CONCILIAAV_827442_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-12" ng-show="vc.viewState.VA_OBSERVATIONCENO_166442.visible"> 
        <div class="form-group cb-required" id="VA_OBSERVATIONCENO_166442_DIV"> 
         <label for="VA_OBSERVATIONCENO_166442" title="{{vc.viewState.VA_OBSERVATIONCENO_166442.label|translate:vc.viewState.VA_OBSERVATIONCENO_166442.labelArgs}}" ng-show="vc.viewState.VA_OBSERVATIONCENO_166442.visible" class="control-label">{{vc.viewState.VA_OBSERVATIONCENO_166442.label|translate:vc.viewState.VA_OBSERVATIONCENO_166442.labelArgs}}</label> 
         <div class="cb-control"> 
          <textarea id="VA_OBSERVATIONCENO_166442" style="resize: none; width:100%" rows="4" name="ConciliationManualSearchFilter_observation" maxlength="255" type="text" class="form-control" ng-model="vc.model.ConciliationManualSearchFilter.observation" ng-disabled="vc.viewState.VA_OBSERVATIONCENO_166442.disabled || vc.viewState.VA_OBSERVATIONCENO_166442.disabledingroup" ng-show="vc.viewState.VA_OBSERVATIONCENO_166442.visible" ng-readonly="vc.viewState.VA_OBSERVATIONCENO_166442.readonly" ng-class="vc.viewState.VA_OBSERVATIONCENO_166442.style" data-cobis-group="Group,G_CONCILIAAV_827442,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_OBSERVATIONCENO_166442.validationCode}}" data-required-msg="{{'ASSTS.MSG_ASSTS_ELCAMPOTL_65802'|translate}}"></textarea> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_CONCILIATT_442--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc || !vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_TASSTSTC_SSA" ng-click="vc.executeCommand('CM_TASSTSTC_SSA','Command1', validator, true, false, 'VC_CONCILIAAA_437806', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_TASSTSTC_SSA.disabled || vc.viewState.CM_TASSTSTC_SSA.disabledingroup" ng-show="vc.viewState.CM_TASSTSTC_SSA.visible" ng-class="vc.viewState.CM_TASSTSTC_SSA.style"> {{vc.viewState.CM_TASSTSTC_SSA.label|translate}} </button> 
    <button id="CM_TASSTSTC_82_" ng-click="vc.executeCommand('CM_TASSTSTC_82_','Command2', validator, true, false, 'VC_CONCILIAAA_437806', false)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_TASSTSTC_82_.disabled || vc.viewState.CM_TASSTSTC_82_.disabledingroup" ng-show="vc.viewState.CM_TASSTSTC_82_.visible" ng-class="vc.viewState.CM_TASSTSTC_82_.style"> {{vc.viewState.CM_TASSTSTC_82_.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_ASSTSTCQYYGZK_806_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_CONCILIAAA_437806')" ng-disabled="vc.viewState.T_ASSTSTCQYYGZK_806_ACCEPT.disabled || vc.viewState.T_ASSTSTCQYYGZK_806_ACCEPT.disabledingroup" ng-show="vc.viewState.T_ASSTSTCQYYGZK_806_ACCEPT.visible" ng-class="vc.viewState.T_ASSTSTCQYYGZK_806_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_ASSTSTCQYYGZK_806_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_ASSTSTCQYYGZK_806_CANCEL.disabled || vc.viewState.T_ASSTSTCQYYGZK_806_CANCEL.disabledingroup" ng-show="vc.viewState.T_ASSTSTCQYYGZK_806_CANCEL.visible" ng-class="vc.viewState.T_ASSTSTCQYYGZK_806_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>