<!-- Designer Generator v 6.3.3 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_MANUALCOLT_571678" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_MANUALCOLT_571678.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_MANUALCOII_939--> 
  <div id="VC_MANUALCOLT_571678" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_MANUALCNNO_948939" ng-class="vc.viewState.G_MANUALCNNO_948939.style" class="cb-group cb-group-layout"> 
    <div id="G_MANUALCNNO_948939_VAL" kendo-validator="G_MANUALCNNO_948939" k-options="validatorOptions"> 
     <div id="G_MANUALCLIC_609939" class="cb-group cb-group-simple" ng-show="vc.viewState.G_MANUALCLIC_609939.visible" ng-class="vc.viewState.G_MANUALCLIC_609939.style"> 
      <div id="G_MANUALCLIC_609939_VAL" kendo-validator="G_MANUALCLIC_609939" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_TYPEJRKMHPCUARK_310939.visible"> 
          <div class="form-group" id="VA_TYPEJRKMHPCUARK_310939_DIV"> 
           <label for="VA_TYPEJRKMHPCUARK_310939" title="{{vc.viewState.VA_TYPEJRKMHPCUARK_310939.label|translate:vc.viewState.VA_TYPEJRKMHPCUARK_310939.labelArgs}}" ng-show="vc.viewState.VA_TYPEJRKMHPCUARK_310939.visible" class="control-label">{{vc.viewState.VA_TYPEJRKMHPCUARK_310939.label|translate:vc.viewState.VA_TYPEJRKMHPCUARK_310939.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_TYPEJRKMHPCUARK_310939" name="ConciliationSearch_type" kendo-ext-combo-box="comboBox.VA_TYPEJRKMHPCUARK_310939" ng-model="vc.model.ConciliationSearch.type" ng-disabled="vc.viewState.VA_TYPEJRKMHPCUARK_310939.disabled || vc.viewState.VA_TYPEJRKMHPCUARK_310939.disabledingroup" ng-show="vc.viewState.VA_TYPEJRKMHPCUARK_310939.visible" ng-readonly="vc.viewState.VA_TYPEJRKMHPCUARK_310939.readonly" ng-class="vc.viewState.VA_TYPEJRKMHPCUARK_310939.style" k-data-source="vc.catalogs.VA_TYPEJRKMHPCUARK_310939" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_TYPEJRKMHPCUARK_310939.template" data-cobis-group="GroupLayout,G_MANUALCNNO_948939,0" data-validation-code="{{vc.viewState.VA_TYPEJRKMHPCUARK_310939.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_CUSTOMERNAMEWZK_347939.visible"> 
          <div class="form-group" id="VA_CUSTOMERNAMEWZK_347939_DIV"> 
           <label for="VA_CUSTOMERNAMEWZK_347939" title="{{vc.viewState.VA_CUSTOMERNAMEWZK_347939.label|translate:vc.viewState.VA_CUSTOMERNAMEWZK_347939.labelArgs}}" ng-show="vc.viewState.VA_CUSTOMERNAMEWZK_347939.visible" class="control-label">{{vc.viewState.VA_CUSTOMERNAMEWZK_347939.label|translate:vc.viewState.VA_CUSTOMERNAMEWZK_347939.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_CUSTOMERNAMEWZK_347939" name="ConciliationSearch_customerName" type="text" class="form-control" ng-model="vc.model.ConciliationSearch.customerName" ng-disabled="vc.viewState.VA_CUSTOMERNAMEWZK_347939.disabled || vc.viewState.VA_CUSTOMERNAMEWZK_347939.disabledingroup" ng-show="vc.viewState.VA_CUSTOMERNAMEWZK_347939.visible" ng-readonly="vc.viewState.VA_CUSTOMERNAMEWZK_347939.readonly" ng-class="vc.viewState.VA_CUSTOMERNAMEWZK_347939.style" data-cobis-group="GroupLayout,G_MANUALCNNO_948939,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_CUSTOMERNAMEWZK_347939.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_PAYMENTRECEITDT_688939.visible"> 
          <div class="form-group" id="VA_PAYMENTRECEITDT_688939_DIV"> 
           <label for="VA_PAYMENTRECEITDT_688939" title="{{vc.viewState.VA_PAYMENTRECEITDT_688939.label|translate:vc.viewState.VA_PAYMENTRECEITDT_688939.labelArgs}}" ng-show="vc.viewState.VA_PAYMENTRECEITDT_688939.visible" class="control-label">{{vc.viewState.VA_PAYMENTRECEITDT_688939.label|translate:vc.viewState.VA_PAYMENTRECEITDT_688939.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_PAYMENTRECEITDT_688939" name="ConciliationSearch_paymentReceiptDate" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.ConciliationSearch.paymentReceiptDate" ng-model="vc.tmpModel.ConciliationSearch.paymentReceiptDate" ng-disabled="vc.viewState.VA_PAYMENTRECEITDT_688939.disabled || vc.viewState.VA_PAYMENTRECEITDT_688939.disabledingroup" ng-show="vc.viewState.VA_PAYMENTRECEITDT_688939.visible" ng-readonly="vc.viewState.VA_PAYMENTRECEITDT_688939.readonly" ng-class="vc.viewState.VA_PAYMENTRECEITDT_688939.style" data-cobis-group="GroupLayout,G_MANUALCNNO_948939,0" data-validation-code="{{vc.viewState.VA_PAYMENTRECEITDT_688939.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_PAYMENTRECEIAUO_271939.visible"> 
          <div class="form-group" id="VA_PAYMENTRECEIAUO_271939_DIV"> 
           <label for="VA_PAYMENTRECEIAUO_271939" title="{{vc.viewState.VA_PAYMENTRECEIAUO_271939.label|translate:vc.viewState.VA_PAYMENTRECEIAUO_271939.labelArgs}}" ng-show="vc.viewState.VA_PAYMENTRECEIAUO_271939.visible" class="control-label">{{vc.viewState.VA_PAYMENTRECEIAUO_271939.label|translate:vc.viewState.VA_PAYMENTRECEIAUO_271939.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_PAYMENTRECEIAUO_271939" name="ConciliationSearch_paymentReceiptAmount" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_PAYMENTRECEIAUO_271939.format" k-decimals="vc.viewState.VA_PAYMENTRECEIAUO_271939.decimals" k-ng-model="vc.model.ConciliationSearch.paymentReceiptAmount" ng-model="vc.tmpModel.ConciliationSearch.paymentReceiptAmount" ng-disabled="vc.viewState.VA_PAYMENTRECEIAUO_271939.disabled || vc.viewState.VA_PAYMENTRECEIAUO_271939.disabledingroup" ng-show="vc.viewState.VA_PAYMENTRECEIAUO_271939.visible" ng-readonly="vc.viewState.VA_PAYMENTRECEIAUO_271939.readonly" ng-class="vc.viewState.VA_PAYMENTRECEIAUO_271939.style" data-cobis-group="GroupLayout,G_MANUALCNNO_948939,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_PAYMENTRECEIAUO_271939.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_CONCILIATERMJGF_837939.visible"> 
          <div class="form-group" id="VA_CONCILIATERMJGF_837939_DIV"> 
           <label>&nbsp; </label> 
           <div class="cb-control"> 
            <div> 
             <label class="checkbox-inline"> <input id="VA_CONCILIATERMJGF_837939" name="ConciliationSearch_conciliate" type="checkbox" ng-model="vc.model.ConciliationSearch.conciliate" ng-disabled="vc.viewState.VA_CONCILIATERMJGF_837939.disabled || vc.viewState.VA_CONCILIATERMJGF_837939.disabledingroup" ng-show="vc.viewState.VA_CONCILIATERMJGF_837939.visible" ng-class="vc.viewState.VA_CONCILIATERMJGF_837939.style" /> <span ng-if="vc.viewState.VA_CONCILIATERMJGF_837939.visible"> {{vc.viewState.VA_CONCILIATERMJGF_837939.label|translate}} </span> </label> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_NOTCONCILIATOAN_739939.visible"> 
          <div class="form-group" id="VA_NOTCONCILIATOAN_739939_DIV"> 
           <label for="VA_NOTCONCILIATOAN_739939" title="{{vc.viewState.VA_NOTCONCILIATOAN_739939.label|translate:vc.viewState.VA_NOTCONCILIATOAN_739939.labelArgs}}" ng-show="vc.viewState.VA_NOTCONCILIATOAN_739939.visible" class="control-label">{{vc.viewState.VA_NOTCONCILIATOAN_739939.label|translate:vc.viewState.VA_NOTCONCILIATOAN_739939.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_NOTCONCILIATOAN_739939" name="ConciliationSearch_notConciliationReason" kendo-ext-combo-box="comboBox.VA_NOTCONCILIATOAN_739939" ng-model="vc.model.ConciliationSearch.notConciliationReason" ng-disabled="vc.viewState.VA_NOTCONCILIATOAN_739939.disabled || vc.viewState.VA_NOTCONCILIATOAN_739939.disabledingroup" ng-show="vc.viewState.VA_NOTCONCILIATOAN_739939.visible" ng-readonly="vc.viewState.VA_NOTCONCILIATOAN_739939.readonly" ng-class="vc.viewState.VA_NOTCONCILIATOAN_739939.style" k-data-source="vc.catalogs.VA_NOTCONCILIATOAN_739939" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_NOTCONCILIATOAN_739939.template" data-cobis-group="GroupLayout,G_MANUALCNNO_948939,0" data-validation-code="{{vc.viewState.VA_NOTCONCILIATOAN_739939.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_CONCILIATIONTDT_618939.visible"> 
          <div class="form-group" id="VA_CONCILIATIONTDT_618939_DIV"> 
           <label for="VA_CONCILIATIONTDT_618939" title="{{vc.viewState.VA_CONCILIATIONTDT_618939.label|translate:vc.viewState.VA_CONCILIATIONTDT_618939.labelArgs}}" ng-show="vc.viewState.VA_CONCILIATIONTDT_618939.visible" class="control-label">{{vc.viewState.VA_CONCILIATIONTDT_618939.label|translate:vc.viewState.VA_CONCILIATIONTDT_618939.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_CONCILIATIONTDT_618939" name="ConciliationSearch_conciliationDate" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.ConciliationSearch.conciliationDate" ng-model="vc.tmpModel.ConciliationSearch.conciliationDate" ng-disabled="vc.viewState.VA_CONCILIATIONTDT_618939.disabled || vc.viewState.VA_CONCILIATIONTDT_618939.disabledingroup" ng-show="vc.viewState.VA_CONCILIATIONTDT_618939.visible" ng-readonly="vc.viewState.VA_CONCILIATIONTDT_618939.readonly" ng-class="vc.viewState.VA_CONCILIATIONTDT_618939.style" data-cobis-group="GroupLayout,G_MANUALCNNO_948939,0" data-validation-code="{{vc.viewState.VA_CONCILIATIONTDT_618939.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_CONCILIATIONRRR_922939.visible"> 
          <div class="form-group" id="VA_CONCILIATIONRRR_922939_DIV"> 
           <label for="VA_CONCILIATIONRRR_922939" title="{{vc.viewState.VA_CONCILIATIONRRR_922939.label|translate:vc.viewState.VA_CONCILIATIONRRR_922939.labelArgs}}" ng-show="vc.viewState.VA_CONCILIATIONRRR_922939.visible" class="control-label">{{vc.viewState.VA_CONCILIATIONRRR_922939.label|translate:vc.viewState.VA_CONCILIATIONRRR_922939.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_CONCILIATIONRRR_922939" name="ConciliationSearch_conciliationUser" type="text" class="form-control" ng-model="vc.model.ConciliationSearch.conciliationUser" ng-disabled="vc.viewState.VA_CONCILIATIONRRR_922939.disabled || vc.viewState.VA_CONCILIATIONRRR_922939.disabledingroup" ng-show="vc.viewState.VA_CONCILIATIONRRR_922939.visible" ng-readonly="vc.viewState.VA_CONCILIATIONRRR_922939.readonly" ng-class="vc.viewState.VA_CONCILIATIONRRR_922939.style" data-cobis-group="GroupLayout,G_MANUALCNNO_948939,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_CONCILIATIONRRR_922939.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-12" ng-show="vc.viewState.VA_OBSERVATIONHGGT_420939.visible"> 
          <div class="form-group cb-required" id="VA_OBSERVATIONHGGT_420939_DIV"> 
           <label for="VA_OBSERVATIONHGGT_420939" title="{{vc.viewState.VA_OBSERVATIONHGGT_420939.label|translate:vc.viewState.VA_OBSERVATIONHGGT_420939.labelArgs}}" ng-show="vc.viewState.VA_OBSERVATIONHGGT_420939.visible" class="control-label">{{vc.viewState.VA_OBSERVATIONHGGT_420939.label|translate:vc.viewState.VA_OBSERVATIONHGGT_420939.labelArgs}}</label> 
           <div class="cb-control"> 
            <textarea id="VA_OBSERVATIONHGGT_420939" style="resize: none; width:100%" rows="4" name="ConciliationSearch_observation" type="text" class="form-control" ng-model="vc.model.ConciliationSearch.observation" ng-disabled="vc.viewState.VA_OBSERVATIONHGGT_420939.disabled || vc.viewState.VA_OBSERVATIONHGGT_420939.disabledingroup" ng-show="vc.viewState.VA_OBSERVATIONHGGT_420939.visible" ng-readonly="vc.viewState.VA_OBSERVATIONHGGT_420939.readonly" ng-class="vc.viewState.VA_OBSERVATIONHGGT_420939.style" data-cobis-group="GroupLayout,G_MANUALCNNO_948939,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_OBSERVATIONHGGT_420939.validationCode}}" data-required-msg="{{'ASSTS.MSG_ASSTS_ELCAMPOON_25357'|translate}}"></textarea> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_MANUALCOII_939--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc || !vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_TASSTSOD_AT8" ng-click="vc.executeCommand('CM_TASSTSOD_AT8','Command1', validator, true, false, 'VC_MANUALCOLT_571678', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_TASSTSOD_AT8.disabled || vc.viewState.CM_TASSTSOD_AT8.disabledingroup" ng-show="vc.viewState.CM_TASSTSOD_AT8.visible" ng-class="vc.viewState.CM_TASSTSOD_AT8.style"> {{vc.viewState.CM_TASSTSOD_AT8.label|translate}} </button> 
    <button id="CM_TASSTSOD_S4X" ng-click="vc.CRUDExecute('CM_TASSTSOD_S4X', validator, false, false, 'VC_MANUALCOLT_571678', false, true)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_TASSTSOD_S4X.disabled || vc.viewState.CM_TASSTSOD_S4X.disabledingroup" ng-show="vc.viewState.CM_TASSTSOD_S4X.visible" ng-class="vc.viewState.CM_TASSTSOD_S4X.style"> {{vc.viewState.CM_TASSTSOD_S4X.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_ASSTSODKKUGLX_678_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_MANUALCOLT_571678')" ng-disabled="vc.viewState.T_ASSTSODKKUGLX_678_ACCEPT.disabled || vc.viewState.T_ASSTSODKKUGLX_678_ACCEPT.disabledingroup" ng-show="vc.viewState.T_ASSTSODKKUGLX_678_ACCEPT.visible" ng-class="vc.viewState.T_ASSTSODKKUGLX_678_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_ASSTSODKKUGLX_678_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_ASSTSODKKUGLX_678_CANCEL.disabled || vc.viewState.T_ASSTSODKKUGLX_678_CANCEL.disabledingroup" ng-show="vc.viewState.T_ASSTSODKKUGLX_678_CANCEL.visible" ng-class="vc.viewState.T_ASSTSODKKUGLX_678_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>