base.url=http://192.168.64.240:9082/CTSProxy/services/resources/cobis/web/
security.login=rvergara
security.password=rvergara
security.role-id=3
security.office-id=1
branch.account-number=12121
branch.cash-value=100
branch.currency-code=0
branch.reference-number=123
branch.check-number=12
branch.check-value=90


