<!-- Designer Generator v 5.0.0.1626 - release SPR 2016-26 08/01/2016 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_MAMIE85_ETMAN_558" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_MAMIE85_ETMAN_558.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_MAMIE85_ETMAN_558" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="GR_OPRTMINNNG88_03" ng-class="vc.viewState.GR_OPRTMINNNG88_03.style" class="cb-group cb-group-collapsible"> 
    <ul id="GR_OPRTMINNNG88_03_VAL" kendo-panel-bar k-expand-mode="'multiple'" k-animation="false" kendo-validator="GR_OPRTMINNNG88_03" k-options="validatorOptions"> 
     <li id="GR_OPRTMINNNG88_04" ng-disabled="vc.viewState.GR_OPRTMINNNG88_04.disabled || vc.viewState.GR_OPRTMINNNG88_04.disabledingroup" ng-show="vc.viewState.GR_OPRTMINNNG88_04.visible" ng-class="vc.getCssClass('GR_OPRTMINNNG88_04', vc.viewState.GR_OPRTMINNNG88_04.style,
{'cb-group':true,'cb-group-simple':true,'k-state-active': !(vc.viewState.GR_OPRTMINNNG88_04.disabled || vc.viewState.GR_OPRTMINNNG88_04.disabledingroup)})"> <span ng-bind="vc.viewState.GR_OPRTMINNNG88_04.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.GR_OPRTMINNNG88_04.statusStyle.success, 'cb-validation-fail': vc.viewState.GR_OPRTMINNNG88_04.statusStyle.fail, 'cb-validation-none': vc.viewState.GR_OPRTMINNNG88_04.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.GR_OPRTMINNNG88_04.label|translate}}</span> 
      <div id="GR_OPRTMINNNG88_04_VAL" kendo-validator="GR_OPRTMINNNG88_04" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_OPRTMINNNG8804_PRID947.visible"> 
          <div class="form-group cb-required" id="VA_OPRTMINNNG8804_PRID947_DIV"> 
           <label for="VA_OPRTMINNNG8804_PRID947" title="{{vc.viewState.VA_OPRTMINNNG8804_PRID947.label|translate:vc.viewState.VA_OPRTMINNNG8804_PRID947.labelArgs}}" ng-show="vc.viewState.VA_OPRTMINNNG8804_PRID947.visible" class="control-label">{{vc.viewState.VA_OPRTMINNNG8804_PRID947.label|translate:vc.viewState.VA_OPRTMINNNG8804_PRID947.labelArgs}}</label> 
           <div title="{{vc.viewState.VA_OPRTMINNNG8804_PRID947.tooltip|translate}}" class="cb-control"> 
            <input id="VA_OPRTMINNNG8804_PRID947" name="VccProperties_proId" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_OPRTMINNNG8804_PRID947.decimals" k-format="vc.viewState.VA_OPRTMINNNG8804_PRID947.format" k-ng-model="vc.model.VccProperties.proId" ng-model="vc.tmpModel.VccProperties.proId" ng-disabled="vc.viewState.VA_OPRTMINNNG8804_PRID947.disabled || vc.viewState.VA_OPRTMINNNG8804_PRID947.disabledingroup" ng-show="vc.viewState.VA_OPRTMINNNG8804_PRID947.visible" ng-readonly="vc.viewState.VA_OPRTMINNNG8804_PRID947.readonly" ng-class="vc.viewState.VA_OPRTMINNNG8804_PRID947.style" data-cobis-group="CollapsibleLayout,GR_OPRTMINNNG88_03,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_OPRTMINNNG8804_PRID947.validationCode}}" data-required-msg="{{'LATFO.DLB_LATFO_IDRLTXGMO_15078'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_OPRTMINNNG8804_TODK089.visible"> 
          <div class="form-group" id="VA_OPRTMINNNG8804_TODK089_DIV"> 
           <label for="VA_OPRTMINNNG8804_TODK089" title="{{vc.viewState.VA_OPRTMINNNG8804_TODK089.label|translate:vc.viewState.VA_OPRTMINNNG8804_TODK089.labelArgs}}" ng-show="vc.viewState.VA_OPRTMINNNG8804_TODK089.visible" class="control-label">{{vc.viewState.VA_OPRTMINNNG8804_TODK089.label|translate:vc.viewState.VA_OPRTMINNNG8804_TODK089.labelArgs}}</label> 
           <div title="{{vc.viewState.VA_OPRTMINNNG8804_TODK089.tooltip|translate}}" class="cb-control"> 
            <input id="VA_OPRTMINNNG8804_TODK089" name="VccProperties_dtoId" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_OPRTMINNNG8804_TODK089.decimals" k-format="vc.viewState.VA_OPRTMINNNG8804_TODK089.format" k-ng-model="vc.model.VccProperties.dtoId" ng-model="vc.tmpModel.VccProperties.dtoId" ng-disabled="vc.viewState.VA_OPRTMINNNG8804_TODK089.disabled || vc.viewState.VA_OPRTMINNNG8804_TODK089.disabledingroup" ng-show="vc.viewState.VA_OPRTMINNNG8804_TODK089.visible" ng-readonly="vc.viewState.VA_OPRTMINNNG8804_TODK089.readonly" ng-class="vc.viewState.VA_OPRTMINNNG8804_TODK089.style" data-cobis-group="CollapsibleLayout,GR_OPRTMINNNG88_03,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_OPRTMINNNG8804_TODK089.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_OPRTMINNNG8804_PNAE594.visible"> 
          <div class="form-group cb-required" id="VA_OPRTMINNNG8804_PNAE594_DIV"> 
           <label for="VA_OPRTMINNNG8804_PNAE594" title="{{vc.viewState.VA_OPRTMINNNG8804_PNAE594.label|translate:vc.viewState.VA_OPRTMINNNG8804_PNAE594.labelArgs}}" ng-show="vc.viewState.VA_OPRTMINNNG8804_PNAE594.visible" class="control-label">{{vc.viewState.VA_OPRTMINNNG8804_PNAE594.label|translate:vc.viewState.VA_OPRTMINNNG8804_PNAE594.labelArgs}}</label> 
           <div title="{{vc.viewState.VA_OPRTMINNNG8804_PNAE594.tooltip|translate}}" class="cb-control"> 
            <input id="VA_OPRTMINNNG8804_PNAE594" name="VccProperties_name" maxlength="255" type="text" class="form-control" ng-model="vc.model.VccProperties.name" ng-disabled="vc.viewState.VA_OPRTMINNNG8804_PNAE594.disabled || vc.viewState.VA_OPRTMINNNG8804_PNAE594.disabledingroup" ng-show="vc.viewState.VA_OPRTMINNNG8804_PNAE594.visible" ng-readonly="vc.viewState.VA_OPRTMINNNG8804_PNAE594.readonly" ng-class="vc.viewState.VA_OPRTMINNNG8804_PNAE594.style" data-cobis-group="CollapsibleLayout,GR_OPRTMINNNG88_03,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_OPRTMINNNG8804_PNAE594.validationCode}}" data-required-msg="{{'LATFO.DLB_LATFO_NAMEIZCDT_71014'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_OPRTMINNNG8804_REXT518.visible"> 
          <div class="form-group cb-required" id="VA_OPRTMINNNG8804_REXT518_DIV"> 
           <label for="VA_OPRTMINNNG8804_REXT518" title="{{vc.viewState.VA_OPRTMINNNG8804_REXT518.label|translate:vc.viewState.VA_OPRTMINNNG8804_REXT518.labelArgs}}" ng-show="vc.viewState.VA_OPRTMINNNG8804_REXT518.visible" class="control-label">{{vc.viewState.VA_OPRTMINNNG8804_REXT518.label|translate:vc.viewState.VA_OPRTMINNNG8804_REXT518.labelArgs}}</label> 
           <div title="{{vc.viewState.VA_OPRTMINNNG8804_REXT518.tooltip|translate}}" class="cb-control"> 
            <input id="VA_OPRTMINNNG8804_REXT518" name="VccProperties_text" maxlength="255" type="text" class="form-control" ng-model="vc.model.VccProperties.text" ng-disabled="vc.viewState.VA_OPRTMINNNG8804_REXT518.disabled || vc.viewState.VA_OPRTMINNNG8804_REXT518.disabledingroup" ng-show="vc.viewState.VA_OPRTMINNNG8804_REXT518.visible" ng-readonly="vc.viewState.VA_OPRTMINNNG8804_REXT518.readonly" ng-class="vc.viewState.VA_OPRTMINNNG8804_REXT518.style" data-cobis-group="CollapsibleLayout,GR_OPRTMINNNG88_03,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_OPRTMINNNG8804_REXT518.validationCode}}" data-required-msg="{{'LATFO.DLB_LATFO_TEXTEJTZO_28884'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_OPRTMINNNG8804_PRWH113.visible"> 
          <div class="form-group cb-required" id="VA_OPRTMINNNG8804_PRWH113_DIV"> 
           <label for="VA_OPRTMINNNG8804_PRWH113" title="{{vc.viewState.VA_OPRTMINNNG8804_PRWH113.label|translate:vc.viewState.VA_OPRTMINNNG8804_PRWH113.labelArgs}}" ng-show="vc.viewState.VA_OPRTMINNNG8804_PRWH113.visible" class="control-label">{{vc.viewState.VA_OPRTMINNNG8804_PRWH113.label|translate:vc.viewState.VA_OPRTMINNNG8804_PRWH113.labelArgs}}</label> 
           <div title="{{vc.viewState.VA_OPRTMINNNG8804_PRWH113.tooltip|translate}}" class="cb-control"> 
            <div class="input-group"> 
             <input id="VA_OPRTMINNNG8804_PRWH113" name="VccProperties_width" maxlength="50" type="text" class="form-control" ng-model="vc.model.VccProperties.width" ng-disabled="vc.viewState.VA_OPRTMINNNG8804_PRWH113.disabled || vc.viewState.VA_OPRTMINNNG8804_PRWH113.disabledingroup" ng-show="vc.viewState.VA_OPRTMINNNG8804_PRWH113.visible" ng-readonly="vc.viewState.VA_OPRTMINNNG8804_PRWH113.readonly" ng-class="vc.viewState.VA_OPRTMINNNG8804_PRWH113.style" data-cobis-group="CollapsibleLayout,GR_OPRTMINNNG88_03,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_OPRTMINNNG8804_PRWH113.validationCode}}" data-required-msg="{{'LATFO.DLB_LATFO_WIDTHVRKO_55639'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
             <div class="input-group-addon" ng-bind="kendo.toString(vc.viewState.VA_OPRTMINNNG8804_PRWH113.suffix, '')"></div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_OPRTMINNNG8804_RTYE931.visible"> 
          <div class="form-group cb-required" id="VA_OPRTMINNNG8804_RTYE931_DIV"> 
           <label for="VA_OPRTMINNNG8804_RTYE931" title="{{vc.viewState.VA_OPRTMINNNG8804_RTYE931.label|translate:vc.viewState.VA_OPRTMINNNG8804_RTYE931.labelArgs}}" ng-show="vc.viewState.VA_OPRTMINNNG8804_RTYE931.visible" class="control-label">{{vc.viewState.VA_OPRTMINNNG8804_RTYE931.label|translate:vc.viewState.VA_OPRTMINNNG8804_RTYE931.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_OPRTMINNNG8804_RTYE931" name="VccProperties_type" kendo-ext-combo-box="comboBox.VA_OPRTMINNNG8804_RTYE931" ng-model="vc.model.VccProperties.type" ng-disabled="vc.viewState.VA_OPRTMINNNG8804_RTYE931.disabled || vc.viewState.VA_OPRTMINNNG8804_RTYE931.disabledingroup" ng-show="vc.viewState.VA_OPRTMINNNG8804_RTYE931.visible" ng-readonly="vc.viewState.VA_OPRTMINNNG8804_RTYE931.readonly" ng-class="vc.viewState.VA_OPRTMINNNG8804_RTYE931.style" placeholder="vc.getPlaceHolder()" k-data-source="vc.catalogs.VA_OPRTMINNNG8804_RTYE931" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_OPRTMINNNG8804_RTYE931.template" data-cobis-group="CollapsibleLayout,GR_OPRTMINNNG88_03,0" required data-validation-code="{{vc.viewState.VA_OPRTMINNNG8804_RTYE931.validationCode}}" data-required-msg="{{'LATFO.DLB_LATFO_TYPEXPCEV_52403'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_OPRTMINNNG8804_PORM136.visible"> 
          <div class="form-group" id="VA_OPRTMINNNG8804_PORM136_DIV"> 
           <label for="VA_OPRTMINNNG8804_PORM136" title="{{vc.viewState.VA_OPRTMINNNG8804_PORM136.label|translate:vc.viewState.VA_OPRTMINNNG8804_PORM136.labelArgs}}" ng-show="vc.viewState.VA_OPRTMINNNG8804_PORM136.visible" class="control-label">{{vc.viewState.VA_OPRTMINNNG8804_PORM136.label|translate:vc.viewState.VA_OPRTMINNNG8804_PORM136.labelArgs}}</label> 
           <div title="{{vc.viewState.VA_OPRTMINNNG8804_PORM136.tooltip|translate}}" class="cb-control"> 
            <input id="VA_OPRTMINNNG8804_PORM136" name="VccProperties_format" kendo-ext-combo-box="comboBox.VA_OPRTMINNNG8804_PORM136" ng-model="vc.model.VccProperties.format" ng-disabled="vc.viewState.VA_OPRTMINNNG8804_PORM136.disabled || vc.viewState.VA_OPRTMINNNG8804_PORM136.disabledingroup" ng-show="vc.viewState.VA_OPRTMINNNG8804_PORM136.visible" ng-readonly="vc.viewState.VA_OPRTMINNNG8804_PORM136.readonly" ng-class="vc.viewState.VA_OPRTMINNNG8804_PORM136.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_OPRTMINNNG8804_PORM136" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_OPRTMINNNG8804_PORM136.template" k-cascade-from="'VA_OPRTMINNNG8804_RTYE931'" data-cobis-group="CollapsibleLayout,GR_OPRTMINNNG88_03,0" data-validation-code="{{vc.viewState.VA_OPRTMINNNG8804_PORM136.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_OPRTMINNNG8804_PRTE227.visible"> 
          <div class="form-group" id="VA_OPRTMINNNG8804_PRTE227_DIV"> 
           <label for="VA_OPRTMINNNG8804_PRTE227" title="{{vc.viewState.VA_OPRTMINNNG8804_PRTE227.label|translate:vc.viewState.VA_OPRTMINNNG8804_PRTE227.labelArgs}}" ng-show="vc.viewState.VA_OPRTMINNNG8804_PRTE227.visible" class="control-label">{{vc.viewState.VA_OPRTMINNNG8804_PRTE227.label|translate:vc.viewState.VA_OPRTMINNNG8804_PRTE227.labelArgs}}</label> 
           <div title="{{vc.viewState.VA_OPRTMINNNG8804_PRTE227.tooltip|translate}}" class="cb-control"> 
            <input id="VA_OPRTMINNNG8804_PRTE227" name="VccProperties_style" kendo-ext-combo-box="comboBox.VA_OPRTMINNNG8804_PRTE227" ng-model="vc.model.VccProperties.style" ng-disabled="vc.viewState.VA_OPRTMINNNG8804_PRTE227.disabled || vc.viewState.VA_OPRTMINNNG8804_PRTE227.disabledingroup" ng-show="vc.viewState.VA_OPRTMINNNG8804_PRTE227.visible" ng-readonly="vc.viewState.VA_OPRTMINNNG8804_PRTE227.readonly" ng-class="vc.viewState.VA_OPRTMINNNG8804_PRTE227.style" k-data-source="vc.catalogs.VA_OPRTMINNNG8804_PRTE227" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_OPRTMINNNG8804_PRTE227.template" k-cascade-from="'VA_OPRTMINNNG8804_RTYE931'" data-cobis-group="CollapsibleLayout,GR_OPRTMINNNG88_03,0" data-validation-code="{{vc.viewState.VA_OPRTMINNNG8804_PRTE227.validationCode}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_OPRTMINNNG8804_ORER102.visible"> 
          <div class="form-group cb-required" id="VA_OPRTMINNNG8804_ORER102_DIV"> 
           <label for="VA_OPRTMINNNG8804_ORER102" title="{{vc.viewState.VA_OPRTMINNNG8804_ORER102.label|translate:vc.viewState.VA_OPRTMINNNG8804_ORER102.labelArgs}}" ng-show="vc.viewState.VA_OPRTMINNNG8804_ORER102.visible" class="control-label">{{vc.viewState.VA_OPRTMINNNG8804_ORER102.label|translate:vc.viewState.VA_OPRTMINNNG8804_ORER102.labelArgs}}</label> 
           <div title="{{vc.viewState.VA_OPRTMINNNG8804_ORER102.tooltip|translate}}" class="cb-control"> 
            <input id="VA_OPRTMINNNG8804_ORER102" name="VccProperties_order" maxlength="2" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_OPRTMINNNG8804_ORER102.decimals" k-format="vc.viewState.VA_OPRTMINNNG8804_ORER102.format" k-ng-model="vc.model.VccProperties.order" ng-model="vc.tmpModel.VccProperties.order" ng-disabled="vc.viewState.VA_OPRTMINNNG8804_ORER102.disabled || vc.viewState.VA_OPRTMINNNG8804_ORER102.disabledingroup" ng-show="vc.viewState.VA_OPRTMINNNG8804_ORER102.visible" ng-readonly="vc.viewState.VA_OPRTMINNNG8804_ORER102.readonly" ng-class="vc.viewState.VA_OPRTMINNNG8804_ORER102.style" data-cobis-group="CollapsibleLayout,GR_OPRTMINNNG88_03,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_OPRTMINNNG8804_ORER102.validationCode}}" data-required-msg="{{'LATFO.DLB_LATFO_ORDENXQSF_38775'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_OPRTMINNNG8804_PRAR996.visible"> 
          <div class="form-group cb-required" id="VA_OPRTMINNNG8804_PRAR996_DIV"> 
           <label>&nbsp; </label> 
           <div title="{{vc.viewState.VA_OPRTMINNNG8804_PRAR996.tooltip|translate}}" class="cb-control"> 
            <div> 
             <label class="checkbox-inline"> <input id="VA_OPRTMINNNG8804_PRAR996" name="VccProperties_primaryKey" type="checkbox" ng-model="vc.model.VccProperties.primaryKey" ng-disabled="vc.viewState.VA_OPRTMINNNG8804_PRAR996.disabled || vc.viewState.VA_OPRTMINNNG8804_PRAR996.disabledingroup" ng-show="vc.viewState.VA_OPRTMINNNG8804_PRAR996.visible" ng-class="vc.viewState.VA_OPRTMINNNG8804_PRAR996.style" /> <span ng-if="vc.viewState.VA_OPRTMINNNG8804_PRAR996.visible"> {{vc.viewState.VA_OPRTMINNNG8804_PRAR996.label|translate}} </span> </label> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_OPRTMINNNG8804_GRUI869.visible"> 
          <div class="form-group cb-required" id="VA_OPRTMINNNG8804_GRUI869_DIV"> 
           <label>&nbsp; </label> 
           <div title="{{vc.viewState.VA_OPRTMINNNG8804_GRUI869.tooltip|translate}}" class="cb-control"> 
            <div> 
             <label class="checkbox-inline"> <input id="VA_OPRTMINNNG8804_GRUI869" name="VccProperties_grouping" type="checkbox" ng-model="vc.model.VccProperties.grouping" ng-disabled="vc.viewState.VA_OPRTMINNNG8804_GRUI869.disabled || vc.viewState.VA_OPRTMINNNG8804_GRUI869.disabledingroup" ng-show="vc.viewState.VA_OPRTMINNNG8804_GRUI869.visible" ng-class="vc.viewState.VA_OPRTMINNNG8804_GRUI869.style" /> <span ng-if="vc.viewState.VA_OPRTMINNNG8804_GRUI869.visible"> {{vc.viewState.VA_OPRTMINNNG8804_GRUI869.label|translate}} </span> </label> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_OPRTMINNNG8804_PASN358.visible"> 
          <div class="form-group cb-required" id="VA_OPRTMINNNG8804_PASN358_DIV"> 
           <label>&nbsp; </label> 
           <div title="{{vc.viewState.VA_OPRTMINNNG8804_PASN358.tooltip|translate}}" class="cb-control"> 
            <div> 
             <label class="checkbox-inline"> <input id="VA_OPRTMINNNG8804_PASN358" name="VccProperties_detailSection" type="checkbox" ng-model="vc.model.VccProperties.detailSection" ng-disabled="vc.viewState.VA_OPRTMINNNG8804_PASN358.disabled || vc.viewState.VA_OPRTMINNNG8804_PASN358.disabledingroup" ng-show="vc.viewState.VA_OPRTMINNNG8804_PASN358.visible" ng-class="vc.viewState.VA_OPRTMINNNG8804_PASN358.style" /> <span ng-if="vc.viewState.VA_OPRTMINNNG8804_PASN358.visible"> {{vc.viewState.VA_OPRTMINNNG8804_PASN358.label|translate}} </span> </label> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_OPRTMINNNG8804_PIBE564.visible"> 
          <div class="form-group cb-required" id="VA_OPRTMINNNG8804_PIBE564_DIV"> 
           <label>&nbsp; </label> 
           <div title="{{vc.viewState.VA_OPRTMINNNG8804_PIBE564.tooltip|translate}}" class="cb-control"> 
            <div> 
             <label class="checkbox-inline"> <input id="VA_OPRTMINNNG8804_PIBE564" name="VccProperties_visibleSumaryDetail" type="checkbox" ng-model="vc.model.VccProperties.visibleSumaryDetail" ng-disabled="vc.viewState.VA_OPRTMINNNG8804_PIBE564.disabled || vc.viewState.VA_OPRTMINNNG8804_PIBE564.disabledingroup" ng-show="vc.viewState.VA_OPRTMINNNG8804_PIBE564.visible" ng-class="vc.viewState.VA_OPRTMINNNG8804_PIBE564.style" /> <span ng-if="vc.viewState.VA_OPRTMINNNG8804_PIBE564.visible"> {{vc.viewState.VA_OPRTMINNNG8804_PIBE564.label|translate}} </span> </label> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_OPRTMINNNG8804_PISO681.visible"> 
          <div class="form-group cb-required" id="VA_OPRTMINNNG8804_PISO681_DIV"> 
           <label>&nbsp; </label> 
           <div title="{{vc.viewState.VA_OPRTMINNNG8804_PISO681.tooltip|translate}}" class="cb-control"> 
            <div> 
             <label class="checkbox-inline"> <input id="VA_OPRTMINNNG8804_PISO681" name="VccProperties_visibleSumaryGroup" type="checkbox" ng-model="vc.model.VccProperties.visibleSumaryGroup" ng-disabled="vc.viewState.VA_OPRTMINNNG8804_PISO681.disabled || vc.viewState.VA_OPRTMINNNG8804_PISO681.disabledingroup" ng-show="vc.viewState.VA_OPRTMINNNG8804_PISO681.visible" ng-class="vc.viewState.VA_OPRTMINNNG8804_PISO681.style" /> <span ng-if="vc.viewState.VA_OPRTMINNNG8804_PISO681.visible"> {{vc.viewState.VA_OPRTMINNNG8804_PISO681.label|translate}} </span> </label> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_OPRTMINNNG8804_FNOS372.visible"> 
          <div class="form-group cb-required" id="VA_OPRTMINNNG8804_FNOS372_DIV"> 
           <label>&nbsp; </label> 
           <div title="{{vc.viewState.VA_OPRTMINNNG8804_FNOS372.tooltip|translate}}" class="cb-control"> 
            <div> 
             <label class="checkbox-inline"> <input id="VA_OPRTMINNNG8804_FNOS372" name="VccProperties_filterInProcess" type="checkbox" ng-model="vc.model.VccProperties.filterInProcess" ng-disabled="vc.viewState.VA_OPRTMINNNG8804_FNOS372.disabled || vc.viewState.VA_OPRTMINNNG8804_FNOS372.disabledingroup" ng-show="vc.viewState.VA_OPRTMINNNG8804_FNOS372.visible" ng-class="vc.viewState.VA_OPRTMINNNG8804_FNOS372.style" /> <span ng-if="vc.viewState.VA_OPRTMINNNG8804_FNOS372.visible"> {{vc.viewState.VA_OPRTMINNNG8804_FNOS372.label|translate}} </span> </label> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> </li> 
    </ul> 
   </div> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_MAMIE85CET66" ng-click="vc.executeCommand('CM_MAMIE85CET66','Aceptar', validator, true, false, 'VC_MAMIE85_ETMAN_558', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_MAMIE85CET66.disabled || vc.viewState.CM_MAMIE85CET66.disabledingroup" ng-show="vc.viewState.CM_MAMIE85CET66.visible" ng-class="vc.viewState.CM_MAMIE85CET66.style"> {{vc.viewState.CM_MAMIE85CET66.label|translate}} </button> 
    <button id="CM_MAMIE85CLR24" ng-click="vc.executeCommand('CM_MAMIE85CLR24','Cancelar', validator, false, false, 'VC_MAMIE85_ETMAN_558', true)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_MAMIE85CLR24.disabled || vc.viewState.CM_MAMIE85CLR24.disabledingroup" ng-show="vc.viewState.CM_MAMIE85CLR24.visible" ng-class="vc.viewState.CM_MAMIE85CLR24.style"> {{vc.viewState.CM_MAMIE85CLR24.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_UCSPM_03_MAMIE85_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_MAMIE85_ETMAN_558')" ng-disabled="vc.viewState.T_UCSPM_03_MAMIE85_ACCEPT.disabled || vc.viewState.T_UCSPM_03_MAMIE85_ACCEPT.disabledingroup" ng-show="vc.viewState.T_UCSPM_03_MAMIE85_ACCEPT.visible" ng-class="vc.viewState.T_UCSPM_03_MAMIE85_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_UCSPM_03_MAMIE85_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_UCSPM_03_MAMIE85_CANCEL.disabled || vc.viewState.T_UCSPM_03_MAMIE85_CANCEL.disabledingroup" ng-show="vc.viewState.T_UCSPM_03_MAMIE85_CANCEL.visible" ng-class="vc.viewState.T_UCSPM_03_MAMIE85_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>