<!-- Designer Generator v 5.0.0.1626 - release SPR 2016-26 08/01/2016 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_MAMIE85_TIETT_934" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_MAMIE85_TIETT_934.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_MAMIE85_TIETT_934" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="GR_PROPIDADES79_04" ng-class="vc.viewState.GR_PROPIDADES79_04.style" class="cb-group cb-group-collapsible"> 
    <ul id="GR_PROPIDADES79_04_VAL" kendo-panel-bar k-expand-mode="'multiple'" k-animation="false" kendo-validator="GR_PROPIDADES79_04" k-options="validatorOptions"> 
     <li id="GR_PROPIDADES79_05" ng-disabled="vc.viewState.GR_PROPIDADES79_05.disabled || vc.viewState.GR_PROPIDADES79_05.disabledingroup" ng-show="vc.viewState.GR_PROPIDADES79_05.visible" ng-class="vc.getCssClass('GR_PROPIDADES79_05', vc.viewState.GR_PROPIDADES79_05.style,
{'cb-group':true,'cb-group-simple':true,'k-state-active': !(vc.viewState.GR_PROPIDADES79_05.disabled || vc.viewState.GR_PROPIDADES79_05.disabledingroup)})"> <span ng-bind="vc.viewState.GR_PROPIDADES79_05.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.GR_PROPIDADES79_05.statusStyle.success, 'cb-validation-fail': vc.viewState.GR_PROPIDADES79_05.statusStyle.fail, 'cb-validation-none': vc.viewState.GR_PROPIDADES79_05.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.GR_PROPIDADES79_05.label|translate}}</span> 
      <div id="GR_PROPIDADES79_05_VAL" kendo-validator="GR_PROPIDADES79_05" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_PROPIDADES7905_DTOI169.visible"> 
          <div class="form-group cb-required" id="VA_PROPIDADES7905_DTOI169_DIV"> 
           <label for="VA_PROPIDADES7905_DTOI169" title="{{vc.viewState.VA_PROPIDADES7905_DTOI169.label|translate:vc.viewState.VA_PROPIDADES7905_DTOI169.labelArgs}}" ng-show="vc.viewState.VA_PROPIDADES7905_DTOI169.visible" class="control-label">{{vc.viewState.VA_PROPIDADES7905_DTOI169.label|translate:vc.viewState.VA_PROPIDADES7905_DTOI169.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_PROPIDADES7905_DTOI169" name="DTOS_dtoId" maxlength="10" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_PROPIDADES7905_DTOI169.decimals" k-format="vc.viewState.VA_PROPIDADES7905_DTOI169.format" k-ng-model="vc.model.DTOS.dtoId" ng-model="vc.tmpModel.DTOS.dtoId" ng-disabled="vc.viewState.VA_PROPIDADES7905_DTOI169.disabled || vc.viewState.VA_PROPIDADES7905_DTOI169.disabledingroup" ng-show="vc.viewState.VA_PROPIDADES7905_DTOI169.visible" ng-readonly="vc.viewState.VA_PROPIDADES7905_DTOI169.readonly" ng-class="vc.viewState.VA_PROPIDADES7905_DTOI169.style" data-cobis-group="CollapsibleLayout,GR_PROPIDADES79_04,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_PROPIDADES7905_DTOI169.validationCode}}" data-required-msg="{{'LATFO.DLB_LATFO_IDRLTXGMO_15078'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_PROPIDADES7905_IDFK413.visible"> 
          <div class="form-group cb-required" id="VA_PROPIDADES7905_IDFK413_DIV"> 
           <label for="VA_PROPIDADES7905_IDFK413" title="{{vc.viewState.VA_PROPIDADES7905_IDFK413.label|translate:vc.viewState.VA_PROPIDADES7905_IDFK413.labelArgs}}" ng-show="vc.viewState.VA_PROPIDADES7905_IDFK413.visible" class="control-label">{{vc.viewState.VA_PROPIDADES7905_IDFK413.label|translate:vc.viewState.VA_PROPIDADES7905_IDFK413.labelArgs}}</label> 
           <div class="cb-control"> 
            <div class="input-group"> 
             <input id="VA_PROPIDADES7905_IDFK413" name="DTOS_serIdFk" maxlength="255" type="text" class="form-control" ng-model="vc.model.DTOS.serIdFk" ng-disabled="vc.viewState.VA_PROPIDADES7905_IDFK413.disabled || vc.viewState.VA_PROPIDADES7905_IDFK413.disabledingroup" ng-show="vc.viewState.VA_PROPIDADES7905_IDFK413.visible" ng-readonly="vc.viewState.VA_PROPIDADES7905_IDFK413.readonly" ng-class="vc.viewState.VA_PROPIDADES7905_IDFK413.style" data-cobis-group="CollapsibleLayout,GR_PROPIDADES79_04,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_PROPIDADES7905_IDFK413.validationCode}}" data-required-msg="{{'LATFO.DLB_LATFO_SERVICEVS_78854'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
             <div class="input-group-btn"> 
              <button class="btn btn-default btn-block" ng-click="vc.clickTextInputButton('VA_PROPIDADES7905_IDFK413')" ng-disabled="vc.viewState.VA_PROPIDADES7905_IDFK413.disabled || vc.viewState.VA_PROPIDADES7905_IDFK413.disabledingroup" ng-show="vc.viewState.VA_PROPIDADES7905_IDFK413.visible" ng-class="vc.viewState.VA_PROPIDADES7905_IDFK413.style"> <span class="glyphicon glyphicon-align-justify"></span> </button> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_PROPIDADES7905_NNIC819.visible"> 
          <div class="form-group cb-required" id="VA_PROPIDADES7905_NNIC819_DIV"> 
           <label for="VA_PROPIDADES7905_NNIC819" title="{{vc.viewState.VA_PROPIDADES7905_NNIC819.label|translate:vc.viewState.VA_PROPIDADES7905_NNIC819.labelArgs}}" ng-show="vc.viewState.VA_PROPIDADES7905_NNIC819.visible" class="control-label">{{vc.viewState.VA_PROPIDADES7905_NNIC819.label|translate:vc.viewState.VA_PROPIDADES7905_NNIC819.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_PROPIDADES7905_NNIC819" name="DTOS_mnemonic" maxlength="50" type="text" class="form-control" ng-model="vc.model.DTOS.mnemonic" ng-disabled="vc.viewState.VA_PROPIDADES7905_NNIC819.disabled || vc.viewState.VA_PROPIDADES7905_NNIC819.disabledingroup" ng-show="vc.viewState.VA_PROPIDADES7905_NNIC819.visible" ng-readonly="vc.viewState.VA_PROPIDADES7905_NNIC819.readonly" ng-class="vc.viewState.VA_PROPIDADES7905_NNIC819.style" data-cobis-group="CollapsibleLayout,GR_PROPIDADES79_04,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_PROPIDADES7905_NNIC819.validationCode}}" data-required-msg="{{'LATFO.DLB_LATFO_NEMNICOIC_77766'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_PROPIDADES7905_ONAE584.visible"> 
          <div class="form-group cb-required" id="VA_PROPIDADES7905_ONAE584_DIV"> 
           <label for="VA_PROPIDADES7905_ONAE584" title="{{vc.viewState.VA_PROPIDADES7905_ONAE584.label|translate:vc.viewState.VA_PROPIDADES7905_ONAE584.labelArgs}}" ng-show="vc.viewState.VA_PROPIDADES7905_ONAE584.visible" class="control-label">{{vc.viewState.VA_PROPIDADES7905_ONAE584.label|translate:vc.viewState.VA_PROPIDADES7905_ONAE584.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_PROPIDADES7905_ONAE584" name="DTOS_name" maxlength="255" type="text" class="form-control" ng-model="vc.model.DTOS.name" ng-disabled="vc.viewState.VA_PROPIDADES7905_ONAE584.disabled || vc.viewState.VA_PROPIDADES7905_ONAE584.disabledingroup" ng-show="vc.viewState.VA_PROPIDADES7905_ONAE584.visible" ng-readonly="vc.viewState.VA_PROPIDADES7905_ONAE584.readonly" ng-class="vc.viewState.VA_PROPIDADES7905_ONAE584.style" data-cobis-group="CollapsibleLayout,GR_PROPIDADES79_04,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_PROPIDADES7905_ONAE584.validationCode}}" data-required-msg="{{'LATFO.DLB_LATFO_NOMBREZKS_99987'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_PROPIDADES7905_DOET544.visible"> 
          <div class="form-group cb-required" id="VA_PROPIDADES7905_DOET544_DIV"> 
           <label for="VA_PROPIDADES7905_DOET544" title="{{vc.viewState.VA_PROPIDADES7905_DOET544.label|translate:vc.viewState.VA_PROPIDADES7905_DOET544.labelArgs}}" ng-show="vc.viewState.VA_PROPIDADES7905_DOET544.visible" class="control-label">{{vc.viewState.VA_PROPIDADES7905_DOET544.label|translate:vc.viewState.VA_PROPIDADES7905_DOET544.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_PROPIDADES7905_DOET544" name="DTOS_text" maxlength="255" type="text" class="form-control" ng-model="vc.model.DTOS.text" ng-disabled="vc.viewState.VA_PROPIDADES7905_DOET544.disabled || vc.viewState.VA_PROPIDADES7905_DOET544.disabledingroup" ng-show="vc.viewState.VA_PROPIDADES7905_DOET544.visible" ng-readonly="vc.viewState.VA_PROPIDADES7905_DOET544.readonly" ng-class="vc.viewState.VA_PROPIDADES7905_DOET544.style" data-cobis-group="CollapsibleLayout,GR_PROPIDADES79_04,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_PROPIDADES7905_DOET544.validationCode}}" data-required-msg="{{'LATFO.DLB_LATFO_ETIQUETAX_59182'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_PROPIDADES7905_TEIT556.visible"> 
          <div class="form-group cb-required" id="VA_PROPIDADES7905_TEIT556_DIV"> 
           <label for="VA_PROPIDADES7905_TEIT556" title="{{vc.viewState.VA_PROPIDADES7905_TEIT556.label|translate:vc.viewState.VA_PROPIDADES7905_TEIT556.labelArgs}}" ng-show="vc.viewState.VA_PROPIDADES7905_TEIT556.visible" class="control-label">{{vc.viewState.VA_PROPIDADES7905_TEIT556.label|translate:vc.viewState.VA_PROPIDADES7905_TEIT556.labelArgs}}</label> 
           <div class="cb-control"> 
            <textarea id="VA_PROPIDADES7905_TEIT556" style="resize: none; width:100%" rows="3" name="DTOS_description" maxlength="255" type="text" class="form-control" ng-model="vc.model.DTOS.description" ng-disabled="vc.viewState.VA_PROPIDADES7905_TEIT556.disabled || vc.viewState.VA_PROPIDADES7905_TEIT556.disabledingroup" ng-show="vc.viewState.VA_PROPIDADES7905_TEIT556.visible" ng-readonly="vc.viewState.VA_PROPIDADES7905_TEIT556.readonly" ng-class="vc.viewState.VA_PROPIDADES7905_TEIT556.style" data-cobis-group="CollapsibleLayout,GR_PROPIDADES79_04,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_PROPIDADES7905_TEIT556.validationCode}}" data-required-msg="{{'LATFO.DLB_LATFO_DESCRICIN_61951'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}"></textarea> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_PROPIDADES7905_DAET661.visible"> 
          <div class="form-group" id="VA_PROPIDADES7905_DAET661_DIV"> 
           <label for="VA_PROPIDADES7905_DAET661" title="{{vc.viewState.VA_PROPIDADES7905_DAET661.label|translate:vc.viewState.VA_PROPIDADES7905_DAET661.labelArgs}}" ng-show="vc.viewState.VA_PROPIDADES7905_DAET661.visible" class="control-label">{{vc.viewState.VA_PROPIDADES7905_DAET661.label|translate:vc.viewState.VA_PROPIDADES7905_DAET661.labelArgs}}</label> 
           <div class="cb-control"> 
            <div class="input-group"> 
             <input id="VA_PROPIDADES7905_DAET661" name="DTOS_parentName" maxlength="50" type="text" class="form-control" ng-model="vc.model.DTOS.parentName" ng-disabled="vc.viewState.VA_PROPIDADES7905_DAET661.disabled || vc.viewState.VA_PROPIDADES7905_DAET661.disabledingroup" ng-show="vc.viewState.VA_PROPIDADES7905_DAET661.visible" ng-readonly="vc.viewState.VA_PROPIDADES7905_DAET661.readonly" ng-class="vc.viewState.VA_PROPIDADES7905_DAET661.style" data-cobis-group="CollapsibleLayout,GR_PROPIDADES79_04,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_PROPIDADES7905_DAET661.validationCode}}" /> 
             <div class="input-group-btn"> 
              <button class="btn btn-default btn-block" ng-click="vc.clickTextInputButton('VA_PROPIDADES7905_DAET661')" ng-disabled="vc.viewState.VA_PROPIDADES7905_DAET661.disabled || vc.viewState.VA_PROPIDADES7905_DAET661.disabledingroup" ng-show="vc.viewState.VA_PROPIDADES7905_DAET661.visible" ng-class="vc.viewState.VA_PROPIDADES7905_DAET661.style"> <span class="glyphicon glyphicon-align-justify"></span> </button> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_PROPIDADES7905_ILIS392.visible"> 
          <div class="form-group" id="VA_PROPIDADES7905_ILIS392_DIV"> 
           <label>&nbsp; </label> 
           <div class="cb-control"> 
            <div> 
             <label class="checkbox-inline"> <input id="VA_PROPIDADES7905_ILIS392" name="DTOS_isList" type="checkbox" ng-model="vc.model.DTOS.isList" ng-disabled="vc.viewState.VA_PROPIDADES7905_ILIS392.disabled || vc.viewState.VA_PROPIDADES7905_ILIS392.disabledingroup" ng-show="vc.viewState.VA_PROPIDADES7905_ILIS392.visible" ng-class="vc.viewState.VA_PROPIDADES7905_ILIS392.style" /> <span ng-if="vc.viewState.VA_PROPIDADES7905_ILIS392.visible"> {{vc.viewState.VA_PROPIDADES7905_ILIS392.label|translate}} </span> </label> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_PROPIDADES7905_DRER357.visible"> 
          <div class="form-group cb-required" id="VA_PROPIDADES7905_DRER357_DIV"> 
           <label for="VA_PROPIDADES7905_DRER357" title="{{vc.viewState.VA_PROPIDADES7905_DRER357.label|translate:vc.viewState.VA_PROPIDADES7905_DRER357.labelArgs}}" ng-show="vc.viewState.VA_PROPIDADES7905_DRER357.visible" class="control-label">{{vc.viewState.VA_PROPIDADES7905_DRER357.label|translate:vc.viewState.VA_PROPIDADES7905_DRER357.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_PROPIDADES7905_DRER357" name="DTOS_order" maxlength="50" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_PROPIDADES7905_DRER357.decimals" k-format="vc.viewState.VA_PROPIDADES7905_DRER357.format" k-ng-model="vc.model.DTOS.order" ng-model="vc.tmpModel.DTOS.order" ng-disabled="vc.viewState.VA_PROPIDADES7905_DRER357.disabled || vc.viewState.VA_PROPIDADES7905_DRER357.disabledingroup" ng-show="vc.viewState.VA_PROPIDADES7905_DRER357.visible" ng-readonly="vc.viewState.VA_PROPIDADES7905_DRER357.readonly" ng-class="vc.viewState.VA_PROPIDADES7905_DRER357.style" data-cobis-group="CollapsibleLayout,GR_PROPIDADES79_04,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_PROPIDADES7905_DRER357.validationCode}}" data-required-msg="{{'LATFO.DLB_LATFO_ORDENXQSF_38775'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> </li> 
     <li id="GR_PROPIDADES79_06" ng-disabled="vc.viewState.GR_PROPIDADES79_06.disabled || vc.viewState.GR_PROPIDADES79_06.disabledingroup" ng-show="vc.viewState.GR_PROPIDADES79_06.visible" ng-class="vc.getCssClass('GR_PROPIDADES79_06', vc.viewState.GR_PROPIDADES79_06.style,
{'cb-group':true,'cb-group-simple':true,'k-state-active': !(vc.viewState.GR_PROPIDADES79_06.disabled || vc.viewState.GR_PROPIDADES79_06.disabledingroup)})"> <span ng-bind="vc.viewState.GR_PROPIDADES79_06.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.GR_PROPIDADES79_06.statusStyle.success, 'cb-validation-fail': vc.viewState.GR_PROPIDADES79_06.statusStyle.fail, 'cb-validation-none': vc.viewState.GR_PROPIDADES79_06.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.GR_PROPIDADES79_06.label|translate}}</span> 
      <div id="GR_PROPIDADES79_06_VAL" kendo-validator="GR_PROPIDADES79_06" k-options="validatorOptions"> 
       <div id="QV_CPROP6239_58" kendo-ext-grid="grids.QV_CPROP6239_58" k-data-source="vc.model.VccProperties" k-column-menu="false" k-sortable="false" k-pageable="{refresh: false, pageSizes: false, buttonCount: 5}" k-editable="vc.viewState.GR_PROPIDADES79_06.disabled?false:'inline'" k-toolbar="vc.grids.QV_CPROP6239_58.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="true" k-change="vc.grids.QV_CPROP6239_58.events.change" k-data-bound="vc.grids.QV_CPROP6239_58.events.dataBound" k-columns="vc.grids.QV_CPROP6239_58.columns" k-cancel="vc.grids.QV_CPROP6239_58.events.cancel" k-edit="vc.grids.QV_CPROP6239_58.events.edit" ng-class="vc.viewState.QV_CPROP6239_58.style" k-ng-delay="vc.afterInitData"></div> 
      </div> </li> 
    </ul> 
   </div> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_MAMIE85CET66" ng-click="vc.executeCommand('CM_MAMIE85CET66','Aceptar', validator, true, false, 'VC_MAMIE85_TIETT_934', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_MAMIE85CET66.disabled || vc.viewState.CM_MAMIE85CET66.disabledingroup" ng-show="vc.viewState.CM_MAMIE85CET66.visible" ng-class="vc.viewState.CM_MAMIE85CET66.style"> {{vc.viewState.CM_MAMIE85CET66.label|translate}} </button> 
    <button id="CM_MAMIE85CLR24" ng-click="vc.executeCommand('CM_MAMIE85CLR24','Cancelar', validator, false, false, 'VC_MAMIE85_TIETT_934', true)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_MAMIE85CLR24.disabled || vc.viewState.CM_MAMIE85CLR24.disabledingroup" ng-show="vc.viewState.CM_MAMIE85CLR24.visible" ng-class="vc.viewState.CM_MAMIE85CLR24.style"> {{vc.viewState.CM_MAMIE85CLR24.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_UCSPM_03_MAMIE85_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_MAMIE85_TIETT_934')" ng-disabled="vc.viewState.T_UCSPM_03_MAMIE85_ACCEPT.disabled || vc.viewState.T_UCSPM_03_MAMIE85_ACCEPT.disabledingroup" ng-show="vc.viewState.T_UCSPM_03_MAMIE85_ACCEPT.visible" ng-class="vc.viewState.T_UCSPM_03_MAMIE85_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_UCSPM_03_MAMIE85_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_UCSPM_03_MAMIE85_CANCEL.disabled || vc.viewState.T_UCSPM_03_MAMIE85_CANCEL.disabledingroup" ng-show="vc.viewState.T_UCSPM_03_MAMIE85_CANCEL.visible" ng-class="vc.viewState.T_UCSPM_03_MAMIE85_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>