<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="COBISCorp.tCOBIS.BClientes" version="4.0.0.0" targetFramework="net40" />
  <package id="COBISCorp.tCOBIS.REC" version="0.0.0.0" targetFramework="net40" />
  <package id="Interop.CopiaDir" version="1.0.0.0" targetFramework="net40" />
  <package id="Interop.Excel" version="1.5.0.0" targetFramework="net40" />
</packages>