<!-- Development by Designer Generator v 1.7.0 - release ART 7.2 05/09/2014 -->
<!---->
<html>
 <head></head>
 <body>
  <div id="validator" kendo-validator="validator" k-options="validatorOptions"> 
   <div class="ds-content"> 
    <ul id="VC_IATSK55_AMORN_425" kendo-panel-bar class="cb-collapsible" k-expand-mode="'multiple'" k-animation="false"> 
     <li id="VC_IATSK55_OPTND_119" class="k-state-active" ng-show="vc.viewState.VC_IATSK55_OPTND_119.visible"> {{'BUSIN.DLB_BUSIN_EATIONDAA_74861'|translate}} 
      <div> 
       <div kendo-validator="VC_IATSK55_OPTND_119" k-options="validatorOptions" id="VC_IATSK55_OPTND_119_VAL"> 
        <div id="VC_IATSK55_OPTND_119"> 
         <div ng-class="{container: !vc.isModal(this)}"> 
          <div ng-show="vc.viewState.GR_SALMORTZAN47_02.visible"> 
           <div kendo-validator="GR_SALMORTZAN47_02" k-options="validatorOptions" id="GR_SALMORTZAN47_02_VAL"> 
            <div class="row headerSection"> 
             <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-show="vc.viewState.VA_SALMORTZAN4702_ACON145.visible"> 
              <div class="form-group" id="VA_SALMORTZAN4702_ACON145_DIV"> 
               <label for="VA_SALMORTZAN4702_ACON145" ng-show="vc.viewState.VA_SALMORTZAN4702_ACON145.visible" class="control-label required" translate>BUSIN.DLB_BUSIN_OPEANTYPE_43005</label> 
               <input id="VA_SALMORTZAN4702_ACON145" name="DatosGeneralesOperacion_Operation" maxlength="24" type="text" class="form-control" ng-model="vc.model.DatosGeneralesOperacion.Operation" ng-disabled="vc.viewState.VA_SALMORTZAN4702_ACON145.disabled || vc.viewState.VA_SALMORTZAN4702_ACON145.disabledingroup" ng-show="vc.viewState.VA_SALMORTZAN4702_ACON145.visible" ng-readonly="vc.viewState.VA_SALMORTZAN4702_ACON145.readonly" data-cobis-group="Group,GR_SALMORTZAN47_03,0" ng-model-onblur required designer-change data-required-msg="{{'BUSIN.DLB_BUSIN_OPEANTYPE_43005'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
              </div> 
             </div> 
             <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-show="vc.viewState.VA_SALMORTZAN4702_ANYP378.visible"> 
              <div class="form-group" id="VA_SALMORTZAN4702_ANYP378_DIV"> 
               <label for="VA_SALMORTZAN4702_ANYP378" ng-show="vc.viewState.VA_SALMORTZAN4702_ANYP378.visible" class="control-label required" translate>BUSIN.DLB_BUSIN_PROUCTTPE_88016</label> 
               <input id="VA_SALMORTZAN4702_ANYP378" name="DatosGeneralesOperacion_OperationType" kendo-ext-combo-box ng-model="vc.model.DatosGeneralesOperacion.OperationType" ng-disabled="vc.viewState.VA_SALMORTZAN4702_ANYP378.disabled || vc.viewState.VA_SALMORTZAN4702_ANYP378.disabledingroup" ng-show="vc.viewState.VA_SALMORTZAN4702_ANYP378.visible" ng-readonly="vc.viewState.VA_SALMORTZAN4702_ANYP378.readonly" k-auto-bind="false" placeholder="{{'DSGNR.SYS_DSGNR_MSGSELECT_00033'|translate}}" k-data-source="vc.catalogs.VA_SALMORTZAN4702_ANYP378" k-data-text-field="'value'" k-data-value-field="'code'" data-cobis-group="Group,GR_SALMORTZAN47_03,0" required data-required-msg="{{'BUSIN.DLB_BUSIN_PROUCTTPE_88016'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
              </div> 
             </div> 
             <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-show="vc.viewState.VA_SALMORTZAN4702_OFCL184.visible"> 
              <div class="form-group" id="VA_SALMORTZAN4702_OFCL184_DIV"> 
               <label for="VA_SALMORTZAN4702_OFCL184" ng-show="vc.viewState.VA_SALMORTZAN4702_OFCL184.visible" class="control-label" translate>BUSIN.DLB_BUSIN_OFFICERII_85471</label> 
               <input id="VA_SALMORTZAN4702_OFCL184" name="DatosGeneralesOperacion_Executive" maxlength="14" kendo-numeric-text-box k-spinners="false" k-step="0" k-decimals="0" k-format="'n0'" k-ng-model="vc.model.DatosGeneralesOperacion.Executive" ng-model="vc.tmpModel.DatosGeneralesOperacion.Executive" ng-disabled="vc.viewState.VA_SALMORTZAN4702_OFCL184.disabled || vc.viewState.VA_SALMORTZAN4702_OFCL184.disabledingroup" ng-show="vc.viewState.VA_SALMORTZAN4702_OFCL184.visible" ng-readonly="vc.viewState.VA_SALMORTZAN4702_OFCL184.readonly" data-cobis-group="Group,GR_SALMORTZAN47_03,0" ng-model-onblur /> 
              </div> 
             </div> 
             <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-show="vc.viewState.VA_SALMORTZAN4702_OFIC376.visible"> 
              <div class="form-group" id="VA_SALMORTZAN4702_OFIC376_DIV"> 
               <label for="VA_SALMORTZAN4702_OFIC376" ng-show="vc.viewState.VA_SALMORTZAN4702_OFIC376.visible" class="control-label" translate>BUSIN.DLB_BUSIN_OFFICELSD_48549</label> 
               <input id="VA_SALMORTZAN4702_OFIC376" name="DatosGeneralesOperacion_OfficeCod" kendo-ext-combo-box ng-model="vc.model.DatosGeneralesOperacion.OfficeCod" ng-disabled="vc.viewState.VA_SALMORTZAN4702_OFIC376.disabled || vc.viewState.VA_SALMORTZAN4702_OFIC376.disabledingroup" ng-show="vc.viewState.VA_SALMORTZAN4702_OFIC376.visible" ng-readonly="vc.viewState.VA_SALMORTZAN4702_OFIC376.readonly" k-auto-bind="false" k-data-source="vc.catalogs.VA_SALMORTZAN4702_OFIC376" k-data-text-field="'value'" k-data-value-field="'code'" data-cobis-group="Group,GR_SALMORTZAN47_03,0" /> 
              </div> 
             </div> 
             <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-show="vc.viewState.VA_SALMORTZAN4702_MONY891.visible"> 
              <div class="form-group" id="VA_SALMORTZAN4702_MONY891_DIV"> 
               <label for="VA_SALMORTZAN4702_MONY891" ng-show="vc.viewState.VA_SALMORTZAN4702_MONY891.visible" class="control-label required" translate>BUSIN.DLB_BUSIN_CURRENCYJ_79423</label> 
               <input id="VA_SALMORTZAN4702_MONY891" name="DatosGeneralesOperacion_Currency" kendo-ext-combo-box ng-model="vc.model.DatosGeneralesOperacion.Currency" ng-disabled="vc.viewState.VA_SALMORTZAN4702_MONY891.disabled || vc.viewState.VA_SALMORTZAN4702_MONY891.disabledingroup" ng-show="vc.viewState.VA_SALMORTZAN4702_MONY891.visible" ng-readonly="vc.viewState.VA_SALMORTZAN4702_MONY891.readonly" k-auto-bind="false" placeholder="{{'DSGNR.SYS_DSGNR_MSGSELECT_00033'|translate}}" k-data-source="vc.catalogs.VA_SALMORTZAN4702_MONY891" k-data-text-field="'value'" k-data-value-field="'code'" data-cobis-group="Group,GR_SALMORTZAN47_03,0" required data-required-msg="{{'BUSIN.DLB_BUSIN_CURRENCYJ_79423'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
              </div> 
             </div> 
             <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-show="vc.viewState.VA_SALMORTZAN4702_QUOT209.visible"> 
              <div class="form-group" id="VA_SALMORTZAN4702_QUOT209_DIV"> 
               <label for="VA_SALMORTZAN4702_QUOT209" ng-show="vc.viewState.VA_SALMORTZAN4702_QUOT209.visible" class="control-label" translate>BUSIN.DLB_BUSIN_XCANGRATE_42960</label> 
               <input id="VA_SALMORTZAN4702_QUOT209" name="DatosGeneralesOperacion_ExchangeRate" maxlength="11" kendo-numeric-text-box k-spinners="false" k-step="0" k-format="'c'" k-ng-model="vc.model.DatosGeneralesOperacion.ExchangeRate" ng-model="vc.tmpModel.DatosGeneralesOperacion.ExchangeRate" ng-disabled="vc.viewState.VA_SALMORTZAN4702_QUOT209.disabled || vc.viewState.VA_SALMORTZAN4702_QUOT209.disabledingroup" ng-show="vc.viewState.VA_SALMORTZAN4702_QUOT209.visible" ng-readonly="vc.viewState.VA_SALMORTZAN4702_QUOT209.readonly" data-cobis-group="Group,GR_SALMORTZAN47_03,0" ng-model-onblur /> 
              </div> 
             </div> 
             <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-show="vc.viewState.VA_SALMORTZAN4702_EXDE132.visible"> 
              <div class="form-group" id="VA_SALMORTZAN4702_EXDE132_DIV"> 
               <label for="VA_SALMORTZAN4702_EXDE132" ng-show="vc.viewState.VA_SALMORTZAN4702_EXDE132.visible" class="control-label" translate>BUSIN.DLB_BUSIN_ENDDATEDZ_24905</label> 
               <input id="VA_SALMORTZAN4702_EXDE132" name="DatosGeneralesOperacion_FinishDate" kendo-ext-date-picker placeholder="{{dateFormat}}" date-format="{{dateFormat}}" k-ng-model="vc.model.DatosGeneralesOperacion.FinishDate" ng-model="vc.tmpModel.DatosGeneralesOperacion.FinishDate" ng-disabled="vc.viewState.VA_SALMORTZAN4702_EXDE132.disabled || vc.viewState.VA_SALMORTZAN4702_EXDE132.disabledingroup" ng-show="vc.viewState.VA_SALMORTZAN4702_EXDE132.visible" ng-readonly="vc.viewState.VA_SALMORTZAN4702_EXDE132.readonly" data-cobis-group="Group,GR_SALMORTZAN47_03,0" /> 
              </div> 
             </div> 
             <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-show="vc.viewState.VA_SALMORTZAN4702_UNTP022.visible"> 
              <div class="form-group" id="VA_SALMORTZAN4702_UNTP022_DIV"> 
               <label for="VA_SALMORTZAN4702_UNTP022" ng-show="vc.viewState.VA_SALMORTZAN4702_UNTP022.visible" class="control-label" translate>BUSIN.DLB_BUSIN_AONTAPOEB_50978</label> 
               <input id="VA_SALMORTZAN4702_UNTP022" name="DatosGeneralesOperacion_AmountApproved" maxlength="23" kendo-numeric-text-box k-spinners="false" k-step="0" k-format="'c'" k-ng-model="vc.model.DatosGeneralesOperacion.AmountApproved" ng-model="vc.tmpModel.DatosGeneralesOperacion.AmountApproved" ng-disabled="vc.viewState.VA_SALMORTZAN4702_UNTP022.disabled || vc.viewState.VA_SALMORTZAN4702_UNTP022.disabledingroup" ng-show="vc.viewState.VA_SALMORTZAN4702_UNTP022.visible" ng-readonly="vc.viewState.VA_SALMORTZAN4702_UNTP022.readonly" data-cobis-group="Group,GR_SALMORTZAN47_03,0" ng-model-onblur /> 
              </div> 
             </div> 
             <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-show="vc.viewState.VA_SALMORTZAN4702_AMUN972.visible"> 
              <div class="form-group" id="VA_SALMORTZAN4702_AMUN972_DIV"> 
               <label for="VA_SALMORTZAN4702_AMUN972" ng-show="vc.viewState.VA_SALMORTZAN4702_AMUN972.visible" class="control-label" translate>BUSIN.DLB_BUSIN_AMOUNTNIO_63870</label> 
               <input id="VA_SALMORTZAN4702_AMUN972" name="DatosGeneralesOperacion_Amount" maxlength="23" kendo-numeric-text-box k-spinners="false" k-step="0" k-format="'c'" k-ng-model="vc.model.DatosGeneralesOperacion.Amount" ng-model="vc.tmpModel.DatosGeneralesOperacion.Amount" ng-disabled="vc.viewState.VA_SALMORTZAN4702_AMUN972.disabled || vc.viewState.VA_SALMORTZAN4702_AMUN972.disabledingroup" ng-show="vc.viewState.VA_SALMORTZAN4702_AMUN972.visible" ng-readonly="vc.viewState.VA_SALMORTZAN4702_AMUN972.readonly" data-cobis-group="Group,GR_SALMORTZAN47_03,0" ng-model-onblur /> 
              </div> 
             </div> 
             <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-show="vc.viewState.VA_SALMORTZAN4702_STEN510.visible"> 
              <div class="form-group" id="VA_SALMORTZAN4702_STEN510_DIV"> 
               <label for="VA_SALMORTZAN4702_STEN510" ng-show="vc.viewState.VA_SALMORTZAN4702_STEN510.visible" class="control-label" translate>BUSIN.DLB_BUSIN_STATUSXVU_76843</label> 
               <input id="VA_SALMORTZAN4702_STEN510" name="DatosGeneralesOperacion_Status" maxlength="30" kendo-numeric-text-box k-spinners="false" k-step="0" k-decimals="0" k-format="'n0'" k-ng-model="vc.model.DatosGeneralesOperacion.Status" ng-model="vc.tmpModel.DatosGeneralesOperacion.Status" ng-disabled="vc.viewState.VA_SALMORTZAN4702_STEN510.disabled || vc.viewState.VA_SALMORTZAN4702_STEN510.disabledingroup" ng-show="vc.viewState.VA_SALMORTZAN4702_STEN510.visible" ng-readonly="vc.viewState.VA_SALMORTZAN4702_STEN510.readonly" data-cobis-group="Group,GR_SALMORTZAN47_03,0" ng-model-onblur /> 
              </div> 
             </div> 
             <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-show="vc.viewState.VA_SALMORTZAN4702_ENTD109.visible"> 
              <div class="form-group" id="VA_SALMORTZAN4702_ENTD109_DIV"> 
               <label for="VA_SALMORTZAN4702_ENTD109" ng-show="vc.viewState.VA_SALMORTZAN4702_ENTD109.visible" class="control-label" translate>BUSIN.DLB_BUSIN_CLIENTCOD_27968</label> 
               <input id="VA_SALMORTZAN4702_ENTD109" name="DatosGeneralesOperacion_ClientCod" maxlength="4" kendo-numeric-text-box k-spinners="false" k-step="0" k-decimals="0" k-format="'n0'" k-ng-model="vc.model.DatosGeneralesOperacion.ClientCod" ng-model="vc.tmpModel.DatosGeneralesOperacion.ClientCod" ng-disabled="vc.viewState.VA_SALMORTZAN4702_ENTD109.disabled || vc.viewState.VA_SALMORTZAN4702_ENTD109.disabledingroup" ng-show="vc.viewState.VA_SALMORTZAN4702_ENTD109.visible" ng-readonly="vc.viewState.VA_SALMORTZAN4702_ENTD109.readonly" data-cobis-group="Group,GR_SALMORTZAN47_03,0" ng-model-onblur /> 
              </div> 
             </div> 
             <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-show="vc.viewState.VA_SALMORTZAN4702_LINE716.visible"> 
              <div class="form-group" id="VA_SALMORTZAN4702_LINE716_DIV"> 
               <label for="VA_SALMORTZAN4702_LINE716" ng-show="vc.viewState.VA_SALMORTZAN4702_LINE716.visible" class="control-label" translate>BUSIN.DLB_BUSIN_CLIENTNAE_03679</label> 
               <input id="VA_SALMORTZAN4702_LINE716" name="DatosGeneralesOperacion_ClientName" maxlength="120" type="text" class="form-control" ng-model="vc.model.DatosGeneralesOperacion.ClientName" ng-disabled="vc.viewState.VA_SALMORTZAN4702_LINE716.disabled || vc.viewState.VA_SALMORTZAN4702_LINE716.disabledingroup" ng-show="vc.viewState.VA_SALMORTZAN4702_LINE716.visible" ng-readonly="vc.viewState.VA_SALMORTZAN4702_LINE716.readonly" data-cobis-group="Group,GR_SALMORTZAN47_03,0" ng-model-onblur /> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> </li> 
     <li id="VC_IATSK55_TZOND_757" ng-show="vc.viewState.VC_IATSK55_TZOND_757.visible"> {{'BUSIN.DLB_BUSIN_AMRTTNDAT_82938'|translate}} 
      <div> 
       <div kendo-validator="VC_IATSK55_TZOND_757" k-options="validatorOptions" id="VC_IATSK55_TZOND_757_VAL"> 
        <div id="VC_IATSK55_TZOND_757"> 
         <div ng-class="{container: !vc.isModal(this)}"> 
          <div ng-show="vc.viewState.GR_VIDAOMOZCN64_02.visible"> 
           <div kendo-validator="GR_VIDAOMOZCN64_02" k-options="validatorOptions" id="GR_VIDAOMOZCN64_02_VAL"> 
            <div class="row headerSection"> 
             <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-show="vc.viewState.VA_VIDAOMOZCN6402_AONT460.visible"> 
              <div class="form-group" id="VA_VIDAOMOZCN6402_AONT460_DIV"> 
               <label for="VA_VIDAOMOZCN6402_AONT460" ng-show="vc.viewState.VA_VIDAOMOZCN6402_AONT460.visible" class="control-label" translate>BUSIN.DLB_BUSIN_AMOUNTNIO_63870</label> 
               <input id="VA_VIDAOMOZCN6402_AONT460" name="DatosTablaAmortizacion_Amount" maxlength="23" kendo-numeric-text-box k-spinners="false" k-step="0" k-format="'c'" k-ng-model="vc.model.DatosTablaAmortizacion.Amount" ng-model="vc.tmpModel.DatosTablaAmortizacion.Amount" ng-disabled="vc.viewState.VA_VIDAOMOZCN6402_AONT460.disabled || vc.viewState.VA_VIDAOMOZCN6402_AONT460.disabledingroup" ng-show="vc.viewState.VA_VIDAOMOZCN6402_AONT460.visible" ng-readonly="vc.viewState.VA_VIDAOMOZCN6402_AONT460.readonly" data-cobis-group="Group,GR_VIDAOMOZCN64_04,0" ng-model-onblur /> 
              </div> 
             </div> 
             <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-show="vc.viewState.VA_VIDAOMOZCN6402_RATE527.visible"> 
              <div class="form-group" id="VA_VIDAOMOZCN6402_RATE527_DIV"> 
               <label for="VA_VIDAOMOZCN6402_RATE527" ng-show="vc.viewState.VA_VIDAOMOZCN6402_RATE527.visible" class="control-label" translate>BUSIN.DLB_BUSIN_INTERETAT_36036</label> 
               <input id="VA_VIDAOMOZCN6402_RATE527" name="DatosTablaAmortizacion_InterestRate" maxlength="23" kendo-numeric-text-box k-spinners="false" k-step="0" k-format="'c'" k-ng-model="vc.model.DatosTablaAmortizacion.InterestRate" ng-model="vc.tmpModel.DatosTablaAmortizacion.InterestRate" ng-disabled="vc.viewState.VA_VIDAOMOZCN6402_RATE527.disabled || vc.viewState.VA_VIDAOMOZCN6402_RATE527.disabledingroup" ng-show="vc.viewState.VA_VIDAOMOZCN6402_RATE527.visible" ng-readonly="vc.viewState.VA_VIDAOMOZCN6402_RATE527.readonly" data-cobis-group="Group,GR_VIDAOMOZCN64_04,0" ng-model-onblur /> 
              </div> 
             </div> 
             <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-show="vc.viewState.VA_VIDAOMOZCN6402_TEAK414.visible"> 
              <div class="form-group" id="VA_VIDAOMOZCN6402_TEAK414_DIV"> 
               <label for="VA_VIDAOMOZCN6402_TEAK414" ng-show="vc.viewState.VA_VIDAOMOZCN6402_TEAK414.visible" class="control-label" translate>BUSIN.DLB_BUSIN_TEAENOYJD_65251</label> 
               <input id="VA_VIDAOMOZCN6402_TEAK414" name="DatosTablaAmortizacion_Tea" maxlength="23" kendo-numeric-text-box k-spinners="false" k-step="0" k-format="'c'" k-ng-model="vc.model.DatosTablaAmortizacion.Tea" ng-model="vc.tmpModel.DatosTablaAmortizacion.Tea" ng-disabled="vc.viewState.VA_VIDAOMOZCN6402_TEAK414.disabled || vc.viewState.VA_VIDAOMOZCN6402_TEAK414.disabledingroup" ng-show="vc.viewState.VA_VIDAOMOZCN6402_TEAK414.visible" ng-readonly="vc.viewState.VA_VIDAOMOZCN6402_TEAK414.readonly" data-cobis-group="Group,GR_VIDAOMOZCN64_04,0" ng-model-onblur /> 
              </div> 
             </div> 
             <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-show="vc.viewState.VA_VIDAOMOZCN6402_SRTA729.visible"> 
              <div class="form-group" id="VA_VIDAOMOZCN6402_SRTA729_DIV"> 
               <label for="VA_VIDAOMOZCN6402_SRTA729" ng-show="vc.viewState.VA_VIDAOMOZCN6402_SRTA729.visible" class="control-label" translate>BUSIN.DLB_BUSIN_STARTDATE_61282</label> 
               <input id="VA_VIDAOMOZCN6402_SRTA729" name="DatosTablaAmortizacion_StartDate" kendo-ext-date-picker placeholder="{{dateFormat}}" date-format="{{dateFormat}}" k-ng-model="vc.model.DatosTablaAmortizacion.StartDate" ng-model="vc.tmpModel.DatosTablaAmortizacion.StartDate" ng-disabled="vc.viewState.VA_VIDAOMOZCN6402_SRTA729.disabled || vc.viewState.VA_VIDAOMOZCN6402_SRTA729.disabledingroup" ng-show="vc.viewState.VA_VIDAOMOZCN6402_SRTA729.visible" ng-readonly="vc.viewState.VA_VIDAOMOZCN6402_SRTA729.readonly" data-cobis-group="Group,GR_VIDAOMOZCN64_04,0" /> 
              </div> 
             </div> 
             <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-show="vc.viewState.VA_VIDAOMOZCN6402_NHDA988.visible"> 
              <div class="form-group" id="VA_VIDAOMOZCN6402_NHDA988_DIV"> 
               <label for="VA_VIDAOMOZCN6402_NHDA988" ng-show="vc.viewState.VA_VIDAOMOZCN6402_NHDA988.visible" class="control-label" translate>BUSIN.DLB_BUSIN_ENDDATEDZ_24905</label> 
               <input id="VA_VIDAOMOZCN6402_NHDA988" name="DatosTablaAmortizacion_FinishDate" kendo-ext-date-picker placeholder="{{dateFormat}}" date-format="{{dateFormat}}" k-ng-model="vc.model.DatosTablaAmortizacion.FinishDate" ng-model="vc.tmpModel.DatosTablaAmortizacion.FinishDate" ng-disabled="vc.viewState.VA_VIDAOMOZCN6402_NHDA988.disabled || vc.viewState.VA_VIDAOMOZCN6402_NHDA988.disabledingroup" ng-show="vc.viewState.VA_VIDAOMOZCN6402_NHDA988.visible" ng-readonly="vc.viewState.VA_VIDAOMOZCN6402_NHDA988.readonly" data-cobis-group="Group,GR_VIDAOMOZCN64_04,0" /> 
              </div> 
             </div> 
             <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-show="vc.viewState.VA_VIDAOMOZCN6402_AINE080.visible"> 
              <div class="form-group" id="VA_VIDAOMOZCN6402_AINE080_DIV"> 
               <label for="VA_VIDAOMOZCN6402_AINE080" ng-show="vc.viewState.VA_VIDAOMOZCN6402_AINE080.visible" class="control-label" translate>BUSIN.DLB_BUSIN_AMORTIATN_34301</label> 
               <input id="VA_VIDAOMOZCN6402_AINE080" name="DatosTablaAmortizacion_AmortizationType" kendo-ext-combo-box ng-model="vc.model.DatosTablaAmortizacion.AmortizationType" ng-disabled="vc.viewState.VA_VIDAOMOZCN6402_AINE080.disabled || vc.viewState.VA_VIDAOMOZCN6402_AINE080.disabledingroup" ng-show="vc.viewState.VA_VIDAOMOZCN6402_AINE080.visible" ng-readonly="vc.viewState.VA_VIDAOMOZCN6402_AINE080.readonly" k-auto-bind="false" k-data-source="vc.catalogs.VA_VIDAOMOZCN6402_AINE080" k-data-text-field="'value'" k-data-value-field="'code'" data-cobis-group="Group,GR_VIDAOMOZCN64_04,0" /> 
              </div> 
             </div> 
             <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-show="vc.viewState.VA_VIDAOMOZCN6402_PTAS926.visible"> 
              <div class="form-group" id="VA_VIDAOMOZCN6402_PTAS926_DIV"> 
               <label for="VA_VIDAOMOZCN6402_PTAS926" ng-show="vc.viewState.VA_VIDAOMOZCN6402_PTAS926.visible" class="control-label" translate>BUSIN.DLB_BUSIN_CAPITALUO_97015</label> 
               <input id="VA_VIDAOMOZCN6402_PTAS926" name="DatosTablaAmortizacion_CapitalInstallment" maxlength="23" kendo-numeric-text-box k-spinners="false" k-step="0" k-format="'c'" k-ng-model="vc.model.DatosTablaAmortizacion.CapitalInstallment" ng-model="vc.tmpModel.DatosTablaAmortizacion.CapitalInstallment" ng-disabled="vc.viewState.VA_VIDAOMOZCN6402_PTAS926.disabled || vc.viewState.VA_VIDAOMOZCN6402_PTAS926.disabledingroup" ng-show="vc.viewState.VA_VIDAOMOZCN6402_PTAS926.visible" ng-readonly="vc.viewState.VA_VIDAOMOZCN6402_PTAS926.readonly" data-cobis-group="Group,GR_VIDAOMOZCN64_04,0" ng-model-onblur /> 
              </div> 
             </div> 
             <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-show="vc.viewState.VA_VIDAOMOZCN6402_CATI798.visible"> 
              <div class="form-group" id="VA_VIDAOMOZCN6402_CATI798_DIV"> 
               <label for="VA_VIDAOMOZCN6402_CATI798" ng-show="vc.viewState.VA_VIDAOMOZCN6402_CATI798.visible" class="control-label" translate>BUSIN.DLB_BUSIN_ACLIONASE_76577</label> 
               <input id="VA_VIDAOMOZCN6402_CATI798" name="DatosTablaAmortizacion_CalculationBase" kendo-ext-combo-box ng-model="vc.model.DatosTablaAmortizacion.CalculationBase" ng-disabled="vc.viewState.VA_VIDAOMOZCN6402_CATI798.disabled || vc.viewState.VA_VIDAOMOZCN6402_CATI798.disabledingroup" ng-show="vc.viewState.VA_VIDAOMOZCN6402_CATI798.visible" ng-readonly="vc.viewState.VA_VIDAOMOZCN6402_CATI798.readonly" k-auto-bind="false" k-data-source="vc.catalogs.VA_VIDAOMOZCN6402_CATI798" k-data-text-field="'value'" k-data-value-field="'code'" data-cobis-group="Group,GR_VIDAOMOZCN64_04,0" /> 
              </div> 
             </div> 
             <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-show="vc.viewState.VA_VIDAOMOZCN6402_TERE199.visible"> 
              <div class="form-group" id="VA_VIDAOMOZCN6402_TERE199_DIV"> 
               <label for="VA_VIDAOMOZCN6402_TERE199" ng-show="vc.viewState.VA_VIDAOMOZCN6402_TERE199.visible" class="control-label" translate>BUSIN.DLB_BUSIN_TERMTYPEM_59687</label> 
               <input id="VA_VIDAOMOZCN6402_TERE199" name="DatosTablaAmortizacion_TermType" kendo-ext-combo-box ng-model="vc.model.DatosTablaAmortizacion.TermType" ng-disabled="vc.viewState.VA_VIDAOMOZCN6402_TERE199.disabled || vc.viewState.VA_VIDAOMOZCN6402_TERE199.disabledingroup" ng-show="vc.viewState.VA_VIDAOMOZCN6402_TERE199.visible" ng-readonly="vc.viewState.VA_VIDAOMOZCN6402_TERE199.readonly" k-auto-bind="false" k-data-source="vc.catalogs.VA_VIDAOMOZCN6402_TERE199" k-data-text-field="'value'" k-data-value-field="'code'" data-cobis-group="Group,GR_VIDAOMOZCN64_04,0" /> 
              </div> 
             </div> 
             <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-show="vc.viewState.VA_VIDAOMOZCN6402_TERM881.visible"> 
              <div class="form-group" id="VA_VIDAOMOZCN6402_TERM881_DIV"> 
               <label for="VA_VIDAOMOZCN6402_TERM881" ng-show="vc.viewState.VA_VIDAOMOZCN6402_TERM881.visible" class="control-label" translate>BUSIN.DLB_BUSIN_TERMCUWZU_98612</label> 
               <input id="VA_VIDAOMOZCN6402_TERM881" name="DatosTablaAmortizacion_Term" maxlength="4" kendo-numeric-text-box k-spinners="false" k-step="0" k-decimals="0" k-format="'n0'" k-ng-model="vc.model.DatosTablaAmortizacion.Term" ng-model="vc.tmpModel.DatosTablaAmortizacion.Term" ng-disabled="vc.viewState.VA_VIDAOMOZCN6402_TERM881.disabled || vc.viewState.VA_VIDAOMOZCN6402_TERM881.disabledingroup" ng-show="vc.viewState.VA_VIDAOMOZCN6402_TERM881.visible" ng-readonly="vc.viewState.VA_VIDAOMOZCN6402_TERM881.readonly" data-cobis-group="Group,GR_VIDAOMOZCN64_04,0" ng-model-onblur /> 
              </div> 
             </div> 
             <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-show="vc.viewState.VA_VIDAOMOZCN6402_ISLE406.visible"> 
              <div class="form-group" id="VA_VIDAOMOZCN6402_ISLE406_DIV"> 
               <label for="VA_VIDAOMOZCN6402_ISLE406" ng-show="vc.viewState.VA_VIDAOMOZCN6402_ISLE406.visible" class="control-label" translate>BUSIN.DLB_BUSIN_FECUENCIA_10990</label> 
               <input id="VA_VIDAOMOZCN6402_ISLE406" name="DatosTablaAmortizacion_InstallmentType" kendo-ext-combo-box ng-model="vc.model.DatosTablaAmortizacion.InstallmentType" ng-disabled="vc.viewState.VA_VIDAOMOZCN6402_ISLE406.disabled || vc.viewState.VA_VIDAOMOZCN6402_ISLE406.disabledingroup" ng-show="vc.viewState.VA_VIDAOMOZCN6402_ISLE406.visible" ng-readonly="vc.viewState.VA_VIDAOMOZCN6402_ISLE406.readonly" k-auto-bind="false" k-data-source="vc.catalogs.VA_VIDAOMOZCN6402_ISLE406" k-data-text-field="'value'" k-data-value-field="'code'" data-cobis-group="Group,GR_VIDAOMOZCN64_04,0" /> 
              </div> 
             </div> 
             <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-show="vc.viewState.VA_VIDAOMOZCN6402_ATAE004.visible"> 
              <div class="form-group" id="VA_VIDAOMOZCN6402_ATAE004_DIV"> 
               <label for="VA_VIDAOMOZCN6402_ATAE004" ng-show="vc.viewState.VA_VIDAOMOZCN6402_ATAE004.visible" class="control-label" translate>BUSIN.DLB_BUSIN_CAPITALPA_83923</label> 
               <input id="VA_VIDAOMOZCN6402_ATAE004" name="DatosTablaAmortizacion_CapitalPeriod" maxlength="4" kendo-numeric-text-box k-spinners="false" k-step="0" k-decimals="0" k-format="'n0'" k-ng-model="vc.model.DatosTablaAmortizacion.CapitalPeriod" ng-model="vc.tmpModel.DatosTablaAmortizacion.CapitalPeriod" ng-disabled="vc.viewState.VA_VIDAOMOZCN6402_ATAE004.disabled || vc.viewState.VA_VIDAOMOZCN6402_ATAE004.disabledingroup" ng-show="vc.viewState.VA_VIDAOMOZCN6402_ATAE004.visible" ng-readonly="vc.viewState.VA_VIDAOMOZCN6402_ATAE004.readonly" data-cobis-group="Group,GR_VIDAOMOZCN64_04,0" ng-model-onblur /> 
              </div> 
             </div> 
             <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-show="vc.viewState.VA_VIDAOMOZCN6402_NTES066.visible"> 
              <div class="form-group" id="VA_VIDAOMOZCN6402_NTES066_DIV"> 
               <label for="VA_VIDAOMOZCN6402_NTES066" ng-show="vc.viewState.VA_VIDAOMOZCN6402_NTES066.visible" class="control-label" translate>BUSIN.DLB_BUSIN_INTERESTP_74439</label> 
               <input id="VA_VIDAOMOZCN6402_NTES066" name="DatosTablaAmortizacion_InterestPeriod" maxlength="4" kendo-numeric-text-box k-spinners="false" k-step="0" k-decimals="0" k-format="'n0'" k-ng-model="vc.model.DatosTablaAmortizacion.InterestPeriod" ng-model="vc.tmpModel.DatosTablaAmortizacion.InterestPeriod" ng-disabled="vc.viewState.VA_VIDAOMOZCN6402_NTES066.disabled || vc.viewState.VA_VIDAOMOZCN6402_NTES066.disabledingroup" ng-show="vc.viewState.VA_VIDAOMOZCN6402_NTES066.visible" ng-readonly="vc.viewState.VA_VIDAOMOZCN6402_NTES066.readonly" data-cobis-group="Group,GR_VIDAOMOZCN64_04,0" ng-model-onblur /> 
              </div> 
             </div> 
             <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-show="vc.viewState.VA_VIDAOMOZCN6402_IGAD714.visible"> 
              <div class="form-group" id="VA_VIDAOMOZCN6402_IGAD714_DIV"> 
               <label for="VA_VIDAOMOZCN6402_IGAD714" ng-show="vc.viewState.VA_VIDAOMOZCN6402_IGAD714.visible" class="control-label" translate>BUSIN.DLB_BUSIN_CAPGRACEP_17482</label> 
               <input id="VA_VIDAOMOZCN6402_IGAD714" name="DatosTablaAmortizacion_CapitalGracePeriod" maxlength="4" kendo-numeric-text-box k-spinners="false" k-step="0" k-decimals="0" k-format="'n0'" k-ng-model="vc.model.DatosTablaAmortizacion.CapitalGracePeriod" ng-model="vc.tmpModel.DatosTablaAmortizacion.CapitalGracePeriod" ng-disabled="vc.viewState.VA_VIDAOMOZCN6402_IGAD714.disabled || vc.viewState.VA_VIDAOMOZCN6402_IGAD714.disabledingroup" ng-show="vc.viewState.VA_VIDAOMOZCN6402_IGAD714.visible" ng-readonly="vc.viewState.VA_VIDAOMOZCN6402_IGAD714.readonly" data-cobis-group="Group,GR_VIDAOMOZCN64_04,0" ng-model-onblur /> 
              </div> 
             </div> 
             <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-show="vc.viewState.VA_VIDAOMOZCN6402_NTSP205.visible"> 
              <div class="form-group" id="VA_VIDAOMOZCN6402_NTSP205_DIV"> 
               <label for="VA_VIDAOMOZCN6402_NTSP205" ng-show="vc.viewState.VA_VIDAOMOZCN6402_NTSP205.visible" class="control-label" translate>BUSIN.DLB_BUSIN_INTGRACEP_56261</label> 
               <input id="VA_VIDAOMOZCN6402_NTSP205" name="DatosTablaAmortizacion_InterestGracePeriod" maxlength="4" kendo-numeric-text-box k-spinners="false" k-step="0" k-decimals="0" k-format="'n0'" k-ng-model="vc.model.DatosTablaAmortizacion.InterestGracePeriod" ng-model="vc.tmpModel.DatosTablaAmortizacion.InterestGracePeriod" ng-disabled="vc.viewState.VA_VIDAOMOZCN6402_NTSP205.disabled || vc.viewState.VA_VIDAOMOZCN6402_NTSP205.disabledingroup" ng-show="vc.viewState.VA_VIDAOMOZCN6402_NTSP205.visible" ng-readonly="vc.viewState.VA_VIDAOMOZCN6402_NTSP205.readonly" data-cobis-group="Group,GR_VIDAOMOZCN64_04,0" ng-model-onblur /> 
              </div> 
             </div> 
             <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-show="vc.viewState.VA_VIDAOMOZCN6402_YFOR167.visible"> 
              <div class="form-group" id="VA_VIDAOMOZCN6402_YFOR167_DIV"> 
               <label for="VA_VIDAOMOZCN6402_YFOR167" ng-show="vc.viewState.VA_VIDAOMOZCN6402_YFOR167.visible" class="control-label" translate>BUSIN.DLB_BUSIN_APPLYFORH_23960</label> 
               <input id="VA_VIDAOMOZCN6402_YFOR167" name="DatosTablaAmortizacion_ApplyFor" kendo-ext-combo-box ng-model="vc.model.DatosTablaAmortizacion.ApplyFor" ng-disabled="vc.viewState.VA_VIDAOMOZCN6402_YFOR167.disabled || vc.viewState.VA_VIDAOMOZCN6402_YFOR167.disabledingroup" ng-show="vc.viewState.VA_VIDAOMOZCN6402_YFOR167.visible" ng-readonly="vc.viewState.VA_VIDAOMOZCN6402_YFOR167.readonly" k-auto-bind="false" k-data-source="vc.catalogs.VA_VIDAOMOZCN6402_YFOR167" k-data-text-field="'value'" k-data-value-field="'code'" data-cobis-group="Group,GR_VIDAOMOZCN64_04,0" /> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
          <hr /> 
          <div ng-show="vc.viewState.GR_VIDAOMOZCN64_03.visible"> 
           <div kendo-validator="GR_VIDAOMOZCN64_03" k-options="validatorOptions" id="GR_VIDAOMOZCN64_03_VAL"> 
            <div class="row headerSection"> 
             <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-show="vc.viewState.VA_VIDAOMOZCN6403_IXET745.visible"> 
              <div class="form-group" id="VA_VIDAOMOZCN6403_IXET745_DIV"> 
               <label for="VA_VIDAOMOZCN6403_IXET745" ng-show="vc.viewState.VA_VIDAOMOZCN6403_IXET745.visible" class="control-label" translate>BUSIN.DLB_BUSIN_YMTDATFID_72580</label> 
               <div> 
                <label class="checkbox-inline"> <input id="VA_VIDAOMOZCN6403_IXET745" name="DatosTablaAmortizacion_FixedPaymentDate" type="checkbox" ng-model="vc.model.DatosTablaAmortizacion.FixedPaymentDate" ng-disabled="vc.viewState.VA_VIDAOMOZCN6403_IXET745.disabled || vc.viewState.VA_VIDAOMOZCN6403_IXET745.disabledingroup" ng-show="vc.viewState.VA_VIDAOMOZCN6403_IXET745.visible" ng-true-value="S" ng-false-value="N" /> </label> 
               </div> 
              </div> 
             </div> 
             <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-show="vc.viewState.VA_VIDAOMOZCN6403_DAYG367.visible"> 
              <div class="form-group" id="VA_VIDAOMOZCN6403_DAYG367_DIV"> 
               <label for="VA_VIDAOMOZCN6403_DAYG367" ng-show="vc.viewState.VA_VIDAOMOZCN6403_DAYG367.visible" class="control-label" translate>BUSIN.DLB_BUSIN_DAYLZEHXK_27320</label> 
               <input id="VA_VIDAOMOZCN6403_DAYG367" name="DatosTablaAmortizacion_Day" maxlength="4" kendo-numeric-text-box k-spinners="false" k-step="0" k-decimals="0" k-format="'n0'" k-ng-model="vc.model.DatosTablaAmortizacion.Day" ng-model="vc.tmpModel.DatosTablaAmortizacion.Day" ng-disabled="vc.viewState.VA_VIDAOMOZCN6403_DAYG367.disabled || vc.viewState.VA_VIDAOMOZCN6403_DAYG367.disabledingroup" ng-show="vc.viewState.VA_VIDAOMOZCN6403_DAYG367.visible" ng-readonly="vc.viewState.VA_VIDAOMOZCN6403_DAYG367.readonly" data-cobis-group="Group,GR_VIDAOMOZCN64_04,1" ng-model-onblur /> 
              </div> 
             </div> 
             <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-show="vc.viewState.VA_VIDAOMOZCN6403_OPYN316.visible"> 
              <div class="form-group" id="VA_VIDAOMOZCN6403_OPYN316_DIV"> 
               <label for="VA_VIDAOMOZCN6403_OPYN316" ng-show="vc.viewState.VA_VIDAOMOZCN6403_OPYN316.visible" class="control-label" translate>BUSIN.DLB_BUSIN_NNPAYMETO_40387</label> 
               <input id="VA_VIDAOMOZCN6403_OPYN316" name="DatosTablaAmortizacion_MonthNonPayment" maxlength="10" kendo-numeric-text-box k-spinners="false" k-step="0" k-decimals="0" k-format="'n0'" k-ng-model="vc.model.DatosTablaAmortizacion.MonthNonPayment" ng-model="vc.tmpModel.DatosTablaAmortizacion.MonthNonPayment" ng-disabled="vc.viewState.VA_VIDAOMOZCN6403_OPYN316.disabled || vc.viewState.VA_VIDAOMOZCN6403_OPYN316.disabledingroup" ng-show="vc.viewState.VA_VIDAOMOZCN6403_OPYN316.visible" ng-readonly="vc.viewState.VA_VIDAOMOZCN6403_OPYN316.readonly" data-cobis-group="Group,GR_VIDAOMOZCN64_04,1" ng-model-onblur /> 
              </div> 
             </div> 
             <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-show="vc.viewState.VA_VIDAOMOZCN6403_HDAY789.visible"> 
              <div class="form-group" id="VA_VIDAOMOZCN6403_HDAY789_DIV"> 
               <label for="VA_VIDAOMOZCN6403_HDAY789" ng-show="vc.viewState.VA_VIDAOMOZCN6403_HDAY789.visible" class="control-label" translate>BUSIN.DLB_BUSIN_AVIDOYDAY_51830</label> 
               <div> 
                <label class="checkbox-inline"> <input id="VA_VIDAOMOZCN6403_HDAY789" name="DatosTablaAmortizacion_AvoidHolidays" type="checkbox" ng-model="vc.model.DatosTablaAmortizacion.AvoidHolidays" ng-disabled="vc.viewState.VA_VIDAOMOZCN6403_HDAY789.disabled || vc.viewState.VA_VIDAOMOZCN6403_HDAY789.disabledingroup" ng-show="vc.viewState.VA_VIDAOMOZCN6403_HDAY789.visible" ng-true-value="S" ng-false-value="N" /> </label> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> </li> 
     <li id="VC_IATSK55_TITIE_716" ng-show="vc.viewState.VC_IATSK55_TITIE_716.visible"> {{'BUSIN.DLB_BUSIN_OTTIOTBLE_83895'|translate}} 
      <div> 
       <div kendo-validator="VC_IATSK55_TITIE_716" k-options="validatorOptions" id="VC_IATSK55_TITIE_716_VAL"> 
        <div id="VC_IATSK55_TITIE_716"> 
         <div ng-class="{container: !vc.isModal(this)}"> 
          <div ng-show="vc.viewState.GR_AMIZATONEW90_02.visible"> 
           <div id="QV_OTAOA0659_11" kendo-grid="grids.QV_OTAOA0659_11" class="grid-margin" k-data-source="vc.model.AmortizationTableEntity" k-column-menu="true" k-sortable="false" k-pageable="{refresh: false, pageSizes: true, buttonCount: 5}" k-editable="'inline'" k-toolbar="vc.grids.QV_OTAOA0659_11.toolbar" k-resizable="true" k-groupable="false" k-reorderable="true" k-filterable="true" k-scrollable="true" k-data-bound="vc.grids.QV_OTAOA0659_11.events.dataBound" k-columns="vc.grids.QV_OTAOA0659_11.columns" k-cancel="vc.grids.QV_OTAOA0659_11.events.cancel" k-edit="vc.grids.QV_OTAOA0659_11.events.edit"></div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> </li> 
    </ul> 
   </div> 
   <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" ng-show="!vc.isModal(this) && !vc.childVc"> 
    <div class="container"> 
     <div class="navbar-left"> 
      <button id="CM_IATSK55CAC94" ng-click="vc.executeCommand('CM_IATSK55CAC94','Calculate', validator, true, false, 'VC_IATSK55_AMORN_425', false)" class="btn btn-primary navbar-btn cobis-button" translate>BUSIN.DLB_BUSIN_CALCULATE_41584 </button> 
     </div> 
    </div> 
   </nav> 
   <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" ng-show="!vc.isModal(this) && vc.childVc"> 
    <div class="container"> 
     <div class="navbar-left"> 
      <button id="T_FLCRE_33_IATSK55_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_IATSK55_AMORN_425')">Aceptar</button> 
      <button id="T_FLCRE_33_IATSK55_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)">Cancelar</button> 
     </div> 
    </div> 
   </nav> 
   <div ng-show="vc.isModal(this) && !vc.childVc"> 
    <div class="container"> 
     <div class="navbar-left"> 
      <button id="CM_IATSK55CAC94" ng-click="vc.executeCommand('CM_IATSK55CAC94','Calculate', validator, true, false, 'VC_IATSK55_AMORN_425', false)" class="btn btn-primary navbar-btn cobis-button" translate>BUSIN.DLB_BUSIN_CALCULATE_41584 </button> 
     </div> 
    </div> 
   </div> 
   <div ng-show="vc.isModal(this) && vc.childVc"> 
    <div class="container"> 
     <div class="navbar-left"> 
      <button id="T_FLCRE_33_IATSK55_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_IATSK55_AMORN_425')">Aceptar</button> 
      <button id="T_FLCRE_33_IATSK55_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)">Cancelar</button> 
     </div> 
    </div> 
   </div> 
  </div>
 </body>
</html>