<!-- Designer Generator v 6.3.3 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_REPORTGRTT_453266" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_REPORTGRTT_453266.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_REPORTGRTU_585--> 
  <div id="VC_REPORTGRTT_453266" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_REPORTGNUE_515585" ng-class="vc.viewState.G_REPORTGNUE_515585.style" class="cb-group cb-group-layout"> 
    <div id="G_REPORTGNUE_515585_VAL" kendo-validator="G_REPORTGNUE_515585" k-options="validatorOptions"> 
     <fieldset id="G_REPORTGMOC_643585" ng-show="vc.viewState.G_REPORTGMOC_643585.visible" ng-class="vc.viewState.G_REPORTGMOC_643585.style" class="cb-group cb-group-simple"> 
      <legend> <span ng-bind="vc.viewState.G_REPORTGMOC_643585.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.G_REPORTGMOC_643585.statusStyle.success, 'cb-validation-fail': vc.viewState.G_REPORTGMOC_643585.statusStyle.fail, 'cb-validation-none': vc.viewState.G_REPORTGMOC_643585.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.G_REPORTGMOC_643585.label|translate}}</span> </legend> 
      <div id="G_REPORTGMOC_643585_VAL" kendo-validator="G_REPORTGMOC_643585" k-options="validatorOptions"> 
       <div class="form-horizontal"> 
        <div class="row"> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_TEXTINPUTBOXXYP_515585.visible"> 
          <div class="form-group" id="VA_TEXTINPUTBOXXYP_515585_DIV"> 
           <label for="VA_TEXTINPUTBOXXYP_515585" title="{{vc.viewState.VA_TEXTINPUTBOXXYP_515585.label|translate:vc.viewState.VA_TEXTINPUTBOXXYP_515585.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXXYP_515585.visible" class="col-sm-4 control-label">{{vc.viewState.VA_TEXTINPUTBOXXYP_515585.label|translate:vc.viewState.VA_TEXTINPUTBOXXYP_515585.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div class="cb-control"> 
             <div id="VA_TEXTINPUTBOXXYP_515585" name="InformationGroup_groupName" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_TEXTINPUTBOXXYP_515585.visible" ng-class="vc.viewState.VA_TEXTINPUTBOXXYP_515585.style">
               {{vc.model.InformationGroup.groupName}} 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_TEXTINPUTBOXIKC_800585.visible"> 
          <div class="form-group" id="VA_TEXTINPUTBOXIKC_800585_DIV"> 
           <label for="VA_TEXTINPUTBOXIKC_800585" title="{{vc.viewState.VA_TEXTINPUTBOXIKC_800585.label|translate:vc.viewState.VA_TEXTINPUTBOXIKC_800585.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXIKC_800585.visible" class="col-sm-4 control-label">{{vc.viewState.VA_TEXTINPUTBOXIKC_800585.label|translate:vc.viewState.VA_TEXTINPUTBOXIKC_800585.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div class="cb-control"> 
             <div id="VA_TEXTINPUTBOXIKC_800585" name="InformationGroup_cycle" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_TEXTINPUTBOXIKC_800585.visible" ng-class="vc.viewState.VA_TEXTINPUTBOXIKC_800585.style">
               {{vc.model.InformationGroup.cycle}} 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_TEXTINPUTBOXKTD_961585.visible"> 
          <div class="form-group" id="VA_TEXTINPUTBOXKTD_961585_DIV"> 
           <label for="VA_TEXTINPUTBOXKTD_961585" title="{{vc.viewState.VA_TEXTINPUTBOXKTD_961585.label|translate:vc.viewState.VA_TEXTINPUTBOXKTD_961585.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXKTD_961585.visible" class="col-sm-4 control-label">{{vc.viewState.VA_TEXTINPUTBOXKTD_961585.label|translate:vc.viewState.VA_TEXTINPUTBOXKTD_961585.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div class="cb-control"> 
             <div id="VA_TEXTINPUTBOXKTD_961585" name="InformationGroup_branchOffice" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_TEXTINPUTBOXKTD_961585.visible" ng-class="vc.viewState.VA_TEXTINPUTBOXKTD_961585.style">
               {{vc.model.InformationGroup.branchOffice}} 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_TEXTINPUTBOXQMI_699585.visible"> 
          <div class="form-group" id="VA_TEXTINPUTBOXQMI_699585_DIV"> 
           <label for="VA_TEXTINPUTBOXQMI_699585" title="{{vc.viewState.VA_TEXTINPUTBOXQMI_699585.label|translate:vc.viewState.VA_TEXTINPUTBOXQMI_699585.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXQMI_699585.visible" class="col-sm-4 control-label">{{vc.viewState.VA_TEXTINPUTBOXQMI_699585.label|translate:vc.viewState.VA_TEXTINPUTBOXQMI_699585.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div class="cb-control"> 
             <div id="VA_TEXTINPUTBOXQMI_699585" name="InformationGroup_amountBorrowed" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_TEXTINPUTBOXQMI_699585.visible" ng-class="vc.viewState.VA_TEXTINPUTBOXQMI_699585.style">
               {{vc.model.InformationGroup.amountBorrowed}} 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_TEXTINPUTBOXVBK_220585.visible"> 
          <div class="form-group" id="VA_TEXTINPUTBOXVBK_220585_DIV"> 
           <label for="VA_TEXTINPUTBOXVBK_220585" title="{{vc.viewState.VA_TEXTINPUTBOXVBK_220585.label|translate:vc.viewState.VA_TEXTINPUTBOXVBK_220585.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXVBK_220585.visible" class="col-sm-4 control-label">{{vc.viewState.VA_TEXTINPUTBOXVBK_220585.label|translate:vc.viewState.VA_TEXTINPUTBOXVBK_220585.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div class="cb-control"> 
             <div id="VA_TEXTINPUTBOXVBK_220585" name="InformationGroup_adviser" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_TEXTINPUTBOXVBK_220585.visible" ng-class="vc.viewState.VA_TEXTINPUTBOXVBK_220585.style">
               {{vc.model.InformationGroup.adviser}} 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_TEXTINPUTBOXZYE_455585.visible"> 
          <div class="form-group" id="VA_TEXTINPUTBOXZYE_455585_DIV"> 
           <label for="VA_TEXTINPUTBOXZYE_455585" title="{{vc.viewState.VA_TEXTINPUTBOXZYE_455585.label|translate:vc.viewState.VA_TEXTINPUTBOXZYE_455585.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXZYE_455585.visible" class="col-sm-4 control-label">{{vc.viewState.VA_TEXTINPUTBOXZYE_455585.label|translate:vc.viewState.VA_TEXTINPUTBOXZYE_455585.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div class="cb-control"> 
             <div id="VA_TEXTINPUTBOXZYE_455585" name="InformationGroup_term" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_TEXTINPUTBOXZYE_455585.visible" ng-class="vc.viewState.VA_TEXTINPUTBOXZYE_455585.style">
               {{vc.model.InformationGroup.term}} 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_TEXTINPUTBOXDGB_604585.visible"> 
          <div class="form-group" id="VA_TEXTINPUTBOXDGB_604585_DIV"> 
           <label for="VA_TEXTINPUTBOXDGB_604585" title="{{vc.viewState.VA_TEXTINPUTBOXDGB_604585.label|translate:vc.viewState.VA_TEXTINPUTBOXDGB_604585.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXDGB_604585.visible" class="col-sm-4 control-label">{{vc.viewState.VA_TEXTINPUTBOXDGB_604585.label|translate:vc.viewState.VA_TEXTINPUTBOXDGB_604585.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div class="cb-control"> 
             <div id="VA_TEXTINPUTBOXDGB_604585" name="InformationGroup_destination" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_TEXTINPUTBOXDGB_604585.visible" ng-class="vc.viewState.VA_TEXTINPUTBOXDGB_604585.style">
               {{vc.model.InformationGroup.destination}} 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_TEXTINPUTBOXWCA_479585.visible"> 
          <div class="form-group" id="VA_TEXTINPUTBOXWCA_479585_DIV"> 
           <label for="VA_TEXTINPUTBOXWCA_479585" title="{{vc.viewState.VA_TEXTINPUTBOXWCA_479585.label|translate:vc.viewState.VA_TEXTINPUTBOXWCA_479585.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXWCA_479585.visible" class="col-sm-4 control-label">{{vc.viewState.VA_TEXTINPUTBOXWCA_479585.label|translate:vc.viewState.VA_TEXTINPUTBOXWCA_479585.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div class="cb-control"> 
             <div id="VA_TEXTINPUTBOXWCA_479585" name="InformationGroup_interestRate" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_TEXTINPUTBOXWCA_479585.visible" ng-class="vc.viewState.VA_TEXTINPUTBOXWCA_479585.style">
               {{vc.model.InformationGroup.interestRate}} 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_TEXTINPUTBOXCSK_712585.visible"> 
          <div class="form-group" id="VA_TEXTINPUTBOXCSK_712585_DIV"> 
           <label for="VA_TEXTINPUTBOXCSK_712585" title="{{vc.viewState.VA_TEXTINPUTBOXCSK_712585.label|translate:vc.viewState.VA_TEXTINPUTBOXCSK_712585.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXCSK_712585.visible" class="col-sm-4 control-label">{{vc.viewState.VA_TEXTINPUTBOXCSK_712585.label|translate:vc.viewState.VA_TEXTINPUTBOXCSK_712585.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div class="cb-control"> 
             <div id="VA_TEXTINPUTBOXCSK_712585" name="InformationGroup_groupMeeting" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_TEXTINPUTBOXCSK_712585.visible" ng-class="vc.viewState.VA_TEXTINPUTBOXCSK_712585.style">
               {{vc.model.InformationGroup.groupMeeting}} 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_TEXTINPUTBOXVBZ_342585.visible"> 
          <div class="form-group" id="VA_TEXTINPUTBOXVBZ_342585_DIV"> 
           <label for="VA_TEXTINPUTBOXVBZ_342585" title="{{vc.viewState.VA_TEXTINPUTBOXVBZ_342585.label|translate:vc.viewState.VA_TEXTINPUTBOXVBZ_342585.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXVBZ_342585.visible" class="col-sm-4 control-label">{{vc.viewState.VA_TEXTINPUTBOXVBZ_342585.label|translate:vc.viewState.VA_TEXTINPUTBOXVBZ_342585.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div class="cb-control"> 
             <div id="VA_TEXTINPUTBOXVBZ_342585" name="InformationGroup_deliverDate" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_TEXTINPUTBOXVBZ_342585.visible" ng-class="vc.viewState.VA_TEXTINPUTBOXVBZ_342585.style">
               {{vc.model.InformationGroup.deliverDate}} 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </fieldset> 
     <fieldset id="G_REPORTGTTU_983585" ng-show="vc.viewState.G_REPORTGTTU_983585.visible" ng-class="vc.viewState.G_REPORTGTTU_983585.style" class="cb-group cb-group-simple"> 
      <legend> <span ng-bind="vc.viewState.G_REPORTGTTU_983585.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.G_REPORTGTTU_983585.statusStyle.success, 'cb-validation-fail': vc.viewState.G_REPORTGTTU_983585.statusStyle.fail, 'cb-validation-none': vc.viewState.G_REPORTGTTU_983585.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.G_REPORTGTTU_983585.label|translate}}</span> </legend> 
      <div id="G_REPORTGTTU_983585_VAL" kendo-validator="G_REPORTGTTU_983585" k-options="validatorOptions"> 
       <div id="QV_4263_54550" kendo-ext-grid="grids.QV_4263_54550" k-data-source="vc.model.CreditSummary" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_4263_54550.editable" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_4263_54550.events.dataBound" k-columns="vc.grids.QV_4263_54550.columns" k-cancel="vc.grids.QV_4263_54550.events.cancel" k-edit="vc.grids.QV_4263_54550.events.edit" ng-class="vc.viewState.QV_4263_54550.style" k-ng-delay="vc.afterInitData"></div> 
      </div> 
     </fieldset> 
     <fieldset id="G_REPORTGEOC_993585" ng-show="vc.viewState.G_REPORTGEOC_993585.visible" ng-class="vc.viewState.G_REPORTGEOC_993585.style" class="cb-group cb-group-simple"> 
      <legend> <span ng-bind="vc.viewState.G_REPORTGEOC_993585.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.G_REPORTGEOC_993585.statusStyle.success, 'cb-validation-fail': vc.viewState.G_REPORTGEOC_993585.statusStyle.fail, 'cb-validation-none': vc.viewState.G_REPORTGEOC_993585.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.G_REPORTGEOC_993585.label|translate}}</span> </legend> 
      <div id="G_REPORTGEOC_993585_VAL" kendo-validator="G_REPORTGEOC_993585" k-options="validatorOptions"> 
       <div id="QV_6897_70628" kendo-ext-grid="grids.QV_6897_70628" k-data-source="vc.model.PaymentPlan" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_6897_70628.editable" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_6897_70628.events.dataBound" k-columns="vc.grids.QV_6897_70628.columns" k-cancel="vc.grids.QV_6897_70628.events.cancel" k-edit="vc.grids.QV_6897_70628.events.edit" ng-class="vc.viewState.QV_6897_70628.style" k-ng-delay="vc.afterInitData"></div> 
      </div> 
     </fieldset> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_REPORTGRTU_585--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_REPORTGROUMTA_266_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_REPORTGRTT_453266')" ng-disabled="vc.viewState.T_REPORTGROUMTA_266_ACCEPT.disabled || vc.viewState.T_REPORTGROUMTA_266_ACCEPT.disabledingroup" ng-show="vc.viewState.T_REPORTGROUMTA_266_ACCEPT.visible" ng-class="vc.viewState.T_REPORTGROUMTA_266_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_REPORTGROUMTA_266_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_REPORTGROUMTA_266_CANCEL.disabled || vc.viewState.T_REPORTGROUMTA_266_CANCEL.disabledingroup" ng-show="vc.viewState.T_REPORTGROUMTA_266_CANCEL.visible" ng-class="vc.viewState.T_REPORTGROUMTA_266_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>