<!-- Designer Generator v 6.4.0.5 - SPR 2019-03 15/02/2019 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_BIOVALIDSA_412339" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_BIOVALIDSA_412339.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_BIOVALIDSA_412339" ng-keydown="vc.viewState.keyDown($event)" class="cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="VC_EKUISTTDGE_644339" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_EKUISTTDGE_644339', vc.viewState.VC_EKUISTTDGE_644339.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_EKUISTTDGE_644339.visible"> 
    <div id="VC_GDRJNAMPUX_648833" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_GDRJNAMPUX_648833', vc.viewState.VC_GDRJNAMPUX_648833.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_GDRJNAMPUX_648833.visible"> 
     <div id="VC_GDRJNAMPUX_648833_VAL" kendo-validator="VC_GDRJNAMPUX_648833" k-options="validatorOptions"> 
      <!-- Inicio item VW_HEADEROTCU_967--> 
      <div designer-form-load form="vc.viewState.G_HEADERSYFS_536967" class="cb-group cb-group-html-section"> 
      </div> 
      <!-- Fin item VW_HEADEROTCU_967--> 
     </div> 
    </div> 
   </div> 
   <div id="VC_SUNDSCXBDJ_542925" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_SUNDSCXBDJ_542925', vc.viewState.VC_SUNDSCXBDJ_542925.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_SUNDSCXBDJ_542925.visible"> 
    <div id="VC_SUNDSCXBDJ_542925_VAL" kendo-validator="VC_SUNDSCXBDJ_542925" k-options="validatorOptions"> 
     <!-- Inicio item VW_BIOMETRICD_515--> 
     <div id="G_BIOMETRVLI_359515" ng-show="vc.viewState.G_BIOMETRVLI_359515.visible" ng-class="vc.viewState.G_BIOMETRVLI_359515.style" class="cb-group cb-group-simple"> 
      <div kendo-validator="G_BIOMETRVLI_359515" k-options="validatorOptions" id="G_BIOMETRVLI_359515_VAL"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-4" ng-show="vc.viewState.G_BIOMETRVLI_359515-default-blank.visible"> 
          <div class="form-group cb-spacer"> 
           <label class="control-label">&nbsp;</label> 
           <span class="cb-control"></span> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div id="G_BIOMETRALD_208515" ng-show="vc.viewState.G_BIOMETRALD_208515.visible" ng-class="vc.viewState.G_BIOMETRALD_208515.style" class="cb-group cb-group-simple"> 
      <div kendo-validator="G_BIOMETRALD_208515" k-options="validatorOptions" id="G_BIOMETRALD_208515_VAL"> 
       <div id="QV_6806_82610" kendo-ext-grid="grids.QV_6806_82610" k-data-source="vc.model.Customer" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_6806_82610.editable" k-toolbar="vc.grids.QV_6806_82610.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_6806_82610.events.dataBound" k-columns="vc.grids.QV_6806_82610.columns" k-cancel="vc.grids.QV_6806_82610.events.cancel" k-edit="vc.grids.QV_6806_82610.events.edit" k-data-binding="vc.grids.QV_6806_82610.events.dataBinding" ng-class="vc.viewState.QV_6806_82610.style" k-ng-delay="vc.afterInitData"></div> 
      </div> 
     </div> 
     <div id="G_BIOMETRTIC_762515" ng-show="vc.viewState.G_BIOMETRTIC_762515.visible" ng-class="vc.viewState.G_BIOMETRTIC_762515.style" class="cb-group cb-group-simple"> 
      <div kendo-validator="G_BIOMETRTIC_762515" k-options="validatorOptions" id="G_BIOMETRTIC_762515_VAL"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-8" ng-show="vc.viewState.VA_RESULTVALIDAIOT_362515.visible"> 
          <div class="form-group" id="VA_RESULTVALIDAIOT_362515_DIV"> 
           <label for="VA_RESULTVALIDAIOT_362515" title="{{vc.viewState.VA_RESULTVALIDAIOT_362515.label|translate:vc.viewState.VA_RESULTVALIDAIOT_362515.labelArgs}}" ng-show="vc.viewState.VA_RESULTVALIDAIOT_362515.visible" class="control-label">{{vc.viewState.VA_RESULTVALIDAIOT_362515.label|translate:vc.viewState.VA_RESULTVALIDAIOT_362515.labelArgs}}</label> 
           <div class="cb-control"> 
            <div id="VA_RESULTVALIDAIOT_362515" name="ValidationData_resultValidation" class="form-control cb-no-border" ng-show="vc.viewState.VA_RESULTVALIDAIOT_362515.visible" ng-class="vc.viewState.VA_RESULTVALIDAIOT_362515.style">
              {{kendo.toString(vc.model.ValidationData.resultValidation, '')}} 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONVNZFJKQ_704515.visible"> 
          <div class="form-group"> 
           <label class="control-label">&nbsp;</label> 
           <div class="cb-control"> 
            <button id="VA_VABUTTONVNZFJKQ_704515" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONVNZFJKQ_704515','VA_VABUTTONVNZFJKQ_704515',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONVNZFJKQ_704515.disabled || vc.viewState.VA_VABUTTONVNZFJKQ_704515.disabledingroup" ng-show="vc.viewState.VA_VABUTTONVNZFJKQ_704515.visible" ng-class="vc.viewState.VA_VABUTTONVNZFJKQ_704515.style"> &nbsp; </button> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <!-- Fin item VW_BIOMETRICD_515--> 
    </div> 
   </div> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc || !vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_TBMTRCXB_T69" ng-click="vc.executeCommand('CM_TBMTRCXB_T69','Command1', validator, false, false, 'VC_BIOVALIDSA_412339', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_TBMTRCXB_T69.disabled || vc.viewState.CM_TBMTRCXB_T69.disabledingroup" ng-show="vc.viewState.CM_TBMTRCXB_T69.visible" ng-class="vc.viewState.CM_TBMTRCXB_T69.style"> {{vc.viewState.CM_TBMTRCXB_T69.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_BMTRCXBFSYZSS_339_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_BIOVALIDSA_412339')" ng-disabled="vc.viewState.T_BMTRCXBFSYZSS_339_ACCEPT.disabled || vc.viewState.T_BMTRCXBFSYZSS_339_ACCEPT.disabledingroup" ng-show="vc.viewState.T_BMTRCXBFSYZSS_339_ACCEPT.visible" ng-class="vc.viewState.T_BMTRCXBFSYZSS_339_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_BMTRCXBFSYZSS_339_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_BMTRCXBFSYZSS_339_CANCEL.disabled || vc.viewState.T_BMTRCXBFSYZSS_339_CANCEL.disabledingroup" ng-show="vc.viewState.T_BMTRCXBFSYZSS_339_CANCEL.visible" ng-class="vc.viewState.T_BMTRCXBFSYZSS_339_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>