<!-- Designer Generator v 6.4.0.5 - SPR 2019-03 15/02/2019 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_CREDITCAUS_223441" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_CREDITCAUS_223441.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_CREDITCAIA_342--> 
  <div id="VC_CREDITCAUS_223441" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_CREDITCDUP_887342" ng-show="vc.viewState.G_CREDITCDUP_887342.visible" ng-class="vc.viewState.G_CREDITCDUP_887342.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_CREDITCDUP_887342" k-options="validatorOptions" id="G_CREDITCDUP_887342_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-6" ng-show="vc.viewState.VA_OFFICERREASSNII_499342.visible"> 
        <div class="form-group" id="VA_OFFICERREASSNII_499342_DIV"> 
         <label for="VA_OFFICERREASSNII_499342" title="{{vc.viewState.VA_OFFICERREASSNII_499342.label|translate:vc.viewState.VA_OFFICERREASSNII_499342.labelArgs}}" ng-show="vc.viewState.VA_OFFICERREASSNII_499342.visible" class="control-label">{{vc.viewState.VA_OFFICERREASSNII_499342.label|translate:vc.viewState.VA_OFFICERREASSNII_499342.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_OFFICERREASSNII_499342" kendo-ext-combo-box="comboBox.VA_OFFICERREASSNII_499342" name="CreditCandidates_officerReassignedId" ng-model="vc.model.CreditCandidates.officerReassignedId" ng-disabled="vc.viewState.VA_OFFICERREASSNII_499342.disabled || vc.viewState.VA_OFFICERREASSNII_499342.disabledingroup" ng-show="vc.viewState.VA_OFFICERREASSNII_499342.visible" ng-readonly="vc.viewState.VA_OFFICERREASSNII_499342.readonly" ng-class="vc.viewState.VA_OFFICERREASSNII_499342.style" k-data-source="vc.catalogs.VA_OFFICERREASSNII_499342" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_OFFICERREASSNII_499342.template" data-cobis-group="Group,G_CREDITCDUP_887342,0" data-validation-code="{{vc.viewState.VA_OFFICERREASSNII_499342.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-6" ng-show="vc.viewState.VA_PERIODICITYTGAJ_151342.visible"> 
        <div class="form-group cb-required" id="VA_PERIODICITYTGAJ_151342_DIV"> 
         <label for="VA_PERIODICITYTGAJ_151342" title="{{vc.viewState.VA_PERIODICITYTGAJ_151342.label|translate:vc.viewState.VA_PERIODICITYTGAJ_151342.labelArgs}}" ng-show="vc.viewState.VA_PERIODICITYTGAJ_151342.visible" class="control-label">{{vc.viewState.VA_PERIODICITYTGAJ_151342.label|translate:vc.viewState.VA_PERIODICITYTGAJ_151342.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_PERIODICITYTGAJ_151342" kendo-ext-combo-box="comboBox.VA_PERIODICITYTGAJ_151342" k-index="0" k-auto-bind="true" name="CreditCandidates_periodicity" ng-model="vc.model.CreditCandidates.periodicity" ng-disabled="vc.viewState.VA_PERIODICITYTGAJ_151342.disabled || vc.viewState.VA_PERIODICITYTGAJ_151342.disabledingroup" ng-show="vc.viewState.VA_PERIODICITYTGAJ_151342.visible" ng-readonly="vc.viewState.VA_PERIODICITYTGAJ_151342.readonly" ng-class="vc.viewState.VA_PERIODICITYTGAJ_151342.style" k-data-source="vc.catalogs.VA_PERIODICITYTGAJ_151342" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_PERIODICITYTGAJ_151342.template" data-cobis-group="Group,G_CREDITCDUP_887342,0" required data-validation-code="{{vc.viewState.VA_PERIODICITYTGAJ_151342.validationCode}}" data-required-msg="{{'ASSTS.MSG_ASSTS_CAMPOREUI_74379'|translate}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-12" ng-show="vc.viewState.VA_DESCRIPTIONASLW_665342.visible"> 
        <div class="form-group cb-required" id="VA_DESCRIPTIONASLW_665342_DIV"> 
         <label for="VA_DESCRIPTIONASLW_665342" title="{{vc.viewState.VA_DESCRIPTIONASLW_665342.label|translate:vc.viewState.VA_DESCRIPTIONASLW_665342.labelArgs}}" ng-show="vc.viewState.VA_DESCRIPTIONASLW_665342.visible" class="control-label">{{vc.viewState.VA_DESCRIPTIONASLW_665342.label|translate:vc.viewState.VA_DESCRIPTIONASLW_665342.labelArgs}}</label> 
         <div class="cb-control"> 
          <textarea id="VA_DESCRIPTIONASLW_665342" style="resize: none; width:100%" rows="5" name="CreditCandidates_description" maxlength="600" type="text" class="form-control" ng-model="vc.model.CreditCandidates.description" ng-disabled="vc.viewState.VA_DESCRIPTIONASLW_665342.disabled || vc.viewState.VA_DESCRIPTIONASLW_665342.disabledingroup" ng-show="vc.viewState.VA_DESCRIPTIONASLW_665342.visible" ng-readonly="vc.viewState.VA_DESCRIPTIONASLW_665342.readonly" ng-class="vc.viewState.VA_DESCRIPTIONASLW_665342.style" data-cobis-group="Group,G_CREDITCDUP_887342,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_DESCRIPTIONASLW_665342.validationCode}}" data-required-msg="{{'ASSTS.MSG_ASSTS_CAMPOREUI_74379'|translate}}"></textarea> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-3" ng-show="vc.viewState.Spacer1674.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-6" ng-show="vc.viewState.VA_VABUTTONEFSSZUP_619342.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONEFSSZUP_619342" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONEFSSZUP_619342','VA_VABUTTONEFSSZUP_619342',validator,true, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONEFSSZUP_619342.disabled || vc.viewState.VA_VABUTTONEFSSZUP_619342.disabledingroup" ng-show="vc.viewState.VA_VABUTTONEFSSZUP_619342.visible" ng-class="vc.viewState.VA_VABUTTONEFSSZUP_619342.style"> {{vc.viewState.VA_VABUTTONEFSSZUP_619342.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_CREDITCAIA_342--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_ASSTSEWQQZQBV_441_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_CREDITCAUS_223441')" ng-disabled="vc.viewState.T_ASSTSEWQQZQBV_441_ACCEPT.disabled || vc.viewState.T_ASSTSEWQQZQBV_441_ACCEPT.disabledingroup" ng-show="vc.viewState.T_ASSTSEWQQZQBV_441_ACCEPT.visible" ng-class="vc.viewState.T_ASSTSEWQQZQBV_441_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_ASSTSEWQQZQBV_441_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_ASSTSEWQQZQBV_441_CANCEL.disabled || vc.viewState.T_ASSTSEWQQZQBV_441_CANCEL.disabledingroup" ng-show="vc.viewState.T_ASSTSEWQQZQBV_441_CANCEL.visible" ng-class="vc.viewState.T_ASSTSEWQQZQBV_441_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>