<!-- Designer Generator v 6.3.3 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_RATESMODAL_789953" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_RATESMODAL_789953.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_RATESMODLL_778--> 
  <div id="VC_RATESMODAL_789953" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_RATESMODDD_536778" ng-show="vc.viewState.G_RATESMODDD_536778.visible" ng-class="vc.viewState.G_RATESMODDD_536778.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_RATESMODDD_536778" k-options="validatorOptions" id="G_RATESMODDD_536778_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-8" ng-show="vc.viewState.VA_REFERENCEVALEEE_875778.visible"> 
        <div class="form-group" id="VA_REFERENCEVALEEE_875778_DIV"> 
         <label for="VA_REFERENCEVALEEE_875778" title="{{vc.viewState.VA_REFERENCEVALEEE_875778.label|translate:vc.viewState.VA_REFERENCEVALEEE_875778.labelArgs}}" ng-show="vc.viewState.VA_REFERENCEVALEEE_875778.visible" class="control-label">{{vc.viewState.VA_REFERENCEVALEEE_875778.label|translate:vc.viewState.VA_REFERENCEVALEEE_875778.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_REFERENCEVALEEE_875778" name="Rates_referenceValue" kendo-ext-combo-box="comboBox.VA_REFERENCEVALEEE_875778" ng-model="vc.model.Rates.referenceValue" ng-disabled="vc.viewState.VA_REFERENCEVALEEE_875778.disabled || vc.viewState.VA_REFERENCEVALEEE_875778.disabledingroup" ng-show="vc.viewState.VA_REFERENCEVALEEE_875778.visible" ng-readonly="vc.viewState.VA_REFERENCEVALEEE_875778.readonly" ng-class="vc.viewState.VA_REFERENCEVALEEE_875778.style" k-filter="'none'" k-min-length="'1'" k-cache-on-client="true" k-data-source="vc.catalogs.VA_REFERENCEVALEEE_875778" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_REFERENCEVALEEE_875778.template" data-cobis-group="Group,G_RATESMODDD_536778,0" data-validation-code="{{vc.viewState.VA_REFERENCEVALEEE_875778.validationCode}}" designer-change /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VALUEIAMTJBFHDB_811778.visible"> 
        <div class="form-group" id="VA_VALUEIAMTJBFHDB_811778_DIV"> 
         <label for="VA_VALUEIAMTJBFHDB_811778" title="{{vc.viewState.VA_VALUEIAMTJBFHDB_811778.label|translate:vc.viewState.VA_VALUEIAMTJBFHDB_811778.labelArgs}}" ng-show="vc.viewState.VA_VALUEIAMTJBFHDB_811778.visible" class="control-label">{{vc.viewState.VA_VALUEIAMTJBFHDB_811778.label|translate:vc.viewState.VA_VALUEIAMTJBFHDB_811778.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_VALUEIAMTJBFHDB_811778" name="Rates_value" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_VALUEIAMTJBFHDB_811778.format" k-decimals="vc.viewState.VA_VALUEIAMTJBFHDB_811778.decimals" k-ng-model="vc.model.Rates.value" ng-model="vc.tmpModel.Rates.value" ng-disabled="vc.viewState.VA_VALUEIAMTJBFHDB_811778.disabled || vc.viewState.VA_VALUEIAMTJBFHDB_811778.disabledingroup" ng-show="vc.viewState.VA_VALUEIAMTJBFHDB_811778.visible" ng-readonly="vc.viewState.VA_VALUEIAMTJBFHDB_811778.readonly" ng-class="vc.viewState.VA_VALUEIAMTJBFHDB_811778.style" data-cobis-group="Group,G_RATESMODDD_536778,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_VALUEIAMTJBFHDB_811778.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_TYPEPOINTSQGJRC_416778.visible"> 
        <div class="form-group" id="VA_TYPEPOINTSQGJRC_416778_DIV"> 
         <label for="VA_TYPEPOINTSQGJRC_416778" title="{{vc.viewState.VA_TYPEPOINTSQGJRC_416778.label|translate:vc.viewState.VA_TYPEPOINTSQGJRC_416778.labelArgs}}" ng-show="vc.viewState.VA_TYPEPOINTSQGJRC_416778.visible" class="control-label">{{vc.viewState.VA_TYPEPOINTSQGJRC_416778.label|translate:vc.viewState.VA_TYPEPOINTSQGJRC_416778.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_TYPEPOINTSQGJRC_416778" name="Rates_typePoints" kendo-ext-combo-box="comboBox.VA_TYPEPOINTSQGJRC_416778" ng-model="vc.model.Rates.typePoints" ng-disabled="vc.viewState.VA_TYPEPOINTSQGJRC_416778.disabled || vc.viewState.VA_TYPEPOINTSQGJRC_416778.disabledingroup" ng-show="vc.viewState.VA_TYPEPOINTSQGJRC_416778.visible" ng-readonly="vc.viewState.VA_TYPEPOINTSQGJRC_416778.readonly" ng-class="vc.viewState.VA_TYPEPOINTSQGJRC_416778.style" k-index="0" k-auto-bind="true" k-filter="'none'" k-min-length="'1'" k-cache-on-client="true" k-data-source="vc.catalogs.VA_TYPEPOINTSQGJRC_416778" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_TYPEPOINTSQGJRC_416778.template" data-cobis-group="Group,G_RATESMODDD_536778,0" data-validation-code="{{vc.viewState.VA_TYPEPOINTSQGJRC_416778.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_NUMBERDECIMALSL_248778.visible"> 
        <div class="form-group" id="VA_NUMBERDECIMALSL_248778_DIV"> 
         <label for="VA_NUMBERDECIMALSL_248778" title="{{vc.viewState.VA_NUMBERDECIMALSL_248778.label|translate:vc.viewState.VA_NUMBERDECIMALSL_248778.labelArgs}}" ng-show="vc.viewState.VA_NUMBERDECIMALSL_248778.visible" class="control-label">{{vc.viewState.VA_NUMBERDECIMALSL_248778.label|translate:vc.viewState.VA_NUMBERDECIMALSL_248778.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_NUMBERDECIMALSL_248778" name="Rates_numberDecimals" kendo-ext-combo-box="comboBox.VA_NUMBERDECIMALSL_248778" ng-model="vc.model.Rates.numberDecimals" ng-disabled="vc.viewState.VA_NUMBERDECIMALSL_248778.disabled || vc.viewState.VA_NUMBERDECIMALSL_248778.disabledingroup" ng-show="vc.viewState.VA_NUMBERDECIMALSL_248778.visible" ng-readonly="vc.viewState.VA_NUMBERDECIMALSL_248778.readonly" ng-class="vc.viewState.VA_NUMBERDECIMALSL_248778.style" k-index="0" k-auto-bind="true" k-filter="'none'" k-min-length="'1'" k-cache-on-client="true" k-data-source="vc.catalogs.VA_NUMBERDECIMALSL_248778" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_NUMBERDECIMALSL_248778.template" data-cobis-group="Group,G_RATESMODDD_536778,0" data-validation-code="{{vc.viewState.VA_NUMBERDECIMALSL_248778.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer2425.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-12" ng-show="vc.viewState.VA_PORTFOLIOCLASSS_404778.visible"> 
        <div class="form-group" id="VA_PORTFOLIOCLASSS_404778_DIV"> 
         <label for="VA_PORTFOLIOCLASSS_404778" title="{{vc.viewState.VA_PORTFOLIOCLASSS_404778.label|translate:vc.viewState.VA_PORTFOLIOCLASSS_404778.labelArgs}}" ng-show="vc.viewState.VA_PORTFOLIOCLASSS_404778.visible" class="control-label">{{vc.viewState.VA_PORTFOLIOCLASSS_404778.label|translate:vc.viewState.VA_PORTFOLIOCLASSS_404778.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_PORTFOLIOCLASSS_404778" name="Rates_portfolioClass" kendo-ext-combo-box="comboBox.VA_PORTFOLIOCLASSS_404778" ng-model="vc.model.Rates.portfolioClass" ng-disabled="vc.viewState.VA_PORTFOLIOCLASSS_404778.disabled || vc.viewState.VA_PORTFOLIOCLASSS_404778.disabledingroup" ng-show="vc.viewState.VA_PORTFOLIOCLASSS_404778.visible" ng-readonly="vc.viewState.VA_PORTFOLIOCLASSS_404778.readonly" ng-class="vc.viewState.VA_PORTFOLIOCLASSS_404778.style" k-index="0" k-auto-bind="true" k-filter="'none'" k-min-length="'1'" k-cache-on-client="true" k-data-source="vc.catalogs.VA_PORTFOLIOCLASSS_404778" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_PORTFOLIOCLASSS_404778.template" data-cobis-group="Group,G_RATESMODDD_536778,0" data-validation-code="{{vc.viewState.VA_PORTFOLIOCLASSS_404778.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_RATESMODLL_990778" ng-class="vc.viewState.G_RATESMODLL_990778.style" class="cb-group cb-group-layout"> 
    <div id="G_RATESMODLL_990778_VAL" kendo-validator="G_RATESMODLL_990778" k-options="validatorOptions"> 
     <div class="row"> 
      <div class="col-xs-4"> 
       <div id="G_RATESMOAAD_646778" class="cb-group cb-group-simple" ng-show="vc.viewState.G_RATESMOAAD_646778.visible" ng-class="vc.viewState.G_RATESMOAAD_646778.style"> 
        <div id="G_RATESMOAAD_646778_VAL" kendo-validator="G_RATESMOAAD_646778" k-options="validatorOptions"> 
         <div class="form-vertical"> 
          <div class="row"> 
           <div class="col-xs-12" ng-show="vc.viewState.VA_VASIMPLELABELLL_678778.visible"> 
            <div class="form-group"> 
             <label class="control-label">&nbsp;</label> 
             <div class="cb-control"> 
              <label id="VA_VASIMPLELABELLL_678778" ng-show="vc.viewState.VA_VASIMPLELABELLL_678778.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_678778.style"> {{vc.viewState.VA_VASIMPLELABELLL_678778.label|translate}} </label>
             </div> 
            </div> 
           </div> 
           <div class="col-xs-4" ng-show="vc.viewState.VA_SIGNMINPDDMQZST_831778.visible"> 
            <div class="form-group" id="VA_SIGNMINPDDMQZST_831778_DIV"> 
             <label for="VA_SIGNMINPDDMQZST_831778" title="{{vc.viewState.VA_SIGNMINPDDMQZST_831778.label|translate:vc.viewState.VA_SIGNMINPDDMQZST_831778.labelArgs}}" ng-show="vc.viewState.VA_SIGNMINPDDMQZST_831778.visible" class="control-label">{{vc.viewState.VA_SIGNMINPDDMQZST_831778.label|translate:vc.viewState.VA_SIGNMINPDDMQZST_831778.labelArgs}}</label> 
             <div class="cb-control"> 
              <input id="VA_SIGNMINPDDMQZST_831778" name="Rates_signDefault" kendo-ext-combo-box="comboBox.VA_SIGNMINPDDMQZST_831778" ng-model="vc.model.Rates.signDefault" ng-disabled="vc.viewState.VA_SIGNMINPDDMQZST_831778.disabled || vc.viewState.VA_SIGNMINPDDMQZST_831778.disabledingroup" ng-show="vc.viewState.VA_SIGNMINPDDMQZST_831778.visible" ng-readonly="vc.viewState.VA_SIGNMINPDDMQZST_831778.readonly" ng-class="vc.viewState.VA_SIGNMINPDDMQZST_831778.style" k-index="0" k-auto-bind="true" k-filter="'none'" k-min-length="'1'" k-cache-on-client="true" k-data-source="vc.catalogs.VA_SIGNMINPDDMQZST_831778" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_SIGNMINPDDMQZST_831778.template" data-cobis-group="GroupLayout,G_RATESMODLL_990778,0" data-validation-code="{{vc.viewState.VA_SIGNMINPDDMQZST_831778.validationCode}}" designer-change /> 
             </div> 
            </div> 
           </div> 
           <div class="col-xs-8" ng-show="vc.viewState.VA_VALUEDEAFULTCGE_547778.visible"> 
            <div class="form-group" id="VA_VALUEDEAFULTCGE_547778_DIV"> 
             <label for="VA_VALUEDEAFULTCGE_547778" title="{{vc.viewState.VA_VALUEDEAFULTCGE_547778.label|translate:vc.viewState.VA_VALUEDEAFULTCGE_547778.labelArgs}}" ng-show="vc.viewState.VA_VALUEDEAFULTCGE_547778.visible" class="control-label">{{vc.viewState.VA_VALUEDEAFULTCGE_547778.label|translate:vc.viewState.VA_VALUEDEAFULTCGE_547778.labelArgs}}</label> 
             <div class="cb-control"> 
              <input id="VA_VALUEDEAFULTCGE_547778" name="Rates_valueDeafult" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_VALUEDEAFULTCGE_547778.format" k-decimals="vc.viewState.VA_VALUEDEAFULTCGE_547778.decimals" k-ng-model="vc.model.Rates.valueDeafult" ng-model="vc.tmpModel.Rates.valueDeafult" ng-disabled="vc.viewState.VA_VALUEDEAFULTCGE_547778.disabled || vc.viewState.VA_VALUEDEAFULTCGE_547778.disabledingroup" ng-show="vc.viewState.VA_VALUEDEAFULTCGE_547778.visible" ng-readonly="vc.viewState.VA_VALUEDEAFULTCGE_547778.readonly" ng-class="vc.viewState.VA_VALUEDEAFULTCGE_547778.style" data-cobis-group="GroupLayout,G_RATESMODLL_990778,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_VALUEDEAFULTCGE_547778.validationCode}}" designer-change /> 
             </div> 
            </div> 
           </div> 
           <div class="col-xs-4" ng-show="vc.viewState.Spacer2265.visible"> 
            <div class="form-group cb-spacer"> 
             <label class="control-label">&nbsp;</label> 
             <span class="cb-control"></span> 
            </div> 
           </div> 
           <div class="col-xs-8" ng-show="vc.viewState.VA_LOCKEDDEFAULTTT_935778.visible"> 
            <div class="form-group cb-no-label" id="VA_LOCKEDDEFAULTTT_935778_DIV"> 
             <div class="cb-control"> 
              <input id="VA_LOCKEDDEFAULTTT_935778" name="Rates_lockedDefault" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_LOCKEDDEFAULTTT_935778.format" k-decimals="vc.viewState.VA_LOCKEDDEFAULTTT_935778.decimals" k-ng-model="vc.model.Rates.lockedDefault" ng-model="vc.tmpModel.Rates.lockedDefault" ng-disabled="vc.viewState.VA_LOCKEDDEFAULTTT_935778.disabled || vc.viewState.VA_LOCKEDDEFAULTTT_935778.disabledingroup" ng-show="vc.viewState.VA_LOCKEDDEFAULTTT_935778.visible" ng-readonly="vc.viewState.VA_LOCKEDDEFAULTTT_935778.readonly" ng-class="vc.viewState.VA_LOCKEDDEFAULTTT_935778.style" data-cobis-group="GroupLayout,G_RATESMODLL_990778,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_LOCKEDDEFAULTTT_935778.validationCode}}" /> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <div class="col-xs-4"> 
       <div id="G_RATESMOLAD_413778" class="cb-group cb-group-simple" ng-show="vc.viewState.G_RATESMOLAD_413778.visible" ng-class="vc.viewState.G_RATESMOLAD_413778.style"> 
        <div id="G_RATESMOLAD_413778_VAL" kendo-validator="G_RATESMOLAD_413778" k-options="validatorOptions"> 
         <div class="form-vertical"> 
          <div class="row"> 
           <div class="col-xs-12" ng-show="vc.viewState.VA_VASIMPLELABELLL_567778.visible"> 
            <div class="form-group"> 
             <label class="control-label">&nbsp;</label> 
             <div class="cb-control"> 
              <label id="VA_VASIMPLELABELLL_567778" ng-show="vc.viewState.VA_VASIMPLELABELLL_567778.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_567778.style"> {{vc.viewState.VA_VASIMPLELABELLL_567778.label|translate}} </label>
             </div> 
            </div> 
           </div> 
           <div class="col-xs-4" ng-show="vc.viewState.VA_SIGNMINKUSGFZGN_277778.visible"> 
            <div class="form-group" id="VA_SIGNMINKUSGFZGN_277778_DIV"> 
             <label for="VA_SIGNMINKUSGFZGN_277778" title="{{vc.viewState.VA_SIGNMINKUSGFZGN_277778.label|translate:vc.viewState.VA_SIGNMINKUSGFZGN_277778.labelArgs}}" ng-show="vc.viewState.VA_SIGNMINKUSGFZGN_277778.visible" class="control-label">{{vc.viewState.VA_SIGNMINKUSGFZGN_277778.label|translate:vc.viewState.VA_SIGNMINKUSGFZGN_277778.labelArgs}}</label> 
             <div class="cb-control"> 
              <input id="VA_SIGNMINKUSGFZGN_277778" name="Rates_signMin" kendo-ext-combo-box="comboBox.VA_SIGNMINKUSGFZGN_277778" ng-model="vc.model.Rates.signMin" ng-disabled="vc.viewState.VA_SIGNMINKUSGFZGN_277778.disabled || vc.viewState.VA_SIGNMINKUSGFZGN_277778.disabledingroup" ng-show="vc.viewState.VA_SIGNMINKUSGFZGN_277778.visible" ng-readonly="vc.viewState.VA_SIGNMINKUSGFZGN_277778.readonly" ng-class="vc.viewState.VA_SIGNMINKUSGFZGN_277778.style" k-index="0" k-auto-bind="true" k-filter="'none'" k-min-length="'1'" k-cache-on-client="true" k-data-source="vc.catalogs.VA_SIGNMINKUSGFZGN_277778" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_SIGNMINKUSGFZGN_277778.template" data-cobis-group="GroupLayout,G_RATESMODLL_990778,1" data-validation-code="{{vc.viewState.VA_SIGNMINKUSGFZGN_277778.validationCode}}" designer-change /> 
             </div> 
            </div> 
           </div> 
           <div class="col-xs-8" ng-show="vc.viewState.VA_VALUEMINGCHKTLJ_996778.visible"> 
            <div class="form-group" id="VA_VALUEMINGCHKTLJ_996778_DIV"> 
             <label for="VA_VALUEMINGCHKTLJ_996778" title="{{vc.viewState.VA_VALUEMINGCHKTLJ_996778.label|translate:vc.viewState.VA_VALUEMINGCHKTLJ_996778.labelArgs}}" ng-show="vc.viewState.VA_VALUEMINGCHKTLJ_996778.visible" class="control-label">{{vc.viewState.VA_VALUEMINGCHKTLJ_996778.label|translate:vc.viewState.VA_VALUEMINGCHKTLJ_996778.labelArgs}}</label> 
             <div class="cb-control"> 
              <input id="VA_VALUEMINGCHKTLJ_996778" name="Rates_valueMin" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_VALUEMINGCHKTLJ_996778.format" k-decimals="vc.viewState.VA_VALUEMINGCHKTLJ_996778.decimals" k-ng-model="vc.model.Rates.valueMin" ng-model="vc.tmpModel.Rates.valueMin" ng-disabled="vc.viewState.VA_VALUEMINGCHKTLJ_996778.disabled || vc.viewState.VA_VALUEMINGCHKTLJ_996778.disabledingroup" ng-show="vc.viewState.VA_VALUEMINGCHKTLJ_996778.visible" ng-readonly="vc.viewState.VA_VALUEMINGCHKTLJ_996778.readonly" ng-class="vc.viewState.VA_VALUEMINGCHKTLJ_996778.style" data-cobis-group="GroupLayout,G_RATESMODLL_990778,1" ng-model-onblur data-validation-code="{{vc.viewState.VA_VALUEMINGCHKTLJ_996778.validationCode}}" designer-change /> 
             </div> 
            </div> 
           </div> 
           <div class="col-xs-4" ng-show="vc.viewState.Spacer2928.visible"> 
            <div class="form-group cb-spacer"> 
             <label class="control-label">&nbsp;</label> 
             <span class="cb-control"></span> 
            </div> 
           </div> 
           <div class="col-xs-8" ng-show="vc.viewState.VA_LOCKEDMINOJZSTC_260778.visible"> 
            <div class="form-group cb-no-label" id="VA_LOCKEDMINOJZSTC_260778_DIV"> 
             <div class="cb-control"> 
              <input id="VA_LOCKEDMINOJZSTC_260778" name="Rates_lockedMin" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_LOCKEDMINOJZSTC_260778.format" k-decimals="vc.viewState.VA_LOCKEDMINOJZSTC_260778.decimals" k-ng-model="vc.model.Rates.lockedMin" ng-model="vc.tmpModel.Rates.lockedMin" ng-disabled="vc.viewState.VA_LOCKEDMINOJZSTC_260778.disabled || vc.viewState.VA_LOCKEDMINOJZSTC_260778.disabledingroup" ng-show="vc.viewState.VA_LOCKEDMINOJZSTC_260778.visible" ng-readonly="vc.viewState.VA_LOCKEDMINOJZSTC_260778.readonly" ng-class="vc.viewState.VA_LOCKEDMINOJZSTC_260778.style" data-cobis-group="GroupLayout,G_RATESMODLL_990778,1" ng-model-onblur data-validation-code="{{vc.viewState.VA_LOCKEDMINOJZSTC_260778.validationCode}}" /> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <div class="col-xs-4"> 
       <div id="G_RATESMOADD_409778" class="cb-group cb-group-simple" ng-show="vc.viewState.G_RATESMOADD_409778.visible" ng-class="vc.viewState.G_RATESMOADD_409778.style"> 
        <div id="G_RATESMOADD_409778_VAL" kendo-validator="G_RATESMOADD_409778" k-options="validatorOptions"> 
         <div class="form-vertical"> 
          <div class="row"> 
           <div class="col-xs-12" ng-show="vc.viewState.VA_VASIMPLELABELLL_236778.visible"> 
            <div class="form-group"> 
             <label class="control-label">&nbsp;</label> 
             <div class="cb-control"> 
              <label id="VA_VASIMPLELABELLL_236778" ng-show="vc.viewState.VA_VASIMPLELABELLL_236778.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_236778.style"> {{vc.viewState.VA_VASIMPLELABELLL_236778.label|translate}} </label>
             </div> 
            </div> 
           </div> 
           <div class="col-xs-4" ng-show="vc.viewState.VA_SIGNMAXCQWMGYQB_195778.visible"> 
            <div class="form-group" id="VA_SIGNMAXCQWMGYQB_195778_DIV"> 
             <label for="VA_SIGNMAXCQWMGYQB_195778" title="{{vc.viewState.VA_SIGNMAXCQWMGYQB_195778.label|translate:vc.viewState.VA_SIGNMAXCQWMGYQB_195778.labelArgs}}" ng-show="vc.viewState.VA_SIGNMAXCQWMGYQB_195778.visible" class="control-label">{{vc.viewState.VA_SIGNMAXCQWMGYQB_195778.label|translate:vc.viewState.VA_SIGNMAXCQWMGYQB_195778.labelArgs}}</label> 
             <div class="cb-control"> 
              <input id="VA_SIGNMAXCQWMGYQB_195778" name="Rates_signMax" kendo-ext-combo-box="comboBox.VA_SIGNMAXCQWMGYQB_195778" ng-model="vc.model.Rates.signMax" ng-disabled="vc.viewState.VA_SIGNMAXCQWMGYQB_195778.disabled || vc.viewState.VA_SIGNMAXCQWMGYQB_195778.disabledingroup" ng-show="vc.viewState.VA_SIGNMAXCQWMGYQB_195778.visible" ng-readonly="vc.viewState.VA_SIGNMAXCQWMGYQB_195778.readonly" ng-class="vc.viewState.VA_SIGNMAXCQWMGYQB_195778.style" k-index="0" k-auto-bind="true" k-filter="'none'" k-min-length="'1'" k-cache-on-client="true" k-data-source="vc.catalogs.VA_SIGNMAXCQWMGYQB_195778" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_SIGNMAXCQWMGYQB_195778.template" data-cobis-group="GroupLayout,G_RATESMODLL_990778,2" data-validation-code="{{vc.viewState.VA_SIGNMAXCQWMGYQB_195778.validationCode}}" designer-change /> 
             </div> 
            </div> 
           </div> 
           <div class="col-xs-8" ng-show="vc.viewState.VA_VALUEMAXAXNIZZF_909778.visible"> 
            <div class="form-group" id="VA_VALUEMAXAXNIZZF_909778_DIV"> 
             <label for="VA_VALUEMAXAXNIZZF_909778" title="{{vc.viewState.VA_VALUEMAXAXNIZZF_909778.label|translate:vc.viewState.VA_VALUEMAXAXNIZZF_909778.labelArgs}}" ng-show="vc.viewState.VA_VALUEMAXAXNIZZF_909778.visible" class="control-label">{{vc.viewState.VA_VALUEMAXAXNIZZF_909778.label|translate:vc.viewState.VA_VALUEMAXAXNIZZF_909778.labelArgs}}</label> 
             <div class="cb-control"> 
              <input id="VA_VALUEMAXAXNIZZF_909778" name="Rates_valueMax" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_VALUEMAXAXNIZZF_909778.format" k-decimals="vc.viewState.VA_VALUEMAXAXNIZZF_909778.decimals" k-ng-model="vc.model.Rates.valueMax" ng-model="vc.tmpModel.Rates.valueMax" ng-disabled="vc.viewState.VA_VALUEMAXAXNIZZF_909778.disabled || vc.viewState.VA_VALUEMAXAXNIZZF_909778.disabledingroup" ng-show="vc.viewState.VA_VALUEMAXAXNIZZF_909778.visible" ng-readonly="vc.viewState.VA_VALUEMAXAXNIZZF_909778.readonly" ng-class="vc.viewState.VA_VALUEMAXAXNIZZF_909778.style" data-cobis-group="GroupLayout,G_RATESMODLL_990778,2" ng-model-onblur data-validation-code="{{vc.viewState.VA_VALUEMAXAXNIZZF_909778.validationCode}}" designer-change /> 
             </div> 
            </div> 
           </div> 
           <div class="col-xs-4" ng-show="vc.viewState.Spacer2747.visible"> 
            <div class="form-group cb-spacer"> 
             <label class="control-label">&nbsp;</label> 
             <span class="cb-control"></span> 
            </div> 
           </div> 
           <div class="col-xs-8" ng-show="vc.viewState.VA_LOCKEDMAXEHQUHM_227778.visible"> 
            <div class="form-group cb-no-label" id="VA_LOCKEDMAXEHQUHM_227778_DIV"> 
             <div class="cb-control"> 
              <input id="VA_LOCKEDMAXEHQUHM_227778" name="Rates_lockedMax" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_LOCKEDMAXEHQUHM_227778.format" k-decimals="vc.viewState.VA_LOCKEDMAXEHQUHM_227778.decimals" k-ng-model="vc.model.Rates.lockedMax" ng-model="vc.tmpModel.Rates.lockedMax" ng-disabled="vc.viewState.VA_LOCKEDMAXEHQUHM_227778.disabled || vc.viewState.VA_LOCKEDMAXEHQUHM_227778.disabledingroup" ng-show="vc.viewState.VA_LOCKEDMAXEHQUHM_227778.visible" ng-readonly="vc.viewState.VA_LOCKEDMAXEHQUHM_227778.readonly" ng-class="vc.viewState.VA_LOCKEDMAXEHQUHM_227778.style" data-cobis-group="GroupLayout,G_RATESMODLL_990778,2" ng-model-onblur data-validation-code="{{vc.viewState.VA_LOCKEDMAXEHQUHM_227778.validationCode}}" /> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_RATESMODDL_236778" ng-show="vc.viewState.G_RATESMODDL_236778.visible" ng-class="vc.viewState.G_RATESMODDL_236778.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_RATESMODDL_236778" k-options="validatorOptions" id="G_RATESMODDL_236778_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_REFRESGRIDFLGAG_672778.visible"> 
        <div class="form-group" id="VA_REFRESGRIDFLGAG_672778_DIV"> 
         <label>&nbsp; </label> 
         <div class="cb-control"> 
          <div> 
           <label class="checkbox-inline"> <input id="VA_REFRESGRIDFLGAG_672778" name="ServerParameter_refresGridFlag" type="checkbox" ng-model="vc.model.ServerParameter.refresGridFlag" ng-disabled="vc.viewState.VA_REFRESGRIDFLGAG_672778.disabled || vc.viewState.VA_REFRESGRIDFLGAG_672778.disabledingroup" ng-show="vc.viewState.VA_REFRESGRIDFLGAG_672778.visible" ng-class="vc.viewState.VA_REFRESGRIDFLGAG_672778.style" designer-change /> <span ng-if="vc.viewState.VA_REFRESGRIDFLGAG_672778.visible"> {{vc.viewState.VA_REFRESGRIDFLGAG_672778.label|translate}} </span> </label> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_RATESMODLL_778--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc || !vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_TRATESMO_TU_" ng-click="vc.executeCommand('CM_TRATESMO_TU_','Command1', validator, false, false, 'VC_RATESMODAL_789953', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_TRATESMO_TU_.disabled || vc.viewState.CM_TRATESMO_TU_.disabledingroup" ng-show="vc.viewState.CM_TRATESMO_TU_.visible" ng-class="vc.viewState.CM_TRATESMO_TU_.style"> {{vc.viewState.CM_TRATESMO_TU_.label|translate}} </button> 
    <button id="CM_TRATESMO_AUS" ng-click="vc.executeCommand('CM_TRATESMO_AUS','Command2', validator, false, false, 'VC_RATESMODAL_789953', false)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_TRATESMO_AUS.disabled || vc.viewState.CM_TRATESMO_AUS.disabledingroup" ng-show="vc.viewState.CM_TRATESMO_AUS.visible" ng-class="vc.viewState.CM_TRATESMO_AUS.style"> {{vc.viewState.CM_TRATESMO_AUS.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_RATESMODALKUB_953_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_RATESMODAL_789953')" ng-disabled="vc.viewState.T_RATESMODALKUB_953_ACCEPT.disabled || vc.viewState.T_RATESMODALKUB_953_ACCEPT.disabledingroup" ng-show="vc.viewState.T_RATESMODALKUB_953_ACCEPT.visible" ng-class="vc.viewState.T_RATESMODALKUB_953_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_RATESMODALKUB_953_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_RATESMODALKUB_953_CANCEL.disabled || vc.viewState.T_RATESMODALKUB_953_CANCEL.disabledingroup" ng-show="vc.viewState.T_RATESMODALKUB_953_CANCEL.visible" ng-class="vc.viewState.T_RATESMODALKUB_953_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>