<!-- Designer Generator v 6.1.1 - release SPR 2017-05_01 03/20/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_SDEEF25_BREOM_121" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_SDEEF25_BREOM_121.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_SDEEF25_BREOM_121" ng-keydown="vc.viewState.keyDown($event)" class="cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="VC_SDEEF25_GPOSR_389" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_SDEEF25_GPOSR_389', vc.viewState.VC_SDEEF25_GPOSR_389.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_SDEEF25_GPOSR_389.visible"> 
    <div id="VC_SDEEF25_GPOSR_389_VAL" kendo-validator="VC_SDEEF25_GPOSR_389" k-options="validatorOptions"> 
     <!-- Inicio item VW_WTTTEPRCES08--> 
     <div designer-form-load form="vc.viewState.GR_WTTTEPRCES08_02" class="cb-group cb-group-html-section"> 
     </div> 
     <div id="GR_WTTTEPRCES08_03" ng-show="vc.viewState.GR_WTTTEPRCES08_03.visible" ng-class="vc.viewState.GR_WTTTEPRCES08_03.style" class="cb-group cb-group-simple"> 
      <div kendo-validator="GR_WTTTEPRCES08_03" k-options="validatorOptions" id="GR_WTTTEPRCES08_03_VAL"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-12" ng-show="vc.viewState.GR_WTTTEPRCES08_03-default-blank.visible"> 
          <div class="form-group cb-spacer"> 
           <label class="control-label">&nbsp;</label> 
           <span class="cb-control"></span> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <!-- Fin item VW_WTTTEPRCES08--> 
    </div> 
   </div> 
   <div id="VC_SDEEF25_RPDEN_077" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_SDEEF25_RPDEN_077', vc.viewState.VC_SDEEF25_RPDEN_077.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_SDEEF25_RPDEN_077.visible"> 
    <div id="VC_SDEEF25_RPDEN_077_VAL" kendo-validator="VC_SDEEF25_RPDEN_077" k-options="validatorOptions"> 
     <!-- Inicio item VW_DISURMETFR51--> 
     <div id="GR_DISURMETFR51_05" ng-class="vc.viewState.GR_DISURMETFR51_05.style" class="cb-group cb-group-layout"> 
      <div id="GR_DISURMETFR51_05_VAL" kendo-validator="GR_DISURMETFR51_05" k-options="validatorOptions"> 
       <div id="GR_DISURMETFR51_06" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_DISURMETFR51_06.visible" ng-class="vc.viewState.GR_DISURMETFR51_06.style"> 
        <div id="GR_DISURMETFR51_06_VAL" kendo-validator="GR_DISURMETFR51_06" k-options="validatorOptions"> 
         <div class="form-vertical"> 
          <div class="row"> 
           <div class="col-xs-3" ng-show="vc.viewState.VA_DISURMETFR5106_ATBS301.visible"> 
            <div class="form-group" id="VA_DISURMETFR5106_ATBS301_DIV"> 
             <label for="VA_DISURMETFR5106_ATBS301" title="{{vc.viewState.VA_DISURMETFR5106_ATBS301.label|translate:vc.viewState.VA_DISURMETFR5106_ATBS301.labelArgs}}" ng-show="vc.viewState.VA_DISURMETFR5106_ATBS301.visible" class="control-label">{{vc.viewState.VA_DISURMETFR5106_ATBS301.label|translate:vc.viewState.VA_DISURMETFR5106_ATBS301.labelArgs}}</label> 
             <div class="cb-control"> 
              <input id="VA_DISURMETFR5106_ATBS301" name="LoanHeader_ValuetoDisburse" maxlength="103" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_DISURMETFR5106_ATBS301.format" k-decimals="vc.viewState.VA_DISURMETFR5106_ATBS301.decimals" k-ng-model="vc.model.LoanHeader.ValuetoDisburse" ng-model="vc.tmpModel.LoanHeader.ValuetoDisburse" ng-disabled="vc.viewState.VA_DISURMETFR5106_ATBS301.disabled || vc.viewState.VA_DISURMETFR5106_ATBS301.disabledingroup" ng-show="vc.viewState.VA_DISURMETFR5106_ATBS301.visible" ng-readonly="vc.viewState.VA_DISURMETFR5106_ATBS301.readonly" ng-class="vc.viewState.VA_DISURMETFR5106_ATBS301.style" data-cobis-group="GroupLayout,GR_DISURMETFR51_05,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_DISURMETFR5106_ATBS301.validationCode}}" /> 
             </div> 
            </div> 
           </div> 
           <div class="col-xs-3" ng-show="vc.viewState.VA_DISURMETFR5106_BAIO644.visible"> 
            <div class="form-group" id="VA_DISURMETFR5106_BAIO644_DIV"> 
             <label for="VA_DISURMETFR5106_BAIO644" title="{{vc.viewState.VA_DISURMETFR5106_BAIO644.label|translate:vc.viewState.VA_DISURMETFR5106_BAIO644.labelArgs}}" ng-show="vc.viewState.VA_DISURMETFR5106_BAIO644.visible" class="control-label">{{vc.viewState.VA_DISURMETFR5106_BAIO644.label|translate:vc.viewState.VA_DISURMETFR5106_BAIO644.labelArgs}}</label> 
             <div class="cb-control"> 
              <input id="VA_DISURMETFR5106_BAIO644" name="LoanHeader_BalanceOperation" maxlength="103" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_DISURMETFR5106_BAIO644.format" k-decimals="vc.viewState.VA_DISURMETFR5106_BAIO644.decimals" k-ng-model="vc.model.LoanHeader.BalanceOperation" ng-model="vc.tmpModel.LoanHeader.BalanceOperation" ng-disabled="vc.viewState.VA_DISURMETFR5106_BAIO644.disabled || vc.viewState.VA_DISURMETFR5106_BAIO644.disabledingroup" ng-show="vc.viewState.VA_DISURMETFR5106_BAIO644.visible" ng-readonly="vc.viewState.VA_DISURMETFR5106_BAIO644.readonly" ng-class="vc.viewState.VA_DISURMETFR5106_BAIO644.style" data-cobis-group="GroupLayout,GR_DISURMETFR51_05,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_DISURMETFR5106_BAIO644.validationCode}}" designer-change /> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <fieldset id="GR_DISURMETFR51_07" ng-show="vc.viewState.GR_DISURMETFR51_07.visible" ng-class="vc.viewState.GR_DISURMETFR51_07.style" class="cb-group cb-group-simple"> 
        <legend> <span ng-bind="vc.viewState.GR_DISURMETFR51_07.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.GR_DISURMETFR51_07.statusStyle.success, 'cb-validation-fail': vc.viewState.GR_DISURMETFR51_07.statusStyle.fail, 'cb-validation-none': vc.viewState.GR_DISURMETFR51_07.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.GR_DISURMETFR51_07.label|translate}}</span> </legend> 
        <div id="GR_DISURMETFR51_07_VAL" kendo-validator="GR_DISURMETFR51_07" k-options="validatorOptions"> 
         <div id="QV_TDLIA9011_50" kendo-ext-grid="grids.QV_TDLIA9011_50" k-data-source="vc.model.DetailLiquidateValues" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_TDLIA9011_50.editable" k-toolbar="vc.grids.QV_TDLIA9011_50.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="true" k-change="vc.grids.QV_TDLIA9011_50.events.change" k-data-bound="vc.grids.QV_TDLIA9011_50.events.dataBound" k-columns="vc.grids.QV_TDLIA9011_50.columns" k-cancel="vc.grids.QV_TDLIA9011_50.events.cancel" k-edit="vc.grids.QV_TDLIA9011_50.events.edit" ng-class="vc.viewState.QV_TDLIA9011_50.style" k-ng-delay="vc.afterInitData"></div> 
        </div> 
       </fieldset> 
       <fieldset id="GR_DISURMETFR51_08" ng-show="vc.viewState.GR_DISURMETFR51_08.visible" ng-class="vc.viewState.GR_DISURMETFR51_08.style" class="cb-group cb-group-simple"> 
        <legend> <span ng-bind="vc.viewState.GR_DISURMETFR51_08.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.GR_DISURMETFR51_08.statusStyle.success, 'cb-validation-fail': vc.viewState.GR_DISURMETFR51_08.statusStyle.fail, 'cb-validation-none': vc.viewState.GR_DISURMETFR51_08.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.GR_DISURMETFR51_08.label|translate}}</span> </legend> 
        <div id="GR_DISURMETFR51_08_VAL" kendo-validator="GR_DISURMETFR51_08" k-options="validatorOptions"> 
         <div id="QV_TSRSE1342_26" kendo-ext-grid="grids.QV_TSRSE1342_26" k-data-source="vc.model.DisbursementDetail" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_TSRSE1342_26.editable" k-toolbar="vc.grids.QV_TSRSE1342_26.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_TSRSE1342_26.events.dataBound" k-columns="vc.grids.QV_TSRSE1342_26.columns" k-cancel="vc.grids.QV_TSRSE1342_26.events.cancel" k-edit="vc.grids.QV_TSRSE1342_26.events.edit" k-data-binding="vc.grids.QV_TSRSE1342_26.events.dataBinding" k-detail-template="vc.grids.QV_TSRSE1342_26.detailTemplate" k-detail-expand="vc.grids.QV_TSRSE1342_26.events.detailExpand" ng-class="vc.viewState.QV_TSRSE1342_26.style" k-ng-delay="vc.afterInitData"></div> 
        </div> 
       </fieldset> 
      </div> 
     </div> 
     <!-- Fin item VW_DISURMETFR51--> 
    </div> 
   </div> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_FLCRE_76_SDEEF25_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_SDEEF25_BREOM_121')" ng-disabled="vc.viewState.T_FLCRE_76_SDEEF25_ACCEPT.disabled || vc.viewState.T_FLCRE_76_SDEEF25_ACCEPT.disabledingroup" ng-show="vc.viewState.T_FLCRE_76_SDEEF25_ACCEPT.visible" ng-class="vc.viewState.T_FLCRE_76_SDEEF25_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_FLCRE_76_SDEEF25_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_FLCRE_76_SDEEF25_CANCEL.disabled || vc.viewState.T_FLCRE_76_SDEEF25_CANCEL.disabledingroup" ng-show="vc.viewState.T_FLCRE_76_SDEEF25_CANCEL.visible" ng-class="vc.viewState.T_FLCRE_76_SDEEF25_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>