<!-- Designer Generator v 6.3.3 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_DATAVERION_567496" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_DATAVERION_567496.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_DATAVERIUT_108--> 
  <div id="VC_DATAVERION_567496" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_DATAVERNNO_570108" ng-show="vc.viewState.G_DATAVERNNO_570108.visible" ng-class="vc.viewState.G_DATAVERNNO_570108.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_DATAVERNNO_570108" k-options="validatorOptions" id="G_DATAVERNNO_570108_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer2448.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VASIMPLELABELLL_193108.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <label id="VA_VASIMPLELABELLL_193108" ng-show="vc.viewState.VA_VASIMPLELABELLL_193108.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_193108.style"> {{vc.viewState.VA_VASIMPLELABELLL_193108.label|translate}} </label>
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer2449.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_DATAVERAAT_911108" ng-show="vc.viewState.G_DATAVERAAT_911108.visible" ng-class="vc.viewState.G_DATAVERAAT_911108.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_DATAVERAAT_911108" k-options="validatorOptions" id="G_DATAVERAAT_911108_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-12" ng-show="vc.viewState.VA_VASIMPLELABELLL_440108.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <label id="VA_VASIMPLELABELLL_440108" ng-show="vc.viewState.VA_VASIMPLELABELLL_440108.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_440108.style"> {{vc.viewState.VA_VASIMPLELABELLL_440108.label|translate}} </label>
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_DATAVERFQE_911108" ng-show="vc.viewState.G_DATAVERFQE_911108.visible" ng-class="vc.viewState.G_DATAVERFQE_911108.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_DATAVERFQE_911108" k-options="validatorOptions" id="G_DATAVERFQE_911108_VAL"> 
     <div id="QV_5932_10558" kendo-ext-grid="grids.QV_5932_10558" k-data-source="vc.model.QuestionsPartOne" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_5932_10558.editable" k-navigatable="true" k-save="vc.grids.QV_5932_10558.events.save" k-remove="vc.grids.QV_5932_10558.events.remove" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_5932_10558.events.dataBound" k-columns="vc.grids.QV_5932_10558.columns" k-cancel="vc.grids.QV_5932_10558.events.cancel" k-edit="vc.grids.QV_5932_10558.events.edit" ng-class="vc.viewState.QV_5932_10558.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </div> 
   <div id="G_DATAVERITT_330108" ng-show="vc.viewState.G_DATAVERITT_330108.visible" ng-class="vc.viewState.G_DATAVERITT_330108.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_DATAVERITT_330108" k-options="validatorOptions" id="G_DATAVERITT_330108_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-12" ng-show="vc.viewState.VA_VASIMPLELABELLL_530108.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <label id="VA_VASIMPLELABELLL_530108" ng-show="vc.viewState.VA_VASIMPLELABELLL_530108.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_530108.style"> {{vc.viewState.VA_VASIMPLELABELLL_530108.label|translate}} </label>
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_DATAVERTOF_490108" ng-show="vc.viewState.G_DATAVERTOF_490108.visible" ng-class="vc.viewState.G_DATAVERTOF_490108.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_DATAVERTOF_490108" k-options="validatorOptions" id="G_DATAVERTOF_490108_VAL"> 
     <div id="QV_7780_54457" kendo-ext-grid="grids.QV_7780_54457" k-data-source="vc.model.QuestionsPartTwo" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_7780_54457.editable" k-navigatable="true" k-save="vc.grids.QV_7780_54457.events.save" k-remove="vc.grids.QV_7780_54457.events.remove" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_7780_54457.events.dataBound" k-columns="vc.grids.QV_7780_54457.columns" k-cancel="vc.grids.QV_7780_54457.events.cancel" k-edit="vc.grids.QV_7780_54457.events.edit" ng-class="vc.viewState.QV_7780_54457.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </div> 
   <div id="G_DATAVERTNT_126108" ng-show="vc.viewState.G_DATAVERTNT_126108.visible" ng-class="vc.viewState.G_DATAVERTNT_126108.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_DATAVERTNT_126108" k-options="validatorOptions" id="G_DATAVERTNT_126108_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-12" ng-show="vc.viewState.VA_VASIMPLELABELLL_498108.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <label id="VA_VASIMPLELABELLL_498108" ng-show="vc.viewState.VA_VASIMPLELABELLL_498108.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_498108.style"> {{vc.viewState.VA_VASIMPLELABELLL_498108.label|translate}} </label>
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_DATAVERICS_902108" ng-show="vc.viewState.G_DATAVERICS_902108.visible" ng-class="vc.viewState.G_DATAVERICS_902108.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_DATAVERICS_902108" k-options="validatorOptions" id="G_DATAVERICS_902108_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-2" ng-show="vc.viewState.VA_CODEQUESTION111_114108.visible"> 
        <div class="form-group" id="VA_CODEQUESTION111_114108_DIV"> 
         <label for="VA_CODEQUESTION111_114108" title="{{vc.viewState.VA_CODEQUESTION111_114108.label|translate:vc.viewState.VA_CODEQUESTION111_114108.labelArgs}}" ng-show="vc.viewState.VA_CODEQUESTION111_114108.visible" class="control-label">{{'&nbsp;'}}</label> 
         <div class="cb-control"> 
          <div id="VA_CODEQUESTION111_114108" name="QuestionsPartThree_codeQuestion1" class="form-control cb-no-border" ng-show="vc.viewState.VA_CODEQUESTION111_114108.visible" ng-class="vc.viewState.VA_CODEQUESTION111_114108.style">
            {{kendo.toString(vc.model.QuestionsPartThree.codeQuestion1, 'n0')}} 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-8" ng-show="vc.viewState.VA_TEXTINPUTBOXTVM_263108.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXTVM_263108_DIV"> 
         <label for="VA_TEXTINPUTBOXTVM_263108" title="{{vc.viewState.VA_TEXTINPUTBOXTVM_263108.label|translate:vc.viewState.VA_TEXTINPUTBOXTVM_263108.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXTVM_263108.visible" class="control-label">{{'&nbsp;'}}</label> 
         <div class="cb-control"> 
          <div id="VA_TEXTINPUTBOXTVM_263108" name="QuestionsPartThree_haveEmail" class="form-control cb-no-border" ng-show="vc.viewState.VA_TEXTINPUTBOXTVM_263108.visible" ng-class="vc.viewState.VA_TEXTINPUTBOXTVM_263108.style">
            {{vc.model.QuestionsPartThree.haveEmail}} 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-2" ng-show="vc.viewState.VA_TEXTINPUTBOXOIT_648108.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXOIT_648108_DIV"> 
         <label for="VA_TEXTINPUTBOXOIT_648108" title="{{vc.viewState.VA_TEXTINPUTBOXOIT_648108.label|translate:vc.viewState.VA_TEXTINPUTBOXOIT_648108.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXOIT_648108.visible" class="control-label">{{'&nbsp;'}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXOIT_648108" name="QuestionsPartThree_haveEmailAnswer" kendo-ext-combo-box="comboBox.VA_TEXTINPUTBOXOIT_648108" ng-model="vc.model.QuestionsPartThree.haveEmailAnswer" ng-disabled="vc.viewState.VA_TEXTINPUTBOXOIT_648108.disabled || vc.viewState.VA_TEXTINPUTBOXOIT_648108.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXOIT_648108.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXOIT_648108.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXOIT_648108.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_TEXTINPUTBOXOIT_648108" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_TEXTINPUTBOXOIT_648108.template" data-cobis-group="Group,G_DATAVERICS_902108,0" data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXOIT_648108.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-2" ng-show="vc.viewState.VA_CODEQUESTION222_146108.visible"> 
        <div class="form-group" id="VA_CODEQUESTION222_146108_DIV"> 
         <label for="VA_CODEQUESTION222_146108" title="{{vc.viewState.VA_CODEQUESTION222_146108.label|translate:vc.viewState.VA_CODEQUESTION222_146108.labelArgs}}" ng-show="vc.viewState.VA_CODEQUESTION222_146108.visible" class="control-label">{{'&nbsp;'}}</label> 
         <div class="cb-control"> 
          <div id="VA_CODEQUESTION222_146108" name="QuestionsPartThree_codeQuestion2" class="form-control cb-no-border" ng-show="vc.viewState.VA_CODEQUESTION222_146108.visible" ng-class="vc.viewState.VA_CODEQUESTION222_146108.style">
            {{kendo.toString(vc.model.QuestionsPartThree.codeQuestion2, 'n0')}} 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-8" ng-show="vc.viewState.VA_TEXTINPUTBOXXJJ_459108.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXXJJ_459108_DIV"> 
         <label for="VA_TEXTINPUTBOXXJJ_459108" title="{{vc.viewState.VA_TEXTINPUTBOXXJJ_459108.label|translate:vc.viewState.VA_TEXTINPUTBOXXJJ_459108.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXXJJ_459108.visible" class="control-label">{{'&nbsp;'}}</label> 
         <div class="cb-control"> 
          <div id="VA_TEXTINPUTBOXXJJ_459108" name="QuestionsPartThree_frequencyUseEM" class="form-control cb-no-border" ng-show="vc.viewState.VA_TEXTINPUTBOXXJJ_459108.visible" ng-class="vc.viewState.VA_TEXTINPUTBOXXJJ_459108.style">
            {{vc.model.QuestionsPartThree.frequencyUseEM}} 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-2" ng-show="vc.viewState.VA_TEXTINPUTBOXVMM_123108.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXVMM_123108_DIV"> 
         <label for="VA_TEXTINPUTBOXVMM_123108" title="{{vc.viewState.VA_TEXTINPUTBOXVMM_123108.label|translate:vc.viewState.VA_TEXTINPUTBOXVMM_123108.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXVMM_123108.visible" class="control-label">{{'&nbsp;'}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXVMM_123108" name="QuestionsPartThree_frequencyUseEMAnswer" kendo-ext-combo-box="comboBox.VA_TEXTINPUTBOXVMM_123108" ng-model="vc.model.QuestionsPartThree.frequencyUseEMAnswer" ng-disabled="vc.viewState.VA_TEXTINPUTBOXVMM_123108.disabled || vc.viewState.VA_TEXTINPUTBOXVMM_123108.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXVMM_123108.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXVMM_123108.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXVMM_123108.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_TEXTINPUTBOXVMM_123108" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_TEXTINPUTBOXVMM_123108.template" data-cobis-group="Group,G_DATAVERICS_902108,0" data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXVMM_123108.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-2" ng-show="vc.viewState.VA_CODEQUESTION333_974108.visible"> 
        <div class="form-group" id="VA_CODEQUESTION333_974108_DIV"> 
         <label for="VA_CODEQUESTION333_974108" title="{{vc.viewState.VA_CODEQUESTION333_974108.label|translate:vc.viewState.VA_CODEQUESTION333_974108.labelArgs}}" ng-show="vc.viewState.VA_CODEQUESTION333_974108.visible" class="control-label">{{'&nbsp;'}}</label> 
         <div class="cb-control"> 
          <div id="VA_CODEQUESTION333_974108" name="QuestionsPartThree_codeQuestion3" class="form-control cb-no-border" ng-show="vc.viewState.VA_CODEQUESTION333_974108.visible" ng-class="vc.viewState.VA_CODEQUESTION333_974108.style">
            {{kendo.toString(vc.model.QuestionsPartThree.codeQuestion3, 'n0')}} 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-8" ng-show="vc.viewState.VA_TEXTINPUTBOXNFI_898108.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXNFI_898108_DIV"> 
         <label for="VA_TEXTINPUTBOXNFI_898108" title="{{vc.viewState.VA_TEXTINPUTBOXNFI_898108.label|translate:vc.viewState.VA_TEXTINPUTBOXNFI_898108.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXNFI_898108.visible" class="control-label">{{'&nbsp;'}}</label> 
         <div class="cb-control"> 
          <div id="VA_TEXTINPUTBOXNFI_898108" name="QuestionsPartThree_socialNetworks" class="form-control cb-no-border" ng-show="vc.viewState.VA_TEXTINPUTBOXNFI_898108.visible" ng-class="vc.viewState.VA_TEXTINPUTBOXNFI_898108.style">
            {{vc.model.QuestionsPartThree.socialNetworks}} 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-2" ng-show="vc.viewState.VA_TEXTINPUTBOXPAA_394108.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXPAA_394108_DIV"> 
         <label for="VA_TEXTINPUTBOXPAA_394108" title="{{vc.viewState.VA_TEXTINPUTBOXPAA_394108.label|translate:vc.viewState.VA_TEXTINPUTBOXPAA_394108.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXPAA_394108.visible" class="control-label">{{'&nbsp;'}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXPAA_394108" name="QuestionsPartThree_socialNetworksAnswer" kendo-ext-combo-box="comboBox.VA_TEXTINPUTBOXPAA_394108" ng-model="vc.model.QuestionsPartThree.socialNetworksAnswer" ng-disabled="vc.viewState.VA_TEXTINPUTBOXPAA_394108.disabled || vc.viewState.VA_TEXTINPUTBOXPAA_394108.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXPAA_394108.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXPAA_394108.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXPAA_394108.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_TEXTINPUTBOXPAA_394108" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_TEXTINPUTBOXPAA_394108.template" data-cobis-group="Group,G_DATAVERICS_902108,0" data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXPAA_394108.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-2" ng-show="vc.viewState.VA_CODEQUESTION444_953108.visible"> 
        <div class="form-group" id="VA_CODEQUESTION444_953108_DIV"> 
         <label for="VA_CODEQUESTION444_953108" title="{{vc.viewState.VA_CODEQUESTION444_953108.label|translate:vc.viewState.VA_CODEQUESTION444_953108.labelArgs}}" ng-show="vc.viewState.VA_CODEQUESTION444_953108.visible" class="control-label">{{'&nbsp;'}}</label> 
         <div class="cb-control"> 
          <div id="VA_CODEQUESTION444_953108" name="QuestionsPartThree_codeQuestion4" class="form-control cb-no-border" ng-show="vc.viewState.VA_CODEQUESTION444_953108.visible" ng-class="vc.viewState.VA_CODEQUESTION444_953108.style">
            {{kendo.toString(vc.model.QuestionsPartThree.codeQuestion4, 'n0')}} 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-8" ng-show="vc.viewState.VA_TEXTINPUTBOXFJJ_616108.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXFJJ_616108_DIV"> 
         <label for="VA_TEXTINPUTBOXFJJ_616108" title="{{vc.viewState.VA_TEXTINPUTBOXFJJ_616108.label|translate:vc.viewState.VA_TEXTINPUTBOXFJJ_616108.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXFJJ_616108.visible" class="control-label">{{'&nbsp;'}}</label> 
         <div class="cb-control"> 
          <div id="VA_TEXTINPUTBOXFJJ_616108" name="QuestionsPartThree_cellType" class="form-control cb-no-border" ng-show="vc.viewState.VA_TEXTINPUTBOXFJJ_616108.visible" ng-class="vc.viewState.VA_TEXTINPUTBOXFJJ_616108.style">
            {{vc.model.QuestionsPartThree.cellType}} 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-2" ng-show="vc.viewState.VA_TEXTINPUTBOXRUN_279108.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXRUN_279108_DIV"> 
         <label for="VA_TEXTINPUTBOXRUN_279108" title="{{vc.viewState.VA_TEXTINPUTBOXRUN_279108.label|translate:vc.viewState.VA_TEXTINPUTBOXRUN_279108.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXRUN_279108.visible" class="control-label">{{'&nbsp;'}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXRUN_279108" name="QuestionsPartThree_cellTypeAnswer" kendo-ext-combo-box="comboBox.VA_TEXTINPUTBOXRUN_279108" ng-model="vc.model.QuestionsPartThree.cellTypeAnswer" ng-disabled="vc.viewState.VA_TEXTINPUTBOXRUN_279108.disabled || vc.viewState.VA_TEXTINPUTBOXRUN_279108.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXRUN_279108.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXRUN_279108.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXRUN_279108.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_TEXTINPUTBOXRUN_279108" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_TEXTINPUTBOXRUN_279108.template" data-cobis-group="Group,G_DATAVERICS_902108,0" data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXRUN_279108.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-2" ng-show="vc.viewState.VA_CODEQUESTION555_583108.visible"> 
        <div class="form-group" id="VA_CODEQUESTION555_583108_DIV"> 
         <label for="VA_CODEQUESTION555_583108" title="{{vc.viewState.VA_CODEQUESTION555_583108.label|translate:vc.viewState.VA_CODEQUESTION555_583108.labelArgs}}" ng-show="vc.viewState.VA_CODEQUESTION555_583108.visible" class="control-label">{{'&nbsp;'}}</label> 
         <div class="cb-control"> 
          <div id="VA_CODEQUESTION555_583108" name="QuestionsPartThree_codeQuestion5" class="form-control cb-no-border" ng-show="vc.viewState.VA_CODEQUESTION555_583108.visible" ng-class="vc.viewState.VA_CODEQUESTION555_583108.style">
            {{kendo.toString(vc.model.QuestionsPartThree.codeQuestion5, 'n0')}} 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-8" ng-show="vc.viewState.VA_TEXTINPUTBOXGSO_862108.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXGSO_862108_DIV"> 
         <label for="VA_TEXTINPUTBOXGSO_862108" title="{{vc.viewState.VA_TEXTINPUTBOXGSO_862108.label|translate:vc.viewState.VA_TEXTINPUTBOXGSO_862108.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXGSO_862108.visible" class="control-label">{{'&nbsp;'}}</label> 
         <div class="cb-control"> 
          <div id="VA_TEXTINPUTBOXGSO_862108" name="QuestionsPartThree_paymentMethodPhone" class="form-control cb-no-border" ng-show="vc.viewState.VA_TEXTINPUTBOXGSO_862108.visible" ng-class="vc.viewState.VA_TEXTINPUTBOXGSO_862108.style">
            {{vc.model.QuestionsPartThree.paymentMethodPhone}} 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-2" ng-show="vc.viewState.VA_TEXTINPUTBOXPLN_348108.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXPLN_348108_DIV"> 
         <label for="VA_TEXTINPUTBOXPLN_348108" title="{{vc.viewState.VA_TEXTINPUTBOXPLN_348108.label|translate:vc.viewState.VA_TEXTINPUTBOXPLN_348108.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXPLN_348108.visible" class="control-label">{{'&nbsp;'}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXPLN_348108" name="QuestionsPartThree_paymentMethodPhoneAnswer" kendo-ext-combo-box="comboBox.VA_TEXTINPUTBOXPLN_348108" ng-model="vc.model.QuestionsPartThree.paymentMethodPhoneAnswer" ng-disabled="vc.viewState.VA_TEXTINPUTBOXPLN_348108.disabled || vc.viewState.VA_TEXTINPUTBOXPLN_348108.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXPLN_348108.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXPLN_348108.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXPLN_348108.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_TEXTINPUTBOXPLN_348108" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_TEXTINPUTBOXPLN_348108.template" data-cobis-group="Group,G_DATAVERICS_902108,0" data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXPLN_348108.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-2" ng-show="vc.viewState.Spacer2772.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-2" ng-show="vc.viewState.Spacer2844.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-2" ng-show="vc.viewState.Spacer2129.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-2" ng-show="vc.viewState.Spacer2703.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-2" ng-show="vc.viewState.VA_VABUTTONWHZLTCH_588108.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONWHZLTCH_588108" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONWHZLTCH_588108','VA_VABUTTONWHZLTCH_588108',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONWHZLTCH_588108.disabled || vc.viewState.VA_VABUTTONWHZLTCH_588108.disabledingroup" ng-show="vc.viewState.VA_VABUTTONWHZLTCH_588108.visible" ng-class="vc.viewState.VA_VABUTTONWHZLTCH_588108.style"> {{vc.viewState.VA_VABUTTONWHZLTCH_588108.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-2" ng-show="vc.viewState.VA_TEXTINPUTBOXRZX_100108.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXRZX_100108_DIV"> 
         <label for="VA_TEXTINPUTBOXRZX_100108" title="{{vc.viewState.VA_TEXTINPUTBOXRZX_100108.label|translate:vc.viewState.VA_TEXTINPUTBOXRZX_100108.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXRZX_100108.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXRZX_100108.label|translate:vc.viewState.VA_TEXTINPUTBOXRZX_100108.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXRZX_100108" name="QuestionsPartThree_result" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_TEXTINPUTBOXRZX_100108.decimals" k-format="vc.viewState.VA_TEXTINPUTBOXRZX_100108.format" k-ng-model="vc.model.QuestionsPartThree.result" ng-model="vc.tmpModel.QuestionsPartThree.result" ng-disabled="vc.viewState.VA_TEXTINPUTBOXRZX_100108.disabled || vc.viewState.VA_TEXTINPUTBOXRZX_100108.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXRZX_100108.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXRZX_100108.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXRZX_100108.style" data-cobis-group="Group,G_DATAVERICS_902108,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXRZX_100108.validationCode}}" designer-change /> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_DATAVERISO_664108" ng-show="vc.viewState.G_DATAVERISO_664108.visible" ng-class="vc.viewState.G_DATAVERISO_664108.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_DATAVERISO_664108" k-options="validatorOptions" id="G_DATAVERISO_664108_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_ENABLEVIEWUEGPD_225108.visible"> 
        <div class="form-group" id="VA_ENABLEVIEWUEGPD_225108_DIV"> 
         <label for="VA_ENABLEVIEWUEGPD_225108" title="{{vc.viewState.VA_ENABLEVIEWUEGPD_225108.label|translate:vc.viewState.VA_ENABLEVIEWUEGPD_225108.labelArgs}}" ng-show="vc.viewState.VA_ENABLEVIEWUEGPD_225108.visible" class="control-label">{{'&nbsp;'}}</label> 
         <div class="cb-control"> 
          <input id="VA_ENABLEVIEWUEGPD_225108" name="QuestionsPartThree_enableView" type="text" class="form-control" ng-model="vc.model.QuestionsPartThree.enableView" ng-disabled="vc.viewState.VA_ENABLEVIEWUEGPD_225108.disabled || vc.viewState.VA_ENABLEVIEWUEGPD_225108.disabledingroup" ng-show="vc.viewState.VA_ENABLEVIEWUEGPD_225108.visible" ng-readonly="vc.viewState.VA_ENABLEVIEWUEGPD_225108.readonly" ng-class="vc.viewState.VA_ENABLEVIEWUEGPD_225108.style" data-cobis-group="Group,G_DATAVERISO_664108,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_ENABLEVIEWUEGPD_225108.validationCode}}" designer-change /> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_DATAVERIUT_108--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_BUSINIJVXCUKR_496_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_DATAVERION_567496')" ng-disabled="vc.viewState.T_BUSINIJVXCUKR_496_ACCEPT.disabled || vc.viewState.T_BUSINIJVXCUKR_496_ACCEPT.disabledingroup" ng-show="vc.viewState.T_BUSINIJVXCUKR_496_ACCEPT.visible" ng-class="vc.viewState.T_BUSINIJVXCUKR_496_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_BUSINIJVXCUKR_496_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_BUSINIJVXCUKR_496_CANCEL.disabled || vc.viewState.T_BUSINIJVXCUKR_496_CANCEL.disabledingroup" ng-show="vc.viewState.T_BUSINIJVXCUKR_496_CANCEL.visible" ng-class="vc.viewState.T_BUSINIJVXCUKR_496_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>