<!-- Designer Generator v 6.1.0 - release SPR 2016-21 20/10/2016 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_EYWRY63_FMRRT_302" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_EYWRY63_FMRRT_302.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_EYWRY63_FMRRT_302" ng-keydown="vc.viewState.keyDown($event)" class="cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="VC_EYWRY63_ADRSG_549" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_EYWRY63_ADRSG_549', vc.viewState.VC_EYWRY63_ADRSG_549.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && false, 'container-fluid':vc.isModal(this) || isDesignerInclude || true})" ng-show="vc.viewState.VC_EYWRY63_ADRSG_549.visible"> 
    <div id="VC_EYWRY63_ADRSG_549_VAL" kendo-validator="VC_EYWRY63_ADRSG_549" k-options="validatorOptions"> 
     <!-- Inicio item VW_WTTTEPRCES08--> 
     <div designer-form-load form="vc.viewState.GR_WTTTEPRCES08_02" class="cb-group cb-group-html-section"> 
     </div> 
     <div id="GR_WTTTEPRCES08_03" ng-show="vc.viewState.GR_WTTTEPRCES08_03.visible" ng-class="vc.viewState.GR_WTTTEPRCES08_03.style" class="cb-group cb-group-simple"> 
      <div kendo-validator="GR_WTTTEPRCES08_03" k-options="validatorOptions" id="GR_WTTTEPRCES08_03_VAL"> 
       <div class="form-vertical"> 
        <div class="row"> 
        </div> 
       </div> 
      </div> 
     </div> 
     <!-- Fin item VW_WTTTEPRCES08--> 
    </div> 
   </div> 
   <div id="VC_EYWRY63_RPSNO_481" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_EYWRY63_RPSNO_481', vc.viewState.VC_EYWRY63_RPSNO_481.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_EYWRY63_RPSNO_481.visible"> 
    <div id="VC_EYWRY63_RPSNO_481_VAL" kendo-validator="VC_EYWRY63_RPSNO_481" k-options="validatorOptions"> 
     <!-- Inicio item VW_UARNTEESEW96--> 
     <div id="GR_UARNTEESEW96_21" ng-class="vc.viewState.GR_UARNTEESEW96_21.style" class="cb-group cb-group-layout"> 
      <div id="GR_UARNTEESEW96_21_VAL" kendo-validator="GR_UARNTEESEW96_21" k-options="validatorOptions"> 
       <div id="GR_UARNTEESEW96_10" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_UARNTEESEW96_10.visible" ng-class="vc.viewState.GR_UARNTEESEW96_10.style"> 
        <div id="GR_UARNTEESEW96_10_VAL" kendo-validator="GR_UARNTEESEW96_10" k-options="validatorOptions"> 
         <div class="form-vertical"> 
          <div class="row"> 
           <div class="col-xs-2" ng-show="vc.viewState.VA_UARNTEESEW9610_0000924.visible"> 
            <div class="form-group cb-no-label"> 
             <div class="cb-control"> 
              <button id="VA_UARNTEESEW9610_0000924" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_UARNTEESEW9610_0000924','CreateGuarantees',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_UARNTEESEW9610_0000924.disabled || vc.viewState.VA_UARNTEESEW9610_0000924.disabledingroup" ng-show="vc.viewState.VA_UARNTEESEW9610_0000924.visible" ng-class="vc.viewState.VA_UARNTEESEW9610_0000924.style"> {{vc.viewState.VA_UARNTEESEW9610_0000924.label|translate}} </button> 
             </div> 
            </div> 
           </div> 
           <div class="col-xs-2" ng-show="vc.viewState.VA_UARNTEESEW9610_HBTN418.visible"> 
            <div class="form-group cb-no-label"> 
             <div class="cb-control"> 
              <button id="VA_UARNTEESEW9610_HBTN418" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_UARNTEESEW9610_HBTN418','SearchGuarantees',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_UARNTEESEW9610_HBTN418.disabled || vc.viewState.VA_UARNTEESEW9610_HBTN418.disabledingroup" ng-show="vc.viewState.VA_UARNTEESEW9610_HBTN418.visible" ng-class="vc.viewState.VA_UARNTEESEW9610_HBTN418.style"> {{vc.viewState.VA_UARNTEESEW9610_HBTN418.label|translate}} </button> 
             </div> 
            </div> 
           </div> 
           <div class="col-xs-8" ng-show="vc.viewState.VA_UARNTEESEW9610_0000180.visible"> 
            <div class="form-group cb-spacer"> 
             <label class="control-label">&nbsp;</label> 
             <span class="cb-control"></span> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <!-- Fin item VW_UARNTEESEW96--> 
    </div> 
   </div> 
   <fieldset id="VC_EYWRY63_UPNNE_629" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_EYWRY63_UPNNE_629', vc.viewState.VC_EYWRY63_UPNNE_629.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_EYWRY63_UPNNE_629.visible"> 
    <legend> <span ng-bind="vc.viewState.VC_EYWRY63_UPNNE_629.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.VC_EYWRY63_UPNNE_629.statusStyle.success, 'cb-validation-fail': vc.viewState.VC_EYWRY63_UPNNE_629.statusStyle.fail, 'cb-validation-none': vc.viewState.VC_EYWRY63_UPNNE_629.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.VC_EYWRY63_UPNNE_629.label|translate}}</span> </legend> 
    <div id="VC_EYWRY63_UPNNE_629_VAL" kendo-validator="VC_EYWRY63_UPNNE_629" k-options="validatorOptions"> 
     <!-- Inicio item VW_PRSAUARNTE35--> 
     <div id="GR_PRSAUARNTE35_96" ng-class="vc.viewState.GR_PRSAUARNTE35_96.style" class="cb-group cb-group-layout"> 
      <div id="GR_PRSAUARNTE35_96_VAL" kendo-validator="GR_PRSAUARNTE35_96" k-options="validatorOptions"> 
       <div id="GR_PRSAUARNTE35_07" class="cb-group cb-group-layout" ng-show="vc.viewState.GR_PRSAUARNTE35_07.visible" ng-class="vc.viewState.GR_PRSAUARNTE35_07.style"> 
        <div id="GR_PRSAUARNTE35_07_VAL" kendo-validator="GR_PRSAUARNTE35_07" k-options="validatorOptions"> 
         <div id="GR_PRSAUARNTE35_08" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_PRSAUARNTE35_08.visible" ng-class="vc.viewState.GR_PRSAUARNTE35_08.style"> 
          <div id="GR_PRSAUARNTE35_08_VAL" kendo-validator="GR_PRSAUARNTE35_08" k-options="validatorOptions"> 
           <div class="form-vertical"> 
            <div class="row"> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div id="GR_PRSAUARNTE35_09" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_PRSAUARNTE35_09.visible" ng-class="vc.viewState.GR_PRSAUARNTE35_09.style"> 
          <div id="GR_PRSAUARNTE35_09_VAL" kendo-validator="GR_PRSAUARNTE35_09" k-options="validatorOptions"> 
           <div class="form-vertical"> 
            <div class="row"> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div id="GR_PRSAUARNTE35_10" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_PRSAUARNTE35_10.visible" ng-class="vc.viewState.GR_PRSAUARNTE35_10.style"> 
          <div id="GR_PRSAUARNTE35_10_VAL" kendo-validator="GR_PRSAUARNTE35_10" k-options="validatorOptions"> 
           <div class="form-vertical"> 
            <div class="row"> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div id="GR_PRSAUARNTE35_11" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_PRSAUARNTE35_11.visible" ng-class="vc.viewState.GR_PRSAUARNTE35_11.style"> 
          <div id="GR_PRSAUARNTE35_11_VAL" kendo-validator="GR_PRSAUARNTE35_11" k-options="validatorOptions"> 
           <div class="form-vertical"> 
            <div class="row"> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div id="GR_PRSAUARNTE35_88" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_PRSAUARNTE35_88.visible" ng-class="vc.viewState.GR_PRSAUARNTE35_88.style"> 
        <div id="GR_PRSAUARNTE35_88_VAL" kendo-validator="GR_PRSAUARNTE35_88" k-options="validatorOptions"> 
         <div id="QV_PESAU2317_81" kendo-ext-grid="grids.QV_PESAU2317_81" k-data-source="vc.model.PersonalGuarantor" k-column-menu="false" k-sortable="false" k-editable="vc.viewState.GR_PRSAUARNTE35_88.disabled?false:'inline'" k-toolbar="vc.grids.QV_PESAU2317_81.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="true" k-change="vc.grids.QV_PESAU2317_81.events.change" k-data-bound="vc.grids.QV_PESAU2317_81.events.dataBound" k-columns="vc.grids.QV_PESAU2317_81.columns" k-cancel="vc.grids.QV_PESAU2317_81.events.cancel" k-edit="vc.grids.QV_PESAU2317_81.events.edit" ng-class="vc.viewState.QV_PESAU2317_81.style" k-ng-delay="vc.afterInitData"></div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <!-- Fin item VW_PRSAUARNTE35--> 
    </div> 
   </fieldset> 
   <fieldset id="VC_EYWRY63_RPIMR_022" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_EYWRY63_RPIMR_022', vc.viewState.VC_EYWRY63_RPIMR_022.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_EYWRY63_RPIMR_022.visible"> 
    <legend> <span ng-bind="vc.viewState.VC_EYWRY63_RPIMR_022.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.VC_EYWRY63_RPIMR_022.statusStyle.success, 'cb-validation-fail': vc.viewState.VC_EYWRY63_RPIMR_022.statusStyle.fail, 'cb-validation-none': vc.viewState.VC_EYWRY63_RPIMR_022.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.VC_EYWRY63_RPIMR_022.label|translate}}</span> </legend> 
    <div id="VC_EYWRY63_RPIMR_022_VAL" kendo-validator="VC_EYWRY63_RPIMR_022" k-options="validatorOptions"> 
     <!-- Inicio item VW_OHRWARAYIE87--> 
     <div id="GR_OHRWARAYIE87_96" ng-class="vc.viewState.GR_OHRWARAYIE87_96.style" class="cb-group cb-group-layout"> 
      <div id="GR_OHRWARAYIE87_96_VAL" kendo-validator="GR_OHRWARAYIE87_96" k-options="validatorOptions"> 
       <div id="GR_OHRWARAYIE87_44" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_OHRWARAYIE87_44.visible" ng-class="vc.viewState.GR_OHRWARAYIE87_44.style"> 
        <div id="GR_OHRWARAYIE87_44_VAL" kendo-validator="GR_OHRWARAYIE87_44" k-options="validatorOptions"> 
         <div id="QV_URYTH5890_66" kendo-ext-grid="grids.QV_URYTH5890_66" k-data-source="vc.model.OtherWarranty" k-column-menu="false" k-sortable="false" k-editable="vc.viewState.GR_OHRWARAYIE87_44.disabled?false:'inline'" k-toolbar="vc.grids.QV_URYTH5890_66.toolbar" k-resizable="true" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="true" k-change="vc.grids.QV_URYTH5890_66.events.change" k-data-bound="vc.grids.QV_URYTH5890_66.events.dataBound" k-columns="vc.grids.QV_URYTH5890_66.columns" k-cancel="vc.grids.QV_URYTH5890_66.events.cancel" k-edit="vc.grids.QV_URYTH5890_66.events.edit" ng-class="vc.viewState.QV_URYTH5890_66.style" k-ng-delay="vc.afterInitData"></div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <!-- Fin item VW_OHRWARAYIE87--> 
    </div> 
   </fieldset> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_EYWRY63SOA19" ng-click="vc.executeCommand('CM_EYWRY63SOA19','Associate', validator, true, false, 'VC_EYWRY63_FMRRT_302', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_EYWRY63SOA19.disabled || vc.viewState.CM_EYWRY63SOA19.disabledingroup" ng-show="vc.viewState.CM_EYWRY63SOA19.visible" ng-class="vc.viewState.CM_EYWRY63SOA19.style"> {{vc.viewState.CM_EYWRY63SOA19.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_FLCRE_21_EYWRY63_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_EYWRY63_FMRRT_302')" ng-disabled="vc.viewState.T_FLCRE_21_EYWRY63_ACCEPT.disabled || vc.viewState.T_FLCRE_21_EYWRY63_ACCEPT.disabledingroup" ng-show="vc.viewState.T_FLCRE_21_EYWRY63_ACCEPT.visible" ng-class="vc.viewState.T_FLCRE_21_EYWRY63_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_FLCRE_21_EYWRY63_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_FLCRE_21_EYWRY63_CANCEL.disabled || vc.viewState.T_FLCRE_21_EYWRY63_CANCEL.disabledingroup" ng-show="vc.viewState.T_FLCRE_21_EYWRY63_CANCEL.visible" ng-class="vc.viewState.T_FLCRE_21_EYWRY63_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>