<!-- Designer Generator v 6.3.3 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_SOLIDARIEN_259463" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_SOLIDARIEN_259463.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_SOLIDARITT_860--> 
  <div id="VC_SOLIDARIEN_259463" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_SOLIDARNIY_476860" ng-show="vc.viewState.G_SOLIDARNIY_476860.visible" ng-class="vc.viewState.G_SOLIDARNIY_476860.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_SOLIDARNIY_476860" k-options="validatorOptions" id="G_SOLIDARNIY_476860_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_GROUPOPERATIEEC_871860.visible"> 
        <div class="form-group cb-required" id="VA_GROUPOPERATIEEC_871860_DIV"> 
         <label for="VA_GROUPOPERATIEEC_871860" title="{{vc.viewState.VA_GROUPOPERATIEEC_871860.label|translate:vc.viewState.VA_GROUPOPERATIEEC_871860.labelArgs}}" ng-show="vc.viewState.VA_GROUPOPERATIEEC_871860.visible" class="control-label">{{vc.viewState.VA_GROUPOPERATIEEC_871860.label|translate:vc.viewState.VA_GROUPOPERATIEEC_871860.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_GROUPOPERATIEEC_871860" name="SolidarityPayment_groupOperationCode" type="text" class="form-control" ng-model="vc.model.SolidarityPayment.groupOperationCode" ng-disabled="vc.viewState.VA_GROUPOPERATIEEC_871860.disabled || vc.viewState.VA_GROUPOPERATIEEC_871860.disabledingroup" ng-show="vc.viewState.VA_GROUPOPERATIEEC_871860.visible" ng-readonly="vc.viewState.VA_GROUPOPERATIEEC_871860.readonly" ng-class="vc.viewState.VA_GROUPOPERATIEEC_871860.style" data-cobis-group="Group,G_SOLIDARNIY_476860,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_GROUPOPERATIEEC_871860.validationCode}}" data-required-msg="{{'ASSTS.MSG_ASSTS_ELCDIGOSO_68078'|translate}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONBGFXHFC_174860.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONBGFXHFC_174860" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONBGFXHFC_174860','VA_VABUTTONBGFXHFC_174860',validator,true, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONBGFXHFC_174860.disabled || vc.viewState.VA_VABUTTONBGFXHFC_174860.disabledingroup" ng-show="vc.viewState.VA_VABUTTONBGFXHFC_174860.visible" ng-class="vc.viewState.VA_VABUTTONBGFXHFC_174860.style"> {{vc.viewState.VA_VABUTTONBGFXHFC_174860.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <fieldset id="G_SOLIDARTTY_754860" ng-show="vc.viewState.G_SOLIDARTTY_754860.visible" ng-class="vc.viewState.G_SOLIDARTTY_754860.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_SOLIDARTTY_754860" k-options="validatorOptions" id="G_SOLIDARTTY_754860_VAL"> 
     <legend> <span ng-bind="vc.viewState.G_SOLIDARTTY_754860.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.G_SOLIDARTTY_754860.statusStyle.success, 'cb-validation-fail': vc.viewState.G_SOLIDARTTY_754860.statusStyle.fail, 'cb-validation-none': vc.viewState.G_SOLIDARTTY_754860.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.G_SOLIDARTTY_754860.label|translate}}</span> </legend> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_GROUPCODEYSWKVL_854860.visible"> 
        <div class="form-group" id="VA_GROUPCODEYSWKVL_854860_DIV"> 
         <label for="VA_GROUPCODEYSWKVL_854860" title="{{vc.viewState.VA_GROUPCODEYSWKVL_854860.label|translate:vc.viewState.VA_GROUPCODEYSWKVL_854860.labelArgs}}" ng-show="vc.viewState.VA_GROUPCODEYSWKVL_854860.visible" class="control-label">{{vc.viewState.VA_GROUPCODEYSWKVL_854860.label|translate:vc.viewState.VA_GROUPCODEYSWKVL_854860.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_GROUPCODEYSWKVL_854860" name="SolidarityPayment_groupCode" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_GROUPCODEYSWKVL_854860.decimals" k-format="vc.viewState.VA_GROUPCODEYSWKVL_854860.format" k-ng-model="vc.model.SolidarityPayment.groupCode" ng-model="vc.tmpModel.SolidarityPayment.groupCode" ng-disabled="vc.viewState.VA_GROUPCODEYSWKVL_854860.disabled || vc.viewState.VA_GROUPCODEYSWKVL_854860.disabledingroup" ng-show="vc.viewState.VA_GROUPCODEYSWKVL_854860.visible" ng-readonly="vc.viewState.VA_GROUPCODEYSWKVL_854860.readonly" ng-class="vc.viewState.VA_GROUPCODEYSWKVL_854860.style" data-cobis-group="Group,G_SOLIDARTTY_754860,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_GROUPCODEYSWKVL_854860.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_TEXTINPUTBOXIDC_130860.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXIDC_130860_DIV"> 
         <label for="VA_TEXTINPUTBOXIDC_130860" title="{{vc.viewState.VA_TEXTINPUTBOXIDC_130860.label|translate:vc.viewState.VA_TEXTINPUTBOXIDC_130860.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXIDC_130860.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXIDC_130860.label|translate:vc.viewState.VA_TEXTINPUTBOXIDC_130860.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXIDC_130860" name="SolidarityPayment_nameGroup" type="text" class="form-control" ng-model="vc.model.SolidarityPayment.nameGroup" ng-disabled="vc.viewState.VA_TEXTINPUTBOXIDC_130860.disabled || vc.viewState.VA_TEXTINPUTBOXIDC_130860.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXIDC_130860.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXIDC_130860.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXIDC_130860.style" data-cobis-group="Group,G_SOLIDARTTY_754860,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXIDC_130860.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_TEXTINPUTBOXVZH_774860.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXVZH_774860_DIV"> 
         <label for="VA_TEXTINPUTBOXVZH_774860" title="{{vc.viewState.VA_TEXTINPUTBOXVZH_774860.label|translate:vc.viewState.VA_TEXTINPUTBOXVZH_774860.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXVZH_774860.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXVZH_774860.label|translate:vc.viewState.VA_TEXTINPUTBOXVZH_774860.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXVZH_774860" name="SolidarityPayment_groupCycle" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_TEXTINPUTBOXVZH_774860.decimals" k-format="vc.viewState.VA_TEXTINPUTBOXVZH_774860.format" k-ng-model="vc.model.SolidarityPayment.groupCycle" ng-model="vc.tmpModel.SolidarityPayment.groupCycle" ng-disabled="vc.viewState.VA_TEXTINPUTBOXVZH_774860.disabled || vc.viewState.VA_TEXTINPUTBOXVZH_774860.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXVZH_774860.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXVZH_774860.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXVZH_774860.style" data-cobis-group="Group,G_SOLIDARTTY_754860,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXVZH_774860.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_DATEFIELDECFFWY_696860.visible"> 
        <div class="form-group" id="VA_DATEFIELDECFFWY_696860_DIV"> 
         <label for="VA_DATEFIELDECFFWY_696860" title="{{vc.viewState.VA_DATEFIELDECFFWY_696860.label|translate:vc.viewState.VA_DATEFIELDECFFWY_696860.labelArgs}}" ng-show="vc.viewState.VA_DATEFIELDECFFWY_696860.visible" class="control-label">{{vc.viewState.VA_DATEFIELDECFFWY_696860.label|translate:vc.viewState.VA_DATEFIELDECFFWY_696860.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_DATEFIELDECFFWY_696860" name="SolidarityPayment_applicationDate" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.SolidarityPayment.applicationDate" ng-model="vc.tmpModel.SolidarityPayment.applicationDate" ng-disabled="vc.viewState.VA_DATEFIELDECFFWY_696860.disabled || vc.viewState.VA_DATEFIELDECFFWY_696860.disabledingroup" ng-show="vc.viewState.VA_DATEFIELDECFFWY_696860.visible" ng-readonly="vc.viewState.VA_DATEFIELDECFFWY_696860.readonly" ng-class="vc.viewState.VA_DATEFIELDECFFWY_696860.style" data-cobis-group="Group,G_SOLIDARTTY_754860,0" data-validation-code="{{vc.viewState.VA_DATEFIELDECFFWY_696860.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_TEXTINPUTBOXPNT_894860.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXPNT_894860_DIV"> 
         <label for="VA_TEXTINPUTBOXPNT_894860" title="{{vc.viewState.VA_TEXTINPUTBOXPNT_894860.label|translate:vc.viewState.VA_TEXTINPUTBOXPNT_894860.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXPNT_894860.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXPNT_894860.label|translate:vc.viewState.VA_TEXTINPUTBOXPNT_894860.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXPNT_894860" name="SolidarityPayment_advisor" type="text" class="form-control" ng-model="vc.model.SolidarityPayment.advisor" ng-disabled="vc.viewState.VA_TEXTINPUTBOXPNT_894860.disabled || vc.viewState.VA_TEXTINPUTBOXPNT_894860.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXPNT_894860.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXPNT_894860.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXPNT_894860.style" data-cobis-group="Group,G_SOLIDARTTY_754860,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXPNT_894860.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_TEXTINPUTBOXPHX_383860.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXPHX_383860_DIV"> 
         <label for="VA_TEXTINPUTBOXPHX_383860" title="{{vc.viewState.VA_TEXTINPUTBOXPHX_383860.label|translate:vc.viewState.VA_TEXTINPUTBOXPHX_383860.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXPHX_383860.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXPHX_383860.label|translate:vc.viewState.VA_TEXTINPUTBOXPHX_383860.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXPHX_383860" name="SolidarityPayment_branchOffice" type="text" class="form-control" ng-model="vc.model.SolidarityPayment.branchOffice" ng-disabled="vc.viewState.VA_TEXTINPUTBOXPHX_383860.disabled || vc.viewState.VA_TEXTINPUTBOXPHX_383860.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXPHX_383860.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXPHX_383860.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXPHX_383860.style" data-cobis-group="Group,G_SOLIDARTTY_754860,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXPHX_383860.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_TEXTINPUTBOXSIQ_787860.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXSIQ_787860_DIV"> 
         <label for="VA_TEXTINPUTBOXSIQ_787860" title="{{vc.viewState.VA_TEXTINPUTBOXSIQ_787860.label|translate:vc.viewState.VA_TEXTINPUTBOXSIQ_787860.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXSIQ_787860.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXSIQ_787860.label|translate:vc.viewState.VA_TEXTINPUTBOXSIQ_787860.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXSIQ_787860" name="SolidarityPayment_typeCredit" type="text" class="form-control" ng-model="vc.model.SolidarityPayment.typeCredit" ng-disabled="vc.viewState.VA_TEXTINPUTBOXSIQ_787860.disabled || vc.viewState.VA_TEXTINPUTBOXSIQ_787860.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXSIQ_787860.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXSIQ_787860.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXSIQ_787860.style" data-cobis-group="Group,G_SOLIDARTTY_754860,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXSIQ_787860.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_TEXTINPUTBOXARM_416860.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXARM_416860_DIV"> 
         <label for="VA_TEXTINPUTBOXARM_416860" title="{{vc.viewState.VA_TEXTINPUTBOXARM_416860.label|translate:vc.viewState.VA_TEXTINPUTBOXARM_416860.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXARM_416860.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXARM_416860.label|translate:vc.viewState.VA_TEXTINPUTBOXARM_416860.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXARM_416860" name="SolidarityPayment_groupAmount" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_TEXTINPUTBOXARM_416860.format" k-decimals="vc.viewState.VA_TEXTINPUTBOXARM_416860.decimals" k-ng-model="vc.model.SolidarityPayment.groupAmount" ng-model="vc.tmpModel.SolidarityPayment.groupAmount" ng-disabled="vc.viewState.VA_TEXTINPUTBOXARM_416860.disabled || vc.viewState.VA_TEXTINPUTBOXARM_416860.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXARM_416860.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXARM_416860.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXARM_416860.style" data-cobis-group="Group,G_SOLIDARTTY_754860,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXARM_416860.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_TEXTINPUTBOXIAF_150860.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXIAF_150860_DIV"> 
         <label for="VA_TEXTINPUTBOXIAF_150860" title="{{vc.viewState.VA_TEXTINPUTBOXIAF_150860.label|translate:vc.viewState.VA_TEXTINPUTBOXIAF_150860.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXIAF_150860.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXIAF_150860.label|translate:vc.viewState.VA_TEXTINPUTBOXIAF_150860.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXIAF_150860" name="SolidarityPayment_rate" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_TEXTINPUTBOXIAF_150860.format" k-decimals="vc.viewState.VA_TEXTINPUTBOXIAF_150860.decimals" k-ng-model="vc.model.SolidarityPayment.rate" ng-model="vc.tmpModel.SolidarityPayment.rate" ng-disabled="vc.viewState.VA_TEXTINPUTBOXIAF_150860.disabled || vc.viewState.VA_TEXTINPUTBOXIAF_150860.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXIAF_150860.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXIAF_150860.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXIAF_150860.style" data-cobis-group="Group,G_SOLIDARTTY_754860,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXIAF_150860.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_TEXTINPUTBOXCJT_501860.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXCJT_501860_DIV"> 
         <label for="VA_TEXTINPUTBOXCJT_501860" title="{{vc.viewState.VA_TEXTINPUTBOXCJT_501860.label|translate:vc.viewState.VA_TEXTINPUTBOXCJT_501860.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXCJT_501860.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXCJT_501860.label|translate:vc.viewState.VA_TEXTINPUTBOXCJT_501860.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXCJT_501860" name="SolidarityPayment_term" type="text" class="form-control" ng-model="vc.model.SolidarityPayment.term" ng-disabled="vc.viewState.VA_TEXTINPUTBOXCJT_501860.disabled || vc.viewState.VA_TEXTINPUTBOXCJT_501860.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXCJT_501860.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXCJT_501860.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXCJT_501860.style" data-cobis-group="Group,G_SOLIDARTTY_754860,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXCJT_501860.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_TEXTINPUTBOXPCU_841860.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXPCU_841860_DIV"> 
         <label for="VA_TEXTINPUTBOXPCU_841860" title="{{vc.viewState.VA_TEXTINPUTBOXPCU_841860.label|translate:vc.viewState.VA_TEXTINPUTBOXPCU_841860.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXPCU_841860.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXPCU_841860.label|translate:vc.viewState.VA_TEXTINPUTBOXPCU_841860.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXPCU_841860" name="SolidarityPayment_balanceGuarantee" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_TEXTINPUTBOXPCU_841860.format" k-decimals="vc.viewState.VA_TEXTINPUTBOXPCU_841860.decimals" k-ng-model="vc.model.SolidarityPayment.balanceGuarantee" ng-model="vc.tmpModel.SolidarityPayment.balanceGuarantee" ng-disabled="vc.viewState.VA_TEXTINPUTBOXPCU_841860.disabled || vc.viewState.VA_TEXTINPUTBOXPCU_841860.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXPCU_841860.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXPCU_841860.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXPCU_841860.style" data-cobis-group="Group,G_SOLIDARTTY_754860,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXPCU_841860.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_TEXTINPUTBOXBGV_975860.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXBGV_975860_DIV"> 
         <label for="VA_TEXTINPUTBOXBGV_975860" title="{{vc.viewState.VA_TEXTINPUTBOXBGV_975860.label|translate:vc.viewState.VA_TEXTINPUTBOXBGV_975860.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXBGV_975860.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXBGV_975860.label|translate:vc.viewState.VA_TEXTINPUTBOXBGV_975860.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXBGV_975860" name="SolidarityPayment_owedQuotas" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_TEXTINPUTBOXBGV_975860.decimals" k-format="vc.viewState.VA_TEXTINPUTBOXBGV_975860.format" k-ng-model="vc.model.SolidarityPayment.owedQuotas" ng-model="vc.tmpModel.SolidarityPayment.owedQuotas" ng-disabled="vc.viewState.VA_TEXTINPUTBOXBGV_975860.disabled || vc.viewState.VA_TEXTINPUTBOXBGV_975860.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXBGV_975860.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXBGV_975860.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXBGV_975860.style" data-cobis-group="Group,G_SOLIDARTTY_754860,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXBGV_975860.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_DATEFIELDAQBSYU_198860.visible"> 
        <div class="form-group" id="VA_DATEFIELDAQBSYU_198860_DIV"> 
         <label for="VA_DATEFIELDAQBSYU_198860" title="{{vc.viewState.VA_DATEFIELDAQBSYU_198860.label|translate:vc.viewState.VA_DATEFIELDAQBSYU_198860.labelArgs}}" ng-show="vc.viewState.VA_DATEFIELDAQBSYU_198860.visible" class="control-label">{{vc.viewState.VA_DATEFIELDAQBSYU_198860.label|translate:vc.viewState.VA_DATEFIELDAQBSYU_198860.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_DATEFIELDAQBSYU_198860" name="SolidarityPayment_expirationDate" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.SolidarityPayment.expirationDate" ng-model="vc.tmpModel.SolidarityPayment.expirationDate" ng-disabled="vc.viewState.VA_DATEFIELDAQBSYU_198860.disabled || vc.viewState.VA_DATEFIELDAQBSYU_198860.disabledingroup" ng-show="vc.viewState.VA_DATEFIELDAQBSYU_198860.visible" ng-readonly="vc.viewState.VA_DATEFIELDAQBSYU_198860.readonly" ng-class="vc.viewState.VA_DATEFIELDAQBSYU_198860.style" data-cobis-group="Group,G_SOLIDARTTY_754860,0" data-validation-code="{{vc.viewState.VA_DATEFIELDAQBSYU_198860.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_TEXTINPUTBOXTXW_324860.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXTXW_324860_DIV"> 
         <label for="VA_TEXTINPUTBOXTXW_324860" title="{{vc.viewState.VA_TEXTINPUTBOXTXW_324860.label|translate:vc.viewState.VA_TEXTINPUTBOXTXW_324860.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXTXW_324860.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXTXW_324860.label|translate:vc.viewState.VA_TEXTINPUTBOXTXW_324860.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXTXW_324860" name="SolidarityPayment_amountSolidarityPayment" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_TEXTINPUTBOXTXW_324860.format" k-decimals="vc.viewState.VA_TEXTINPUTBOXTXW_324860.decimals" k-ng-model="vc.model.SolidarityPayment.amountSolidarityPayment" ng-model="vc.tmpModel.SolidarityPayment.amountSolidarityPayment" ng-disabled="vc.viewState.VA_TEXTINPUTBOXTXW_324860.disabled || vc.viewState.VA_TEXTINPUTBOXTXW_324860.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXTXW_324860.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXTXW_324860.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXTXW_324860.style" data-cobis-group="Group,G_SOLIDARTTY_754860,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXTXW_324860.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_CHECKBOXQWZXQRM_776860.visible"> 
        <div class="form-group cb-required" id="VA_CHECKBOXQWZXQRM_776860_DIV"> 
         <label>&nbsp; </label> 
         <div class="cb-control"> 
          <div> 
           <label class="checkbox-inline"> <input id="VA_CHECKBOXQWZXQRM_776860" name="SolidarityPayment_payDebitAccounts" type="checkbox" ng-model="vc.model.SolidarityPayment.payDebitAccounts" ng-disabled="vc.viewState.VA_CHECKBOXQWZXQRM_776860.disabled || vc.viewState.VA_CHECKBOXQWZXQRM_776860.disabledingroup" ng-show="vc.viewState.VA_CHECKBOXQWZXQRM_776860.visible" ng-class="vc.viewState.VA_CHECKBOXQWZXQRM_776860.style" /> <span ng-if="vc.viewState.VA_CHECKBOXQWZXQRM_776860.visible"> {{vc.viewState.VA_CHECKBOXQWZXQRM_776860.label|translate}} </span> </label> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer2684.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer2336.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VACOMPOSITEKWKQ_165860.visible"> 
        <div class="form-group cb-no-label" ng-class="vc.viewState.VA_VACOMPOSITEKWKQ_165860.style"> 
         <div class="cb-control cb-flex cb-gutters"> 
          <div class="form-group cb-spacer"> 
           <label class="control-label">&nbsp;</label> 
           <span class="cb-control"></span> 
          </div> 
          <div class="form-group"> 
           <label class="control-label">{{vc.viewState.VA_VAIMAGEBUTTONNN_542860.label|translate}}</label> 
           <div class="cb-control"> 
            <button id="VA_VAIMAGEBUTTONNN_542860" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VAIMAGEBUTTONNN_542860','VA_VAIMAGEBUTTONNN_542860',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VAIMAGEBUTTONNN_542860.disabled || vc.viewState.VA_VAIMAGEBUTTONNN_542860.disabledingroup" ng-show="vc.viewState.VA_VAIMAGEBUTTONNN_542860.visible" ng-class="vc.viewState.VA_VAIMAGEBUTTONNN_542860.style"> <span ng-class="vc.viewState.VA_VAIMAGEBUTTONNN_542860.imageId"></span> </button> 
           </div> 
          </div> 
          <div class="form-group cb-grow" id="VA_MODIFICATIONEEE_697860_DIV"> 
           <label for="VA_MODIFICATIONEEE_697860" title="{{vc.viewState.VA_MODIFICATIONEEE_697860.label|translate:vc.viewState.VA_MODIFICATIONEEE_697860.labelArgs}}" ng-show="vc.viewState.VA_MODIFICATIONEEE_697860.visible" class="control-label">{{vc.viewState.VA_MODIFICATIONEEE_697860.label|translate:vc.viewState.VA_MODIFICATIONEEE_697860.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_MODIFICATIONEEE_697860" name="SolidarityPayment_modificationFee" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_MODIFICATIONEEE_697860.decimals" k-format="vc.viewState.VA_MODIFICATIONEEE_697860.format" k-ng-model="vc.model.SolidarityPayment.modificationFee" ng-model="vc.tmpModel.SolidarityPayment.modificationFee" ng-disabled="vc.viewState.VA_MODIFICATIONEEE_697860.disabled || vc.viewState.VA_MODIFICATIONEEE_697860.disabledingroup" ng-show="vc.viewState.VA_MODIFICATIONEEE_697860.visible" ng-readonly="vc.viewState.VA_MODIFICATIONEEE_697860.readonly" ng-class="vc.viewState.VA_MODIFICATIONEEE_697860.style" data-cobis-group="Group,G_SOLIDARTTY_754860,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_MODIFICATIONEEE_697860.validationCode}}" designer-change /> 
           </div> 
          </div> 
          <div class="form-group"> 
           <label class="control-label">{{vc.viewState.VA_VAIMAGEBUTTONNN_792860.label|translate}}</label> 
           <div class="cb-control"> 
            <button id="VA_VAIMAGEBUTTONNN_792860" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VAIMAGEBUTTONNN_792860','VA_VAIMAGEBUTTONNN_792860',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VAIMAGEBUTTONNN_792860.disabled || vc.viewState.VA_VAIMAGEBUTTONNN_792860.disabledingroup" ng-show="vc.viewState.VA_VAIMAGEBUTTONNN_792860.visible" ng-class="vc.viewState.VA_VAIMAGEBUTTONNN_792860.style"> <span ng-class="vc.viewState.VA_VAIMAGEBUTTONNN_792860.imageId"></span> </button> 
           </div> 
          </div> 
          <div class="form-group cb-spacer"> 
           <label class="control-label">&nbsp;</label> 
           <span class="cb-control"></span> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </fieldset> 
   <fieldset id="G_SOLIDARMMP_107860" ng-show="vc.viewState.G_SOLIDARMMP_107860.visible" ng-class="vc.viewState.G_SOLIDARMMP_107860.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_SOLIDARMMP_107860" k-options="validatorOptions" id="G_SOLIDARMMP_107860_VAL"> 
     <legend> <span ng-bind="vc.viewState.G_SOLIDARMMP_107860.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.G_SOLIDARMMP_107860.statusStyle.success, 'cb-validation-fail': vc.viewState.G_SOLIDARMMP_107860.statusStyle.fail, 'cb-validation-none': vc.viewState.G_SOLIDARMMP_107860.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.G_SOLIDARMMP_107860.label|translate}}</span> </legend> 
     <div id="QV_6669_21119" kendo-ext-grid="grids.QV_6669_21119" k-data-source="vc.model.SolidarityPaymentDetail" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_6669_21119.editable" k-navigatable="true" k-save="vc.grids.QV_6669_21119.events.save" k-remove="vc.grids.QV_6669_21119.events.remove" k-toolbar="vc.grids.QV_6669_21119.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_6669_21119.events.dataBound" k-columns="vc.grids.QV_6669_21119.columns" k-cancel="vc.grids.QV_6669_21119.events.cancel" k-edit="vc.grids.QV_6669_21119.events.edit" ng-class="vc.viewState.QV_6669_21119.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </fieldset> 
   <div id="G_SOLIDARTME_880860" ng-show="vc.viewState.G_SOLIDARTME_880860.visible" ng-class="vc.viewState.G_SOLIDARTME_880860.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_SOLIDARTME_880860" k-options="validatorOptions" id="G_SOLIDARTME_880860_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer1770.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONXDXARLH_873860.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONXDXARLH_873860" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONXDXARLH_873860','VA_VABUTTONXDXARLH_873860',validator,true, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONXDXARLH_873860.disabled || vc.viewState.VA_VABUTTONXDXARLH_873860.disabledingroup" ng-show="vc.viewState.VA_VABUTTONXDXARLH_873860.visible" ng-class="vc.viewState.VA_VABUTTONXDXARLH_873860.style"> {{vc.viewState.VA_VABUTTONXDXARLH_873860.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_SOLIDARITT_860--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_SOLIDARITYYPN_463_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_SOLIDARIEN_259463')" ng-disabled="vc.viewState.T_SOLIDARITYYPN_463_ACCEPT.disabled || vc.viewState.T_SOLIDARITYYPN_463_ACCEPT.disabledingroup" ng-show="vc.viewState.T_SOLIDARITYYPN_463_ACCEPT.visible" ng-class="vc.viewState.T_SOLIDARITYYPN_463_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_SOLIDARITYYPN_463_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_SOLIDARITYYPN_463_CANCEL.disabled || vc.viewState.T_SOLIDARITYYPN_463_CANCEL.disabledingroup" ng-show="vc.viewState.T_SOLIDARITYYPN_463_CANCEL.visible" ng-class="vc.viewState.T_SOLIDARITYYPN_463_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>