<!-- Designer Generator v 5.0.0.1626 - release SPR 2016-26 08/01/2016 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_TENAO99_ANEAO_134" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_TENAO99_ANEAO_134.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_TENAO99_ANEAO_134" ng-keydown="vc.viewState.keyDown($event)" class="cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="VC_TENAO99_POIMB_687" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_TENAO99_POIMB_687', vc.viewState.VC_TENAO99_POIMB_687.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_TENAO99_POIMB_687.visible"> 
    <div id="VC_TENAO99_POIMB_687_VAL" kendo-validator="VC_TENAO99_POIMB_687" k-options="validatorOptions"> 
     <div id="GR_VEACITESIT42_11" ng-class="vc.viewState.GR_VEACITESIT42_11.style" class="cb-group cb-group-layout"> 
      <div id="GR_VEACITESIT42_11_VAL" kendo-validator="GR_VEACITESIT42_11" k-options="validatorOptions"> 
       <div id="GR_VEACITESIT42_81" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_VEACITESIT42_81.visible" ng-class="vc.viewState.GR_VEACITESIT42_81.style"> 
        <div id="GR_VEACITESIT42_81_VAL" kendo-validator="GR_VEACITESIT42_81" k-options="validatorOptions"> 
         <div class="form-vertical"> 
          <div class="row"> 
           <div class="col-xs-3" ng-show="vc.viewState.VA_VEACITESIT4281_CTAG467.visible"> 
            <div class="form-group" id="VA_VEACITESIT4281_CTAG467_DIV"> 
             <label for="VA_VEACITESIT4281_CTAG467" title="{{vc.viewState.VA_VEACITESIT4281_CTAG467.label|translate:vc.viewState.VA_VEACITESIT4281_CTAG467.labelArgs}}" ng-show="vc.viewState.VA_VEACITESIT4281_CTAG467.visible" class="control-label">{{vc.viewState.VA_VEACITESIT4281_CTAG467.label|translate:vc.viewState.VA_VEACITESIT4281_CTAG467.labelArgs}}</label> 
             <div class="cb-control"> 
              <input id="VA_VEACITESIT4281_CTAG467" name="MaintenanceCatalog_Catalog" kendo-ext-combo-box="comboBox.VA_VEACITESIT4281_CTAG467" ng-model="vc.model.MaintenanceCatalog.Catalog" ng-disabled="vc.viewState.VA_VEACITESIT4281_CTAG467.disabled || vc.viewState.VA_VEACITESIT4281_CTAG467.disabledingroup" ng-show="vc.viewState.VA_VEACITESIT4281_CTAG467.visible" ng-readonly="vc.viewState.VA_VEACITESIT4281_CTAG467.readonly" ng-class="vc.viewState.VA_VEACITESIT4281_CTAG467.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_VEACITESIT4281_CTAG467" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_VEACITESIT4281_CTAG467.template" data-cobis-group="Group,GR_VEACITESIT42_11,0" data-validation-code="{{vc.viewState.VA_VEACITESIT4281_CTAG467.validationCode}}" designer-change /> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div id="GR_VEACITESIT42_05" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_VEACITESIT42_05.visible" ng-class="vc.viewState.GR_VEACITESIT42_05.style"> 
        <div id="GR_VEACITESIT42_05_VAL" kendo-validator="GR_VEACITESIT42_05" k-options="validatorOptions"> 
         <div class="form-vertical"> 
          <div class="row"> 
           <div class="col-xs-12" ng-show="vc.viewState.VA_VEACITESIT4205_0000370.visible"> 
            <div class="form-group cb-spacer"> 
             <label class="control-label">&nbsp;</label> 
             <span class="cb-control"></span> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div id="GR_VEACITESIT42_04" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_VEACITESIT42_04.visible" ng-class="vc.viewState.GR_VEACITESIT42_04.style"> 
        <div id="GR_VEACITESIT42_04_VAL" kendo-validator="GR_VEACITESIT42_04" k-options="validatorOptions"> 
         <div id="QV_CIVII5836_15" kendo-ext-grid="grids.QV_CIVII5836_15" k-data-source="vc.model.ActivitiesList" k-column-menu="false" k-sortable="false" k-editable="vc.viewState.GR_VEACITESIT42_04.disabled?false:'inline'" k-toolbar="vc.grids.QV_CIVII5836_15.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="true" k-change="vc.grids.QV_CIVII5836_15.events.change" k-data-bound="vc.grids.QV_CIVII5836_15.events.dataBound" k-columns="vc.grids.QV_CIVII5836_15.columns" k-cancel="vc.grids.QV_CIVII5836_15.events.cancel" k-edit="vc.grids.QV_CIVII5836_15.events.edit" ng-class="vc.viewState.QV_CIVII5836_15.style" k-ng-delay="vc.afterInitData"></div> 
        </div> 
       </div> 
       <div id="GR_VEACITESIT42_06" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_VEACITESIT42_06.visible" ng-class="vc.viewState.GR_VEACITESIT42_06.style"> 
        <div id="GR_VEACITESIT42_06_VAL" kendo-validator="GR_VEACITESIT42_06" k-options="validatorOptions"> 
         <div class="form-vertical"> 
          <div class="row"> 
           <div class="col-xs-4" ng-show="vc.viewState.VA_VEACITESIT4206_0000905.visible"> 
            <div class="form-group cb-spacer"> 
             <label class="control-label">&nbsp;</label> 
             <span class="cb-control"></span> 
            </div> 
           </div> 
           <div class="col-xs-4" ng-show="vc.viewState.VA_VEACITESIT4206_0000247.visible"> 
            <div class="form-group"> 
             <label class="control-label">&nbsp;</label> 
             <button id="VA_VEACITESIT4206_0000247" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VEACITESIT4206_0000247','ButtonSave',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VEACITESIT4206_0000247.disabled || vc.viewState.VA_VEACITESIT4206_0000247.disabledingroup" ng-show="vc.viewState.VA_VEACITESIT4206_0000247.visible" ng-class="vc.viewState.VA_VEACITESIT4206_0000247.style"> {{vc.viewState.VA_VEACITESIT4206_0000247.label|translate}} </button> 
            </div> 
           </div> 
           <div class="col-xs-4" ng-show="vc.viewState.VA_VEACITESIT4206_0000332.visible"> 
            <div class="form-group cb-spacer"> 
             <label class="control-label">&nbsp;</label> 
             <span class="cb-control"></span> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_FLCRE_59_TENAO99_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_TENAO99_ANEAO_134')" ng-disabled="vc.viewState.T_FLCRE_59_TENAO99_ACCEPT.disabled || vc.viewState.T_FLCRE_59_TENAO99_ACCEPT.disabledingroup" ng-show="vc.viewState.T_FLCRE_59_TENAO99_ACCEPT.visible" ng-class="vc.viewState.T_FLCRE_59_TENAO99_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_FLCRE_59_TENAO99_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_FLCRE_59_TENAO99_CANCEL.disabled || vc.viewState.T_FLCRE_59_TENAO99_CANCEL.disabledingroup" ng-show="vc.viewState.T_FLCRE_59_TENAO99_CANCEL.visible" ng-class="vc.viewState.T_FLCRE_59_TENAO99_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>