<!-- Designer Generator v 6.0.0 - release SPR 2016-13 08/07/2016 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_TAONE32_GEPLI_734" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_TAONE32_GEPLI_734.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_TAONE32_GEPLI_734" ng-keydown="vc.viewState.keyDown($event)" class="cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="VC_TAONE32_RPBEO_194" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_TAONE32_RPBEO_194', vc.viewState.VC_TAONE32_RPBEO_194.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_TAONE32_RPBEO_194.visible"> 
    <div id="VC_TAONE32_RPBEO_194_VAL" kendo-validator="VC_TAONE32_RPBEO_194" k-options="validatorOptions"> 
     <!-- Inicio item VW_OOPENIATIO41--> 
     <div id="GR_OOPENIATIO41_04" ng-class="vc.viewState.GR_OOPENIATIO41_04.style" class="cb-group cb-group-layout"> 
      <div id="GR_OOPENIATIO41_04_VAL" kendo-validator="GR_OOPENIATIO41_04" k-options="validatorOptions"> 
       <div id="GR_OOPENIATIO41_05" class="cb-group cb-group-simple" ng-show="vc.viewState.GR_OOPENIATIO41_05.visible" ng-class="vc.viewState.GR_OOPENIATIO41_05.style"> 
        <div id="GR_OOPENIATIO41_05_VAL" kendo-validator="GR_OOPENIATIO41_05" k-options="validatorOptions"> 
         <div class="form-vertical"> 
          <div class="row"> 
           <div class="col-xs-12" ng-show="vc.viewState.VA_OOPENIATIO4105_BRTO752.visible"> 
            <div class="form-group cb-required" id="VA_OOPENIATIO4105_BRTO752_DIV"> 
             <label for="VA_OOPENIATIO4105_BRTO752" title="{{vc.viewState.VA_OOPENIATIO4105_BRTO752.label|translate:vc.viewState.VA_OOPENIATIO4105_BRTO752.labelArgs}}" ng-show="vc.viewState.VA_OOPENIATIO4105_BRTO752.visible" class="control-label">{{vc.viewState.VA_OOPENIATIO4105_BRTO752.label|translate:vc.viewState.VA_OOPENIATIO4105_BRTO752.labelArgs}}</label> 
             <div class="cb-control"> 
              <input id="VA_OOPENIATIO4105_BRTO752" name="HeaderPunishment_Observation" maxlength="225" type="text" class="form-control" ng-model="vc.model.HeaderPunishment.Observation" ng-disabled="vc.viewState.VA_OOPENIATIO4105_BRTO752.disabled || vc.viewState.VA_OOPENIATIO4105_BRTO752.disabledingroup" ng-show="vc.viewState.VA_OOPENIATIO4105_BRTO752.visible" ng-readonly="vc.viewState.VA_OOPENIATIO4105_BRTO752.readonly" ng-class="vc.viewState.VA_OOPENIATIO4105_BRTO752.style" data-cobis-group="Group,GR_OOPENIATIO41_04,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_OOPENIATIO4105_BRTO752.validationCode}}" data-required-msg="{{'BUSIN.DLB_BUSIN_OBSERVACI_93291'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <!-- Fin item VW_OOPENIATIO41--> 
    </div> 
   </div> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_TAONE32TAR13" ng-click="vc.executeCommand('CM_TAONE32TAR13','Acpetar', validator, true, false, 'VC_TAONE32_GEPLI_734', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_TAONE32TAR13.disabled || vc.viewState.CM_TAONE32TAR13.disabledingroup" ng-show="vc.viewState.CM_TAONE32TAR13.visible" ng-class="vc.viewState.CM_TAONE32TAR13.style"> {{vc.viewState.CM_TAONE32TAR13.label|translate}} </button> 
    <button id="CM_TAONE32CAR77" ng-click="vc.executeCommand('CM_TAONE32CAR77','Cancelar', validator, false, false, 'VC_TAONE32_GEPLI_734', false)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_TAONE32CAR77.disabled || vc.viewState.CM_TAONE32CAR77.disabledingroup" ng-show="vc.viewState.CM_TAONE32CAR77.visible" ng-class="vc.viewState.CM_TAONE32CAR77.style"> {{vc.viewState.CM_TAONE32CAR77.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_FLCRE_03_TAONE32_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_TAONE32_GEPLI_734')" ng-disabled="vc.viewState.T_FLCRE_03_TAONE32_ACCEPT.disabled || vc.viewState.T_FLCRE_03_TAONE32_ACCEPT.disabledingroup" ng-show="vc.viewState.T_FLCRE_03_TAONE32_ACCEPT.visible" ng-class="vc.viewState.T_FLCRE_03_TAONE32_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_FLCRE_03_TAONE32_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_FLCRE_03_TAONE32_CANCEL.disabled || vc.viewState.T_FLCRE_03_TAONE32_CANCEL.disabledingroup" ng-show="vc.viewState.T_FLCRE_03_TAONE32_CANCEL.visible" ng-class="vc.viewState.T_FLCRE_03_TAONE32_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>