<!-- Designer Generator v 6.3.3 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_LOANREFINN_713618" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_LOANREFINN_713618.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_LOANREFINN_713618" ng-keydown="vc.viewState.keyDown($event)" class="cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="VC_AUCLUAIEKU_127618" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_AUCLUAIEKU_127618', vc.viewState.VC_AUCLUAIEKU_127618.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_AUCLUAIEKU_127618.visible"> 
    <div id="VC_EEJGZEPGLJ_115316" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_EEJGZEPGLJ_115316', vc.viewState.VC_EEJGZEPGLJ_115316.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_EEJGZEPGLJ_115316.visible"> 
     <div id="VC_EEJGZEPGLJ_115316_VAL" kendo-validator="VC_EEJGZEPGLJ_115316" k-options="validatorOptions"> 
      <!-- Inicio item VW_LOANHEADRN_612--> 
      <div id="G_LOANHEADOD_564612" ng-show="vc.viewState.G_LOANHEADOD_564612.visible" ng-class="vc.viewState.G_LOANHEADOD_564612.style" class="cb-group cb-group-simple"> 
       <div kendo-validator="G_LOANHEADOD_564612" k-options="validatorOptions" id="G_LOANHEADOD_564612_VAL"> 
        <div class="form-vertical"> 
         <div class="row"> 
          <div class="col-xs-12" ng-show="vc.viewState.VA_VASIMPLELABELLL_143612.visible"> 
           <div class="form-group"> 
            <label class="control-label">&nbsp;</label> 
            <div class="cb-control"> 
             <label id="VA_VASIMPLELABELLL_143612" ng-show="vc.viewState.VA_VASIMPLELABELLL_143612.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_143612.style"> {{vc.viewState.VA_VASIMPLELABELLL_143612.label|translate}} </label>
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <div id="G_LOANHEADRO_349612" ng-show="vc.viewState.G_LOANHEADRO_349612.visible" ng-class="vc.viewState.G_LOANHEADRO_349612.style" class="cb-group cb-group-simple"> 
       <div kendo-validator="G_LOANHEADRO_349612" k-options="validatorOptions" id="G_LOANHEADRO_349612_VAL"> 
        <div class="form-vertical"> 
         <div class="row"> 
          <div class="col-xs-7" ng-show="vc.viewState.VA_VASIMPLELABELLL_867612.visible"> 
           <div class="form-group" id="VA_VASIMPLELABELLL_867612_DIV"> 
            <label for="VA_VASIMPLELABELLL_867612" title="{{vc.viewState.VA_VASIMPLELABELLL_867612.label|translate:vc.viewState.VA_VASIMPLELABELLL_867612.labelArgs}}" ng-show="vc.viewState.VA_VASIMPLELABELLL_867612.visible" class="control-label">{{vc.viewState.VA_VASIMPLELABELLL_867612.label|translate:vc.viewState.VA_VASIMPLELABELLL_867612.labelArgs}} <span ng-class="vc.viewState.VA_VASIMPLELABELLL_867612.labelImageId"></span></label> 
            <div class="cb-control"> 
             <div> 
              <a id="VA_VASIMPLELABELLL_867612" href ng-click="vc.viewState.VA_VASIMPLELABELLL_867612.disabled || vc.executeCommand('VA_VASIMPLELABELLL_867612','loanBankID',validator,false, false,'', false)" class="form-control textlink" ng-disabled="vc.viewState.VA_VASIMPLELABELLL_867612.disabled || vc.viewState.VA_VASIMPLELABELLL_867612.disabledingroup" ng-show="vc.viewState.VA_VASIMPLELABELLL_867612.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_867612.style" ng-bind="vc.model.Loan.loanBankID"> </a> 
             </div> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-3" ng-show="vc.viewState.VA_VABUTTONWVITZRQ_108612.visible"> 
           <div class="form-group"> 
            <label class="control-label">&nbsp;</label> 
            <div class="cb-control"> 
             <button id="VA_VABUTTONWVITZRQ_108612" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONWVITZRQ_108612','VA_VABUTTONWVITZRQ_108612',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONWVITZRQ_108612.disabled || vc.viewState.VA_VABUTTONWVITZRQ_108612.disabledingroup" ng-show="vc.viewState.VA_VABUTTONWVITZRQ_108612.visible" ng-class="vc.viewState.VA_VABUTTONWVITZRQ_108612.style"> <span ng-class="vc.viewState.VA_VABUTTONWVITZRQ_108612.imageId"></span> {{vc.viewState.VA_VABUTTONWVITZRQ_108612.label|translate}} </button> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-2" ng-show="vc.viewState.VA_VABUTTONORYJAMS_468612.visible"> 
           <div class="form-group"> 
            <label class="control-label">&nbsp;</label> 
            <div class="cb-control"> 
             <button id="VA_VABUTTONORYJAMS_468612" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONORYJAMS_468612','VA_VABUTTONORYJAMS_468612',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONORYJAMS_468612.disabled || vc.viewState.VA_VABUTTONORYJAMS_468612.disabledingroup" ng-show="vc.viewState.VA_VABUTTONORYJAMS_468612.visible" ng-class="vc.viewState.VA_VABUTTONORYJAMS_468612.style"> <span ng-class="vc.viewState.VA_VABUTTONORYJAMS_468612.imageId"></span> {{vc.viewState.VA_VABUTTONORYJAMS_468612.label|translate}} </button> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <div id="G_LOANHEAINF_340612" ng-show="vc.viewState.G_LOANHEAINF_340612.visible" ng-class="vc.viewState.G_LOANHEAINF_340612.style" class="cb-group cb-group-simple"> 
       <div kendo-validator="G_LOANHEAINF_340612" k-options="validatorOptions" id="G_LOANHEAINF_340612_VAL"> 
        <div class="form-vertical"> 
         <div class="row"> 
          <div class="col-xs-1" ng-show="vc.viewState.VA_5034UOFCASVGKTK_993612.visible"> 
           <div class="form-group" id="VA_5034UOFCASVGKTK_993612_DIV"> 
            <label for="VA_5034UOFCASVGKTK_993612" title="{{vc.viewState.VA_5034UOFCASVGKTK_993612.label|translate:vc.viewState.VA_5034UOFCASVGKTK_993612.labelArgs}}" ng-show="vc.viewState.VA_5034UOFCASVGKTK_993612.visible" class="control-label">{{vc.viewState.VA_5034UOFCASVGKTK_993612.label|translate:vc.viewState.VA_5034UOFCASVGKTK_993612.labelArgs}}</label> 
            <div class="cb-control"> 
             <div id="VA_5034UOFCASVGKTK_993612" name="Loan_amount" class="form-control cb-no-border" ng-show="vc.viewState.VA_5034UOFCASVGKTK_993612.visible" ng-class="vc.viewState.VA_5034UOFCASVGKTK_993612.style">
               {{kendo.toString(vc.model.Loan.amount, 'c')}} 
             </div> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-1" ng-show="vc.viewState.VA_2463BHBNLZPKLMU_865612.visible"> 
           <div class="form-group" id="VA_2463BHBNLZPKLMU_865612_DIV"> 
            <label for="VA_2463BHBNLZPKLMU_865612" title="{{vc.viewState.VA_2463BHBNLZPKLMU_865612.label|translate:vc.viewState.VA_2463BHBNLZPKLMU_865612.labelArgs}}" ng-show="vc.viewState.VA_2463BHBNLZPKLMU_865612.visible" class="control-label">{{vc.viewState.VA_2463BHBNLZPKLMU_865612.label|translate:vc.viewState.VA_2463BHBNLZPKLMU_865612.labelArgs}}</label> 
            <div class="cb-control"> 
             <div id="VA_2463BHBNLZPKLMU_865612" name="Loan_balanceDue" class="form-control cb-no-border" ng-show="vc.viewState.VA_2463BHBNLZPKLMU_865612.visible" ng-class="vc.viewState.VA_2463BHBNLZPKLMU_865612.style">
               {{kendo.toString(vc.model.Loan.balanceDue, 'c')}} 
             </div> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-1" ng-show="vc.viewState.VA_3853RRTWBIRUGHQ_533612.visible"> 
           <div class="form-group" id="VA_3853RRTWBIRUGHQ_533612_DIV"> 
            <label for="VA_3853RRTWBIRUGHQ_533612" title="{{vc.viewState.VA_3853RRTWBIRUGHQ_533612.label|translate:vc.viewState.VA_3853RRTWBIRUGHQ_533612.labelArgs}}" ng-show="vc.viewState.VA_3853RRTWBIRUGHQ_533612.visible" class="control-label">{{vc.viewState.VA_3853RRTWBIRUGHQ_533612.label|translate:vc.viewState.VA_3853RRTWBIRUGHQ_533612.labelArgs}}</label> 
            <div class="cb-control"> 
             <div id="VA_3853RRTWBIRUGHQ_533612" name="Loan_status" class="form-control cb-no-border" ng-show="vc.viewState.VA_3853RRTWBIRUGHQ_533612.visible" ng-class="vc.viewState.VA_3853RRTWBIRUGHQ_533612.style">
               {{vc.model.Loan.status}} 
             </div> 
            </div> 
           </div> 
          </div> 
          <div class="col-xs-1" ng-show="vc.viewState.VA_7292SEAHPRAXOKC_868612.visible"> 
           <div class="form-group" id="VA_7292SEAHPRAXOKC_868612_DIV"> 
            <label for="VA_7292SEAHPRAXOKC_868612" title="{{vc.viewState.VA_7292SEAHPRAXOKC_868612.label|translate:vc.viewState.VA_7292SEAHPRAXOKC_868612.labelArgs}}" ng-show="vc.viewState.VA_7292SEAHPRAXOKC_868612.visible" class="control-label">{{vc.viewState.VA_7292SEAHPRAXOKC_868612.label|translate:vc.viewState.VA_7292SEAHPRAXOKC_868612.labelArgs}}</label> 
            <div class="cb-control"> 
             <div id="VA_7292SEAHPRAXOKC_868612" name="Loan_office" class="form-control cb-no-border" ng-show="vc.viewState.VA_7292SEAHPRAXOKC_868612.visible" ng-class="vc.viewState.VA_7292SEAHPRAXOKC_868612.style">
               {{vc.model.Loan.office}} 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <!-- Fin item VW_LOANHEADRN_612--> 
     </div> 
    </div> 
   </div> 
   <div id="VC_QYSEYRQEPI_611618" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_QYSEYRQEPI_611618', vc.viewState.VC_QYSEYRQEPI_611618.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_QYSEYRQEPI_611618.visible"> 
    <div id="VC_SCIADDUTKF_461386" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_SCIADDUTKF_461386', vc.viewState.VC_SCIADDUTKF_461386.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_SCIADDUTKF_461386.visible"> 
     <div id="VC_SCIADDUTKF_461386_VAL" kendo-validator="VC_SCIADDUTKF_461386" k-options="validatorOptions"> 
      <!-- Inicio item VW_REFINANCOL_881--> 
      <div id="G_REFINANLCC_149881" ng-class="vc.viewState.G_REFINANLCC_149881.style" class="cb-group cb-group-collapsible"> 
       <ul id="G_REFINANLCC_149881_VAL" kendo-panel-bar k-expand-mode="'multiple'" k-animation="false" kendo-validator="G_REFINANLCC_149881" k-options="validatorOptions"> 
        <li id="G_REFINANNAA_790881" ng-disabled="vc.viewState.G_REFINANNAA_790881.disabled || vc.viewState.G_REFINANNAA_790881.disabledingroup" ng-show="vc.viewState.G_REFINANNAA_790881.visible" ng-class="vc.getCssClass('G_REFINANNAA_790881', vc.viewState.G_REFINANNAA_790881.style,
{'cb-group':true,'cb-group-simple':true,'k-state-active': !(vc.viewState.G_REFINANNAA_790881.disabled || vc.viewState.G_REFINANNAA_790881.disabledingroup)})"> <span ng-bind="vc.viewState.G_REFINANNAA_790881.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.G_REFINANNAA_790881.statusStyle.success, 'cb-validation-fail': vc.viewState.G_REFINANNAA_790881.statusStyle.fail, 'cb-validation-none': vc.viewState.G_REFINANNAA_790881.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.G_REFINANNAA_790881.label|translate}}</span> 
         <div id="G_REFINANNAA_790881_VAL" kendo-validator="G_REFINANNAA_790881" k-options="validatorOptions"> 
          <div id="QV_2890_45043" kendo-ext-grid="grids.QV_2890_45043" k-data-source="vc.model.RefinanceLoans" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_2890_45043.editable" k-toolbar="vc.grids.QV_2890_45043.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="true" k-change="vc.grids.QV_2890_45043.events.change" k-data-bound="vc.grids.QV_2890_45043.events.dataBound" k-columns="vc.grids.QV_2890_45043.columns" k-cancel="vc.grids.QV_2890_45043.events.cancel" k-edit="vc.grids.QV_2890_45043.events.edit" ng-class="vc.viewState.QV_2890_45043.style" k-ng-delay="vc.afterInitData"></div> 
         </div> </li> 
        <li id="G_REFINANCAE_644881" ng-disabled="vc.viewState.G_REFINANCAE_644881.disabled || vc.viewState.G_REFINANCAE_644881.disabledingroup" ng-show="vc.viewState.G_REFINANCAE_644881.visible" ng-class="vc.getCssClass('G_REFINANCAE_644881', vc.viewState.G_REFINANCAE_644881.style,
{'cb-group':true,'cb-group-simple':true,'k-state-active': !(vc.viewState.G_REFINANCAE_644881.disabled || vc.viewState.G_REFINANCAE_644881.disabledingroup)})"> <span ng-bind="vc.viewState.G_REFINANCAE_644881.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.G_REFINANCAE_644881.statusStyle.success, 'cb-validation-fail': vc.viewState.G_REFINANCAE_644881.statusStyle.fail, 'cb-validation-none': vc.viewState.G_REFINANCAE_644881.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.G_REFINANCAE_644881.label|translate}}</span> 
         <div id="G_REFINANCAE_644881_VAL" kendo-validator="G_REFINANCAE_644881" k-options="validatorOptions"> 
          <div id="QV_6687_51127" kendo-ext-grid="grids.QV_6687_51127" k-data-source="vc.model.RefinanceLoansItems" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_6687_51127.editable" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_6687_51127.events.dataBound" k-columns="vc.grids.QV_6687_51127.columns" k-cancel="vc.grids.QV_6687_51127.events.cancel" k-edit="vc.grids.QV_6687_51127.events.edit" ng-class="vc.viewState.QV_6687_51127.style" k-ng-delay="vc.afterInitData"></div> 
         </div> </li> 
        <li id="G_REFINANASL_130881" ng-disabled="vc.viewState.G_REFINANASL_130881.disabled || vc.viewState.G_REFINANASL_130881.disabledingroup" ng-show="vc.viewState.G_REFINANASL_130881.visible" ng-class="vc.getCssClass('G_REFINANASL_130881', vc.viewState.G_REFINANASL_130881.style,
{'cb-group':true,'cb-group-simple':true,'k-state-active': !(vc.viewState.G_REFINANASL_130881.disabled || vc.viewState.G_REFINANASL_130881.disabledingroup)})"> <span ng-bind="vc.viewState.G_REFINANASL_130881.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.G_REFINANASL_130881.statusStyle.success, 'cb-validation-fail': vc.viewState.G_REFINANASL_130881.statusStyle.fail, 'cb-validation-none': vc.viewState.G_REFINANASL_130881.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.G_REFINANASL_130881.label|translate}}</span> 
         <div id="G_REFINANASL_130881_VAL" kendo-validator="G_REFINANASL_130881" k-options="validatorOptions"> 
          <div class="form-vertical"> 
           <div class="row"> 
            <div class="col-xs-1" ng-show="vc.viewState.Spacer2360.visible"> 
             <div class="form-group cb-spacer"> 
              <label class="control-label">&nbsp;</label> 
              <span class="cb-control"></span> 
             </div> 
            </div> 
            <div class="col-xs-5" ng-show="vc.viewState.VA_VASIMPLELABELLL_975881.visible"> 
             <div class="form-group"> 
              <label class="control-label">&nbsp;</label> 
              <div class="cb-control"> 
               <label id="VA_VASIMPLELABELLL_975881" ng-show="vc.viewState.VA_VASIMPLELABELLL_975881.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_975881.style"> {{vc.viewState.VA_VASIMPLELABELLL_975881.label|translate}} </label>
              </div> 
             </div> 
            </div> 
            <div class="col-xs-5" ng-show="vc.viewState.VA_LOANAMOUNTTKXCD_133881.visible"> 
             <div class="form-group" id="VA_LOANAMOUNTTKXCD_133881_DIV"> 
              <label for="VA_LOANAMOUNTTKXCD_133881" title="{{vc.viewState.VA_LOANAMOUNTTKXCD_133881.label|translate:vc.viewState.VA_LOANAMOUNTTKXCD_133881.labelArgs}}" ng-show="vc.viewState.VA_LOANAMOUNTTKXCD_133881.visible" class="control-label">{{'&nbsp;'}}</label> 
              <div class="cb-control"> 
               <input id="VA_LOANAMOUNTTKXCD_133881" name="RefinanceDetailLoans_loanAmount" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_LOANAMOUNTTKXCD_133881.format" k-decimals="vc.viewState.VA_LOANAMOUNTTKXCD_133881.decimals" k-ng-model="vc.model.RefinanceDetailLoans.loanAmount" ng-model="vc.tmpModel.RefinanceDetailLoans.loanAmount" ng-disabled="vc.viewState.VA_LOANAMOUNTTKXCD_133881.disabled || vc.viewState.VA_LOANAMOUNTTKXCD_133881.disabledingroup" ng-show="vc.viewState.VA_LOANAMOUNTTKXCD_133881.visible" ng-readonly="vc.viewState.VA_LOANAMOUNTTKXCD_133881.readonly" ng-class="vc.viewState.VA_LOANAMOUNTTKXCD_133881.style" data-cobis-group="CollapsibleLayout,G_REFINANLCC_149881,2" ng-model-onblur data-validation-code="{{vc.viewState.VA_LOANAMOUNTTKXCD_133881.validationCode}}" /> 
              </div> 
             </div> 
            </div> 
            <div class="col-xs-1" ng-show="vc.viewState.Spacer2546.visible"> 
             <div class="form-group cb-spacer"> 
              <label class="control-label">&nbsp;</label> 
              <span class="cb-control"></span> 
             </div> 
            </div> 
            <div class="col-xs-1" ng-show="vc.viewState.Spacer2491.visible"> 
             <div class="form-group cb-spacer"> 
              <label class="control-label">&nbsp;</label> 
              <span class="cb-control"></span> 
             </div> 
            </div> 
            <div class="col-xs-5" ng-show="vc.viewState.VA_VASIMPLELABELLL_799881.visible"> 
             <div class="form-group"> 
              <label class="control-label">&nbsp;</label> 
              <div class="cb-control"> 
               <label id="VA_VASIMPLELABELLL_799881" ng-show="vc.viewState.VA_VASIMPLELABELLL_799881.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_799881.style"> {{vc.viewState.VA_VASIMPLELABELLL_799881.label|translate}} </label>
              </div> 
             </div> 
            </div> 
            <div class="col-xs-5" ng-show="vc.viewState.VA_AMOUNTTOCANCELL_703881.visible"> 
             <div class="form-group" id="VA_AMOUNTTOCANCELL_703881_DIV"> 
              <label for="VA_AMOUNTTOCANCELL_703881" title="{{vc.viewState.VA_AMOUNTTOCANCELL_703881.label|translate:vc.viewState.VA_AMOUNTTOCANCELL_703881.labelArgs}}" ng-show="vc.viewState.VA_AMOUNTTOCANCELL_703881.visible" class="control-label">{{'&nbsp;'}}</label> 
              <div class="cb-control"> 
               <input id="VA_AMOUNTTOCANCELL_703881" name="RefinanceDetailLoans_amountToCancel" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_AMOUNTTOCANCELL_703881.format" k-decimals="vc.viewState.VA_AMOUNTTOCANCELL_703881.decimals" k-ng-model="vc.model.RefinanceDetailLoans.amountToCancel" ng-model="vc.tmpModel.RefinanceDetailLoans.amountToCancel" ng-disabled="vc.viewState.VA_AMOUNTTOCANCELL_703881.disabled || vc.viewState.VA_AMOUNTTOCANCELL_703881.disabledingroup" ng-show="vc.viewState.VA_AMOUNTTOCANCELL_703881.visible" ng-readonly="vc.viewState.VA_AMOUNTTOCANCELL_703881.readonly" ng-class="vc.viewState.VA_AMOUNTTOCANCELL_703881.style" data-cobis-group="CollapsibleLayout,G_REFINANLCC_149881,2" ng-model-onblur data-validation-code="{{vc.viewState.VA_AMOUNTTOCANCELL_703881.validationCode}}" /> 
              </div> 
             </div> 
            </div> 
            <div class="col-xs-1" ng-show="vc.viewState.Spacer2678.visible"> 
             <div class="form-group cb-spacer"> 
              <label class="control-label">&nbsp;</label> 
              <span class="cb-control"></span> 
             </div> 
            </div> 
            <div class="col-xs-1" ng-show="vc.viewState.Spacer2798.visible"> 
             <div class="form-group cb-spacer"> 
              <label class="control-label">&nbsp;</label> 
              <span class="cb-control"></span> 
             </div> 
            </div> 
            <div class="col-xs-4" ng-show="vc.viewState.Spacer2778.visible"> 
             <div class="form-group cb-spacer"> 
              <label class="control-label">&nbsp;</label> 
              <span class="cb-control"></span> 
             </div> 
            </div> 
            <div class="col-xs-6" ng-show="vc.viewState.VA_VASEPARATORTRMM_125881.visible"> 
             <hr class="d-hr" ng-disabled="vc.viewState.VA_VASEPARATORTRMM_125881.disabled || vc.viewState.VA_VASEPARATORTRMM_125881.disabledingroup" ng-show="vc.viewState.VA_VASEPARATORTRMM_125881.visible" ng-readonly="vc.viewState.VA_VASEPARATORTRMM_125881.readonly" ng-class="vc.viewState.VA_VASEPARATORTRMM_125881.style" /> 
            </div> 
            <div class="col-xs-1" ng-show="vc.viewState.Spacer2198.visible"> 
             <div class="form-group cb-spacer"> 
              <label class="control-label">&nbsp;</label> 
              <span class="cb-control"></span> 
             </div> 
            </div> 
            <div class="col-xs-1" ng-show="vc.viewState.Spacer2170.visible"> 
             <div class="form-group cb-spacer"> 
              <label class="control-label">&nbsp;</label> 
              <span class="cb-control"></span> 
             </div> 
            </div> 
            <div class="col-xs-5" ng-show="vc.viewState.VA_VASIMPLELABELLL_584881.visible"> 
             <div class="form-group"> 
              <label class="control-label">&nbsp;</label> 
              <div class="cb-control"> 
               <label id="VA_VASIMPLELABELLL_584881" ng-show="vc.viewState.VA_VASIMPLELABELLL_584881.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_584881.style"> {{vc.viewState.VA_VASIMPLELABELLL_584881.label|translate}} </label>
              </div> 
             </div> 
            </div> 
            <div class="col-xs-5" ng-show="vc.viewState.VA_DELIVERCUSTOEER_870881.visible"> 
             <div class="form-group" id="VA_DELIVERCUSTOEER_870881_DIV"> 
              <label for="VA_DELIVERCUSTOEER_870881" title="{{vc.viewState.VA_DELIVERCUSTOEER_870881.label|translate:vc.viewState.VA_DELIVERCUSTOEER_870881.labelArgs}}" ng-show="vc.viewState.VA_DELIVERCUSTOEER_870881.visible" class="control-label">{{'&nbsp;'}}</label> 
              <div class="cb-control"> 
               <input id="VA_DELIVERCUSTOEER_870881" name="RefinanceDetailLoans_deliverCustomer" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_DELIVERCUSTOEER_870881.format" k-decimals="vc.viewState.VA_DELIVERCUSTOEER_870881.decimals" k-ng-model="vc.model.RefinanceDetailLoans.deliverCustomer" ng-model="vc.tmpModel.RefinanceDetailLoans.deliverCustomer" ng-disabled="vc.viewState.VA_DELIVERCUSTOEER_870881.disabled || vc.viewState.VA_DELIVERCUSTOEER_870881.disabledingroup" ng-show="vc.viewState.VA_DELIVERCUSTOEER_870881.visible" ng-readonly="vc.viewState.VA_DELIVERCUSTOEER_870881.readonly" ng-class="vc.viewState.VA_DELIVERCUSTOEER_870881.style" data-cobis-group="CollapsibleLayout,G_REFINANLCC_149881,2" ng-model-onblur data-validation-code="{{vc.viewState.VA_DELIVERCUSTOEER_870881.validationCode}}" /> 
              </div> 
             </div> 
            </div> 
            <div class="col-xs-1" ng-show="vc.viewState.Spacer2150.visible"> 
             <div class="form-group cb-spacer"> 
              <label class="control-label">&nbsp;</label> 
              <span class="cb-control"></span> 
             </div> 
            </div> 
            <div class="col-xs-12" ng-show="vc.viewState.VA_OBSERVATIONSLWS_588881.visible"> 
             <div class="form-group" id="VA_OBSERVATIONSLWS_588881_DIV"> 
              <label for="VA_OBSERVATIONSLWS_588881" title="{{vc.viewState.VA_OBSERVATIONSLWS_588881.label|translate:vc.viewState.VA_OBSERVATIONSLWS_588881.labelArgs}}" ng-show="vc.viewState.VA_OBSERVATIONSLWS_588881.visible" class="control-label">{{vc.viewState.VA_OBSERVATIONSLWS_588881.label|translate:vc.viewState.VA_OBSERVATIONSLWS_588881.labelArgs}}</label> 
              <div class="cb-control"> 
               <textarea id="VA_OBSERVATIONSLWS_588881" style="resize: none; width:100%" rows="2" name="RefinanceDetailLoans_observations" maxlength="200" type="text" class="form-control" ng-model="vc.model.RefinanceDetailLoans.observations" ng-disabled="vc.viewState.VA_OBSERVATIONSLWS_588881.disabled || vc.viewState.VA_OBSERVATIONSLWS_588881.disabledingroup" ng-show="vc.viewState.VA_OBSERVATIONSLWS_588881.visible" ng-readonly="vc.viewState.VA_OBSERVATIONSLWS_588881.readonly" ng-class="vc.viewState.VA_OBSERVATIONSLWS_588881.style" data-cobis-group="CollapsibleLayout,G_REFINANLCC_149881,2" ng-model-onblur data-validation-code="{{vc.viewState.VA_OBSERVATIONSLWS_588881.validationCode}}"></textarea> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> </li> 
       </ul> 
      </div> 
      <!-- Fin item VW_REFINANCOL_881--> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc || !vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_TLOANREF_1NA" ng-click="vc.executeCommand('CM_TLOANREF_1NA','Command1', validator, false, false, 'VC_LOANREFINN_713618', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_TLOANREF_1NA.disabled || vc.viewState.CM_TLOANREF_1NA.disabledingroup" ng-show="vc.viewState.CM_TLOANREF_1NA.visible" ng-class="vc.viewState.CM_TLOANREF_1NA.style"> {{vc.viewState.CM_TLOANREF_1NA.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_LOANREFINANNG_618_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_LOANREFINN_713618')" ng-disabled="vc.viewState.T_LOANREFINANNG_618_ACCEPT.disabled || vc.viewState.T_LOANREFINANNG_618_ACCEPT.disabledingroup" ng-show="vc.viewState.T_LOANREFINANNG_618_ACCEPT.visible" ng-class="vc.viewState.T_LOANREFINANNG_618_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_LOANREFINANNG_618_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_LOANREFINANNG_618_CANCEL.disabled || vc.viewState.T_LOANREFINANNG_618_CANCEL.disabledingroup" ng-show="vc.viewState.T_LOANREFINANNG_618_CANCEL.visible" ng-class="vc.viewState.T_LOANREFINANNG_618_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>