<!-- Designer Generator v 6.4.0.5 - SPR 2019-03 15/02/2019 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_SCANNEDDTE_690966" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_SCANNEDDTE_690966.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_SCANNEDDOS_611--> 
  <div id="VC_SCANNEDDTE_690966" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_SCANNEDCIM_218611" ng-show="vc.viewState.G_SCANNEDCIM_218611.visible" ng-class="vc.viewState.G_SCANNEDCIM_218611.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_SCANNEDCIM_218611" k-options="validatorOptions" id="G_SCANNEDCIM_218611_VAL"> 
     <div id="QV_7463_28553" kendo-ext-grid="grids.QV_7463_28553" k-data-source="vc.model.ScannedDocumentsDetail" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_7463_28553.editable" k-toolbar="vc.grids.QV_7463_28553.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_7463_28553.events.dataBound" k-columns="vc.grids.QV_7463_28553.columns" k-cancel="vc.grids.QV_7463_28553.events.cancel" k-edit="vc.grids.QV_7463_28553.events.edit" k-data-binding="vc.grids.QV_7463_28553.events.dataBinding" ng-class="vc.viewState.QV_7463_28553.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </div> 
   <div id="G_SCANNEDDSD_789611" ng-show="vc.viewState.G_SCANNEDDSD_789611.visible" ng-class="vc.viewState.G_SCANNEDDSD_789611.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_SCANNEDDSD_789611" k-options="validatorOptions" id="G_SCANNEDDSD_789611_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer1195.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_SCANNEDOLM_531611" ng-show="vc.viewState.G_SCANNEDOLM_531611.visible" ng-class="vc.viewState.G_SCANNEDOLM_531611.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_SCANNEDOLM_531611" k-options="validatorOptions" id="G_SCANNEDOLM_531611_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer1422.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONILJIEMT_921611.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONILJIEMT_921611" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONILJIEMT_921611','VA_VABUTTONILJIEMT_921611',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONILJIEMT_921611.disabled || vc.viewState.VA_VABUTTONILJIEMT_921611.disabledingroup" ng-show="vc.viewState.VA_VABUTTONILJIEMT_921611.visible" ng-class="vc.viewState.VA_VABUTTONILJIEMT_921611.style"> {{vc.viewState.VA_VABUTTONILJIEMT_921611.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_SCANNEDDOS_611--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_CSTMRAUGMCYDF_966_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_SCANNEDDTE_690966')" ng-disabled="vc.viewState.T_CSTMRAUGMCYDF_966_ACCEPT.disabled || vc.viewState.T_CSTMRAUGMCYDF_966_ACCEPT.disabledingroup" ng-show="vc.viewState.T_CSTMRAUGMCYDF_966_ACCEPT.visible" ng-class="vc.viewState.T_CSTMRAUGMCYDF_966_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_CSTMRAUGMCYDF_966_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_CSTMRAUGMCYDF_966_CANCEL.disabled || vc.viewState.T_CSTMRAUGMCYDF_966_CANCEL.disabledingroup" ng-show="vc.viewState.T_CSTMRAUGMCYDF_966_CANCEL.visible" ng-class="vc.viewState.T_CSTMRAUGMCYDF_966_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>