<!-- Designer Generator v 5.1.0.1601 - release SPR 2016-01 22/01/2016 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_SEVNO59_LSREU_678" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_SEVNO59_LSREU_678.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_SEVNO59_LSREU_678" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="GR_AOUCCSOMER41_02" ng-show="vc.viewState.GR_AOUCCSOMER41_02.visible" ng-class="vc.viewState.GR_AOUCCSOMER41_02.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="GR_AOUCCSOMER41_02" k-options="validatorOptions" id="GR_AOUCCSOMER41_02_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-12" ng-show="vc.viewState.VA_AOUCCSOMER4102_ALIF218.visible"> 
        <div class="form-group" id="VA_AOUCCSOMER4102_ALIF218_DIV"> 
         <label for="VA_AOUCCSOMER4102_ALIF218" title="{{vc.viewState.VA_AOUCCSOMER4102_ALIF218.label|translate:vc.viewState.VA_AOUCCSOMER4102_ALIF218.labelArgs}}" ng-show="vc.viewState.VA_AOUCCSOMER4102_ALIF218.visible" class="control-label">{{vc.viewState.VA_AOUCCSOMER4102_ALIF218.label|translate:vc.viewState.VA_AOUCCSOMER4102_ALIF218.labelArgs}}</label> 
         <div class="cb-control"> 
          <textarea id="VA_AOUCCSOMER4102_ALIF218" style="resize: none; width:100%" rows="8" name="DetailSourceRevenueCustomer_aclaracionFie" maxlength="255" type="text" class="form-control" ng-model="vc.model.DetailSourceRevenueCustomer.aclaracionFie" ng-disabled="vc.viewState.VA_AOUCCSOMER4102_ALIF218.disabled || vc.viewState.VA_AOUCCSOMER4102_ALIF218.disabledingroup" ng-show="vc.viewState.VA_AOUCCSOMER4102_ALIF218.visible" ng-readonly="vc.viewState.VA_AOUCCSOMER4102_ALIF218.readonly" ng-class="vc.viewState.VA_AOUCCSOMER4102_ALIF218.style" data-cobis-group="Group,GR_AOUCCSOMER41_02,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_AOUCCSOMER4102_ALIF218.validationCode}}"></textarea> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-12" ng-show="vc.viewState.VA_AOUCCSOMER4102_BOMC571.visible"> 
        <div class="form-group" id="VA_AOUCCSOMER4102_BOMC571_DIV"> 
         <label for="VA_AOUCCSOMER4102_BOMC571" title="{{vc.viewState.VA_AOUCCSOMER4102_BOMC571.label|translate:vc.viewState.VA_AOUCCSOMER4102_BOMC571.labelArgs}}" ng-show="vc.viewState.VA_AOUCCSOMER4102_BOMC571.visible" class="control-label">{{vc.viewState.VA_AOUCCSOMER4102_BOMC571.label|translate:vc.viewState.VA_AOUCCSOMER4102_BOMC571.labelArgs}}</label> 
         <div class="cb-control"> 
          <textarea id="VA_AOUCCSOMER4102_BOMC571" style="resize: none; width:100%" rows="5" name="DetailSourceRevenueCustomer_subActividadEconomica" maxlength="1020" type="text" class="form-control" ng-model="vc.model.DetailSourceRevenueCustomer.subActividadEconomica" ng-disabled="vc.viewState.VA_AOUCCSOMER4102_BOMC571.disabled || vc.viewState.VA_AOUCCSOMER4102_BOMC571.disabledingroup" ng-show="vc.viewState.VA_AOUCCSOMER4102_BOMC571.visible" ng-readonly="vc.viewState.VA_AOUCCSOMER4102_BOMC571.readonly" ng-class="vc.viewState.VA_AOUCCSOMER4102_BOMC571.style" data-cobis-group="Group,GR_AOUCCSOMER41_02,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_AOUCCSOMER4102_BOMC571.validationCode}}"></textarea> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_FLCRE_17_SEVNO59_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_SEVNO59_LSREU_678')" ng-disabled="vc.viewState.T_FLCRE_17_SEVNO59_ACCEPT.disabled || vc.viewState.T_FLCRE_17_SEVNO59_ACCEPT.disabledingroup" ng-show="vc.viewState.T_FLCRE_17_SEVNO59_ACCEPT.visible" ng-class="vc.viewState.T_FLCRE_17_SEVNO59_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_FLCRE_17_SEVNO59_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_FLCRE_17_SEVNO59_CANCEL.disabled || vc.viewState.T_FLCRE_17_SEVNO59_CANCEL.disabledingroup" ng-show="vc.viewState.T_FLCRE_17_SEVNO59_CANCEL.visible" ng-class="vc.viewState.T_FLCRE_17_SEVNO59_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>