<!-- Designer Generator v 6.3.3 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_TESTBKYOLO_973756" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_TESTBKYOLO_973756.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_TESTNYYYII_872--> 
  <div id="VC_TESTBKYOLO_973756" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_TESTEKYAAK_356872" ng-show="vc.viewState.G_TESTEKYAAK_356872.visible" ng-class="vc.viewState.G_TESTEKYAAK_356872.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_TESTEKYAAK_356872" k-options="validatorOptions" id="G_TESTEKYAAK_356872_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-12" ng-show="vc.viewState.VA_TEXTINPUTBOXUFN_810872.visible"> 
        <div class="form-group cb-required" id="VA_TEXTINPUTBOXUFN_810872_DIV"> 
         <label for="VA_TEXTINPUTBOXUFN_810872" title="{{vc.viewState.VA_TEXTINPUTBOXUFN_810872.label|translate:vc.viewState.VA_TEXTINPUTBOXUFN_810872.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXUFN_810872.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXUFN_810872.label|translate:vc.viewState.VA_TEXTINPUTBOXUFN_810872.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXUFN_810872" name="OtherCharges_concept" kendo-ext-combo-box="comboBox.VA_TEXTINPUTBOXUFN_810872" ng-model="vc.model.OtherCharges.concept" ng-disabled="vc.viewState.VA_TEXTINPUTBOXUFN_810872.disabled || vc.viewState.VA_TEXTINPUTBOXUFN_810872.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXUFN_810872.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXUFN_810872.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXUFN_810872.style" placeholder="vc.getPlaceHolder()" k-data-source="vc.catalogs.VA_TEXTINPUTBOXUFN_810872" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_TEXTINPUTBOXUFN_810872.template" data-cobis-group="Group,G_TESTEKYAAK_356872,0" required data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXUFN_810872.validationCode}}" designer-change data-required-msg="{{'ASSTS.LBL_ASSTS_CONCEPTOO_29972'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_TESTCYDRBD_191872" ng-show="vc.viewState.G_TESTCYDRBD_191872.visible" ng-class="vc.viewState.G_TESTCYDRBD_191872.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_TESTCYDRBD_191872" k-options="validatorOptions" id="G_TESTCYDRBD_191872_VAL"> 
     <div class="form-horizontal"> 
      <div class="row"> 
       <div class="col-xs-12" ng-show="vc.viewState.VA_VACOMPOSITEXPWV_130872.visible"> 
        <div class="form-group cb-no-label" ng-class="vc.viewState.VA_VACOMPOSITEXPWV_130872.style"> 
         <div class="cb-control cb-flex cb-gutters"> 
          <div class="form-group cb-grow" id="VA_CATEGORYTYPEOYS_156872_DIV"> 
           <label for="VA_CATEGORYTYPEOYS_156872" title="{{vc.viewState.VA_CATEGORYTYPEOYS_156872.label|translate:vc.viewState.VA_CATEGORYTYPEOYS_156872.labelArgs}}" ng-show="vc.viewState.VA_CATEGORYTYPEOYS_156872.visible" class="col-sm-4 control-label">{{vc.viewState.VA_CATEGORYTYPEOYS_156872.label|translate:vc.viewState.VA_CATEGORYTYPEOYS_156872.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div class="cb-control"> 
             <div id="VA_CATEGORYTYPEOYS_156872" name="OtherCharges_categoryType" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_CATEGORYTYPEOYS_156872.visible" ng-class="vc.viewState.VA_CATEGORYTYPEOYS_156872.style">
               {{kendo.toString(vc.model.OtherCharges.categoryType, '')}} 
             </div> 
            </div> 
           </div> 
          </div> 
          <div class="form-group cb-grow" id="VA_VALUEAPPLYTRDBF_557872_DIV"> 
           <label for="VA_VALUEAPPLYTRDBF_557872" title="{{vc.viewState.VA_VALUEAPPLYTRDBF_557872.label|translate:vc.viewState.VA_VALUEAPPLYTRDBF_557872.labelArgs}}" ng-show="vc.viewState.VA_VALUEAPPLYTRDBF_557872.visible" class="col-sm-4 control-label">{{vc.viewState.VA_VALUEAPPLYTRDBF_557872.label|translate:vc.viewState.VA_VALUEAPPLYTRDBF_557872.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div class="cb-control"> 
             <div id="VA_VALUEAPPLYTRDBF_557872" name="OtherCharges_valueApply" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_VALUEAPPLYTRDBF_557872.visible" ng-class="vc.viewState.VA_VALUEAPPLYTRDBF_557872.style">
               {{kendo.toString(vc.model.OtherCharges.valueApply, '')}} 
             </div> 
            </div> 
           </div> 
          </div> 
          <div class="form-group cb-grow" id="VA_REFERENCEXBMXWK_229872_DIV"> 
           <label for="VA_REFERENCEXBMXWK_229872" title="{{vc.viewState.VA_REFERENCEXBMXWK_229872.label|translate:vc.viewState.VA_REFERENCEXBMXWK_229872.labelArgs}}" ng-show="vc.viewState.VA_REFERENCEXBMXWK_229872.visible" class="col-sm-4 control-label">{{vc.viewState.VA_REFERENCEXBMXWK_229872.label|translate:vc.viewState.VA_REFERENCEXBMXWK_229872.labelArgs}}</label> 
           <div class="col-sm-8"> 
            <div class="cb-control"> 
             <div id="VA_REFERENCEXBMXWK_229872" name="OtherCharges_reference" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_REFERENCEXBMXWK_229872.visible" ng-class="vc.viewState.VA_REFERENCEXBMXWK_229872.style">
               {{kendo.toString(vc.model.OtherCharges.reference, '')}} 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_TESTPOYFCM_952872" ng-show="vc.viewState.G_TESTPOYFCM_952872.visible" ng-class="vc.viewState.G_TESTPOYFCM_952872.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_TESTPOYFCM_952872" k-options="validatorOptions" id="G_TESTPOYFCM_952872_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_BASECALCULATONI_509872.visible"> 
        <div class="form-group" id="VA_BASECALCULATONI_509872_DIV"> 
         <label for="VA_BASECALCULATONI_509872" title="{{vc.viewState.VA_BASECALCULATONI_509872.label|translate:vc.viewState.VA_BASECALCULATONI_509872.labelArgs}}" ng-show="vc.viewState.VA_BASECALCULATONI_509872.visible" class="control-label">{{vc.viewState.VA_BASECALCULATONI_509872.label|translate:vc.viewState.VA_BASECALCULATONI_509872.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_BASECALCULATONI_509872" name="OtherCharges_baseCalculation" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_BASECALCULATONI_509872.format" k-decimals="vc.viewState.VA_BASECALCULATONI_509872.decimals" k-ng-model="vc.model.OtherCharges.baseCalculation" ng-model="vc.tmpModel.OtherCharges.baseCalculation" ng-disabled="vc.viewState.VA_BASECALCULATONI_509872.disabled || vc.viewState.VA_BASECALCULATONI_509872.disabledingroup" ng-show="vc.viewState.VA_BASECALCULATONI_509872.visible" ng-readonly="vc.viewState.VA_BASECALCULATONI_509872.readonly" ng-class="vc.viewState.VA_BASECALCULATONI_509872.style" data-cobis-group="Group,G_TESTPOYFCM_952872,0" ng-model-onblur designer-restrict-input="numbers" data-validation-code="{{vc.viewState.VA_BASECALCULATONI_509872.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_INIDIVGJKPNKHJF_695872.visible"> 
        <div class="form-group cb-required" id="VA_INIDIVGJKPNKHJF_695872_DIV"> 
         <label for="VA_INIDIVGJKPNKHJF_695872" title="{{vc.viewState.VA_INIDIVGJKPNKHJF_695872.label|translate:vc.viewState.VA_INIDIVGJKPNKHJF_695872.labelArgs}}" ng-show="vc.viewState.VA_INIDIVGJKPNKHJF_695872.visible" class="control-label">{{vc.viewState.VA_INIDIVGJKPNKHJF_695872.label|translate:vc.viewState.VA_INIDIVGJKPNKHJF_695872.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_INIDIVGJKPNKHJF_695872" name="OtherCharges_iniDiv" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_INIDIVGJKPNKHJF_695872.decimals" k-format="vc.viewState.VA_INIDIVGJKPNKHJF_695872.format" k-ng-model="vc.model.OtherCharges.iniDiv" ng-model="vc.tmpModel.OtherCharges.iniDiv" ng-disabled="vc.viewState.VA_INIDIVGJKPNKHJF_695872.disabled || vc.viewState.VA_INIDIVGJKPNKHJF_695872.disabledingroup" ng-show="vc.viewState.VA_INIDIVGJKPNKHJF_695872.visible" ng-readonly="vc.viewState.VA_INIDIVGJKPNKHJF_695872.readonly" ng-class="vc.viewState.VA_INIDIVGJKPNKHJF_695872.style" data-cobis-group="Group,G_TESTPOYFCM_952872,0" ng-model-onblur designer-restrict-input="numbers" required data-validation-code="{{vc.viewState.VA_INIDIVGJKPNKHJF_695872.validationCode}}" designer-change data-required-msg="{{'ASSTS.LBL_ASSTS_CUOTADESD_67554'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_DIVUPQPVWWEQDNI_233872.visible"> 
        <div class="form-group cb-required" id="VA_DIVUPQPVWWEQDNI_233872_DIV"> 
         <label for="VA_DIVUPQPVWWEQDNI_233872" title="{{vc.viewState.VA_DIVUPQPVWWEQDNI_233872.label|translate:vc.viewState.VA_DIVUPQPVWWEQDNI_233872.labelArgs}}" ng-show="vc.viewState.VA_DIVUPQPVWWEQDNI_233872.visible" class="control-label">{{vc.viewState.VA_DIVUPQPVWWEQDNI_233872.label|translate:vc.viewState.VA_DIVUPQPVWWEQDNI_233872.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_DIVUPQPVWWEQDNI_233872" name="OtherCharges_divUp" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_DIVUPQPVWWEQDNI_233872.decimals" k-format="vc.viewState.VA_DIVUPQPVWWEQDNI_233872.format" k-ng-model="vc.model.OtherCharges.divUp" ng-model="vc.tmpModel.OtherCharges.divUp" ng-disabled="vc.viewState.VA_DIVUPQPVWWEQDNI_233872.disabled || vc.viewState.VA_DIVUPQPVWWEQDNI_233872.disabledingroup" ng-show="vc.viewState.VA_DIVUPQPVWWEQDNI_233872.visible" ng-readonly="vc.viewState.VA_DIVUPQPVWWEQDNI_233872.readonly" ng-class="vc.viewState.VA_DIVUPQPVWWEQDNI_233872.style" data-cobis-group="Group,G_TESTPOYFCM_952872,0" ng-model-onblur designer-restrict-input="numbers" required data-validation-code="{{vc.viewState.VA_DIVUPQPVWWEQDNI_233872.validationCode}}" designer-change data-required-msg="{{'ASSTS.LBL_ASSTS_CUOTAHAAS_11841'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_TESTASOELG_345872" ng-show="vc.viewState.G_TESTASOELG_345872.visible" ng-class="vc.viewState.G_TESTASOELG_345872.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_TESTASOELG_345872" k-options="validatorOptions" id="G_TESTASOELG_345872_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_2011UKZSBSFRWRA_245872.visible"> 
        <div class="form-group cb-required" id="VA_2011UKZSBSFRWRA_245872_DIV"> 
         <label for="VA_2011UKZSBSFRWRA_245872" title="{{vc.viewState.VA_2011UKZSBSFRWRA_245872.label|translate:vc.viewState.VA_2011UKZSBSFRWRA_245872.labelArgs}}" ng-show="vc.viewState.VA_2011UKZSBSFRWRA_245872.visible" class="control-label">{{vc.viewState.VA_2011UKZSBSFRWRA_245872.label|translate:vc.viewState.VA_2011UKZSBSFRWRA_245872.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_2011UKZSBSFRWRA_245872" name="OtherCharges_value" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_2011UKZSBSFRWRA_245872.format" k-decimals="vc.viewState.VA_2011UKZSBSFRWRA_245872.decimals" k-ng-model="vc.model.OtherCharges.value" ng-model="vc.tmpModel.OtherCharges.value" ng-disabled="vc.viewState.VA_2011UKZSBSFRWRA_245872.disabled || vc.viewState.VA_2011UKZSBSFRWRA_245872.disabledingroup" ng-show="vc.viewState.VA_2011UKZSBSFRWRA_245872.visible" ng-readonly="vc.viewState.VA_2011UKZSBSFRWRA_245872.readonly" ng-class="vc.viewState.VA_2011UKZSBSFRWRA_245872.style" data-cobis-group="Group,G_TESTASOELG_345872,0" ng-model-onblur designer-restrict-input="numbers" required data-validation-code="{{vc.viewState.VA_2011UKZSBSFRWRA_245872.validationCode}}" designer-change data-required-msg="{{'ASSTS.LBL_ASSTS_VALORGGEY_80898'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-8" ng-show="vc.viewState.VA_COMMENTARYRPSHX_258872.visible"> 
        <div class="form-group cb-required" id="VA_COMMENTARYRPSHX_258872_DIV"> 
         <label for="VA_COMMENTARYRPSHX_258872" title="{{vc.viewState.VA_COMMENTARYRPSHX_258872.label|translate:vc.viewState.VA_COMMENTARYRPSHX_258872.labelArgs}}" ng-show="vc.viewState.VA_COMMENTARYRPSHX_258872.visible" class="control-label">{{vc.viewState.VA_COMMENTARYRPSHX_258872.label|translate:vc.viewState.VA_COMMENTARYRPSHX_258872.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_COMMENTARYRPSHX_258872" name="OtherCharges_commentary" maxlength="255" type="text" class="form-control" ng-model="vc.model.OtherCharges.commentary" ng-disabled="vc.viewState.VA_COMMENTARYRPSHX_258872.disabled || vc.viewState.VA_COMMENTARYRPSHX_258872.disabledingroup" ng-show="vc.viewState.VA_COMMENTARYRPSHX_258872.visible" ng-readonly="vc.viewState.VA_COMMENTARYRPSHX_258872.readonly" ng-class="vc.viewState.VA_COMMENTARYRPSHX_258872.style" data-cobis-group="Group,G_TESTASOELG_345872,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_COMMENTARYRPSHX_258872.validationCode}}" data-required-msg="{{'ASSTS.LBL_ASSTS_COMENTAOO_63544'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_TESTLECLOB_879872" ng-show="vc.viewState.G_TESTLECLOB_879872.visible" ng-class="vc.viewState.G_TESTLECLOB_879872.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_TESTLECLOB_879872" k-options="validatorOptions" id="G_TESTLECLOB_879872_VAL"> 
     <div class="form-horizontal"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_RANGEQFHSDDUABD_909872.visible"> 
        <div class="form-group" id="VA_RANGEQFHSDDUABD_909872_DIV"> 
         <label for="VA_RANGEQFHSDDUABD_909872" title="{{vc.viewState.VA_RANGEQFHSDDUABD_909872.label|translate:vc.viewState.VA_RANGEQFHSDDUABD_909872.labelArgs}}" ng-show="vc.viewState.VA_RANGEQFHSDDUABD_909872.visible" class="col-sm-4 control-label">{{vc.viewState.VA_RANGEQFHSDDUABD_909872.label|translate:vc.viewState.VA_RANGEQFHSDDUABD_909872.labelArgs}}</label> 
         <div class="col-sm-8"> 
          <div class="cb-control"> 
           <div id="VA_RANGEQFHSDDUABD_909872" name="OtherCharges_range" class="form-control-static cb-no-border" ng-show="vc.viewState.VA_RANGEQFHSDDUABD_909872.visible" ng-class="vc.viewState.VA_RANGEQFHSDDUABD_909872.style">
             {{kendo.toString(vc.model.OtherCharges.range, '')}} 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_TESTNYYYII_872--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc || !vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_TTESTWKH_NN5" ng-click="vc.executeCommand('CM_TTESTWKH_NN5','Command1', validator, true, false, 'VC_TESTBKYOLO_973756', false)" type="submit" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_TTESTWKH_NN5.disabled || vc.viewState.CM_TTESTWKH_NN5.disabledingroup" ng-show="vc.viewState.CM_TTESTWKH_NN5.visible" ng-class="vc.viewState.CM_TTESTWKH_NN5.style"> {{vc.viewState.CM_TTESTWKH_NN5.label|translate}} </button> 
    <button id="CM_TTESTWKH_T57" ng-click="vc.executeCommand('CM_TTESTWKH_T57','Command2', validator, false, false, 'VC_TESTBKYOLO_973756', true)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_TTESTWKH_T57.disabled || vc.viewState.CM_TTESTWKH_T57.disabledingroup" ng-show="vc.viewState.CM_TTESTWKH_T57.visible" ng-class="vc.viewState.CM_TTESTWKH_T57.style"> {{vc.viewState.CM_TTESTWKH_T57.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_TESTWKHELVLBD_756_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_TESTBKYOLO_973756')" ng-disabled="vc.viewState.T_TESTWKHELVLBD_756_ACCEPT.disabled || vc.viewState.T_TESTWKHELVLBD_756_ACCEPT.disabledingroup" ng-show="vc.viewState.T_TESTWKHELVLBD_756_ACCEPT.visible" ng-class="vc.viewState.T_TESTWKHELVLBD_756_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_TESTWKHELVLBD_756_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_TESTWKHELVLBD_756_CANCEL.disabled || vc.viewState.T_TESTWKHELVLBD_756_CANCEL.disabledingroup" ng-show="vc.viewState.T_TESTWKHELVLBD_756_CANCEL.visible" ng-class="vc.viewState.T_TESTWKHELVLBD_756_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>