<!-- Designer Generator v 6.1.1 - release SPR 2017-03 17/02/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_CHANGEVAEU_190472" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_CHANGEVAEU_190472.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_CHANGEVAUE_420--> 
  <div id="VC_CHANGEVAEU_190472" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_CHANGEVEEA_792420" ng-show="vc.viewState.G_CHANGEVEEA_792420.visible" ng-class="vc.viewState.G_CHANGEVEEA_792420.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_CHANGEVEEA_792420" k-options="validatorOptions" id="G_CHANGEVEEA_792420_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-12" ng-show="vc.viewState.VA_8486ISVFDOHOMXS_773420.visible"> 
        <div class="form-group cb-required" id="VA_8486ISVFDOHOMXS_773420_DIV"> 
         <label for="VA_8486ISVFDOHOMXS_773420" title="{{vc.viewState.VA_8486ISVFDOHOMXS_773420.label|translate:vc.viewState.VA_8486ISVFDOHOMXS_773420.labelArgs}}" ng-show="vc.viewState.VA_8486ISVFDOHOMXS_773420.visible" class="control-label">{{vc.viewState.VA_8486ISVFDOHOMXS_773420.label|translate:vc.viewState.VA_8486ISVFDOHOMXS_773420.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_8486ISVFDOHOMXS_773420" name="GenericTransaction_newValue" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_8486ISVFDOHOMXS_773420.format" k-decimals="vc.viewState.VA_8486ISVFDOHOMXS_773420.decimals" k-ng-model="vc.model.GenericTransaction.newValue" ng-model="vc.tmpModel.GenericTransaction.newValue" ng-disabled="vc.viewState.VA_8486ISVFDOHOMXS_773420.disabled || vc.viewState.VA_8486ISVFDOHOMXS_773420.disabledingroup" ng-show="vc.viewState.VA_8486ISVFDOHOMXS_773420.visible" ng-readonly="vc.viewState.VA_8486ISVFDOHOMXS_773420.readonly" ng-class="vc.viewState.VA_8486ISVFDOHOMXS_773420.style" data-cobis-group="Group,G_CHANGEVEEA_792420,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_8486ISVFDOHOMXS_773420.validationCode}}" data-required-msg="{{'WRRNT.MSG_WRRNT_NUEVOVAOR_92970'|translate}}" /> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_CHANGEVAUE_420--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_TCHANGEV_742" ng-click="vc.executeCommand('CM_TCHANGEV_742','Command1', validator, true, false, 'VC_CHANGEVAEU_190472', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_TCHANGEV_742.disabled || vc.viewState.CM_TCHANGEV_742.disabledingroup" ng-show="vc.viewState.CM_TCHANGEV_742.visible" ng-class="vc.viewState.CM_TCHANGEV_742.style"> {{vc.viewState.CM_TCHANGEV_742.label|translate}} </button> 
    <button id="CM_TCHANGEV_VN0" ng-click="vc.executeCommand('CM_TCHANGEV_VN0','Command2', validator, false, false, 'VC_CHANGEVAEU_190472', false)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_TCHANGEV_VN0.disabled || vc.viewState.CM_TCHANGEV_VN0.disabledingroup" ng-show="vc.viewState.CM_TCHANGEV_VN0.visible" ng-class="vc.viewState.CM_TCHANGEV_VN0.style"> {{vc.viewState.CM_TCHANGEV_VN0.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_CHANGEVALUEEE_472_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_CHANGEVAEU_190472')" ng-disabled="vc.viewState.T_CHANGEVALUEEE_472_ACCEPT.disabled || vc.viewState.T_CHANGEVALUEEE_472_ACCEPT.disabledingroup" ng-show="vc.viewState.T_CHANGEVALUEEE_472_ACCEPT.visible" ng-class="vc.viewState.T_CHANGEVALUEEE_472_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_CHANGEVALUEEE_472_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_CHANGEVALUEEE_472_CANCEL.disabled || vc.viewState.T_CHANGEVALUEEE_472_CANCEL.disabledingroup" ng-show="vc.viewState.T_CHANGEVALUEEE_472_CANCEL.visible" ng-class="vc.viewState.T_CHANGEVALUEEE_472_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>