<!-- Designer Generator v 6.3.3 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_CLIENTETPP_611229" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_CLIENTETPP_611229.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_CLIENTETEM_845--> 
  <div id="VC_CLIENTETPP_611229" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_CLIENTEMMT_268845" ng-show="vc.viewState.G_CLIENTEMMT_268845.visible" ng-class="vc.viewState.G_CLIENTEMMT_268845.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_CLIENTEMMT_268845" k-options="validatorOptions" id="G_CLIENTEMMT_268845_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_1CJTXMKZAMHDZKG_444845.visible"> 
        <div class="form-group cb-required" id="VA_1CJTXMKZAMHDZKG_444845_DIV"> 
         <label for="VA_1CJTXMKZAMHDZKG_444845" title="{{vc.viewState.VA_1CJTXMKZAMHDZKG_444845.label|translate:vc.viewState.VA_1CJTXMKZAMHDZKG_444845.labelArgs}}" ng-show="vc.viewState.VA_1CJTXMKZAMHDZKG_444845.visible" class="control-label">{{vc.viewState.VA_1CJTXMKZAMHDZKG_444845.label|translate:vc.viewState.VA_1CJTXMKZAMHDZKG_444845.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_1CJTXMKZAMHDZKG_444845" name="Entity1_codigo" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_1CJTXMKZAMHDZKG_444845.decimals" k-format="vc.viewState.VA_1CJTXMKZAMHDZKG_444845.format" k-ng-model="vc.model.Entity1.codigo" ng-model="vc.tmpModel.Entity1.codigo" ng-disabled="vc.viewState.VA_1CJTXMKZAMHDZKG_444845.disabled || vc.viewState.VA_1CJTXMKZAMHDZKG_444845.disabledingroup" ng-show="vc.viewState.VA_1CJTXMKZAMHDZKG_444845.visible" ng-readonly="vc.viewState.VA_1CJTXMKZAMHDZKG_444845.readonly" ng-class="vc.viewState.VA_1CJTXMKZAMHDZKG_444845.style" data-cobis-group="Group,G_CLIENTEMMT_268845,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_1CJTXMKZAMHDZKG_444845.validationCode}}" data-required-msg="{{'CSTMR.LBL_CSTMR_CDIGOCLNN_97692'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONWXVCRTB_198845.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONWXVCRTB_198845" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONWXVCRTB_198845','VA_VABUTTONWXVCRTB_198845',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONWXVCRTB_198845.disabled || vc.viewState.VA_VABUTTONWXVCRTB_198845.disabledingroup" ng-show="vc.viewState.VA_VABUTTONWXVCRTB_198845.visible" ng-class="vc.viewState.VA_VABUTTONWXVCRTB_198845.style"> {{vc.viewState.VA_VABUTTONWXVCRTB_198845.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONNFUDFEH_531845.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONNFUDFEH_531845" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONNFUDFEH_531845','VA_VABUTTONNFUDFEH_531845',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONNFUDFEH_531845.disabled || vc.viewState.VA_VABUTTONNFUDFEH_531845.disabledingroup" ng-show="vc.viewState.VA_VABUTTONNFUDFEH_531845.visible" ng-class="vc.viewState.VA_VABUTTONNFUDFEH_531845.style"> {{vc.viewState.VA_VABUTTONNFUDFEH_531845.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_CLIENTETEM_845--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_CLIENTETEMPPP_229_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_CLIENTETPP_611229')" ng-disabled="vc.viewState.T_CLIENTETEMPPP_229_ACCEPT.disabled || vc.viewState.T_CLIENTETEMPPP_229_ACCEPT.disabledingroup" ng-show="vc.viewState.T_CLIENTETEMPPP_229_ACCEPT.visible" ng-class="vc.viewState.T_CLIENTETEMPPP_229_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_CLIENTETEMPPP_229_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_CLIENTETEMPPP_229_CANCEL.disabled || vc.viewState.T_CLIENTETEMPPP_229_CANCEL.disabledingroup" ng-show="vc.viewState.T_CLIENTETEMPPP_229_CANCEL.visible" ng-class="vc.viewState.T_CLIENTETEMPPP_229_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>