<!-- Designer Generator v 6.4.0.5 - SPR 2019-03 15/02/2019 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_MOBILEMATM_689502" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_MOBILEMATM_689502.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_MOBILEMANA_846--> 
  <div id="VC_MOBILEMATM_689502" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_MOBILEMGET_690846" ng-show="vc.viewState.G_MOBILEMGET_690846.visible" ng-class="vc.viewState.G_MOBILEMGET_690846.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_MOBILEMGET_690846" k-options="validatorOptions" id="G_MOBILEMGET_690846_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_IMEIAEKQXXNWVIA_490846.visible"> 
        <div class="form-group" id="VA_IMEIAEKQXXNWVIA_490846_DIV"> 
         <label for="VA_IMEIAEKQXXNWVIA_490846" title="{{vc.viewState.VA_IMEIAEKQXXNWVIA_490846.label|translate:vc.viewState.VA_IMEIAEKQXXNWVIA_490846.labelArgs}}" ng-show="vc.viewState.VA_IMEIAEKQXXNWVIA_490846.visible" class="control-label">{{vc.viewState.VA_IMEIAEKQXXNWVIA_490846.label|translate:vc.viewState.VA_IMEIAEKQXXNWVIA_490846.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_IMEIAEKQXXNWVIA_490846" name="MobileFilter_imei" type="text" class="form-control" ng-model="vc.model.MobileFilter.imei" ng-disabled="vc.viewState.VA_IMEIAEKQXXNWVIA_490846.disabled || vc.viewState.VA_IMEIAEKQXXNWVIA_490846.disabledingroup" ng-show="vc.viewState.VA_IMEIAEKQXXNWVIA_490846.visible" ng-readonly="vc.viewState.VA_IMEIAEKQXXNWVIA_490846.readonly" ng-class="vc.viewState.VA_IMEIAEKQXXNWVIA_490846.style" data-cobis-group="Group,G_MOBILEMGET_690846,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_IMEIAEKQXXNWVIA_490846.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_USUARIOWWQAXUFI_984846.visible"> 
        <div class="form-group" id="VA_USUARIOWWQAXUFI_984846_DIV"> 
         <label for="VA_USUARIOWWQAXUFI_984846" title="{{vc.viewState.VA_USUARIOWWQAXUFI_984846.label|translate:vc.viewState.VA_USUARIOWWQAXUFI_984846.labelArgs}}" ng-show="vc.viewState.VA_USUARIOWWQAXUFI_984846.visible" class="control-label">{{vc.viewState.VA_USUARIOWWQAXUFI_984846.label|translate:vc.viewState.VA_USUARIOWWQAXUFI_984846.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_USUARIOWWQAXUFI_984846" kendo-ext-combo-box="comboBox.VA_USUARIOWWQAXUFI_984846" k-filter="'startswith'" k-min-length="'1'" name="MobileFilter_official" ng-model="vc.model.MobileFilter.official" ng-disabled="vc.viewState.VA_USUARIOWWQAXUFI_984846.disabled || vc.viewState.VA_USUARIOWWQAXUFI_984846.disabledingroup" ng-show="vc.viewState.VA_USUARIOWWQAXUFI_984846.visible" ng-readonly="vc.viewState.VA_USUARIOWWQAXUFI_984846.readonly" ng-class="vc.viewState.VA_USUARIOWWQAXUFI_984846.style" k-data-source="vc.catalogs.VA_USUARIOWWQAXUFI_984846" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_USUARIOWWQAXUFI_984846.template" data-cobis-group="Group,G_MOBILEMGET_690846,0" data-validation-code="{{vc.viewState.VA_USUARIOWWQAXUFI_984846.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONHYTZHBK_204846.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONHYTZHBK_204846" class="btn btn-default btn-block" ng-click="vc.executeQueryControl(vc.getRequestQuery_Q_MOBILEVP_5973(),'',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONHYTZHBK_204846.disabled || vc.viewState.VA_VABUTTONHYTZHBK_204846.disabledingroup" ng-show="vc.viewState.VA_VABUTTONHYTZHBK_204846.visible" ng-class="vc.viewState.VA_VABUTTONHYTZHBK_204846.style"> {{vc.viewState.VA_VABUTTONHYTZHBK_204846.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_MOBILEMANE_244846" ng-show="vc.viewState.G_MOBILEMANE_244846.visible" ng-class="vc.viewState.G_MOBILEMANE_244846.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_MOBILEMANE_244846" k-options="validatorOptions" id="G_MOBILEMANE_244846_VAL"> 
     <div id="QV_5973_95309" kendo-ext-grid="grids.QV_5973_95309" k-data-source="vc.model.Mobile" k-column-menu="false" k-sortable="false" k-pageable="{refresh: false, pageSizes: false, buttonCount: 5}" k-editable="vc.grids.QV_5973_95309.editable" k-toolbar="vc.grids.QV_5973_95309.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_5973_95309.events.dataBound" k-columns="vc.grids.QV_5973_95309.columns" k-cancel="vc.grids.QV_5973_95309.events.cancel" k-edit="vc.grids.QV_5973_95309.events.edit" ng-class="vc.viewState.QV_5973_95309.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_MOBILEMANA_846--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_MBILEJIXXTPVT_502_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_MOBILEMATM_689502')" ng-disabled="vc.viewState.T_MBILEJIXXTPVT_502_ACCEPT.disabled || vc.viewState.T_MBILEJIXXTPVT_502_ACCEPT.disabledingroup" ng-show="vc.viewState.T_MBILEJIXXTPVT_502_ACCEPT.visible" ng-class="vc.viewState.T_MBILEJIXXTPVT_502_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_MBILEJIXXTPVT_502_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_MBILEJIXXTPVT_502_CANCEL.disabled || vc.viewState.T_MBILEJIXXTPVT_502_CANCEL.disabledingroup" ng-show="vc.viewState.T_MBILEJIXXTPVT_502_CANCEL.visible" ng-class="vc.viewState.T_MBILEJIXXTPVT_502_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>