<!-- Designer Generator v 6.3.3 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_DISBURSERM_822822" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_DISBURSERM_822822.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_DISBURSETR_245--> 
  <div id="VC_DISBURSERM_822822" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_DISBURSMTR_201245" ng-show="vc.viewState.G_DISBURSMTR_201245.visible" ng-class="vc.viewState.G_DISBURSMTR_201245.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_DISBURSMTR_201245" k-options="validatorOptions" id="G_DISBURSMTR_201245_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer1562.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_CODEIFTEIURYYBF_915245.visible"> 
        <div class="form-group cb-required" id="VA_CODEIFTEIURYYBF_915245_DIV"> 
         <label for="VA_CODEIFTEIURYYBF_915245" title="{{vc.viewState.VA_CODEIFTEIURYYBF_915245.label|translate:vc.viewState.VA_CODEIFTEIURYYBF_915245.labelArgs}}" ng-show="vc.viewState.VA_CODEIFTEIURYYBF_915245.visible" class="control-label">{{vc.viewState.VA_CODEIFTEIURYYBF_915245.label|translate:vc.viewState.VA_CODEIFTEIURYYBF_915245.labelArgs}}</label> 
         <div class="cb-control"> 
          <div class="input-group"> 
           <input id="VA_CODEIFTEIURYYBF_915245" name="DisbursementReports_code" type="text" class="form-control" ng-model="vc.model.DisbursementReports.code" ng-disabled="vc.viewState.VA_CODEIFTEIURYYBF_915245.disabled || vc.viewState.VA_CODEIFTEIURYYBF_915245.disabledingroup" ng-show="vc.viewState.VA_CODEIFTEIURYYBF_915245.visible" ng-readonly="vc.viewState.VA_CODEIFTEIURYYBF_915245.readonly" ng-class="vc.viewState.VA_CODEIFTEIURYYBF_915245.style" data-cobis-group="Group,G_DISBURSMTR_201245,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_CODEIFTEIURYYBF_915245.validationCode}}" data-required-msg="{{'ASSTS.MSG_ASSTS_ELCDIGOSO_68078'|translate}}" /> 
           <div class="input-group-btn"> 
            <button class="btn btn-default btn-block" ng-click="vc.clickTextInputButton('VA_CODEIFTEIURYYBF_915245')" ng-disabled="vc.viewState.VA_CODEIFTEIURYYBF_915245.disabled || vc.viewState.VA_CODEIFTEIURYYBF_915245.disabledingroup" ng-show="vc.viewState.VA_CODEIFTEIURYYBF_915245.visible" ng-class="vc.viewState.VA_CODEIFTEIURYYBF_915245.style"> <span class="glyphicon glyphicon-align-justify"></span> </button> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer2466.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer2943.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-8" ng-show="vc.viewState.VA_SETTLEMENTSHTTE_555245.visible"> 
        <div class="form-group" id="VA_SETTLEMENTSHTTE_555245_DIV"> 
         <label>&nbsp; </label> 
         <div class="cb-control"> 
          <div> 
           <label class="checkbox-inline"> <input id="VA_SETTLEMENTSHTTE_555245" name="DisbursementReports_settlementSheet" type="checkbox" ng-model="vc.model.DisbursementReports.settlementSheet" ng-disabled="vc.viewState.VA_SETTLEMENTSHTTE_555245.disabled || vc.viewState.VA_SETTLEMENTSHTTE_555245.disabledingroup" ng-show="vc.viewState.VA_SETTLEMENTSHTTE_555245.visible" ng-class="vc.viewState.VA_SETTLEMENTSHTTE_555245.style" /> <span ng-if="vc.viewState.VA_SETTLEMENTSHTTE_555245.visible"> {{vc.viewState.VA_SETTLEMENTSHTTE_555245.label|translate}} </span> </label> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer2594.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-8" ng-show="vc.viewState.VA_GROUPSTATEMETTT_872245.visible"> 
        <div class="form-group" id="VA_GROUPSTATEMETTT_872245_DIV"> 
         <label>&nbsp; </label> 
         <div class="cb-control"> 
          <div> 
           <label class="checkbox-inline"> <input id="VA_GROUPSTATEMETTT_872245" name="DisbursementReports_groupStatement" type="checkbox" ng-model="vc.model.DisbursementReports.groupStatement" ng-disabled="vc.viewState.VA_GROUPSTATEMETTT_872245.disabled || vc.viewState.VA_GROUPSTATEMETTT_872245.disabledingroup" ng-show="vc.viewState.VA_GROUPSTATEMETTT_872245.visible" ng-class="vc.viewState.VA_GROUPSTATEMETTT_872245.style" /> <span ng-if="vc.viewState.VA_GROUPSTATEMETTT_872245.visible"> {{vc.viewState.VA_GROUPSTATEMETTT_872245.label|translate}} </span> </label> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer2490.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-8" ng-show="vc.viewState.VA_CONSOLIDATEDUTC_738245.visible"> 
        <div class="form-group" id="VA_CONSOLIDATEDUTC_738245_DIV"> 
         <label>&nbsp; </label> 
         <div class="cb-control"> 
          <div> 
           <label class="checkbox-inline"> <input id="VA_CONSOLIDATEDUTC_738245" name="DisbursementReports_consolidatedAccount" type="checkbox" ng-model="vc.model.DisbursementReports.consolidatedAccount" ng-disabled="vc.viewState.VA_CONSOLIDATEDUTC_738245.disabled || vc.viewState.VA_CONSOLIDATEDUTC_738245.disabledingroup" ng-show="vc.viewState.VA_CONSOLIDATEDUTC_738245.visible" ng-class="vc.viewState.VA_CONSOLIDATEDUTC_738245.style" /> <span ng-if="vc.viewState.VA_CONSOLIDATEDUTC_738245.visible"> {{vc.viewState.VA_CONSOLIDATEDUTC_738245.label|translate}} </span> </label> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer2768.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-8" ng-show="vc.viewState.VA_DISBURSEMENTORR_305245.visible"> 
        <div class="form-group" id="VA_DISBURSEMENTORR_305245_DIV"> 
         <label>&nbsp; </label> 
         <div class="cb-control"> 
          <div> 
           <label class="checkbox-inline"> <input id="VA_DISBURSEMENTORR_305245" name="DisbursementReports_disbursementOrder" type="checkbox" ng-model="vc.model.DisbursementReports.disbursementOrder" ng-disabled="vc.viewState.VA_DISBURSEMENTORR_305245.disabled || vc.viewState.VA_DISBURSEMENTORR_305245.disabledingroup" ng-show="vc.viewState.VA_DISBURSEMENTORR_305245.visible" ng-class="vc.viewState.VA_DISBURSEMENTORR_305245.style" /> <span ng-if="vc.viewState.VA_DISBURSEMENTORR_305245.visible"> {{vc.viewState.VA_DISBURSEMENTORR_305245.label|translate}} </span> </label> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer2859.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-8" ng-show="vc.viewState.VA_GROUPAMORTIZOAE_102245.visible"> 
        <div class="form-group" id="VA_GROUPAMORTIZOAE_102245_DIV"> 
         <label>&nbsp; </label> 
         <div class="cb-control"> 
          <div> 
           <label class="checkbox-inline"> <input id="VA_GROUPAMORTIZOAE_102245" name="DisbursementReports_groupAmortizationTable" type="checkbox" ng-model="vc.model.DisbursementReports.groupAmortizationTable" ng-disabled="vc.viewState.VA_GROUPAMORTIZOAE_102245.disabled || vc.viewState.VA_GROUPAMORTIZOAE_102245.disabledingroup" ng-show="vc.viewState.VA_GROUPAMORTIZOAE_102245.visible" ng-class="vc.viewState.VA_GROUPAMORTIZOAE_102245.style" /> <span ng-if="vc.viewState.VA_GROUPAMORTIZOAE_102245.visible"> {{vc.viewState.VA_GROUPAMORTIZOAE_102245.label|translate}} </span> </label> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer2521.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONHARFPAM_587245.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONHARFPAM_587245" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONHARFPAM_587245','VA_VABUTTONHARFPAM_587245',validator,true, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONHARFPAM_587245.disabled || vc.viewState.VA_VABUTTONHARFPAM_587245.disabledingroup" ng-show="vc.viewState.VA_VABUTTONHARFPAM_587245.visible" ng-class="vc.viewState.VA_VABUTTONHARFPAM_587245.style"> {{vc.viewState.VA_VABUTTONHARFPAM_587245.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_DISBURSETR_245--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_DISBURSEMESRT_822_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_DISBURSERM_822822')" ng-disabled="vc.viewState.T_DISBURSEMESRT_822_ACCEPT.disabled || vc.viewState.T_DISBURSEMESRT_822_ACCEPT.disabledingroup" ng-show="vc.viewState.T_DISBURSEMESRT_822_ACCEPT.visible" ng-class="vc.viewState.T_DISBURSEMESRT_822_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_DISBURSEMESRT_822_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_DISBURSEMESRT_822_CANCEL.disabled || vc.viewState.T_DISBURSEMESRT_822_CANCEL.disabledingroup" ng-show="vc.viewState.T_DISBURSEMESRT_822_CANCEL.visible" ng-class="vc.viewState.T_DISBURSEMESRT_822_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>