<!-- Designer Generator v 5.0.0.1626 - release SPR 2016-26 08/01/2016 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_TAKNO30_INIOS_332" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_TAKNO30_INIOS_332.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_TAKNO30_INIOS_332" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="GR_SIDICSVIEW91_03" ng-class="vc.viewState.GR_SIDICSVIEW91_03.style" class="cb-group cb-group-layout"> 
    <div id="GR_SIDICSVIEW91_03_VAL" kendo-validator="GR_SIDICSVIEW91_03" k-options="validatorOptions"> 
     <fieldset id="GR_SIDICSVIEW91_04" ng-show="vc.viewState.GR_SIDICSVIEW91_04.visible" ng-class="vc.viewState.GR_SIDICSVIEW91_04.style" class="cb-group cb-group-simple"> 
      <legend> <span ng-bind="vc.viewState.GR_SIDICSVIEW91_04.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.GR_SIDICSVIEW91_04.statusStyle.success, 'cb-validation-fail': vc.viewState.GR_SIDICSVIEW91_04.statusStyle.fail, 'cb-validation-none': vc.viewState.GR_SIDICSVIEW91_04.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.GR_SIDICSVIEW91_04.label|translate}}</span> </legend> 
      <div id="GR_SIDICSVIEW91_04_VAL" kendo-validator="GR_SIDICSVIEW91_04" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_SIDICSVIEW9104_NICO675.visible"> 
          <div class="form-group cb-required" id="VA_SIDICSVIEW9104_NICO675_DIV"> 
           <label for="VA_SIDICSVIEW9104_NICO675" title="{{vc.viewState.VA_SIDICSVIEW9104_NICO675.label|translate:vc.viewState.VA_SIDICSVIEW9104_NICO675.labelArgs}}" ng-show="vc.viewState.VA_SIDICSVIEW9104_NICO675.visible" class="control-label">{{vc.viewState.VA_SIDICSVIEW9104_NICO675.label|translate:vc.viewState.VA_SIDICSVIEW9104_NICO675.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_SIDICSVIEW9104_NICO675" name="HeaderPunishment_Sindico1" maxlength="64" type="text" class="form-control" ng-model="vc.model.HeaderPunishment.Sindico1" ng-disabled="vc.viewState.VA_SIDICSVIEW9104_NICO675.disabled || vc.viewState.VA_SIDICSVIEW9104_NICO675.disabledingroup" ng-show="vc.viewState.VA_SIDICSVIEW9104_NICO675.visible" ng-readonly="vc.viewState.VA_SIDICSVIEW9104_NICO675.readonly" ng-class="vc.viewState.VA_SIDICSVIEW9104_NICO675.style" data-cobis-group="Group,GR_SIDICSVIEW91_03,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_SIDICSVIEW9104_NICO675.validationCode}}" data-required-msg="{{'BUSIN.DLB_BUSIN_SNDICO1UK_44598'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-6" ng-show="vc.viewState.VA_SIDICSVIEW9104_SII2083.visible"> 
          <div class="form-group cb-required" id="VA_SIDICSVIEW9104_SII2083_DIV"> 
           <label for="VA_SIDICSVIEW9104_SII2083" title="{{vc.viewState.VA_SIDICSVIEW9104_SII2083.label|translate:vc.viewState.VA_SIDICSVIEW9104_SII2083.labelArgs}}" ng-show="vc.viewState.VA_SIDICSVIEW9104_SII2083.visible" class="control-label">{{vc.viewState.VA_SIDICSVIEW9104_SII2083.label|translate:vc.viewState.VA_SIDICSVIEW9104_SII2083.labelArgs}}</label> 
           <div class="cb-control"> 
            <input id="VA_SIDICSVIEW9104_SII2083" name="HeaderPunishment_Sindico2" maxlength="64" type="text" class="form-control" ng-model="vc.model.HeaderPunishment.Sindico2" ng-disabled="vc.viewState.VA_SIDICSVIEW9104_SII2083.disabled || vc.viewState.VA_SIDICSVIEW9104_SII2083.disabledingroup" ng-show="vc.viewState.VA_SIDICSVIEW9104_SII2083.visible" ng-readonly="vc.viewState.VA_SIDICSVIEW9104_SII2083.readonly" ng-class="vc.viewState.VA_SIDICSVIEW9104_SII2083.style" data-cobis-group="Group,GR_SIDICSVIEW91_03,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_SIDICSVIEW9104_SII2083.validationCode}}" data-required-msg="{{'BUSIN.DLB_BUSIN_SNDICO2CP_20469'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </fieldset> 
    </div> 
   </div> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_TAKNO30ACT14" ng-click="vc.executeCommand('CM_TAKNO30ACT14','CM_Accept', validator, false, false, 'VC_TAKNO30_INIOS_332', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_TAKNO30ACT14.disabled || vc.viewState.CM_TAKNO30ACT14.disabledingroup" ng-show="vc.viewState.CM_TAKNO30ACT14.visible" ng-class="vc.viewState.CM_TAKNO30ACT14.style"> {{vc.viewState.CM_TAKNO30ACT14.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_FLCRE_63_TAKNO30_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_TAKNO30_INIOS_332')" ng-disabled="vc.viewState.T_FLCRE_63_TAKNO30_ACCEPT.disabled || vc.viewState.T_FLCRE_63_TAKNO30_ACCEPT.disabledingroup" ng-show="vc.viewState.T_FLCRE_63_TAKNO30_ACCEPT.visible" ng-class="vc.viewState.T_FLCRE_63_TAKNO30_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_FLCRE_63_TAKNO30_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_FLCRE_63_TAKNO30_CANCEL.disabled || vc.viewState.T_FLCRE_63_TAKNO30_CANCEL.disabledingroup" ng-show="vc.viewState.T_FLCRE_63_TAKNO30_CANCEL.visible" ng-class="vc.viewState.T_FLCRE_63_TAKNO30_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>