/*Estilos especificos*/

/*estilos para identificar el tipo de cliente*/
.profileClient {
	padding: 5px 10px;
	border-radius: 50px;
	font-size: 11px;
	vertical-align: super;
}
.profile01 {
	background-color:#A1CA50;
}
.profile01:before {
	content: 'PN';
}
.profile02{
	background-color:#FF7A15;
}
.profile02:before {
	content: 'PJ';
}
.profile03{
	background-color:#FFAF4C;
}
.profile03:before {
	content: 'GE';
}
.profile04 {
	background-color:#548874;
}
.profile04:before {
	content: '04';
}
.profile05 {
	background-color:#665673;
}
.profile05:before {
	content: '05';
}
.profile06 {
	background-color:#DAA520;
}
.profile06:before {
	content: 'GS';
}
.profile113 {
                background-color:#72E500;
}
.profile113:before {
                content: 'POLSERVACT';
}
.profile114 {
                background-color:#A1CA50;
}
.profile114:before {
                content: 'POLSERVPAS';
}
.profile221 {
                background-color:#0556D6;
}
.profile221:before {
                content: 'FAMILIASOC';
}
.profile200 {
                background-color:#548874;
}
.profile200:before {
                content: 'TRAMLIQ';
}
.profile109 {
                background-color:#F0D603;
}
.profile109:before {
                content: 'ESTUDIANTE';
}
.profile199 {
                background-color:#665673;
}
.profile199:before {
                content: 'FALLECIDO';
}
.profile220 {
                background-color:#FF7A15;
}
.profile220:before {
                content: 'LIQXBAJA';
}
.profile222 {
                background-color:#E55E00;
}
.profile222:before {
                content: 'TERCEROS';
}

.profile115 {
                background-color:#EF6C6C;
}
.profile115:before {
                content: 'EMPCIVIL';
}
.profile100 {
                background-color:#E55E00;
}
.profile100:before {
                content: 'OTROS';
}