<!-- Designer Generator v 6.4.0.2 - SPR 2018-13 26/06/2018 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_MEMBERLFPC_722852" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_MEMBERLFPC_722852.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_MEMBERSSSM_132--> 
  <div id="VC_MEMBERLFPC_722852" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_MEMBERRWYD_572132" ng-show="vc.viewState.G_MEMBERRWYD_572132.visible" ng-class="vc.viewState.G_MEMBERRWYD_572132.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_MEMBERRWYD_572132" k-options="validatorOptions" id="G_MEMBERRWYD_572132_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-12" ng-show="vc.viewState.VA_TEXTINPUTBOXOKY_519132.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXOKY_519132_DIV"> 
         <label for="VA_TEXTINPUTBOXOKY_519132" title="{{vc.viewState.VA_TEXTINPUTBOXOKY_519132.label|translate:vc.viewState.VA_TEXTINPUTBOXOKY_519132.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXOKY_519132.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXOKY_519132.label|translate:vc.viewState.VA_TEXTINPUTBOXOKY_519132.labelArgs}}</label> 
         <div class="cb-control"> 
          <div class="input-group"> 
           <input id="VA_TEXTINPUTBOXOKY_519132" name="Member_customer" type="text" class="form-control" ng-model="vc.model.Member.customer" ng-disabled="vc.viewState.VA_TEXTINPUTBOXOKY_519132.disabled || vc.viewState.VA_TEXTINPUTBOXOKY_519132.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXOKY_519132.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXOKY_519132.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXOKY_519132.style" data-cobis-group="Group,G_MEMBERRWYD_572132,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXOKY_519132.validationCode}}" /> 
           <div class="input-group-btn"> 
            <button class="btn btn-default btn-block" ng-click="vc.clickTextInputButton('VA_TEXTINPUTBOXOKY_519132')" ng-disabled="vc.viewState.VA_TEXTINPUTBOXOKY_519132.disabled || vc.viewState.VA_TEXTINPUTBOXOKY_519132.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXOKY_519132.visible" ng-class="vc.viewState.VA_TEXTINPUTBOXOKY_519132.style"> <span class="glyphicon glyphicon-align-justify"></span> </button> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_TEXTINPUTBOXHYH_612132.visible"> 
        <div class="form-group cb-required" id="VA_TEXTINPUTBOXHYH_612132_DIV"> 
         <label for="VA_TEXTINPUTBOXHYH_612132" title="{{vc.viewState.VA_TEXTINPUTBOXHYH_612132.label|translate:vc.viewState.VA_TEXTINPUTBOXHYH_612132.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXHYH_612132.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXHYH_612132.label|translate:vc.viewState.VA_TEXTINPUTBOXHYH_612132.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXHYH_612132" name="Member_roleId" kendo-ext-combo-box="comboBox.VA_TEXTINPUTBOXHYH_612132" ng-model="vc.model.Member.roleId" ng-disabled="vc.viewState.VA_TEXTINPUTBOXHYH_612132.disabled || vc.viewState.VA_TEXTINPUTBOXHYH_612132.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXHYH_612132.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXHYH_612132.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXHYH_612132.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_TEXTINPUTBOXHYH_612132" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_TEXTINPUTBOXHYH_612132.template" data-cobis-group="Group,G_MEMBERRWYD_572132,0" required data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXHYH_612132.validationCode}}" data-required-msg="{{'LOANS.LBL_LOANS_ROLOSKZGW_63791'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_TEXTINPUTBOXAIN_291132.visible"> 
        <div class="form-group cb-required" id="VA_TEXTINPUTBOXAIN_291132_DIV"> 
         <label for="VA_TEXTINPUTBOXAIN_291132" title="{{vc.viewState.VA_TEXTINPUTBOXAIN_291132.label|translate:vc.viewState.VA_TEXTINPUTBOXAIN_291132.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXAIN_291132.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXAIN_291132.label|translate:vc.viewState.VA_TEXTINPUTBOXAIN_291132.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXAIN_291132" name="Member_stateId" kendo-ext-combo-box="comboBox.VA_TEXTINPUTBOXAIN_291132" ng-model="vc.model.Member.stateId" ng-disabled="vc.viewState.VA_TEXTINPUTBOXAIN_291132.disabled || vc.viewState.VA_TEXTINPUTBOXAIN_291132.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXAIN_291132.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXAIN_291132.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXAIN_291132.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_TEXTINPUTBOXAIN_291132" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_TEXTINPUTBOXAIN_291132.template" data-cobis-group="Group,G_MEMBERRWYD_572132,0" required data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXAIN_291132.validationCode}}" data-required-msg="{{'LOANS.LBL_LOANS_ESTADOIKH_14850'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_TEXTINPUTBOXKTO_991132.visible"> 
        <div class="form-group cb-required" id="VA_TEXTINPUTBOXKTO_991132_DIV"> 
         <label for="VA_TEXTINPUTBOXKTO_991132" title="{{vc.viewState.VA_TEXTINPUTBOXKTO_991132.label|translate:vc.viewState.VA_TEXTINPUTBOXKTO_991132.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXKTO_991132.visible" class="control-label">{{vc.viewState.VA_TEXTINPUTBOXKTO_991132.label|translate:vc.viewState.VA_TEXTINPUTBOXKTO_991132.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXKTO_991132" name="Member_qualificationId" type="text" class="form-control" ng-model="vc.model.Member.qualificationId" ng-disabled="vc.viewState.VA_TEXTINPUTBOXKTO_991132.disabled || vc.viewState.VA_TEXTINPUTBOXKTO_991132.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXKTO_991132.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXKTO_991132.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXKTO_991132.style" data-cobis-group="Group,G_MEMBERRWYD_572132,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXKTO_991132.validationCode}}" data-required-msg="{{'LOANS.LBL_LOANS_NIVELDERI_38662'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_DATEFIELDOMJBGT_898132.visible"> 
        <div class="form-group cb-required" id="VA_DATEFIELDOMJBGT_898132_DIV"> 
         <label for="VA_DATEFIELDOMJBGT_898132" title="{{vc.viewState.VA_DATEFIELDOMJBGT_898132.label|translate:vc.viewState.VA_DATEFIELDOMJBGT_898132.labelArgs}}" ng-show="vc.viewState.VA_DATEFIELDOMJBGT_898132.visible" class="control-label">{{vc.viewState.VA_DATEFIELDOMJBGT_898132.label|translate:vc.viewState.VA_DATEFIELDOMJBGT_898132.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_DATEFIELDOMJBGT_898132" name="Member_membershipDate" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.Member.membershipDate" ng-model="vc.tmpModel.Member.membershipDate" ng-disabled="vc.viewState.VA_DATEFIELDOMJBGT_898132.disabled || vc.viewState.VA_DATEFIELDOMJBGT_898132.disabledingroup" ng-show="vc.viewState.VA_DATEFIELDOMJBGT_898132.visible" ng-readonly="vc.viewState.VA_DATEFIELDOMJBGT_898132.readonly" ng-class="vc.viewState.VA_DATEFIELDOMJBGT_898132.style" data-cobis-group="Group,G_MEMBERRWYD_572132,0" required data-validation-code="{{vc.viewState.VA_DATEFIELDOMJBGT_898132.validationCode}}" data-required-msg="{{'LOANS.MSG_LOANS_FECHADEAU_86814'|translate}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_1162ABGCEPLDHTO_457132.visible"> 
        <div class="form-group" id="VA_1162ABGCEPLDHTO_457132_DIV"> 
         <label for="VA_1162ABGCEPLDHTO_457132" title="{{vc.viewState.VA_1162ABGCEPLDHTO_457132.label|translate:vc.viewState.VA_1162ABGCEPLDHTO_457132.labelArgs}}" ng-show="vc.viewState.VA_1162ABGCEPLDHTO_457132.visible" class="control-label">{{vc.viewState.VA_1162ABGCEPLDHTO_457132.label|translate:vc.viewState.VA_1162ABGCEPLDHTO_457132.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_1162ABGCEPLDHTO_457132" name="Member_savingVoluntary" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_1162ABGCEPLDHTO_457132.format" k-decimals="vc.viewState.VA_1162ABGCEPLDHTO_457132.decimals" k-ng-model="vc.model.Member.savingVoluntary" ng-model="vc.tmpModel.Member.savingVoluntary" ng-disabled="vc.viewState.VA_1162ABGCEPLDHTO_457132.disabled || vc.viewState.VA_1162ABGCEPLDHTO_457132.disabledingroup" ng-show="vc.viewState.VA_1162ABGCEPLDHTO_457132.visible" ng-readonly="vc.viewState.VA_1162ABGCEPLDHTO_457132.readonly" ng-class="vc.viewState.VA_1162ABGCEPLDHTO_457132.style" data-cobis-group="Group,G_MEMBERRWYD_572132,0" ng-model-onblur compare-in-range compare-min="0" compare-max="9999999999999" data-validation-code="{{vc.viewState.VA_1162ABGCEPLDHTO_457132.validationCode}}" data-compareinrange-msg="{{'LOANS.MSG_LOANS_NOPUEDEAA_15727'|translate}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_9339JAGVFZSMRSA_972132.visible"> 
        <div class="form-group" id="VA_9339JAGVFZSMRSA_972132_DIV"> 
         <label for="VA_9339JAGVFZSMRSA_972132" title="{{vc.viewState.VA_9339JAGVFZSMRSA_972132.label|translate:vc.viewState.VA_9339JAGVFZSMRSA_972132.labelArgs}}" ng-show="vc.viewState.VA_9339JAGVFZSMRSA_972132.visible" class="control-label">{{vc.viewState.VA_9339JAGVFZSMRSA_972132.label|translate:vc.viewState.VA_9339JAGVFZSMRSA_972132.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_9339JAGVFZSMRSA_972132" name="Member_meetingPlace" kendo-ext-combo-box="comboBox.VA_9339JAGVFZSMRSA_972132" ng-model="vc.model.Member.meetingPlace" ng-disabled="vc.viewState.VA_9339JAGVFZSMRSA_972132.disabled || vc.viewState.VA_9339JAGVFZSMRSA_972132.disabledingroup" ng-show="vc.viewState.VA_9339JAGVFZSMRSA_972132.visible" ng-readonly="vc.viewState.VA_9339JAGVFZSMRSA_972132.readonly" ng-class="vc.viewState.VA_9339JAGVFZSMRSA_972132.style" k-data-source="vc.catalogs.VA_9339JAGVFZSMRSA_972132" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_9339JAGVFZSMRSA_972132.template" data-cobis-group="Group,G_MEMBERRWYD_572132,0" data-validation-code="{{vc.viewState.VA_9339JAGVFZSMRSA_972132.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_DATEFIELDXINLFQ_109132.visible"> 
        <div class="form-group" id="VA_DATEFIELDXINLFQ_109132_DIV"> 
         <label for="VA_DATEFIELDXINLFQ_109132" title="{{vc.viewState.VA_DATEFIELDXINLFQ_109132.label|translate:vc.viewState.VA_DATEFIELDXINLFQ_109132.labelArgs}}" ng-show="vc.viewState.VA_DATEFIELDXINLFQ_109132.visible" class="control-label">{{vc.viewState.VA_DATEFIELDXINLFQ_109132.label|translate:vc.viewState.VA_DATEFIELDXINLFQ_109132.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_DATEFIELDXINLFQ_109132" name="Member_disconnectionDate" kendo-ext-date-picker placeholder="{{dateFormatPlaceholder}}" date-format="{{dateFormat}}" k-ng-model="vc.model.Member.disconnectionDate" ng-model="vc.tmpModel.Member.disconnectionDate" ng-disabled="vc.viewState.VA_DATEFIELDXINLFQ_109132.disabled || vc.viewState.VA_DATEFIELDXINLFQ_109132.disabledingroup" ng-show="vc.viewState.VA_DATEFIELDXINLFQ_109132.visible" ng-readonly="vc.viewState.VA_DATEFIELDXINLFQ_109132.readonly" ng-class="vc.viewState.VA_DATEFIELDXINLFQ_109132.style" data-cobis-group="Group,G_MEMBERRWYD_572132,0" data-validation-code="{{vc.viewState.VA_DATEFIELDXINLFQ_109132.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_GROUPIDJQCFXYPL_528132.visible"> 
        <div class="form-group" id="VA_GROUPIDJQCFXYPL_528132_DIV"> 
         <label for="VA_GROUPIDJQCFXYPL_528132" title="{{vc.viewState.VA_GROUPIDJQCFXYPL_528132.label|translate:vc.viewState.VA_GROUPIDJQCFXYPL_528132.labelArgs}}" ng-show="vc.viewState.VA_GROUPIDJQCFXYPL_528132.visible" class="control-label">{{vc.viewState.VA_GROUPIDJQCFXYPL_528132.label|translate:vc.viewState.VA_GROUPIDJQCFXYPL_528132.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_GROUPIDJQCFXYPL_528132" name="Member_groupId" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_GROUPIDJQCFXYPL_528132.decimals" k-format="vc.viewState.VA_GROUPIDJQCFXYPL_528132.format" k-ng-model="vc.model.Member.groupId" ng-model="vc.tmpModel.Member.groupId" ng-disabled="vc.viewState.VA_GROUPIDJQCFXYPL_528132.disabled || vc.viewState.VA_GROUPIDJQCFXYPL_528132.disabledingroup" ng-show="vc.viewState.VA_GROUPIDJQCFXYPL_528132.visible" ng-readonly="vc.viewState.VA_GROUPIDJQCFXYPL_528132.readonly" ng-class="vc.viewState.VA_GROUPIDJQCFXYPL_528132.style" data-cobis-group="Group,G_MEMBERRWYD_572132,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_GROUPIDJQCFXYPL_528132.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_8316ZNUUMBGIZYL_525132.visible"> 
        <div class="form-group" id="VA_8316ZNUUMBGIZYL_525132_DIV"> 
         <label for="VA_8316ZNUUMBGIZYL_525132" title="{{vc.viewState.VA_8316ZNUUMBGIZYL_525132.label|translate:vc.viewState.VA_8316ZNUUMBGIZYL_525132.labelArgs}}" ng-show="vc.viewState.VA_8316ZNUUMBGIZYL_525132.visible" class="control-label">{{vc.viewState.VA_8316ZNUUMBGIZYL_525132.label|translate:vc.viewState.VA_8316ZNUUMBGIZYL_525132.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_8316ZNUUMBGIZYL_525132" name="Member_ctaIndividual" type="text" class="form-control" ng-model="vc.model.Member.ctaIndividual" ng-disabled="vc.viewState.VA_8316ZNUUMBGIZYL_525132.disabled || vc.viewState.VA_8316ZNUUMBGIZYL_525132.disabledingroup" ng-show="vc.viewState.VA_8316ZNUUMBGIZYL_525132.visible" ng-readonly="vc.viewState.VA_8316ZNUUMBGIZYL_525132.readonly" ng-class="vc.viewState.VA_8316ZNUUMBGIZYL_525132.style" data-cobis-group="Group,G_MEMBERRWYD_572132,0" ng-model-onblur compare-in-range compare-min="0" compare-max="99999999999999" data-validation-code="{{vc.viewState.VA_8316ZNUUMBGIZYL_525132.validationCode}}" data-compareinrange-msg="{{'LOANS.MSG_LOANS_NOPUEDEAA_15727'|translate}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_NUMBERCYCLEPSSU_968132.visible"> 
        <div class="form-group" id="VA_NUMBERCYCLEPSSU_968132_DIV"> 
         <label for="VA_NUMBERCYCLEPSSU_968132" title="{{vc.viewState.VA_NUMBERCYCLEPSSU_968132.label|translate:vc.viewState.VA_NUMBERCYCLEPSSU_968132.labelArgs}}" ng-show="vc.viewState.VA_NUMBERCYCLEPSSU_968132.visible" class="control-label">{{vc.viewState.VA_NUMBERCYCLEPSSU_968132.label|translate:vc.viewState.VA_NUMBERCYCLEPSSU_968132.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_NUMBERCYCLEPSSU_968132" name="Member_numberCyclePersonGroup" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_NUMBERCYCLEPSSU_968132.decimals" k-format="vc.viewState.VA_NUMBERCYCLEPSSU_968132.format" k-ng-model="vc.model.Member.numberCyclePersonGroup" ng-model="vc.tmpModel.Member.numberCyclePersonGroup" ng-disabled="vc.viewState.VA_NUMBERCYCLEPSSU_968132.disabled || vc.viewState.VA_NUMBERCYCLEPSSU_968132.disabledingroup" ng-show="vc.viewState.VA_NUMBERCYCLEPSSU_968132.visible" ng-readonly="vc.viewState.VA_NUMBERCYCLEPSSU_968132.readonly" ng-class="vc.viewState.VA_NUMBERCYCLEPSSU_968132.style" data-cobis-group="Group,G_MEMBERRWYD_572132,0" ng-model-onblur designer-restrict-input="numbers" data-validation-code="{{vc.viewState.VA_NUMBERCYCLEPSSU_968132.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_LEVELZBRYUVWHXP_209132.visible"> 
        <div class="form-group" id="VA_LEVELZBRYUVWHXP_209132_DIV"> 
         <label for="VA_LEVELZBRYUVWHXP_209132" title="{{vc.viewState.VA_LEVELZBRYUVWHXP_209132.label|translate:vc.viewState.VA_LEVELZBRYUVWHXP_209132.labelArgs}}" ng-show="vc.viewState.VA_LEVELZBRYUVWHXP_209132.visible" class="control-label">{{vc.viewState.VA_LEVELZBRYUVWHXP_209132.label|translate:vc.viewState.VA_LEVELZBRYUVWHXP_209132.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_LEVELZBRYUVWHXP_209132" name="Member_level" type="text" class="form-control text-uppercase" ng-model="vc.model.Member.level" ng-disabled="vc.viewState.VA_LEVELZBRYUVWHXP_209132.disabled || vc.viewState.VA_LEVELZBRYUVWHXP_209132.disabledingroup" ng-show="vc.viewState.VA_LEVELZBRYUVWHXP_209132.visible" ng-readonly="vc.viewState.VA_LEVELZBRYUVWHXP_209132.readonly" ng-class="vc.viewState.VA_LEVELZBRYUVWHXP_209132.style" data-cobis-group="Group,G_MEMBERRWYD_572132,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_LEVELZBRYUVWHXP_209132.validationCode}}" /> 
        </div> 
       </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_POINTSTRNBCTOSH_659132.visible"> 
        <div class="form-group" id="VA_POINTSTRNBCTOSH_659132_DIV"> 
         <label for="VA_POINTSTRNBCTOSH_659132" title="{{vc.viewState.VA_POINTSTRNBCTOSH_659132.label|translate:vc.viewState.VA_POINTSTRNBCTOSH_659132.labelArgs}}" ng-show="vc.viewState.VA_POINTSTRNBCTOSH_659132.visible" class="control-label">{{vc.viewState.VA_POINTSTRNBCTOSH_659132.label|translate:vc.viewState.VA_POINTSTRNBCTOSH_659132.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_POINTSTRNBCTOSH_659132" name="Member_points" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_POINTSTRNBCTOSH_659132.decimals" k-format="vc.viewState.VA_POINTSTRNBCTOSH_659132.format" k-ng-model="vc.model.Member.points" ng-model="vc.tmpModel.Member.points" ng-disabled="vc.viewState.VA_POINTSTRNBCTOSH_659132.disabled || vc.viewState.VA_POINTSTRNBCTOSH_659132.disabledingroup" ng-show="vc.viewState.VA_POINTSTRNBCTOSH_659132.visible" ng-readonly="vc.viewState.VA_POINTSTRNBCTOSH_659132.readonly" ng-class="vc.viewState.VA_POINTSTRNBCTOSH_659132.style" data-cobis-group="Group,G_MEMBERRWYD_572132,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_POINTSTRNBCTOSH_659132.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer2892.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONXYNUHPG_895132.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONXYNUHPG_895132" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONXYNUHPG_895132','VA_VABUTTONXYNUHPG_895132',validator,true, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONXYNUHPG_895132.disabled || vc.viewState.VA_VABUTTONXYNUHPG_895132.disabledingroup" ng-show="vc.viewState.VA_VABUTTONXYNUHPG_895132.visible" ng-class="vc.viewState.VA_VABUTTONXYNUHPG_895132.style"> {{vc.viewState.VA_VABUTTONXYNUHPG_895132.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONTPUAZVF_333132.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONTPUAZVF_333132" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONTPUAZVF_333132','VA_VABUTTONTPUAZVF_333132',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONTPUAZVF_333132.disabled || vc.viewState.VA_VABUTTONTPUAZVF_333132.disabledingroup" ng-show="vc.viewState.VA_VABUTTONTPUAZVF_333132.visible" ng-class="vc.viewState.VA_VABUTTONTPUAZVF_333132.style"> {{vc.viewState.VA_VABUTTONTPUAZVF_333132.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_MEMBERSSSM_132--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_MEMBERQZIZWFM_852_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_MEMBERLFPC_722852')" ng-disabled="vc.viewState.T_MEMBERQZIZWFM_852_ACCEPT.disabled || vc.viewState.T_MEMBERQZIZWFM_852_ACCEPT.disabledingroup" ng-show="vc.viewState.T_MEMBERQZIZWFM_852_ACCEPT.visible" ng-class="vc.viewState.T_MEMBERQZIZWFM_852_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_MEMBERQZIZWFM_852_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_MEMBERQZIZWFM_852_CANCEL.disabled || vc.viewState.T_MEMBERQZIZWFM_852_CANCEL.disabledingroup" ng-show="vc.viewState.T_MEMBERQZIZWFM_852_CANCEL.visible" ng-class="vc.viewState.T_MEMBERQZIZWFM_852_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>