<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

	<reference id="spOrchestratorOsgi"
		interface="com.cobiscorp.cobis.cts.services.orchestrator.ISPOrchestrator" />

	<bean id="finantialGateway"
		class="com.cobis.cloud.sofom.operationsexecution.payments.batch.FinantialGateway">
		<property name="spOrchestrator" ref="spOrchestratorOsgi" />
	</bean>

	<service ref="finantialGateway"
		interface="com.cobiscorp.cobis.scheduler.api.ICobisJob">
		<service-properties>
			<entry key="service.impl" value="FinantialGateway" />
		</service-properties>
	</service>

</blueprint>