<#ftl attributes={"content_type": "text/css; charset=UTF-8"} />

.code-style-busin{
	width: 140px;
}

.code-style-busin:before {
	width: 140px;
}

.generic-column-style-busin{
	width: 190px;
}

.generic-column-style-busin:before{
	width: 190px;
}
/*PERMITE OCULTAR LS FILTROS DE LA CABECERA DE GRIDS*/
.Grid_Hide_Filter  .k-grid-header .k-header-column-menu { display:none !important; }
/*DESHABILITAR GRUPOS*/
.Disable_group {opacity: 0.5; background: lightgrey; pointer-events: none;}
/*DESHABILITAR CONTROL*/
.Disable_CTR {opacity: 0.5; background: lightgrey; pointer-events: none;}
.Enable_CTR{opacity: 1; pointer-events: all;}
/* ELIMINA LA COLUMAN DE CONTROLES DE UNA GRILLA*/
.grupo-lectura{}
.grupo-lectura .btn-toolbar{display:none;}

/*Pantallas de Flujo de Monto y Plazo*/
.k-widget.k-tooltip {
  background-color: #ccc;
  border: 1px #428bca solid;
}
.cb-group-header-title {
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px #428bca solid;
}
.cb-group-header-title .form-group .control-label,
.cb-group-header-title .form-group a {
  width: auto;
  border: none;
  background: none;
  font-weight: bold;
}
.k-tabstrip-items .k-item {
	width: auto;
}
.cb-without-border {
  border: none !important;
  box-shadow: none !important;
  padding: inherit !important;
  color: inherit !important;
  background-color: inherit !important;
  margin: auto;
}
.cb-group-header .form-group .cb-without-border {
  text-align: center;
}
.cb-group-header .form-group .control-label {
  font-weight: bold;
}
.cb-group-header .form-group .k-numeric-wrap,
.cb-group-header .form-group .k-picker-wrap,
.cb-group-header .form-group .k-dropdown-wrap{
  border: none;
  background: none;
  opacity: 1;
}
.cb-group-header .form-group .k-dropdown-wrap .k-select,
.cb-group-header .form-group .k-picker-wrap .k-select {
  display: none;
}

.cb-icon-ok{	
	border: 0px; 
	background-color: transparent;
}
/*OVERFLOW EN KENDO TABSTRIP .TabstripOverflow > div > div {*/
div#GR_OVECRDTRQE48_04{
    overflow-x: auto;
    overflow-y: hidden;
    /*white-space: nowrap;*/
}
.hr-division { border:1px dashed gray; margin-bottom:5px; margin-top:1px;}
.row-mark-style1 { font-weight: bold; background-color: #FF888A; outline:1px solid #D2D1D1}
.row-mark-style2 { font-weight: bold; background-color: #F9FDA4; outline:1px solid #D2D1D1}
.row-mark-style3 { font-weight: bold; background-color: #CAFDC6; outline:1px solid #D2D1D1}
.row-mark-style4 { background-color: #2F75B5; outline:1px dashed #FFFFFF; color:#FFFF00}
.row-mark-style5 { background-color: #FF0000; outline:1px solid #D2D1D1; color:#FFFFFF}
.Grid-Column-Header{ white-space : normal !important;vertical-align:middle !important;}
.Grid-Column-White-Space-Normal{ white-space : normal !important;}
.Grid-Column-Vertical-Align-Middle{ vertical-align:middle !important;}
.Grid-Column-Text-Align-Center{ text-align:center;}
.Grid-Width-560{ width:560px;}
.Grid-Width-360{ width:360px;}
.Grid-Text-Align-Webkit-Right{ text-align:-webkit-right;}
.Group-Margin-Top--60{margin-top:-60px}
.Group-Margin-Top--40{margin-top:-40px}
.Group-Margin-Top--30{margin-top:-30px}
.Group-Margin-Top--20{margin-top:-20px}
.glyphicon.glyphicon-print{color:#258E43;}
.glyphicon.glyphicon-download-alt{color:#258E43;}
.glyphicon.glyphicon-ok{color: #369c35;}
.Span-white-space-nowrap{white-space:nowrap}
.navbar-fixed-top,.navbar-fixed-bottom{z-index:1030 !important}


.tablaAmortizacion {
	min-height: 10px;
	max-height: 465px;	
}
.tablaAmortizacion .k-grid-content {
	max-height: 357px;
	height: auto;
	min-height: 10px;
}


.cb-indicator {
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;   
    margin: auto;
}

.cb-indicator .cb-footer-label {
    font-size: 8px;
    font-weight: bold;
    text-align: center; 
    color:#666666;
}

.cb-indicator-value {
    height: 20px;
	margin: 3px 0 0 0;
    border-style: solid;
    border-color:white;
    border-radius: 10px;
}

.cb-indicator-value.cb-rule-alert-good {
	background-color:#8fd48f;
}

.cb-indicator-value.cb-rule-alert-fair {
	background-color:#e0e032;
}

.cb-indicator-value.cb-rule-alert-bad {
	background-color:#af6363;
}

#QV_QDMNT8051_16.k-grid .k-grid-toolbar{
    text-align: right;
	background-color: Transparent !important;
}

#QV_QDMNT8051_16.k-grid .k-grid-toolbar .btn{
  border: none;
  padding: 5px 10px;
  background-color: Transparent !important;
  margin-top: 10px;
  margin-right: 10px;
}

#CEQV_201QV_QDMNT8051_16_807{
    pointer-events: none;
}
