<!-- Designer Generator v 6.4.0.5 - SPR 2019-03 15/02/2019 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_AMOUNTIRVT_828678" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_AMOUNTIRVT_828678.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_AMOUNTPOKC_190--> 
  <div id="VC_AMOUNTIRVT_828678" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_AMOUNTGUDN_676190" ng-show="vc.viewState.G_AMOUNTGUDN_676190.visible" ng-class="vc.viewState.G_AMOUNTGUDN_676190.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_AMOUNTGUDN_676190" k-options="validatorOptions" id="G_AMOUNTGUDN_676190_VAL"> 
     <div id="QV_6248_19660" kendo-ext-grid="grids.QV_6248_19660" k-data-source="vc.model.Amount" k-column-menu="false" k-sortable="false" k-pageable="{refresh: false, pageSizes: false, buttonCount: 5}" k-editable="vc.grids.QV_6248_19660.editable" k-toolbar="vc.grids.QV_6248_19660.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="true" k-selectable="false" k-data-bound="vc.grids.QV_6248_19660.events.dataBound" k-columns="vc.grids.QV_6248_19660.columns" k-cancel="vc.grids.QV_6248_19660.events.cancel" k-edit="vc.grids.QV_6248_19660.events.edit" ng-class="vc.viewState.QV_6248_19660.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </div> 
   <div id="G_AMOUNTIXUH_522190" ng-show="vc.viewState.G_AMOUNTIXUH_522190.visible" ng-class="vc.viewState.G_AMOUNTIXUH_522190.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_AMOUNTIXUH_522190" k-options="validatorOptions" id="G_AMOUNTIXUH_522190_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-2" ng-show="vc.viewState.VA_TEXTINPUTBOXZSH_356190.visible"> 
        <div class="form-group" id="VA_TEXTINPUTBOXZSH_356190_DIV"> 
         <label for="VA_TEXTINPUTBOXZSH_356190" title="{{vc.viewState.VA_TEXTINPUTBOXZSH_356190.label|translate:vc.viewState.VA_TEXTINPUTBOXZSH_356190.labelArgs}}" ng-show="vc.viewState.VA_TEXTINPUTBOXZSH_356190.visible" class="control-label">{{'&nbsp;'}}</label> 
         <div class="cb-control"> 
          <input id="VA_TEXTINPUTBOXZSH_356190" name="Credit_creditCode" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_TEXTINPUTBOXZSH_356190.decimals" k-format="vc.viewState.VA_TEXTINPUTBOXZSH_356190.format" k-ng-model="vc.model.Credit.creditCode" ng-model="vc.tmpModel.Credit.creditCode" ng-disabled="vc.viewState.VA_TEXTINPUTBOXZSH_356190.disabled || vc.viewState.VA_TEXTINPUTBOXZSH_356190.disabledingroup" ng-show="vc.viewState.VA_TEXTINPUTBOXZSH_356190.visible" ng-readonly="vc.viewState.VA_TEXTINPUTBOXZSH_356190.readonly" ng-class="vc.viewState.VA_TEXTINPUTBOXZSH_356190.style" data-cobis-group="Group,G_AMOUNTIXUH_522190,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_TEXTINPUTBOXZSH_356190.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-2" ng-show="vc.viewState.VA_VABUTTONNPVXIJW_123190.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONNPVXIJW_123190" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONNPVXIJW_123190','VA_VABUTTONNPVXIJW_123190',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONNPVXIJW_123190.disabled || vc.viewState.VA_VABUTTONNPVXIJW_123190.disabledingroup" ng-show="vc.viewState.VA_VABUTTONNPVXIJW_123190.visible" ng-class="vc.viewState.VA_VABUTTONNPVXIJW_123190.style"> {{vc.viewState.VA_VABUTTONNPVXIJW_123190.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-2" ng-show="vc.viewState.VA_VABUTTONAICSAKZ_975190.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONAICSAKZ_975190" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONAICSAKZ_975190','VA_VABUTTONAICSAKZ_975190',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONAICSAKZ_975190.disabled || vc.viewState.VA_VABUTTONAICSAKZ_975190.disabledingroup" ng-show="vc.viewState.VA_VABUTTONAICSAKZ_975190.visible" ng-class="vc.viewState.VA_VABUTTONAICSAKZ_975190.style"> {{vc.viewState.VA_VABUTTONAICSAKZ_975190.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-2" ng-show="vc.viewState.VA_WARRANTYAMOUNTN_792190.visible"> 
        <div class="form-group" id="VA_WARRANTYAMOUNTN_792190_DIV"> 
         <label for="VA_WARRANTYAMOUNTN_792190" title="{{vc.viewState.VA_WARRANTYAMOUNTN_792190.label|translate:vc.viewState.VA_WARRANTYAMOUNTN_792190.labelArgs}}" ng-show="vc.viewState.VA_WARRANTYAMOUNTN_792190.visible" class="control-label">{{vc.viewState.VA_WARRANTYAMOUNTN_792190.label|translate:vc.viewState.VA_WARRANTYAMOUNTN_792190.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_WARRANTYAMOUNTN_792190" name="Credit_warrantyAmount" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-format="vc.viewState.VA_WARRANTYAMOUNTN_792190.format" k-decimals="vc.viewState.VA_WARRANTYAMOUNTN_792190.decimals" k-ng-model="vc.model.Credit.warrantyAmount" ng-model="vc.tmpModel.Credit.warrantyAmount" ng-disabled="vc.viewState.VA_WARRANTYAMOUNTN_792190.disabled || vc.viewState.VA_WARRANTYAMOUNTN_792190.disabledingroup" ng-show="vc.viewState.VA_WARRANTYAMOUNTN_792190.visible" ng-readonly="vc.viewState.VA_WARRANTYAMOUNTN_792190.readonly" ng-class="vc.viewState.VA_WARRANTYAMOUNTN_792190.style" data-cobis-group="Group,G_AMOUNTIXUH_522190,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_WARRANTYAMOUNTN_792190.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-2" ng-show="vc.viewState.VA_VABUTTONGPPUIHN_830190.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONGPPUIHN_830190" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONGPPUIHN_830190','VA_VABUTTONGPPUIHN_830190',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONGPPUIHN_830190.disabled || vc.viewState.VA_VABUTTONGPPUIHN_830190.disabledingroup" ng-show="vc.viewState.VA_VABUTTONGPPUIHN_830190.visible" ng-class="vc.viewState.VA_VABUTTONGPPUIHN_830190.style"> {{vc.viewState.VA_VABUTTONGPPUIHN_830190.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_AMOUNTPOKC_190--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_AMOUNTZDGDPDF_678_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_AMOUNTIRVT_828678')" ng-disabled="vc.viewState.T_AMOUNTZDGDPDF_678_ACCEPT.disabled || vc.viewState.T_AMOUNTZDGDPDF_678_ACCEPT.disabledingroup" ng-show="vc.viewState.T_AMOUNTZDGDPDF_678_ACCEPT.visible" ng-class="vc.viewState.T_AMOUNTZDGDPDF_678_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_AMOUNTZDGDPDF_678_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_AMOUNTZDGDPDF_678_CANCEL.disabled || vc.viewState.T_AMOUNTZDGDPDF_678_CANCEL.disabledingroup" ng-show="vc.viewState.T_AMOUNTZDGDPDF_678_CANCEL.visible" ng-class="vc.viewState.T_AMOUNTZDGDPDF_678_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>