<!-- Designer Generator v 5.0.0.1626 - release SPR 2016-26 08/01/2016 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_VPLIC33_VAEPL_011" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_VPLIC33_VAEPL_011.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_VPLIC33_VAEPL_011" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="GR_VARABLOIYW12_03" ng-show="vc.viewState.GR_VARABLOIYW12_03.visible" ng-class="vc.viewState.GR_VARABLOIYW12_03.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="GR_VARABLOIYW12_03" k-options="validatorOptions" id="GR_VARABLOIYW12_03_VAL"> 
     <div id="QV_UEVRB5831_12" kendo-ext-grid="grids.QV_UEVRB5831_12" k-data-source="vc.model.VariablePolicy" k-column-menu="false" k-sortable="false" k-editable="vc.viewState.GR_VARABLOIYW12_03.disabled?false:'inline'" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-data-bound="vc.grids.QV_UEVRB5831_12.events.dataBound" k-columns="vc.grids.QV_UEVRB5831_12.columns" k-cancel="vc.grids.QV_UEVRB5831_12.events.cancel" k-edit="vc.grids.QV_UEVRB5831_12.events.edit" ng-class="vc.viewState.QV_UEVRB5831_12.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </div> 
   <div id="GR_VARABLOIYW12_04" ng-show="vc.viewState.GR_VARABLOIYW12_04.visible" ng-class="vc.viewState.GR_VARABLOIYW12_04.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="GR_VARABLOIYW12_04" k-options="validatorOptions" id="GR_VARABLOIYW12_04_VAL"> 
     <div id="QV_EAIBL2309_87" kendo-ext-grid="grids.QV_EAIBL2309_87" k-data-source="vc.model.VariableExceptions" k-column-menu="false" k-sortable="false" k-editable="vc.viewState.GR_VARABLOIYW12_04.disabled?false:'inline'" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-data-bound="vc.grids.QV_EAIBL2309_87.events.dataBound" k-columns="vc.grids.QV_EAIBL2309_87.columns" k-cancel="vc.grids.QV_EAIBL2309_87.events.cancel" k-edit="vc.grids.QV_EAIBL2309_87.events.edit" ng-class="vc.viewState.QV_EAIBL2309_87.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </div> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_FLCRE_50_VPLIC33_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_VPLIC33_VAEPL_011')" ng-disabled="vc.viewState.T_FLCRE_50_VPLIC33_ACCEPT.disabled || vc.viewState.T_FLCRE_50_VPLIC33_ACCEPT.disabledingroup" ng-show="vc.viewState.T_FLCRE_50_VPLIC33_ACCEPT.visible" ng-class="vc.viewState.T_FLCRE_50_VPLIC33_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_FLCRE_50_VPLIC33_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_FLCRE_50_VPLIC33_CANCEL.disabled || vc.viewState.T_FLCRE_50_VPLIC33_CANCEL.disabledingroup" ng-show="vc.viewState.T_FLCRE_50_VPLIC33_CANCEL.visible" ng-class="vc.viewState.T_FLCRE_50_VPLIC33_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>