<!-- Designer Generator v 6.3.3 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_PRIORITIOM_989489" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_PRIORITIOM_989489.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_PRIORITIAP_545--> 
  <div id="VC_PRIORITIOM_989489" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_PRIORITTMS_845545" ng-show="vc.viewState.G_PRIORITTMS_845545.visible" ng-class="vc.viewState.G_PRIORITTMS_845545.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_PRIORITTMS_845545" k-options="validatorOptions" id="G_PRIORITTMS_845545_VAL"> 
     <div id="QV_3510_83627" kendo-ext-grid="grids.QV_3510_83627" k-data-source="vc.model.Priorities" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_3510_83627.editable" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_3510_83627.events.dataBound" k-columns="vc.grids.QV_3510_83627.columns" k-cancel="vc.grids.QV_3510_83627.events.cancel" k-edit="vc.grids.QV_3510_83627.events.edit" ng-class="vc.viewState.QV_3510_83627.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_PRIORITIAP_545--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc || !vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_TPRIORIT_TTT" ng-click="vc.executeCommand('CM_TPRIORIT_TTT','Command1', validator, false, false, 'VC_PRIORITIOM_989489', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_TPRIORIT_TTT.disabled || vc.viewState.CM_TPRIORIT_TTT.disabledingroup" ng-show="vc.viewState.CM_TPRIORIT_TTT.visible" ng-class="vc.viewState.CM_TPRIORIT_TTT.style"> {{vc.viewState.CM_TPRIORIT_TTT.label|translate}} </button> 
    <button id="CM_TPRIORIT_I8N" ng-click="vc.executeCommand('CM_TPRIORIT_I8N','Command2', validator, false, false, 'VC_PRIORITIOM_989489', true)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_TPRIORIT_I8N.disabled || vc.viewState.CM_TPRIORIT_I8N.disabledingroup" ng-show="vc.viewState.CM_TPRIORIT_I8N.visible" ng-class="vc.viewState.CM_TPRIORIT_I8N.style"> {{vc.viewState.CM_TPRIORIT_I8N.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_PRIORITIESENY_489_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_PRIORITIOM_989489')" ng-disabled="vc.viewState.T_PRIORITIESENY_489_ACCEPT.disabled || vc.viewState.T_PRIORITIESENY_489_ACCEPT.disabledingroup" ng-show="vc.viewState.T_PRIORITIESENY_489_ACCEPT.visible" ng-class="vc.viewState.T_PRIORITIESENY_489_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_PRIORITIESENY_489_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_PRIORITIESENY_489_CANCEL.disabled || vc.viewState.T_PRIORITIESENY_489_CANCEL.disabledingroup" ng-show="vc.viewState.T_PRIORITIESENY_489_CANCEL.visible" ng-class="vc.viewState.T_PRIORITIESENY_489_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>