<!-- Designer Generator v 6.3.3 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_STATUSLIST_332405" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_STATUSLIST_332405.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_STATUSLISS_707--> 
  <div id="VC_STATUSLIST_332405" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_STATUSLSTS_546707" ng-show="vc.viewState.G_STATUSLSTS_546707.visible" ng-class="vc.viewState.G_STATUSLSTS_546707.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_STATUSLSTS_546707" k-options="validatorOptions" id="G_STATUSLSTS_546707_VAL"> 
     <div id="QV_5541_56326" kendo-ext-grid="grids.QV_5541_56326" k-data-source="vc.model.LoanStatusChange" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_5541_56326.editable" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="true" k-change="vc.grids.QV_5541_56326.events.change" k-data-bound="vc.grids.QV_5541_56326.events.dataBound" k-columns="vc.grids.QV_5541_56326.columns" k-cancel="vc.grids.QV_5541_56326.events.cancel" k-edit="vc.grids.QV_5541_56326.events.edit" ng-class="vc.viewState.QV_5541_56326.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </div> 
   <div id="G_STATUSLSTI_910707" ng-show="vc.viewState.G_STATUSLSTI_910707.visible" ng-class="vc.viewState.G_STATUSLSTI_910707.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_STATUSLSTI_910707" k-options="validatorOptions" id="G_STATUSLSTI_910707_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer2499.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_STATUSLISS_707--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_STATUSLISTSPE_405_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_STATUSLIST_332405')" ng-disabled="vc.viewState.T_STATUSLISTSPE_405_ACCEPT.disabled || vc.viewState.T_STATUSLISTSPE_405_ACCEPT.disabledingroup" ng-show="vc.viewState.T_STATUSLISTSPE_405_ACCEPT.visible" ng-class="vc.viewState.T_STATUSLISTSPE_405_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_STATUSLISTSPE_405_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_STATUSLISTSPE_405_CANCEL.disabled || vc.viewState.T_STATUSLISTSPE_405_CANCEL.disabledingroup" ng-show="vc.viewState.T_STATUSLISTSPE_405_CANCEL.visible" ng-class="vc.viewState.T_STATUSLISTSPE_405_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>