<!-- Designer Generator v 6.5.0 - release SPR 2017-18 15/09/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_TERMINALAA_708522" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_TERMINALAA_708522.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_TERMINALEN_748--> 
  <div id="VC_TERMINALAA_708522" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_TERMINANNL_722748" ng-show="vc.viewState.G_TERMINANNL_722748.visible" ng-class="vc.viewState.G_TERMINANNL_722748.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_TERMINANNL_722748" k-options="validatorOptions" id="G_TERMINANNL_722748_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-3" ng-show="vc.viewState.VA_FILTERNAMECVENW_287748.visible"> 
        <div class="form-group" id="VA_FILTERNAMECVENW_287748_DIV"> 
         <label for="VA_FILTERNAMECVENW_287748" title="{{vc.viewState.VA_FILTERNAMECVENW_287748.label|translate:vc.viewState.VA_FILTERNAMECVENW_287748.labelArgs}}" ng-show="vc.viewState.VA_FILTERNAMECVENW_287748.visible" class="control-label">{{vc.viewState.VA_FILTERNAMECVENW_287748.label|translate:vc.viewState.VA_FILTERNAMECVENW_287748.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_FILTERNAMECVENW_287748" kendo-ext-combo-box="comboBox.VA_FILTERNAMECVENW_287748" k-index="0" k-auto-bind="true" name="TerminalFiltro_filterName" ng-model="vc.model.TerminalFiltro.filterName" ng-disabled="vc.viewState.VA_FILTERNAMECVENW_287748.disabled || vc.viewState.VA_FILTERNAMECVENW_287748.disabledingroup" ng-show="vc.viewState.VA_FILTERNAMECVENW_287748.visible" ng-readonly="vc.viewState.VA_FILTERNAMECVENW_287748.readonly" ng-class="vc.viewState.VA_FILTERNAMECVENW_287748.style" k-data-source="vc.catalogs.VA_FILTERNAMECVENW_287748" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_FILTERNAMECVENW_287748.template" data-cobis-group="Group,G_TERMINANNL_722748,0" data-validation-code="{{vc.viewState.VA_FILTERNAMECVENW_287748.validationCode}}" designer-change /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-3" ng-show="vc.viewState.VA_FILTERVALUEKKSF_591748.visible"> 
        <div class="form-group" id="VA_FILTERVALUEKKSF_591748_DIV"> 
         <label for="VA_FILTERVALUEKKSF_591748" title="{{vc.viewState.VA_FILTERVALUEKKSF_591748.label|translate:vc.viewState.VA_FILTERVALUEKKSF_591748.labelArgs}}" ng-show="vc.viewState.VA_FILTERVALUEKKSF_591748.visible" class="control-label">{{vc.viewState.VA_FILTERVALUEKKSF_591748.label|translate:vc.viewState.VA_FILTERVALUEKKSF_591748.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_FILTERVALUEKKSF_591748" name="TerminalFiltro_filterValue" type="text" class="form-control" ng-model="vc.model.TerminalFiltro.filterValue" ng-disabled="vc.viewState.VA_FILTERVALUEKKSF_591748.disabled || vc.viewState.VA_FILTERVALUEKKSF_591748.disabledingroup" ng-show="vc.viewState.VA_FILTERVALUEKKSF_591748.visible" ng-readonly="vc.viewState.VA_FILTERVALUEKKSF_591748.readonly" ng-class="vc.viewState.VA_FILTERVALUEKKSF_591748.style" data-cobis-group="Group,G_TERMINANNL_722748,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_FILTERVALUEKKSF_591748.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-1" ng-show="vc.viewState.VA_VAIMAGEBUTTONNN_867748.visible"> 
        <div class="form-group"> 
         <label class="control-label">{{'&nbsp;'}}</label> 
         <div class="cb-control"> 
          <button id="VA_VAIMAGEBUTTONNN_867748" class="btn btn-default btn-block" ng-click="vc.executeQueryControl(vc.getRequestQuery_Q_TERMINLA_5241(),'',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VAIMAGEBUTTONNN_867748.disabled || vc.viewState.VA_VAIMAGEBUTTONNN_867748.disabledingroup" ng-show="vc.viewState.VA_VAIMAGEBUTTONNN_867748.visible" ng-class="vc.viewState.VA_VAIMAGEBUTTONNN_867748.style"> <span ng-class="vc.viewState.VA_VAIMAGEBUTTONNN_867748.imageId"></span> </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_TERMINALME_421748" ng-show="vc.viewState.G_TERMINALME_421748.visible" ng-class="vc.viewState.G_TERMINALME_421748.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_TERMINALME_421748" k-options="validatorOptions" id="G_TERMINALME_421748_VAL"> 
     <div id="QV_5241_65721" kendo-ext-grid="grids.QV_5241_65721" k-data-source="vc.model.Terminal" k-column-menu="false" k-sortable="false" k-pageable="{refresh: false, pageSizes: false, buttonCount: 5}" k-editable="vc.grids.QV_5241_65721.editable" k-toolbar="vc.grids.QV_5241_65721.toolbar" k-resizable="true" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_5241_65721.events.dataBound" k-columns="vc.grids.QV_5241_65721.columns" k-cancel="vc.grids.QV_5241_65721.events.cancel" k-edit="vc.grids.QV_5241_65721.events.edit" ng-class="vc.viewState.QV_5241_65721.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_TERMINALEN_748--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_MBILEHJPNKLMQ_522_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_TERMINALAA_708522')" ng-disabled="vc.viewState.T_MBILEHJPNKLMQ_522_ACCEPT.disabled || vc.viewState.T_MBILEHJPNKLMQ_522_ACCEPT.disabledingroup" ng-show="vc.viewState.T_MBILEHJPNKLMQ_522_ACCEPT.visible" ng-class="vc.viewState.T_MBILEHJPNKLMQ_522_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_MBILEHJPNKLMQ_522_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_MBILEHJPNKLMQ_522_CANCEL.disabled || vc.viewState.T_MBILEHJPNKLMQ_522_CANCEL.disabledingroup" ng-show="vc.viewState.T_MBILEHJPNKLMQ_522_CANCEL.visible" ng-class="vc.viewState.T_MBILEHJPNKLMQ_522_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>