<!-- Designer Generator v 6.4.0.5 - SPR 2019-03 15/02/2019 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_REPLACEAII_570116" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_REPLACEAII_570116.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_REPLACEACU_715--> 
  <div id="VC_REPLACEAII_570116" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_REPLACETOC_870715" ng-show="vc.viewState.G_REPLACETOC_870715.visible" ng-class="vc.viewState.G_REPLACETOC_870715.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_REPLACETOC_870715" k-options="validatorOptions" id="G_REPLACETOC_870715_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-12" ng-show="vc.viewState.VA_VASIMPLELABELLL_669715.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <label id="VA_VASIMPLELABELLL_669715" ng-show="vc.viewState.VA_VASIMPLELABELLL_669715.visible" ng-class="vc.viewState.VA_VASIMPLELABELLL_669715.style"> {{vc.viewState.VA_VASIMPLELABELLL_669715.label|translate}} </label>
         </div> 
        </div> 
       </div> 
       <div class="col-xs-6" ng-show="vc.viewState.VA_OLDACCOUNTINIVI_133715.visible"> 
        <div class="form-group" id="VA_OLDACCOUNTINIVI_133715_DIV"> 
         <label for="VA_OLDACCOUNTINIVI_133715" title="{{vc.viewState.VA_OLDACCOUNTINIVI_133715.label|translate:vc.viewState.VA_OLDACCOUNTINIVI_133715.labelArgs}}" ng-show="vc.viewState.VA_OLDACCOUNTINIVI_133715.visible" class="control-label">{{vc.viewState.VA_OLDACCOUNTINIVI_133715.label|translate:vc.viewState.VA_OLDACCOUNTINIVI_133715.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_OLDACCOUNTINIVI_133715" name="AltairAccount_oldAccountIndividual" type="text" class="form-control" ng-model="vc.model.AltairAccount.oldAccountIndividual" ng-disabled="vc.viewState.VA_OLDACCOUNTINIVI_133715.disabled || vc.viewState.VA_OLDACCOUNTINIVI_133715.disabledingroup" ng-show="vc.viewState.VA_OLDACCOUNTINIVI_133715.visible" ng-readonly="vc.viewState.VA_OLDACCOUNTINIVI_133715.readonly" ng-class="vc.viewState.VA_OLDACCOUNTINIVI_133715.style" data-cobis-group="Group,G_REPLACETOC_870715,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_OLDACCOUNTINIVI_133715.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-6" ng-show="vc.viewState.VA_NEWACCOUNTINVUL_794715.visible"> 
        <div class="form-group" id="VA_NEWACCOUNTINVUL_794715_DIV"> 
         <label for="VA_NEWACCOUNTINVUL_794715" title="{{vc.viewState.VA_NEWACCOUNTINVUL_794715.label|translate:vc.viewState.VA_NEWACCOUNTINVUL_794715.labelArgs}}" ng-show="vc.viewState.VA_NEWACCOUNTINVUL_794715.visible" class="control-label">{{vc.viewState.VA_NEWACCOUNTINVUL_794715.label|translate:vc.viewState.VA_NEWACCOUNTINVUL_794715.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_NEWACCOUNTINVUL_794715" kendo-ext-combo-box="comboBox.VA_NEWACCOUNTINVUL_794715" k-index="0" k-auto-bind="true" name="AltairAccount_newAccountIndividual" ng-model="vc.model.AltairAccount.newAccountIndividual" ng-disabled="vc.viewState.VA_NEWACCOUNTINVUL_794715.disabled || vc.viewState.VA_NEWACCOUNTINVUL_794715.disabledingroup" ng-show="vc.viewState.VA_NEWACCOUNTINVUL_794715.visible" ng-readonly="vc.viewState.VA_NEWACCOUNTINVUL_794715.readonly" ng-class="vc.viewState.VA_NEWACCOUNTINVUL_794715.style" k-data-source="vc.catalogs.VA_NEWACCOUNTINVUL_794715" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_NEWACCOUNTINVUL_794715.template" data-cobis-group="Group,G_REPLACETOC_870715,0" data-validation-code="{{vc.viewState.VA_NEWACCOUNTINVUL_794715.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-6" ng-show="vc.viewState.VA_VABUTTONZLMXZAV_282715.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONZLMXZAV_282715" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONZLMXZAV_282715','VA_VABUTTONZLMXZAV_282715',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONZLMXZAV_282715.disabled || vc.viewState.VA_VABUTTONZLMXZAV_282715.disabledingroup" ng-show="vc.viewState.VA_VABUTTONZLMXZAV_282715.visible" ng-class="vc.viewState.VA_VABUTTONZLMXZAV_282715.style"> {{vc.viewState.VA_VABUTTONZLMXZAV_282715.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-6" ng-show="vc.viewState.VA_VABUTTONGWOYVMU_372715.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONGWOYVMU_372715" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONGWOYVMU_372715','VA_VABUTTONGWOYVMU_372715',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONGWOYVMU_372715.disabled || vc.viewState.VA_VABUTTONGWOYVMU_372715.disabledingroup" ng-show="vc.viewState.VA_VABUTTONGWOYVMU_372715.visible" ng-class="vc.viewState.VA_VABUTTONGWOYVMU_372715.style"> {{vc.viewState.VA_VABUTTONGWOYVMU_372715.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_REPLACEACU_715--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_CSTMRNJOIOJFD_116_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_REPLACEAII_570116')" ng-disabled="vc.viewState.T_CSTMRNJOIOJFD_116_ACCEPT.disabled || vc.viewState.T_CSTMRNJOIOJFD_116_ACCEPT.disabledingroup" ng-show="vc.viewState.T_CSTMRNJOIOJFD_116_ACCEPT.visible" ng-class="vc.viewState.T_CSTMRNJOIOJFD_116_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_CSTMRNJOIOJFD_116_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_CSTMRNJOIOJFD_116_CANCEL.disabled || vc.viewState.T_CSTMRNJOIOJFD_116_CANCEL.disabledingroup" ng-show="vc.viewState.T_CSTMRNJOIOJFD_116_CANCEL.visible" ng-class="vc.viewState.T_CSTMRNJOIOJFD_116_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>