<!-- Designer Generator v 6.4.0.5 - SPR 2019-03 15/02/2019 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_COMPLEMEDR_886400" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_COMPLEMEDR_886400.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_COMPLEMEQS_642--> 
  <div id="VC_COMPLEMEDR_886400" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_COMPLEMETQ_738642" ng-show="vc.viewState.G_COMPLEMETQ_738642.visible" ng-class="vc.viewState.G_COMPLEMETQ_738642.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_COMPLEMETQ_738642" k-options="validatorOptions" id="G_COMPLEMETQ_738642_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_IFENUMBERTXDDFK_481642.visible"> 
        <div class="form-group" id="VA_IFENUMBERTXDDFK_481642_DIV"> 
         <label for="VA_IFENUMBERTXDDFK_481642" title="{{vc.viewState.VA_IFENUMBERTXDDFK_481642.label|translate:vc.viewState.VA_IFENUMBERTXDDFK_481642.labelArgs}}" ng-show="vc.viewState.VA_IFENUMBERTXDDFK_481642.visible" class="control-label">{{vc.viewState.VA_IFENUMBERTXDDFK_481642.label|translate:vc.viewState.VA_IFENUMBERTXDDFK_481642.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_IFENUMBERTXDDFK_481642" name="ComplementaryRequestData_ifeNumber" maxlength="13" type="text" class="form-control text-uppercase" ng-model="vc.model.ComplementaryRequestData.ifeNumber" ng-disabled="vc.viewState.VA_IFENUMBERTXDDFK_481642.disabled || vc.viewState.VA_IFENUMBERTXDDFK_481642.disabledingroup" ng-show="vc.viewState.VA_IFENUMBERTXDDFK_481642.visible" ng-readonly="vc.viewState.VA_IFENUMBERTXDDFK_481642.readonly" ng-class="vc.viewState.VA_IFENUMBERTXDDFK_481642.style" data-cobis-group="Group,G_COMPLEMETQ_738642,0" ng-model-onblur designer-restrict-input="alphanumeric" data-validation-code="{{vc.viewState.VA_IFENUMBERTXDDFK_481642.validationCode}}" designer-change /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_PASSPORTNUMBEER_566642.visible"> 
        <div class="form-group" id="VA_PASSPORTNUMBEER_566642_DIV"> 
         <label for="VA_PASSPORTNUMBEER_566642" title="{{vc.viewState.VA_PASSPORTNUMBEER_566642.label|translate:vc.viewState.VA_PASSPORTNUMBEER_566642.labelArgs}}" ng-show="vc.viewState.VA_PASSPORTNUMBEER_566642.visible" class="control-label">{{vc.viewState.VA_PASSPORTNUMBEER_566642.label|translate:vc.viewState.VA_PASSPORTNUMBEER_566642.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_PASSPORTNUMBEER_566642" name="ComplementaryRequestData_passportNumber" maxlength="8" type="text" class="form-control text-uppercase" ng-model="vc.model.ComplementaryRequestData.passportNumber" ng-disabled="vc.viewState.VA_PASSPORTNUMBEER_566642.disabled || vc.viewState.VA_PASSPORTNUMBEER_566642.disabledingroup" ng-show="vc.viewState.VA_PASSPORTNUMBEER_566642.visible" ng-readonly="vc.viewState.VA_PASSPORTNUMBEER_566642.readonly" ng-class="vc.viewState.VA_PASSPORTNUMBEER_566642.style" data-cobis-group="Group,G_COMPLEMETQ_738642,0" ng-model-onblur designer-restrict-input="alphanumeric" data-validation-code="{{vc.viewState.VA_PASSPORTNUMBEER_566642.validationCode}}" designer-change /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_ELECTRONICSIGGU_426642.visible"> 
        <div class="form-group" id="VA_ELECTRONICSIGGU_426642_DIV"> 
         <label for="VA_ELECTRONICSIGGU_426642" title="{{vc.viewState.VA_ELECTRONICSIGGU_426642.label|translate:vc.viewState.VA_ELECTRONICSIGGU_426642.labelArgs}}" ng-show="vc.viewState.VA_ELECTRONICSIGGU_426642.visible" class="control-label">{{vc.viewState.VA_ELECTRONICSIGGU_426642.label|translate:vc.viewState.VA_ELECTRONICSIGGU_426642.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_ELECTRONICSIGGU_426642" name="ComplementaryRequestData_electronicSignature" maxlength="20" type="text" class="form-control text-uppercase" ng-model="vc.model.ComplementaryRequestData.electronicSignature" ng-disabled="vc.viewState.VA_ELECTRONICSIGGU_426642.disabled || vc.viewState.VA_ELECTRONICSIGGU_426642.disabledingroup" ng-show="vc.viewState.VA_ELECTRONICSIGGU_426642.visible" ng-readonly="vc.viewState.VA_ELECTRONICSIGGU_426642.readonly" ng-class="vc.viewState.VA_ELECTRONICSIGGU_426642.style" data-cobis-group="Group,G_COMPLEMETQ_738642,0" ng-model-onblur designer-restrict-input="alphanumeric" data-validation-code="{{vc.viewState.VA_ELECTRONICSIGGU_426642.validationCode}}" designer-change /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_PHONEERRANDSTRD_116642.visible"> 
        <div class="form-group" id="VA_PHONEERRANDSTRD_116642_DIV"> 
         <label for="VA_PHONEERRANDSTRD_116642" title="{{vc.viewState.VA_PHONEERRANDSTRD_116642.label|translate:vc.viewState.VA_PHONEERRANDSTRD_116642.labelArgs}}" ng-show="vc.viewState.VA_PHONEERRANDSTRD_116642.visible" class="control-label">{{vc.viewState.VA_PHONEERRANDSTRD_116642.label|translate:vc.viewState.VA_PHONEERRANDSTRD_116642.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_PHONEERRANDSTRD_116642" name="ComplementaryRequestData_phoneErrands" maxlength="10" type="text" class="form-control" ng-model="vc.model.ComplementaryRequestData.phoneErrands" ng-disabled="vc.viewState.VA_PHONEERRANDSTRD_116642.disabled || vc.viewState.VA_PHONEERRANDSTRD_116642.disabledingroup" ng-show="vc.viewState.VA_PHONEERRANDSTRD_116642.visible" ng-readonly="vc.viewState.VA_PHONEERRANDSTRD_116642.readonly" ng-class="vc.viewState.VA_PHONEERRANDSTRD_116642.style" data-cobis-group="Group,G_COMPLEMETQ_738642,0" ng-model-onblur regular-expression regexppattern="[0-9]*" designer-restrict-input="numbers" data-validation-code="{{vc.viewState.VA_PHONEERRANDSTRD_116642.validationCode}}" designer-change data-regularexpression-msg="{{'CSTMR.MSG_CSTMR_SOLOSEPEM_70414'|translate}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-8" ng-show="vc.viewState.VA_PERSONNAMEMEAES_714642.visible"> 
        <div class="form-group" id="VA_PERSONNAMEMEAES_714642_DIV"> 
         <label for="VA_PERSONNAMEMEAES_714642" title="{{vc.viewState.VA_PERSONNAMEMEAES_714642.label|translate:vc.viewState.VA_PERSONNAMEMEAES_714642.labelArgs}}" ng-show="vc.viewState.VA_PERSONNAMEMEAES_714642.visible" class="control-label">{{vc.viewState.VA_PERSONNAMEMEAES_714642.label|translate:vc.viewState.VA_PERSONNAMEMEAES_714642.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_PERSONNAMEMEAES_714642" name="ComplementaryRequestData_personNameMessages" maxlength="60" type="text" class="form-control text-uppercase" ng-model="vc.model.ComplementaryRequestData.personNameMessages" ng-disabled="vc.viewState.VA_PERSONNAMEMEAES_714642.disabled || vc.viewState.VA_PERSONNAMEMEAES_714642.disabledingroup" ng-show="vc.viewState.VA_PERSONNAMEMEAES_714642.visible" ng-readonly="vc.viewState.VA_PERSONNAMEMEAES_714642.readonly" ng-class="vc.viewState.VA_PERSONNAMEMEAES_714642.style" data-cobis-group="Group,G_COMPLEMETQ_738642,0" ng-model-onblur designer-restrict-input data-validation-code="{{vc.viewState.VA_PERSONNAMEMEAES_714642.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_BUREAUBACKGRDDU_704642.visible"> 
        <div class="form-group cb-required" id="VA_BUREAUBACKGRDDU_704642_DIV"> 
         <label for="VA_BUREAUBACKGRDDU_704642" title="{{vc.viewState.VA_BUREAUBACKGRDDU_704642.label|translate:vc.viewState.VA_BUREAUBACKGRDDU_704642.labelArgs}}" ng-show="vc.viewState.VA_BUREAUBACKGRDDU_704642.visible" class="control-label">{{vc.viewState.VA_BUREAUBACKGRDDU_704642.label|translate:vc.viewState.VA_BUREAUBACKGRDDU_704642.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_BUREAUBACKGRDDU_704642" kendo-ext-combo-box="comboBox.VA_BUREAUBACKGRDDU_704642" placeholder="vc.getPlaceHolder()" name="ComplementaryRequestData_bureauBackground" ng-model="vc.model.ComplementaryRequestData.bureauBackground" ng-disabled="vc.viewState.VA_BUREAUBACKGRDDU_704642.disabled || vc.viewState.VA_BUREAUBACKGRDDU_704642.disabledingroup" ng-show="vc.viewState.VA_BUREAUBACKGRDDU_704642.visible" ng-readonly="vc.viewState.VA_BUREAUBACKGRDDU_704642.readonly" ng-class="vc.viewState.VA_BUREAUBACKGRDDU_704642.style" k-data-source="vc.catalogs.VA_BUREAUBACKGRDDU_704642" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_BUREAUBACKGRDDU_704642.template" data-cobis-group="Group,G_COMPLEMETQ_738642,0" required data-validation-code="{{vc.viewState.VA_BUREAUBACKGRDDU_704642.validationCode}}" data-required-msg="{{'CSTMR.MSG_CSTMR_CUENTACQS_35658'|translate}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_LANDLINEONESMPZ_626642.visible"> 
        <div class="form-group" id="VA_LANDLINEONESMPZ_626642_DIV"> 
         <label for="VA_LANDLINEONESMPZ_626642" title="{{vc.viewState.VA_LANDLINEONESMPZ_626642.label|translate:vc.viewState.VA_LANDLINEONESMPZ_626642.labelArgs}}" ng-show="vc.viewState.VA_LANDLINEONESMPZ_626642.visible" class="control-label">{{vc.viewState.VA_LANDLINEONESMPZ_626642.label|translate:vc.viewState.VA_LANDLINEONESMPZ_626642.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_LANDLINEONESMPZ_626642" name="ComplementaryRequestData_landlineOne" maxlength="10" type="text" class="form-control" ng-model="vc.model.ComplementaryRequestData.landlineOne" ng-disabled="vc.viewState.VA_LANDLINEONESMPZ_626642.disabled || vc.viewState.VA_LANDLINEONESMPZ_626642.disabledingroup" ng-show="vc.viewState.VA_LANDLINEONESMPZ_626642.visible" ng-readonly="vc.viewState.VA_LANDLINEONESMPZ_626642.readonly" ng-class="vc.viewState.VA_LANDLINEONESMPZ_626642.style" data-cobis-group="Group,G_COMPLEMETQ_738642,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_LANDLINEONESMPZ_626642.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_LANDLINETWOBRCP_258642.visible"> 
        <div class="form-group" id="VA_LANDLINETWOBRCP_258642_DIV"> 
         <label for="VA_LANDLINETWOBRCP_258642" title="{{vc.viewState.VA_LANDLINETWOBRCP_258642.label|translate:vc.viewState.VA_LANDLINETWOBRCP_258642.labelArgs}}" ng-show="vc.viewState.VA_LANDLINETWOBRCP_258642.visible" class="control-label">{{vc.viewState.VA_LANDLINETWOBRCP_258642.label|translate:vc.viewState.VA_LANDLINETWOBRCP_258642.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_LANDLINETWOBRCP_258642" name="ComplementaryRequestData_landlineTwo" maxlength="10" type="text" class="form-control" ng-model="vc.model.ComplementaryRequestData.landlineTwo" ng-disabled="vc.viewState.VA_LANDLINETWOBRCP_258642.disabled || vc.viewState.VA_LANDLINETWOBRCP_258642.disabledingroup" ng-show="vc.viewState.VA_LANDLINETWOBRCP_258642.visible" ng-readonly="vc.viewState.VA_LANDLINETWOBRCP_258642.readonly" ng-class="vc.viewState.VA_LANDLINETWOBRCP_258642.style" data-cobis-group="Group,G_COMPLEMETQ_738642,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_LANDLINETWOBRCP_258642.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_COMPLEMEQS_642--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_CSTMRWNGRIQPQ_400_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_COMPLEMEDR_886400')" ng-disabled="vc.viewState.T_CSTMRWNGRIQPQ_400_ACCEPT.disabled || vc.viewState.T_CSTMRWNGRIQPQ_400_ACCEPT.disabledingroup" ng-show="vc.viewState.T_CSTMRWNGRIQPQ_400_ACCEPT.visible" ng-class="vc.viewState.T_CSTMRWNGRIQPQ_400_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_CSTMRWNGRIQPQ_400_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_CSTMRWNGRIQPQ_400_CANCEL.disabled || vc.viewState.T_CSTMRWNGRIQPQ_400_CANCEL.disabledingroup" ng-show="vc.viewState.T_CSTMRWNGRIQPQ_400_CANCEL.visible" ng-class="vc.viewState.T_CSTMRWNGRIQPQ_400_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>