<!-- Designer Generator v 6.3.3 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_PAYMENTALO_139983" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_PAYMENTALO_139983.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_PAYMENTAAN_131--> 
  <div id="VC_PAYMENTALO_139983" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_PAYMENTLPA_538131" ng-show="vc.viewState.G_PAYMENTLPA_538131.visible" ng-class="vc.viewState.G_PAYMENTLPA_538131.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_PAYMENTLPA_538131" k-options="validatorOptions" id="G_PAYMENTLPA_538131_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-8" ng-show="vc.viewState.VA_1RKSKKIACKZKFJR_539131.visible"> 
        <div class="form-group" id="VA_1RKSKKIACKZKFJR_539131_DIV"> 
         <label for="VA_1RKSKKIACKZKFJR_539131" title="{{vc.viewState.VA_1RKSKKIACKZKFJR_539131.label|translate:vc.viewState.VA_1RKSKKIACKZKFJR_539131.labelArgs}}" ng-show="vc.viewState.VA_1RKSKKIACKZKFJR_539131.visible" class="control-label">{{vc.viewState.VA_1RKSKKIACKZKFJR_539131.label|translate:vc.viewState.VA_1RKSKKIACKZKFJR_539131.labelArgs}}</label> 
         <div class="cb-control"> 
          <div class="input-group"> 
           <div ng-hide="vc.viewState.uploadVisible"> 
            <input name="fileUploader" id="fileUploader" type="file" kendo-upload k-async="{
saveUrl: '${contextPath}/cobis/web/cobis-designer-engine-web/actions/fileupload?',
autoUpload: true
}" k-select="vc.onFileSelect" k-upload="vc.onFileUpload" k-success="vc.onSuccess" k-multiple="false" /> 
           </div> 
           <input id="VA_1RKSKKIACKZKFJR_539131" type="text" class="form-control" name="Entity17_attribute1" ng-model="vc.model.Entity17.attribute1" designer-restrict-input="lock" ng-disabled="vc.viewState.VA_1RKSKKIACKZKFJR_539131.disabled || vc.viewState.VA_1RKSKKIACKZKFJR_539131.disabledingroup" data-validation-code="{{vc.viewState.VA_1RKSKKIACKZKFJR_539131.validationCode}}" /> 
           <div class="input-group-btn"> 
            <div ng-hide="vc.viewState.VA_1RKSKKIACKZKFJR_539131.disableUpload"> 
             <button class="btn btn-default btn-block" alt="Adjuntar archivo" ng-disabled="vc.viewState.VA_1RKSKKIACKZKFJR_539131.disabled || vc.viewState.VA_1RKSKKIACKZKFJR_539131.disabledingroup" ng-mouseup="vc.clickFileUploader()" ng-mousedown="vc.executeCommand('VA_1RKSKKIACKZKFJR_539131','DSG_UPLOAD_FILE_',validator,false, false,'', false)" ng-show="vc.viewState.VA_1RKSKKIACKZKFJR_539131.visible" ng-class="vc.viewState.VA_1RKSKKIACKZKFJR_539131.style"> <span class="glyphicon glyphicon-paperclip"></span> </button> 
            </div> 
            <div ng-show="vc.viewState.VA_1RKSKKIACKZKFJR_539131.disableUpload"> 
             <button class="btn btn-primary btn-block" ng-show="vc.viewState.VA_1RKSKKIACKZKFJR_539131.visible" ng-class="vc.viewState.VA_1RKSKKIACKZKFJR_539131.style"> <span class="glyphicon glyphicon-ok"></span> </button> 
            </div> 
           </div> 
           <div class="input-group-btn"> 
            <button class="btn btn-default btn-block" alt="Eliminar archivo" ng-disabled="!vc.viewState.VA_1RKSKKIACKZKFJR_539131.disableUpload" ng-click="vc.removeFile('VA_1RKSKKIACKZKFJR_539131')" ng-show="vc.viewState.VA_1RKSKKIACKZKFJR_539131.visible" ng-class="vc.viewState.VA_1RKSKKIACKZKFJR_539131.style"> <span class="glyphicon glyphicon-remove-circle"></span> </button> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONUHRKEOM_688131.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONUHRKEOM_688131" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONUHRKEOM_688131','VA_VABUTTONUHRKEOM_688131',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONUHRKEOM_688131.disabled || vc.viewState.VA_VABUTTONUHRKEOM_688131.disabledingroup" ng-show="vc.viewState.VA_VABUTTONUHRKEOM_688131.visible" ng-class="vc.viewState.VA_VABUTTONUHRKEOM_688131.style"> {{vc.viewState.VA_VABUTTONUHRKEOM_688131.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_PAYMENTAPI_167131" ng-show="vc.viewState.G_PAYMENTAPI_167131.visible" ng-class="vc.viewState.G_PAYMENTAPI_167131.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_PAYMENTAPI_167131" k-options="validatorOptions" id="G_PAYMENTAPI_167131_VAL"> 
     <div id="QV_8495_46282" kendo-ext-grid="grids.QV_8495_46282" k-data-source="vc.model.PaymentApplication" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_8495_46282.editable" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="true" k-selectable="false" k-data-bound="vc.grids.QV_8495_46282.events.dataBound" k-columns="vc.grids.QV_8495_46282.columns" k-cancel="vc.grids.QV_8495_46282.events.cancel" k-edit="vc.grids.QV_8495_46282.events.edit" ng-class="vc.viewState.QV_8495_46282.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_PAYMENTAAN_131--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc || !vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_TASSTSWU_SAS" ng-click="vc.executeCommand('CM_TASSTSWU_SAS','Command1', validator, false, false, 'VC_PAYMENTALO_139983', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_TASSTSWU_SAS.disabled || vc.viewState.CM_TASSTSWU_SAS.disabledingroup" ng-show="vc.viewState.CM_TASSTSWU_SAS.visible" ng-class="vc.viewState.CM_TASSTSWU_SAS.style"> {{vc.viewState.CM_TASSTSWU_SAS.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_ASSTSWUUUFOXQ_983_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_PAYMENTALO_139983')" ng-disabled="vc.viewState.T_ASSTSWUUUFOXQ_983_ACCEPT.disabled || vc.viewState.T_ASSTSWUUUFOXQ_983_ACCEPT.disabledingroup" ng-show="vc.viewState.T_ASSTSWUUUFOXQ_983_ACCEPT.visible" ng-class="vc.viewState.T_ASSTSWUUUFOXQ_983_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_ASSTSWUUUFOXQ_983_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_ASSTSWUUUFOXQ_983_CANCEL.disabled || vc.viewState.T_ASSTSWUUUFOXQ_983_CANCEL.disabledingroup" ng-show="vc.viewState.T_ASSTSWUUUFOXQ_983_CANCEL.visible" ng-class="vc.viewState.T_ASSTSWUUUFOXQ_983_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>