<ul kendo-panel-bar class="cb-group cb-group-collapsible">	
	<li class="k-state-active k-item k-first k-state-highlight" role="menuitem" aria-expanded="true" aria-hidden="false">
		<span class="k-link k-header"><span translate="" class="ng-scope" translate> CLIENTVIEWER.LABELS.LBL_PERSONAL_DATA</span><span class="k-icon k-i-arrow-n k-panelbar-collapse"></span></span>
		<div class="k-content" role="region" aria-hidden="true" style="display: block;">
			<div class="row">
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label" translate>CLIENTVIEWER.LABELS.LBL_DOCUMENT_TYPE</label>
						<div>{{clientAdditionalData.documentTypeDescription}}</div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label" translate>CLIENTVIEWER.LABELS.LBL_CUSTOMER_IDENTIFICATION</label>
						<div>{{clientAdditionalData.onlyDocumentId}}</div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label" translate>CLIENTVIEWER.LABELS.LBL_BIRTH_DATE</label>
						<div>{{clientAdditionalData.expirationDate}}</div>
					</div>
				</div>	
			</div>
			<div class="row">
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label" translate>CLIENTVIEWER.LABELS.LBL_GENDER</label>
						<div>{{clientAdditionalData.gender}}</div>
					</div>
				</div>
				
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label" translate>CLIENTVIEWER.LABELS.LBL_BIRTH_DATE</label>
						<div>{{clientAdditionalData.birthDate}}</div>
					</div>
				</div>		
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label" translate>CLIENTVIEWER.LABELS.LBL_AGE</label>
						<div>{{clientAdditionalData.age}}</div>
					</div>
				</div>				
			</div>
			<div class="row">
				 <div class="col-xs-3">
					<div class="form-group">
						<label class="control-label" translate>CLIENTVIEWER.LABELS.LBL_GENDER</label>
						<div>{{clientAdditionalData.fullNameCouple}}</div>
					</div>
            </div>		
			</div>
		</div>
	</li>
	 <li class="k-state-active k-item k-state-highlight" role="menuitem" aria-expanded="true" aria-hidden="false">
		<span class="k-link k-header"><span translate="" class="ng-scope"translate>CLIENTVIEWER.LABELS.LBL_ACADEMIC_DATA</span><span class="k-icon k-i-arrow-n k-panelbar-collapse"></span></span>	
        <div class="k-content" role="region" aria-hidden="true" style="display: block;">
			 <div class="row">
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label" translate>CLIENTVIEWER.LABELS.LBL_STUDY_LEVEL</label>
						<div>{{clientAdditionalData.studyLevel}}</div>
					</div>
					</div>
					<div class="col-xs-3">
						<div class="form-group">
							<label class="control-label" translate>CLIENTVIEWER.LABELS.LBL_PROFESSION</label>
							<div>{{clientAdditionalData.profesion}}</div>
						</div>
					</div>
				</div>
			 </div>
		</div>
	</li>
	 <li class="k-state-active k-item k-state-highlight" role="menuitem" aria-expanded="true" aria-hidden="false">
		<span class="k-link k-header"><span translate="" class="ng-scope"translate>CLIENTVIEWER.LABELS.LBL_OTHER_INFORMATION</span><span class="k-icon k-i-arrow-n k-panelbar-collapse"></span></span>	
        <div class="k-content" role="region" aria-hidden="true" style="display: block;">
			 <div class="row">
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label" translate>CLIENTVIEWER.LABELS.LBL_MANAGEMENT_OFFICE</label>
						<div>{{clientAdditionalData.officeName}}</div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label" translate>CLIENTVIEWER.LABELS.LBL_NIT</label>
						<div>{{clientAdditionalData.nit}}</div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label" translate>CLIENTVIEWER.LABELS.LBL_ECONOMIC_GROUP</label>
						<div>{{clientAdditionalData.economicGroup}}</div>
					</div>
				</div>
			 </div>
			 <div class="row">
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label" translate>CLIENTVIEWER.LABELS.LBL_SECTOR_ACTIVITY</label>
						<div></div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label" translate>CLIENTVIEWER.LABELS.LBL_ACTIVITY</label>
						<div>{{clientAdditionalData.activity}}</div>
					</div>
				</div>	
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label" translate>CLIENTVIEWER.LABELS.LBL_RELATIONSHIP_BANK</label>
						<div>{{clientAdditionalData.reportSBS}}</div>
					</div>
				</div>		
			 </div>
			 <div class="row">
				 <div class="col-xs-3">
					<div class="form-group">
						<label class="control-label" translate>CLIENTVIEWER.LABELS.LBL_MAX_DEBT</label>
						<div>{{clientAdditionalData.maxIDeb}}</div>
					</div>
				</div>
			 </div>
		</div>
	</li>
</ul>