<ul kendo-panel-bar="" class="cb-group cb-group-collapsible ng-scope k-widget k-reset k-header k-panelbar" data-role="panelbar" tabindex="0" role="menu">	
	<li class="k-state-active k-item k-state-highlight" role="menuitem" aria-expanded="true" aria-hidden="false">
		<span class="k-link k-header"><span translate="" class="ng-scope"translate>CLIENTVIEWER.LABELS.LBL_TAB_MAXIMUN_DEBTS</span><span class="k-icon k-i-arrow-n k-panelbar-collapse"></span></span>	
		<div class="k-content" role="region" aria-hidden="true" style="display: block;">
			<div class="row">
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label" translate>CLIENTVIEWER.LABELS.LBL_LIMIT_DEBT</label>
						<div>{{maxDebtRequest.limitDebt| number:2}}</div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label" translate>CLIENTVIEWER.LABELS.LBL_DEBT_AMOUNT</label>
						<div>{{maxDebtRequest.debtAmount| number:2}}</div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label" translate>CLIENTVIEWER.LABELS.LBL_AVAILABLE</label>
						<div>{{maxDebtRequest.available| number:2}}</div>
					</div>
				</div>		                    
			</div>
		</div>
	</li>
</ul>