<!-- Designer Generator v 5.0.0.1626 - release SPR 2016-26 08/01/2016 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_KTOIT54_DOLST_848" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_KTOIT54_DOLST_848.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_KTOIT54_DOLST_848" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="GR_DTOLISTTJE03_02" ng-show="vc.viewState.GR_DTOLISTTJE03_02.visible" ng-class="vc.viewState.GR_DTOLISTTJE03_02.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="GR_DTOLISTTJE03_02" k-options="validatorOptions" id="GR_DTOLISTTJE03_02_VAL"> 
     <div id="QV_DETAL2498_88" kendo-ext-grid="grids.QV_DETAL2498_88" k-data-source="vc.model.DTOS" k-column-menu="false" k-sortable="false" k-pageable="{refresh: false, pageSizes: false, buttonCount: 5}" k-editable="vc.viewState.GR_DTOLISTTJE03_02.disabled?false:'inline'" k-toolbar="vc.grids.QV_DETAL2498_88.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="true" k-change="vc.grids.QV_DETAL2498_88.events.change" k-data-bound="vc.grids.QV_DETAL2498_88.events.dataBound" k-columns="vc.grids.QV_DETAL2498_88.columns" k-cancel="vc.grids.QV_DETAL2498_88.events.cancel" k-edit="vc.grids.QV_DETAL2498_88.events.edit" ng-class="vc.viewState.QV_DETAL2498_88.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </div> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_UCSPM_16_KTOIT54_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_KTOIT54_DOLST_848')" ng-disabled="vc.viewState.T_UCSPM_16_KTOIT54_ACCEPT.disabled || vc.viewState.T_UCSPM_16_KTOIT54_ACCEPT.disabledingroup" ng-show="vc.viewState.T_UCSPM_16_KTOIT54_ACCEPT.visible" ng-class="vc.viewState.T_UCSPM_16_KTOIT54_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_UCSPM_16_KTOIT54_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_UCSPM_16_KTOIT54_CANCEL.disabled || vc.viewState.T_UCSPM_16_KTOIT54_CANCEL.disabledingroup" ng-show="vc.viewState.T_UCSPM_16_KTOIT54_CANCEL.visible" ng-class="vc.viewState.T_UCSPM_16_KTOIT54_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>