<!-- Designer Generator v 6.1.1 - release SPR 2017-05_01 03/20/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_MEMBERACTN_894593" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_MEMBERACTN_894593.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_MEMBERACNO_750--> 
  <div id="VC_MEMBERACTN_894593" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_MEMBERAUCN_101750" ng-show="vc.viewState.G_MEMBERAUCN_101750.visible" ng-class="vc.viewState.G_MEMBERAUCN_101750.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_MEMBERAUCN_101750" k-options="validatorOptions" id="G_MEMBERAUCN_101750_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_1604DQVPVZOCATA_609750.visible"> 
        <div class="form-group" id="VA_1604DQVPVZOCATA_609750_DIV"> 
         <label for="VA_1604DQVPVZOCATA_609750" title="{{vc.viewState.VA_1604DQVPVZOCATA_609750.label|translate:vc.viewState.VA_1604DQVPVZOCATA_609750.labelArgs}}" ng-show="vc.viewState.VA_1604DQVPVZOCATA_609750.visible" class="control-label">{{vc.viewState.VA_1604DQVPVZOCATA_609750.label|translate:vc.viewState.VA_1604DQVPVZOCATA_609750.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_1604DQVPVZOCATA_609750" name="PaymentSelection_selectedType" kendo-ext-combo-box="comboBox.VA_1604DQVPVZOCATA_609750" ng-model="vc.model.PaymentSelection.selectedType" ng-disabled="vc.viewState.VA_1604DQVPVZOCATA_609750.disabled || vc.viewState.VA_1604DQVPVZOCATA_609750.disabledingroup" ng-show="vc.viewState.VA_1604DQVPVZOCATA_609750.visible" ng-readonly="vc.viewState.VA_1604DQVPVZOCATA_609750.readonly" ng-class="vc.viewState.VA_1604DQVPVZOCATA_609750.style" k-index="0" k-auto-bind="true" k-data-source="vc.catalogs.VA_1604DQVPVZOCATA_609750" k-ng-delay="vc.afterInitData" k-data-text-field="'value'" k-data-value-field="'code'" k-template="vc.viewState.VA_1604DQVPVZOCATA_609750.template" data-cobis-group="Group,G_MEMBERAUCN_101750,0" data-validation-code="{{vc.viewState.VA_1604DQVPVZOCATA_609750.validationCode}}" designer-change /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_GROUPIDVCEQLPRI_938750.visible"> 
        <div class="form-group" id="VA_GROUPIDVCEQLPRI_938750_DIV"> 
         <label for="VA_GROUPIDVCEQLPRI_938750" title="{{vc.viewState.VA_GROUPIDVCEQLPRI_938750.label|translate:vc.viewState.VA_GROUPIDVCEQLPRI_938750.labelArgs}}" ng-show="vc.viewState.VA_GROUPIDVCEQLPRI_938750.visible" class="control-label">{{vc.viewState.VA_GROUPIDVCEQLPRI_938750.label|translate:vc.viewState.VA_GROUPIDVCEQLPRI_938750.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_GROUPIDVCEQLPRI_938750" name="PaymentSelection_groupId" type="text" class="form-control" ng-model="vc.model.PaymentSelection.groupId" ng-disabled="vc.viewState.VA_GROUPIDVCEQLPRI_938750.disabled || vc.viewState.VA_GROUPIDVCEQLPRI_938750.disabledingroup" ng-show="vc.viewState.VA_GROUPIDVCEQLPRI_938750.visible" ng-readonly="vc.viewState.VA_GROUPIDVCEQLPRI_938750.readonly" ng-class="vc.viewState.VA_GROUPIDVCEQLPRI_938750.style" data-cobis-group="Group,G_MEMBERAUCN_101750,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_GROUPIDVCEQLPRI_938750.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_TRANSACTIONNBRM_714750.visible"> 
        <div class="form-group" id="VA_TRANSACTIONNBRM_714750_DIV"> 
         <label for="VA_TRANSACTIONNBRM_714750" title="{{vc.viewState.VA_TRANSACTIONNBRM_714750.label|translate:vc.viewState.VA_TRANSACTIONNBRM_714750.labelArgs}}" ng-show="vc.viewState.VA_TRANSACTIONNBRM_714750.visible" class="control-label">{{vc.viewState.VA_TRANSACTIONNBRM_714750.label|translate:vc.viewState.VA_TRANSACTIONNBRM_714750.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_TRANSACTIONNBRM_714750" name="PaymentSelection_transactionNumber" type="text" class="form-control" ng-model="vc.model.PaymentSelection.transactionNumber" ng-disabled="vc.viewState.VA_TRANSACTIONNBRM_714750.disabled || vc.viewState.VA_TRANSACTIONNBRM_714750.disabledingroup" ng-show="vc.viewState.VA_TRANSACTIONNBRM_714750.visible" ng-readonly="vc.viewState.VA_TRANSACTIONNBRM_714750.readonly" ng-class="vc.viewState.VA_TRANSACTIONNBRM_714750.style" data-cobis-group="Group,G_MEMBERAUCN_101750,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_TRANSACTIONNBRM_714750.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONINEGDLY_123750.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONINEGDLY_123750" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONINEGDLY_123750','VA_VABUTTONINEGDLY_123750',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONINEGDLY_123750.disabled || vc.viewState.VA_VABUTTONINEGDLY_123750.disabledingroup" ng-show="vc.viewState.VA_VABUTTONINEGDLY_123750.visible" ng-class="vc.viewState.VA_VABUTTONINEGDLY_123750.style"> {{vc.viewState.VA_VABUTTONINEGDLY_123750.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_MEMBERANUT_667750" ng-show="vc.viewState.G_MEMBERANUT_667750.visible" ng-class="vc.viewState.G_MEMBERANUT_667750.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_MEMBERANUT_667750" k-options="validatorOptions" id="G_MEMBERANUT_667750_VAL"> 
     <div id="QV_6248_48646" kendo-ext-grid="grids.QV_6248_48646" k-data-source="vc.model.Amount" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_6248_48646.editable" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_6248_48646.events.dataBound" k-columns="vc.grids.QV_6248_48646.columns" k-cancel="vc.grids.QV_6248_48646.events.cancel" k-edit="vc.grids.QV_6248_48646.events.edit" ng-class="vc.viewState.QV_6248_48646.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_MEMBERACNO_750--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_MEMBERACCOUUU_593_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_MEMBERACTN_894593')" ng-disabled="vc.viewState.T_MEMBERACCOUUU_593_ACCEPT.disabled || vc.viewState.T_MEMBERACCOUUU_593_ACCEPT.disabledingroup" ng-show="vc.viewState.T_MEMBERACCOUUU_593_ACCEPT.visible" ng-class="vc.viewState.T_MEMBERACCOUUU_593_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_MEMBERACCOUUU_593_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_MEMBERACCOUUU_593_CANCEL.disabled || vc.viewState.T_MEMBERACCOUUU_593_CANCEL.disabledingroup" ng-show="vc.viewState.T_MEMBERACCOUUU_593_CANCEL.visible" ng-class="vc.viewState.T_MEMBERACCOUUU_593_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>