<!-- Designer Generator v 6.3.3 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_SCANNEDDEU_695486" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_SCANNEDDEU_695486.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <div id="VC_SCANNEDDEU_695486" ng-keydown="vc.viewState.keyDown($event)" class="cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="VC_PGMLATICRP_856486" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_PGMLATICRP_856486', vc.viewState.VC_PGMLATICRP_856486.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_PGMLATICRP_856486.visible"> 
    <div id="VC_LQUZTMTNNT_257728" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_LQUZTMTNNT_257728', vc.viewState.VC_LQUZTMTNNT_257728.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_LQUZTMTNNT_257728.visible"> 
     <div id="VC_LQUZTMTNNT_257728_VAL" kendo-validator="VC_LQUZTMTNNT_257728" k-options="validatorOptions"> 
      <!-- Inicio item VW_HEADERGROO_993--> 
      <div designer-form-load form="vc.viewState.G_HEADERGUOP_223993" class="cb-group cb-group-html-section"> 
      </div> 
      <!-- Fin item VW_HEADERGROO_993--> 
     </div> 
    </div> 
   </div> 
   <div id="VC_RMXKWTYEJE_804614" class="cb-view-container cb-group-layout" ng-class="vc.getCssClass('VC_RMXKWTYEJE_804614', vc.viewState.VC_RMXKWTYEJE_804614.style, {'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false})" ng-show="vc.viewState.VC_RMXKWTYEJE_804614.visible"> 
    <div id="VC_RMXKWTYEJE_804614_VAL" kendo-validator="VC_RMXKWTYEJE_804614" k-options="validatorOptions"> 
     <!-- Inicio item VW_SCANNEDDCS_539--> 
     <div id="G_SCANNEDMNS_453539" ng-show="vc.viewState.G_SCANNEDMNS_453539.visible" ng-class="vc.viewState.G_SCANNEDMNS_453539.style" class="cb-group cb-group-simple"> 
      <div kendo-validator="G_SCANNEDMNS_453539" k-options="validatorOptions" id="G_SCANNEDMNS_453539_VAL"> 
       <div id="QV_1763_79525" kendo-ext-grid="grids.QV_1763_79525" k-data-source="vc.model.ScannedDocuments" k-column-menu="false" k-sortable="false" k-editable="vc.grids.QV_1763_79525.editable" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_1763_79525.events.dataBound" k-columns="vc.grids.QV_1763_79525.columns" k-cancel="vc.grids.QV_1763_79525.events.cancel" k-edit="vc.grids.QV_1763_79525.events.edit" k-data-binding="vc.grids.QV_1763_79525.events.dataBinding" k-detail-template="vc.grids.QV_1763_79525.detailTemplate" k-detail-expand="vc.grids.QV_1763_79525.events.detailExpand" ng-class="vc.viewState.QV_1763_79525.style" k-ng-delay="vc.afterInitData"></div> 
      </div> 
     </div> 
     <div id="G_SCANNEDEST_604539" ng-show="vc.viewState.G_SCANNEDEST_604539.visible" ng-class="vc.viewState.G_SCANNEDEST_604539.style" class="cb-group cb-group-simple"> 
      <div kendo-validator="G_SCANNEDEST_604539" k-options="validatorOptions" id="G_SCANNEDEST_604539_VAL"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONJQYRZQE_653539.visible"> 
          <div class="form-group"> 
           <label class="control-label">&nbsp;</label> 
           <div class="cb-control"> 
            <button id="VA_VABUTTONJQYRZQE_653539" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONJQYRZQE_653539','VA_VABUTTONJQYRZQE_653539',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONJQYRZQE_653539.disabled || vc.viewState.VA_VABUTTONJQYRZQE_653539.disabledingroup" ng-show="vc.viewState.VA_VABUTTONJQYRZQE_653539.visible" ng-class="vc.viewState.VA_VABUTTONJQYRZQE_653539.style"> {{vc.viewState.VA_VABUTTONJQYRZQE_653539.label|translate}} </button> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
     <!-- Fin item VW_SCANNEDDCS_539--> 
    </div> 
   </div> 
  </div> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc || !vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_TLOANSCA_SL0" ng-click="vc.executeCommand('CM_TLOANSCA_SL0','Command1', validator, false, false, 'VC_SCANNEDDEU_695486', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_TLOANSCA_SL0.disabled || vc.viewState.CM_TLOANSCA_SL0.disabledingroup" ng-show="vc.viewState.CM_TLOANSCA_SL0.visible" ng-class="vc.viewState.CM_TLOANSCA_SL0.style"> {{vc.viewState.CM_TLOANSCA_SL0.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_LOANSCAIEJKDY_486_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_SCANNEDDEU_695486')" ng-disabled="vc.viewState.T_LOANSCAIEJKDY_486_ACCEPT.disabled || vc.viewState.T_LOANSCAIEJKDY_486_ACCEPT.disabledingroup" ng-show="vc.viewState.T_LOANSCAIEJKDY_486_ACCEPT.visible" ng-class="vc.viewState.T_LOANSCAIEJKDY_486_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_LOANSCAIEJKDY_486_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_LOANSCAIEJKDY_486_CANCEL.disabled || vc.viewState.T_LOANSCAIEJKDY_486_CANCEL.disabledingroup" ng-show="vc.viewState.T_LOANSCAIEJKDY_486_CANCEL.visible" ng-class="vc.viewState.T_LOANSCAIEJKDY_486_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>