<!-- Designer Generator v 6.4.0.5 - SPR 2019-03 15/02/2019 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_BUSINESSPR_115114" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_BUSINESSPR_115114.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_BUSINESSPU_304--> 
  <div id="VC_BUSINESSPR_115114" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_BUSINESSSS_687304" ng-class="vc.viewState.G_BUSINESSSS_687304.style" class="cb-group cb-group-layout"> 
    <div id="G_BUSINESSSS_687304_VAL" kendo-validator="G_BUSINESSSS_687304" k-options="validatorOptions"> 
     <div id="G_BUSINESSSS_428304" class="cb-group cb-group-simple" ng-show="vc.viewState.G_BUSINESSSS_428304.visible" ng-class="vc.viewState.G_BUSINESSSS_428304.style"> 
      <div designer-form-load form="vc.viewState.G_BUSINESSSS_428304" class="cb-group cb-group-html-section"> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_BUSINESSSS_972304" ng-show="vc.viewState.G_BUSINESSSS_972304.visible" ng-class="vc.viewState.G_BUSINESSSS_972304.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_BUSINESSSS_972304" k-options="validatorOptions" id="G_BUSINESSSS_972304_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_CODEZGXWKDYWYYB_648304.visible"> 
        <div class="form-group" id="VA_CODEZGXWKDYWYYB_648304_DIV"> 
         <label for="VA_CODEZGXWKDYWYYB_648304" title="{{vc.viewState.VA_CODEZGXWKDYWYYB_648304.label|translate:vc.viewState.VA_CODEZGXWKDYWYYB_648304.labelArgs}}" ng-show="vc.viewState.VA_CODEZGXWKDYWYYB_648304.visible" class="control-label">{{vc.viewState.VA_CODEZGXWKDYWYYB_648304.label|translate:vc.viewState.VA_CODEZGXWKDYWYYB_648304.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_CODEZGXWKDYWYYB_648304" name="CustomerTmpBusiness_code" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_CODEZGXWKDYWYYB_648304.decimals" k-format="vc.viewState.VA_CODEZGXWKDYWYYB_648304.format" k-ng-model="vc.model.CustomerTmpBusiness.code" ng-model="vc.tmpModel.CustomerTmpBusiness.code" ng-disabled="vc.viewState.VA_CODEZGXWKDYWYYB_648304.disabled || vc.viewState.VA_CODEZGXWKDYWYYB_648304.disabledingroup" ng-show="vc.viewState.VA_CODEZGXWKDYWYYB_648304.visible" ng-readonly="vc.viewState.VA_CODEZGXWKDYWYYB_648304.readonly" ng-class="vc.viewState.VA_CODEZGXWKDYWYYB_648304.style" data-cobis-group="Group,G_BUSINESSSS_972304,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_CODEZGXWKDYWYYB_648304.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONJPSJYQV_906304.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONJPSJYQV_906304" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONJPSJYQV_906304','VA_VABUTTONJPSJYQV_906304',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONJPSJYQV_906304.disabled || vc.viewState.VA_VABUTTONJPSJYQV_906304.disabledingroup" ng-show="vc.viewState.VA_VABUTTONJPSJYQV_906304.visible" ng-class="vc.viewState.VA_VABUTTONJPSJYQV_906304.style"> {{vc.viewState.VA_VABUTTONJPSJYQV_906304.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_BUSINESSSS_110304" ng-show="vc.viewState.G_BUSINESSSS_110304.visible" ng-class="vc.viewState.G_BUSINESSSS_110304.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_BUSINESSSS_110304" k-options="validatorOptions" id="G_BUSINESSSS_110304_VAL"> 
     <div id="QV_6359_40398" kendo-ext-grid="grids.QV_6359_40398" k-data-source="vc.model.Business" k-column-menu="false" k-sortable="false" k-pageable="{refresh: false, pageSizes: false, buttonCount: 5}" k-editable="vc.grids.QV_6359_40398.editable" k-toolbar="vc.grids.QV_6359_40398.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="true" k-selectable="false" k-data-bound="vc.grids.QV_6359_40398.events.dataBound" k-columns="vc.grids.QV_6359_40398.columns" k-cancel="vc.grids.QV_6359_40398.events.cancel" k-edit="vc.grids.QV_6359_40398.events.edit" k-data-binding="vc.grids.QV_6359_40398.events.dataBinding" ng-class="vc.viewState.QV_6359_40398.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_BUSINESSPU_304--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_BUSINESSFMWNQ_114_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_BUSINESSPR_115114')" ng-disabled="vc.viewState.T_BUSINESSFMWNQ_114_ACCEPT.disabled || vc.viewState.T_BUSINESSFMWNQ_114_ACCEPT.disabledingroup" ng-show="vc.viewState.T_BUSINESSFMWNQ_114_ACCEPT.visible" ng-class="vc.viewState.T_BUSINESSFMWNQ_114_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_BUSINESSFMWNQ_114_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_BUSINESSFMWNQ_114_CANCEL.disabled || vc.viewState.T_BUSINESSFMWNQ_114_CANCEL.disabledingroup" ng-show="vc.viewState.T_BUSINESSFMWNQ_114_CANCEL.visible" ng-class="vc.viewState.T_BUSINESSFMWNQ_114_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>