<!-- Designer Generator v 6.4.0.5 - SPR 2019-03 15/02/2019 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_PREFILLESE_234783" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_PREFILLESE_234783.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_PREFILLEST_167--> 
  <div id="VC_PREFILLESE_234783" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_PREFILLQQE_432167" ng-class="vc.viewState.G_PREFILLQQE_432167.style" class="cb-group cb-group-layout"> 
    <div id="G_PREFILLQQE_432167_VAL" kendo-validator="G_PREFILLQQE_432167" k-options="validatorOptions"> 
     <fieldset id="G_PREFILLDTD_451167" ng-show="vc.viewState.G_PREFILLDTD_451167.visible" ng-class="vc.viewState.G_PREFILLDTD_451167.style" class="cb-group cb-group-simple"> 
      <legend> <span ng-bind="vc.viewState.G_PREFILLDTD_451167.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.G_PREFILLDTD_451167.statusStyle.success, 'cb-validation-fail': vc.viewState.G_PREFILLDTD_451167.statusStyle.fail, 'cb-validation-none': vc.viewState.G_PREFILLDTD_451167.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.G_PREFILLDTD_451167.label|translate}}</span> </legend> 
      <div id="G_PREFILLDTD_451167_VAL" kendo-validator="G_PREFILLDTD_451167" k-options="validatorOptions"> 
       <div class="form-vertical"> 
        <div class="row"> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_CLIENTIDPDVYIIU_934167.visible"> 
          <div class="form-group" id="VA_CLIENTIDPDVYIIU_934167_DIV"> 
           <label for="VA_CLIENTIDPDVYIIU_934167" title="{{vc.viewState.VA_CLIENTIDPDVYIIU_934167.label|translate:vc.viewState.VA_CLIENTIDPDVYIIU_934167.labelArgs}}" ng-show="vc.viewState.VA_CLIENTIDPDVYIIU_934167.visible" class="control-label">{{vc.viewState.VA_CLIENTIDPDVYIIU_934167.label|translate:vc.viewState.VA_CLIENTIDPDVYIIU_934167.labelArgs}}</label> 
           <div class="cb-control"> 
            <div class="input-group"> 
             <input id="VA_CLIENTIDPDVYIIU_934167" name="PrefilledRequest_clientIdStr" maxlength="11" type="text" class="form-control" ng-model="vc.model.PrefilledRequest.clientIdStr" ng-disabled="vc.viewState.VA_CLIENTIDPDVYIIU_934167.disabled || vc.viewState.VA_CLIENTIDPDVYIIU_934167.disabledingroup" ng-show="vc.viewState.VA_CLIENTIDPDVYIIU_934167.visible" ng-readonly="vc.viewState.VA_CLIENTIDPDVYIIU_934167.readonly" ng-class="vc.viewState.VA_CLIENTIDPDVYIIU_934167.style" data-cobis-group="GroupLayout,G_PREFILLQQE_432167,0" ng-model-onblur designer-restrict-input="numbers" compare-in-range compare-min="0" compare-max="2147483647" data-validation-code="{{vc.viewState.VA_CLIENTIDPDVYIIU_934167.validationCode}}" data-compareinrange-msg="{{'ASSCR.MSG_ASSCR_VALORINEA_55938'|translate}}" /> 
             <div class="input-group-btn"> 
              <button class="btn btn-default btn-block" ng-click="vc.clickTextInputButton('VA_CLIENTIDPDVYIIU_934167')" ng-disabled="vc.viewState.VA_CLIENTIDPDVYIIU_934167.disabled || vc.viewState.VA_CLIENTIDPDVYIIU_934167.disabledingroup" ng-show="vc.viewState.VA_CLIENTIDPDVYIIU_934167.visible" ng-class="vc.viewState.VA_CLIENTIDPDVYIIU_934167.style"> <span class="glyphicon glyphicon-align-justify"></span> </button> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_GROUPREQUESTFFM_764167.visible"> 
          <div class="form-group" id="VA_GROUPREQUESTFFM_764167_DIV"> 
           <label>&nbsp; </label> 
           <div class="cb-control"> 
            <div> 
             <label class="checkbox-inline"> <input id="VA_GROUPREQUESTFFM_764167" name="PrefilledRequest_groupRequest" type="checkbox" ng-model="vc.model.PrefilledRequest.groupRequest" ng-disabled="vc.viewState.VA_GROUPREQUESTFFM_764167.disabled || vc.viewState.VA_GROUPREQUESTFFM_764167.disabledingroup" ng-show="vc.viewState.VA_GROUPREQUESTFFM_764167.visible" ng-class="vc.viewState.VA_GROUPREQUESTFFM_764167.style" ng-true-value="'S'" ng-false-value="'N'" ng-init="vc.setFalseValueForCheckBoxIfNull(vc.model.PrefilledRequest, 'groupRequest', 'N');" /> <span ng-if="vc.viewState.VA_GROUPREQUESTFFM_764167.visible"> {{vc.viewState.VA_GROUPREQUESTFFM_764167.label|translate}} </span> </label> 
            </div> 
           </div> 
          </div> 
         </div> 
         <div class="col-xs-4" ng-show="vc.viewState.VA_RENEWALSREQUEET_697167.visible"> 
          <div class="form-group" id="VA_RENEWALSREQUEET_697167_DIV"> 
           <label>&nbsp; </label> 
           <div class="cb-control"> 
            <div> 
             <label class="checkbox-inline"> <input id="VA_RENEWALSREQUEET_697167" name="PrefilledRequest_renewalsRequest" type="checkbox" ng-model="vc.model.PrefilledRequest.renewalsRequest" ng-disabled="vc.viewState.VA_RENEWALSREQUEET_697167.disabled || vc.viewState.VA_RENEWALSREQUEET_697167.disabledingroup" ng-show="vc.viewState.VA_RENEWALSREQUEET_697167.visible" ng-class="vc.viewState.VA_RENEWALSREQUEET_697167.style" ng-true-value="'S'" ng-false-value="'N'" ng-init="vc.setFalseValueForCheckBoxIfNull(vc.model.PrefilledRequest, 'renewalsRequest', 'N');" /> <span ng-if="vc.viewState.VA_RENEWALSREQUEET_697167.visible"> {{vc.viewState.VA_RENEWALSREQUEET_697167.label|translate}} </span> </label> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </fieldset> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_PREFILLEST_167--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc || !vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_TASSCRMF_NWA" ng-click="vc.executeCommand('CM_TASSCRMF_NWA','Command1', validator, false, false, 'VC_PREFILLESE_234783', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_TASSCRMF_NWA.disabled || vc.viewState.CM_TASSCRMF_NWA.disabledingroup" ng-show="vc.viewState.CM_TASSCRMF_NWA.visible" ng-class="vc.viewState.CM_TASSCRMF_NWA.style"> {{vc.viewState.CM_TASSCRMF_NWA.label|translate}} </button> 
    <button id="CM_TASSCRMF_I20" ng-click="vc.executeCommand('CM_TASSCRMF_I20','Command2', validator, false, false, 'VC_PREFILLESE_234783', false)" class="btn btn-default navbar-btn" ng-disabled="vc.viewState.CM_TASSCRMF_I20.disabled || vc.viewState.CM_TASSCRMF_I20.disabledingroup" ng-show="vc.viewState.CM_TASSCRMF_I20.visible" ng-class="vc.viewState.CM_TASSCRMF_I20.style"> {{vc.viewState.CM_TASSCRMF_I20.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_ASSCRMFWPCNKI_783_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_PREFILLESE_234783')" ng-disabled="vc.viewState.T_ASSCRMFWPCNKI_783_ACCEPT.disabled || vc.viewState.T_ASSCRMFWPCNKI_783_ACCEPT.disabledingroup" ng-show="vc.viewState.T_ASSCRMFWPCNKI_783_ACCEPT.visible" ng-class="vc.viewState.T_ASSCRMFWPCNKI_783_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_ASSCRMFWPCNKI_783_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_ASSCRMFWPCNKI_783_CANCEL.disabled || vc.viewState.T_ASSCRMFWPCNKI_783_CANCEL.disabledingroup" ng-show="vc.viewState.T_ASSCRMFWPCNKI_783_CANCEL.visible" ng-class="vc.viewState.T_ASSCRMFWPCNKI_783_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>