<!-- Designer Generator v 6.4.0.5 - SPR 2019-03 15/02/2019 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_ADDRESSYWA_591769" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_ADDRESSYWA_591769.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_ADDRESSOTU_566--> 
  <div id="VC_ADDRESSYWA_591769" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_ADDRESSHQX_118566" ng-class="vc.viewState.G_ADDRESSHQX_118566.style" class="cb-group cb-group-layout"> 
    <div id="G_ADDRESSHQX_118566_VAL" kendo-validator="G_ADDRESSHQX_118566" k-options="validatorOptions"> 
     <div id="G_ADDRESSXDI_956566" class="cb-group cb-group-simple" ng-show="vc.viewState.G_ADDRESSXDI_956566.visible" ng-class="vc.viewState.G_ADDRESSXDI_956566.style"> 
      <div designer-form-load form="vc.viewState.G_ADDRESSXDI_956566" class="cb-group cb-group-html-section"> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div id="G_ADDRESSHTB_233566" ng-show="vc.viewState.G_ADDRESSHTB_233566.visible" ng-class="vc.viewState.G_ADDRESSHTB_233566.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_ADDRESSHTB_233566" k-options="validatorOptions" id="G_ADDRESSHTB_233566_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_CODERWEMFUUBAQJ_654566.visible"> 
        <div class="form-group" id="VA_CODERWEMFUUBAQJ_654566_DIV"> 
         <label for="VA_CODERWEMFUUBAQJ_654566" title="{{vc.viewState.VA_CODERWEMFUUBAQJ_654566.label|translate:vc.viewState.VA_CODERWEMFUUBAQJ_654566.labelArgs}}" ng-show="vc.viewState.VA_CODERWEMFUUBAQJ_654566.visible" class="control-label">{{vc.viewState.VA_CODERWEMFUUBAQJ_654566.label|translate:vc.viewState.VA_CODERWEMFUUBAQJ_654566.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_CODERWEMFUUBAQJ_654566" name="CustomerTmp_code" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-decimals="vc.viewState.VA_CODERWEMFUUBAQJ_654566.decimals" k-format="vc.viewState.VA_CODERWEMFUUBAQJ_654566.format" k-ng-model="vc.model.CustomerTmp.code" ng-model="vc.tmpModel.CustomerTmp.code" ng-disabled="vc.viewState.VA_CODERWEMFUUBAQJ_654566.disabled || vc.viewState.VA_CODERWEMFUUBAQJ_654566.disabledingroup" ng-show="vc.viewState.VA_CODERWEMFUUBAQJ_654566.visible" ng-readonly="vc.viewState.VA_CODERWEMFUUBAQJ_654566.readonly" ng-class="vc.viewState.VA_CODERWEMFUUBAQJ_654566.style" data-cobis-group="Group,G_ADDRESSHTB_233566,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_CODERWEMFUUBAQJ_654566.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONYDIJDRL_132566.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONYDIJDRL_132566" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONYDIJDRL_132566','VA_VABUTTONYDIJDRL_132566',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONYDIJDRL_132566.disabled || vc.viewState.VA_VABUTTONYDIJDRL_132566.disabledingroup" ng-show="vc.viewState.VA_VABUTTONYDIJDRL_132566.visible" ng-class="vc.viewState.VA_VABUTTONYDIJDRL_132566.style"> {{vc.viewState.VA_VABUTTONYDIJDRL_132566.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONWVQOBVO_763566.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONWVQOBVO_763566" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONWVQOBVO_763566','VA_VABUTTONWVQOBVO_763566',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONWVQOBVO_763566.disabled || vc.viewState.VA_VABUTTONWVQOBVO_763566.disabledingroup" ng-show="vc.viewState.VA_VABUTTONWVQOBVO_763566.visible" ng-class="vc.viewState.VA_VABUTTONWVQOBVO_763566.style"> {{vc.viewState.VA_VABUTTONWVQOBVO_763566.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <fieldset id="G_ADDRESSRXH_631566" ng-show="vc.viewState.G_ADDRESSRXH_631566.visible" ng-class="vc.viewState.G_ADDRESSRXH_631566.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_ADDRESSRXH_631566" k-options="validatorOptions" id="G_ADDRESSRXH_631566_VAL"> 
     <legend> <span ng-bind="vc.viewState.G_ADDRESSRXH_631566.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.G_ADDRESSRXH_631566.statusStyle.success, 'cb-validation-fail': vc.viewState.G_ADDRESSRXH_631566.statusStyle.fail, 'cb-validation-none': vc.viewState.G_ADDRESSRXH_631566.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.G_ADDRESSRXH_631566.label|translate}}</span> </legend> 
     <div id="QV_4851_97960" kendo-ext-grid="grids.QV_4851_97960" k-data-source="vc.model.PhysicalAddress" k-column-menu="false" k-sortable="false" k-pageable="{refresh: false, pageSizes: false, buttonCount: 5}" k-editable="vc.grids.QV_4851_97960.editable" k-toolbar="vc.grids.QV_4851_97960.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="true" k-selectable="false" k-data-bound="vc.grids.QV_4851_97960.events.dataBound" k-columns="vc.grids.QV_4851_97960.columns" k-cancel="vc.grids.QV_4851_97960.events.cancel" k-edit="vc.grids.QV_4851_97960.events.edit" k-data-binding="vc.grids.QV_4851_97960.events.dataBinding" ng-class="vc.viewState.QV_4851_97960.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </fieldset> 
   <fieldset id="G_ADDRESSLJO_139566" ng-show="vc.viewState.G_ADDRESSLJO_139566.visible" ng-class="vc.viewState.G_ADDRESSLJO_139566.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_ADDRESSLJO_139566" k-options="validatorOptions" id="G_ADDRESSLJO_139566_VAL"> 
     <legend> <span ng-bind="vc.viewState.G_ADDRESSLJO_139566.statusStyle.numErrors" ng-class="{ 'cb-validation-success': vc.viewState.G_ADDRESSLJO_139566.statusStyle.success, 'cb-validation-fail': vc.viewState.G_ADDRESSLJO_139566.statusStyle.fail, 'cb-validation-none': vc.viewState.G_ADDRESSLJO_139566.statusStyle.none}"></span> <span class="cb-title">{{vc.viewState.G_ADDRESSLJO_139566.label|translate}}</span> </legend> 
     <div id="QV_9303_67123" kendo-ext-grid="grids.QV_9303_67123" k-data-source="vc.model.VirtualAddress" k-column-menu="false" k-sortable="false" k-pageable="{refresh: false, pageSizes: false, buttonCount: 5}" k-editable="vc.grids.QV_9303_67123.editable" k-toolbar="vc.grids.QV_9303_67123.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_9303_67123.events.dataBound" k-columns="vc.grids.QV_9303_67123.columns" k-cancel="vc.grids.QV_9303_67123.events.cancel" k-edit="vc.grids.QV_9303_67123.events.edit" k-data-binding="vc.grids.QV_9303_67123.events.dataBinding" ng-class="vc.viewState.QV_9303_67123.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </fieldset> 
   <div id="G_ADDRESSXST_172566" ng-show="vc.viewState.G_ADDRESSXST_172566.visible" ng-class="vc.viewState.G_ADDRESSXST_172566.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_ADDRESSXST_172566" k-options="validatorOptions" id="G_ADDRESSXST_172566_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.Spacer1131.visible"> 
        <div class="form-group cb-spacer"> 
         <label class="control-label">&nbsp;</label> 
         <span class="cb-control"></span> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_ADDRESSOTU_566--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="!vc.childVc || !vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="CM_TADDRESS_C49" ng-click="vc.executeCommand('CM_TADDRESS_C49','Command1', validator, false, false, 'VC_ADDRESSYWA_591769', false)" class="btn btn-primary navbar-btn" ng-disabled="vc.viewState.CM_TADDRESS_C49.disabled || vc.viewState.CM_TADDRESS_C49.disabledingroup" ng-show="vc.viewState.CM_TADDRESS_C49.visible" ng-class="vc.viewState.CM_TADDRESS_C49.style"> {{vc.viewState.CM_TADDRESS_C49.label|translate}} </button> 
   </nav> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_ADDRESSKSQYAJ_769_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_ADDRESSYWA_591769')" ng-disabled="vc.viewState.T_ADDRESSKSQYAJ_769_ACCEPT.disabled || vc.viewState.T_ADDRESSKSQYAJ_769_ACCEPT.disabledingroup" ng-show="vc.viewState.T_ADDRESSKSQYAJ_769_ACCEPT.visible" ng-class="vc.viewState.T_ADDRESSKSQYAJ_769_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_ADDRESSKSQYAJ_769_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_ADDRESSKSQYAJ_769_CANCEL.disabled || vc.viewState.T_ADDRESSKSQYAJ_769_CANCEL.disabledingroup" ng-show="vc.viewState.T_ADDRESSKSQYAJ_769_CANCEL.visible" ng-class="vc.viewState.T_ADDRESSKSQYAJ_769_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>