<!-- Designer Generator v 6.3.3 - release SPR 2017-12 23/06/2017 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_PAYMENTMNE_706586" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_PAYMENTMNE_706586.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_PAYMENTMCI_448--> 
  <div id="VC_PAYMENTMNE_706586" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false}"> 
   <div id="G_PAYMENTNEA_454448" ng-show="vc.viewState.G_PAYMENTNEA_454448.visible" ng-class="vc.viewState.G_PAYMENTNEA_454448.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_PAYMENTNEA_454448" k-options="validatorOptions" id="G_PAYMENTNEA_454448_VAL"> 
     <div id="QV_7546_25470" kendo-ext-grid="grids.QV_7546_25470" k-data-source="vc.model.MethodsRetention" k-column-menu="false" k-sortable="false" k-pageable="{refresh: false, pageSizes: false, buttonCount: 5}" k-editable="vc.grids.QV_7546_25470.editable" k-toolbar="vc.grids.QV_7546_25470.toolbar" k-resizable="false" k-groupable="false" k-reorderable="false" k-filterable="false" k-scrollable="false" k-selectable="false" k-data-bound="vc.grids.QV_7546_25470.events.dataBound" k-columns="vc.grids.QV_7546_25470.columns" k-cancel="vc.grids.QV_7546_25470.events.cancel" k-edit="vc.grids.QV_7546_25470.events.edit" ng-class="vc.viewState.QV_7546_25470.style" k-ng-delay="vc.afterInitData"></div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_PAYMENTMCI_448--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': !vc.isModal(this)})"> 
    <button id="T_PAYMENTMAIETA_586_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_PAYMENTMNE_706586')" ng-disabled="vc.viewState.T_PAYMENTMAIETA_586_ACCEPT.disabled || vc.viewState.T_PAYMENTMAIETA_586_ACCEPT.disabledingroup" ng-show="vc.viewState.T_PAYMENTMAIETA_586_ACCEPT.visible" ng-class="vc.viewState.T_PAYMENTMAIETA_586_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_PAYMENTMAIETA_586_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_PAYMENTMAIETA_586_CANCEL.disabled || vc.viewState.T_PAYMENTMAIETA_586_CANCEL.disabledingroup" ng-show="vc.viewState.T_PAYMENTMAIETA_586_CANCEL.visible" ng-class="vc.viewState.T_PAYMENTMAIETA_586_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>